Most of the time, the data is damaged or missing - so will need to take care o this as ML models don't work when the data is missing or NaN

In [14]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

## Imputing missing values using Imputer

In [4]:
df = pd.read_csv('euro_data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

+ Need to replace every missing value in the dataset
+ Can use mean, median, mdoe
+ axis= 0 refers to rows
+ axis = 1 refers to columns

In [25]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, 3].values

imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])
df_raw = pd.DataFrame(X, Y).reset_index()
df_raw.columns = ['Purchased', 'Country', 'Age', 'Salary']
df_raw = df_raw[['Country', 'Age', 'Salary', 'Purchased']]
df_raw

   Country        Age        Salary Purchased
0   France       44.0       72000.0        No
1    Spain       27.0       48000.0       Yes
2  Germany       30.0       54000.0        No
3    Spain       38.0       61000.0        No
4  Germany       40.0  63777.777778       Yes
5   France       35.0       58000.0       Yes
6    Spain  38.777778       52000.0        No
7   France       48.0       79000.0       Yes
8  Germany       50.0       83000.0        No
9   France       37.0       67000.0       Yes

## Encoding categorical data
+ Label Encoder will replace every categorical variable with a #
+ One-hot-encdoing will create a separate column for every variable and give a value

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [29]:
label_encoder = LabelEncoder()
temp = df_raw.copy()
temp.iloc[:,0] = label_encoder.fit_transform(df.iloc[:, 0])
temp.head()

   Country   Age        Salary Purchased
0        0  44.0       72000.0        No
1        2  27.0       48000.0       Yes
2        1  30.0       54000.0        No
3        2  38.0       61000.0        No
4        1  40.0  63777.777778       Yes

In [32]:
# one-hot encoding
pd.get_dummies(df.iloc[:, :-1])

    Age   Salary  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0               1                0              0
1  27.0  48000.0               0                0              1
2  30.0  54000.0               0                1              0
3  38.0  61000.0               0                0              1
4  40.0      NaN               0                1              0
5  35.0  58000.0               1                0              0
6   NaN  52000.0               0                0              1
7  48.0  79000.0               1                0              0
8  50.0  83000.0               0                1              0
9  37.0  67000.0               1                0              0

## Binarizing
+ Often need to convert continuous features to discrete values
+ will need to convert the output to 0 or 1, depending on the threshhold

In [33]:
from sklearn.datasets import load_iris

iris_dataset = load_iris()
X = iris_dataset.data
Y = iris_dataset.target
feature_names = iris_dataset.feature_names

+ Next, will binarize the sepal width with 0 or 1 indicating whether the value is below or abve mean

In [34]:
X[:,1]

array([3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3, 3.2, 3.2,
       3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2. , 3. , 2.2, 2.9, 2.9,
       3.1, 3. , 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3. , 2.8, 3. ,
       2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3. , 3.4, 3.1, 2.3, 3. , 2.5, 2.6,
       3. , 2.6, 2.3, 2.7, 3. , 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3. , 2.9,
       3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. , 2.5, 2.8, 3.2, 3. ,
       3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3. , 2.8, 3. ,
       2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. , 3.1, 3.1, 3.1, 2.7,
       3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ])

In [39]:
from sklearn.preprocessing import Binarizer
X[:, 1:2] = Binarizer(threshold=X[:, 1].mean()).fit_transform(X[:,1].reshape(-1,1))
X[:, 1]

array([1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0.])