In [6]:
import pandas as pd
url = 'https://nvidianews.nvidia.com/news/nvidia-announces-financial-results-for-third-quarter-fiscal-2022'

In [8]:
list_of_dfs = pd.read_html(url)

In [16]:
df = list_of_dfs[1]
df.head()

,0,1,2,3,4,5,6,7,8
0,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP
1,"($ in millions, except earnings per share)",Q3 FY22,Q3 FY22,Q2 FY22,Q2 FY22,Q3 FY21,Q3 FY21,Q/Q,Y/Y
2,Revenue,"$7,103","$7,103","$6,507","$6,507","$4,726","$4,726",Up 9%,Up 50%
3,Gross margin,67.0%,67.0%,66.7%,66.7%,65.5%,65.5%,Up 30 bps,Up 150 bps
4,Operating expenses,"$1,375","$1,375","$1,266","$1,266","$1,101","$1,101",Up 9%,Up 25%

In [17]:
df.shape

(8, 9)

In [18]:
df

,0,1,2,3,4,5,6,7,8
0,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP,Non-GAAP
1,"($ in millions, except earnings per share)",Q3 FY22,Q3 FY22,Q2 FY22,Q2 FY22,Q3 FY21,Q3 FY21,Q/Q,Y/Y
2,Revenue,"$7,103","$7,103","$6,507","$6,507","$4,726","$4,726",Up 9%,Up 50%
3,Gross margin,67.0%,67.0%,66.7%,66.7%,65.5%,65.5%,Up 30 bps,Up 150 bps
4,Operating expenses,"$1,375","$1,375","$1,266","$1,266","$1,101","$1,101",Up 9%,Up 25%
5,Operating income,"$3,386","$3,386","$3,071","$3,071","$1,993","$1,993",Up 10%,Up 70%
6,Net income,"$2,973","$2,973","$2,623","$2,623","$1,834","$1,834",Up 13%,Up 62%
7,Diluted earnings per share*,$1.17,$1.17,$1.04,$1.04,$0.73,$0.73,Up 13%,Up 60%