In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('fivethirtyeight')
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup as bs
import requests
import os
import re
import glob

from datetime import datetime
import dataframe_image as dfi
from statsmodels.tsa.seasonal import seasonal_decompose
import time

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score, mean_squared_error, r2_score

## Amsterdam

In [15]:
# create individual dataframes for each file
# summarize each file (# of listings; avg price in euro)

amsterdam_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2020-12.csv')
amsterdam_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(amsterdam_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_12_12_2020['price'].mean(),2)}.")


amsterdam_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-01.csv')
amsterdam_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(amsterdam_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_1_9_2021['price'].mean(),2)}.")

amsterdam_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-02.csv')
amsterdam_raw_df_2_8_2021['Month']='2/8/2021' 
print(f"The 2_8_2021 dataset contains {len(amsterdam_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_2_8_2021['price'].mean(),2)}.")

amsterdam_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-03.csv')
amsterdam_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(amsterdam_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_3_4_2021['price'].mean(),2)}.")

amsterdam_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-04.csv')
amsterdam_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(amsterdam_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_4_9_2021['price'].mean(),2)}.")

#amsterdam_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(amsterdam_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_5_19_2021['price'].mean(),2)}.")

amsterdam_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-06.csv')
amsterdam_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(amsterdam_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_6_3_2021['price'].mean(),2)}.")

amsterdam_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-07.csv')
amsterdam_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(amsterdam_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_7_4_2021['price'].mean(),2)}.")

amsterdam_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-08.csv')
amsterdam_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(amsterdam_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_8_6_2021['price'].mean(),2)}.")

amsterdam_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-09.csv')
amsterdam_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(amsterdam_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_9_7_2021['price'].mean(),2)}.")

amsterdam_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_2021-10.csv')
amsterdam_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(amsterdam_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(amsterdam_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 18522 AirBnb listings; the avg price is €154.0.
The 1_9_2021 dataset contains 18395 AirBnb listings; the avg price is €152.58.
The 2_8_2021 dataset contains 18291 AirBnb listings; the avg price is €153.06.
The 3_4_2021 dataset contains 18201 AirBnb listings; the avg price is €153.72.
The 4_9_2021 dataset contains 17825 AirBnb listings; the avg price is €154.5.
The 6_3_2021 dataset contains 16973 AirBnb listings; the avg price is €154.17.
The 7_4_2021 dataset contains 16724 AirBnb listings; the avg price is €156.16.
The 8_6_2021 dataset contains 16478 AirBnb listings; the avg price is €156.87.
The 9_7_2021 dataset contains 16116 AirBnb listings; the avg price is €156.91.
The 10_6_2021 dataset contains 5389 AirBnb listings; the avg price is €166.99.

In [96]:
raw_df_amsterdam = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/amsterdam/amsterdam_detailed.csv')

In [16]:
amsterdam_list_of_df = [amsterdam_raw_df_12_12_2020, amsterdam_raw_df_1_9_2021, amsterdam_raw_df_2_8_2021, amsterdam_raw_df_3_4_2021,
                        amsterdam_raw_df_4_9_2021, amsterdam_raw_df_6_3_2021, amsterdam_raw_df_7_4_2021, amsterdam_raw_df_8_6_2021, amsterdam_raw_df_9_7_2021]

In [107]:
amsterdam_df = pd.concat(amsterdam_list_of_df)
amsterdam_df.shape

(157525, 19)

In [259]:
df_join_amsterdam = amsterdam_df.join(raw_df_amsterdam, lsuffix='_x', rsuffix='_y')
amsterdam_df_master = df_join_amsterdam.copy()
amsterdam_df_final = amsterdam_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
amsterdam_df_final['city']='Amsterdam'
amsterdam_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2818,12/12/2020,Private room in rental unit,Private room,2.0,1.0,2.0,59,33.0,4.89,4.93,5.0,4.68,4.81,Amsterdam
0,2818,1/9/2021,Private room in rental unit,Private room,2.0,1.0,2.0,59,33.0,4.89,4.93,5.0,4.68,4.81,Amsterdam

## Antwerp

In [19]:
antwerp_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2020-12.csv')
antwerp_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(antwerp_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(antwerp_raw_df_12_12_2020['price'].mean(),2)}.")

antwerp_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-01.csv')
antwerp_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(antwerp_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_1_9_2021['price'].mean(),2)}.")

antwerp_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-02.csv')
antwerp_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(antwerp_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_2_8_2021['price'].mean(),2)}.")

antwerp_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-03.csv')
antwerp_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(antwerp_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_3_4_2021['price'].mean(),2)}.")

antwerp_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-04.csv')
antwerp_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(antwerp_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_4_9_2021['price'].mean(),2)}.")

#antwerp_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(antwerp_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_5_19_2021['price'].mean(),2)}.")

antwerp_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-06.csv')
antwerp_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(antwerp_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_6_3_2021['price'].mean(),2)}.")

antwerp_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-07.csv')
antwerp_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(antwerp_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_7_4_2021['price'].mean(),2)}.")

antwerp_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-08.csv')
antwerp_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(antwerp_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_8_6_2021['price'].mean(),2)}.")

antwerp_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-09.csv')
antwerp_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(antwerp_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_9_7_2021['price'].mean(),2)}.")

antwerp_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_2021-10.csv')
antwerp_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(antwerp_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(antwerp_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 1751 AirBnb listings; the avg price is €94.93.
The 1_9_2021 dataset contains 1717 AirBnb listings; the avg price is €91.93.
The 2_8_2021 dataset contains 1716 AirBnb listings; the avg price is €91.52.
The 3_4_2021 dataset contains 1749 AirBnb listings; the avg price is €96.45.
The 4_9_2021 dataset contains 1739 AirBnb listings; the avg price is €99.19.
The 6_3_2021 dataset contains 1810 AirBnb listings; the avg price is €99.63.
The 7_4_2021 dataset contains 1843 AirBnb listings; the avg price is €100.1.
The 8_6_2021 dataset contains 1792 AirBnb listings; the avg price is €100.99.
The 9_7_2021 dataset contains 1776 AirBnb listings; the avg price is €103.83.
The 10_6_2021 dataset contains 1750 AirBnb listings; the avg price is €106.99.

In [123]:
raw_df_antwerp = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/antwerp/antwerp_detailed.csv')

In [124]:
antwerp_list_of_df = [antwerp_raw_df_12_12_2020, antwerp_raw_df_1_9_2021, antwerp_raw_df_2_8_2021, antwerp_raw_df_3_4_2021,
                        antwerp_raw_df_4_9_2021, antwerp_raw_df_6_3_2021, antwerp_raw_df_7_4_2021, antwerp_raw_df_8_6_2021, antwerp_raw_df_9_7_2021]

In [125]:
antwerp_df = pd.concat(antwerp_list_of_df)
antwerp_df.shape

(15893, 19)

In [260]:
df_join_antwerp = antwerp_df.join(raw_df_antwerp, lsuffix='_x', rsuffix='_y')
antwerp_df_master = df_join_antwerp.copy()
antwerp_df_final = antwerp_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
antwerp_df_final['city']='Antwerp'
antwerp_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,50904,12/12/2020,Room in boutique hotel,Hotel room,2.0,1.0,1.0,158,75.0,5.0,5.0,5.0,5.0,5.0,Antwerp
0,50904,1/9/2021,Room in boutique hotel,Hotel room,2.0,1.0,1.0,145,75.0,5.0,5.0,5.0,5.0,5.0,Antwerp

## Athens

In [22]:
athens_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2020-12.csv')
athens_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(athens_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(athens_raw_df_12_12_2020['price'].mean(),2)}.")

athens_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-01.csv')
athens_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(athens_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_1_9_2021['price'].mean(),2)}.")

athens_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-02.csv')
athens_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(athens_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_2_8_2021['price'].mean(),2)}.")

athens_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-03.csv')
athens_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(athens_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_3_4_2021['price'].mean(),2)}.")

athens_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-04.csv')
athens_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(athens_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_4_9_2021['price'].mean(),2)}.")

#athens_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(athens_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_5_19_2021['price'].mean(),2)}.")

athens_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-06.csv')
athens_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(athens_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_6_3_2021['price'].mean(),2)}.")

athens_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-07.csv')
athens_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(athens_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_7_4_2021['price'].mean(),2)}.")

athens_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-08.csv')
athens_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(athens_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_8_6_2021['price'].mean(),2)}.")

athens_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-09.csv')
athens_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(athens_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_9_7_2021['price'].mean(),2)}.")

athens_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_2021-10.csv')
athens_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(athens_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(athens_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 9413 AirBnb listings; the avg price is €68.86.
The 1_9_2021 dataset contains 9482 AirBnb listings; the avg price is €74.33.
The 2_8_2021 dataset contains 9467 AirBnb listings; the avg price is €73.43.
The 3_4_2021 dataset contains 9510 AirBnb listings; the avg price is €74.94.
The 4_9_2021 dataset contains 9618 AirBnb listings; the avg price is €81.68.
The 6_3_2021 dataset contains 9584 AirBnb listings; the avg price is €86.28.
The 7_4_2021 dataset contains 9640 AirBnb listings; the avg price is €90.54.
The 8_6_2021 dataset contains 9773 AirBnb listings; the avg price is €84.23.
The 9_7_2021 dataset contains 9766 AirBnb listings; the avg price is €83.34.
The 10_6_2021 dataset contains 9582 AirBnb listings; the avg price is €83.44.

In [127]:
athens_list_of_df = [athens_raw_df_12_12_2020, athens_raw_df_1_9_2021, athens_raw_df_2_8_2021, athens_raw_df_3_4_2021,
                        athens_raw_df_4_9_2021, athens_raw_df_6_3_2021, athens_raw_df_7_4_2021, athens_raw_df_8_6_2021, athens_raw_df_9_7_2021]

In [128]:
athens_df = pd.concat(athens_list_of_df)
athens_df.shape

(86253, 19)

In [129]:
raw_df_athens = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/athens/athens_detailed.csv')

In [130]:
athens_list_of_df = [athens_raw_df_12_12_2020, athens_raw_df_1_9_2021, athens_raw_df_2_8_2021, athens_raw_df_3_4_2021,
                        athens_raw_df_4_9_2021, athens_raw_df_6_3_2021, athens_raw_df_7_4_2021, athens_raw_df_8_6_2021, athens_raw_df_9_7_2021]

In [131]:
athens_df = pd.concat(athens_list_of_df)
athens_df.shape

(86253, 19)

In [261]:
df_join_athens = athens_df.join(raw_df_athens, lsuffix='_x', rsuffix='_y')
athens_df_master = df_join_athens.copy()
athens_df_final = athens_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
athens_df_final['city']='Athens'
athens_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,10595,12/12/2020,Entire rental unit,Entire home/apt,8.0,3.0,5.0,77,79.0,4.77,4.81,4.75,4.5,4.66,Athens
0,10595,1/9/2021,Entire rental unit,Entire home/apt,8.0,3.0,5.0,57,79.0,4.77,4.81,4.75,4.5,4.66,Athens

## Barcelona

In [25]:
barcelona_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2020-12.csv')
barcelona_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(barcelona_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(barcelona_raw_df_12_12_2020['price'].mean(),2)}.")

barcelona_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-01.csv')
barcelona_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(barcelona_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_1_9_2021['price'].mean(),2)}.")

barcelona_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-02.csv')
barcelona_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(barcelona_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_2_8_2021['price'].mean(),2)}.")

barcelona_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-03.csv')
barcelona_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(barcelona_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_3_4_2021['price'].mean(),2)}.")

barcelona_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-04.csv')
barcelona_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(barcelona_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_4_9_2021['price'].mean(),2)}.")

#barcelona_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(barcelona_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_5_19_2021['price'].mean(),2)}.")

barcelona_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-06.csv')
barcelona_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(barcelona_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_6_3_2021['price'].mean(),2)}.")

barcelona_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-07.csv')
barcelona_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(barcelona_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_7_4_2021['price'].mean(),2)}.")

barcelona_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-08.csv')
barcelona_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(barcelona_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_8_6_2021['price'].mean(),2)}.")

barcelona_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-09.csv')
barcelona_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(barcelona_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_9_7_2021['price'].mean(),2)}.")

barcelona_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_2021-10.csv')
barcelona_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(barcelona_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(barcelona_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 19641 AirBnb listings; the avg price is €91.91.
The 1_9_2021 dataset contains 18569 AirBnb listings; the avg price is €103.39.
The 2_8_2021 dataset contains 18471 AirBnb listings; the avg price is €103.76.
The 3_4_2021 dataset contains 18286 AirBnb listings; the avg price is €106.15.
The 4_9_2021 dataset contains 18226 AirBnb listings; the avg price is €110.39.
The 6_3_2021 dataset contains 17589 AirBnb listings; the avg price is €111.72.
The 7_4_2021 dataset contains 17079 AirBnb listings; the avg price is €115.01.
The 8_6_2021 dataset contains 16554 AirBnb listings; the avg price is €115.96.
The 9_7_2021 dataset contains 16206 AirBnb listings; the avg price is €109.26.
The 10_6_2021 dataset contains 16055 AirBnb listings; the avg price is €112.47.

In [26]:
barcelona_list_of_df = [barcelona_raw_df_12_12_2020, barcelona_raw_df_1_9_2021, barcelona_raw_df_2_8_2021, barcelona_raw_df_3_4_2021,
                        barcelona_raw_df_4_9_2021, barcelona_raw_df_6_3_2021, barcelona_raw_df_7_4_2021, barcelona_raw_df_8_6_2021, barcelona_raw_df_9_7_2021]

In [133]:
barcelona_df = pd.concat(barcelona_list_of_df)
barcelona_df.shape

(160621, 19)

In [134]:
raw_df_barcelona = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/barcelona/barcelona_detailed.csv')

In [135]:
barcelona_list_of_df = [barcelona_raw_df_12_12_2020, barcelona_raw_df_1_9_2021, barcelona_raw_df_2_8_2021, barcelona_raw_df_3_4_2021,
                        barcelona_raw_df_4_9_2021, barcelona_raw_df_6_3_2021, barcelona_raw_df_7_4_2021, barcelona_raw_df_8_6_2021, barcelona_raw_df_9_7_2021]

In [136]:
barcelona_df = pd.concat(barcelona_list_of_df)
barcelona_df.shape

(160621, 19)

In [262]:
df_join_barcelona = barcelona_df.join(raw_df_barcelona, lsuffix='_x', rsuffix='_y')
barcelona_df_master = df_join_barcelona.copy()
barcelona_df_final = barcelona_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
barcelona_df_final['city']='Barcelona'
barcelona_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,21974,12/12/2020,Entire rental unit,Private room,8.0,3.0,6.0,80,47.0,4.4,4.55,4.75,4.75,4.3,Barcelona
0,21974,1/9/2021,Entire rental unit,Private room,8.0,3.0,6.0,80,47.0,4.4,4.55,4.75,4.75,4.3,Barcelona

## Berlin

In [28]:
berlin_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2020-12.csv')
berlin_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(berlin_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(berlin_raw_df_12_12_2020['price'].mean(),2)}.")

berlin_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-01.csv')
berlin_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(berlin_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_1_9_2021['price'].mean(),2)}.")

berlin_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-02.csv')
berlin_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(berlin_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_2_8_2021['price'].mean(),2)}.")

berlin_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-03.csv')
berlin_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(berlin_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_3_4_2021['price'].mean(),2)}.")

berlin_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-04.csv')
berlin_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(berlin_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_4_9_2021['price'].mean(),2)}.")

#berlin_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(berlin_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_5_19_2021['price'].mean(),2)}.")

berlin_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-06.csv')
berlin_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(berlin_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_6_3_2021['price'].mean(),2)}.")

berlin_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-07.csv')
berlin_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(berlin_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_7_4_2021['price'].mean(),2)}.")

berlin_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-08.csv')
berlin_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(berlin_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_8_6_2021['price'].mean(),2)}.")

berlin_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-09.csv')
berlin_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(berlin_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_9_7_2021['price'].mean(),2)}.")

berlin_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_2021-10.csv')
berlin_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(berlin_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(berlin_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 20224 AirBnb listings; the avg price is €72.95.
The 1_9_2021 dataset contains 20050 AirBnb listings; the avg price is €70.29.
The 2_8_2021 dataset contains 19978 AirBnb listings; the avg price is €70.56.
The 3_4_2021 dataset contains 19858 AirBnb listings; the avg price is €70.78.
The 4_9_2021 dataset contains 19752 AirBnb listings; the avg price is €72.55.
The 6_3_2021 dataset contains 18978 AirBnb listings; the avg price is €73.54.
The 7_4_2021 dataset contains 19095 AirBnb listings; the avg price is €73.3.
The 8_6_2021 dataset contains 18547 AirBnb listings; the avg price is €74.48.
The 9_7_2021 dataset contains 18288 AirBnb listings; the avg price is €75.19.
The 10_6_2021 dataset contains 17500 AirBnb listings; the avg price is €74.9.

In [29]:
berlin_list_of_df = [berlin_raw_df_12_12_2020, berlin_raw_df_1_9_2021, berlin_raw_df_2_8_2021, berlin_raw_df_3_4_2021,
                        berlin_raw_df_4_9_2021, berlin_raw_df_6_3_2021, berlin_raw_df_7_4_2021, berlin_raw_df_8_6_2021, berlin_raw_df_9_7_2021]

In [30]:
berlin_df = pd.concat(berlin_list_of_df)
berlin_df.shape

(174770, 19)

In [138]:
raw_df_berlin = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/berlin/berlin_detailed.csv')

In [139]:
berlin_list_of_df = [berlin_raw_df_12_12_2020, berlin_raw_df_1_9_2021, berlin_raw_df_2_8_2021, berlin_raw_df_3_4_2021,
                        berlin_raw_df_4_9_2021, berlin_raw_df_6_3_2021, berlin_raw_df_7_4_2021, berlin_raw_df_8_6_2021, berlin_raw_df_9_7_2021]

In [140]:
berlin_df = pd.concat(berlin_list_of_df)
berlin_df.shape

(174770, 19)

In [263]:
df_join_berlin = berlin_df.join(raw_df_berlin, lsuffix='_x', rsuffix='_y')
berlin_df_master = df_join_berlin.copy()
berlin_df_final = berlin_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
berlin_df_final['city']='Berlin'
berlin_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2015,12/12/2020,Entire rental unit,Entire home/apt,4.0,1.0,2.0,42,0.0,4.63,4.68,4.53,4.92,4.63,Berlin
0,2015,1/9/2021,Entire rental unit,Entire home/apt,4.0,1.0,2.0,89,0.0,4.63,4.68,4.53,4.92,4.63,Berlin

## Bordeaux

In [31]:
bordeaux_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2020-12.csv')
bordeaux_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(bordeaux_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_12_12_2020['price'].mean(),2)}.")

bordeaux_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-01.csv')
bordeaux_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(bordeaux_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_1_9_2021['price'].mean(),2)}.")

bordeaux_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-02.csv')
bordeaux_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(bordeaux_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_2_8_2021['price'].mean(),2)}.")

bordeaux_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-03.csv')
bordeaux_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(bordeaux_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_3_4_2021['price'].mean(),2)}.")

bordeaux_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-04.csv')
bordeaux_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(bordeaux_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_4_9_2021['price'].mean(),2)}.")

#bordeaux_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(bordeaux_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_5_19_2021['price'].mean(),2)}.")

bordeaux_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-06.csv')
bordeaux_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(bordeaux_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_6_3_2021['price'].mean(),2)}.")

bordeaux_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-07.csv')
bordeaux_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(bordeaux_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_7_4_2021['price'].mean(),2)}.")

bordeaux_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-08.csv')
bordeaux_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(bordeaux_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_8_6_2021['price'].mean(),2)}.")

bordeaux_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-09.csv')
bordeaux_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(bordeaux_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_9_7_2021['price'].mean(),2)}.")

bordeaux_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_2021-10.csv')
bordeaux_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(bordeaux_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(bordeaux_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 10562 AirBnb listings; the avg price is €89.18.
The 1_9_2021 dataset contains 10615 AirBnb listings; the avg price is €87.85.
The 2_8_2021 dataset contains 10590 AirBnb listings; the avg price is €89.51.
The 3_4_2021 dataset contains 10466 AirBnb listings; the avg price is €89.95.
The 4_9_2021 dataset contains 10567 AirBnb listings; the avg price is €91.56.
The 6_3_2021 dataset contains 10496 AirBnb listings; the avg price is €94.35.
The 7_4_2021 dataset contains 10616 AirBnb listings; the avg price is €95.36.
The 8_6_2021 dataset contains 9663 AirBnb listings; the avg price is €98.91.
The 9_7_2021 dataset contains 9440 AirBnb listings; the avg price is €96.77.
The 10_6_2021 dataset contains 9424 AirBnb listings; the avg price is €96.95.

In [32]:
bordeaux_list_of_df = [bordeaux_raw_df_12_12_2020, bordeaux_raw_df_1_9_2021, bordeaux_raw_df_2_8_2021, bordeaux_raw_df_3_4_2021,
                        bordeaux_raw_df_4_9_2021, bordeaux_raw_df_6_3_2021, bordeaux_raw_df_7_4_2021, bordeaux_raw_df_8_6_2021, bordeaux_raw_df_9_7_2021]

In [142]:
bordeaux_df = pd.concat(bordeaux_list_of_df)
bordeaux_df.shape

(93015, 19)

In [143]:
raw_df_bordeaux = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/bordeaux/bordeaux_detailed.csv')

In [144]:
bordeaux_list_of_df = [bordeaux_raw_df_12_12_2020, bordeaux_raw_df_1_9_2021, bordeaux_raw_df_2_8_2021, bordeaux_raw_df_3_4_2021,
                        bordeaux_raw_df_4_9_2021, bordeaux_raw_df_6_3_2021, bordeaux_raw_df_7_4_2021, bordeaux_raw_df_8_6_2021, bordeaux_raw_df_9_7_2021]

In [145]:
bordeaux_df = pd.concat(bordeaux_list_of_df)
bordeaux_df.shape

(93015, 19)

In [264]:
df_join_bordeaux = bordeaux_df.join(raw_df_bordeaux, lsuffix='_x', rsuffix='_y')
bordeaux_df_master = df_join_bordeaux.copy()
bordeaux_df_final = bordeaux_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
bordeaux_df_final['city']='Bordeaux'
bordeaux_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,28925,12/12/2020,Entire residential home,Entire home/apt,12.0,6.0,14.0,350,0.0,5.0,5.0,4.5,5.0,4.5,Bordeaux
0,28925,1/9/2021,Entire residential home,Entire home/apt,12.0,6.0,14.0,350,0.0,5.0,5.0,4.5,5.0,4.5,Bordeaux

## Brussels

In [34]:
brussels_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2020-12.csv')
brussels_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(brussels_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(brussels_raw_df_12_12_2020['price'].mean(),2)}.")

brussels_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-01.csv')
brussels_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(brussels_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_1_9_2021['price'].mean(),2)}.")

brussels_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-02.csv')
brussels_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(brussels_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_2_8_2021['price'].mean(),2)}.")

brussels_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-03.csv')
brussels_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(brussels_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_3_4_2021['price'].mean(),2)}.")

brussels_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-04.csv')
brussels_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(brussels_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_4_9_2021['price'].mean(),2)}.")

#brussels_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(brussels_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_5_19_2021['price'].mean(),2)}.")

brussels_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-06.csv')
brussels_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(brussels_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_6_3_2021['price'].mean(),2)}.")

brussels_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-07.csv')
brussels_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(brussels_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_7_4_2021['price'].mean(),2)}.")

brussels_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-08.csv')
brussels_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(brussels_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_8_6_2021['price'].mean(),2)}.")

brussels_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-09.csv')
brussels_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(brussels_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_9_7_2021['price'].mean(),2)}.")

brussels_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_2021-10.csv')
brussels_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(brussels_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(brussels_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 5614 AirBnb listings; the avg price is €82.81.
The 1_9_2021 dataset contains 5557 AirBnb listings; the avg price is €77.53.
The 2_8_2021 dataset contains 5507 AirBnb listings; the avg price is €79.5.
The 3_4_2021 dataset contains 5453 AirBnb listings; the avg price is €79.04.
The 4_9_2021 dataset contains 5537 AirBnb listings; the avg price is €79.75.
The 6_3_2021 dataset contains 5642 AirBnb listings; the avg price is €84.2.
The 7_4_2021 dataset contains 5718 AirBnb listings; the avg price is €83.65.
The 8_6_2021 dataset contains 5531 AirBnb listings; the avg price is €85.18.
The 9_7_2021 dataset contains 5443 AirBnb listings; the avg price is €87.12.
The 10_6_2021 dataset contains 5336 AirBnb listings; the avg price is €90.94.

In [35]:
brussels_list_of_df = [brussels_raw_df_12_12_2020, brussels_raw_df_1_9_2021, brussels_raw_df_2_8_2021, brussels_raw_df_3_4_2021,
                        brussels_raw_df_4_9_2021, brussels_raw_df_6_3_2021, brussels_raw_df_7_4_2021, brussels_raw_df_8_6_2021, brussels_raw_df_9_7_2021]

In [36]:
brussels_df = pd.concat(brussels_list_of_df)
brussels_df.shape

(50002, 19)

In [147]:
raw_df_brussels = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/brussels/brussels_detailed.csv')

In [148]:
brussels_list_of_df = [brussels_raw_df_12_12_2020, brussels_raw_df_1_9_2021, brussels_raw_df_2_8_2021, brussels_raw_df_3_4_2021,
                        brussels_raw_df_4_9_2021, brussels_raw_df_6_3_2021, brussels_raw_df_7_4_2021, brussels_raw_df_8_6_2021, brussels_raw_df_9_7_2021]

In [149]:
brussels_df = pd.concat(brussels_list_of_df)
brussels_df.shape

(50002, 19)

In [266]:
df_join_brussels = brussels_df.join(raw_df_brussels, lsuffix='_x', rsuffix='_y')
brussels_df_master = df_join_brussels.copy()
brussels_df_final = brussels_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
brussels_df_final['city']='Brussels'
brussels_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2352,12/12/2020,Entire rental unit,Entire home/apt,5.0,2.0,2.0,93,57.0,4.47,4.65,4.71,4.06,4.47,Brussels
0,2352,1/9/2021,Entire rental unit,Entire home/apt,5.0,2.0,2.0,91,57.0,4.47,4.65,4.71,4.06,4.47,Brussels

## Crete

In [40]:
crete_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2020-12.csv')
crete_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(crete_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(crete_raw_df_12_12_2020['price'].mean(),2)}.")

crete_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-01.csv')
crete_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(crete_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_1_9_2021['price'].mean(),2)}.")

crete_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-02.csv')
crete_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(crete_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_2_8_2021['price'].mean(),2)}.")

crete_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-03.csv')
crete_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(crete_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_3_4_2021['price'].mean(),2)}.")

crete_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-04.csv')
crete_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(crete_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_4_9_2021['price'].mean(),2)}.")

#crete_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(crete_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_5_19_2021['price'].mean(),2)}.")

#crete_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-06.csv')
#crete_raw_df_6_3_2021['Month']='6/3/2021'
#print(f"The 6_3_2021 dataset contains {len(crete_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_6_3_2021['price'].mean(),2)}.")

crete_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-07.csv')
crete_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(crete_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_7_4_2021['price'].mean(),2)}.")

crete_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-08.csv')
crete_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(crete_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_8_6_2021['price'].mean(),2)}.")

crete_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-09.csv')
crete_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(crete_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_9_7_2021['price'].mean(),2)}.")

crete_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_2021-10.csv')
crete_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(crete_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(crete_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 18091 AirBnb listings; the avg price is €268.73.
The 1_9_2021 dataset contains 18316 AirBnb listings; the avg price is €279.93.
The 2_8_2021 dataset contains 18521 AirBnb listings; the avg price is €279.71.
The 3_4_2021 dataset contains 18915 AirBnb listings; the avg price is €280.21.
The 4_9_2021 dataset contains 19431 AirBnb listings; the avg price is €173.43.
The 7_4_2021 dataset contains 19673 AirBnb listings; the avg price is €208.33.
The 8_6_2021 dataset contains 20056 AirBnb listings; the avg price is €195.98.
The 9_7_2021 dataset contains 20301 AirBnb listings; the avg price is €165.7.
The 10_6_2021 dataset contains 20180 AirBnb listings; the avg price is €225.38.

In [42]:
crete_list_of_df = [crete_raw_df_12_12_2020, crete_raw_df_1_9_2021, crete_raw_df_2_8_2021, crete_raw_df_3_4_2021,
                        crete_raw_df_4_9_2021, crete_raw_df_7_4_2021, crete_raw_df_8_6_2021, crete_raw_df_9_7_2021]

In [43]:
crete_df = pd.concat(crete_list_of_df)
crete_df.shape

(153304, 19)

In [151]:
raw_df_crete = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/crete/crete_detailed.csv')

In [153]:
crete_list_of_df = [crete_raw_df_12_12_2020, crete_raw_df_1_9_2021, crete_raw_df_2_8_2021, crete_raw_df_3_4_2021,
                        crete_raw_df_4_9_2021,  crete_raw_df_7_4_2021, crete_raw_df_8_6_2021, crete_raw_df_9_7_2021]

In [154]:
crete_df = pd.concat(crete_list_of_df)
crete_df.shape

(153304, 19)

In [267]:
df_join_crete = crete_df.join(raw_df_crete, lsuffix='_x', rsuffix='_y')
crete_df_master = df_join_crete.copy()
crete_df_final = crete_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
crete_df_final['city']='Crete'
crete_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,27966,12/12/2020,Entire rental unit,Entire home/apt,3.0,1.0,1.0,45,90.0,4.9,4.93,4.89,4.6,4.91,Crete
0,27966,1/9/2021,Entire rental unit,Entire home/apt,3.0,1.0,1.0,45,90.0,4.9,4.93,4.89,4.6,4.91,Crete

## Florence

In [47]:
florence_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2020-12.csv')
florence_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(florence_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(florence_raw_df_12_12_2020['price'].mean(),2)}.")

florence_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-01.csv')
florence_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(florence_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_1_9_2021['price'].mean(),2)}.")

florence_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-02.csv')
florence_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(florence_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_2_8_2021['price'].mean(),2)}.")

florence_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-03.csv')
florence_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(florence_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_3_4_2021['price'].mean(),2)}.")

florence_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-04.csv')
florence_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(florence_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_4_9_2021['price'].mean(),2)}.")

#florence_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(florence_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_5_19_2021['price'].mean(),2)}.")

florence_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-06.csv')
florence_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(florence_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_6_3_2021['price'].mean(),2)}.")

florence_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-07.csv')
florence_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(florence_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_7_4_2021['price'].mean(),2)}.")

florence_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-08.csv')
florence_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(florence_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_8_6_2021['price'].mean(),2)}.")

florence_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-09.csv')
florence_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(florence_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_9_7_2021['price'].mean(),2)}.")

florence_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_2021-10.csv')
florence_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(florence_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(florence_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 11632 AirBnb listings; the avg price is €112.77.
The 1_9_2021 dataset contains 11527 AirBnb listings; the avg price is €103.19.
The 2_8_2021 dataset contains 11436 AirBnb listings; the avg price is €103.06.
The 3_4_2021 dataset contains 11322 AirBnb listings; the avg price is €105.43.
The 4_9_2021 dataset contains 11311 AirBnb listings; the avg price is €110.93.
The 6_3_2021 dataset contains 11209 AirBnb listings; the avg price is €121.39.
The 7_4_2021 dataset contains 11364 AirBnb listings; the avg price is €123.61.
The 8_6_2021 dataset contains 11035 AirBnb listings; the avg price is €125.61.
The 9_7_2021 dataset contains 10793 AirBnb listings; the avg price is €122.85.
The 10_6_2021 dataset contains 10548 AirBnb listings; the avg price is €123.17.

In [50]:
florence_list_of_df = [florence_raw_df_12_12_2020, florence_raw_df_1_9_2021, florence_raw_df_2_8_2021, florence_raw_df_3_4_2021,
                        florence_raw_df_4_9_2021, florence_raw_df_6_3_2021, florence_raw_df_7_4_2021, florence_raw_df_8_6_2021, florence_raw_df_9_7_2021]

In [51]:
florence_df = pd.concat(florence_list_of_df)
florence_df.shape

(101629, 19)

In [156]:
raw_df_florence = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/florence/florence_detailed.csv')

In [157]:
florence_list_of_df = [florence_raw_df_12_12_2020, florence_raw_df_1_9_2021, florence_raw_df_2_8_2021, florence_raw_df_3_4_2021,
                        florence_raw_df_4_9_2021, florence_raw_df_6_3_2021, florence_raw_df_7_4_2021, florence_raw_df_8_6_2021, florence_raw_df_9_7_2021]

In [158]:
florence_df = pd.concat(florence_list_of_df)
florence_df.shape

(101629, 19)

In [268]:
df_join_florence = florence_df.join(raw_df_florence, lsuffix='_x', rsuffix='_y')
florence_df_master = df_join_florence.copy()
florence_df_final = florence_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
florence_df_final['city']='Florence'
florence_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,24469,12/12/2020,Entire rental unit,Entire home/apt,4.0,1.0,1.0,70,78.0,5.0,5.0,5.0,4.0,5.0,Florence
0,24469,1/9/2021,Entire rental unit,Entire home/apt,4.0,1.0,1.0,70,78.0,5.0,5.0,5.0,4.0,5.0,Florence

## Lisbon

In [52]:
lisbon_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2020-12.csv')
lisbon_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(lisbon_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(lisbon_raw_df_12_12_2020['price'].mean(),2)}.")

lisbon_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-01.csv')
lisbon_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(lisbon_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_1_9_2021['price'].mean(),2)}.")

lisbon_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-02.csv')
lisbon_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(lisbon_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_2_8_2021['price'].mean(),2)}.")

lisbon_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-03.csv')
lisbon_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(lisbon_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_3_4_2021['price'].mean(),2)}.")

lisbon_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-04.csv')
lisbon_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(lisbon_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_4_9_2021['price'].mean(),2)}.")

#lisbon_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(lisbon_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_5_19_2021['price'].mean(),2)}.")

lisbon_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-06.csv')
lisbon_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(lisbon_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_6_3_2021['price'].mean(),2)}.")

lisbon_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-07.csv')
lisbon_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(lisbon_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_7_4_2021['price'].mean(),2)}.")

lisbon_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-08.csv')
lisbon_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(lisbon_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_8_6_2021['price'].mean(),2)}.")

lisbon_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-09.csv')
lisbon_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(lisbon_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_9_7_2021['price'].mean(),2)}.")

lisbon_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_2021-10.csv')
lisbon_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(lisbon_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(lisbon_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 20141 AirBnb listings; the avg price is €103.15.
The 1_9_2021 dataset contains 20057 AirBnb listings; the avg price is €96.05.
The 2_8_2021 dataset contains 19877 AirBnb listings; the avg price is €95.25.
The 3_4_2021 dataset contains 19804 AirBnb listings; the avg price is €95.45.
The 4_9_2021 dataset contains 19819 AirBnb listings; the avg price is €97.42.
The 6_3_2021 dataset contains 19281 AirBnb listings; the avg price is €106.87.
The 7_4_2021 dataset contains 19458 AirBnb listings; the avg price is €108.3.
The 8_6_2021 dataset contains 19339 AirBnb listings; the avg price is €110.56.
The 9_7_2021 dataset contains 19106 AirBnb listings; the avg price is €106.12.
The 10_6_2021 dataset contains 18761 AirBnb listings; the avg price is €104.58.

In [53]:
lisbon_list_of_df = [lisbon_raw_df_12_12_2020, lisbon_raw_df_1_9_2021, lisbon_raw_df_2_8_2021, lisbon_raw_df_3_4_2021,
                        lisbon_raw_df_4_9_2021, lisbon_raw_df_6_3_2021, lisbon_raw_df_7_4_2021, lisbon_raw_df_8_6_2021, lisbon_raw_df_9_7_2021]

In [54]:
lisbon_df = pd.concat(lisbon_list_of_df)
lisbon_df.shape

(176882, 19)

In [160]:
raw_df_lisbon = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lisbon/lisbon_detailed.csv')

In [161]:
lisbon_list_of_df = [lisbon_raw_df_12_12_2020, lisbon_raw_df_1_9_2021, lisbon_raw_df_2_8_2021, lisbon_raw_df_3_4_2021,
                        lisbon_raw_df_4_9_2021, lisbon_raw_df_6_3_2021, lisbon_raw_df_7_4_2021, lisbon_raw_df_8_6_2021, lisbon_raw_df_9_7_2021]

In [162]:
lisbon_df = pd.concat(lisbon_list_of_df)
lisbon_df.shape

(176882, 19)

In [269]:
df_join_lisbon = lisbon_df.join(raw_df_lisbon, lsuffix='_x', rsuffix='_y')
lisbon_df_master = df_join_lisbon.copy()
lisbon_df_final = lisbon_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
lisbon_df_final['city']='Lisbon'
lisbon_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,6499,12/12/2020,Entire rental unit,Entire home/apt,4.0,1.0,1.0,79,22.0,4.5,4.38,4.33,4.86,4.52,Lisbon
0,6499,1/9/2021,Entire rental unit,Entire home/apt,4.0,1.0,1.0,40,22.0,4.5,4.38,4.33,4.86,4.52,Lisbon

## Madrid

In [55]:
madrid_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2020-12.csv')
madrid_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(madrid_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(madrid_raw_df_12_12_2020['price'].mean(),2)}.")

madrid_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-01.csv')
madrid_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(madrid_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_1_9_2021['price'].mean(),2)}.")

madrid_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-02.csv')
madrid_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(madrid_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_2_8_2021['price'].mean(),2)}.")

madrid_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-03.csv')
madrid_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(madrid_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_3_4_2021['price'].mean(),2)}.")

madrid_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-04.csv')
madrid_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(madrid_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_4_9_2021['price'].mean(),2)}.")

#madrid_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(madrid_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_5_19_2021['price'].mean(),2)}.")

madrid_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-06.csv')
madrid_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(madrid_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_6_3_2021['price'].mean(),2)}.")

madrid_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-07.csv')
madrid_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(madrid_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_7_4_2021['price'].mean(),2)}.")

madrid_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-08.csv')
madrid_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(madrid_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_8_6_2021['price'].mean(),2)}.")

madrid_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-09.csv')
madrid_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(madrid_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_9_7_2021['price'].mean(),2)}.")

madrid_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_2021-10.csv')
madrid_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(madrid_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(madrid_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 20352 AirBnb listings; the avg price is €115.76.
The 1_9_2021 dataset contains 20151 AirBnb listings; the avg price is €123.1.
The 2_8_2021 dataset contains 20156 AirBnb listings; the avg price is €127.07.
The 3_4_2021 dataset contains 20007 AirBnb listings; the avg price is €126.28.
The 4_9_2021 dataset contains 19618 AirBnb listings; the avg price is €129.27.
The 6_3_2021 dataset contains 19478 AirBnb listings; the avg price is €129.88.
The 7_4_2021 dataset contains 19612 AirBnb listings; the avg price is €128.04.
The 8_6_2021 dataset contains 19664 AirBnb listings; the avg price is €124.3.
The 9_7_2021 dataset contains 18909 AirBnb listings; the avg price is €129.57.
The 10_6_2021 dataset contains 17989 AirBnb listings; the avg price is €135.09.

In [56]:
madrid_list_of_df = [madrid_raw_df_12_12_2020, madrid_raw_df_1_9_2021, madrid_raw_df_2_8_2021, madrid_raw_df_3_4_2021,
                        madrid_raw_df_4_9_2021, madrid_raw_df_6_3_2021, madrid_raw_df_7_4_2021, madrid_raw_df_8_6_2021, madrid_raw_df_9_7_2021]

In [57]:
madrid_df = pd.concat(madrid_list_of_df)
madrid_df.shape

(177947, 19)

In [164]:
raw_df_madrid = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/madrid/madrid_detailed.csv')

In [165]:
madrid_list_of_df = [madrid_raw_df_12_12_2020, madrid_raw_df_1_9_2021, madrid_raw_df_2_8_2021, madrid_raw_df_3_4_2021,
                        madrid_raw_df_4_9_2021, madrid_raw_df_6_3_2021, madrid_raw_df_7_4_2021, madrid_raw_df_8_6_2021, madrid_raw_df_9_7_2021]

In [166]:
madrid_df = pd.concat(madrid_list_of_df)
madrid_df.shape

(177947, 19)

In [270]:
df_join_madrid = madrid_df.join(raw_df_madrid, lsuffix='_x', rsuffix='_y')
madrid_df_master = df_join_madrid.copy()
madrid_df_final = madrid_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
madrid_df_final['city']='Madrid'
madrid_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,6369,12/12/2020,Private room in rental unit,Private room,2.0,1.0,1.0,60,65.0,4.87,4.91,4.81,4.77,4.85,Madrid
0,6369,1/9/2021,Private room in rental unit,Private room,2.0,1.0,1.0,60,65.0,4.87,4.91,4.81,4.77,4.85,Madrid

## Lyon

In [58]:
lyon_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2020-12.csv')
lyon_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(lyon_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(lyon_raw_df_12_12_2020['price'].mean(),2)}.")

lyon_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-01.csv')
lyon_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(lyon_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_1_9_2021['price'].mean(),2)}.")

lyon_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-02.csv')
lyon_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(lyon_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_2_8_2021['price'].mean(),2)}.")

lyon_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-03.csv')
lyon_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(lyon_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_3_4_2021['price'].mean(),2)}.")

lyon_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-04.csv')
lyon_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(lyon_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_4_9_2021['price'].mean(),2)}.")

#lyon_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(lyon_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_5_19_2021['price'].mean(),2)}.")

lyon_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-06.csv')
lyon_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(lyon_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_6_3_2021['price'].mean(),2)}.")

lyon_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-07.csv')
lyon_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(lyon_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_7_4_2021['price'].mean(),2)}.")

lyon_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-08.csv')
lyon_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(lyon_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_8_6_2021['price'].mean(),2)}.")

lyon_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-09.csv')
lyon_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(lyon_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_9_7_2021['price'].mean(),2)}.")

lyon_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_2021-10.csv')
lyon_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(lyon_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(lyon_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 11496 AirBnb listings; the avg price is €92.6.
The 1_9_2021 dataset contains 11404 AirBnb listings; the avg price is €92.25.
The 2_8_2021 dataset contains 11376 AirBnb listings; the avg price is €91.55.
The 3_4_2021 dataset contains 11199 AirBnb listings; the avg price is €92.14.
The 4_9_2021 dataset contains 11195 AirBnb listings; the avg price is €92.81.
The 6_3_2021 dataset contains 10985 AirBnb listings; the avg price is €94.23.
The 7_4_2021 dataset contains 10921 AirBnb listings; the avg price is €95.03.
The 8_6_2021 dataset contains 10880 AirBnb listings; the avg price is €94.01.
The 9_7_2021 dataset contains 10420 AirBnb listings; the avg price is €95.03.
The 10_6_2021 dataset contains 8304 AirBnb listings; the avg price is €91.59.

In [59]:
lyon_list_of_df = [lyon_raw_df_12_12_2020, lyon_raw_df_1_9_2021, lyon_raw_df_2_8_2021, lyon_raw_df_3_4_2021,
                        lyon_raw_df_4_9_2021, lyon_raw_df_6_3_2021, lyon_raw_df_7_4_2021, lyon_raw_df_8_6_2021, lyon_raw_df_9_7_2021]

In [60]:
lyon_df = pd.concat(lyon_list_of_df)
lyon_df.shape

(99876, 19)

In [168]:
raw_df_lyon = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/lyon/lyon_detailed.csv')

In [169]:
lyon_list_of_df = [lyon_raw_df_12_12_2020, lyon_raw_df_1_9_2021, lyon_raw_df_2_8_2021, lyon_raw_df_3_4_2021,
                        lyon_raw_df_4_9_2021, lyon_raw_df_6_3_2021, lyon_raw_df_7_4_2021, lyon_raw_df_8_6_2021, lyon_raw_df_9_7_2021]

In [170]:
lyon_df = pd.concat(lyon_list_of_df)
lyon_df.shape

(99876, 19)

In [271]:
df_join_lyon = lyon_df.join(raw_df_lyon, lsuffix='_x', rsuffix='_y')
lyon_df_master = df_join_lyon.copy()
lyon_df_final = lyon_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
lyon_df_final['city']='Lyon'
lyon_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,56766,12/12/2020,Entire rental unit,Entire home/apt,6.0,3.0,4.0,250,36.0,4.69,4.72,4.7,4.86,4.59,Lyon
0,56766,1/9/2021,Entire rental unit,Entire home/apt,6.0,3.0,4.0,250,36.0,4.69,4.72,4.7,4.86,4.59,Lyon

## Milan

In [61]:
milan_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2020-12.csv')
milan_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(milan_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(milan_raw_df_12_12_2020['price'].mean(),2)}.")

milan_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-01.csv')
milan_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(milan_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_1_9_2021['price'].mean(),2)}.")

milan_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-02.csv')
milan_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(milan_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_2_8_2021['price'].mean(),2)}.")

milan_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-03.csv')
milan_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(milan_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_3_4_2021['price'].mean(),2)}.")

milan_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-04.csv')
milan_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(milan_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_4_9_2021['price'].mean(),2)}.")

#milan_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(milan_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_5_19_2021['price'].mean(),2)}.")

milan_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-06.csv')
milan_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(milan_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_6_3_2021['price'].mean(),2)}.")

milan_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-07.csv')
milan_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(milan_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_7_4_2021['price'].mean(),2)}.")

milan_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-08.csv')
milan_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(milan_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_8_6_2021['price'].mean(),2)}.")

milan_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-09.csv')
milan_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(milan_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_9_7_2021['price'].mean(),2)}.")

milan_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_2021-10.csv')
milan_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(milan_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(milan_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 18659 AirBnb listings; the avg price is €112.84.
The 1_9_2021 dataset contains 18572 AirBnb listings; the avg price is €112.05.
The 2_8_2021 dataset contains 18367 AirBnb listings; the avg price is €115.4.
The 3_4_2021 dataset contains 18160 AirBnb listings; the avg price is €113.68.
The 4_9_2021 dataset contains 18582 AirBnb listings; the avg price is €116.48.
The 6_3_2021 dataset contains 18029 AirBnb listings; the avg price is €116.37.
The 7_4_2021 dataset contains 18322 AirBnb listings; the avg price is €115.09.
The 8_6_2021 dataset contains 18282 AirBnb listings; the avg price is €118.93.
The 9_7_2021 dataset contains 17705 AirBnb listings; the avg price is €124.73.
The 10_6_2021 dataset contains 17231 AirBnb listings; the avg price is €126.6.

In [62]:
milan_list_of_df = [milan_raw_df_12_12_2020, milan_raw_df_1_9_2021, milan_raw_df_2_8_2021, milan_raw_df_3_4_2021,
                        milan_raw_df_4_9_2021, milan_raw_df_6_3_2021, milan_raw_df_7_4_2021, milan_raw_df_8_6_2021, milan_raw_df_9_7_2021]

In [63]:
milan_df = pd.concat(milan_list_of_df)
milan_df.shape

(164678, 19)

In [172]:
raw_df_milan = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/milan/milan_detailed.csv')

In [173]:
milan_list_of_df = [milan_raw_df_12_12_2020, milan_raw_df_1_9_2021, milan_raw_df_2_8_2021, milan_raw_df_3_4_2021,
                        milan_raw_df_4_9_2021, milan_raw_df_6_3_2021, milan_raw_df_7_4_2021, milan_raw_df_8_6_2021, milan_raw_df_9_7_2021]

In [174]:
milan_df = pd.concat(milan_list_of_df)
milan_df.shape

(164678, 19)

In [272]:
df_join_milan = milan_df.join(raw_df_milan, lsuffix='_x', rsuffix='_y')
milan_df_master = df_join_milan.copy()
milan_df_final = milan_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
milan_df_final['city']='Milan'
milan_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,6400,12/12/2020,Private room in rental unit,Private room,1.0,3.0,1.0,100,83.0,4.89,5.0,5.0,4.56,4.67,Milan
0,6400,1/9/2021,Private room in rental unit,Private room,1.0,3.0,1.0,100,83.0,4.89,5.0,5.0,4.56,4.67,Milan

## Munich

In [64]:
munich_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2020-12.csv')
munich_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(munich_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(munich_raw_df_12_12_2020['price'].mean(),2)}.")

munich_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-01.csv')
munich_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(munich_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_1_9_2021['price'].mean(),2)}.")

munich_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-02.csv')
munich_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(munich_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_2_8_2021['price'].mean(),2)}.")

munich_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-03.csv')
munich_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(munich_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_3_4_2021['price'].mean(),2)}.")

munich_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-04.csv')
munich_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(munich_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_4_9_2021['price'].mean(),2)}.")

#munich_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(munich_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_5_19_2021['price'].mean(),2)}.")

munich_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-06.csv')
munich_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(munich_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_6_3_2021['price'].mean(),2)}.")

munich_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-07.csv')
munich_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(munich_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_7_4_2021['price'].mean(),2)}.")

munich_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-08.csv')
munich_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(munich_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_8_6_2021['price'].mean(),2)}.")

munich_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-09.csv')
munich_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(munich_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_9_7_2021['price'].mean(),2)}.")

munich_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_2021-10.csv')
munich_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(munich_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(munich_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 4815 AirBnb listings; the avg price is €113.06.
The 1_9_2021 dataset contains 5106 AirBnb listings; the avg price is €112.5.
The 2_8_2021 dataset contains 5126 AirBnb listings; the avg price is €112.06.
The 3_4_2021 dataset contains 5073 AirBnb listings; the avg price is €113.46.
The 4_9_2021 dataset contains 5103 AirBnb listings; the avg price is €114.77.
The 6_3_2021 dataset contains 5039 AirBnb listings; the avg price is €118.55.
The 7_4_2021 dataset contains 5098 AirBnb listings; the avg price is €116.98.
The 8_6_2021 dataset contains 5115 AirBnb listings; the avg price is €118.56.
The 9_7_2021 dataset contains 4964 AirBnb listings; the avg price is €125.17.
The 10_6_2021 dataset contains 4914 AirBnb listings; the avg price is €120.75.

In [65]:
munich_list_of_df = [munich_raw_df_12_12_2020, munich_raw_df_1_9_2021, munich_raw_df_2_8_2021, munich_raw_df_3_4_2021,
                        munich_raw_df_4_9_2021, munich_raw_df_6_3_2021, munich_raw_df_7_4_2021, munich_raw_df_8_6_2021, munich_raw_df_9_7_2021]

In [66]:
munich_df = pd.concat(munich_list_of_df)
munich_df.shape

(45439, 19)

In [176]:
raw_df_munich = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/munich/munich_detailed.csv')

In [177]:
munich_list_of_df = [munich_raw_df_12_12_2020, munich_raw_df_1_9_2021, munich_raw_df_2_8_2021, munich_raw_df_3_4_2021,
                        munich_raw_df_4_9_2021, munich_raw_df_6_3_2021, munich_raw_df_7_4_2021, munich_raw_df_8_6_2021, munich_raw_df_9_7_2021]

In [178]:
munich_df = pd.concat(munich_list_of_df)
munich_df.shape

(45439, 19)

In [273]:
df_join_munich = munich_df.join(raw_df_munich, lsuffix='_x', rsuffix='_y')
munich_df_master = df_join_munich.copy()
munich_df_final = munich_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
munich_df_final['city']='Munich'
munich_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,97945,12/12/2020,Entire rental unit,Entire home/apt,2.0,1.0,1.0,80,0.0,4.84,4.89,4.82,4.78,4.73,Munich
0,97945,1/9/2021,Entire rental unit,Entire home/apt,2.0,1.0,1.0,80,0.0,4.84,4.89,4.82,4.78,4.73,Munich

## Naples

In [67]:
naples_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2020-12.csv')
naples_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(naples_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(naples_raw_df_12_12_2020['price'].mean(),2)}.")

naples_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-01.csv')
naples_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(naples_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_1_9_2021['price'].mean(),2)}.")

naples_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-02.csv')
naples_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(naples_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_2_8_2021['price'].mean(),2)}.")

naples_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-03.csv')
naples_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(naples_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_3_4_2021['price'].mean(),2)}.")

naples_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-04.csv')
naples_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(naples_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_4_9_2021['price'].mean(),2)}.")

#naples_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(naples_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_5_19_2021['price'].mean(),2)}.")

naples_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-06.csv')
naples_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(naples_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_6_3_2021['price'].mean(),2)}.")

naples_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-07.csv')
naples_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(naples_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_7_4_2021['price'].mean(),2)}.")

naples_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-08.csv')
naples_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(naples_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_8_6_2021['price'].mean(),2)}.")

naples_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-09.csv')
naples_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(naples_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_9_7_2021['price'].mean(),2)}.")

naples_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_2021-10.csv')
naples_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(naples_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(naples_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 8084 AirBnb listings; the avg price is €78.08.
The 1_9_2021 dataset contains 8039 AirBnb listings; the avg price is €71.68.
The 2_8_2021 dataset contains 7997 AirBnb listings; the avg price is €72.29.
The 3_4_2021 dataset contains 8030 AirBnb listings; the avg price is €73.04.
The 4_9_2021 dataset contains 7961 AirBnb listings; the avg price is €74.74.
The 6_3_2021 dataset contains 7909 AirBnb listings; the avg price is €77.02.
The 7_4_2021 dataset contains 7957 AirBnb listings; the avg price is €84.45.
The 8_6_2021 dataset contains 7311 AirBnb listings; the avg price is €90.63.
The 9_7_2021 dataset contains 7202 AirBnb listings; the avg price is €83.77.
The 10_6_2021 dataset contains 7142 AirBnb listings; the avg price is €88.39.

In [68]:
naples_list_of_df = [naples_raw_df_12_12_2020, naples_raw_df_1_9_2021, naples_raw_df_2_8_2021, naples_raw_df_3_4_2021,
                        naples_raw_df_4_9_2021, naples_raw_df_6_3_2021, naples_raw_df_7_4_2021, naples_raw_df_8_6_2021, naples_raw_df_9_7_2021]

In [69]:
naples_df = pd.concat(naples_list_of_df)
naples_df.shape

(70490, 19)

In [180]:
raw_df_naples = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/naples/naples_detailed.csv')

In [181]:
naples_list_of_df = [naples_raw_df_12_12_2020, naples_raw_df_1_9_2021, naples_raw_df_2_8_2021, naples_raw_df_3_4_2021,
                        naples_raw_df_4_9_2021, naples_raw_df_6_3_2021, naples_raw_df_7_4_2021, naples_raw_df_8_6_2021, naples_raw_df_9_7_2021]

In [182]:
naples_df = pd.concat(naples_list_of_df)
naples_df.shape

(70490, 19)

In [274]:
df_join_naples = naples_df.join(raw_df_naples, lsuffix='_x', rsuffix='_y')
naples_df_master = df_join_naples.copy()
naples_df_final = naples_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
naples_df_final['city']='Naples'
naples_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,24398,12/12/2020,Private room in bed and breakfast,Entire home/apt,2.0,1.0,1.0,159,89.0,NaN,NaN,NaN,NaN,NaN,Naples
0,24398,1/9/2021,Private room in bed and breakfast,Entire home/apt,2.0,1.0,1.0,159,89.0,NaN,NaN,NaN,NaN,NaN,Naples

## Paris

In [70]:
paris_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2020-12.csv')
paris_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(paris_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(paris_raw_df_12_12_2020['price'].mean(),2)}.")

paris_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-01.csv')
paris_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(paris_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_1_9_2021['price'].mean(),2)}.")

paris_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-02.csv')
paris_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(paris_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_2_8_2021['price'].mean(),2)}.")

paris_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-03.csv')
paris_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(paris_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_3_4_2021['price'].mean(),2)}.")

paris_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-04.csv')
paris_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(paris_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_4_9_2021['price'].mean(),2)}.")

#paris_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(paris_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_5_19_2021['price'].mean(),2)}.")

paris_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-06.csv')
paris_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(paris_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_6_3_2021['price'].mean(),2)}.")

paris_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-07.csv')
paris_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(paris_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_7_4_2021['price'].mean(),2)}.")

paris_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-08.csv')
paris_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(paris_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_8_6_2021['price'].mean(),2)}.")

paris_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-09.csv')
paris_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(paris_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_9_7_2021['price'].mean(),2)}.")

paris_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_2021-10.csv')
paris_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(paris_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(paris_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 65917 AirBnb listings; the avg price is €114.28.
The 1_9_2021 dataset contains 65256 AirBnb listings; the avg price is €112.89.
The 2_8_2021 dataset contains 64690 AirBnb listings; the avg price is €113.1.
The 3_4_2021 dataset contains 64347 AirBnb listings; the avg price is €112.39.
The 4_9_2021 dataset contains 63090 AirBnb listings; the avg price is €112.92.
The 6_3_2021 dataset contains 61105 AirBnb listings; the avg price is €117.4.
The 7_4_2021 dataset contains 51040 AirBnb listings; the avg price is €124.53.
The 8_6_2021 dataset contains 51354 AirBnb listings; the avg price is €123.43.
The 9_7_2021 dataset contains 50133 AirBnb listings; the avg price is €125.89.
The 10_6_2021 dataset contains 49634 AirBnb listings; the avg price is €130.2.

In [71]:
paris_list_of_df = [paris_raw_df_12_12_2020, paris_raw_df_1_9_2021, paris_raw_df_2_8_2021, paris_raw_df_3_4_2021,
                        paris_raw_df_4_9_2021, paris_raw_df_6_3_2021, paris_raw_df_7_4_2021, paris_raw_df_8_6_2021, paris_raw_df_9_7_2021]

In [72]:
paris_df = pd.concat(paris_list_of_df)
paris_df.shape

(536932, 19)

In [184]:
raw_df_paris = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/paris/paris_detailed.csv')

In [185]:
paris_list_of_df = [paris_raw_df_12_12_2020, paris_raw_df_1_9_2021, paris_raw_df_2_8_2021, paris_raw_df_3_4_2021,
                        paris_raw_df_4_9_2021, paris_raw_df_6_3_2021, paris_raw_df_7_4_2021, paris_raw_df_8_6_2021, paris_raw_df_9_7_2021]

In [186]:
paris_df = pd.concat(paris_list_of_df)
paris_df.shape

(536932, 19)

In [275]:
df_join_paris = paris_df.join(raw_df_paris, lsuffix='_x', rsuffix='_y')
paris_df_master = df_join_paris.copy()
paris_df_final = paris_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
paris_df_final['city']='Paris'
paris_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2577,12/12/2020,Entire rental unit,Entire home/apt,2.0,NaN,1.0,125,55.0,4.51,4.55,4.47,4.96,4.53,Paris
0,2577,1/9/2021,Entire rental unit,Entire home/apt,2.0,NaN,1.0,125,55.0,4.51,4.55,4.47,4.96,4.53,Paris

## Rome

In [73]:
rome_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2020-12.csv')
rome_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(rome_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(rome_raw_df_12_12_2020['price'].mean(),2)}.")

rome_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-01.csv')
rome_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(rome_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_1_9_2021['price'].mean(),2)}.")

rome_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-02.csv')
rome_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(rome_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_2_8_2021['price'].mean(),2)}.")

rome_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-03.csv')
rome_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(rome_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_3_4_2021['price'].mean(),2)}.")

rome_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-04.csv')
rome_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(rome_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_4_9_2021['price'].mean(),2)}.")

#rome_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(rome_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_5_19_2021['price'].mean(),2)}.")

rome_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-06.csv')
rome_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(rome_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_6_3_2021['price'].mean(),2)}.")

rome_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-07.csv')
rome_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(rome_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_7_4_2021['price'].mean(),2)}.")

rome_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-08.csv')
rome_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(rome_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_8_6_2021['price'].mean(),2)}.")

rome_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-09.csv')
rome_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(rome_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_9_7_2021['price'].mean(),2)}.")

rome_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_2021-10.csv')
rome_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(rome_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(rome_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 28151 AirBnb listings; the avg price is €108.71.
The 1_9_2021 dataset contains 28024 AirBnb listings; the avg price is €105.14.
The 2_8_2021 dataset contains 27647 AirBnb listings; the avg price is €105.11.
The 3_4_2021 dataset contains 27433 AirBnb listings; the avg price is €109.61.
The 4_9_2021 dataset contains 27518 AirBnb listings; the avg price is €113.53.
The 6_3_2021 dataset contains 27126 AirBnb listings; the avg price is €116.16.
The 7_4_2021 dataset contains 27213 AirBnb listings; the avg price is €120.82.
The 8_6_2021 dataset contains 26877 AirBnb listings; the avg price is €122.9.
The 9_7_2021 dataset contains 26098 AirBnb listings; the avg price is €123.84.
The 10_6_2021 dataset contains 25490 AirBnb listings; the avg price is €127.01.

In [74]:
rome_list_of_df = [rome_raw_df_12_12_2020, rome_raw_df_1_9_2021, rome_raw_df_2_8_2021, rome_raw_df_3_4_2021,
                        rome_raw_df_4_9_2021, rome_raw_df_6_3_2021, rome_raw_df_7_4_2021, rome_raw_df_8_6_2021, rome_raw_df_9_7_2021]

In [75]:
rome_df = pd.concat(rome_list_of_df)
rome_df.shape

(246087, 19)

In [188]:
raw_df_rome = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/rome/rome_detailed.csv')

In [189]:
rome_list_of_df = [rome_raw_df_12_12_2020, rome_raw_df_1_9_2021, rome_raw_df_2_8_2021, rome_raw_df_3_4_2021,
                        rome_raw_df_4_9_2021, rome_raw_df_6_3_2021, rome_raw_df_7_4_2021, rome_raw_df_8_6_2021, rome_raw_df_9_7_2021]

In [190]:
rome_df = pd.concat(rome_list_of_df)
rome_df.shape

(246087, 19)

In [276]:
df_join_rome = rome_df.join(raw_df_rome, lsuffix='_x', rsuffix='_y')
rome_df_master = df_join_rome.copy()
rome_df_final = rome_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
rome_df_final['city']='Rome'
rome_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2737,12/12/2020,Private room,Private room,1.0,1.0,0.0,21,90.0,4.8,4.6,4.6,4.4,4.4,Rome
0,2737,1/9/2021,Private room,Private room,1.0,1.0,0.0,21,90.0,4.8,4.6,4.6,4.4,4.4,Rome

## Sicily

In [78]:
#sicily_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2020-12.csv')
#sicily_raw_df_12_12_2020['Month']='12/12/2020' 
#print(f"The 12_12_2020 dataset contains {len(sicily_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(sicily_raw_df_12_12_2020['price'].mean(),2)}.")

sicily_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-01.csv')
sicily_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(sicily_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_1_9_2021['price'].mean(),2)}.")

sicily_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-02.csv')
sicily_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(sicily_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_2_8_2021['price'].mean(),2)}.")

sicily_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-03.csv')
sicily_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(sicily_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_3_4_2021['price'].mean(),2)}.")

sicily_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-04.csv')
sicily_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(sicily_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_4_9_2021['price'].mean(),2)}.")

#sicily_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(sicily_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_5_19_2021['price'].mean(),2)}.")

#sicily_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-06.csv')
#sicily_raw_df_6_3_2021['Month']='6/3/2021'
#print(f"The 6_3_2021 dataset contains {len(sicily_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_6_3_2021['price'].mean(),2)}.")

sicily_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-07.csv')
sicily_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(sicily_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_7_4_2021['price'].mean(),2)}.")

sicily_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-08.csv')
sicily_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(sicily_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_8_6_2021['price'].mean(),2)}.")

sicily_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-09.csv')
sicily_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(sicily_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_9_7_2021['price'].mean(),2)}.")

sicily_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_2021-10.csv')
sicily_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(sicily_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(sicily_raw_df_10_6_2021['price'].mean(),2)}.")

The 1_9_2021 dataset contains 49235 AirBnb listings; the avg price is €95.01.
The 2_8_2021 dataset contains 49678 AirBnb listings; the avg price is €93.36.
The 3_4_2021 dataset contains 49659 AirBnb listings; the avg price is €93.21.
The 4_9_2021 dataset contains 50202 AirBnb listings; the avg price is €95.62.
The 7_4_2021 dataset contains 49266 AirBnb listings; the avg price is €122.97.
The 8_6_2021 dataset contains 47876 AirBnb listings; the avg price is €111.35.
The 9_7_2021 dataset contains 47925 AirBnb listings; the avg price is €99.32.
The 10_6_2021 dataset contains 48096 AirBnb listings; the avg price is €100.18.

In [79]:
sicily_list_of_df = [sicily_raw_df_1_9_2021, sicily_raw_df_2_8_2021, sicily_raw_df_3_4_2021,
                        sicily_raw_df_4_9_2021, sicily_raw_df_7_4_2021, sicily_raw_df_8_6_2021, sicily_raw_df_9_7_2021]

In [80]:
sicily_df = pd.concat(sicily_list_of_df)
sicily_df.shape

(343841, 19)

In [192]:
raw_df_sicily = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/sicily/sicily_detailed.csv')

In [194]:
sicily_list_of_df = [sicily_raw_df_1_9_2021, sicily_raw_df_2_8_2021, sicily_raw_df_3_4_2021,
                        sicily_raw_df_4_9_2021, sicily_raw_df_7_4_2021, sicily_raw_df_8_6_2021, sicily_raw_df_9_7_2021]

In [195]:
sicily_df = pd.concat(sicily_list_of_df)
sicily_df.shape

(343841, 19)

In [277]:
df_join_sicily = sicily_df.join(raw_df_sicily, lsuffix='_x', rsuffix='_y')
sicily_df_master = df_join_sicily.copy()
sicily_df_final = sicily_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
sicily_df_final['city']='Sicily'
sicily_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,7011,1/9/2021,Entire residential home,Entire home/apt,6.0,3.0,4.0,150,31.0,4.67,4.67,4.85,4.59,4.56,Sicily
0,7011,2/8/2021,Entire residential home,Entire home/apt,6.0,3.0,4.0,150,31.0,4.67,4.67,4.85,4.59,4.56,Sicily

## Venice

In [81]:
venice_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2020-12.csv')
venice_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(venice_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(venice_raw_df_12_12_2020['price'].mean(),2)}.")

venice_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-01.csv')
venice_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(venice_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_1_9_2021['price'].mean(),2)}.")

venice_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-02.csv')
venice_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(venice_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_2_8_2021['price'].mean(),2)}.")

venice_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-03.csv')
venice_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(venice_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_3_4_2021['price'].mean(),2)}.")

venice_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-04.csv')
venice_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(venice_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_4_9_2021['price'].mean(),2)}.")

#venice_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(venice_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_5_19_2021['price'].mean(),2)}.")

venice_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-06.csv')
venice_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(venice_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_6_3_2021['price'].mean(),2)}.")

venice_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-07.csv')
venice_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(venice_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_7_4_2021['price'].mean(),2)}.")

venice_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-08.csv')
venice_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(venice_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_8_6_2021['price'].mean(),2)}.")

venice_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-09.csv')
venice_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(venice_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_9_7_2021['price'].mean(),2)}.")

venice_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_2021-10.csv')
venice_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(venice_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(venice_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 8090 AirBnb listings; the avg price is €124.89.
The 1_9_2021 dataset contains 8074 AirBnb listings; the avg price is €132.38.
The 2_8_2021 dataset contains 7951 AirBnb listings; the avg price is €136.15.
The 3_4_2021 dataset contains 7917 AirBnb listings; the avg price is €129.93.
The 4_9_2021 dataset contains 7823 AirBnb listings; the avg price is €137.06.
The 6_3_2021 dataset contains 7707 AirBnb listings; the avg price is €139.5.
The 7_4_2021 dataset contains 7934 AirBnb listings; the avg price is €150.21.
The 8_6_2021 dataset contains 7947 AirBnb listings; the avg price is €153.62.
The 9_7_2021 dataset contains 7631 AirBnb listings; the avg price is €153.0.
The 10_6_2021 dataset contains 7568 AirBnb listings; the avg price is €143.29.

In [82]:
venice_list_of_df = [venice_raw_df_12_12_2020, venice_raw_df_1_9_2021, venice_raw_df_2_8_2021, venice_raw_df_3_4_2021,
                        venice_raw_df_4_9_2021, venice_raw_df_6_3_2021, venice_raw_df_7_4_2021, venice_raw_df_8_6_2021, venice_raw_df_9_7_2021]

In [83]:
venice_df = pd.concat(venice_list_of_df)
venice_df.shape

(71074, 19)

In [200]:
raw_df_venice = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/venice/venice_detailed.csv')

In [201]:
venice_list_of_df = [venice_raw_df_12_12_2020, venice_raw_df_1_9_2021, venice_raw_df_2_8_2021, venice_raw_df_3_4_2021,
                        venice_raw_df_4_9_2021, venice_raw_df_6_3_2021, venice_raw_df_7_4_2021, venice_raw_df_8_6_2021, venice_raw_df_9_7_2021]

In [202]:
venice_df = pd.concat(venice_list_of_df)
venice_df.shape

(71074, 19)

In [278]:
df_join_venice = venice_df.join(raw_df_venice, lsuffix='_x', rsuffix='_y')
venice_df_master = df_join_venice.copy()
venice_df_final = venice_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                               'bedrooms', 'beds', 'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
venice_df_final['city']='Venice'
venice_df_final.head(2)

,id_x,Month,property_type,room_type_x,accommodates,bedrooms,beds,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,6623,12/12/2020,Entire rental unit,Entire home/apt,4.0,2.0,4.0,225,89.0,4.94,4.96,4.99,4.96,4.92,Venice
0,6623,1/9/2021,Entire rental unit,Entire home/apt,4.0,2.0,4.0,225,89.0,4.94,4.96,4.99,4.96,4.92,Venice

## Vienna

In [84]:
vienna_raw_df_12_12_2020 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2020-12.csv')
vienna_raw_df_12_12_2020['Month']='12/12/2020' 
print(f"The 12_12_2020 dataset contains {len(vienna_raw_df_12_12_2020)} AirBnb listings; the avg price is €{round(vienna_raw_df_12_12_2020['price'].mean(),2)}.")

vienna_raw_df_1_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-01.csv')
vienna_raw_df_1_9_2021['Month']='1/9/2021' 
print(f"The 1_9_2021 dataset contains {len(vienna_raw_df_1_9_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_1_9_2021['price'].mean(),2)}.")

vienna_raw_df_2_8_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-02.csv')
vienna_raw_df_2_8_2021['Month']='2/8/2021'
print(f"The 2_8_2021 dataset contains {len(vienna_raw_df_2_8_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_2_8_2021['price'].mean(),2)}.")

vienna_raw_df_3_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-03.csv')
vienna_raw_df_3_4_2021['Month']='3/4/2021' 
print(f"The 3_4_2021 dataset contains {len(vienna_raw_df_3_4_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_3_4_2021['price'].mean(),2)}.")

vienna_raw_df_4_9_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-04.csv')
vienna_raw_df_4_9_2021['Month']='4/9/2021'
print(f"The 4_9_2021 dataset contains {len(vienna_raw_df_4_9_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_4_9_2021['price'].mean(),2)}.")

#vienna_raw_df_5_19_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-05.csv')
#print(f"The 5_19_2021 dataset contains {len(vienna_raw_df_5_19_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_5_19_2021['price'].mean(),2)}.")

vienna_raw_df_6_3_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-06.csv')
vienna_raw_df_6_3_2021['Month']='6/3/2021'
print(f"The 6_3_2021 dataset contains {len(vienna_raw_df_6_3_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_6_3_2021['price'].mean(),2)}.")

vienna_raw_df_7_4_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-07.csv')
vienna_raw_df_7_4_2021['Month']='7/4/2021'
print(f"The 7_4_2021 dataset contains {len(vienna_raw_df_7_4_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_7_4_2021['price'].mean(),2)}.")

vienna_raw_df_8_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-08.csv')
vienna_raw_df_8_6_2021['Month']='8/6/2021'
print(f"The 8_6_2021 dataset contains {len(vienna_raw_df_8_6_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_8_6_2021['price'].mean(),2)}.")

vienna_raw_df_9_7_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-09.csv')
vienna_raw_df_9_7_2021['Month']='9/7/2021'
print(f"The 9_7_2021 dataset contains {len(vienna_raw_df_9_7_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_9_7_2021['price'].mean(),2)}.")

vienna_raw_df_10_6_2021 = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_2021-10.csv')
vienna_raw_df_10_6_2021['Month']='10/6/2021'
print(f"The 10_6_2021 dataset contains {len(vienna_raw_df_10_6_2021)} AirBnb listings; the avg price is €{round(vienna_raw_df_10_6_2021['price'].mean(),2)}.")

The 12_12_2020 dataset contains 12052 AirBnb listings; the avg price is €82.66.
The 1_9_2021 dataset contains 11667 AirBnb listings; the avg price is €77.63.
The 2_8_2021 dataset contains 11496 AirBnb listings; the avg price is €86.12.
The 3_4_2021 dataset contains 11432 AirBnb listings; the avg price is €87.15.
The 4_9_2021 dataset contains 11477 AirBnb listings; the avg price is €83.13.
The 6_3_2021 dataset contains 11567 AirBnb listings; the avg price is €77.15.
The 7_4_2021 dataset contains 11689 AirBnb listings; the avg price is €77.13.
The 8_6_2021 dataset contains 11625 AirBnb listings; the avg price is €79.18.
The 9_7_2021 dataset contains 11583 AirBnb listings; the avg price is €80.37.
The 10_6_2021 dataset contains 11294 AirBnb listings; the avg price is €81.1.

In [85]:
vienna_list_of_df = [vienna_raw_df_12_12_2020, vienna_raw_df_1_9_2021, vienna_raw_df_2_8_2021, vienna_raw_df_3_4_2021,
                        vienna_raw_df_4_9_2021, vienna_raw_df_6_3_2021, vienna_raw_df_7_4_2021, vienna_raw_df_8_6_2021, vienna_raw_df_9_7_2021]

In [205]:
vienna_df = pd.concat(vienna_list_of_df)
vienna_df.shape

(104588, 19)

In [206]:
raw_df_vienna = pd.read_csv('/Users/brendan/Desktop/Python/Hustle Projects/Airbnb/data4/raw-data/vienna/vienna_detailed.csv')

In [207]:
vienna_list_of_df = [vienna_raw_df_12_12_2020, vienna_raw_df_1_9_2021, vienna_raw_df_2_8_2021, vienna_raw_df_3_4_2021,
                        vienna_raw_df_4_9_2021, vienna_raw_df_6_3_2021, vienna_raw_df_7_4_2021, vienna_raw_df_8_6_2021, vienna_raw_df_9_7_2021]

In [208]:
vienna_df = pd.concat(vienna_list_of_df)
vienna_df.shape

(104588, 19)

In [279]:
df_join_vienna = vienna_df.join(raw_df_vienna, lsuffix='_x', rsuffix='_y')
vienna_df_master = df_join_vienna.copy()
vienna_df_final = vienna_df_master[['id_x','Month', 'property_type', 'room_type_x', 'accommodates',
                                'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]
vienna_df_final['city']='Vienna'
vienna_df_final.head(2)
vienna_df_final.isna().sum()

id_x                             0
Month                            0
property_type                 1907
room_type_x                      0
accommodates                  1907
price_x                          0
availability_90               1907
review_scores_rating         22850
review_scores_accuracy       23840
review_scores_cleanliness    23840
review_scores_location       23849
review_scores_value          23858
city                             0
dtype: int64

In [280]:
list_of_city_master_df = [amsterdam_df_final, antwerp_df_final, barcelona_df_final, berlin_df_final, bordeaux_df_final, 
                          brussels_df_final,crete_df_final, florence_df_final, lisbon_df_final, lyon_df_final, 
                          madrid_df_final, milan_df_final, munich_df_final, naples_df_final, paris_df_final, 
                          rome_df_final, sicily_df_final, venice_df_final, vienna_df_final]
euro_df_raw = pd.concat(list_of_city_master_df)
euro_df_raw.isna().sum()

id_x                              0
Month                             0
property_type                350218
room_type_x                       0
accommodates                 350218
bedrooms                     655105
beds                         500267
price_x                           0
availability_90              350218
review_scores_rating         918063
review_scores_accuracy       945790
review_scores_cleanliness    945507
review_scores_location       946324
review_scores_value          946421
city                              0
dtype: int64

In [281]:
euro_df_raw.columns

Index(['id_x', 'Month', 'property_type', 'room_type_x', 'accommodates',
       'bedrooms', 'beds', 'price_x', 'availability_90',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_location',
       'review_scores_value', 'city'],
      dtype='object')

In [282]:
euro_df = euro_df_raw.copy()
euro_df_final = euro_df.drop_duplicates(subset='id_x')
#euro_df_final = euro_df.copy()
euro_df_final.isna().sum()
#euro_df_final.shape

id_x                              0
Month                             0
property_type                 40218
room_type_x                       0
accommodates                  40218
bedrooms                      85184
beds                          62342
price_x                           0
availability_90               40218
review_scores_rating         129295
review_scores_accuracy       133370
review_scores_cleanliness    133331
review_scores_location       133455
review_scores_value          133466
city                              0
dtype: int64

In [283]:
euro_df_final = euro_df_final.dropna(subset = ['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness','review_scores_location',
       'review_scores_value'])
euro_df_final = euro_df_final.drop(['bedrooms', 'beds'],axis=1)
euro_df_final.shape, euro_df_final.isna().sum()

((296533, 13),
 id_x                         0
 Month                        0
 property_type                0
 room_type_x                  0
 accommodates                 0
 price_x                      0
 availability_90              0
 review_scores_rating         0
 review_scores_accuracy       0
 review_scores_cleanliness    0
 review_scores_location       0
 review_scores_value          0
 city                         0
 dtype: int64)

In [284]:
euro_df_final.tail(2)

,id_x,Month,property_type,room_type_x,accommodates,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
11370,49710700,6/3/2021,Entire rental unit,Entire home/apt,4.0,63,8.0,5.0,5.0,5.0,5.0,5.0,Vienna
11370,51623094,9/7/2021,Entire rental unit,Entire home/apt,4.0,45,8.0,5.0,5.0,5.0,5.0,5.0,Vienna

## Regression

In [285]:
df_regression = euro_df_final.copy()
df_regression_euro = df_regression[['id_x', 'property_type',  'accommodates',
                                'price_x', 'availability_90','review_scores_rating',
                               'review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value',]]

df_regression_euro['price_x'] = pd.to_numeric(df_regression_euro['price_x'])
df_regression_euro.isna().sum()

df_regression_euro = df_regression_euro.fillna(df_regression_euro.mean())
#df_regression_euro = df_regression_euro[df_regression_euro['accommodates']<=euro]

#print(f'There is {len(df_reviews_)} in the entire data set')
print(f'There is {len(df_regression_euro)} to be regressed')

There is 296533 to be regressed

In [286]:
X_euro = df_regression_euro[['accommodates',
        'availability_90','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_location',
                               'review_scores_value']]

y_euro = df_regression_euro['price_x'].replace({'\$':''}, regex = True)
Y_euro = y_euro.replace({',':''}, regex=True)

# with sklearn
regr_euro = LinearRegression()
regr_euro.fit(X_euro, Y_euro)

print('Intercept: ', regr_euro.intercept_)
print('Coefficients: ', regr_euro.coef_)

print (regr_euro)

Intercept:  102.77527821772803
Coefficients:  [ 1.03460036  0.05253004  1.57590971 -6.03915763  2.32054398  2.91658998
  0.47795003]
LinearRegression()

In [287]:
y_pred_euro = regr_euro.predict(X_euro)

In [315]:
df_mult_euro= pd.DataFrame({'Actual': Y_euro, 'Predicted': y_pred_euro.flatten()})
df_mult_euro['Diff'] = df_mult_euro['Predicted'] - df_mult_euro['Actual']
df_mult_sort_euro = df_mult_euro.sort_values(by=['Diff'])
#df_result = (df_mult_sort_euro[df_mult_sort_euro['Actual'] >=75]) & (df_mult_sort_euro[df_mult_sort_euro['Actual'] <=300])
df_result_euro = df_mult_sort_euro.query('Actual >= 50')

In [370]:
df_euro_filter = df_result_euro[df_result_euro['Actual']<=1000]
df_euro_reset = df_euro_filter.copy()
df_euro_reset = df_euro_reset.rename(columns={'index':'id_x'})

In [371]:
euro_df_final.shape, df_euro_reset.shape

((296533, 12), (221651, 3))

In [372]:
euro_df_final.reset_index().head()

,id_x,Month,property_type,room_type_x,accommodates,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,2818,12/12/2020,Private room in rental unit,Private room,2.0,59,33.0,4.89,4.93,5.00,4.68,4.81,Amsterdam
1,20168,12/12/2020,Private room in townhouse,Private room,2.0,236,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam
2,9693,6/3/2021,Private room in townhouse,Entire home/apt,2.0,128,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam
3,25428,12/12/2020,Private room in houseboat,Entire home/apt,2.0,125,22.0,4.95,4.93,4.96,4.90,4.80,Amsterdam
4,27886,12/12/2020,Private room in rental unit,Private room,2.0,135,43.0,4.88,4.94,4.89,4.97,4.82,Amsterdam

In [373]:
df_euro_reset = df_euro_reset.reset_index().head()

In [374]:
df_euro_reset.head()

   index  Actual   Predicted        Diff
0  15114     999  101.055228 -897.944772
1  12686    1000  105.065857 -894.934143
2  13415    1000  105.093121 -894.906879
3  13310    1000  105.282822 -894.717178
4  25287     999  105.501879 -893.498121

In [384]:
#euro_df_final = euro_df_final.rename(columns={'id_x':'index'}).reset_index()
euro_df_final = euro_df_final.rename(columns={'id_x':'index'}).head()
euro_df_final.head()

,level_0,index,Month,property_type,room_type_x,accommodates,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city
0,0,2818,12/12/2020,Private room in rental unit,Private room,2.0,59,33.0,4.89,4.93,5.00,4.68,4.81,Amsterdam
1,1,20168,12/12/2020,Private room in townhouse,Private room,2.0,236,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam
2,2,9693,6/3/2021,Private room in townhouse,Entire home/apt,2.0,128,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam
3,3,25428,12/12/2020,Private room in houseboat,Entire home/apt,2.0,125,22.0,4.95,4.93,4.96,4.90,4.80,Amsterdam
4,4,27886,12/12/2020,Private room in rental unit,Private room,2.0,135,43.0,4.88,4.94,4.89,4.97,4.82,Amsterdam

In [390]:
merged_df = pd.concat(([euro_df_final, df_euro_reset]),axis=1)
merged_df.head()

,level_0,index,Month,property_type,room_type_x,accommodates,price_x,availability_90,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_location,review_scores_value,city,index,Actual,Predicted,Diff
0,0,2818,12/12/2020,Private room in rental unit,Private room,2.0,59,33.0,4.89,4.93,5.00,4.68,4.81,Amsterdam,15114,999,101.055228,-897.944772
1,1,20168,12/12/2020,Private room in townhouse,Private room,2.0,236,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam,12686,1000,105.065857,-894.934143
2,2,9693,6/3/2021,Private room in townhouse,Entire home/apt,2.0,128,0.0,4.44,4.69,4.79,4.87,4.49,Amsterdam,13415,1000,105.093121,-894.906879
3,3,25428,12/12/2020,Private room in houseboat,Entire home/apt,2.0,125,22.0,4.95,4.93,4.96,4.90,4.80,Amsterdam,13310,1000,105.282822,-894.717178
4,4,27886,12/12/2020,Private room in rental unit,Private room,2.0,135,43.0,4.88,4.94,4.89,4.97,4.82,Amsterdam,25287,999,105.501879,-893.498121

## need to match on aribnb id, and month