In [13]:
import pandas as pd

In [14]:
# import the module
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="Boston1429$$", 
                      db="13F"))
# Insert whole DataFrame into MySQL
#NBA_since_2000.to_sql('NBA', con = engine, if_exists = 'append', chunksize = 1000,index=False)

In [15]:
import mysql.connector

# establishing the connection
conn = mysql.connector.connect(user='root', password='Boston1429$$',
                              host='127.0.0.1', database = '13F')

cursor = conn.cursor()