In [76]:
import pandas as pd
import yfinance as yf
!pip install pandas==1.2.2
!pip3 install pandas==1.2.2

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting pandas==1.2.2
  Using cached pandas-1.2.2-cp39-cp39-macosx_12_0_arm64.whl
Requirement already satisfied: numpy>=1.16.5 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (1.22.3)
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas==1.2.2) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed pandas-1.2.2
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas==1.2.2 in /opt/homebrew/lib/python3.9/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (1.22.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas==1.2.2) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas==1.2.2) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

In [77]:
df_raw = pd.read_csv('/Users/brendan/Desktop/Python/Quandl/SHARADAR_EQUITY_DAILY.csv')

In [78]:
df_raw.head()

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
0,ABILF,2021-11-09,0.30,0.33,0.30,0.33,7500.0,0.33,0.33,2021-11-09
1,ABILF,2021-11-08,0.35,0.35,0.35,0.35,0.0,0.35,0.35,2021-11-09
2,AAC,2021-09-24,9.74,9.75,9.73,9.75,38502.0,9.75,9.75,2021-09-24
3,AAC.U,2021-09-24,9.95,9.95,9.90,9.90,2692.0,9.90,9.90,2021-09-24
4,AAC.WS,2021-09-24,0.92,0.92,0.87,0.89,38784.0,0.89,0.89,2021-09-24

In [79]:
SP_500_tickers = pd.read_csv('/Users/brendan/Desktop/Python/Quandl/constituents.csv')

In [80]:
SP_500_tickers.columns = ['Ticker', 'Name', 'Sector']
SP_500_tickers.head()

  Ticker                 Name       Sector
0    MMM                   3M  Industrials
1    AOS          A. O. Smith  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV               AbbVie  Health Care
4   ABMD              Abiomed  Health Care

In [81]:
SP500_tickers_series = SP_500_tickers['Ticker']

In [82]:
type(SP500_tickers_series)

pandas.core.series.Series

In [83]:
# subset for Sp500 members
df_SP500_raw = df_raw[df_raw['ticker'].isin(SP_500_tickers['Ticker'])]
df_SP500_raw.columns = ['Ticker','Date', 'Open','High','Low','Close','Volume','Close_adj','Close_unadj','LastUpdated']
df_SP500_raw.head()

,Ticker,Date,Open,High,Low,Close,Volume,Close_adj,Close_unadj,LastUpdated
11,AAL,2021-09-24,20.89,21.62,20.810,21.39,39880920.0,21.390,21.39,2021-09-24
21,ABC,2021-09-24,122.63,123.04,121.930,122.30,416241.0,121.090,122.30,2022-05-16
28,A,2021-09-24,172.09,173.08,171.200,172.40,1041760.0,171.683,172.40,2022-04-04
38,ABMD,2021-09-24,348.82,352.02,345.255,350.36,193829.0,350.360,350.36,2021-09-24
49,ABBV,2021-09-24,106.87,108.05,106.440,107.07,5835611.0,103.781,107.07,2022-04-13

In [84]:
df_SP500 = pd.merge(df_SP500_raw,SP_500_tickers[['Ticker','Name','Sector']],on='Ticker',how='left')
df_SP500 = df_SP500[['Ticker','Name','Sector','Date', 'Open','High','Low','Close','Volume','Close_adj','Close_unadj','LastUpdated']]
df_SP500.head()

,Ticker,Name,Sector,Date,Open,High,Low,Close,Volume,Close_adj,Close_unadj,LastUpdated
0,AAL,American Airlines Group,Industrials,2021-09-24,20.89,21.62,20.810,21.39,39880920.0,21.390,21.39,2021-09-24
1,ABC,AmerisourceBergen,Health Care,2021-09-24,122.63,123.04,121.930,122.30,416241.0,121.090,122.30,2022-05-16
2,A,Agilent Technologies,Health Care,2021-09-24,172.09,173.08,171.200,172.40,1041760.0,171.683,172.40,2022-04-04
3,ABMD,Abiomed,Health Care,2021-09-24,348.82,352.02,345.255,350.36,193829.0,350.360,350.36,2021-09-24
4,ABBV,AbbVie,Health Care,2021-09-24,106.87,108.05,106.440,107.07,5835611.0,103.781,107.07,2022-04-13

In [85]:
df_SP500['Sector'].value_counts()

Information Technology    100249
Industrials                98831
Financials                 87066
Consumer Discretionary     85743
Health Care                85520
Consumer Staples           43552
Real Estate                39469
Utilities                  37779
Materials                  34504
Communication Services     32891
Energy                     28455
Name: Sector, dtype: int64

In [89]:
aapl = yf.Ticker('AAPL')
aapl_hist = aapl.history(period='max')

In [91]:
aapl_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100178,0.100614,0.100178,0.100178,469033600,0.0,0.0
1980-12-15,0.095388,0.095388,0.094952,0.094952,175884800,0.0,0.0
1980-12-16,0.088418,0.088418,0.087983,0.087983,105728000,0.0,0.0
1980-12-17,0.090160,0.090596,0.090160,0.090160,86441600,0.0,0.0
1980-12-18,0.092774,0.093210,0.092774,0.092774,73449600,0.0,0.0