In [268]:
import pandas as pd

In [269]:
df_raw = pd.read_csv('SP500_2019.csv')

In [270]:
df_raw['date'] = pd.to_datetime(df_raw['date'])

In [271]:
df_raw['EPS'] = df_raw['close']/df_raw['pe']

#df_raw['chg marketCap'] = df_raw.groupby('ticker')['marketcap'].diff().fillna(0)

In [272]:
#df_raw = df_raw[df_raw.columns[::-1]]

In [273]:
df_AAPL = df_raw[df_raw['ticker']=='AAPL']
df_AAPL = df_AAPL.sort_values('date')
df_AAPL['chg_mCap'] = df_AAPL['marketcap'].diff()

In [274]:
df_AAPL.head()

,ticker,date,marketcap,ev,evebitda,pe,close,EPS,chg_mCap
23966,AAPL,2019-01-02,749393.3,837963.3,9.6,12.6,39.480,3.133333,NaN
29565,AAPL,2019-01-03,674738.7,763308.7,8.8,11.3,35.547,3.145752,-74654.6
53241,AAPL,2019-01-04,703552.7,792122.7,9.1,11.8,37.065,3.141102,28814.0
32325,AAPL,2019-01-07,701996.2,790566.2,9.1,11.8,36.983,3.134153,-1556.5
84978,AAPL,2019-01-08,715378.2,803948.2,9.2,12.0,37.688,3.140667,13382.0

In [275]:

df_raw = df_raw.sort_values('date')
df_raw['chgMCap'] = df_raw.groupby('ticker')['marketcap'].diff().fillna(0)

In [276]:
amzn_raw = df_raw[df_raw['ticker']=='AMZN'].head()

In [277]:
df_raw.head()

,ticker,date,marketcap,ev,evebitda,pe,close,EPS,chgMCap
28585,AMZN,2019-01-02,752586.3,756845.3,29.4,84.5,1539.13,18.214556,0.0
4268,GNRC,2019-01-02,3164.4,3937.7,10.3,13.0,50.99,3.922308,0.0
106595,ABMD,2019-01-02,13960.5,13884.1,67.2,73.3,309.96,4.228649,0.0
106596,ALLE,2019-01-02,7704.3,8960.5,14.9,24.7,81.05,3.281377,0.0
106597,ODFL,2019-01-02,10089.6,9957.1,10.3,15.7,82.28,5.240764,0.0

In [278]:
df_raw['mCap_cumsum'] = df_raw.groupby(['ticker'])['chgMCap'].cumsum()

#df_raw['mCap_ytd'] = df_raw['chgMCap']/df_raw.groupby('ticker')['marketcap'][0]
df_raw.head()

,ticker,date,marketcap,ev,evebitda,pe,close,EPS,chgMCap,mCap_cumsum
28585,AMZN,2019-01-02,752586.3,756845.3,29.4,84.5,1539.13,18.214556,0.0,0.0
4268,GNRC,2019-01-02,3164.4,3937.7,10.3,13.0,50.99,3.922308,0.0,0.0
106595,ABMD,2019-01-02,13960.5,13884.1,67.2,73.3,309.96,4.228649,0.0,0.0
106596,ALLE,2019-01-02,7704.3,8960.5,14.9,24.7,81.05,3.281377,0.0,0.0
106597,ODFL,2019-01-02,10089.6,9957.1,10.3,15.7,82.28,5.240764,0.0,0.0

In [279]:
df_raw['mCap_ytd'] = (df_raw['mCap_cumsum']/df_raw['marketcap'].iloc[0])*100

In [280]:
df_ytd = df_raw[df_raw['date']=='2019-12-31'].sort_values('mCap_ytd',ascending=False)
df_ytd_all = df_raw.sort_values(['date','mCap_ytd'],ascending=[False,False])

In [281]:
df_ytd_all.head()

,ticker,date,marketcap,ev,evebitda,pe,close,EPS,chgMCap,mCap_cumsum,mCap_ytd
9,AAPL,2019-12-31,1304755.9,1363958.9,16.7,23.6,73.412,3.110678,9455.3,555362.6,73.793876
225,MSFT,2019-12-31,1203062.6,1142580.6,18.8,29.3,157.700,5.382253,839.1,426843.4,56.716871
121,FB,2019-12-31,585321.0,578474.0,19.9,32.5,205.250,6.315385,2395.5,195405.5,25.964531
142,GOOGL,2019-12-31,923760.5,921476.5,18.4,28.3,1339.390,47.328269,-220.7,190266.4,25.281672
25,AMZN,2019-12-31,916153.9,952428.9,27.5,80.7,1847.840,22.897646,471.0,163567.6,21.734066

In [282]:
#top 25
top25 = df_ytd_all['ticker'].head(25)
top25.head()

9       AAPL
225     MSFT
121       FB
142    GOOGL
25      AMZN
Name: ticker, dtype: object

In [283]:
df_ytd_top25_2019 = df_ytd_all[df_ytd_all['ticker'].isin(top25)]
len(df_ytd_top25_2019)

6300

In [284]:
df_ytd_top25_2019['ytd_%'] = df_ytd_top25_2019['mCap_ytd']/100

<ipython-input-284-d49a1b11703d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ytd_top25_2019['ytd_%'] = df_ytd_top25_2019['mCap_ytd']/100

In [285]:
df_ytd_top25_2019.to_csv('top25_2019.csv')
df_ytd_top25_2019.to_excel('top25_2019.xlsx')

In [286]:
df_ytd_top25_2019.head()

,ticker,date,marketcap,ev,evebitda,pe,close,EPS,chgMCap,mCap_cumsum,mCap_ytd,ytd_%
9,AAPL,2019-12-31,1304755.9,1363958.9,16.7,23.6,73.412,3.110678,9455.3,555362.6,73.793876,0.737939
225,MSFT,2019-12-31,1203062.6,1142580.6,18.8,29.3,157.700,5.382253,839.1,426843.4,56.716871,0.567169
121,FB,2019-12-31,585321.0,578474.0,19.9,32.5,205.250,6.315385,2395.5,195405.5,25.964531,0.259645
142,GOOGL,2019-12-31,923760.5,921476.5,18.4,28.3,1339.390,47.328269,-220.7,190266.4,25.281672,0.252817
25,AMZN,2019-12-31,916153.9,952428.9,27.5,80.7,1847.840,22.897646,471.0,163567.6,21.734066,0.217341

 ## 2020

In [289]:
df_raw_2020 = pd.read_csv('SP500_2020.csv')
df_raw_2020['date'] = pd.to_datetime(df_raw_2020['date'])
df_raw_2020['EPS'] = df_raw_2020['close']/df_raw_2020['pe']

df_raw_2020 = df_raw_2020.sort_values('date')
df_raw_2020['chgMCap'] = df_raw_2020.groupby('ticker')['marketcap'].diff().fillna(0)
df_raw_2020['mCap_cumsum'] = df_raw_2020.groupby(['ticker'])['chgMCap'].cumsum()
df_raw_2020['mCap_ytd'] = (df_raw_2020['mCap_cumsum']/df_raw_2020['marketcap'].iloc[0])*100

df_ytd_2020 = df_raw_2020[df_raw_2020['date']=='2020-12-31'].sort_values('mCap_ytd',ascending=False)
df_ytd_all_2020 = df_raw_2020.sort_values(['date','mCap_ytd'],ascending=[False,False])
top25_2020 = df_ytd_all_2020['ticker'].head(25)
df_ytd_top25_2020 = df_ytd_all_2020[df_ytd_all_2020['ticker'].isin(top25_2020)]
df_ytd_top25_2020['ytd_%'] = df_ytd_top25_2020['mCap_ytd']/100
df_ytd_top25_2020.to_csv('top25_2020.csv')
df_ytd_top25_2020.to_excel('top25_2020.xlsx')

<ipython-input-289-413ca6b5b06f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ytd_top25_2020['ytd_%'] = df_ytd_top25_2020['mCap_ytd']/100

In [291]:
df_raw_2021 = pd.read_csv('SP500_2021.csv')
df_raw_2021['date'] = pd.to_datetime(df_raw_2021['date'])
df_raw_2021['EPS'] = df_raw_2021['close']/df_raw_2021['pe']

df_raw_2021 = df_raw_2021.sort_values('date')
df_raw_2021['chgMCap'] = df_raw_2021.groupby('ticker')['marketcap'].diff().fillna(0)
df_raw_2021['mCap_cumsum'] = df_raw_2021.groupby(['ticker'])['chgMCap'].cumsum()
df_raw_2021['mCap_ytd'] = (df_raw_2021['mCap_cumsum']/df_raw_2021['marketcap'].iloc[0])*100

df_ytd_2021 = df_raw_2021[df_raw_2021['date']=='2021-12-31'].sort_values('mCap_ytd',ascending=False)
df_ytd_all_2021 = df_raw_2021.sort_values(['date','mCap_ytd'],ascending=[False,False])
top25_2021 = df_ytd_all_2021['ticker'].head(25)
df_ytd_top25_2021 = df_ytd_all_2021[df_ytd_all_2021['ticker'].isin(top25_2021)]
df_ytd_top25_2021['ytd_%'] = df_ytd_top25_2021['mCap_ytd']/100
df_ytd_top25_2021.to_csv('top25_2021.csv')
df_ytd_top25_2021.to_excel('top25_2021.xlsx')

<ipython-input-291-02d4a1d44fcf>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ytd_top25_2021['ytd_%'] = df_ytd_top25_2021['mCap_ytd']/100

In [292]:
df_raw_2018 = pd.read_csv('SP500_2018.csv')
df_raw_2018['date'] = pd.to_datetime(df_raw_2018['date'])
df_raw_2018['EPS'] = df_raw_2018['close']/df_raw_2018['pe']

df_raw_2018 = df_raw_2018.sort_values('date')
df_raw_2018['chgMCap'] = df_raw_2018.groupby('ticker')['marketcap'].diff().fillna(0)
df_raw_2018['mCap_cumsum'] = df_raw_2018.groupby(['ticker'])['chgMCap'].cumsum()
df_raw_2018['mCap_ytd'] = (df_raw_2018['mCap_cumsum']/df_raw_2018['marketcap'].iloc[0])*100

df_ytd_2018 = df_raw_2018[df_raw_2018['date']=='2018-12-31'].sort_values('mCap_ytd',ascending=False)
df_ytd_all_2018 = df_raw_2018.sort_values(['date','mCap_ytd'],ascending=[False,False])
top25_2018 = df_ytd_all_2018['ticker'].head(25)
df_ytd_top25_2018 = df_ytd_all_2018[df_ytd_all_2018['ticker'].isin(top25_2018)]
df_ytd_top25_2018['ytd_%'] = df_ytd_top25_2018['mCap_ytd']/100
df_ytd_top25_2018.to_csv('top25_2018.csv')
df_ytd_top25_2018.to_excel('top25_2018.xlsx')

<ipython-input-292-9da8dfcc52ca>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ytd_top25_2018['ytd_%'] = df_ytd_top25_2018['mCap_ytd']/100