In [45]:

#API = 'Hu3ZHysZhH1VrPCHA6ym'

In [54]:
from datetime import date
import quandl
import numpy as np
import pandas as pd
quandl.ApiConfig.api_key = 'Hu3ZHysZhH1VrPCHA6ym'

In [42]:
df = pd.read_csv('SHARADAR_SF1.csv')

In [44]:
len(df)

526311

In [46]:
df.head()

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
0,A,ARQ,2017-03-31,2017-06-06,2017-04-30,2022-03-03,-477000000.0,8.016000e+09,NaN,3.800000e+09,...,321337443.0,321000000.0,325000000.0,3.433,5.075000e+09,0.0,27000000.0,0.0,15.810,2.613000e+09
1,A,ARQ,2017-06-30,2017-09-06,2017-07-31,2022-03-03,-417000000.0,8.261000e+09,NaN,3.996000e+09,...,321828003.0,321000000.0,326000000.0,3.470,5.274000e+09,0.0,18000000.0,0.0,16.430,2.755000e+09
2,A,ARQ,2017-09-30,2017-12-21,2017-10-31,2022-03-03,-346000000.0,8.426000e+09,NaN,4.169000e+09,...,323018027.0,322000000.0,329000000.0,3.693,5.458000e+09,0.0,49000000.0,0.0,16.950,2.906000e+09
3,A,ARQ,2017-12-31,2018-03-06,2018-01-31,2022-03-03,-269000000.0,8.698000e+09,NaN,4.397000e+09,...,322476579.0,323000000.0,323000000.0,3.749,5.724000e+09,0.0,553000000.0,0.0,17.721,3.036000e+09
4,A,ARQ,2018-03-31,2018-05-31,2018-04-30,2022-03-03,-310000000.0,8.784000e+09,NaN,4.525000e+09,...,319952126.0,322000000.0,326000000.0,3.745,5.852000e+09,0.0,22000000.0,0.0,18.174,3.160000e+09

In [47]:
df.columns

Index(['ticker', 'dimension', 'calendardate', 'datekey', 'reportperiod',
       'lastupdated', 'accoci', 'assets', 'assetsavg', 'assetsc',
       ...
       'sharesbas', 'shareswa', 'shareswadil', 'sps', 'tangibles', 'taxassets',
       'taxexp', 'taxliabilities', 'tbvps', 'workingcapital'],
      dtype='object', length=111)

In [50]:
len(df['ticker'].unique())

7787

In [51]:
df_daily = pd.read_csv('SHARADAR_EQUITY_DAILY.csv')

In [52]:
df_daily.head()

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
0,ABILF,2021-11-09,0.30,0.33,0.30,0.33,7500.0,0.33,0.33,2021-11-09
1,ABILF,2021-11-08,0.35,0.35,0.35,0.35,0.0,0.35,0.35,2021-11-09
2,AAC,2021-09-24,9.74,9.75,9.73,9.75,38502.0,9.75,9.75,2021-09-24
3,AAC.U,2021-09-24,9.95,9.95,9.90,9.90,2692.0,9.90,9.90,2021-09-24
4,AAC.WS,2021-09-24,0.92,0.92,0.87,0.89,38784.0,0.89,0.89,2021-09-24

In [55]:
data = quandl.get_table("SHARADAR/DAILY", paginate=True)

LimitExceededError: This call exceeds the amount of data that quandl.get_table() allows.         Please use the following link in your browser, which will download the full results as         a CSV file: https://www.quandl.com/api/v3/datatables/SHARADAR/DAILY?qopts.export=true&api_key=Hu3ZHysZhH1VrPCHA6ym . See         our API documentation for more info:         https://docs.quandl.com/docs/in-depth-usage-1#section-download-an-entire-table

In [59]:
df_raw = pd.read_csv('SHARADAR_DAILY_3_mcap.csv')

In [61]:
df_raw.tail()

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
7485591,WSCRF,2022-05-27,2022-05-30,60.9,-19.2,-19.2,62.5,1.9,-19.7,NaN
7485592,WSTL,2022-05-27,2022-05-30,0.2,-0.1,-0.1,13.6,0.6,-5.0,0.5
7485593,YAYO,2022-05-27,2022-05-30,27.7,-3.9,-5.4,28.6,3.6,-2.4,2.7
7485594,YGYI,2022-05-27,2022-05-30,26.6,-0.5,-0.6,5.8,0.2,-0.1,0.0
7485595,ZNOG,2022-05-27,2022-05-30,108.8,-10.6,-11.5,117.3,1.8,-11.4,NaN