In [110]:
import pandas as pd
import numpy as np

In [111]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)
pd.set_option('display.min_rows', 20)

## AMD

In [112]:
amd_raw = pd.read_excel('AMD_model.xlsx', sheet_name='Python')
amd_raw.columns = amd_raw.iloc[0]
amd_raw.iloc[1:]
amd_raw.dropna(axis = 0, how = 'all', inplace = True)
amd_raw.dropna(axis = 1, how = 'all', inplace = True)

In [113]:
amd_raw = amd_raw.rename(columns={np.nan: 'Metric'})
#amd_raw['Ticker'] = 'AMD'
amd_raw_df = amd_raw.copy()

In [114]:
subset_list = ['Ticker','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
              'Gross Profit % of revenue','Operating Profit','Operating Profit % y/y',
              'FCF','FCF % y/y','Inventory']

In [115]:
amd_raw_df = amd_raw.set_index('Metric')
amd_raw_df.head()

,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Metric,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NaN,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Revenue,1505,1349,1606,1162,1177,1184,1396,1646,1574,1653,1618,1649,1613,1574,1690,1691,1585,1413,1269,1155,1088,1161,1461,1589,1397,1441,1429,1239,1030,942,1061,958,832,1027,1307,1106,984,1222,1643,1480,1647,1756,1653,1419,1272,1531,1801,2127,1786,1932,2801,3244,3445,3850,4313,4826,5887,6701.612228,6997.953591,7220.844267,6644.567724,7193.341343,7795.727973,8107.811866,8024.381277,8355.730587,8955.438019,9394.205592
Revenue % q/q,-0.149718,-0.103654,0.190511,-0.276463,0.012909,0.005947,0.179054,0.179083,-0.043742,0.050191,-0.021174,0.019159,-0.021831,-0.024179,0.073698,0.000592,-0.062685,-0.108517,-0.101911,-0.089835,-0.058009,0.067096,0.258398,0.087611,-0.120831,0.031496,-0.008328,-0.13296,-0.168684,-0.085437,0.126327,-0.097078,-0.131524,0.234375,0.272639,-0.153787,-0.110307,0.24187,0.344517,-0.099209,0.112838,0.066181,-0.058656,-0.141561,-0.103594,0.203616,0.176355,0.181011,-0.16032,0.081747,0.449793,0.158158,0.061961,0.117562,0.12026,0.118943,0.219851,0.138375,0.044219,0.031851,-0.079807,0.08259,0.083742,0.040033,-0.01029,0.041293,0.071772,0.048995
Revenue % y/y,0.2206,-0.021045,-0.015931,-0.343503,-0.21794,-0.122313,-0.13076,0.416523,0.337298,0.396115,0.159026,0.001823,0.024778,-0.047792,0.044499,0.02547,-0.017359,-0.102287,-0.249112,-0.316972,-0.313565,-0.178344,0.1513,0.375758,0.284007,0.241171,-0.021903,-0.220264,-0.262706,-0.346287,-0.257523,-0.226796,-0.192233,0.090234,0.231857,0.154489,0.182692,0.189873,0.257077,0.338156,0.67378,0.436989,0.006086,-0.041216,-0.227687,-0.128132,0.089534,0.498943,0.404088,0.26192,0.555247,0.525153,0.928891,0.992754,0.539807,0.48767,0.708853,0.740679,0.622526,0.496238,0.128685,0.073375,0.114001,0.122834,0.20766,0.161592,0.148762,0.158661
COGS (incl. Depreciation),877,846,881,663,765,861,869,967,902,915,879,906,893,854,934,918,855,770,877,704,643,702,940,1036,910,943,935,821,704,677,822,675,563,708,908,755,653,818,1070,965,1050,1104,992,882,751,910,1024,1178,968,1084,1571,1793,1858,2020,2227,2400,2791,3033.562478,3162.821665,3215.48224,2808.649218,3045.207052,3305.987132,3358.912488,3180.264873,3329.704029,3562.575561,3669.245599

In [116]:
amd_df = amd_raw_df.loc[[np.nan,'Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
              'Gross Profit % of revenue','Operating Profit','Operating Profit % y/y',
              'FCF','FCF % y/y'],:]

In [117]:
amd_transposed_df = amd_df.T.copy()
amd_transposed_df.columns = ['Quarter','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
                            'Gross Profit Margin %','Operating Profit','Operating Profit % y/y','FCF',
                            'FCF % y/y']
amd_transposed_df['Ticker'] = 'AMD'
amd_transposed_df.to_excel('AMD_transposed_df.xlsx')

## ADI

In [118]:
adi_raw = pd.read_excel('ADI_raw.xlsx', sheet_name='Python')
adi_raw.columns = adi_raw.iloc[0]
adi_raw.iloc[1:]
adi_raw.dropna(axis = 0, how = 'all', inplace = True)
adi_raw.dropna(axis = 1, how = 'all', inplace = True)

In [119]:
adi_raw = adi_raw.rename(columns={np.nan: 'Metric'})
#adi_raw['Ticker'] = 'ADI'
adi_raw_df = adi_raw.copy()

In [120]:
subset_list = ['Ticker','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
              'Gross Profit % of revenue','Operating Profit','Operating Profit % y/y',
              'FCF','FCF % y/y']

In [121]:
adi_raw_df = adi_raw.set_index('Metric')
adi_raw_df.head()

,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Metric,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NaN,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Revenue,649.34,658.986,660.696,476.569,474.748,491.991,571.6,602.983,668.24,720.29,769.99,728.504,790.78,757.902,716.134,648.058,675.094,683.026,694.964,622.134,659.25,674.172,678.133,628.238,694.536,727.752,814.247,771.986,821.019,863.365,978.722,769.429,778.766,869.591,1003.623,984.449,1147.982,1433.902,1541.17,1518.624,1513.053,1572.679,1596.586,1541.101,1526.602,1480.143,1443.219,1303.565,1317.06,1456.136,1526.295,1558.458,1661.407,1758.853,2339.568,2684.293,2972.064,3079.42357,3179.667662,3201.988745,3092.063057,2968.453283,2905.435321,2944.238767,2898.127845,2983.502123,3096.002872,3086.253118
Revenue % q/q,0.057714,0.014855,0.002595,-0.278686,-0.003821,0.03632,0.16181,0.054904,0.108224,0.077891,0.069,-0.053879,0.085485,-0.041577,-0.05511,-0.09506,0.041718,0.011749,0.017478,-0.104797,0.059659,0.022635,0.005875,-0.073577,0.10553,0.047825,0.118852,-0.051902,0.063515,0.051577,0.133613,-0.213843,0.012135,0.116627,0.154132,-0.019105,0.166116,0.249063,0.074808,-0.014629,-0.003668,0.039408,0.015201,-0.034752,-0.009408,-0.030433,-0.024946,-0.096766,0.010352,0.105596,0.048182,0.021073,0.066058,0.058653,0.330167,0.147346,0.107206,0.036123,0.032553,0.00702,-0.03433,-0.039976,-0.021229,0.013355,-0.015661,0.029458,0.037708,-0.003149
Revenue % y/y,-0.029579,-0.031347,0.018841,-0.223714,-0.268876,-0.253412,-0.134852,0.265259,0.407568,0.464031,0.347078,0.208167,0.183377,0.052218,-0.069944,-0.110426,-0.146294,-0.098794,-0.029562,-0.040003,-0.023469,-0.012963,-0.024219,0.009811,0.053524,0.079475,0.200719,0.228811,0.182112,0.186345,0.201996,-0.003312,-0.051464,0.007211,0.025442,0.279454,0.474104,0.648938,0.535606,0.542613,0.318011,0.096783,0.035957,0.014801,0.008955,-0.05884,-0.096059,-0.154134,-0.13726,-0.016219,0.057563,0.195535,0.261451,0.207891,0.532841,0.722403,0.788884,0.750813,0.359083,0.192861,0.040376,-0.036036,-0.086246,-0.080497,-0.06272,0.00507,0.06559,0.048235
COGS,253.319,257.192,257.039,207.567,213.196,225.762,249.746,234.507,233.725,240.088,253.761,246.331,256.566,248.262,255.62,238.668,234.639,235.152,251.682,231.85,237.055,239.11,233.263,219.12,235.793,244.625,273.935,265.406,274.677,293.021,335.527,290.691,266.387,295.413,334.896,333.767,356.807,425.724,449.171,439.658,434.498,453.545,459.036,457.95,449.255,438.638,456.206,410.407,425.991,438.336,458.47,468.09,484.059,499.724,679.964,753.682,766.796,796.85668,824.925025,831.174929,815.395736,800.784999,803.13997,814.004935,791.093877,804.998674,826.498884,823.768953

In [122]:
adi_df = adi_raw_df.loc[[np.nan,'Revenue','Revenue % y/y','Gross profit','Gross Profit % y/y',
              'Gross Profit % of sales','Op profit','Operating Profit % y/y',
              'FCF','FCF % y/y'],:]

In [123]:
adi_transposed_df = adi_df.T.copy()
adi_transposed_df.columns = ['Quarter','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
                            'Gross Profit Margin %','Operating Profit','Operating Profit % y/y','FCF',
                            'FCF % y/y']
adi_transposed_df['Ticker'] = 'ADI'
adi_transposed_df.to_excel('ADI_transposed_df.xlsx')
adi_transposed_df.head()

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,649.34,-0.029579,396.021,0.031866,0.609882,157.185,0.153321,123.008,-0.381782,ADI
2Q08,2Q08,658.986,-0.031347,401.794,0.028593,0.609716,161.19,0.148036,156.766,-0.017036,ADI
3Q08,3Q08,660.696,0.018841,403.657,0.065429,0.610957,163.825,0.117817,94.881,-0.366078,ADI
4Q08,4Q08,476.569,-0.223714,269.002,-0.284194,0.564456,61.328,-0.579695,37.675,-0.725611,ADI
1Q09,1Q09,474.748,-0.268876,261.552,-0.33955,0.550928,69.828,-0.555759,63.95,-0.480115,ADI

## INTC

In [124]:
intc_raw = pd.read_excel('intc_model.xlsx', sheet_name='Python')
intc_raw.columns = intc_raw.iloc[0]
intc_raw.iloc[1:]
intc_raw.dropna(axis = 0, how = 'all', inplace = True)
intc_raw.dropna(axis = 1, how = 'all', inplace = True)

In [125]:
intc_raw = intc_raw.rename(columns={np.nan: 'Metric'})
#intc_raw['Ticker'] = 'INTC'
intc_raw_df = intc_raw.copy()

In [126]:
intc_raw_df = intc_raw.set_index('Metric')
intc_raw_df.head(5)

,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Metric,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NaN,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Revenue,9673,9470,10217,8226,7145,8024,9389,10569,10299,10765,11102,11457,12877,13112,14292,13922,12906,13501,13457,13477,12580,12811,13483,13834,12764,13831,14554,14721,12781,13195,14465,14914,13702,13533,15778,16374,14796,14763,16149,17053,16066,16962,19163,18657,16061,16505,19190,20209,19828,19728,18333,19978,19673,19631,19192,20528,18353,18358.632391,18894.312687,19184.251201,18322.747922,19064.377434,19935.285809,20371.180588,19056.328941,19831.689206,20786.657132,21326.353535
Revenue % q/q,-0.096994,-0.020986,0.078881,-0.194871,-0.131413,0.123023,0.170115,0.125679,-0.025546,0.045247,0.031305,0.031976,0.123942,0.01825,0.089994,-0.025889,-0.072978,0.046103,-0.003259,0.001486,-0.066558,0.018362,0.052455,0.026033,-0.077346,0.083594,0.052274,0.011475,-0.131785,0.032392,0.096249,0.03104,-0.081266,-0.012334,0.165891,0.037774,-0.096372,-0.00223,0.093883,0.055979,-0.057878,0.05577,0.129761,-0.026405,-0.139143,0.027645,0.162678,0.053101,-0.018853,-0.005043,-0.070712,0.089729,-0.015267,-0.002135,-0.022363,0.069612,-0.105953,0.000307,0.029179,0.015345,-0.044907,0.040476,0.045682,0.021865,-0.064545,0.040688,0.048154,0.025964
Revenue % y/y,0.092747,0.091014,0.012587,-0.232076,-0.261346,-0.152693,-0.081041,0.284829,0.441428,0.3416,0.182448,0.084019,0.250316,0.218021,0.287336,0.215152,0.002252,0.029667,-0.058424,-0.031964,-0.02526,-0.051107,0.001932,0.02649,0.014626,0.079619,0.079433,0.064117,0.001332,-0.045984,-0.006115,0.013111,0.07206,0.025616,0.090771,0.097895,0.079842,0.090889,0.023514,0.041468,0.085834,0.148953,0.186637,0.09406,-0.000311,-0.026943,0.001409,0.083186,0.234543,0.195274,-0.044659,-0.011431,-0.007817,-0.004917,0.046855,0.02753,-0.067097,-0.064814,-0.015511,-0.065459,-0.001648,0.038442,0.055095,0.06187,0.040037,0.040248,0.042707,0.046888
COGS,4466,4221,4198,3857,3907,3945,3985,3729,3770,3530,3781,3727,4857,4999,5084,4801,4504,4805,4801,5523,5514,5341,5069,5263,5151,4914,5096,5100,4931,4872,5278,5252,5047,5164,5560,6037,5440,5467,5822,5996,6060,6268,6527,7151,6691,6340,7607,8063,7523,8919,8282,8320,8507,8111,8124,9184,8756,8910.971337,9148.45944,9299.93792,9048.411773,9357.982102,9712.800033,10015.363206,9705.165129,10126.541222,10610.779996,10949.673737

In [127]:
intc_df = intc_raw_df.loc[[np.nan,'Revenue','Revenue % y/y','Gross profit','Gross Profit % y/y',
              'Gross Profit % of revenue NonGAAP','Op profit (GAAP)','Operating Profit % y/y',
              'FCF','FCF % y/y'],:]

In [128]:
intc_transposed_df = intc_df.T.copy()
intc_transposed_df.columns = ['Quarter','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
                            'Gross Profit Margin %','Operating Profit','Operating Profit % y/y','FCF',
                            'FCF % y/y']
intc_transposed_df['Ticker'] = 'INTC'
intc_transposed_df.to_excel('INTC_transposed_df.xlsx')
intc_transposed_df.head()

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,9673,0.092747,5207,0.197838,0.538302,2391,0.431737,1308,5.848168,INTC
2Q08,2Q08,9470,0.091014,5249,0.288098,0.554277,2351,0.63491,1677,0.472344,INTC
3Q08,3Q08,10217,0.012587,6019,0.139099,0.589116,3132,0.313208,1913,-0.315808,INTC
4Q08,4Q08,8226,-0.232076,4369,-0.298265,0.531121,1790,-0.454767,831,-0.762504,INTC
1Q09,1Q09,7145,-0.261346,3238,-0.378145,0.453184,721,-0.698453,-1131,0,INTC

## MRVL

In [129]:
mrvl_raw = pd.read_excel('MRVL_model.xlsx', sheet_name='Python')
mrvl_raw.columns = mrvl_raw.iloc[0]
mrvl_raw.iloc[1:]
mrvl_raw.dropna(axis = 0, how = 'all', inplace = True)
mrvl_raw.dropna(axis = 1, how = 'all', inplace = True)

In [130]:
mrvl_raw = mrvl_raw.rename(columns={np.nan: 'Metric'})
#mrvl_raw['Ticker'] = 'MRVL'
mrvl_raw_df = mrvl_raw.copy()

In [131]:
mrvl_raw_df = mrvl_raw.set_index('Metric')
mrvl_raw_df.head(5)

,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Metric,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
NaN,1Q08,2Q08,3Q08,4Q08,1Q09,2Q09,3Q09,4Q09,1Q10,2Q10,3Q10,4Q10,1Q11,2Q11,3Q11,4Q11,1Q12,2Q12,3Q12,4Q12,1Q13,2Q13,3Q13,4Q13,1Q14,2Q14,3Q14,4Q14,1Q15,2Q15,3Q15,4Q15,1Q16,2Q16,3Q16,4Q16,1Q17,2Q17,3Q17,4Q17,1Q18,2Q18,3Q18,4Q18,1Q19,2Q19,3Q19,4Q19,1Q20,2Q20,3Q20,4Q20,1Q21,2Q21,3Q21,4Q21,1Q22,2Q22E,3Q22E,4Q22E,1Q23E,2Q23E,3Q23E,4Q23E,1Q24E,2Q24E,3Q24E,4Q24E
Revenues,804.075,842.575,791.046,512.867,521.434,640.62,803.098,842.535,855.579,896.474,959.327,900.513,802.402,897.52,950.417,742.701,796.351,816.104,780.881,775.294,734.369,807.056,931.226,931.749,957.83,961.545,930.136,857.452,724.288,710.492,674.89,616.158,540.822,626.404,654.422,571.4,579.18,604.75,616.302,615.409,604.631,665.31,851.051,744.799,662.452,656.568,662.47,717.671,693.641,727.297,750.143,797.819,832.279,1075.881,1211.245,1342.978,1446.9,1532.838,1616.0105,1691.771227,1770.664666,1833.143664,1902.902884,1953.813947,2049.299183,2140.698834,2225.841956,2244.983157
Revenue % q/q,-0.048078,0.047881,-0.061157,-0.35166,0.016704,0.228574,0.253626,0.049106,0.015482,0.047798,0.070111,-0.061308,-0.10895,0.118542,0.058937,-0.218552,0.072236,0.024804,-0.04316,-0.007155,-0.052786,0.098979,0.153855,0.000562,0.027991,0.003879,-0.032665,-0.078143,-0.155302,-0.019048,-0.050109,-0.087025,-0.122267,0.158244,0.044728,-0.126863,0.013616,0.044149,0.019102,-0.001449,-0.017514,0.100357,0.27918,-0.124848,-0.110563,-0.008882,0.008989,0.083326,-0.033483,0.048521,0.031412,0.063556,0.043193,0.292693,0.125817,0.108758,0.077382,0.059395,0.05426,0.046881,0.046634,0.035286,0.038054,0.026754,0.048871,0.0446,0.039774,0.0086
Revenue % y/y,0.26616,0.283023,0.043258,-0.392831,-0.351511,-0.239688,0.015236,0.642794,0.640819,0.399385,0.194533,0.068814,-0.062153,0.001167,-0.009288,-0.175247,-0.007541,-0.090712,-0.178381,0.043884,-0.077833,-0.011087,0.192533,0.201801,0.30429,0.191423,-0.00117,-0.079739,-0.243824,-0.261093,-0.274418,-0.281408,-0.253305,-0.118352,-0.030328,-0.07264,0.070925,-0.034569,-0.05825,0.07702,0.043943,0.100141,0.380899,0.21025,0.09563,-0.01314,-0.221586,-0.036423,0.047081,0.107725,0.132343,0.111678,0.19987,0.479287,0.614685,0.683312,0.73848,0.424728,0.334173,0.259716,0.223764,0.195915,0.177531,0.154893,0.157362,0.167775,0.169709,0.149026
Cost of goods sold (incl. Depr),388.842,405.913,379.137,252.732,257.63,288.059,341.617,339.79,343.985,366.682,390.808,367.737,334.475,378.117,412.1,339.656,364.393,380.785,374.503,365.135,335.438,381.331,464.981,467.524,492.935,476.816,458.047,415.206,351.928,379.551,367.326,298.407,258.725,287.123,285.578,243.883,230.549,236.572,238.533,233.927,228.938,246.283,304.029,267.608,240.668,244.734,245.499,274.034,261.61,271.186,281.709,292.564,306.603,380.958,432.264,475.329,512.3,541.51892,571.79757,599.556217,626.379987,647.622846,671.340981,688.650742,719.115722,748.191604,775.140265,779.648273

In [132]:
mrvl_df = mrvl_raw_df.loc[[np.nan,'Revenues','Revenue % y/y','Gross profit','Gross Profit % y/y',
              'Gross Profit % of revenue','Operating Income','Operating Profit % y/y',
              'Free cash flow','FCF % y/y'],:]

In [133]:
mrvl_transposed_df = mrvl_df.T.copy()
mrvl_transposed_df.columns = ['Quarter','Revenue','Revenue % y/y','Gross Profit','Gross Profit % y/y',
                            'Gross Profit Margin %','Operating Profit','Operating Profit % y/y','FCF',
                            'FCF % y/y']
mrvl_transposed_df['Ticker'] = 'MRVL'
mrvl_transposed_df.to_excel('MRVL_transposed_df.xlsx')
mrvl_transposed_df.head()

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,804.075,0.26616,415.233,0.349767,0.516411,117.719,-134.771591,-30.522,-0.134913,MRVL
2Q08,2Q08,842.575,0.283023,436.662,0.359551,0.518247,114.125,-42.804029,-16.01,-0.452294,MRVL
3Q08,3Q08,791.046,0.043258,411.909,0.137754,0.520714,107.66,2.487302,-12.78,-0.231139,MRVL
4Q08,4Q08,512.867,-0.392831,260.135,-0.359346,0.507217,-16.608,-1.540308,-13.931,-0.56906,MRVL
1Q09,1Q09,521.434,-0.351511,263.804,-0.364684,0.50592,1.413,-0.987997,-3.414,-0.888146,MRVL

In [134]:
adi_transposed_df.head(2)

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,649.34,-0.029579,396.021,0.031866,0.609882,157.185,0.153321,123.008,-0.381782,ADI
2Q08,2Q08,658.986,-0.031347,401.794,0.028593,0.609716,161.19,0.148036,156.766,-0.017036,ADI

In [135]:
amd_transposed_df.head(2)

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,1505,0.2206,628,0.670213,0.417276,-214,-0.452685,-307,0,AMD
2Q08,2Q08,1349,-0.021045,503,0.020284,0.372869,-276,-0.158537,-348,0,AMD

In [136]:
intc_transposed_df.head()

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,9673,0.092747,5207,0.197838,0.538302,2391,0.431737,1308,5.848168,INTC
2Q08,2Q08,9470,0.091014,5249,0.288098,0.554277,2351,0.63491,1677,0.472344,INTC
3Q08,3Q08,10217,0.012587,6019,0.139099,0.589116,3132,0.313208,1913,-0.315808,INTC
4Q08,4Q08,8226,-0.232076,4369,-0.298265,0.531121,1790,-0.454767,831,-0.762504,INTC
1Q09,1Q09,7145,-0.261346,3238,-0.378145,0.453184,721,-0.698453,-1131,0,INTC

In [137]:
mrvl_transposed_df.head(2)

,Quarter,Revenue,Revenue % y/y,Gross Profit,Gross Profit % y/y,Gross Profit Margin %,Operating Profit,Operating Profit % y/y,FCF,FCF % y/y,Ticker
0,,,,,,,,,,,
1Q08,1Q08,804.075,0.26616,415.233,0.349767,0.516411,117.719,-134.771591,-30.522,-0.134913,MRVL
2Q08,2Q08,842.575,0.283023,436.662,0.359551,0.518247,114.125,-42.804029,-16.01,-0.452294,MRVL

In [138]:
list_of_df = [amd_transposed_df, adi_transposed_df, intc_transposed_df, mrvl_transposed_df]
semi_df = pd.concat(list_of_df)

In [141]:
semi_df.to_excel('semi_df.xlsx')