In [8]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url, low_memory=False)
city_mpg = df['city08']
highway_mpg = df['highway08']

## Dunder Methods
A python integer object that has a '.__add__' method responds to the +operation

In [3]:
2+4

6

In [4]:
(2).__add__(4)

6

In [9]:
# Calculate the avereage of the 2 series
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

## Index alignment
When operating with 2 series, panas will align the index before performing the operation; bc of the index alignment, you want to make sure that the indices are unique; and are common to both series.
Note tht index names 1 and 4 have Nan, while Index name 2 has 4 results.

In [10]:
s1 = pd.Series([10,20,30], index=[1,2,2])
s2 = pd.Series([35,44,53], index=[2,2,4], name='s2')

In [11]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [12]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

## Broadcasting
When you perform math operations with a scalar, pandas broadcasts the operation to all values

## Operator Methods
+ functions and methods have parameters to allow you to parameterize or change the behavior based on the parameters
+ If we call the .add method with the default parameters, we will have the same result as the + operator

In [13]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [14]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

However, we can use the fill_value parameter to specify that we use zero instead

In [15]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

## Chaining
Chaining makes the code easy to read and understand. We can chain with operators as well, but it requires that we wrap the operation with parentheses

In [16]:
# calculate the avg of city and highway mileage using operators and chained
((city_mpg +
  highway_mpg)
    /2
)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [17]:
# chaining to calculte the avg of city and highway mpg
(city_mpg
    .add(highway_mpg)
    .div(2)
)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64