In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [15]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [16]:
season = 2000
appended_data_ATL = []

# ATL
while season <= 2021:
    df_ATL = get_roster('ATL', season)
    df_ATL['Season'] = season
    df_ATL['Team'] = 'ATL'
    appended_data_ATL.append(df_ATL)
    season = season + 1
appended_data_ATL = pd.concat(appended_data_ATL)

In [17]:
ATL_df_all = appended_data_ATL.copy()
ATL_df_all_csv = ATL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_players_all.csv', index=False)
ATL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_players_all.csv')
ATL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,10,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,ATL
1,3,Cal Bowdler,SF,6-10,245,1977-03-31,US,R,Old Dominion,2000,ATL
2,12,Bimbo Coles,PG,6-1,180,1968-04-22,US,9,Virginia Tech,2000,ATL
3,4,Chris Crawford,PF,6-9,235,1975-05-13,US,2,Marquette,2000,ATL
4,20,LaPhonso Ellis,PF,6-8,240,1970-05-05,US,7,Notre Dame,2000,ATL

In [32]:
ATL_df_2000 = ATL_df_all[ATL_df_all['Season'] == 2000]
ATL_df_2001 = ATL_df_all[ATL_df_all['Season'] == 2001]
ATL_df_2002 = ATL_df_all[ATL_df_all['Season'] == 2002]
ATL_df_2003 = ATL_df_all[ATL_df_all['Season'] == 2003]
ATL_df_2004 = ATL_df_all[ATL_df_all['Season'] == 2004]
ATL_df_2005 = ATL_df_all[ATL_df_all['Season'] == 2005]
ATL_df_2006 = ATL_df_all[ATL_df_all['Season'] == 2006]
ATL_df_2007 = ATL_df_all[ATL_df_all['Season'] == 2007]
ATL_df_2008 = ATL_df_all[ATL_df_all['Season'] == 2008]
ATL_df_2009 = ATL_df_all[ATL_df_all['Season'] == 2009]
ATL_df_2010 = ATL_df_all[ATL_df_all['Season'] == 2010]
ATL_df_2011 = ATL_df_all[ATL_df_all['Season'] == 2011]
ATL_df_2012 = ATL_df_all[ATL_df_all['Season'] == 2012]
ATL_df_2013 = ATL_df_all[ATL_df_all['Season'] == 2013]
ATL_df_2014 = ATL_df_all[ATL_df_all['Season'] == 2014]
ATL_df_2015 = ATL_df_all[ATL_df_all['Season'] == 2015]
ATL_df_2016 = ATL_df_all[ATL_df_all['Season'] == 2016]
ATL_df_2017 = ATL_df_all[ATL_df_all['Season'] == 2017]
ATL_df_2018 = ATL_df_all[ATL_df_all['Season'] == 2018]
ATL_df_2019 = ATL_df_all[ATL_df_all['Season'] == 2019]
ATL_df_2020 = ATL_df_all[ATL_df_all['Season'] == 2020]
ATL_df_2021 = ATL_df_all[ATL_df_all['Season'] == 2021]

In [33]:
ATL_df_2000_players = ATL_df_2000['PLAYER'].to_list()
ATL_df_2001_players = ATL_df_2001['PLAYER'].to_list()
ATL_df_2002_players = ATL_df_2002['PLAYER'].to_list()
ATL_df_2003_players = ATL_df_2003['PLAYER'].to_list()
ATL_df_2004_players = ATL_df_2004['PLAYER'].to_list()
ATL_df_2005_players = ATL_df_2005['PLAYER'].to_list()

ATL_df_2006_players = ATL_df_2006['PLAYER'].to_list()
ATL_df_2007_players = ATL_df_2007['PLAYER'].to_list()
ATL_df_2008_players = ATL_df_2008['PLAYER'].to_list()
ATL_df_2009_players = ATL_df_2009['PLAYER'].to_list()
ATL_df_2010_players = ATL_df_2010['PLAYER'].to_list()
ATL_df_2011_players = ATL_df_2011['PLAYER'].to_list()

ATL_df_2012_players = ATL_df_2012['PLAYER'].to_list()
ATL_df_2013_players = ATL_df_2013['PLAYER'].to_list()
ATL_df_2014_players = ATL_df_2014['PLAYER'].to_list()
ATL_df_2015_players = ATL_df_2015['PLAYER'].to_list()
ATL_df_2016_players = ATL_df_2016['PLAYER'].to_list()
ATL_df_2017_players = ATL_df_2017['PLAYER'].to_list()

ATL_df_2018_players = ATL_df_2018['PLAYER'].to_list()
ATL_df_2019_players = ATL_df_2019['PLAYER'].to_list()
ATL_df_2020_players = ATL_df_2020['PLAYER'].to_list()
ATL_df_2021_players = ATL_df_2021['PLAYER'].to_list()

In [48]:
## palyers to drop
#ATL_df_2004_players.remove("Mamadou N'Diaye")
#ATL_df_2016_players.remove("Tim Hardaway")
#ATL_df_2016_players.remove("Edy Tavares")
ATL_df_2017_players.remove("Edy Tavares")
#ATL_df_2017_players.remove("Mike Dunleavy")
#ATL_df_2021_players.remove("Clint Capela")

In [53]:
ATL_2000_gamelog = []



for p in ATL_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2000_gamelog.append(player_log)
ATL_2000_gamelog = pd.concat(ATL_2000_gamelog)    
ATL_2000_gamelogs = ATL_2000_gamelog.copy()
ATL_2000_gamelogs['GAME_SCORE'] = ATL_2000_gamelogs['GAME_SCORE'].astype(float)
ATL_2000_games = ATL_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2000_games_csv = ATL_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2000_games.csv', index=False)
ATL_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2000_games.csv')
ATL_2000_games_proc.head()

You searched for "Drew Barry"
5 results found.
0: Drew Barry
1: Brent Barry
2: Moe Barr
3: Jon Barry
4: Rick Barry

KeyboardInterrupt: Interrupted by user

In [15]:
ATL_2001_gamelog = []



for p in ATL_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2001_gamelog.append(player_log)
ATL_2001_gamelog = pd.concat(ATL_2001_gamelog)    
ATL_2001_gamelogs = ATL_2001_gamelog.copy()
ATL_2001_gamelogs['GAME_SCORE'] = ATL_2001_gamelogs['GAME_SCORE'].astype(float)
ATL_2001_games = ATL_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2001_games_csv = ATL_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2001_games.csv', index=False)
ATL_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2001_games.csv')
ATL_2001_games_proc.head()

You searched for "Cal Bowdler"
2 results found.
0: Cal Bowdler
1: Al Butler
Pick one: 0
Results for Cal Bowdler:

You searched for "Ira Bowman"
3 results found.
0: Ira Bowman
1: Ky Bowman
2: Nate Bowman
Pick one: 0
Results for Ira Bowman:

You searched for "Sean Colson"
3 results found.
0: Sean Colson
1: Dean Tolson
2: Sean Rooks
Pick one: 0
Results for Sean Colson:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "Jim Jackson"
21 results found.
0: Jim Jackson
1: Al Jackson
2: Josh Jackson
3: Mike Jackson
4: Phil Jackson
5: Jim Paxson
6: Jim Paxson
7: Greg Jackson
8: Jaren Jackson
9: Jaren Jackson
10: Justin Jackson
11: Luke Jackson
12: Luke Jackson
13: Marc Jackson
14: Mark Jackson
15: Tony Jackson
16: Tony Jackson
17: Sam Jacobson
18: Jim Wilson
19: Jim Eakins
20: Jim Chones
Pick one: 0
Results for Jim Jackson:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Brevin Knight"
5 results found.
0: Brevin Knight
1: Brandin Knight
2: Travis Knight
3: Brandon Knight
4: Ron Knight
Pick one: 0
Results for Brevin Knight:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Matt Maloney"
6 results found.
0: Matt Maloney
1: Matt Mooney
2: Matt Barnes
3: Mo Mahoney
4: Karl Malone
5: Moses Malone
Pick one: 0
Results for Matt Maloney:

You searched for "Roshown McLeod"
1 result found.
Roshown McLeod
Results for Roshown McLeod:

You searched for "Anthony Miller"
9 results found.
0: Anthony Miller
1: Anthony Peeler
2: Anthony Bonner
3: Anthony Carter
4: Anthony Parker
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tolliver
8: Anthony Tucker
Pick one: 0
Results for Anthony Miller:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Hanno Möttölä"
1 result found.
Hanno Mottola
Results for Hanno Mottola:

You searched for "Dikembe Mutombo"
1 result found.
Dikembe Mutombo
Results for Dikembe Mutombo:

You searched for "Andy Panko"
4 results found.
0: Andy Panko
1: Andy Walker
2: Andy Duncan
3: Wally Rank
Pick one: 0
Results for Andy Panko:

You searched for "Larry Robinson"
9 results found.
0: Larry Robinson
1: Larry Johnson
2: Larry Johnson
3: Chris Robinson
4: David Robinson
5: Jamal Robinson
6: James Robinson
7: Nate Robinson
8: Wayne Robinson
Pick one: 0
Results for Larry Robinson:

You searched for "Pepe Sánchez"
1 result found.
Pepe Sanchez
Results for Pepe Sanchez:

You searched for "Tony Smith"
44 results found.
0: Tony Smith
1: Don Smith
2: Don Smith
3: Bobby Smith
4: Donta Smith
5: Doug Smith
6: Joe Smith
7: John Smith
8: Josh Smith
9: Ken Smith
10: Kenny Smith
11: Leon Smith
12: Randy Smith
13: Tom Stith
14: Tony White
15: Tony Price
16: Al Smith
17: Bill Smith
18: Bingo Smith
19: Deb Smith
20: Ed Smith
21: Greg Smith
22: Greg Smith
23: Ish Smith
24: J.R. Smith
25: Jason Smith
26: Jerry Smith
27: Jim Smith
28: Larry Smith
29: Mike Smith
30: Nolan Smith
31: Otis Smith
32: Pete Smith
33: Phil Smith
34: Russ Smith
35: Sam Smith
36: Sam Smith
37: Steve Smith
38: Theron Smith
39: Joe Smyth
40: Tony Snell
41: Tony Dumas
42: Tony Jaros
43: Tony Koski
Pick one: 0
Results for Tony Smith:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Lorenzen Wright"
2 results found.
0: Lorenzen Wright
1: Lonnie Wright
Pick one: 0
Results for Lorenzen Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-01-31,34-220,ATL,HOME,TOR,W (+5),1,41:22,8,12,...,29,0,1,6,1,2,21,32.3,7,Dikembe Mutombo
1,2001-03-25,32-188,ATL,AWAY,MIL,L (-7),1,40:40,9,19,...,4,10,2,0,1,2,31,30.1,-3,Toni Kukoč
2,2000-12-12,23-088,ATL,HOME,SAC,W (+8),1,41:27,12,19,...,5,5,1,0,5,4,38,29.3,13,Jason Terry
3,2001-01-02,23-109,ATL,HOME,BOS,W (+11),1,45:15,12,16,...,3,6,3,0,3,2,32,29.1,10,Jason Terry
4,2001-02-18,23-156,ATL,AWAY,GSW,W (+7),1,40:59,13,21,...,3,5,1,1,5,3,38,28.4,11,Jason Terry

In [16]:
ATL_2002_gamelog = []



for p in ATL_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2002_gamelog.append(player_log)
ATL_2002_gamelog = pd.concat(ATL_2002_gamelog)    
ATL_2002_gamelogs = ATL_2002_gamelog.copy()
ATL_2002_gamelogs['GAME_SCORE'] = ATL_2002_gamelogs['GAME_SCORE'].astype(float)
ATL_2002_games = ATL_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2002_games_csv = ATL_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2002_games.csv', index=False)
ATL_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2002_games.csv')
ATL_2002_games_proc.head()

You searched for "Shareef Abdur-Rahim"
1 result found.
Shareef Abdur-Rahim
Results for Shareef Abdur-Rahim:

You searched for "Cal Bowdler"
2 results found.
0: Cal Bowdler
1: Al Butler
Pick one: 0
Results for Cal Bowdler:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Emanual Davis"
2 results found.
0: Emanual Davis
1: Paul Davis
Pick one: 0
Results for Emanual Davis:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Hanno Möttölä"
1 result found.
Hanno Mottola
Results for Hanno Mottola:

You searched for "Ira Newble"
2 results found.
0: Ira Newble
1: Kira Lewis
Pick one: 0
Results for Ira Newble:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Dickey Simpkins"
1 result found.
Dickey Simpkins
Results for Dickey Simpkins:

You searched for "Reggie Slater"
8 results found.
0: Reggie Slater
1: Reggie Carter
2: Reggie Miller
3: Reggie Smith
4: Reggie Geary
5: Reggie Hearn
6: Reggie Lewis
7: Reggie Perry
Pick one: 0
Results for Reggie Slater:

You searched for "Leon Smith"
43 results found.
0: Leon Smith
1: Don Smith
2: Don Smith
3: Ken Smith
4: Jalen Smith
5: Deb Smith
6: Ed Smith
7: Jason Smith
8: Joe Smith
9: John Smith
10: Kenny Smith
11: Pete Smith
12: Theron Smith
13: Tony Smith
14: Al Smith
15: Bill Smith
16: Clinton Smith
17: Dennis Smith
18: Derek Smith
19: Donta Smith
20: Doug Smith
21: Elmore Smith
22: Greg Smith
23: Greg Smith
24: Ish Smith
25: J.R. Smith
26: Jerry Smith
27: Jim Smith
28: Josh Smith
29: Keith Smith
30: Larry Smith
31: Mike Smith
32: Nolan Smith
33: Otis Smith
34: Phil Smith
35: Russ Smith
36: Sam Smith
37: Sam Smith
38: Steve Smith
39: Steven Smith
40: Stevin Smith
41: Joe Smyth
42: Tom Stith
Pick one: 0
Results for Leon Smith:

You searched for "Mark Strickland"
3 results found.
0: Mark Strickland
1: Erick Strickland
2: Rod Strickland
Pick one: 0
Results for Mark Strickland:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-11-23,24-347,ATL,HOME,DET,W (+7),1,45:12,21,30,...,12,5,2,1,2,1,50,46.0,12,Shareef Abdur-Rahim
1,2002-01-15,24-122,ATL,HOME,DAL,L (-9),1,45:24,15,23,...,3,5,3,0,5,4,46,35.1,-3,Jason Terry
2,2002-03-13,24-179,ATL,HOME,DEN,W (+3),1,43:17,11,14,...,3,8,3,0,0,2,31,33.9,3,Jason Terry
3,2002-02-12,25-063,ATL,HOME,NJN,W (+2),1,45:49,9,18,...,8,6,2,0,1,5,34,31.0,3,Shareef Abdur-Rahim
4,2001-11-20,24-066,ATL,AWAY,IND,L (-4),1,43:06,12,22,...,4,6,1,0,1,0,35,29.8,1,Jason Terry

In [17]:
ATL_2003_gamelog = []



for p in ATL_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2003_gamelog.append(player_log)
ATL_2003_gamelog = pd.concat(ATL_2003_gamelog)    
ATL_2003_gamelogs = ATL_2003_gamelog.copy()
ATL_2003_gamelogs['GAME_SCORE'] = ATL_2003_gamelogs['GAME_SCORE'].astype(float)
ATL_2003_games = ATL_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2003_games_csv = ATL_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2003_games.csv', index=False)
ATL_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2003_games.csv')
ATL_2003_games_proc.head()

You searched for "Shareef Abdur-Rahim"
1 result found.
Shareef Abdur-Rahim
Results for Shareef Abdur-Rahim:

You searched for "Corey Benjamin"
1 result found.
Corey Benjamin
Results for Corey Benjamin:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Emanual Davis"
2 results found.
0: Emanual Davis
1: Paul Davis
Pick one: 0
Results for Emanual Davis:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Darvin Ham"
1 result found.
Darvin Ham
Results for Darvin Ham:

You searched for "Antonio Harvey"
2 results found.
0: Antonio Harvey
1: Antonio Davis
Pick one: 0
Results for Antonio Harvey:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "Jermaine Jackson"
2 results found.
0: Jermaine Jackson
1: Mervin Jackson
Pick one: 0
Results for Jermaine Jackson:

You searched for "Matt Maloney"
6 results found.
0: Matt Maloney
1: Matt Mooney
2: Matt Barnes
3: Mo Mahoney
4: Karl Malone
5: Moses Malone
Pick one: 0
Results for Matt Maloney:

You searched for "Amal McCaskill"
1 result found.
Amal McCaskill
Results for Amal McCaskill:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Ira Newble"
2 results found.
0: Ira Newble
1: Kira Lewis
Pick one: 0
Results for Ira Newble:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Paul Shirley"
2 results found.
0: Paul Shirley
1: Paul Silas
Pick one: 0
Results for Paul Shirley:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

You searched for "Brandon Williams"
7 results found.
0: Brandon Williams
1: Aaron Williams
2: Frank Williams
3: Grant Williams
4: Jason Williams
5: Jayson Williams
6: Ron Williams
Pick one: 0
Results for Brandon Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-11-26,29-320,ATL,HOME,SEA,W (+3),1,48:01,12,20,...,12,5,3,1,7,4,37,31.2,2,Glenn Robinson
1,2003-03-21,30-070,ATL,AWAY,PHI,W (+9),1,41:32,13,20,...,11,4,4,0,6,4,37,30.7,19,Glenn Robinson
2,2003-02-28,25-166,ATL,AWAY,CHI,W (+22),1,40:20,10,14,...,10,13,1,1,2,0,23,29.4,18,Jason Terry
3,2002-10-30,29-293,ATL,AWAY,NJN,L (-11),1,41:56,12,26,...,10,8,5,2,7,2,34,29.0,-6,Glenn Robinson
4,2003-03-05,25-171,ATL,AWAY,CLE,W (+6),1,48:00,8,12,...,4,14,2,0,3,2,24,27.6,6,Jason Terry

In [29]:
# removed Mamadou N'Diaye

ATL_2004_gamelog = []



for p in ATL_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    player_log_ = player_log.drop(player_log[player_log['Player'] == "Mamadou N'Diaye"].index)
    ATL_2004_gamelog.append(player_log_)
ATL_2004_gamelog = pd.concat(ATL_2004_gamelog)    
ATL_2004_gamelogs = ATL_2004_gamelog.copy()
ATL_2004_gamelog
ATL_2004_gamelogs['GAME_SCORE'] = ATL_2004_gamelogs['GAME_SCORE'].astype(float)
ATL_2004_games = ATL_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2004_games_csv = ATL_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2004_games.csv', index=False)
ATL_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2004_games.csv')
ATL_2004_games_proc.head()

You searched for "Shareef Abdur-Rahim"
1 result found.
Shareef Abdur-Rahim
Results for Shareef Abdur-Rahim:

You searched for "Michael Bradley"
7 results found.
0: Michael Bradley
1: Michael Beasley
2: Michael Ansley
3: Michael Finley
4: Michael Frazier
5: Michael Wiley
6: Michael Bytzura
Pick one: 0
Results for Michael Bradley:

You searched for "Jason Collier"
3 results found.
0: Jason Collier
1: Jason Collins
2: Jarron Collins
Pick one: 0
Results for Jason Collier:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Josh Davis"
27 results found.
0: Josh Davis
1: Bob Davis
2: Jim Davis
3: Ron Davis
4: Josh Reaves
5: Josh Hall
6: Bob Davies
7: Ben Davis
8: Bill Davis
9: Brad Davis
10: Dale Davis
11: Ed Davis
12: Glen Davis
13: Johnny Davis
14: Lee Davis
15: Mark Davis
16: Mark Davis
17: Mel Davis
18: Mike Davis
19: Mike Davis
20: Monti Davis
21: Paul Davis
22: Ralph Davis
23: Red Davis
24: Walt Davis
25: Josh Hart
26: Josh Grant
Pick one: 0
Results for Josh Davis:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Hiram Fuller"
2 results found.
0: Hiram Fuller
1: Carl Fuller
Pick one: 0
Results for Hiram Fuller:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Travis Hansen"
3 results found.
0: Travis Hansen
1: Lars Hansen
2: Travis Mays
Pick one: 0
Results for Travis Hansen:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Lee Nailon"
2 results found.
0: Lee Nailon
1: Zeke Nnaji
Pick one: 0
Results for Lee Nailon:

You searched for "Wesley Person"
2 results found.
0: Wesley Person
1: Wesley Johnson
Pick one: 0
Results for Wesley Person:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Željko Rebrača"
1 result found.
Zeljko Rebraca
Results for Zeljko Rebraca:

You searched for "Bob Sura"
26 results found.
0: Bob Sura
1: Bob Shea
2: Bob Ford
3: Rob Kurz
4: Bob Rule
5: Bob Sims
6: Bob Verga
7: Bob Burrow
8: Bob Cousy
9: Bob Doll
10: Bob Duffy
11: Bob Duffy
12: Bob Ferry
13: Bob Love
14: Bob Nash
15: Bob Quick
16: Bob Tough
17: Bob Wood
18: Bob Davis
19: Bob Evans
20: Bob Gross
21: Bob Naber
22: Don Ray
23: Rob Rose
24: Bob Royer
25: Bob Weiss
Pick one: 0
Results for Bob Sura:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

You searched for "Rasheed Wallace"
2 results found.
0: Rasheed Wallace
1: Red Wallace
Pick one: 0
Results for Rasheed Wallace:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-03-12,25-342,ATL,HOME,WAS,W (+14),1,45:26,14,24,...,2,7,2,1,2,0,42,37.4,17,Stephen Jackson
1,2003-11-28,26-352,ATL,HOME,MIA,W (+12),1,36:21,11,14,...,12,0,3,1,2,2,34,34.3,16,Shareef Abdur-Rahim
2,2003-12-06,26-360,ATL,AWAY,CLE,L (-10),1,42:41,17,27,...,12,2,1,0,4,4,43,33.3,-8,Shareef Abdur-Rahim
3,2004-02-04,27-055,ATL,HOME,MIN,W (+8),1,44:14,11,21,...,14,5,1,0,0,3,32,30.8,15,Shareef Abdur-Rahim
4,2004-04-02,31-008,ATL,AWAY,ORL,W (+8),1,43:39,11,20,...,8,5,3,0,2,3,32,28.5,15,Bob Sura

In [20]:
ATL_2005_gamelog = []

for p in ATL_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2005_gamelog.append(player_log)
ATL_2005_gamelog = pd.concat(ATL_2005_gamelog)    
ATL_2005_gamelogs = ATL_2005_gamelog.copy()
ATL_2005_gamelogs['GAME_SCORE'] = ATL_2005_gamelogs['GAME_SCORE'].astype(float)
ATL_2005_games = ATL_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2005_games_csv = ATL_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2005_games.csv', index=False)
ATL_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2005_games.csv')
ATL_2005_games_proc.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Jon Barry"
30 results found.
0: Jon Barry
1: John Barr
2: Moe Barr
3: Ron Perry
4: John Bagley
5: Ron Baker
6: John Barber
7: Brent Barry
8: Drew Barry
9: Rick Barry
10: Jay Carty
11: Bob Ferry
12: John Garris
13: Joe Harris
14: Don May
15: Don Ray
16: Jason Terry
17: John Warren
18: Vin Baker
19: Tom Barker
20: Mike Barr
21: Cory Carr
22: Ron Carter
23: Ron Harper
24: Jason Hart
25: Josh Hart
26: Jon Leuer
27: Jack Parr
28: Von Wafer
29: John Wall
Pick one: 0
Results for Jon Barry:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Jason Collier"
3 results found.
0: Jason Collier
1: Jason Collins
2: Jarron Collins
Pick one: 0
Results for Jason Collier:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Predrag Drobnjak"
1 result found.
Predrag Drobnjak
Results for Predrag Drobnjak:

You searched for "Obinna Ekezie"
1 result found.
Obinna Ekezie
Results for Obinna Ekezie:

You searched for "Tom Gugliotta"
1 result found.
Tom Gugliotta
Results for Tom Gugliotta:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Jelani McCoy"
1 result found.
Jelani McCoy
Results for Jelani McCoy:

You searched for "Anthony Miller"
9 results found.
0: Anthony Miller
1: Anthony Peeler
2: Anthony Bonner
3: Anthony Carter
4: Anthony Parker
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tolliver
8: Anthony Tucker
Pick one: 0
Results for Anthony Miller:

You searched for "Donta Smith"
22 results found.
0: Donta Smith
1: Don Smith
2: Don Smith
3: Doug Smith
4: Tony Smith
5: Bingo Smith
6: Bobby Smith
7: Deb Smith
8: Dennis Smith
9: Derek Smith
10: Joe Smith
11: John Smith
12: Josh Smith
13: Keith Smith
14: Ken Smith
15: Kenny Smith
16: Leon Smith
17: Nolan Smith
18: Otis Smith
19: Pete Smith
20: Randy Smith
21: Donta Hall
Pick one: 0
Results for Donta Smith:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Michael Stewart"
1 result found.
Michael Stewart
Results for Michael Stewart:

You searched for "James Thomas"
18 results found.
0: James Thomas
1: Jamel Thomas
2: Jim Thomas
3: Joe Thomas
4: James Jones
5: James Phelan
6: James Silas
7: Carl Thomas
8: Charles Thomas
9: John Thomas
10: Lance Thomas
11: Matt Thomas
12: Tim Thomas
13: Tyrus Thomas
14: James Hardy
15: James Posey
16: James Cotton
17: James Worthy
Pick one: 0
Results for James Thomas:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Kevin Willis"
4 results found.
0: Kevin Willis
1: Kevin Williams
2: Kevin Ollie
3: Alvin Williams
Pick one: 0
Results for Kevin Willis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-04-17,27-349,ATL,AWAY,NYK,W (+4),1,36:05,10,14,...,1,6,1,0,2,3,32,28.5,3,Tyronn Lue
1,2005-01-28,28-169,ATL,HOME,MIA,L (-10),1,46:13,12,18,...,10,8,0,1,8,4,36,26.7,-9,Antoine Walker
2,2004-11-30,28-110,ATL,HOME,NYK,L (-1),1,49:20,13,23,...,13,4,2,2,9,1,36,25.4,-2,Antoine Walker
3,2005-03-14,27-315,ATL,HOME,DET,L (-6),1,40:37,10,18,...,2,10,1,0,0,5,27,25.0,1,Tyronn Lue
4,2004-11-17,24-274,ATL,AWAY,IND,L (-7),1,41:15,12,19,...,6,2,3,0,1,5,30,23.9,-5,Al Harrington

In [21]:
ATL_2006_gamelog = []

for p in ATL_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2006_gamelog.append(player_log)
ATL_2006_gamelog = pd.concat(ATL_2006_gamelog)    
ATL_2006_gamelogs = ATL_2006_gamelog.copy()
ATL_2006_gamelogs['GAME_SCORE'] = ATL_2006_gamelogs['GAME_SCORE'].astype(float)
ATL_2006_games = ATL_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2006_games_csv = ATL_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2006_games.csv', index=False)
ATL_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2006_games.csv')
ATL_2006_games_proc.head()

You searched for "Esteban Batista"
1 result found.
Esteban Batista
Results for Esteban Batista:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "John Edwards"
10 results found.
0: John Edwards
1: Doug Edwards
2: Jay Edwards
3: Bill Edwards
4: Blue Edwards
5: James Edwards
6: Kevin Edwards
7: Shane Edwards
8: John Starks
9: John Warren
Pick one: 0
Results for John Edwards:

You searched for "Anthony Grundy"
1 result found.
Anthony Grundy
Results for Anthony Grundy:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Donta Smith"
22 results found.
0: Donta Smith
1: Don Smith
2: Don Smith
3: Doug Smith
4: Tony Smith
5: Bingo Smith
6: Bobby Smith
7: Deb Smith
8: Dennis Smith
9: Derek Smith
10: Joe Smith
11: John Smith
12: Josh Smith
13: Keith Smith
14: Ken Smith
15: Kenny Smith
16: Leon Smith
17: Nolan Smith
18: Otis Smith
19: Pete Smith
20: Randy Smith
21: Donta Hall
Pick one: 0
Results for Donta Smith:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "John Thomas"
21 results found.
0: John Thomas
1: Joe Thomas
2: Etan Thomas
3: Jim Thomas
4: John Thompson
5: John Logan
6: John Lucas
7: John Shumate
8: Carl Thomas
9: Jamel Thomas
10: James Thomas
11: Kenny Thomas
12: Kurt Thomas
13: Matt Thomas
14: Tim Thomas
15: John Hazen
16: John Oldham
17: John Stroud
18: John Trapp
19: John Tschogl
20: Johan Petro
Pick one: 0
Results for John Thomas:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-03-19,24-263,ATL,HOME,ORL,W (+1),1,47:33,17,24,...,3,11,0,0,0,3,40,37.8,7,Joe Johnson
1,2006-02-24,24-240,ATL,AWAY,IND,W (+5),1,47:21,16,24,...,1,13,3,0,4,5,40,36.4,3,Joe Johnson
2,2005-11-23,25-279,ATL,HOME,BOS,W (+3),1,45:44,11,18,...,6,7,1,1,2,5,34,30.2,2,Al Harrington
3,2006-03-07,24-251,ATL,HOME,GSW,W (+7),1,48:00,14,27,...,6,9,1,0,7,3,42,30.0,7,Joe Johnson
4,2005-12-16,24-170,ATL,HOME,NYK,W (+11),1,37:38,14,18,...,4,5,1,0,4,0,36,29.5,11,Joe Johnson

In [24]:
ATL_2007_gamelog = []

for p in ATL_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2007_gamelog.append(player_log)
ATL_2007_gamelog = pd.concat(ATL_2007_gamelog)    
ATL_2007_gamelogs = ATL_2007_gamelog.copy()
ATL_2007_gamelogs['GAME_SCORE'] = ATL_2007_gamelogs['GAME_SCORE'].astype(float)
ATL_2007_games = ATL_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2007_games_csv = ATL_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2007_games.csv', index=False)
ATL_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2007_games.csv')
ATL_2007_games_proc.head()

You searched for "Esteban Batista"
1 result found.
Esteban Batista
Results for Esteban Batista:

You searched for "Cedric Bozeman"
1 result found.
Cedric Bozeman
Results for Cedric Bozeman:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Speedy Claxton"
1 result found.
Speedy Claxton
Results for Speedy Claxton:

You searched for "Matt Freije"
4 results found.
0: Matt Freije
1: Matt Fish
2: Matt Geiger
3: Matt Barnes
Pick one: 0
Results for Matt Freije:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jeremy Richardson"
2 results found.
0: Jeremy Richardson
1: Norm Richardson
Pick one: 0
Results for Jeremy Richardson:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "Dijon Thompson"
6 results found.
0: Dijon Thompson
1: Jason Thompson
2: John Thompson
3: Billy Thompson
4: David Thompson
5: Kevin Thompson
Pick one: 0
Results for Dijon Thompson:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

You searched for "Lorenzen Wright"
2 results found.
0: Lorenzen Wright
1: Lonnie Wright
Pick one: 0
Results for Lorenzen Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-01-26,25-211,ATL,AWAY,ORL,W (+3),1,45:20,14,23,...,3,6,0,0,3,1,39,30.2,13,Joe Johnson
1,2007-01-12,25-197,ATL,HOME,DET,W (+6),1,36:11,13,17,...,3,5,1,0,1,3,34,29.7,4,Joe Johnson
2,2006-11-10,25-134,ATL,AWAY,TOR,W (+9),1,41:50,12,20,...,8,5,1,0,2,1,34,29.7,10,Joe Johnson
3,2007-03-13,21-098,ATL,HOME,PHI,W (+12),1,37:28,11,20,...,17,5,4,3,3,3,26,29.7,22,Josh Smith
4,2006-12-03,25-157,ATL,AWAY,POR,W (+11),1,45:25,14,22,...,6,6,1,0,1,0,33,29.2,8,Joe Johnson

In [25]:
ATL_2008_gamelog = []

for p in ATL_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2008_gamelog.append(player_log)
ATL_2008_gamelog = pd.concat(ATL_2008_gamelog)    
ATL_2008_gamelogs = ATL_2008_gamelog.copy()
ATL_2008_gamelogs['GAME_SCORE'] = ATL_2008_gamelogs['GAME_SCORE'].astype(float)
ATL_2008_games = ATL_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2008_games_csv = ATL_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2008_games.csv', index=False)
ATL_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2008_games.csv')
ATL_2008_games_proc.head()

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Acie Law"
3 results found.
0: Acie Law
1: Acie Earl
2: Vic Law
Pick one: 0
Results for Acie Law:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jeremy Richardson"
2 results found.
0: Jeremy Richardson
1: Norm Richardson
Pick one: 0
Results for Jeremy Richardson:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "Mario West"
7 results found.
0: Mario West
1: Mark West
2: David West
3: Mario Elie
4: Mario Kasun
5: Jerry West
6: Tariq Owens
Pick one: 0
Results for Mario West:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

You searched for "Lorenzen Wright"
2 results found.
0: Lorenzen Wright
1: Lonnie Wright
Pick one: 0
Results for Lorenzen Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-03-08,26-253,ATL,HOME,MIA,W (+3),1,45:19,15,27,...,6,8,3,2,4,1,39,33.9,5,Joe Johnson
1,2008-03-22,26-267,ATL,HOME,ORL,W (+8),1,45:29,12,20,...,5,7,3,1,2,2,34,32.9,16,Joe Johnson
2,2008-01-13,26-198,ATL,HOME,CHI,W (+21),1,42:26,13,23,...,9,6,1,0,1,2,37,32.6,17,Joe Johnson
3,2008-04-11,26-287,ATL,AWAY,NYK,W (+12),1,43:27,13,21,...,4,6,2,1,0,0,34,32.2,6,Joe Johnson
4,2007-11-14,26-138,ATL,HOME,CHA,W (+8),1,44:28,11,18,...,5,10,1,0,3,1,34,31.9,6,Joe Johnson

In [26]:
ATL_2009_gamelog = []

for p in ATL_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2009_gamelog.append(player_log)
ATL_2009_gamelog = pd.concat(ATL_2009_gamelog)    
ATL_2009_gamelogs = ATL_2009_gamelog.copy()
ATL_2009_gamelogs['GAME_SCORE'] = ATL_2009_gamelogs['GAME_SCORE'].astype(float)
ATL_2009_games = ATL_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2009_games_csv = ATL_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2009_games.csv', index=False)
ATL_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2009_games.csv')
ATL_2009_games_proc.head()

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Speedy Claxton"
1 result found.
Speedy Claxton
Results for Speedy Claxton:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Thomas Gardner"
1 result found.
Thomas Gardner
Results for Thomas Gardner:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Othello Hunter"
1 result found.
Othello Hunter
Results for Othello Hunter:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Acie Law"
3 results found.
0: Acie Law
1: Acie Earl
2: Vic Law
Pick one: 0
Results for Acie Law:

You searched for "Randolph Morris"
1 result found.
Randolph Morris
Results for Randolph Morris:

You searched for "Ronald Murray"
4 results found.
0: Ronald Murray
1: Ronald Dupree
2: Jamal Murray
3: Ronald Franz
Pick one: 0
Results for Ronald Murray:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Mario West"
7 results found.
0: Mario West
1: Mark West
2: David West
3: Mario Elie
4: Mario Kasun
5: Jerry West
6: Tariq Owens
Pick one: 0
Results for Mario West:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-12-27,27-181,ATL,HOME,CHI,W (+12),1,44:16,16,31,...,3,8,2,0,1,2,41,32.4,15,Joe Johnson
1,2009-03-15,27-259,ATL,HOME,POR,W (+18),1,42:51,15,27,...,7,6,2,0,0,1,35,29.2,14,Joe Johnson
2,2008-11-14,27-138,ATL,AWAY,NJN,L (-7),1,39:14,11,16,...,9,5,2,0,3,4,32,29.2,-8,Joe Johnson
3,2009-03-31,23-116,ATL,AWAY,PHI,L (-13),1,40:35,13,15,...,5,1,2,2,4,2,33,28.5,-17,Josh Smith
4,2008-11-11,22-161,ATL,AWAY,CHI,W (+5),1,41:29,9,18,...,17,3,1,6,2,2,27,28.4,11,Al Horford

In [28]:
ATL_2010_gamelog = []

for p in ATL_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2010_gamelog.append(player_log)
ATL_2010_gamelog = pd.concat(ATL_2010_gamelog)    
ATL_2010_gamelogs = ATL_2010_gamelog.copy()
ATL_2010_gamelogs['GAME_SCORE'] = ATL_2010_gamelogs['GAME_SCORE'].astype(float)
ATL_2010_games = ATL_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2010_games_csv = ATL_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2010_games.csv', index=False)
ATL_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2010_games.csv')
ATL_2010_games_proc.head()

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Othello Hunter"
1 result found.
Othello Hunter
Results for Othello Hunter:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Randolph Morris"
1 result found.
Randolph Morris
Results for Randolph Morris:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Mario West"
7 results found.
0: Mario West
1: Mark West
2: David West
3: Mario Elie
4: Mario Kasun
5: Jerry West
6: Tariq Owens
Pick one: 0
Results for Mario West:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-02-17,23-259,ATL,AWAY,LAC,W (+18),1,33:26,12,15,...,6,4,3,0,1,2,31,31.9,22,Al Horford
1,2010-03-05,24-090,ATL,HOME,GSW,W (+5),1,45:02,10,15,...,9,5,3,3,2,6,29,28.2,12,Josh Smith
2,2009-11-07,23-337,ATL,HOME,DEN,W (+25),1,35:17,8,10,...,9,7,0,6,1,2,22,28.2,25,Josh Smith
3,2009-12-26,23-206,ATL,AWAY,IND,W (+12),1,42:50,11,14,...,19,2,0,5,2,2,25,28.2,18,Al Horford
4,2010-01-01,23-212,ATL,HOME,NYK,L (-4),1,47:20,11,14,...,19,4,1,3,2,3,22,27.8,-5,Al Horford

In [29]:
ATL_2011_gamelog = []

for p in ATL_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2011_gamelog.append(player_log)
ATL_2011_gamelog = pd.concat(ATL_2011_gamelog)    
ATL_2011_gamelogs = ATL_2011_gamelog.copy()
ATL_2011_gamelogs['GAME_SCORE'] = ATL_2011_gamelogs['GAME_SCORE'].astype(float)
ATL_2011_games = ATL_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2011_games_csv = ATL_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2011_games.csv', index=False)
ATL_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2011_games.csv')
ATL_2011_games_proc.head()

You searched for "Hilton Armstrong"
1 result found.
Hilton Armstrong
Results for Hilton Armstrong:

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Josh Powell"
7 results found.
0: Josh Powell
1: Josh Hall
2: Josh Howard
3: Kasib Powell
4: Roger Powell
5: Josh Selby
6: Josh Okogie
Pick one: 0
Results for Josh Powell:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Pape Sy"
2 results found.
0: Pape Sy
1: Pape Sow
Pick one: 0
Results for Pape Sy:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Damien Wilkins"
1 result found.
Damien Wilkins
Results for Damien Wilkins:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-12-07,25-002,ATL,HOME,NJN,W (+15),1,37:58,14,16,...,3,7,1,2,1,1,34,34.0,17,Josh Smith
1,2010-11-07,24-157,ATL,HOME,PHO,L (-4),1,42:06,13,16,...,10,5,1,2,1,0,30,33.5,6,Al Horford
2,2011-02-02,29-218,ATL,HOME,TOR,W (+13),1,39:05,15,21,...,2,8,0,0,2,1,37,31.7,18,Joe Johnson
3,2010-11-14,24-164,ATL,HOME,MIN,W (+6),1,35:40,9,14,...,10,3,1,3,0,2,28,30.4,5,Al Horford
4,2011-01-17,29-202,ATL,HOME,SAC,W (+2),1,41:26,16,27,...,5,6,1,0,0,0,36,30.2,9,Joe Johnson

In [30]:
ATL_2012_gamelog = []

for p in ATL_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2012_gamelog.append(player_log)
ATL_2012_gamelog = pd.concat(ATL_2012_gamelog)    
ATL_2012_gamelogs = ATL_2012_gamelog.copy()
ATL_2012_gamelogs['GAME_SCORE'] = ATL_2012_gamelogs['GAME_SCORE'].astype(float)
ATL_2012_games = ATL_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2012_games_csv = ATL_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2012_games.csv', index=False)
ATL_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2012_games.csv')
ATL_2012_games_proc.head()

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Erick Dampier"
2 results found.
0: Erick Dampier
1: Erik Daniels
Pick one: 0
Results for Erick Dampier:

You searched for "Willie Green"
14 results found.
0: Willie Green
1: Willie Reed
2: Willie Allen
3: Willis Reed
4: Willie Warren
5: Willie Burton
6: Mike Green
7: Tommie Green
8: Willie Jones
9: Willie Porter
10: Willie Wise
11: Willie Long
12: Willie Rogers
13: Willie White
Pick one: 0
Results for Willie Green:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Ivan Johnson"
29 results found.
0: Ivan Johnson
1: Clay Johnson
2: Ervin Johnson
3: Frank Johnson
4: John Johnson
5: Ken Johnson
6: Ken Johnson
7: Kevin Johnson
8: Ron Johnson
9: Amir Johnson
10: Andy Johnson
11: Armon Johnson
12: Avery Johnson
13: B.J. Johnson
14: Buck Johnson
15: Dave Johnson
16: Ed Johnson
17: Eric Johnson
18: Gus Johnson
19: JaJuan Johnson
20: Joe Johnson
21: Lee Johnson
22: Linton Johnson
23: Neil Johnson
24: Nick Johnson
25: Omari Johnson
26: Rich Johnson
27: Stew Johnson
28: Trey Johnson
Pick one: 0
Results for Ivan Johnson:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Tracy McGrady"
2 results found.
0: Tracy McGrady
1: Tracy Murray
Pick one: 0
Results for Tracy McGrady:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Donald Sloan"
3 results found.
0: Donald Sloan
1: Donald Royal
2: Donald Sidle
Pick one: 0
Results for Donald Sloan:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Jerry Stackhouse"
1 result found.
Jerry Stackhouse
Results for Jerry Stackhouse:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-03-13,26-099,ATL,AWAY,DEN,L (-1),1,36:22,13,23,...,13,7,1,2,1,6,33,31.5,6,Josh Smith
1,2012-04-20,30-296,ATL,HOME,BOS,W (+5),1,30:41,11,18,...,5,6,2,1,0,1,30,30.6,15,Joe Johnson
2,2012-03-16,30-261,ATL,HOME,WAS,W (+14),1,36:36,12,19,...,6,5,1,0,2,1,34,30.2,17,Joe Johnson
3,2012-03-31,26-117,ATL,AWAY,PHI,L (-5),1,36:12,12,18,...,9,5,2,1,3,6,34,30.1,2,Josh Smith
4,2012-02-15,26-072,ATL,AWAY,PHO,W (+2),1,44:41,12,23,...,17,7,4,3,4,3,30,30.0,13,Josh Smith

In [31]:
ATL_2013_gamelog = []

for p in ATL_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2013_gamelog.append(player_log)
ATL_2013_gamelog = pd.concat(ATL_2013_gamelog)    
ATL_2013_gamelogs = ATL_2013_gamelog.copy()
ATL_2013_gamelogs['GAME_SCORE'] = ATL_2013_gamelogs['GAME_SCORE'].astype(float)
ATL_2013_games = ATL_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2013_games_csv = ATL_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2013_games.csv', index=False)
ATL_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2013_games.csv')
ATL_2013_games_proc.head()

You searched for "Devin Harris"
8 results found.
0: Devin Harris
1: Jalen Harris
2: Bernie Harris
3: Chris Harris
4: Elias Harris
5: Steve Harris
6: David Harrison
7: Kevin Martin
Pick one: 0
Results for Devin Harris:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "John Jenkins"
5 results found.
0: John Jenkins
1: John Collins
2: John Henson
3: John Johnson
4: John Mahnken
Pick one: 0
Results for John Jenkins:

You searched for "Ivan Johnson"
29 results found.
0: Ivan Johnson
1: Clay Johnson
2: Ervin Johnson
3: Frank Johnson
4: John Johnson
5: Ken Johnson
6: Ken Johnson
7: Kevin Johnson
8: Ron Johnson
9: Amir Johnson
10: Andy Johnson
11: Armon Johnson
12: Avery Johnson
13: B.J. Johnson
14: Buck Johnson
15: Dave Johnson
16: Ed Johnson
17: Eric Johnson
18: Gus Johnson
19: JaJuan Johnson
20: Joe Johnson
21: Lee Johnson
22: Linton Johnson
23: Neil Johnson
24: Nick Johnson
25: Omari Johnson
26: Rich Johnson
27: Stew Johnson
28: Trey Johnson
Pick one: 0
Results for Ivan Johnson:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Anthony Morrow"
10 results found.
0: Anthony Morrow
1: Anthony Brown
2: Anthony Cook
3: Anthony Mason
4: Anthony Bonner
5: Anthony Bowie
6: Anthony Carter
7: Anthony Miller
8: Anthony Parker
9: Anthony Taylor
Pick one: 0
Results for Anthony Morrow:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Johan Petro"
4 results found.
0: Johan Petro
1: John Brown
2: John Roche
3: John Trapp
Pick one: 0
Results for Johan Petro:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Anthony Tolliver"
3 results found.
0: Anthony Tolliver
1: Anthony Miller
2: Anthony Goldwire
Pick one: 0
Results for Anthony Tolliver:

You searched for "Jeremy Tyler"
4 results found.
0: Jeremy Tyler
1: Terry Tyler
2: Jeremy Lin
3: Jeremy Lamb
Pick one: 0
Results for Jeremy Tyler:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-13,27-193,ATL,HOME,WAS,W (+2),1,41:00,15,23,...,15,2,2,0,2,0,34,31.8,-3,Al Horford
1,2013-02-27,26-269,ATL,AWAY,UTA,W (+11),1,42:40,14,22,...,15,3,1,5,4,4,34,31.3,11,Al Horford
2,2014-03-18,25-281,ATL,HOME,TOR,W (+5),1,40:12,11,18,...,3,5,4,0,3,2,34,30.4,1,Jeff Teague
3,2013-11-15,25-158,ATL,HOME,PHI,W (+10),1,34:52,10,16,...,4,10,1,0,4,3,33,29.4,18,Jeff Teague
4,2013-01-25,31-314,ATL,HOME,BOS,W (+12),1,44:21,8,13,...,6,4,3,2,1,1,27,29.1,28,Kyle Korver

In [32]:
ATL_2014_gamelog = []

for p in ATL_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2014_gamelog.append(player_log)
ATL_2014_gamelog = pd.concat(ATL_2014_gamelog)    
ATL_2014_gamelogs = ATL_2014_gamelog.copy()
ATL_2014_gamelogs['GAME_SCORE'] = ATL_2014_gamelogs['GAME_SCORE'].astype(float)
ATL_2014_games = ATL_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2014_games_csv = ATL_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2014_games.csv', index=False)
ATL_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2014_games.csv')
ATL_2014_games_proc.head()

You searched for "Pero Antić"
1 result found.
Pero Antic
Results for Pero Antic:

You searched for "Gustavo Ayón"
1 result found.
Gustavo Ayon
Results for Gustavo Ayon:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "Jared Cunningham"
2 results found.
0: Jared Cunningham
1: Dante Cunningham
Pick one: 0
Results for Jared Cunningham:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "John Jenkins"
5 results found.
0: John Jenkins
1: John Collins
2: John Henson
3: John Johnson
4: John Mahnken
Pick one: 0
Results for John Jenkins:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "James Nunnally"
1 result found.
James Nunnally
Results for James Nunnally:

You searched for "Dexter Pittman"
1 result found.
Dexter Pittman
Results for Dexter Pittman:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-13,27-193,ATL,HOME,WAS,W (+2),1,41:00,15,23,...,15,2,2,0,2,0,34,31.8,-3,Al Horford
1,2013-12-31,28-324,ATL,AWAY,BOS,W (+1),1,39:11,12,19,...,15,2,2,2,4,2,34,30.4,18,Paul Millsap
2,2014-03-18,25-281,ATL,HOME,TOR,W (+5),1,40:12,11,18,...,3,5,4,0,3,2,34,30.4,1,Jeff Teague
3,2013-11-15,25-158,ATL,HOME,PHI,W (+10),1,34:52,10,16,...,4,10,1,0,4,3,33,29.4,18,Jeff Teague
4,2013-11-07,28-270,ATL,AWAY,DEN,L (-2),1,34:28,10,15,...,10,5,2,1,0,4,29,29.3,13,Paul Millsap

In [33]:
ATL_2015_gamelog = []

for p in ATL_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2015_gamelog.append(player_log)
ATL_2015_gamelog = pd.concat(ATL_2015_gamelog)    
ATL_2015_gamelogs = ATL_2015_gamelog.copy()
ATL_2015_gamelogs['GAME_SCORE'] = ATL_2015_gamelogs['GAME_SCORE'].astype(float)
ATL_2015_games = ATL_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2015_games_csv = ATL_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2015_games.csv', index=False)
ATL_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2015_games.csv')
ATL_2015_games_proc.head()

You searched for "Pero Antić"
1 result found.
Pero Antic
Results for Pero Antic:

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "Austin Daye"
4 results found.
0: Austin Daye
1: Austin Carr
2: Justin James
3: Justin Reed
Pick one: 0
Results for Austin Daye:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "John Jenkins"
5 results found.
0: John Jenkins
1: John Collins
2: John Henson
3: John Johnson
4: John Mahnken
Pick one: 0
Results for John Jenkins:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Adreian Payne"
1 result found.
Adreian Payne
Results for Adreian Payne:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-11-12,29-275,ATL,HOME,UTA,W (+3),1,39:48,13,23,...,17,3,2,2,2,2,30,29.3,7,Paul Millsap
1,2014-12-03,26-176,ATL,AWAY,MIA,W (+10),1,33:30,8,11,...,5,6,3,0,2,1,27,28.8,1,Jeff Teague
2,2015-01-28,29-352,ATL,HOME,BRK,W (+11),1,35:03,5,9,...,15,1,1,2,3,3,28,28.7,7,Paul Millsap
3,2014-11-18,29-281,ATL,HOME,LAL,L (-5),1,32:33,11,16,...,4,3,4,2,1,2,29,27.9,-2,Paul Millsap
4,2015-01-02,26-206,ATL,AWAY,UTA,W (+6),1,35:41,9,17,...,4,8,3,0,0,0,26,27.1,24,Jeff Teague

In [43]:
# removed tim hardwaya
# removed edy tavares

ATL_2016_gamelog = []

for p in ATL_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2016_gamelog.append(player_log)
ATL_2016_gamelog = pd.concat(ATL_2016_gamelog)    
ATL_2016_gamelogs = ATL_2016_gamelog.copy()
ATL_2016_gamelogs['GAME_SCORE'] = ATL_2016_gamelogs['GAME_SCORE'].astype(float)
ATL_2016_games = ATL_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2016_games_csv = ATL_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2016_games.csv', index=False)
ATL_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2016_games.csv')
ATL_2016_games_proc.head()

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Lamar Patterson"
2 results found.
0: Lamar Patterson
1: Tom Patterson
Pick one: 0
Results for Lamar Patterson:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-01-09,29-220,ATL,HOME,CHI,W (+15),1,36:18,15,21,...,10,6,1,4,0,2,33,35.7,22,Al Horford
1,2016-02-01,27-236,ATL,HOME,DAL,W (+15),1,27:48,12,15,...,5,8,1,0,2,2,32,31.6,6,Jeff Teague
2,2015-12-29,29-209,ATL,AWAY,HOU,W (+6),1,35:55,11,15,...,14,2,1,1,0,3,30,31.2,19,Al Horford
3,2016-04-09,31-059,ATL,HOME,BOS,W (+11),1,38:43,13,22,...,16,3,2,5,3,2,31,30.2,20,Paul Millsap
4,2016-02-22,29-264,ATL,HOME,GSW,L (-10),1,39:26,10,20,...,16,6,3,5,1,1,23,28.7,-6,Al Horford

In [49]:
# removed mike dunleavy
# removed edy tavares
# selected Tim Hardaway, Jr = #1

ATL_2017_gamelog = []

for p in ATL_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2017_gamelog.append(player_log)
ATL_2017_gamelog = pd.concat(ATL_2017_gamelog)    
ATL_2017_gamelogs = ATL_2017_gamelog.copy()
ATL_2017_gamelogs['GAME_SCORE'] = ATL_2017_gamelogs['GAME_SCORE'].astype(float)
ATL_2017_games = ATL_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2017_games_csv = ATL_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2017_games.csv', index=False)
ATL_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2017_games.csv')
ATL_2017_games_proc.head()

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "José Calderón"
1 result found.
Jose Calderon
Results for Jose Calderon:

You searched for "Malcolm Delaney"
1 result found.
Malcolm Delaney
Results for Malcolm Delaney:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Dwight Howard"
2 results found.
0: Dwight Howard
1: Dwight Powell
Pick one: 0
Results for Dwight Howard:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Ryan Kelly"
8 results found.
0: Ryan Kelly
1: Rich Kelley
2: Tom Kelly
3: Ryan Reid
4: Jordan Bell
5: Ryan Bowen
6: Ryan Gomes
7: Ryan Stack
Pick one: 0
Results for Ryan Kelly:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Lamar Patterson"
2 results found.
0: Lamar Patterson
1: Tom Patterson
Pick one: 0
Results for Lamar Patterson:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-01-29,31-354,ATL,HOME,NYK,W (+3),1,60:07,13,29,...,19,7,1,0,3,4,37,31.3,-1,Paul Millsap
1,2016-12-07,30-365,ATL,HOME,MIA,W (+8),1,35:05,9,11,...,17,4,1,2,1,2,23,29.8,16,Dwight Howard
2,2016-12-19,23-095,ATL,AWAY,OKC,W (+2),1,39:50,10,16,...,5,8,0,0,4,1,31,27.3,9,Dennis Schröder
3,2017-02-02,31-056,ATL,AWAY,HOU,W (+5),1,37:18,11,13,...,23,3,1,2,5,1,24,26.9,9,Dwight Howard
4,2016-12-16,31-008,ATL,AWAY,TOR,W (+4),1,34:03,10,13,...,15,1,0,0,1,3,27,26.5,15,Dwight Howard

In [37]:

ATL_2018_gamelog = []

for p in ATL_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2018_gamelog.append(player_log)
ATL_2018_gamelog = pd.concat(ATL_2018_gamelog)    
ATL_2018_gamelogs = ATL_2018_gamelog.copy()
ATL_2018_gamelogs['GAME_SCORE'] = ATL_2018_gamelogs['GAME_SCORE'].astype(float)
ATL_2018_games = ATL_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2018_games_csv = ATL_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2018_games.csv', index=False)
ATL_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2018_games.csv')
ATL_2018_games_proc.head()

You searched for "Luke Babbitt"
2 results found.
0: Luke Babbitt
1: Luke Witte
Pick one: 0
Results for Luke Babbitt:

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Nicolás Brussino"
1 result found.
Nicolas Brussino
Results for Nicolas Brussino:

You searched for "Tyler Cavanaugh"
1 result found.
Tyler Cavanaugh
Results for Tyler Cavanaugh:

You searched for "Antonius Cleveland"
1 result found.
Antonius Cleveland
Results for Antonius Cleveland:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Malcolm Delaney"
1 result found.
Malcolm Delaney
Results for Malcolm Delaney:

You searched for "Tyler Dorsey"
3 results found.
0: Tyler Dorsey
1: Tyler Bey
2: Joey Dorsey
Pick one: 0
Results for Tyler Dorsey:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Damion Lee"
9 results found.
0: Damion Lee
1: David Lee
2: David Lee
3: Saben Lee
4: Don Dee
5: Damion James
6: Dick Lee
7: Ron Lee
8: Davon Reed
Pick one: 0
Results for Damion Lee:

You searched for "Josh Magette"
1 result found.
Josh Magette
Results for Josh Magette:

You searched for "Jaylen Morris"
3 results found.
0: Jaylen Morris
1: Jalen Harris
2: Jaylen Hoard
Pick one: 0
Results for Jaylen Morris:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Isaiah Taylor"
3 results found.
0: Isaiah Taylor
1: Brian Taylor
2: Isaiah Thomas
Pick one: 0
Results for Isaiah Taylor:

You searched for "Andrew White"
5 results found.
0: Andrew White
1: Andrew Gaze
2: Randy White
3: Rodney White
4: Andrew Bogut
Pick one: 0
Results for Andrew White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-11,23-354,ATL,HOME,CHI,L (-7),1,35:20,11,18,...,6,7,1,0,2,1,38,34.7,10,Taurean Prince
1,2018-03-20,24-186,ATL,AWAY,UTA,W (+5),1,34:47,16,28,...,5,7,0,0,2,3,41,29.8,10,Dennis Schröder
2,2017-12-29,23-282,ATL,AWAY,TOR,L (-13),1,34:39,12,16,...,10,1,0,2,0,1,30,28.3,-5,Taurean Prince
3,2017-11-15,28-095,ATL,HOME,SAC,W (+46),1,23:53,9,10,...,14,5,2,2,0,3,20,27.7,21,Dewayne Dedmon
4,2018-04-08,24-017,ATL,AWAY,BOS,W (+6),1,39:15,12,17,...,8,5,1,1,5,2,33,27.7,6,Taurean Prince

In [38]:
ATL_2019_gamelog = []

for p in ATL_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2019_gamelog.append(player_log)
ATL_2019_gamelog = pd.concat(ATL_2019_gamelog)    
ATL_2019_gamelogs = ATL_2019_gamelog.copy()
ATL_2019_gamelogs['GAME_SCORE'] = ATL_2019_gamelogs['GAME_SCORE'].astype(float)
ATL_2019_games = ATL_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2019_games_csv = ATL_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2019_games.csv', index=False)
ATL_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2019_games.csv')
ATL_2019_games_proc.head()

You searched for "Jaylen Adams"
6 results found.
0: Jaylen Adams
1: Alvan Adams
2: Hassan Adams
3: Jordan Adams
4: Steven Adams
5: Jaylen Hoard
Pick one: 0
Results for Jaylen Adams:

You searched for "Justin Anderson"
1 result found.
Justin Anderson
Results for Justin Anderson:

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Vince Carter"
6 results found.
0: Vince Carter
1: Vince Hunter
2: Butch Carter
3: Jake Carter
4: Ron Carter
5: Vince Taylor
Pick one: 0
Results for Vince Carter:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Deyonta Davis"
2 results found.
0: Deyonta Davis
1: Monti Davis
Pick one: 0
Results for Deyonta Davis:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Tyler Dorsey"
3 results found.
0: Tyler Dorsey
1: Tyler Bey
2: Joey Dorsey
Pick one: 0
Results for Tyler Dorsey:

You searched for "Daniel Hamilton"
4 results found.
0: Daniel Hamilton
1: Dale Hamilton
2: Dennis Hamilton
3: Tang Hamilton
Pick one: 0
Results for Daniel Hamilton:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "Isaac Humphries"
2 results found.
0: Isaac Humphries
1: Jay Humphries
Pick one: 0
Results for Isaac Humphries:

You searched for "B.J. Johnson"
22 results found.
0: B.J. Johnson
1: Buck Johnson
2: Amir Johnson
3: Andy Johnson
4: Brice Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: Eric Johnson
9: Gus Johnson
10: Ivan Johnson
11: Joe Johnson
12: John Johnson
13: Ken Johnson
14: Ken Johnson
15: Lee Johnson
16: Neil Johnson
17: Nick Johnson
18: Rich Johnson
19: Ron Johnson
20: Stew Johnson
21: Trey Johnson
Pick one: 0
Results for B.J. Johnson:

You searched for "Alex Len"
7 results found.
0: Alex Len
1: Saben Lee
2: Alex Acker
3: Alex Kirk
4: Greg Lee
5: Alex Scales
6: Hal Hale
Pick one: 0
Results for Alex Len:

You searched for "Jeremy Lin"
5 results found.
0: Jeremy Lin
1: Jeremy Lamb
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Lin:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Alex Poythress"
1 result found.
Alex Poythress
Results for Alex Poythress:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Jordan Sibert"
3 results found.
0: Jordan Sibert
1: Jordan Bell
2: Jordan Mickey
Pick one: 0
Results for Jordan Sibert:

You searched for "Omari Spellman"
1 result found.
Omari Spellman
Results for Omari Spellman:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-01,20-163,ATL,HOME,CHI,L (-7),1,55:50,17,33,...,8,16,1,1,9,2,49,37.8,-9,Trae Young
1,2019-04-03,20-196,ATL,HOME,PHI,W (+8),1,32:49,12,18,...,7,12,1,0,2,4,33,33.9,6,Trae Young
2,2019-01-23,21-122,ATL,AWAY,CHI,W (+20),1,29:10,14,16,...,8,2,2,0,2,4,35,32.8,33,John Collins
3,2019-02-02,21-132,ATL,AWAY,PHO,W (+6),1,38:49,13,20,...,16,2,0,1,2,2,35,32.7,15,John Collins
4,2018-10-21,20-032,ATL,AWAY,CLE,W (+22),1,37:40,13,23,...,2,11,1,0,1,2,35,31.6,19,Trae Young

In [39]:
ATL_2020_gamelog = []

for p in ATL_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2020_gamelog.append(player_log)
ATL_2020_gamelog = pd.concat(ATL_2020_gamelog)    
ATL_2020_gamelogs = ATL_2020_gamelog.copy()
ATL_2020_gamelogs['GAME_SCORE'] = ATL_2020_gamelogs['GAME_SCORE'].astype(float)
ATL_2020_games = ATL_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2020_games_csv = ATL_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2020_games.csv', index=False)
ATL_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2020_games.csv')
ATL_2020_games_proc.head()

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Charlie Brown"
7 results found.
0: Charlie Brown
1: Charlie Bell
2: Charlie Black
3: Harold Brown
4: Charlie Criss
5: Charlie Scott
6: Charlie Ward
Pick one: 0
Results for Charlie Brown:

You searched for "Vince Carter"
6 results found.
0: Vince Carter
1: Vince Hunter
2: Butch Carter
3: Jake Carter
4: Ron Carter
5: Vince Taylor
Pick one: 0
Results for Vince Carter:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Allen Crabbe"
1 result found.
Allen Crabbe
Results for Allen Crabbe:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Bruno Fernando"
1 result found.
Bruno Fernando
Results for Bruno Fernando:

You searched for "Brandon Goodwin"
1 result found.
Brandon Goodwin
Results for Brandon Goodwin:

You searched for "Treveon Graham"
1 result found.
Treveon Graham
Results for Treveon Graham:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "De'Andre Hunter"
1 result found.
De'Andre Hunter
Results for De'Andre Hunter:

You searched for "Damian Jones"
14 results found.
0: Damian Jones
1: Damon Jones
2: Damion James
3: DeQuan Jones
4: Mason Jones
5: Alvin Jones
6: Askia Jones
7: Dahntay Jones
8: Jalen Jones
9: James Jones
10: Kevin Jones
11: Robin Jones
12: Sam Jones
13: Wali Jones
Pick one: 0
Results for Damian Jones:

You searched for "Alex Len"
7 results found.
0: Alex Len
1: Saben Lee
2: Alex Acker
3: Alex Kirk
4: Greg Lee
5: Alex Scales
6: Hal Hale
Pick one: 0
Results for Alex Len:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Chandler Parsons"
1 result found.
Chandler Parsons
Results for Chandler Parsons:

You searched for "Cam Reddish"
1 result found.
Cam Reddish
Results for Cam Reddish:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Evan Turner"
11 results found.
0: Evan Turner
1: Evan Fournier
2: John Turner
3: Bill Turner
4: Elston Turner
5: Gary Turner
6: Henry Turner
7: Jack Turner
8: Jack Turner
9: Jeff Turner
10: Wayne Turner
Pick one: 0
Results for Evan Turner:

You searched for "Tyrone Wallace"
1 result found.
Tyrone Wallace
Results for Tyrone Wallace:

You searched for "Paul Watson"
10 results found.
0: Paul Watson
1: Earl Watson
2: Pau Gasol
3: Paul Gordon
4: Paul Huston
5: Paul Walther
6: C.J. Watson
7: Jamie Watson
8: Paul Long
9: Samuel Watts
Pick one: 0
Results for Paul Watson:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-26,21-129,ATL,HOME,WAS,W (+19),1,38:59,13,24,...,6,14,1,0,5,2,45,39.4,22,Trae Young
1,2020-02-20,21-154,ATL,HOME,MIA,W (+5),1,39:32,12,25,...,2,8,2,1,7,4,50,37.2,10,Trae Young
2,2020-01-20,21-123,ATL,HOME,TOR,L (-5),1,39:01,11,20,...,6,15,1,0,7,3,42,36.7,1,Trae Young
3,2020-02-09,21-143,ATL,HOME,NYK,W (+5),1,47:40,13,30,...,1,13,2,0,7,1,48,36.2,10,Trae Young
4,2020-02-22,22-152,ATL,HOME,DAL,W (+4),1,37:04,13,18,...,17,2,1,2,1,1,35,35.9,9,John Collins

In [50]:
# removed clint capela
ATL_2021_gamelog = []

for p in ATL_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2021_gamelog.append(player_log)
ATL_2021_gamelog = pd.concat(ATL_2021_gamelog)    
ATL_2021_gamelogs = ATL_2021_gamelog.copy()
ATL_2021_gamelogs['GAME_SCORE'] = ATL_2021_gamelogs['GAME_SCORE'].astype(float)
ATL_2021_games = ATL_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2021_games_csv = ATL_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2021_games.csv', index=False)
ATL_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2021_games.csv')
ATL_2021_games_proc.head()

You searched for "Bogdan Bogdanović"
2 results found.
0: Bogdan Bogdanovic
1: Bojan Bogdanovic
Pick one: 0
Results for Bogdan Bogdanovic:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Bruno Fernando"
1 result found.
Bruno Fernando
Results for Bruno Fernando:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Brandon Goodwin"
1 result found.
Brandon Goodwin
Results for Brandon Goodwin:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "De'Andre Hunter"
1 result found.
De'Andre Hunter
Results for De'Andre Hunter:

You searched for "Nathan Knight"
1 result found.
Nathan Knight
Results for Nathan Knight:

You searched for "Skylar Mays"
1 result found.
Skylar Mays
Results for Skylar Mays:

You searched for "Onyeka Okongwu"
1 result found.
Onyeka Okongwu
Results for Onyeka Okongwu:

You searched for "Cam Reddish"
1 result found.
Cam Reddish
Results for Cam Reddish:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-21,22-155,ATL,HOME,DEN,W (+8),1,36:07,10,19,...,6,15,1,0,3,2,35,35.2,6,Trae Young
1,2021-03-26,23-184,ATL,AWAY,GSW,W (+16),1,34:00,14,19,...,12,2,1,0,0,3,38,35.1,21,John Collins
2,2020-12-23,22-095,ATL,AWAY,CHI,W (+20),1,25:57,10,12,...,6,7,0,0,4,1,37,34.9,30,Trae Young
3,2021-04-09,22-202,ATL,HOME,CHI,W (+12),1,37:56,15,25,...,8,9,0,0,4,1,42,33.6,20,Trae Young
4,2021-01-29,22-132,ATL,AWAY,WAS,W (+16),1,33:41,10,18,...,3,5,0,0,2,4,41,33.2,12,Trae Young

## combine all seasons

In [59]:
ATL_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2000_games.csv')
ATL_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2001_games.csv')
ATL_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2002_games.csv')
ATL_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2003_games.csv')
ATL_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2004_games.csv')
ATL_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2005_games.csv')
ATL_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2006_games.csv')
ATL_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2007_games.csv')
ATL_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2008_games.csv')
ATL_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2009_games.csv')
ATL_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2010_games.csv')
ATL_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2011_games.csv')
ATL_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2012_games.csv')
ATL_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2013_games.csv')
ATL_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2014_games.csv')
ATL_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2015_games.csv')
ATL_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2016_games.csv')
ATL_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2017_games.csv')
ATL_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2018_games.csv')
ATL_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2019_games.csv')
ATL_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2020_games.csv')
ATL_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2021_games.csv')

In [60]:
ATL_season_dfs = [ATL_2000_games_io, ATL_2001_games_io, ATL_2002_games_io, ATL_2003_games_io, ATL_2004_games_io, ATL_2005_games_io,
                 ATL_2006_games_io, ATL_2007_games_io, ATL_2008_games_io, ATL_2009_games_io, ATL_2010_games_io, ATL_2011_games_io,
                 ATL_2012_games_io, ATL_2013_games_io, ATL_2014_games_io, ATL_2015_games_io, ATL_2016_games_io, ATL_2017_games_io,
                 ATL_2018_games_io, ATL_2019_games_io, ATL_2020_games_io, ATL_2021_games_io]

In [61]:
ATL_all = pd.concat(ATL_season_dfs)
ATL_all_sorted = ATL_all.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-11-23,24-347,ATL,HOME,DET,W (+7),1,45:12,21,30,...,12,5,2,1,2,1,50,46.0,12,Shareef Abdur-Rahim
0,2020-01-26,21-129,ATL,HOME,WAS,W (+19),1,38:59,13,24,...,6,14,1,0,5,2,45,39.4,22,Trae Young
0,2019-03-01,20-163,ATL,HOME,CHI,L (-7),1,55:50,17,33,...,8,16,1,1,9,2,49,37.8,-9,Trae Young
0,2006-03-19,24-263,ATL,HOME,ORL,W (+1),1,47:33,17,24,...,3,11,0,0,0,3,40,37.8,7,Joe Johnson
0,2004-03-12,25-342,ATL,HOME,WAS,W (+14),1,45:26,14,24,...,2,7,2,1,2,0,42,37.4,17,Stephen Jackson
1,2020-02-20,21-154,ATL,HOME,MIA,W (+5),1,39:32,12,25,...,2,8,2,1,7,4,50,37.2,10,Trae Young
2,2020-01-20,21-123,ATL,HOME,TOR,L (-5),1,39:01,11,20,...,6,15,1,0,7,3,42,36.7,1,Trae Young
0,1999-12-14,33-172,ATL,HOME,MIN,W (+11),1,41:04,11,11,...,29,3,0,6,5,2,27,36.5,13,Dikembe Mutombo
1,2006-02-24,24-240,ATL,AWAY,IND,W (+5),1,47:21,16,24,...,1,13,3,0,4,5,40,36.4,3,Joe Johnson
3,2020-02-09,21-143,ATL,HOME,NYK,W (+5),1,47:40,13,30,...,1,13,2,0,7,1,48,36.2,10,Trae Young
4,2020-02-22,22-152,ATL,HOME,DAL,W (+4),1,37:04,13,18,...,17,2,1,2,1,1,35,35.9,9,John Collins
0,2016-01-09,29-220,ATL,HOME,CHI,W (+15),1,36:18,15,21,...,10,6,1,4,0,2,33,35.7,22,Al Horford
5,2020-01-30,21-133,ATL,HOME,PHI,W (+10),1,38:07,9,22,...,6,18,2,0,7,2,39,35.4,17,Trae Young
0,2021-02-21,22-155,ATL,HOME,DEN,W (+8),1,36:07,10,19,...,6,15,1,0,3,2,35,35.2,6,Trae Young
1,2002-01-15,24-122,ATL,HOME,DAL,L (-9),1,45:24,15,23,...,3,5,3,0,5,4,46,35.1,-3,Jason Terry
1,2021-03-26,23-184,ATL,AWAY,GSW,W (+16),1,34:00,14,19,...,12,2,1,0,0,3,38,35.1,21,John Collins
2,2020-12-23,22-095,ATL,AWAY,CHI,W (+20),1,25:57,10,12,...,6,7,0,0,4,1,37,34.9,30,Trae Young
0,2018-03-11,23-354,ATL,HOME,CHI,L (-7),1,35:20,11,18,...,6,7,1,0,2,1,38,34.7,10,Taurean Prince
6,2019-11-12,21-054,ATL,AWAY,DEN,W (+4),1,41:20,13,21,...,4,11,0,1,6,1,42,34.5,7,Trae Young
7,2020-01-08,21-111,ATL,HOME,HOU,L (-7),1,38:35,11,30,...,13,10,0,1,3,1,42,34.4,4,Trae Young
1,2003-11-28,26-352,ATL,HOME,MIA,W (+12),1,36:21,11,14,...,12,0,3,1,2,2,34,34.3,16,Shareef Abdur-Rahim
0,2010-12-07,25-002,ATL,HOME,NJN,W (+15),1,37:58,14,16,...,3,7,1,2,1,1,34,34.0,17,Josh Smith
8,2020-01-22,22-121,ATL,HOME,LAC,W (+7),1,35:43,12,22,...,16,2,3,1,0,3,33,33.9,24,John Collins
2,2002-03-13,24-179,ATL,HOME,DEN,W (+3),1,43:17,11,14,...,3,8,3,0,0,2,31,33.9,3,Jason Terry
1,2019-04-03,20-196,ATL,HOME,PHI,W (+8),1,32:49,12,18,...,7,12,1,0,2,4,33,33.9,6,Trae Young