In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_BOS = []

# BOS
while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['Season'] = season
    df_BOS['Team'] = 'BOS'
    appended_data_BOS.append(df_BOS)
    season = season + 1
appended_data_BOS = pd.concat(appended_data_BOS)

In [4]:
BOS_df_all = appended_data_BOS.copy()
BOS_df_all_csv = BOS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_players_all.csv', index=False)
BOS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_players_all.csv')
BOS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000,BOS
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000,BOS
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000,BOS
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000,BOS
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000,BOS

In [5]:
BOS_df_2000 = BOS_df_all[BOS_df_all['Season'] == 2000]
BOS_df_2001 = BOS_df_all[BOS_df_all['Season'] == 2001]
BOS_df_2002 = BOS_df_all[BOS_df_all['Season'] == 2002]
BOS_df_2003 = BOS_df_all[BOS_df_all['Season'] == 2003]
BOS_df_2004 = BOS_df_all[BOS_df_all['Season'] == 2004]
BOS_df_2005 = BOS_df_all[BOS_df_all['Season'] == 2005]
BOS_df_2006 = BOS_df_all[BOS_df_all['Season'] == 2006]
BOS_df_2007 = BOS_df_all[BOS_df_all['Season'] == 2007]
BOS_df_2008 = BOS_df_all[BOS_df_all['Season'] == 2008]
BOS_df_2009 = BOS_df_all[BOS_df_all['Season'] == 2009]
BOS_df_2010 = BOS_df_all[BOS_df_all['Season'] == 2010]
BOS_df_2011 = BOS_df_all[BOS_df_all['Season'] == 2011]
BOS_df_2012 = BOS_df_all[BOS_df_all['Season'] == 2012]
BOS_df_2013 = BOS_df_all[BOS_df_all['Season'] == 2013]
BOS_df_2014 = BOS_df_all[BOS_df_all['Season'] == 2014]
BOS_df_2015 = BOS_df_all[BOS_df_all['Season'] == 2015]
BOS_df_2016 = BOS_df_all[BOS_df_all['Season'] == 2016]
BOS_df_2017 = BOS_df_all[BOS_df_all['Season'] == 2017]
BOS_df_2018 = BOS_df_all[BOS_df_all['Season'] == 2018]
BOS_df_2019 = BOS_df_all[BOS_df_all['Season'] == 2019]
BOS_df_2020 = BOS_df_all[BOS_df_all['Season'] == 2020]
BOS_df_2021 = BOS_df_all[BOS_df_all['Season'] == 2021]

In [6]:
BOS_df_2000_players = BOS_df_2000['PLAYER'].to_list()
BOS_df_2001_players = BOS_df_2001['PLAYER'].to_list()
BOS_df_2002_players = BOS_df_2002['PLAYER'].to_list()
BOS_df_2003_players = BOS_df_2003['PLAYER'].to_list()
BOS_df_2004_players = BOS_df_2004['PLAYER'].to_list()
BOS_df_2005_players = BOS_df_2005['PLAYER'].to_list()

BOS_df_2006_players = BOS_df_2006['PLAYER'].to_list()
BOS_df_2007_players = BOS_df_2007['PLAYER'].to_list()
BOS_df_2008_players = BOS_df_2008['PLAYER'].to_list()
BOS_df_2009_players = BOS_df_2009['PLAYER'].to_list()
BOS_df_2010_players = BOS_df_2010['PLAYER'].to_list()
BOS_df_2011_players = BOS_df_2011['PLAYER'].to_list()

BOS_df_2012_players = BOS_df_2012['PLAYER'].to_list()
BOS_df_2013_players = BOS_df_2013['PLAYER'].to_list()
BOS_df_2014_players = BOS_df_2014['PLAYER'].to_list()
BOS_df_2015_players = BOS_df_2015['PLAYER'].to_list()
BOS_df_2016_players = BOS_df_2016['PLAYER'].to_list()
BOS_df_2017_players = BOS_df_2017['PLAYER'].to_list()

BOS_df_2018_players = BOS_df_2018['PLAYER'].to_list()
BOS_df_2019_players = BOS_df_2019['PLAYER'].to_list()
BOS_df_2020_players = BOS_df_2020['PLAYER'].to_list()
BOS_df_2021_players = BOS_df_2021['PLAYER'].to_list()

In [46]:
## palyers to drop
#BOS_df_2004_players.remove("Mamadou N'Diaye")
#BOS_df_2009_players.remove("Patrick O'Bryant")
#BOS_df_2009_players.remove("Henry Walker")
#BOS_df_2010_players.remove("Henry Walker")
#BOS_df_2011_players.remove("Jermaine O'Neal")
#BOS_df_2011_players.remove("Shaquille O'Neal")
#BOS_df_2011_players.remove("Sasha Pavlović")
#BOS_df_2012_players.remove("E'Twaun Moore")
#BOS_df_2012_players.remove("Jermaine O'Neal")
#BOS_df_2012_players.remove("Sasha Pavlović")
#BOS_df_2014_players.remove("Vítor Faverani")
#BOS_df_2015_players.remove("Luigi Datome")
BOS_df_2016_players.remove("David Lee")

In [8]:
BOS_2000_gamelog = []



for p in BOS_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2000_gamelog.append(player_log)
BOS_2000_gamelog = pd.concat(BOS_2000_gamelog)    
BOS_2000_gamelogs = BOS_2000_gamelog.copy()
BOS_2000_gamelogs['GAME_SCORE'] = BOS_2000_gamelogs['GAME_SCORE'].astype(float)
BOS_2000_games = BOS_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2000_games_csv = BOS_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2000_games.csv', index=False)
BOS_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2000_games.csv')
BOS_2000_games_proc.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Dana Barros"
3 results found.
0: Dana Barros
1: Earl Barron
2: Don Carlos
Pick one: 0
Results for Dana Barros:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Calbert Cheaney"
1 result found.
Calbert Cheaney
Results for Calbert Cheaney:

You searched for "Pervis Ellison"
1 result found.
Pervis Ellison
Results for Pervis Ellison:

You searched for "Danny Fortson"
1 result found.
Danny Fortson
Results for Danny Fortson:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Doug Overton"
1 result found.
Doug Overton
Results for Doug Overton:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Vitaly Potapenko"
1 result found.
Vitaly Potapenko
Results for Vitaly Potapenko:

You searched for "Jamel Thomas"
9 results found.
0: Jamel Thomas
1: James Thomas
2: Carl Thomas
3: Jim Thomas
4: Joe Thomas
5: John Thomas
6: Lance Thomas
7: Matt Thomas
8: Tim Thomas
Pick one: 0
Results for Jamel Thomas:

You searched for "Wayne Turner"
9 results found.
0: Wayne Turner
1: Wayne Cooper
2: Andre Turner
3: Evan Turner
4: Gary Turner
5: Jack Turner
6: Jack Turner
7: John Turner
8: Myles Turner
Pick one: 0
Results for Wayne Turner:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-13,22-152,BOS,AWAY,DET,L (-9),1,37:45,11,15,...,7,1,4,0,3,3,38,33.7,1,Paul Pierce
1,2000-03-08,23-209,BOS,HOME,MIL,W (+11),1,44:46,11,20,...,19,10,4,0,4,3,30,33.5,17,Antoine Walker
2,2000-01-17,22-096,BOS,AWAY,WAS,W (+4),1,32:18,12,16,...,3,2,5,0,1,5,34,32.3,20,Paul Pierce
3,1999-12-15,23-125,BOS,HOME,UTA,L (-10),1,44:03,13,23,...,12,4,1,2,4,4,36,29.5,-8,Antoine Walker
4,2000-04-10,23-242,BOS,HOME,ATL,W (+5),1,39:18,14,23,...,8,6,1,0,1,2,34,29.3,4,Antoine Walker

In [ ]:
BOS_2001_gamelog = []



for p in BOS_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2001_gamelog.append(player_log)
BOS_2001_gamelog = pd.concat(BOS_2001_gamelog)    
BOS_2001_gamelogs = BOS_2001_gamelog.copy()
BOS_2001_gamelogs['GAME_SCORE'] = BOS_2001_gamelogs['GAME_SCORE'].astype(float)
BOS_2001_games = BOS_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2001_games_csv = BOS_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2001_games.csv', index=False)
BOS_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2001_games.csv')
BOS_2001_games_proc.head()

In [ ]:
BOS_2002_gamelog = []



for p in BOS_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2002_gamelog.append(player_log)
BOS_2002_gamelog = pd.concat(BOS_2002_gamelog)    
BOS_2002_gamelogs = BOS_2002_gamelog.copy()
BOS_2002_gamelogs['GAME_SCORE'] = BOS_2002_gamelogs['GAME_SCORE'].astype(float)
BOS_2002_games = BOS_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2002_games_csv = BOS_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2002_games.csv', index=False)
BOS_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2002_games.csv')
BOS_2002_games_proc.head()

In [17]:
BOS_2003_gamelog = []



for p in BOS_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2003_gamelog.append(player_log)
BOS_2003_gamelog = pd.concat(BOS_2003_gamelog)    
BOS_2003_gamelogs = BOS_2003_gamelog.copy()
BOS_2003_gamelogs['GAME_SCORE'] = BOS_2003_gamelogs['GAME_SCORE'].astype(float)
BOS_2003_games = BOS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2003_games_csv = BOS_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2003_games.csv', index=False)
BOS_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2003_games.csv')
BOS_2003_games_proc.head()

You searched for "Shareef Abdur-Rahim"
1 result found.
Shareef Abdur-Rahim
Results for Shareef Abdur-Rahim:

You searched for "Corey Benjamin"
1 result found.
Corey Benjamin
Results for Corey Benjamin:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Emanual Davis"
2 results found.
0: Emanual Davis
1: Paul Davis
Pick one: 0
Results for Emanual Davis:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Darvin Ham"
1 result found.
Darvin Ham
Results for Darvin Ham:

You searched for "Antonio Harvey"
2 results found.
0: Antonio Harvey
1: Antonio Davis
Pick one: 0
Results for Antonio Harvey:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "Jermaine Jackson"
2 results found.
0: Jermaine Jackson
1: Mervin Jackson
Pick one: 0
Results for Jermaine Jackson:

You searched for "Matt Maloney"
6 results found.
0: Matt Maloney
1: Matt Mooney
2: Matt Barnes
3: Mo Mahoney
4: Karl Malone
5: Moses Malone
Pick one: 0
Results for Matt Maloney:

You searched for "Amal McCaskill"
1 result found.
Amal McCaskill
Results for Amal McCaskill:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Ira Newble"
2 results found.
0: Ira Newble
1: Kira Lewis
Pick one: 0
Results for Ira Newble:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Paul Shirley"
2 results found.
0: Paul Shirley
1: Paul Silas
Pick one: 0
Results for Paul Shirley:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

You searched for "Brandon Williams"
7 results found.
0: Brandon Williams
1: Aaron Williams
2: Frank Williams
3: Grant Williams
4: Jason Williams
5: Jayson Williams
6: Ron Williams
Pick one: 0
Results for Brandon Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-11-26,29-320,ATL,HOME,SEA,W (+3),1,48:01,12,20,...,12,5,3,1,7,4,37,31.2,2,Glenn Robinson
1,2003-03-21,30-070,ATL,AWAY,PHI,W (+9),1,41:32,13,20,...,11,4,4,0,6,4,37,30.7,19,Glenn Robinson
2,2003-02-28,25-166,ATL,AWAY,CHI,W (+22),1,40:20,10,14,...,10,13,1,1,2,0,23,29.4,18,Jason Terry
3,2002-10-30,29-293,ATL,AWAY,NJN,L (-11),1,41:56,12,26,...,10,8,5,2,7,2,34,29.0,-6,Glenn Robinson
4,2003-03-05,25-171,ATL,AWAY,CLE,W (+6),1,48:00,8,12,...,4,14,2,0,3,2,24,27.6,6,Jason Terry

In [29]:
# removed Mamadou N'Diaye

BOS_2004_gamelog = []



for p in BOS_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    player_log_ = player_log.drop(player_log[player_log['Player'] == "Mamadou N'Diaye"].index)
    BOS_2004_gamelog.append(player_log_)
BOS_2004_gamelog = pd.concat(BOS_2004_gamelog)    
BOS_2004_gamelogs = BOS_2004_gamelog.copy()
BOS_2004_gamelog
BOS_2004_gamelogs['GAME_SCORE'] = BOS_2004_gamelogs['GAME_SCORE'].astype(float)
BOS_2004_games = BOS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2004_games_csv = BOS_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2004_games.csv', index=False)
BOS_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2004_games.csv')
BOS_2004_games_proc.head()

You searched for "Shareef Abdur-Rahim"
1 result found.
Shareef Abdur-Rahim
Results for Shareef Abdur-Rahim:

You searched for "Michael Bradley"
7 results found.
0: Michael Bradley
1: Michael Beasley
2: Michael Ansley
3: Michael Finley
4: Michael Frazier
5: Michael Wiley
6: Michael Bytzura
Pick one: 0
Results for Michael Bradley:

You searched for "Jason Collier"
3 results found.
0: Jason Collier
1: Jason Collins
2: Jarron Collins
Pick one: 0
Results for Jason Collier:

You searched for "Chris Crawford"
2 results found.
0: Chris Crawford
1: Chris Ford
Pick one: 0
Results for Chris Crawford:

You searched for "Josh Davis"
27 results found.
0: Josh Davis
1: Bob Davis
2: Jim Davis
3: Ron Davis
4: Josh Reaves
5: Josh Hall
6: Bob Davies
7: Ben Davis
8: Bill Davis
9: Brad Davis
10: Dale Davis
11: Ed Davis
12: Glen Davis
13: Johnny Davis
14: Lee Davis
15: Mark Davis
16: Mark Davis
17: Mel Davis
18: Mike Davis
19: Mike Davis
20: Monti Davis
21: Paul Davis
22: Ralph Davis
23: Red Davis
24: Walt Davis
25: Josh Hart
26: Josh Grant
Pick one: 0
Results for Josh Davis:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Hiram Fuller"
2 results found.
0: Hiram Fuller
1: Carl Fuller
Pick one: 0
Results for Hiram Fuller:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Travis Hansen"
3 results found.
0: Travis Hansen
1: Lars Hansen
2: Travis Mays
Pick one: 0
Results for Travis Hansen:

You searched for "Alan Henderson"
9 results found.
0: Alan Henderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ryan Anderson
5: Dave Henderson
6: J.R. Henderson
7: Kevin Henderson
8: Tom Henderson
Pick one: 0
Results for Alan Henderson:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Lee Nailon"
2 results found.
0: Lee Nailon
1: Zeke Nnaji
Pick one: 0
Results for Lee Nailon:

You searched for "Wesley Person"
2 results found.
0: Wesley Person
1: Wesley Johnson
Pick one: 0
Results for Wesley Person:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Željko Rebrača"
1 result found.
Zeljko Rebraca
Results for Zeljko Rebraca:

You searched for "Bob Sura"
26 results found.
0: Bob Sura
1: Bob Shea
2: Bob Ford
3: Rob Kurz
4: Bob Rule
5: Bob Sims
6: Bob Verga
7: Bob Burrow
8: Bob Cousy
9: Bob Doll
10: Bob Duffy
11: Bob Duffy
12: Bob Ferry
13: Bob Love
14: Bob Nash
15: Bob Quick
16: Bob Tough
17: Bob Wood
18: Bob Davis
19: Bob Evans
20: Bob Gross
21: Bob Naber
22: Don Ray
23: Rob Rose
24: Bob Royer
25: Bob Weiss
Pick one: 0
Results for Bob Sura:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

You searched for "Rasheed Wallace"
2 results found.
0: Rasheed Wallace
1: Red Wallace
Pick one: 0
Results for Rasheed Wallace:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-03-12,25-342,ATL,HOME,WAS,W (+14),1,45:26,14,24,...,2,7,2,1,2,0,42,37.4,17,Stephen Jackson
1,2003-11-28,26-352,ATL,HOME,MIA,W (+12),1,36:21,11,14,...,12,0,3,1,2,2,34,34.3,16,Shareef Abdur-Rahim
2,2003-12-06,26-360,ATL,AWAY,CLE,L (-10),1,42:41,17,27,...,12,2,1,0,4,4,43,33.3,-8,Shareef Abdur-Rahim
3,2004-02-04,27-055,ATL,HOME,MIN,W (+8),1,44:14,11,21,...,14,5,1,0,0,3,32,30.8,15,Shareef Abdur-Rahim
4,2004-04-02,31-008,ATL,AWAY,ORL,W (+8),1,43:39,11,20,...,8,5,3,0,2,3,32,28.5,15,Bob Sura

In [20]:
BOS_2005_gamelog = []

for p in BOS_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2005_gamelog.append(player_log)
BOS_2005_gamelog = pd.concat(BOS_2005_gamelog)    
BOS_2005_gamelogs = BOS_2005_gamelog.copy()
BOS_2005_gamelogs['GAME_SCORE'] = BOS_2005_gamelogs['GAME_SCORE'].astype(float)
BOS_2005_games = BOS_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2005_games_csv = BOS_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2005_games.csv', index=False)
BOS_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2005_games.csv')
BOS_2005_games_proc.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Jon Barry"
30 results found.
0: Jon Barry
1: John Barr
2: Moe Barr
3: Ron Perry
4: John Bagley
5: Ron Baker
6: John Barber
7: Brent Barry
8: Drew Barry
9: Rick Barry
10: Jay Carty
11: Bob Ferry
12: John Garris
13: Joe Harris
14: Don May
15: Don Ray
16: Jason Terry
17: John Warren
18: Vin Baker
19: Tom Barker
20: Mike Barr
21: Cory Carr
22: Ron Carter
23: Ron Harper
24: Jason Hart
25: Josh Hart
26: Jon Leuer
27: Jack Parr
28: Von Wafer
29: John Wall
Pick one: 0
Results for Jon Barry:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Jason Collier"
3 results found.
0: Jason Collier
1: Jason Collins
2: Jarron Collins
Pick one: 0
Results for Jason Collier:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Predrag Drobnjak"
1 result found.
Predrag Drobnjak
Results for Predrag Drobnjak:

You searched for "Obinna Ekezie"
1 result found.
Obinna Ekezie
Results for Obinna Ekezie:

You searched for "Tom Gugliotta"
1 result found.
Tom Gugliotta
Results for Tom Gugliotta:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Jelani McCoy"
1 result found.
Jelani McCoy
Results for Jelani McCoy:

You searched for "Anthony Miller"
9 results found.
0: Anthony Miller
1: Anthony Peeler
2: Anthony Bonner
3: Anthony Carter
4: Anthony Parker
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tolliver
8: Anthony Tucker
Pick one: 0
Results for Anthony Miller:

You searched for "Donta Smith"
22 results found.
0: Donta Smith
1: Don Smith
2: Don Smith
3: Doug Smith
4: Tony Smith
5: Bingo Smith
6: Bobby Smith
7: Deb Smith
8: Dennis Smith
9: Derek Smith
10: Joe Smith
11: John Smith
12: Josh Smith
13: Keith Smith
14: Ken Smith
15: Kenny Smith
16: Leon Smith
17: Nolan Smith
18: Otis Smith
19: Pete Smith
20: Randy Smith
21: Donta Hall
Pick one: 0
Results for Donta Smith:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Michael Stewart"
1 result found.
Michael Stewart
Results for Michael Stewart:

You searched for "James Thomas"
18 results found.
0: James Thomas
1: Jamel Thomas
2: Jim Thomas
3: Joe Thomas
4: James Jones
5: James Phelan
6: James Silas
7: Carl Thomas
8: Charles Thomas
9: John Thomas
10: Lance Thomas
11: Matt Thomas
12: Tim Thomas
13: Tyrus Thomas
14: James Hardy
15: James Posey
16: James Cotton
17: James Worthy
Pick one: 0
Results for James Thomas:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Kevin Willis"
4 results found.
0: Kevin Willis
1: Kevin Williams
2: Kevin Ollie
3: Alvin Williams
Pick one: 0
Results for Kevin Willis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-04-17,27-349,ATL,AWAY,NYK,W (+4),1,36:05,10,14,...,1,6,1,0,2,3,32,28.5,3,Tyronn Lue
1,2005-01-28,28-169,ATL,HOME,MIA,L (-10),1,46:13,12,18,...,10,8,0,1,8,4,36,26.7,-9,Antoine Walker
2,2004-11-30,28-110,ATL,HOME,NYK,L (-1),1,49:20,13,23,...,13,4,2,2,9,1,36,25.4,-2,Antoine Walker
3,2005-03-14,27-315,ATL,HOME,DET,L (-6),1,40:37,10,18,...,2,10,1,0,0,5,27,25.0,1,Tyronn Lue
4,2004-11-17,24-274,ATL,AWAY,IND,L (-7),1,41:15,12,19,...,6,2,3,0,1,5,30,23.9,-5,Al Harrington

In [21]:
BOS_2006_gamelog = []

for p in BOS_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2006_gamelog.append(player_log)
BOS_2006_gamelog = pd.concat(BOS_2006_gamelog)    
BOS_2006_gamelogs = BOS_2006_gamelog.copy()
BOS_2006_gamelogs['GAME_SCORE'] = BOS_2006_gamelogs['GAME_SCORE'].astype(float)
BOS_2006_games = BOS_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2006_games_csv = BOS_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2006_games.csv', index=False)
BOS_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2006_games.csv')
BOS_2006_games_proc.head()

You searched for "Esteban Batista"
1 result found.
Esteban Batista
Results for Esteban Batista:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "John Edwards"
10 results found.
0: John Edwards
1: Doug Edwards
2: Jay Edwards
3: Bill Edwards
4: Blue Edwards
5: James Edwards
6: Kevin Edwards
7: Shane Edwards
8: John Starks
9: John Warren
Pick one: 0
Results for John Edwards:

You searched for "Anthony Grundy"
1 result found.
Anthony Grundy
Results for Anthony Grundy:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Donta Smith"
22 results found.
0: Donta Smith
1: Don Smith
2: Don Smith
3: Doug Smith
4: Tony Smith
5: Bingo Smith
6: Bobby Smith
7: Deb Smith
8: Dennis Smith
9: Derek Smith
10: Joe Smith
11: John Smith
12: Josh Smith
13: Keith Smith
14: Ken Smith
15: Kenny Smith
16: Leon Smith
17: Nolan Smith
18: Otis Smith
19: Pete Smith
20: Randy Smith
21: Donta Hall
Pick one: 0
Results for Donta Smith:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "John Thomas"
21 results found.
0: John Thomas
1: Joe Thomas
2: Etan Thomas
3: Jim Thomas
4: John Thompson
5: John Logan
6: John Lucas
7: John Shumate
8: Carl Thomas
9: Jamel Thomas
10: James Thomas
11: Kenny Thomas
12: Kurt Thomas
13: Matt Thomas
14: Tim Thomas
15: John Hazen
16: John Oldham
17: John Stroud
18: John Trapp
19: John Tschogl
20: Johan Petro
Pick one: 0
Results for John Thomas:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-03-19,24-263,ATL,HOME,ORL,W (+1),1,47:33,17,24,...,3,11,0,0,0,3,40,37.8,7,Joe Johnson
1,2006-02-24,24-240,ATL,AWAY,IND,W (+5),1,47:21,16,24,...,1,13,3,0,4,5,40,36.4,3,Joe Johnson
2,2005-11-23,25-279,ATL,HOME,BOS,W (+3),1,45:44,11,18,...,6,7,1,1,2,5,34,30.2,2,Al Harrington
3,2006-03-07,24-251,ATL,HOME,GSW,W (+7),1,48:00,14,27,...,6,9,1,0,7,3,42,30.0,7,Joe Johnson
4,2005-12-16,24-170,ATL,HOME,NYK,W (+11),1,37:38,14,18,...,4,5,1,0,4,0,36,29.5,11,Joe Johnson

In [24]:
BOS_2007_gamelog = []

for p in BOS_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2007_gamelog.append(player_log)
BOS_2007_gamelog = pd.concat(BOS_2007_gamelog)    
BOS_2007_gamelogs = BOS_2007_gamelog.copy()
BOS_2007_gamelogs['GAME_SCORE'] = BOS_2007_gamelogs['GAME_SCORE'].astype(float)
BOS_2007_games = BOS_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2007_games_csv = BOS_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2007_games.csv', index=False)
BOS_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2007_games.csv')
BOS_2007_games_proc.head()

You searched for "Esteban Batista"
1 result found.
Esteban Batista
Results for Esteban Batista:

You searched for "Cedric Bozeman"
1 result found.
Cedric Bozeman
Results for Cedric Bozeman:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Speedy Claxton"
1 result found.
Speedy Claxton
Results for Speedy Claxton:

You searched for "Matt Freije"
4 results found.
0: Matt Freije
1: Matt Fish
2: Matt Geiger
3: Matt Barnes
Pick one: 0
Results for Matt Freije:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jeremy Richardson"
2 results found.
0: Jeremy Richardson
1: Norm Richardson
Pick one: 0
Results for Jeremy Richardson:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "Dijon Thompson"
6 results found.
0: Dijon Thompson
1: Jason Thompson
2: John Thompson
3: Billy Thompson
4: David Thompson
5: Kevin Thompson
Pick one: 0
Results for Dijon Thompson:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

You searched for "Lorenzen Wright"
2 results found.
0: Lorenzen Wright
1: Lonnie Wright
Pick one: 0
Results for Lorenzen Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-01-26,25-211,ATL,AWAY,ORL,W (+3),1,45:20,14,23,...,3,6,0,0,3,1,39,30.2,13,Joe Johnson
1,2007-01-12,25-197,ATL,HOME,DET,W (+6),1,36:11,13,17,...,3,5,1,0,1,3,34,29.7,4,Joe Johnson
2,2006-11-10,25-134,ATL,AWAY,TOR,W (+9),1,41:50,12,20,...,8,5,1,0,2,1,34,29.7,10,Joe Johnson
3,2007-03-13,21-098,ATL,HOME,PHI,W (+12),1,37:28,11,20,...,17,5,4,3,3,3,26,29.7,22,Josh Smith
4,2006-12-03,25-157,ATL,AWAY,POR,W (+11),1,45:25,14,22,...,6,6,1,0,1,0,33,29.2,8,Joe Johnson

In [25]:
BOS_2008_gamelog = []

for p in BOS_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2008_gamelog.append(player_log)
BOS_2008_gamelog = pd.concat(BOS_2008_gamelog)    
BOS_2008_gamelogs = BOS_2008_gamelog.copy()
BOS_2008_gamelogs['GAME_SCORE'] = BOS_2008_gamelogs['GAME_SCORE'].astype(float)
BOS_2008_games = BOS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2008_games_csv = BOS_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2008_games.csv', index=False)
BOS_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2008_games.csv')
BOS_2008_games_proc.head()

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Josh Childress"
1 result found.
Josh Childress
Results for Josh Childress:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Acie Law"
3 results found.
0: Acie Law
1: Acie Earl
2: Vic Law
Pick one: 0
Results for Acie Law:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jeremy Richardson"
2 results found.
0: Jeremy Richardson
1: Norm Richardson
Pick one: 0
Results for Jeremy Richardson:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Salim Stoudamire"
2 results found.
0: Salim Stoudamire
1: Damon Stoudamire
Pick one: 0
Results for Salim Stoudamire:

You searched for "Mario West"
7 results found.
0: Mario West
1: Mark West
2: David West
3: Mario Elie
4: Mario Kasun
5: Jerry West
6: Tariq Owens
Pick one: 0
Results for Mario West:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

You searched for "Lorenzen Wright"
2 results found.
0: Lorenzen Wright
1: Lonnie Wright
Pick one: 0
Results for Lorenzen Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-03-08,26-253,ATL,HOME,MIA,W (+3),1,45:19,15,27,...,6,8,3,2,4,1,39,33.9,5,Joe Johnson
1,2008-03-22,26-267,ATL,HOME,ORL,W (+8),1,45:29,12,20,...,5,7,3,1,2,2,34,32.9,16,Joe Johnson
2,2008-01-13,26-198,ATL,HOME,CHI,W (+21),1,42:26,13,23,...,9,6,1,0,1,2,37,32.6,17,Joe Johnson
3,2008-04-11,26-287,ATL,AWAY,NYK,W (+12),1,43:27,13,21,...,4,6,2,1,0,0,34,32.2,6,Joe Johnson
4,2007-11-14,26-138,ATL,HOME,CHA,W (+8),1,44:28,11,18,...,5,10,1,0,3,1,34,31.9,6,Joe Johnson

In [17]:
BOS_2009_gamelog = []

for p in BOS_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2009_gamelog.append(player_log)
BOS_2009_gamelog = pd.concat(BOS_2009_gamelog)    
BOS_2009_gamelogs = BOS_2009_gamelog.copy()
BOS_2009_gamelogs['GAME_SCORE'] = BOS_2009_gamelogs['GAME_SCORE'].astype(float)
BOS_2009_games = BOS_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2009_games_csv = BOS_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2009_games.csv', index=False)
BOS_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2009_games.csv')
BOS_2009_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "J.R. Giddens"
1 result found.
J.R. Giddens
Results for J.R. Giddens:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Leon Powe"
5 results found.
0: Leon Powe
1: Leon Brown
2: Leon Wood
3: Lou Roe
4: Leon Benbow
Pick one: 0
Results for Leon Powe:

You searched for "Gabe Pruitt"
1 result found.
Gabe Pruitt
Results for Gabe Pruitt:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-03-13,25-050,BOS,HOME,MEM,W (+10),1,41:13,10,14,...,11,3,1,5,0,3,30,33.3,8,Leon Powe
1,2009-01-11,33-175,BOS,AWAY,TOR,W (+6),1,43:21,11,14,...,3,2,2,0,1,5,36,31.9,12,Ray Allen
2,2008-12-03,32-198,BOS,HOME,IND,W (+18),1,31:40,11,14,...,14,3,1,4,0,0,26,31.1,37,Kevin Garnett
3,2009-04-08,23-045,BOS,HOME,NJN,W (+2),1,32:09,10,15,...,9,5,3,1,3,1,31,30.6,-13,Rajon Rondo
4,2009-02-01,31-111,BOS,HOME,MIN,W (+8),1,40:56,13,24,...,8,6,0,1,4,0,36,29.3,1,Paul Pierce

In [20]:
BOS_2010_gamelog = []

for p in BOS_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2010_gamelog.append(player_log)
BOS_2010_gamelog = pd.concat(BOS_2010_gamelog)    
BOS_2010_gamelogs = BOS_2010_gamelog.copy()
BOS_2010_gamelogs['GAME_SCORE'] = BOS_2010_gamelogs['GAME_SCORE'].astype(float)
BOS_2010_games = BOS_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2010_games_csv = BOS_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2010_games.csv', index=False)
BOS_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2010_games.csv')
BOS_2010_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "J.R. Giddens"
1 result found.
J.R. Giddens
Results for J.R. Giddens:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Lester Hudson"
1 result found.
Lester Hudson
Results for Lester Hudson:

You searched for "Oliver Lafayette"
1 result found.
Oliver Lafayette
Results for Oliver Lafayette:

You searched for "Marcus Landry"
5 results found.
0: Marcus Landry
1: Marcus Banks
2: Marcus Camby
3: Carl Landry
4: Marcus Liberty
Pick one: 0
Results for Marcus Landry:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "Rasheed Wallace"
2 results found.
0: Rasheed Wallace
1: Red Wallace
Pick one: 0
Results for Rasheed Wallace:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-11-22,32-040,BOS,AWAY,NYK,W (+2),1,42:01,9,17,...,9,6,1,2,3,4,33,29.0,9,Paul Pierce
1,2009-12-28,23-309,BOS,AWAY,GSW,L (-4),1,46:15,11,18,...,3,15,3,0,6,3,30,28.6,0,Rajon Rondo
2,2009-12-01,34-134,BOS,AWAY,CHA,W (+18),1,35:48,6,9,...,5,5,1,1,1,2,27,28.4,20,Ray Allen
3,2010-01-10,35-115,BOS,AWAY,TOR,W (+7),1,34:08,9,12,...,8,0,1,2,0,4,29,27.8,6,Rasheed Wallace
4,2010-01-29,32-108,BOS,AWAY,ATL,L (-9),1,37:31,11,15,...,2,1,1,1,3,2,35,27.7,8,Paul Pierce

In [27]:
BOS_2011_gamelog = []

for p in BOS_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2011_gamelog.append(player_log)
BOS_2011_gamelog = pd.concat(BOS_2011_gamelog)    
BOS_2011_gamelogs = BOS_2011_gamelog.copy()
BOS_2011_gamelogs['GAME_SCORE'] = BOS_2011_gamelogs['GAME_SCORE'].astype(float)
BOS_2011_games = BOS_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2011_games_csv = BOS_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2011_games.csv', index=False)
BOS_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2011_games.csv')
BOS_2011_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Semih Erden"
1 result found.
Semih Erden
Results for Semih Erden:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Luke Harangody"
1 result found.
Luke Harangody
Results for Luke Harangody:

You searched for "Chris Johnson"
27 results found.
0: Chris Johnson
1: Chris Johnson
2: Charles Johnson
3: Cheese Johnson
4: Eric Johnson
5: Chris Robinson
6: Chris Duhon
7: Amir Johnson
8: Arnie Johnson
9: Brice Johnson
10: Clay Johnson
11: Dennis Johnson
12: Eddie Johnson
13: Eddie Johnson
14: Ervin Johnson
15: Gus Johnson
16: James Johnson
17: Kevin Johnson
18: Larry Johnson
19: Larry Johnson
20: Magic Johnson
21: Neil Johnson
22: Ollie Johnson
23: Omari Johnson
24: Rich Johnson
25: Ron Johnson
26: Trey Johnson
Pick one: 0
Results for Chris Johnson:

You searched for "Nenad Krstić"
1 result found.
Nenad Krstic
Results for Nenad Krstic:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Von Wafer"
14 results found.
0: Von Wafer
1: Ron Baker
2: Vin Baker
3: Ron Carter
4: Ron Harper
5: Jon Leuer
6: Thon Maker
7: Bob Naber
8: Ron Watts
9: Don Ford
10: Don Grate
11: Dean Wade
12: John Wall
13: Ron Rowan
Pick one: 0
Results for Von Wafer:

You searched for "Delonte West"
1 result found.
Delonte West
Results for Delonte West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-12-29,33-077,BOS,AWAY,DET,L (-12),1,39:23,11,16,...,5,8,4,0,5,4,33,31.1,-10,Paul Pierce
1,2010-12-01,24-095,OKC,AWAY,NJN,W (+3),1,53:37,12,21,...,5,4,0,0,0,3,37,30.6,0,Jeff Green
2,2011-01-05,35-169,BOS,HOME,SAS,W (+2),1,38:42,13,16,...,2,5,1,0,1,0,31,28.3,7,Ray Allen
3,2011-01-05,24-317,BOS,HOME,SAS,W (+2),1,43:30,6,10,...,10,23,6,1,5,3,12,28.2,9,Rajon Rondo
4,2010-12-15,33-063,BOS,AWAY,NYK,W (+2),1,40:33,10,18,...,10,4,2,0,2,5,32,27.2,0,Paul Pierce

In [35]:
BOS_2012_gamelog = []

for p in BOS_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2012_gamelog.append(player_log)
BOS_2012_gamelog = pd.concat(BOS_2012_gamelog)    
BOS_2012_gamelogs = BOS_2012_gamelog.copy()
BOS_2012_gamelogs['GAME_SCORE'] = BOS_2012_gamelogs['GAME_SCORE'].astype(float)
BOS_2012_games = BOS_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2012_games_csv = BOS_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2012_games.csv', index=False)
BOS_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2012_games.csv')
BOS_2012_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "JaJuan Johnson"
5 results found.
0: JaJuan Johnson
1: Armon Johnson
2: Ivan Johnson
3: James Johnson
4: John Johnson
Pick one: 0
Results for JaJuan Johnson:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Mickaël Piétrus"
1 result found.
Mickael Pietrus
Results for Mickael Pietrus:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Greg Stiemsma"
1 result found.
Greg Stiemsma
Results for Greg Stiemsma:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

You searched for "Sean Williams"
50 results found.
0: Sean Williams
1: Alan Williams
2: Sam Williams
3: Sam Williams
4: Al Williams
5: Deron Williams
6: Earl Williams
7: Frank Williams
8: Gene Williams
9: Grant Williams
10: Hank Williams
11: Herb Williams
12: Jay Williams
13: John Williams
14: Kenny Williams
15: Kevin Williams
16: Pete Williams
17: Ray Williams
18: Ron Williams
19: Shawne Williams
20: Sly Williams
21: Aaron Williams
22: Alvin Williams
23: Art Williams
24: Bernie Williams
25: Bob Williams
26: Buck Williams
27: C.J. Williams
28: Duck Williams
29: Eric Williams
30: Fly Williams
31: Freeman Williams
32: Gus Williams
33: Guy Williams
34: Jason Williams
35: Jawad Williams
36: Jordan Williams
37: Justin Williams
38: Lou Williams
39: Matt Williams
40: Mike Williams
41: Milt Williams
42: Mo Williams
43: Nate Williams
44: Rob Williams
45: Scott Williams
46: Shelden Williams
47: Troy Williams
48: Walt Williams
49: Ward Williams
Pick one: 0
Results for Sean Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-04-17,34-187,BOS,AWAY,NYK,L (-8),1,43:08,11,19,...,2,3,2,0,3,4,43,33.8,2,Paul Pierce
1,2012-01-22,34-101,BOS,AWAY,WAS,W (+6),1,36:04,10,15,...,8,10,3,0,5,5,34,32.1,17,Paul Pierce
2,2012-04-18,34-188,BOS,HOME,ORL,W (+4),1,34:59,9,14,...,5,14,2,0,3,2,29,31.9,7,Paul Pierce
3,2011-12-25,25-306,BOS,AWAY,NYK,L (-2),1,41:16,11,19,...,5,13,5,0,5,2,31,31.1,3,Rajon Rondo
4,2012-03-26,34-165,BOS,AWAY,CHA,W (+7),1,38:18,10,20,...,10,4,3,3,4,3,36,30.5,18,Paul Pierce

In [36]:
BOS_2013_gamelog = []

for p in BOS_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2013_gamelog.append(player_log)
BOS_2013_gamelog = pd.concat(BOS_2013_gamelog)    
BOS_2013_gamelogs = BOS_2013_gamelog.copy()
BOS_2013_gamelogs['GAME_SCORE'] = BOS_2013_gamelogs['GAME_SCORE'].astype(float)
BOS_2013_games = BOS_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2013_games_csv = BOS_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2013_games.csv', index=False)
BOS_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2013_games.csv')
BOS_2013_games_proc.head()

You searched for "Leandro Barbosa"
2 results found.
0: Leandro Barbosa
1: Leandro Bolmaro
Pick one: 0
Results for Leandro Barbosa:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy

KeyboardInterrupt: Interrupted by user

In [40]:
BOS_2014_gamelog = []

for p in BOS_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2014_gamelog.append(player_log)
BOS_2014_gamelog = pd.concat(BOS_2014_gamelog)    
BOS_2014_gamelogs = BOS_2014_gamelog.copy()
BOS_2014_gamelogs['GAME_SCORE'] = BOS_2014_gamelogs['GAME_SCORE'].astype(float)
BOS_2014_games = BOS_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2014_games_csv = BOS_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2014_games.csv', index=False)
BOS_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2014_games.csv')
BOS_2014_games_proc.head()

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Chris Babb"
14 results found.
0: Chris Babb
1: Chris Bosh
2: Chris Carr
3: Chris Paul
4: Chris Taft
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Munk
11: Chris Webber
12: Chris Welp
13: Chris Silva
Pick one: 0
Results for Chris Babb:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Jerryd Bayless"
1 result found.
Jerryd Bayless
Results for Jerryd Bayless:

You searched for "Vander Blue"
1 result found.
Vander Blue
Results for Vander Blue:

You searched for "Keith Bogans"
5 results found.
0: Keith Bogans
1: Keith Owens
2: Keith Askins
3: Keith Booth
4: Keith Benson
Pick one: 0
Results for Keith Bogans:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "MarShon Brooks"
2 results found.
0: MarShon Brooks
1: Aaron Brooks
Pick one: 0
Results for MarShon Brooks:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Chris Johnson"
27 results found.
0: Chris Johnson
1: Chris Johnson
2: Charles Johnson
3: Cheese Johnson
4: Eric Johnson
5: Chris Robinson
6: Chris Duhon
7: Amir Johnson
8: Arnie Johnson
9: Brice Johnson
10: Clay Johnson
11: Dennis Johnson
12: Eddie Johnson
13: Eddie Johnson
14: Ervin Johnson
15: Gus Johnson
16: James Johnson
17: Kevin Johnson
18: Larry Johnson
19: Larry Johnson
20: Magic Johnson
21: Neil Johnson
22: Ollie Johnson
23: Omari Johnson
24: Rich Johnson
25: Ron Johnson
26: Trey Johnson
Pick one: 0
Results for Chris Johnson:

You searched for "Courtney Lee"
3 results found.
0: Courtney Lee
1: Courtney Sims
2: Joe Courtney
Pick one: 0
Results for Courtney Lee:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Phil Pressey"
2 results found.
0: Phil Pressey
1: Paul Pressey
Pick one: 0
Results for Phil Pressey:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Jared Sullinger"
1 result found.
Jared Sullinger
Results for Jared Sullinger:

You searched for "Gerald Wallace"
2 results found.
0: Gerald Wallace
1: Red Wallace
Pick one: 0
Results for Gerald Wallace:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-22,27-147,BOS,AWAY,WAS,W (+2),1,45:44,14,26,...,9,1,3,1,1,2,39,30.9,10,Jeff Green
1,2014-02-05,27-161,BOS,AWAY,PHI,W (+6),1,34:54,11,18,...,8,2,0,2,3,1,36,29.2,10,Jeff Green
2,2014-01-15,21-317,BOS,HOME,TOR,W (+5),1,38:40,7,14,...,20,4,2,0,0,5,25,28.4,7,Jared Sullinger
3,2014-03-16,27-200,BOS,AWAY,NOP,L (-1),1,39:21,12,23,...,6,1,0,1,1,5,39,27.5,5,Jeff Green
4,2014-02-07,21-340,BOS,HOME,SAC,W (+10),1,33:20,14,24,...,16,0,1,1,2,2,31,25.1,17,Jared Sullinger

In [44]:
BOS_2015_gamelog = []

for p in BOS_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2015_gamelog.append(player_log)
BOS_2015_gamelog = pd.concat(BOS_2015_gamelog)    
BOS_2015_gamelogs = BOS_2015_gamelog.copy()
BOS_2015_gamelogs['GAME_SCORE'] = BOS_2015_gamelogs['GAME_SCORE'].astype(float)
BOS_2015_games = BOS_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2015_games_csv = BOS_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2015_games.csv', index=False)
BOS_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2015_games.csv')
BOS_2015_games_proc.head()

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Jonas Jerebko"
1 result found.
Jonas Jerebko
Results for Jonas Jerebko:

You searched for "Jameer Nelson"
2 results found.
0: Jameer Nelson
1: Jasper Wilson
Pick one: 0
Results for Jameer Nelson:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Dwight Powell"
3 results found.
0: Dwight Powell
1: Dwight Howard
2: Dwight Jones
Pick one: 0
Results for Dwight Powell:

You searched for "Phil Pressey"
2 results found.
0: Phil Pressey
1: Paul Pressey
Pick one: 0
Results for Phil Pressey:

You searched for "Tayshaun Prince"
2 results found.
0: Tayshaun Prince
1: Taurean Prince
Pick one: 0
Results for Tayshaun Prince:

You searched for "Shavlik Randolph"
1 result found.
Shavlik Randolph
Results for Shavlik Randolph:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jared Sullinger"
1 result found.
Jared Sullinger
Results for Jared Sullinger:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "Marcus Thornton"
2 results found.
0: Marcus Thornton
1: Dallas Thornton
Pick one: 0
Results for Marcus Thornton:

You searched for "Evan Turner"
11 results found.
0: Evan Turner
1: Evan Fournier
2: John Turner
3: Bill Turner
4: Elston Turner
5: Gary Turner
6: Henry Turner
7: Jack Turner
8: Jack Turner
9: Jeff Turner
10: Wayne Turner
Pick one: 0
Results for Evan Turner:

You searched for "Gerald Wallace"
2 results found.
0: Gerald Wallace
1: Red Wallace
Pick one: 0
Results for Gerald Wallace:

You searched for "Brandan Wright"
5 results found.
0: Brandan Wright
1: Brandin Knight
2: Brandon Knight
3: Brad Wright
4: Bracey Wright
Pick one: 0
Results for Brandan Wright:

You searched for "James Young"
12 results found.
0: James Young
1: James Lang
2: Joe Young
3: Sam Young
4: James Jones
5: James Posey
6: Danny Young
7: Tim Young
8: Trae Young
9: James Cotton
10: James Hardy
11: James Scott
Pick one: 0
Results for James Young:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-11-03,28-067,BOS,AWAY,DAL,L (-5),1,38:36,14,28,...,7,2,1,2,1,2,35,26.3,8,Jeff Green
1,2015-01-12,22-314,BOS,HOME,NOP,W (+8),1,32:08,9,17,...,10,3,1,1,1,1,27,26.1,10,Jared Sullinger
2,2015-02-20,24-086,BOS,AWAY,SAC,L (-8),1,40:51,12,22,...,3,6,4,1,0,3,28,26.0,11,Avery Bradley
3,2015-03-18,21-012,BOS,AWAY,OKC,L (-4),1,36:32,8,14,...,9,5,2,2,2,4,25,25.2,10,Marcus Smart
4,2014-11-12,28-263,BOS,HOME,OKC,L (-15),1,36:16,8,15,...,9,12,2,0,1,2,20,24.8,1,Rajon Rondo

In [47]:


BOS_2016_gamelog = []

for p in BOS_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2016_gamelog.append(player_log)
BOS_2016_gamelog = pd.concat(BOS_2016_gamelog)    
BOS_2016_gamelogs = BOS_2016_gamelog.copy()
BOS_2016_gamelogs['GAME_SCORE'] = BOS_2016_gamelogs['GAME_SCORE'].astype(float)
BOS_2016_games = BOS_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2016_games_csv = BOS_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2016_games.csv', index=False)
BOS_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2016_games.csv')
BOS_2016_games_proc.head()

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Coty Clarke"
3 results found.
0: Coty Clarke
1: Cory Carr
2: Gary Clark
Pick one: 0
Results for Coty Clarke:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "John Holland"
11 results found.
0: John Holland
1: Joe Holland
2: John Collins
3: Brad Holland
4: John Logan
5: John Wallace
6: John Douglas
7: Johnny Horan
8: John Oldham
9: John Mandic
10: John Tschogl
Pick one: 0
Results for John Holland:

You searched for "R.J. Hunter"
4 results found.
0: R.J. Hunter
1: Les Hunter
2: P.J. Tucker
3: A.J. Wynder
Pick one: 0
Results for R.J. Hunter:

You searched for "Jonas Jerebko"
1 result found.
Jonas Jerebko
Results for Jonas Jerebko:

You searched for "Amir Johnson"
43 results found.
0: Amir Johnson
1: Alize Johnson
2: Andy Johnson
3: Armon Johnson
4: Arnie Johnson
5: Avery Johnson
6: Eric Johnson
7: James Johnson
8: Magic Johnson
9: Neil Johnson
10: Omari Johnson
11: B.J. Johnson
12: Brice Johnson
13: Buck Johnson
14: Cameron Johnson
15: Chris Johnson
16: Chris Johnson
17: Clay Johnson
18: Dakari Johnson
19: Dave Johnson
20: Ed Johnson
21: Eddie Johnson
22: Eddie Johnson
23: Ervin Johnson
24: Gus Johnson
25: Ivan Johnson
26: Joe Johnson
27: John Johnson
28: Ken Johnson
29: Ken Johnson
30: Kevin Johnson
31: Larry Johnson
32: Larry Johnson
33: Lee Johnson
34: Nick Johnson
35: Ollie Johnson
36: Ralph Johnson
37: Rich Johnson
38: Ron Johnson
39: Stew Johnson
40: Trey Johnson
41: Tyler Johnson
42: Neil Johnston
Pick one: 0
Results for Amir Johnson:

You searched for "Jordan Mickey"
2 results found.
0: Jordan Mickey
1: Jordan McRae
Pick one: 0
Results for Jordan Mickey:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Terry Rozier"
9 results found.
0: Terry Rozier
1: Terry Dozier
2: Terry Porter
3: Jerry Dover
4: Jerry Fowler
5: Terry Tyler
6: Terry Crosby
7: Terry Duerod
8: Terry Furlow
Pick one: 0
Results for Terry Rozier:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jared Sullinger"
1 result found.
Jared Sullinger
Results for Jared Sullinger:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "Evan Turner"
11 results found.
0: Evan Turner
1: Evan Fournier
2: John Turner
3: Bill Turner
4: Elston Turner
5: Gary Turner
6: Henry Turner
7: Jack Turner
8: Jack Turner
9: Jeff Turner
10: Wayne Turner
Pick one: 0
Results for Evan Turner:

You searched for "James Young"
12 results found.
0: James Young
1: James Lang
2: Joe Young
3: Sam Young
4: James Jones
5: James Posey
6: Danny Young
7: Tim Young
8: Trae Young
9: James Cotton
10: James Hardy
11: James Scott
Pick one: 0
Results for James Young:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-03-04,27-026,BOS,HOME,NYK,W (+1),1,35:44,9,15,...,3,8,2,0,0,2,32,32.4,5,Isaiah Thomas
1,2016-02-10,27-003,BOS,HOME,LAC,W (+5),1,39:56,12,21,...,4,11,1,0,2,3,36,32.4,7,Isaiah Thomas
2,2016-01-10,26-337,BOS,AWAY,MEM,L (-3),1,32:00,11,19,...,3,8,1,0,2,2,35,30.8,2,Isaiah Thomas
3,2015-12-16,26-312,BOS,AWAY,DET,L (-3),1,37:56,12,20,...,3,7,0,0,4,5,38,29.4,13,Isaiah Thomas
4,2016-01-12,26-339,BOS,AWAY,NYK,L (-6),1,34:45,11,23,...,3,8,1,1,2,0,34,28.1,-9,Isaiah Thomas

In [49]:
# removed mike dunleavy
# removed edy tavares
# selected Tim Hardaway, Jr = #1

BOS_2017_gamelog = []

for p in BOS_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2017_gamelog.append(player_log)
BOS_2017_gamelog = pd.concat(BOS_2017_gamelog)    
BOS_2017_gamelogs = BOS_2017_gamelog.copy()
BOS_2017_gamelogs['GAME_SCORE'] = BOS_2017_gamelogs['GAME_SCORE'].astype(float)
BOS_2017_games = BOS_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2017_games_csv = BOS_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2017_games.csv', index=False)
BOS_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2017_games.csv')
BOS_2017_games_proc.head()

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "José Calderón"
1 result found.
Jose Calderon
Results for Jose Calderon:

You searched for "Malcolm Delaney"
1 result found.
Malcolm Delaney
Results for Malcolm Delaney:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Dwight Howard"
2 results found.
0: Dwight Howard
1: Dwight Powell
Pick one: 0
Results for Dwight Howard:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Ryan Kelly"
8 results found.
0: Ryan Kelly
1: Rich Kelley
2: Tom Kelly
3: Ryan Reid
4: Jordan Bell
5: Ryan Bowen
6: Ryan Gomes
7: Ryan Stack
Pick one: 0
Results for Ryan Kelly:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Lamar Patterson"
2 results found.
0: Lamar Patterson
1: Tom Patterson
Pick one: 0
Results for Lamar Patterson:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-01-29,31-354,ATL,HOME,NYK,W (+3),1,60:07,13,29,...,19,7,1,0,3,4,37,31.3,-1,Paul Millsap
1,2016-12-07,30-365,ATL,HOME,MIA,W (+8),1,35:05,9,11,...,17,4,1,2,1,2,23,29.8,16,Dwight Howard
2,2016-12-19,23-095,ATL,AWAY,OKC,W (+2),1,39:50,10,16,...,5,8,0,0,4,1,31,27.3,9,Dennis Schröder
3,2017-02-02,31-056,ATL,AWAY,HOU,W (+5),1,37:18,11,13,...,23,3,1,2,5,1,24,26.9,9,Dwight Howard
4,2016-12-16,31-008,ATL,AWAY,TOR,W (+4),1,34:03,10,13,...,15,1,0,0,1,3,27,26.5,15,Dwight Howard

In [37]:

BOS_2018_gamelog = []

for p in BOS_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2018_gamelog.append(player_log)
BOS_2018_gamelog = pd.concat(BOS_2018_gamelog)    
BOS_2018_gamelogs = BOS_2018_gamelog.copy()
BOS_2018_gamelogs['GAME_SCORE'] = BOS_2018_gamelogs['GAME_SCORE'].astype(float)
BOS_2018_games = BOS_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2018_games_csv = BOS_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2018_games.csv', index=False)
BOS_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2018_games.csv')
BOS_2018_games_proc.head()

You searched for "Luke Babbitt"
2 results found.
0: Luke Babbitt
1: Luke Witte
Pick one: 0
Results for Luke Babbitt:

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Nicolás Brussino"
1 result found.
Nicolas Brussino
Results for Nicolas Brussino:

You searched for "Tyler Cavanaugh"
1 result found.
Tyler Cavanaugh
Results for Tyler Cavanaugh:

You searched for "Antonius Cleveland"
1 result found.
Antonius Cleveland
Results for Antonius Cleveland:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Malcolm Delaney"
1 result found.
Malcolm Delaney
Results for Malcolm Delaney:

You searched for "Tyler Dorsey"
3 results found.
0: Tyler Dorsey
1: Tyler Bey
2: Joey Dorsey
Pick one: 0
Results for Tyler Dorsey:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Damion Lee"
9 results found.
0: Damion Lee
1: David Lee
2: David Lee
3: Saben Lee
4: Don Dee
5: Damion James
6: Dick Lee
7: Ron Lee
8: Davon Reed
Pick one: 0
Results for Damion Lee:

You searched for "Josh Magette"
1 result found.
Josh Magette
Results for Josh Magette:

You searched for "Jaylen Morris"
3 results found.
0: Jaylen Morris
1: Jalen Harris
2: Jaylen Hoard
Pick one: 0
Results for Jaylen Morris:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

You searched for "Isaiah Taylor"
3 results found.
0: Isaiah Taylor
1: Brian Taylor
2: Isaiah Thomas
Pick one: 0
Results for Isaiah Taylor:

You searched for "Andrew White"
5 results found.
0: Andrew White
1: Andrew Gaze
2: Randy White
3: Rodney White
4: Andrew Bogut
Pick one: 0
Results for Andrew White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-11,23-354,ATL,HOME,CHI,L (-7),1,35:20,11,18,...,6,7,1,0,2,1,38,34.7,10,Taurean Prince
1,2018-03-20,24-186,ATL,AWAY,UTA,W (+5),1,34:47,16,28,...,5,7,0,0,2,3,41,29.8,10,Dennis Schröder
2,2017-12-29,23-282,ATL,AWAY,TOR,L (-13),1,34:39,12,16,...,10,1,0,2,0,1,30,28.3,-5,Taurean Prince
3,2017-11-15,28-095,ATL,HOME,SAC,W (+46),1,23:53,9,10,...,14,5,2,2,0,3,20,27.7,21,Dewayne Dedmon
4,2018-04-08,24-017,ATL,AWAY,BOS,W (+6),1,39:15,12,17,...,8,5,1,1,5,2,33,27.7,6,Taurean Prince

In [38]:
BOS_2019_gamelog = []

for p in BOS_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2019_gamelog.append(player_log)
BOS_2019_gamelog = pd.concat(BOS_2019_gamelog)    
BOS_2019_gamelogs = BOS_2019_gamelog.copy()
BOS_2019_gamelogs['GAME_SCORE'] = BOS_2019_gamelogs['GAME_SCORE'].astype(float)
BOS_2019_games = BOS_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2019_games_csv = BOS_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2019_games.csv', index=False)
BOS_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2019_games.csv')
BOS_2019_games_proc.head()

You searched for "Jaylen Adams"
6 results found.
0: Jaylen Adams
1: Alvan Adams
2: Hassan Adams
3: Jordan Adams
4: Steven Adams
5: Jaylen Hoard
Pick one: 0
Results for Jaylen Adams:

You searched for "Justin Anderson"
1 result found.
Justin Anderson
Results for Justin Anderson:

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Vince Carter"
6 results found.
0: Vince Carter
1: Vince Hunter
2: Butch Carter
3: Jake Carter
4: Ron Carter
5: Vince Taylor
Pick one: 0
Results for Vince Carter:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Deyonta Davis"
2 results found.
0: Deyonta Davis
1: Monti Davis
Pick one: 0
Results for Deyonta Davis:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Tyler Dorsey"
3 results found.
0: Tyler Dorsey
1: Tyler Bey
2: Joey Dorsey
Pick one: 0
Results for Tyler Dorsey:

You searched for "Daniel Hamilton"
4 results found.
0: Daniel Hamilton
1: Dale Hamilton
2: Dennis Hamilton
3: Tang Hamilton
Pick one: 0
Results for Daniel Hamilton:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "Isaac Humphries"
2 results found.
0: Isaac Humphries
1: Jay Humphries
Pick one: 0
Results for Isaac Humphries:

You searched for "B.J. Johnson"
22 results found.
0: B.J. Johnson
1: Buck Johnson
2: Amir Johnson
3: Andy Johnson
4: Brice Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: Eric Johnson
9: Gus Johnson
10: Ivan Johnson
11: Joe Johnson
12: John Johnson
13: Ken Johnson
14: Ken Johnson
15: Lee Johnson
16: Neil Johnson
17: Nick Johnson
18: Rich Johnson
19: Ron Johnson
20: Stew Johnson
21: Trey Johnson
Pick one: 0
Results for B.J. Johnson:

You searched for "Alex Len"
7 results found.
0: Alex Len
1: Saben Lee
2: Alex Acker
3: Alex Kirk
4: Greg Lee
5: Alex Scales
6: Hal Hale
Pick one: 0
Results for Alex Len:

You searched for "Jeremy Lin"
5 results found.
0: Jeremy Lin
1: Jeremy Lamb
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Lin:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Alex Poythress"
1 result found.
Alex Poythress
Results for Alex Poythress:

You searched for "Taurean Prince"
3 results found.
0: Taurean Prince
1: Tayshaun Prince
2: Taurean Green
Pick one: 0
Results for Taurean Prince:

You searched for "Jordan Sibert"
3 results found.
0: Jordan Sibert
1: Jordan Bell
2: Jordan Mickey
Pick one: 0
Results for Jordan Sibert:

You searched for "Omari Spellman"
1 result found.
Omari Spellman
Results for Omari Spellman:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-01,20-163,ATL,HOME,CHI,L (-7),1,55:50,17,33,...,8,16,1,1,9,2,49,37.8,-9,Trae Young
1,2019-04-03,20-196,ATL,HOME,PHI,W (+8),1,32:49,12,18,...,7,12,1,0,2,4,33,33.9,6,Trae Young
2,2019-01-23,21-122,ATL,AWAY,CHI,W (+20),1,29:10,14,16,...,8,2,2,0,2,4,35,32.8,33,John Collins
3,2019-02-02,21-132,ATL,AWAY,PHO,W (+6),1,38:49,13,20,...,16,2,0,1,2,2,35,32.7,15,John Collins
4,2018-10-21,20-032,ATL,AWAY,CLE,W (+22),1,37:40,13,23,...,2,11,1,0,1,2,35,31.6,19,Trae Young

In [39]:
BOS_2020_gamelog = []

for p in BOS_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2020_gamelog.append(player_log)
BOS_2020_gamelog = pd.concat(BOS_2020_gamelog)    
BOS_2020_gamelogs = BOS_2020_gamelog.copy()
BOS_2020_gamelogs['GAME_SCORE'] = BOS_2020_gamelogs['GAME_SCORE'].astype(float)
BOS_2020_games = BOS_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2020_games_csv = BOS_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2020_games.csv', index=False)
BOS_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2020_games.csv')
BOS_2020_games_proc.head()

You searched for "DeAndre' Bembry"
1 result found.
DeAndre' Bembry
Results for DeAndre' Bembry:

You searched for "Charlie Brown"
7 results found.
0: Charlie Brown
1: Charlie Bell
2: Charlie Black
3: Harold Brown
4: Charlie Criss
5: Charlie Scott
6: Charlie Ward
Pick one: 0
Results for Charlie Brown:

You searched for "Vince Carter"
6 results found.
0: Vince Carter
1: Vince Hunter
2: Butch Carter
3: Jake Carter
4: Ron Carter
5: Vince Taylor
Pick one: 0
Results for Vince Carter:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Allen Crabbe"
1 result found.
Allen Crabbe
Results for Allen Crabbe:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Bruno Fernando"
1 result found.
Bruno Fernando
Results for Bruno Fernando:

You searched for "Brandon Goodwin"
1 result found.
Brandon Goodwin
Results for Brandon Goodwin:

You searched for "Treveon Graham"
1 result found.
Treveon Graham
Results for Treveon Graham:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "De'Andre Hunter"
1 result found.
De'Andre Hunter
Results for De'Andre Hunter:

You searched for "Damian Jones"
14 results found.
0: Damian Jones
1: Damon Jones
2: Damion James
3: DeQuan Jones
4: Mason Jones
5: Alvin Jones
6: Askia Jones
7: Dahntay Jones
8: Jalen Jones
9: James Jones
10: Kevin Jones
11: Robin Jones
12: Sam Jones
13: Wali Jones
Pick one: 0
Results for Damian Jones:

You searched for "Alex Len"
7 results found.
0: Alex Len
1: Saben Lee
2: Alex Acker
3: Alex Kirk
4: Greg Lee
5: Alex Scales
6: Hal Hale
Pick one: 0
Results for Alex Len:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Chandler Parsons"
1 result found.
Chandler Parsons
Results for Chandler Parsons:

You searched for "Cam Reddish"
1 result found.
Cam Reddish
Results for Cam Reddish:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Evan Turner"
11 results found.
0: Evan Turner
1: Evan Fournier
2: John Turner
3: Bill Turner
4: Elston Turner
5: Gary Turner
6: Henry Turner
7: Jack Turner
8: Jack Turner
9: Jeff Turner
10: Wayne Turner
Pick one: 0
Results for Evan Turner:

You searched for "Tyrone Wallace"
1 result found.
Tyrone Wallace
Results for Tyrone Wallace:

You searched for "Paul Watson"
10 results found.
0: Paul Watson
1: Earl Watson
2: Pau Gasol
3: Paul Gordon
4: Paul Huston
5: Paul Walther
6: C.J. Watson
7: Jamie Watson
8: Paul Long
9: Samuel Watts
Pick one: 0
Results for Paul Watson:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-26,21-129,ATL,HOME,WAS,W (+19),1,38:59,13,24,...,6,14,1,0,5,2,45,39.4,22,Trae Young
1,2020-02-20,21-154,ATL,HOME,MIA,W (+5),1,39:32,12,25,...,2,8,2,1,7,4,50,37.2,10,Trae Young
2,2020-01-20,21-123,ATL,HOME,TOR,L (-5),1,39:01,11,20,...,6,15,1,0,7,3,42,36.7,1,Trae Young
3,2020-02-09,21-143,ATL,HOME,NYK,W (+5),1,47:40,13,30,...,1,13,2,0,7,1,48,36.2,10,Trae Young
4,2020-02-22,22-152,ATL,HOME,DAL,W (+4),1,37:04,13,18,...,17,2,1,2,1,1,35,35.9,9,John Collins

In [50]:
# removed clint capela
BOS_2021_gamelog = []

for p in BOS_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2021_gamelog.append(player_log)
BOS_2021_gamelog = pd.concat(BOS_2021_gamelog)    
BOS_2021_gamelogs = BOS_2021_gamelog.copy()
BOS_2021_gamelogs['GAME_SCORE'] = BOS_2021_gamelogs['GAME_SCORE'].astype(float)
BOS_2021_games = BOS_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2021_games_csv = BOS_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2021_games.csv', index=False)
BOS_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2021_games.csv')
BOS_2021_games_proc.head()

You searched for "Bogdan Bogdanović"
2 results found.
0: Bogdan Bogdanovic
1: Bojan Bogdanovic
Pick one: 0
Results for Bogdan Bogdanovic:

You searched for "John Collins"
17 results found.
0: John Collins
1: Don Collins
2: Doug Collins
3: Jason Collins
4: John Holland
5: Art Collins
6: James Collins
7: Jarron Collins
8: Jimmy Collins
9: Zach Collins
10: Ryan Hollins
11: John Jenkins
12: John Mills
13: John Olive
14: John Salmons
15: John Williams
16: John Tschogl
Pick one: 0
Results for John Collins:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Bruno Fernando"
1 result found.
Bruno Fernando
Results for Bruno Fernando:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Brandon Goodwin"
1 result found.
Brandon Goodwin
Results for Brandon Goodwin:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Kevin Huerter"
5 results found.
0: Kevin Huerter
1: Kevin Hervey
2: Kevin Porter
3: Kevin Porter
4: Kevin Kunnert
Pick one: 0
Results for Kevin Huerter:

You searched for "De'Andre Hunter"
1 result found.
De'Andre Hunter
Results for De'Andre Hunter:

You searched for "Nathan Knight"
1 result found.
Nathan Knight
Results for Nathan Knight:

You searched for "Skylar Mays"
1 result found.
Skylar Mays
Results for Skylar Mays:

You searched for "Onyeka Okongwu"
1 result found.
Onyeka Okongwu
Results for Onyeka Okongwu:

You searched for "Cam Reddish"
1 result found.
Cam Reddish
Results for Cam Reddish:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Trae Young"
8 results found.
0: Trae Young
1: Joe Young
2: Sam Young
3: Tim Young
4: James Young
5: Nick Young
6: Perry Young
7: Tre Jones
Pick one: 0
Results for Trae Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-21,22-155,ATL,HOME,DEN,W (+8),1,36:07,10,19,...,6,15,1,0,3,2,35,35.2,6,Trae Young
1,2021-03-26,23-184,ATL,AWAY,GSW,W (+16),1,34:00,14,19,...,12,2,1,0,0,3,38,35.1,21,John Collins
2,2020-12-23,22-095,ATL,AWAY,CHI,W (+20),1,25:57,10,12,...,6,7,0,0,4,1,37,34.9,30,Trae Young
3,2021-04-09,22-202,ATL,HOME,CHI,W (+12),1,37:56,15,25,...,8,9,0,0,4,1,42,33.6,20,Trae Young
4,2021-01-29,22-132,ATL,AWAY,WAS,W (+16),1,33:41,10,18,...,3,5,0,0,2,4,41,33.2,12,Trae Young

## combine all seasons

In [59]:
BOS_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2000_games.csv')
BOS_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2001_games.csv')
BOS_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2002_games.csv')
BOS_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2003_games.csv')
BOS_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2004_games.csv')
BOS_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2005_games.csv')
BOS_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2006_games.csv')
BOS_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2007_games.csv')
BOS_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2008_games.csv')
BOS_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2009_games.csv')
BOS_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2010_games.csv')
BOS_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2011_games.csv')
BOS_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2012_games.csv')
BOS_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2013_games.csv')
BOS_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2014_games.csv')
BOS_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2015_games.csv')
BOS_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2016_games.csv')
BOS_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2017_games.csv')
BOS_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2018_games.csv')
BOS_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2019_games.csv')
BOS_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2020_games.csv')
BOS_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2021_games.csv')

In [60]:
BOS_season_dfs = [BOS_2000_games_io, BOS_2001_games_io, BOS_2002_games_io, BOS_2003_games_io, BOS_2004_games_io, BOS_2005_games_io,
                 BOS_2006_games_io, BOS_2007_games_io, BOS_2008_games_io, BOS_2009_games_io, BOS_2010_games_io, BOS_2011_games_io,
                 BOS_2012_games_io, BOS_2013_games_io, BOS_2014_games_io, BOS_2015_games_io, BOS_2016_games_io, BOS_2017_games_io,
                 BOS_2018_games_io, BOS_2019_games_io, BOS_2020_games_io, BOS_2021_games_io]

In [61]:
BOS_all = pd.concat(BOS_season_dfs)
BOS_all_sorted = BOS_all.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-11-23,24-347,ATL,HOME,DET,W (+7),1,45:12,21,30,...,12,5,2,1,2,1,50,46.0,12,Shareef Abdur-Rahim
0,2020-01-26,21-129,ATL,HOME,WAS,W (+19),1,38:59,13,24,...,6,14,1,0,5,2,45,39.4,22,Trae Young
0,2019-03-01,20-163,ATL,HOME,CHI,L (-7),1,55:50,17,33,...,8,16,1,1,9,2,49,37.8,-9,Trae Young
0,2006-03-19,24-263,ATL,HOME,ORL,W (+1),1,47:33,17,24,...,3,11,0,0,0,3,40,37.8,7,Joe Johnson
0,2004-03-12,25-342,ATL,HOME,WAS,W (+14),1,45:26,14,24,...,2,7,2,1,2,0,42,37.4,17,Stephen Jackson
1,2020-02-20,21-154,ATL,HOME,MIA,W (+5),1,39:32,12,25,...,2,8,2,1,7,4,50,37.2,10,Trae Young
2,2020-01-20,21-123,ATL,HOME,TOR,L (-5),1,39:01,11,20,...,6,15,1,0,7,3,42,36.7,1,Trae Young
0,1999-12-14,33-172,ATL,HOME,MIN,W (+11),1,41:04,11,11,...,29,3,0,6,5,2,27,36.5,13,Dikembe Mutombo
1,2006-02-24,24-240,ATL,AWAY,IND,W (+5),1,47:21,16,24,...,1,13,3,0,4,5,40,36.4,3,Joe Johnson
3,2020-02-09,21-143,ATL,HOME,NYK,W (+5),1,47:40,13,30,...,1,13,2,0,7,1,48,36.2,10,Trae Young
4,2020-02-22,22-152,ATL,HOME,DAL,W (+4),1,37:04,13,18,...,17,2,1,2,1,1,35,35.9,9,John Collins
0,2016-01-09,29-220,ATL,HOME,CHI,W (+15),1,36:18,15,21,...,10,6,1,4,0,2,33,35.7,22,Al Horford
5,2020-01-30,21-133,ATL,HOME,PHI,W (+10),1,38:07,9,22,...,6,18,2,0,7,2,39,35.4,17,Trae Young
0,2021-02-21,22-155,ATL,HOME,DEN,W (+8),1,36:07,10,19,...,6,15,1,0,3,2,35,35.2,6,Trae Young
1,2002-01-15,24-122,ATL,HOME,DAL,L (-9),1,45:24,15,23,...,3,5,3,0,5,4,46,35.1,-3,Jason Terry
1,2021-03-26,23-184,ATL,AWAY,GSW,W (+16),1,34:00,14,19,...,12,2,1,0,0,3,38,35.1,21,John Collins
2,2020-12-23,22-095,ATL,AWAY,CHI,W (+20),1,25:57,10,12,...,6,7,0,0,4,1,37,34.9,30,Trae Young
0,2018-03-11,23-354,ATL,HOME,CHI,L (-7),1,35:20,11,18,...,6,7,1,0,2,1,38,34.7,10,Taurean Prince
6,2019-11-12,21-054,ATL,AWAY,DEN,W (+4),1,41:20,13,21,...,4,11,0,1,6,1,42,34.5,7,Trae Young
7,2020-01-08,21-111,ATL,HOME,HOU,L (-7),1,38:35,11,30,...,13,10,0,1,3,1,42,34.4,4,Trae Young
1,2003-11-28,26-352,ATL,HOME,MIA,W (+12),1,36:21,11,14,...,12,0,3,1,2,2,34,34.3,16,Shareef Abdur-Rahim
0,2010-12-07,25-002,ATL,HOME,NJN,W (+15),1,37:58,14,16,...,3,7,1,2,1,1,34,34.0,17,Josh Smith
8,2020-01-22,22-121,ATL,HOME,LAC,W (+7),1,35:43,12,22,...,16,2,3,1,0,3,33,33.9,24,John Collins
2,2002-03-13,24-179,ATL,HOME,DEN,W (+3),1,43:17,11,14,...,3,8,3,0,0,2,31,33.9,3,Jason Terry
1,2019-04-03,20-196,ATL,HOME,PHI,W (+8),1,32:49,12,18,...,7,12,1,0,2,4,33,33.9,6,Trae Young