In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [3]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [4]:
season = 2000
appended_data_CHI = []

# CHI
while season <= 2021:
    df_CHI = get_roster('CHI', season)
    df_CHI['Season'] = season
    df_CHI['Team'] = 'CHI'
    appended_data_CHI.append(df_CHI)
    season = season + 1
appended_data_CHI = pd.concat(appended_data_CHI)

In [5]:
CHI_df_all = appended_data_CHI.copy()
CHI_df_all_csv = CHI_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_players_all.csv', index=False)
CHI_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_players_all.csv')
CHI_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,22,Chris Anstey,C,7-0,249,1975-01-01,AU,2,NaN,2000,CHI
1,11,B.J. Armstrong,PG,6-2,175,1967-09-09,US,10,Iowa,2000,CHI
2,25,Corey Benjamin,SG,6-6,200,1978-02-24,US,1,Oregon State,2000,CHI
3,42,Elton Brand,PF,6-8,275,1979-03-11,US,R,Duke,2000,CHI
4,1,Randy Brown,PG,6-2,190,1968-05-22,US,8,"Houston, New Mexico State",2000,CHI

In [6]:
CHI_df_2000 = CHI_df_all[CHI_df_all['Season'] == 2000]
CHI_df_2001 = CHI_df_all[CHI_df_all['Season'] == 2001]
CHI_df_2002 = CHI_df_all[CHI_df_all['Season'] == 2002]
CHI_df_2003 = CHI_df_all[CHI_df_all['Season'] == 2003]
CHI_df_2004 = CHI_df_all[CHI_df_all['Season'] == 2004]
CHI_df_2005 = CHI_df_all[CHI_df_all['Season'] == 2005]
CHI_df_2006 = CHI_df_all[CHI_df_all['Season'] == 2006]
CHI_df_2007 = CHI_df_all[CHI_df_all['Season'] == 2007]
CHI_df_2008 = CHI_df_all[CHI_df_all['Season'] == 2008]
CHI_df_2009 = CHI_df_all[CHI_df_all['Season'] == 2009]
CHI_df_2010 = CHI_df_all[CHI_df_all['Season'] == 2010]
CHI_df_2011 = CHI_df_all[CHI_df_all['Season'] == 2011]
CHI_df_2012 = CHI_df_all[CHI_df_all['Season'] == 2012]
CHI_df_2013 = CHI_df_all[CHI_df_all['Season'] == 2013]
CHI_df_2014 = CHI_df_all[CHI_df_all['Season'] == 2014]
CHI_df_2015 = CHI_df_all[CHI_df_all['Season'] == 2015]
CHI_df_2016 = CHI_df_all[CHI_df_all['Season'] == 2016]
CHI_df_2017 = CHI_df_all[CHI_df_all['Season'] == 2017]
CHI_df_2018 = CHI_df_all[CHI_df_all['Season'] == 2018]
CHI_df_2019 = CHI_df_all[CHI_df_all['Season'] == 2019]
CHI_df_2020 = CHI_df_all[CHI_df_all['Season'] == 2020]
CHI_df_2021 = CHI_df_all[CHI_df_all['Season'] == 2021]

In [7]:
CHI_df_2000_players = CHI_df_2000['PLAYER'].to_list()
CHI_df_2001_players = CHI_df_2001['PLAYER'].to_list()
CHI_df_2002_players = CHI_df_2002['PLAYER'].to_list()
CHI_df_2003_players = CHI_df_2003['PLAYER'].to_list()
CHI_df_2004_players = CHI_df_2004['PLAYER'].to_list()
CHI_df_2005_players = CHI_df_2005['PLAYER'].to_list()

CHI_df_2006_players = CHI_df_2006['PLAYER'].to_list()
CHI_df_2007_players = CHI_df_2007['PLAYER'].to_list()
CHI_df_2008_players = CHI_df_2008['PLAYER'].to_list()
CHI_df_2009_players = CHI_df_2009['PLAYER'].to_list()
CHI_df_2010_players = CHI_df_2010['PLAYER'].to_list()
CHI_df_2011_players = CHI_df_2011['PLAYER'].to_list()

CHI_df_2012_players = CHI_df_2012['PLAYER'].to_list()
CHI_df_2013_players = CHI_df_2013['PLAYER'].to_list()
CHI_df_2014_players = CHI_df_2014['PLAYER'].to_list()
CHI_df_2015_players = CHI_df_2015['PLAYER'].to_list()
CHI_df_2016_players = CHI_df_2016['PLAYER'].to_list()
CHI_df_2017_players = CHI_df_2017['PLAYER'].to_list()

CHI_df_2018_players = CHI_df_2018['PLAYER'].to_list()
CHI_df_2019_players = CHI_df_2019['PLAYER'].to_list()
CHI_df_2020_players = CHI_df_2020['PLAYER'].to_list()
CHI_df_2021_players = CHI_df_2021['PLAYER'].to_list()

## Players to drop

In [27]:
# 2000 Metta World Peace
# 20021 - Khalid El-Amin
#2002 - Metta World Peace
# 2014, 2015, 2016 - Mike Dunleavy
# 2019 Wendell Carter
# 2020 Wendell Carter
# 2021 Troy BRown

#CHI_df_2000_players.remove("Metta World Peace")
#CHI_df_2001_players.remove("Khalid El-Amin")
#CHI_df_2001_players.remove("Metta World Peace")
#CHI_df_2002_players.remove("Metta World Peace")
#CHI_df_2014_players.remove("Mike Dunleavy")
#CHI_df_2015_players.remove("Mike Dunleavy")
#CHI_df_2016_players.remove("Mike Dunleavy")
#CHI_df_2019_players.remove("Wendell Carter")
#CHI_df_2020_players.remove("Wendell Carter")
#CHI_df_2021_players.remove("Troy Brown")
#CHI_df_2015_players.remove("E'Twaun Moore")
#CHI_df_2016_players.remove("E'Twaun Moore")
#CHI_df_2019_players.remove("Walt Lemon")
CHI_df_2021_players.remove("Wendell Carter")

In [9]:
# removed MEtta World Peace

CHI_2000_gamelog = []



for p in CHI_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2000_gamelog.append(player_log)
CHI_2000_gamelog = pd.concat(CHI_2000_gamelog)    
CHI_2000_gamelogs = CHI_2000_gamelog.copy()
CHI_2000_gamelogs['GAME_SCORE'] = CHI_2000_gamelogs['GAME_SCORE'].astype(float)
CHI_2000_games = CHI_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2000_games_csv = CHI_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2000_games.csv', index=False)
CHI_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2000_games.csv')
CHI_2000_games_proc.head()

You searched for "Chris Anstey"
8 results found.
0: Chris Anstey
1: Chris Dudley
2: Chris Engler
3: Chris Hunter
4: Chris Porter
5: Chris Whitney
6: Chris Garner
7: Chris Harris
Pick one: 0
Results for Chris Anstey:

You searched for "B.J. Armstrong"
3 results found.
0: B.J. Armstrong
1: Bob Armstrong
2: Tate Armstrong
Pick one: 0
Results for B.J. Armstrong:

You searched for "Corey Benjamin"
1 result found.
Corey Benjamin
Results for Corey Benjamin:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Randy Brown"
18 results found.
0: Randy Brown
1: Andre Brown
2: Larry Brown
3: Tony Brown
4: Randy Allen
5: Randy Breuer
6: Bobby Brown
7: Fred Brown
8: Gerald Brown
9: Raymond Brown
10: Rickey Brown
11: Roger Brown
12: Roger Brown
13: Stan Brown
14: Troy Brown
15: Randy Foye
16: Randy Stoll
17: Randy Woods
Pick one: 0
Results for Randy Brown:

You searched for "Chris Carr"
21 results found.
0: Chris Carr
1: Chris Babb
2: Cory Carr
3: Chris Ford
4: Chris Garner
5: Chris Harris
6: Chris Paul
7: Chris Taft
8: Chris Bosh
9: Chris Herren
10: Chris Jent
11: Chris Kaman
12: Chris King
13: Chris McCray
14: Chris Mihm
15: Chris Morris
16: Chris Munk
17: Chris Porter
18: Chris Richard
19: Chris Welp
20: Chris Silva
Pick one: 0
Results for Chris Carr:

You searched for "Kornél Dávid"
1 result found.
Kornel David
Results for Kornel David:

You searched for "Hersey Hawkins"
1 result found.
Hersey Hawkins
Results for Hersey Hawkins:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Lari Ketner"
3 results found.
0: Lari Ketner
1: Gary Keller
2: Larry Kenon
Pick one: 0
Results for Lari Ketner:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Rusty LaRue"
1 result found.
Rusty LaRue
Results for Rusty LaRue:

You searched for "Matt Maloney"
6 results found.
0: Matt Maloney
1: Matt Mooney
2: Matt Barnes
3: Mo Mahoney
4: Karl Malone
5: Moses Malone
Pick one: 0
Results for Matt Maloney:

You searched for "Will Perdue"
4 results found.
0: Will Perdue
1: Will Cherry
2: Willie Reed
3: Willis Reed
Pick one: 0
Results for Will Perdue:

You searched for "Khalid Reeves"
1 result found.
Khalid Reeves
Results for Khalid Reeves:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Dickey Simpkins"
1 result found.
Dickey Simpkins
Results for Dickey Simpkins:

You searched for "John Starks"
9 results found.
0: John Starks
1: John Shasky
2: John Barr
3: John Edwards
4: John Garris
5: John Hargis
6: John Stroud
7: John Trapp
8: John Kuester
Pick one: 0
Results for John Starks:

You searched for "Dedric Willoughby"
1 result found.
Dedric Willoughby
Results for Dedric Willoughby:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-04-13,21-033,CHI,HOME,WAS,L (-6),1,42:46,16,21,...,12,2,0,3,1,2,44,42.6,-11,Elton Brand
1,2000-01-07,31-111,CHI,AWAY,WAS,W (+7),1,39:09,9,15,...,2,10,3,2,1,1,33,35.9,2,Toni Kukoč
2,2000-02-24,20-350,CHI,AWAY,IND,L (-17),1,38:49,18,23,...,7,3,1,3,2,2,38,35.2,-10,Elton Brand
3,1999-11-12,33-044,CHI,AWAY,PHI,L (-6),1,36:56,11,16,...,2,7,4,0,2,5,30,28.7,-6,Hersey Hawkins
4,2000-01-08,20-303,CHI,HOME,BOS,W (+17),1,38:36,9,14,...,14,2,3,2,2,3,26,28.2,9,Elton Brand

In [13]:
# removed Khalid el amin
# removed metta world pead

CHI_2001_gamelog = []



for p in CHI_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2001_gamelog.append(player_log)
CHI_2001_gamelog = pd.concat(CHI_2001_gamelog)    
CHI_2001_gamelogs = CHI_2001_gamelog.copy()
CHI_2001_gamelogs['GAME_SCORE'] = CHI_2001_gamelogs['GAME_SCORE'].astype(float)
CHI_2001_games = CHI_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2001_games_csv = CHI_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2001_games.csv', index=False)
CHI_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2001_games.csv')
CHI_2001_games_proc.head()

You searched for "Dalibor Bagarić"
1 result found.
Dalibor Bagaric
Results for Dalibor Bagaric:

You searched for "Corey Benjamin"
1 result found.
Corey Benjamin
Results for Corey Benjamin:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Bryce Drew"
3 results found.
0: Bryce Drew
1: Bruce Brown
2: Bruce Hale
Pick one: 0
Results for Bryce Drew:

You searched for "Marcus Fizer"
4 results found.
0: Marcus Fizer
1: Marcus Liberty
2: Marcus Paige
3: Marcus Webb
Pick one: 0
Results for Marcus Fizer:

You searched for "Steve Goodrich"
1 result found.
Steve Goodrich
Results for Steve Goodrich:

You searched for "A.J. Guyton"
1 result found.
A.J. Guyton
Results for A.J. Guyton:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Dragan Tarlać"
1 result found.
Dragan Tarlac
Results for Dragan Tarlac:

You searched for "Jake Voskuhl"
1 result found.
Jake Voskuhl
Results for Jake Voskuhl:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-01-23,24-250,CHI,HOME,POR,L (-4),1,48:00,16,25,...,7,7,5,0,4,1,39,36.3,-4,Ron Mercer
1,2001-03-03,28-139,CHI,AWAY,MIL,L (-4),1,51:51,9,14,...,4,13,2,0,0,4,28,32.5,-5,Fred Hoiberg
2,2001-01-04,21-299,CHI,HOME,WAS,W (+2),1,42:07,12,17,...,9,8,1,4,3,2,30,31.2,5,Elton Brand
3,2000-12-31,21-295,CHI,HOME,NJN,W (+9),1,40:26,9,16,...,16,4,0,2,1,4,31,29.8,18,Elton Brand
4,2000-12-06,24-202,CHI,HOME,CLE,L (-4),1,44:25,14,24,...,7,3,1,2,1,0,34,28.4,-1,Ron Mercer

In [14]:
# removed Metta World Peace
CHI_2002_gamelog = []



for p in CHI_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2002_gamelog.append(player_log)
CHI_2002_gamelog = pd.concat(CHI_2002_gamelog)    
CHI_2002_gamelogs = CHI_2002_gamelog.copy()
CHI_2002_gamelogs['GAME_SCORE'] = CHI_2002_gamelogs['GAME_SCORE'].astype(float)
CHI_2002_games = CHI_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2002_games_csv = CHI_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2002_games.csv', index=False)
CHI_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2002_games.csv')
CHI_2002_games_proc.head()

You searched for "Greg Anthony"
6 results found.
0: Greg Anthony
1: Joel Anthony
2: Cole Anthony
3: Greg Sutton
4: Greg Anderson
5: Greg Jackson
Pick one: 0
Results for Greg Anthony:

You searched for "Dalibor Bagarić"
1 result found.
Dalibor Bagaric
Results for Dalibor Bagaric:

You searched for "Travis Best"
6 results found.
0: Travis Best
1: Travis Wear
2: Travis Grant
3: Travis Leslie
4: Travis Mays
5: David West
Pick one: 0
Results for Travis Best:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Marcus Fizer"
4 results found.
0: Marcus Fizer
1: Marcus Liberty
2: Marcus Paige
3: Marcus Webb
Pick one: 0
Results for Marcus Fizer:

You searched for "A.J. Guyton"
1 result found.
A.J. Guyton
Results for A.J. Guyton:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Charles Oakley"
8 results found.
0: Charles Oakley
1: Charles Barkley
2: Charles Beasley
3: Charles Bradley
4: Charles Dudley
5: Charles Cooke
6: Charles Jordan
7: Charles Thomas
Pick one: 0
Results for Charles Oakley:

You searched for "Kevin Ollie"
8 results found.
0: Kevin Ollie
1: Kevin Love
2: Kevin Willis
3: Kevin Joyce
4: Kevin Loder
5: Kevin O'Shea
6: Kevin Jones
7: Kelvin Cato
Pick one: 0
Results for Kevin Ollie:

You searched for "Norm Richardson"
4 results found.
0: Norm Richardson
1: Josh Richardson
2: Pooh Richardson
3: Jeremy Richardson
Pick one: 0
Results for Norm Richardson:

You searched for "Eddie Robinson"
11 results found.
0: Eddie Robinson
1: Eddie Johnson
2: Eddie Johnson
3: Chris Robinson
4: David Robinson
5: Devin Robinson
6: Jackie Robinson
7: Jerome Robinson
8: Nate Robinson
9: Ronnie Robinson
10: Wayne Robinson
Pick one: 0
Results for Eddie Robinson:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-03-16,29-045,CHI,AWAY,HOU,W (+2),1,56:16,18,34,...,11,6,2,1,1,1,44,37.0,-1,Jalen Rose
1,2002-01-11,28-346,IND,HOME,CHI,W (+7),1,41:53,13,21,...,4,2,3,0,0,2,38,33.3,7,Jalen Rose
2,2001-10-30,28-273,IND,AWAY,NJN,L (-6),1,43:38,18,27,...,6,3,1,0,3,3,43,32.0,8,Jalen Rose
3,2002-03-11,29-040,CHI,HOME,SAC,L (-4),1,42:21,13,22,...,1,13,1,1,4,4,35,30.3,-5,Jalen Rose
4,2002-01-26,25-289,CHI,HOME,MEM,W (+3),1,35:13,10,16,...,12,1,0,0,2,4,32,28.3,3,Brad Miller

In [10]:
CHI_2003_gamelog = []



for p in CHI_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2003_gamelog.append(player_log)
CHI_2003_gamelog = pd.concat(CHI_2003_gamelog)    
CHI_2003_gamelogs = CHI_2003_gamelog.copy()
CHI_2003_gamelogs['GAME_SCORE'] = CHI_2003_gamelogs['GAME_SCORE'].astype(float)
CHI_2003_games = CHI_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2003_games_csv = CHI_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2003_games.csv', index=False)
CHI_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2003_games.csv')
CHI_2003_games_proc.head()

You searched for "Dalibor Bagarić"
1 result found.
Dalibor Bagaric
Results for Dalibor Bagaric:

You searched for "Lonny Baxter"
3 results found.
0: Lonny Baxter
1: Sonny Parker
2: Kenny Battle
Pick one: 0
Results for Lonny Baxter:

You searched for "Corie Blount"
2 results found.
0: Corie Blount
1: Mark Blount
Pick one: 0
Results for Corie Blount:

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Marcus Fizer"
4 results found.
0: Marcus Fizer
1: Marcus Liberty
2: Marcus Paige
3: Marcus Webb
Pick one: 0
Results for Marcus Fizer:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Donyell Marshall"
3 results found.
0: Donyell Marshall
1: Donny Marshall
2: Kendall Marshall
Pick one: 0
Results for Donyell Marshall:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Eddie Robinson"
11 results found.
0: Eddie Robinson
1: Eddie Johnson
2: Eddie Johnson
3: Chris Robinson
4: David Robinson
5: Devin Robinson
6: Jackie Robinson
7: Jerome Robinson
8: Nate Robinson
9: Ronnie Robinson
10: Wayne Robinson
Pick one: 0
Results for Eddie Robinson:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Jay Williams"
44 results found.
0: Jay Williams
1: Ray Williams
2: Al Williams
3: Fly Williams
4: Guy Williams
5: Sam Williams
6: Sam Williams
7: Sly Williams
8: Alan Williams
9: Art Williams
10: Bob Williams
11: Earl Williams
12: Gus Williams
13: Hank Williams
14: Jason Williams
15: Jawad Williams
16: Jayson Williams
17: John Williams
18: Lou Williams
19: Matt Williams
20: Mo Williams
21: Nate Williams
22: Rob Williams
23: Ron Williams
24: Sean Williams
25: Troy Williams
26: Walt Williams
27: Ward Williams
28: Aaron Williams
29: Buck Williams
30: C.J. Williams
31: Corey Williams
32: Duck Williams
33: Eric Williams
34: Frank Williams
35: Gene Williams
36: Grant Williams
37: Herb Williams
38: Jordan Williams
39: Kenny Williams
40: Mike Williams
41: Milt Williams
42: Monty Williams
43: Pete Williams
Pick one: 0
Results for Jay Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-02-12,30-013,CHI,AWAY,PHI,L (-8),1,49:45,14,25,...,6,13,1,0,5,2,38,32.2,-2,Jalen Rose
1,2003-01-20,29-355,CHI,AWAY,ATL,W (+13),1,43:50,15,21,...,4,5,0,0,2,1,37,29.8,13,Jalen Rose
2,2003-04-08,23-019,CHI,HOME,IND,W (+12),1,31:04,10,20,...,3,8,0,0,1,0,33,28.5,23,Jamal Crawford
3,2002-12-31,20-090,CHI,HOME,POR,W (+15),1,34:36,9,16,...,18,1,0,2,1,3,27,27.9,11,Tyson Chandler
4,2002-11-09,21-060,CHI,HOME,NJN,W (+7),1,44:59,10,22,...,14,13,2,0,2,3,26,27.1,7,Jay Williams

In [11]:

CHI_2004_gamelog = []



for p in CHI_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2004_gamelog.append(player_log)
CHI_2004_gamelog = pd.concat(CHI_2004_gamelog)    
CHI_2004_gamelogs = CHI_2004_gamelog.copy()
CHI_2004_gamelogs['GAME_SCORE'] = CHI_2004_gamelogs['GAME_SCORE'].astype(float)
CHI_2004_games = CHI_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2004_games_csv = CHI_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2004_games.csv', index=False)
CHI_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2004_games.csv')
CHI_2004_games_proc.head()

You searched for "Lonny Baxter"
3 results found.
0: Lonny Baxter
1: Sonny Parker
2: Kenny Battle
Pick one: 0
Results for Lonny Baxter:

You searched for "Corie Blount"
2 results found.
0: Corie Blount
1: Mark Blount
Pick one: 0
Results for Corie Blount:

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Antonio Davis"
6 results found.
0: Antonio Davis
1: Antonio Daniels
2: Anthony Davis
3: Antonio Burks
4: Antonio Harvey
5: Antonio Lang
Pick one: 0
Results for Antonio Davis:

You searched for "Ronald Dupree"
2 results found.
0: Ronald Dupree
1: Ronald Murray
Pick one: 0
Results for Ronald Dupree:

You searched for "Marcus Fizer"
4 results found.
0: Marcus Fizer
1: Marcus Liberty
2: Marcus Paige
3: Marcus Webb
Pick one: 0
Results for Marcus Fizer:

You searched for "Kendall Gill"
2 results found.
0: Kendall Gill
1: Kendall Rhine
Pick one: 0
Results for Kendall Gill:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Chris Jefferies"
1 result found.
Chris Jefferies
Results for Chris Jefferies:

You searched for "Linton Johnson"
9 results found.
0: Linton Johnson
1: Britton Johnsen
2: Anthony Johnson
3: Armon Johnson
4: Clemon Johnson
5: Ivan Johnson
6: Keldon Johnson
7: Ron Johnson
8: Vinnie Johnson
Pick one: 0
Results for Linton Johnson:

You searched for "Donyell Marshall"
3 results found.
0: Donyell Marshall
1: Donny Marshall
2: Kendall Marshall
Pick one: 0
Results for Donyell Marshall:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Scottie Pippen"
1 result found.
Scottie Pippen
Results for Scottie Pippen:

You searched for "Eddie Robinson"
11 results found.
0: Eddie Robinson
1: Eddie Johnson
2: Eddie Johnson
3: Chris Robinson
4: David Robinson
5: Devin Robinson
6: Jackie Robinson
7: Jerome Robinson
8: Nate Robinson
9: Ronnie Robinson
10: Wayne Robinson
Pick one: 0
Results for Eddie Robinson:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Paul Shirley"
2 results found.
0: Paul Shirley
1: Paul Silas
Pick one: 0
Results for Paul Shirley:

You searched for "Jerome Williams"
16 results found.
0: Jerome Williams
1: Bernie Williams
2: Deron Williams
3: Aaron Williams
4: Eric Williams
5: Gene Williams
6: Herb Williams
7: Jason Williams
8: John Williams
9: Jordan Williams
10: Pete Williams
11: Reggie Williams
12: Reggie Williams
13: Rob Williams
14: Ron Williams
15: Troy Williams
Pick one: 0
Results for Jerome Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-12-27,23-282,CHI,HOME,WAS,W (+14),1,42:01,16,27,...,4,6,4,2,1,2,42,38.9,18,Jamal Crawford
1,2004-04-11,24-022,CHI,AWAY,TOR,W (+6),1,50:48,18,34,...,7,2,2,1,3,3,50,34.2,12,Jamal Crawford
2,2004-02-04,30-262,TOR,HOME,ORL,W (+20),1,30:15,12,18,...,9,3,1,4,1,3,32,31.8,21,Donyell Marshall
3,2004-03-23,24-003,CHI,HOME,NJN,L (-3),1,44:14,12,20,...,5,2,2,0,2,2,34,27.7,-2,Jamal Crawford
4,2003-11-05,23-230,CHI,AWAY,ORL,W (+6),1,42:57,12,21,...,6,8,2,0,2,0,29,26.9,12,Jamal Crawford

In [12]:
CHI_2005_gamelog = []

for p in CHI_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2005_gamelog.append(player_log)
CHI_2005_gamelog = pd.concat(CHI_2005_gamelog)    
CHI_2005_gamelogs = CHI_2005_gamelog.copy()
CHI_2005_gamelogs['GAME_SCORE'] = CHI_2005_gamelogs['GAME_SCORE'].astype(float)
CHI_2005_games = CHI_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2005_games_csv = CHI_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2005_games.csv', index=False)
CHI_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2005_games.csv')
CHI_2005_games_proc.head()

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Antonio Davis"
6 results found.
0: Antonio Davis
1: Antonio Daniels
2: Anthony Davis
3: Antonio Burks
4: Antonio Harvey
5: Antonio Lang
Pick one: 0
Results for Antonio Davis:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Lawrence Funderburke"
1 result found.
Lawrence Funderburke
Results for Lawrence Funderburke:

You searched for "Ben Gordon"
9 results found.
0: Ben Gordon
1: Drew Gordon
2: Aaron Gordon
3: Eric Gordon
4: Paul Gordon
5: Ken Green
6: Ed Horton
7: Ken Norman
8: Ben Moore
Pick one: 0
Results for Ben Gordon:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Andrés Nocioni"
1 result found.
Andres Nocioni
Results for Andres Nocioni:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Jared Reiner"
3 results found.
0: Jared Reiner
1: Jared Harper
2: Red Dehnert
Pick one: 0
Results for Jared Reiner:

You searched for "Frank Williams"
34 results found.
0: Frank Williams
1: Grant Williams
2: Hank Williams
3: Alan Williams
4: Ray Williams
5: Ron Williams
6: Sean Williams
7: Aaron Williams
8: Al Williams
9: Art Williams
10: Brandon Williams
11: Buck Williams
12: Chuck Williams
13: Deron Williams
14: Duck Williams
15: Earl Williams
16: Eric Williams
17: Fly Williams
18: Freeman Williams
19: Gene Williams
20: Jay Williams
21: John Williams
22: Jordan Williams
23: Kenny Williams
24: Matt Williams
25: Nate Williams
26: Rob Williams
27: Sam Williams
28: Sam Williams
29: Shawne Williams
30: Travis Williams
31: Troy Williams
32: Walt Williams
33: Ward Williams
Pick one: 0
Results for Frank Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-04-19,24-107,CHI,HOME,NYK,W (+1),1,34:54,13,21,...,1,5,1,0,0,4,34,27.7,10,Kirk Hinrich
1,2005-04-16,22-228,CHI,AWAY,ATL,W (+9),1,28:02,8,9,...,4,6,1,0,0,4,24,25.7,24,Chris Duhon
2,2005-01-08,24-006,CHI,HOME,BOS,W (+11),1,38:26,9,18,...,3,14,1,1,1,1,22,24.4,23,Kirk Hinrich
3,2005-04-09,24-097,CHI,HOME,TOR,W (+13),1,39:46,9,16,...,3,8,2,0,1,3,25,23.7,8,Kirk Hinrich
4,2004-12-11,23-344,CHI,HOME,MIN,W (+11),1,43:35,7,15,...,8,12,1,0,0,4,19,22.7,4,Kirk Hinrich

In [13]:
CHI_2006_gamelog = []

for p in CHI_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2006_gamelog.append(player_log)
CHI_2006_gamelog = pd.concat(CHI_2006_gamelog)    
CHI_2006_gamelogs = CHI_2006_gamelog.copy()
CHI_2006_gamelogs['GAME_SCORE'] = CHI_2006_gamelogs['GAME_SCORE'].astype(float)
CHI_2006_games = CHI_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2006_games_csv = CHI_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2006_games.csv', index=False)
CHI_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2006_games.csv')
CHI_2006_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Eddie Basden"
5 results found.
0: Eddie Basden
1: Eddie Jordan
2: Eddie Mast
3: Eddie Owens
4: Freddie Boyd
Pick one: 0
Results for Eddie Basden:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Ben Gordon"
9 results found.
0: Ben Gordon
1: Drew Gordon
2: Aaron Gordon
3: Eric Gordon
4: Paul Gordon
5: Ken Green
6: Ed Horton
7: Ken Norman
8: Ben Moore
Pick one: 0
Results for Ben Gordon:

You searched for "Stephen Graham"
1 result found.
Stephen Graham
Results for Stephen Graham:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Randy Holcomb"
1 result found.
Randy Holcomb
Results for Randy Holcomb:

You searched for "Randy Livingston"
2 results found.
0: Randy Livingston
1: Ron Livingstone
Pick one: 0
Results for Randy Livingston:

You searched for "Andrés Nocioni"
1 result found.
Andres Nocioni
Results for Andres Nocioni:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Luke Schenscher"
1 result found.
Luke Schenscher
Results for Luke Schenscher:

You searched for "Darius Songaila"
2 results found.
0: Darius Songaila
1: Darius Garland
Pick one: 0
Results for Darius Songaila:

You searched for "Mike Sweetney"
1 result found.
Mike Sweetney
Results for Mike Sweetney:

You searched for "James Thomas"
18 results found.
0: James Thomas
1: Jamel Thomas
2: Jim Thomas
3: Joe Thomas
4: James Jones
5: James Phelan
6: James Silas
7: Carl Thomas
8: Charles Thomas
9: John Thomas
10: Lance Thomas
11: Matt Thomas
12: Tim Thomas
13: Tyrus Thomas
14: James Hardy
15: James Posey
16: James Cotton
17: James Worthy
Pick one: 0
Results for James Thomas:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-02-04,22-306,CHI,AWAY,PHO,L (-17),1,39:05,14,21,...,8,5,3,0,3,2,39,34.6,-18,Ben Gordon
1,2006-02-28,25-057,CHI,HOME,MIN,W (+11),1,46:01,10,18,...,13,9,3,0,0,3,30,33.4,12,Kirk Hinrich
2,2006-03-03,25-060,CHI,AWAY,NYK,W (+7),1,35:34,9,17,...,3,5,1,0,2,1,33,27.3,2,Kirk Hinrich
3,2006-04-11,23-007,CHI,HOME,NJN,W (+3),1,41:42,7,17,...,3,1,0,1,2,4,36,25.6,-4,Ben Gordon
4,2005-11-29,24-331,CHI,HOME,ORL,W (+9),1,43:41,8,17,...,0,14,5,0,1,1,20,24.3,15,Kirk Hinrich

In [14]:
CHI_2007_gamelog = []

for p in CHI_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2007_gamelog.append(player_log)
CHI_2007_gamelog = pd.concat(CHI_2007_gamelog)    
CHI_2007_gamelogs = CHI_2007_gamelog.copy()
CHI_2007_gamelogs['GAME_SCORE'] = CHI_2007_gamelogs['GAME_SCORE'].astype(float)
CHI_2007_games = CHI_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2007_games_csv = CHI_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2007_games.csv', index=False)
CHI_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2007_games.csv')
CHI_2007_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Andre Barrett"
5 results found.
0: Andre Barrett
1: Ernie Barrett
2: Mike Barrett
3: RJ Barrett
4: Andre Emmett
Pick one: 0
Results for Andre Barrett:

You searched for "P.J. Brown"
12 results found.
0: P.J. Brown
1: Bob Brown
2: Dee Brown
3: Dee Brown
4: Fred Brown
5: John Brown
6: Leon Brown
7: Mike Brown
8: Stan Brown
9: Tony Brown
10: Troy Brown
11: J.J. Barea
Pick one: 0
Results for P.J. Brown:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Ben Gordon"
9 results found.
0: Ben Gordon
1: Drew Gordon
2: Aaron Gordon
3: Eric Gordon
4: Paul Gordon
5: Ken Green
6: Ed Horton
7: Ken Norman
8: Ben Moore
Pick one: 0
Results for Ben Gordon:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Viktor Khryapa"
1 result found.
Viktor Khryapa
Results for Viktor Khryapa:

You searched for "Andrés Nocioni"
1 result found.
Andres Nocioni
Results for Andres Nocioni:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Mike Sweetney"
1 result found.
Mike Sweetney
Results for Mike Sweetney:

You searched for "Tyrus Thomas"
7 results found.
0: Tyrus Thomas
1: Terry Thomas
2: Carl Thomas
3: James Thomas
4: Khyri Thomas
5: Kurt Thomas
6: Tim Thomas
Pick one: 0
Results for Tyrus Thomas:

You searched for "Ben Wallace"
4 results found.
0: Ben Wallace
1: Red Wallace
2: John Wallace
3: Ben Warley
Pick one: 0
Results for Ben Wallace:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-03-04,23-334,CHI,AWAY,MIL,W (+5),1,47:09,18,32,...,1,5,1,0,4,1,48,32.8,19,Ben Gordon
1,2007-03-26,21-344,CHI,HOME,POR,W (+11),1,43:50,18,25,...,2,5,2,0,2,1,38,31.8,13,Luol Deng
2,2007-01-27,23-298,CHI,HOME,MIA,W (+3),1,37:39,11,17,...,6,7,1,0,1,2,34,31.6,12,Ben Gordon
3,2007-02-22,32-165,CHI,AWAY,CLE,W (+6),1,44:21,6,8,...,19,5,2,7,1,1,14,29.1,-3,Ben Wallace
4,2007-01-10,26-008,CHI,AWAY,WAS,L (-10),1,45:51,11,21,...,4,9,0,1,2,1,33,28.5,-6,Kirk Hinrich

In [15]:
CHI_2008_gamelog = []

for p in CHI_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2008_gamelog.append(player_log)
CHI_2008_gamelog = pd.concat(CHI_2008_gamelog)    
CHI_2008_gamelogs = CHI_2008_gamelog.copy()
CHI_2008_gamelogs['GAME_SCORE'] = CHI_2008_gamelogs['GAME_SCORE'].astype(float)
CHI_2008_games = CHI_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2008_games_csv = CHI_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2008_games.csv', index=False)
CHI_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2008_games.csv')
CHI_2008_games_proc.head()

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Thomas Gardner"
1 result found.
Thomas Gardner
Results for Thomas Gardner:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Ben Gordon"
9 results found.
0: Ben Gordon
1: Drew Gordon
2: Aaron Gordon
3: Eric Gordon
4: Paul Gordon
5: Ken Green
6: Ed Horton
7: Ken Norman
8: Ben Moore
Pick one: 0
Results for Ben Gordon:

You searched for "Aaron Gray"
8 results found.
0: Aaron Gray
1: Gary Gray
2: Aaron Gordon
3: Devin Gray
4: Evric Gray
5: Allan Ray
6: Don Ray
7: Don Grate
Pick one: 0
Results for Aaron Gray:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Viktor Khryapa"
1 result found.
Viktor Khryapa
Results for Viktor Khryapa:

You searched for "Demetris Nichols"
1 result found.
Demetris Nichols
Results for Demetris Nichols:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Andrés Nocioni"
1 result found.
Andres Nocioni
Results for Andres Nocioni:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Cedric Simmons"
2 results found.
0: Cedric Simmons
1: Connie Simmons
Pick one: 0
Results for Cedric Simmons:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Tyrus Thomas"
7 results found.
0: Tyrus Thomas
1: Terry Thomas
2: Carl Thomas
3: James Thomas
4: Khyri Thomas
5: Kurt Thomas
6: Tim Thomas
Pick one: 0
Results for Tyrus Thomas:

You searched for "Ben Wallace"
4 results found.
0: Ben Wallace
1: Red Wallace
2: John Wallace
3: Ben Warley
Pick one: 0
Results for Ben Wallace:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-01-23,27-021,CHI,HOME,IND,W (+13),1,40:54,14,21,...,7,10,2,0,4,4,38,34.8,11,Kirk Hinrich
1,2008-02-11,29-019,CLE,AWAY,ORL,W (+7),1,41:10,12,19,...,6,3,2,0,1,5,40,34.4,0,Larry Hughes
2,2008-02-07,25-160,CHI,AWAY,GSW,W (+6),1,40:40,11,16,...,2,9,3,0,3,2,34,32.9,2,Chris Duhon
3,2008-01-03,32-161,CHI,HOME,POR,L (-6),1,45:20,11,17,...,11,1,1,4,0,4,31,32.9,-10,Joe Smith
4,2007-12-01,24-241,CHI,HOME,CHA,W (+16),1,36:27,13,21,...,3,5,1,1,1,2,34,28.8,11,Ben Gordon

In [16]:
CHI_2009_gamelog = []

for p in CHI_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2009_gamelog.append(player_log)
CHI_2009_gamelog = pd.concat(CHI_2009_gamelog)    
CHI_2009_gamelogs = CHI_2009_gamelog.copy()
CHI_2009_gamelogs['GAME_SCORE'] = CHI_2009_gamelogs['GAME_SCORE'].astype(float)
CHI_2009_games = CHI_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2009_games_csv = CHI_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2009_games.csv', index=False)
CHI_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2009_games.csv')
CHI_2009_games_proc.head()

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Ben Gordon"
9 results found.
0: Ben Gordon
1: Drew Gordon
2: Aaron Gordon
3: Eric Gordon
4: Paul Gordon
5: Ken Green
6: Ed Horton
7: Ken Norman
8: Ben Moore
Pick one: 0
Results for Ben Gordon:

You searched for "Aaron Gray"
8 results found.
0: Aaron Gray
1: Gary Gray
2: Aaron Gordon
3: Devin Gray
4: Evric Gray
5: Allan Ray
6: Don Ray
7: Don Grate
Pick one: 0
Results for Aaron Gray:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Lindsey Hunter"
2 results found.
0: Lindsey Hunter
1: Vince Hunter
Pick one: 0
Results for Lindsey Hunter:

You searched for "Linton Johnson"
9 results found.
0: Linton Johnson
1: Britton Johnsen
2: Anthony Johnson
3: Armon Johnson
4: Clemon Johnson
5: Ivan Johnson
6: Keldon Johnson
7: Ron Johnson
8: Vinnie Johnson
Pick one: 0
Results for Linton Johnson:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Demetris Nichols"
1 result found.
Demetris Nichols
Results for Demetris Nichols:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Andrés Nocioni"
1 result found.
Andres Nocioni
Results for Andres Nocioni:

You searched for "Anthony Roberson"
4 results found.
0: Anthony Roberson
1: Anthony Roberts
2: Anthony Johnson
3: Tony Robertson
Pick one: 0
Results for Anthony Roberson:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "John Salmons"
7 results found.
0: John Salmons
1: John Collins
2: John Long
3: John Paxson
4: John Salley
5: Johnny Simmons
6: John Clawson
Pick one: 0
Results for John Salmons:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Cedric Simmons"
2 results found.
0: Cedric Simmons
1: Connie Simmons
Pick one: 0
Results for Cedric Simmons:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Tyrus Thomas"
7 results found.
0: Tyrus Thomas
1: Terry Thomas
2: Carl Thomas
3: James Thomas
4: Khyri Thomas
5: Kurt Thomas
6: Tim Thomas
Pick one: 0
Results for Tyrus Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-03-10,30-046,NYK,AWAY,MIL,W (+8),1,42:11,13,20,...,6,2,4,0,4,2,39,32.6,10,Larry Hughes
1,2009-03-09,25-339,CHI,AWAY,MIA,L (-3),1,49:43,14,23,...,3,3,1,1,5,2,43,31.4,1,Ben Gordon
2,2009-03-06,25-336,CHI,HOME,MIL,W (+15),1,41:39,10,19,...,4,7,4,1,3,3,34,31.3,19,Ben Gordon
3,2009-03-17,29-095,CHI,HOME,BOS,W (+6),1,43:19,14,20,...,3,0,1,1,0,3,38,31.0,-1,John Salmons
4,2009-02-20,25-322,CHI,HOME,DEN,W (+17),1,40:21,13,23,...,5,2,2,0,2,1,37,29.4,20,Ben Gordon

In [17]:
CHI_2010_gamelog = []

for p in CHI_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2010_gamelog.append(player_log)
CHI_2010_gamelog = pd.concat(CHI_2010_gamelog)    
CHI_2010_gamelogs = CHI_2010_gamelog.copy()
CHI_2010_gamelogs['GAME_SCORE'] = CHI_2010_gamelogs['GAME_SCORE'].astype(float)
CHI_2010_games = CHI_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2010_games_csv = CHI_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2010_games.csv', index=False)
CHI_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2010_games.csv')
CHI_2010_games_proc.head()

You searched for "Joe Alexander"
4 results found.
0: Joe Alexander
1: Cory Alexander
2: Kyle Alexander
3: Gary Alexander
Pick one: 0
Results for Joe Alexander:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Aaron Gray"
8 results found.
0: Aaron Gray
1: Gary Gray
2: Aaron Gordon
3: Devin Gray
4: Evric Gray
5: Allan Ray
6: Don Ray
7: Don Grate
Pick one: 0
Results for Aaron Gray:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Lindsey Hunter"
2 results found.
0: Lindsey Hunter
1: Vince Hunter
Pick one: 0
Results for Lindsey Hunter:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Acie Law"
3 results found.
0: Acie Law
1: Acie Earl
2: Vic Law
Pick one: 0
Results for Acie Law:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Ronald Murray"
4 results found.
0: Ronald Murray
1: Ronald Dupree
2: Jamal Murray
3: Ronald Franz
Pick one: 0
Results for Ronald Murray:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Chris Richard"
5 results found.
0: Chris Richard
1: Chris Carr
2: Chris Boucher
3: Chris Childs
4: Chris Harris
Pick one: 0
Results for Chris Richard:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "John Salmons"
7 results found.
0: John Salmons
1: John Collins
2: John Long
3: John Paxson
4: John Salley
5: Johnny Simmons
6: John Clawson
Pick one: 0
Results for John Salmons:

You searched for "Tyrus Thomas"
7 results found.
0: Tyrus Thomas
1: Terry Thomas
2: Carl Thomas
3: James Thomas
4: Khyri Thomas
5: Kurt Thomas
6: Tim Thomas
Pick one: 0
Results for Tyrus Thomas:

You searched for "Hakim Warrick"
1 result found.
Hakim Warrick
Results for Hakim Warrick:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-04-13,21-191,CHI,HOME,BOS,W (+8),1,45:35,15,22,...,5,7,0,3,2,2,39,35.7,12,Derrick Rose
1,2010-01-22,21-110,CHI,AWAY,PHO,W (+11),1,43:44,15,21,...,3,5,3,0,1,0,32,28.9,7,Derrick Rose
2,2010-03-06,21-153,CHI,HOME,DAL,L (-6),1,42:10,15,22,...,0,8,0,0,2,2,34,27.4,2,Derrick Rose
3,2010-02-16,21-135,CHI,HOME,NYK,W (+33),1,27:02,14,18,...,3,6,1,0,2,0,29,26.1,23,Derrick Rose
4,2009-11-07,24-255,CHI,HOME,CHA,W (+3),1,40:37,10,12,...,16,3,0,4,1,2,21,26.1,2,Joakim Noah

In [18]:
CHI_2011_gamelog = []

for p in CHI_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2011_gamelog.append(player_log)
CHI_2011_gamelog = pd.concat(CHI_2011_gamelog)    
CHI_2011_gamelogs = CHI_2011_gamelog.copy()
CHI_2011_gamelogs['GAME_SCORE'] = CHI_2011_gamelogs['GAME_SCORE'].astype(float)
CHI_2011_games = CHI_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2011_games_csv = CHI_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2011_games.csv', index=False)
CHI_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2011_games.csv')
CHI_2011_games_proc.head()

You searched for "Ömer Aşık"
2 results found.
0: Omer Asik
1: Omar Cook
Pick one: 0
Results for Omer Asik:

You searched for "Keith Bogans"
5 results found.
0: Keith Bogans
1: Keith Owens
2: Keith Askins
3: Keith Booth
4: Keith Benson
Pick one: 0
Results for Keith Bogans:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "John Lucas III"
2 results found.
0: John Lucas III
1: John Lucas
Pick one: 0
Results for John Lucas III:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "C.J. Watson"
6 results found.
0: C.J. Watson
1: D.J. Wilson
2: T.J. Warren
3: Earl Watson
4: Paul Watson
5: C.J. Wilcox
Pick one: 0
Results for C.J. Watson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-02-17,22-136,CHI,HOME,SAS,W (+10),1,38:30,18,28,...,5,8,0,1,1,2,42,36.4,15,Derrick Rose
1,2010-11-01,25-199,CHI,HOME,POR,W (+12),1,40:36,14,19,...,4,2,1,0,0,3,40,33.9,18,Luol Deng
2,2010-12-15,29-025,CHI,AWAY,TOR,W (+17),1,25:56,13,17,...,12,3,2,1,1,3,34,33.5,23,Carlos Boozer
3,2011-04-02,22-180,CHI,HOME,TOR,W (+7),1,42:06,11,20,...,3,10,1,3,4,3,36,32.6,7,Derrick Rose
4,2011-03-26,22-173,CHI,AWAY,MIL,W (+8),1,40:09,9,17,...,3,17,0,0,2,1,30,32.5,7,Derrick Rose

In [19]:
CHI_2012_gamelog = []

for p in CHI_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2012_gamelog.append(player_log)
CHI_2012_gamelog = pd.concat(CHI_2012_gamelog)    
CHI_2012_gamelogs = CHI_2012_gamelog.copy()
CHI_2012_gamelogs['GAME_SCORE'] = CHI_2012_gamelogs['GAME_SCORE'].astype(float)
CHI_2012_games = CHI_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2012_games_csv = CHI_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2012_games.csv', index=False)
CHI_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2012_games.csv')
CHI_2012_games_proc.head()

You searched for "Ömer Aşık"
2 results found.
0: Omer Asik
1: Omar Cook
Pick one: 0
Results for Omer Asik:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Richard Hamilton"
2 results found.
0: Richard Hamilton
1: Richard Morton
Pick one: 0
Results for Richard Hamilton:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "John Lucas III"
2 results found.
0: John Lucas III
1: John Lucas
Pick one: 0
Results for John Lucas III:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "C.J. Watson"
6 results found.
0: C.J. Watson
1: D.J. Wilson
2: T.J. Warren
3: Earl Watson
4: Paul Watson
5: C.J. Wilcox
Pick one: 0
Results for C.J. Watson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-12-30,23-087,CHI,AWAY,LAC,W (+13),1,42:04,8,14,...,8,16,1,0,4,3,29,32.6,16,Derrick Rose
1,2012-01-30,23-118,CHI,AWAY,WAS,W (+10),1,40:53,10,20,...,0,8,2,3,5,1,35,28.9,13,Derrick Rose
2,2012-02-28,23-147,CHI,HOME,NOH,W (+4),1,40:49,11,24,...,2,9,3,2,2,2,32,27.7,16,Derrick Rose
3,2012-01-10,23-098,CHI,AWAY,MIN,W (+11),1,41:48,12,22,...,3,11,1,2,3,1,31,27.6,6,Derrick Rose
4,2012-03-04,23-152,CHI,AWAY,PHI,W (+5),1,41:53,12,23,...,4,8,1,1,3,3,35,27.2,11,Derrick Rose

In [20]:
CHI_2013_gamelog = []

for p in CHI_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2013_gamelog.append(player_log)
CHI_2013_gamelog = pd.concat(CHI_2013_gamelog)    
CHI_2013_gamelogs = CHI_2013_gamelog.copy()
CHI_2013_gamelogs['GAME_SCORE'] = CHI_2013_gamelogs['GAME_SCORE'].astype(float)
CHI_2013_games = CHI_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2013_games_csv = CHI_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2013_games.csv', index=False)
CHI_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2013_games.csv')
CHI_2013_games_proc.head()

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Daequan Cook"
2 results found.
0: Daequan Cook
1: Darwin Cook
Pick one: 0
Results for Daequan Cook:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Richard Hamilton"
2 results found.
0: Richard Hamilton
1: Richard Morton
Pick one: 0
Results for Richard Hamilton:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Marquis Teague"
1 result found.
Marquis Teague
Results for Marquis Teague:

You searched for "Malcolm Thomas"
1 result found.
Malcolm Thomas
Results for Malcolm Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-12-07,27-286,CHI,AWAY,DET,W (+4),1,43:26,12,19,...,23,6,2,2,2,3,30,36.4,12,Joakim Noah
1,2013-02-28,28-003,CHI,HOME,PHI,W (+11),1,45:00,8,12,...,21,1,3,11,3,1,23,34.5,13,Joakim Noah
2,2013-01-16,31-057,CHI,AWAY,TOR,W (+2),1,40:33,16,24,...,12,3,1,0,2,5,36,29.9,20,Carlos Boozer
3,2013-02-02,27-292,CHI,AWAY,ATL,W (+17),1,45:45,10,21,...,14,5,4,2,0,1,25,29.8,21,Luol Deng
4,2014-01-15,28-324,CHI,AWAY,ORL,W (+3),1,48:41,9,16,...,19,6,2,2,4,3,26,28.5,-1,Joakim Noah

In [15]:
# removed Mike Dunleavy
CHI_2014_gamelog = []

for p in CHI_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2014_gamelog.append(player_log)
CHI_2014_gamelog = pd.concat(CHI_2014_gamelog)    
CHI_2014_gamelogs = CHI_2014_gamelog.copy()
CHI_2014_gamelogs['GAME_SCORE'] = CHI_2014_gamelogs['GAME_SCORE'].astype(float)
CHI_2014_games = CHI_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2014_games_csv = CHI_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2014_games.csv', index=False)
CHI_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2014_games.csv')
CHI_2014_games_proc.head()

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "D.J. Augustin"
1 result found.
D.J. Augustin
Results for D.J. Augustin:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Jimmer Fredette"
1 result found.
Jimmer Fredette
Results for Jimmer Fredette:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Erik Murphy"
8 results found.
0: Erik Murphy
1: Dick Murphy
2: Kevin Murphy
3: Troy Murphy
4: Jay Murphy
5: John Murphy
6: Tod Murphy
7: Erik McCree
Pick one: 0
Results for Erik Murphy:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Tornike Shengelia"
1 result found.
Tornike Shengelia
Results for Tornike Shengelia:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "Marquis Teague"
1 result found.
Marquis Teague
Results for Marquis Teague:

You searched for "Jarvis Varnado"
1 result found.
Jarvis Varnado
Results for Jarvis Varnado:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-15,28-324,CHI,AWAY,ORL,W (+3),1,48:41,9,16,...,19,6,2,2,4,3,26,28.5,-1,Joakim Noah
1,2014-03-15,29-018,CHI,HOME,SAC,W (+7),1,40:50,9,15,...,11,8,3,5,2,3,23,28.3,7,Joakim Noah
2,2013-12-13,28-291,CHI,AWAY,MIL,W (+1),1,35:09,10,15,...,18,5,3,3,2,5,21,27.7,2,Joakim Noah
3,2013-11-27,28-225,CHI,AWAY,DET,W (+20),1,40:47,11,17,...,6,5,2,1,0,2,27,26.7,24,Luol Deng
4,2014-02-11,28-351,CHI,HOME,ATL,W (+15),1,41:08,8,15,...,16,11,0,3,1,2,19,25.7,16,Joakim Noah

In [18]:
# removed Mike Dunleavy
# removed E'Twaun Moore
CHI_2015_gamelog = []

for p in CHI_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2015_gamelog.append(player_log)
CHI_2015_gamelog = pd.concat(CHI_2015_gamelog)    
CHI_2015_gamelogs = CHI_2015_gamelog.copy()
CHI_2015_gamelogs['GAME_SCORE'] = CHI_2015_gamelogs['GAME_SCORE'].astype(float)
CHI_2015_games = CHI_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2015_games_csv = CHI_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2015_games.csv', index=False)
CHI_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2015_games.csv')
CHI_2015_games_proc.head()

You searched for "Cameron Bairstow"
1 result found.
Cameron Bairstow
Results for Cameron Bairstow:

You searched for "Aaron Brooks"
5 results found.
0: Aaron Brooks
1: MarShon Brooks
2: Dillon Brooks
3: Kevin Brooks
4: Aaron Gordon
Pick one: 0
Results for Aaron Brooks:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Nikola Mirotić"
3 results found.
0: Nikola Mirotic
1: Nikola Jokic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Mirotic:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-01-10,34-188,CHI,HOME,MIL,W (+8),1,38:35,17,30,...,18,3,1,0,3,3,46,38.9,5,Pau Gasol
1,2014-12-18,25-095,CHI,HOME,NYK,W (+6),1,44:44,11,21,...,5,7,4,1,2,1,35,33.4,8,Jimmy Butler
2,2015-01-29,25-137,CHI,AWAY,LAL,L (-5),1,49:00,9,17,...,7,1,3,0,1,2,35,31.1,-4,Jimmy Butler
3,2015-01-16,26-104,CHI,AWAY,BOS,W (+16),1,32:48,12,20,...,3,10,1,2,0,0,29,30.5,9,Derrick Rose
4,2014-12-27,25-104,CHI,HOME,NOP,W (+7),1,36:19,12,18,...,5,2,2,1,0,4,33,29.6,1,Jimmy Butler

In [21]:
# removed Mike dunleavy
# removed E'Twaun Moore
CHI_2016_gamelog = []

for p in CHI_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2016_gamelog.append(player_log)
CHI_2016_gamelog = pd.concat(CHI_2016_gamelog)    
CHI_2016_gamelogs = CHI_2016_gamelog.copy()
CHI_2016_gamelogs['GAME_SCORE'] = CHI_2016_gamelogs['GAME_SCORE'].astype(float)
CHI_2016_games = CHI_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2016_games_csv = CHI_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2016_games.csv', index=False)
CHI_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2016_games.csv')
CHI_2016_games_proc.head()

You searched for "Cameron Bairstow"
1 result found.
Cameron Bairstow
Results for Cameron Bairstow:

You searched for "Aaron Brooks"
5 results found.
0: Aaron Brooks
1: MarShon Brooks
2: Dillon Brooks
3: Kevin Brooks
4: Aaron Gordon
Pick one: 0
Results for Aaron Brooks:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Nikola Mirotić"
3 results found.
0: Nikola Mirotic
1: Nikola Jokic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Mirotic:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-01-14,26-122,CHI,AWAY,PHI,W (+4),1,49:03,15,30,...,10,6,3,0,4,4,53,42.6,11,Jimmy Butler
1,2016-01-03,26-111,CHI,AWAY,TOR,W (+2),1,38:42,15,23,...,4,5,1,1,3,3,42,34.1,11,Jimmy Butler
2,2016-04-13,25-062,CHI,HOME,PHI,W (+10),1,39:00,10,17,...,7,4,5,3,2,4,32,32.9,9,Nikola Mirotić
3,2016-01-18,35-196,CHI,AWAY,DET,W (+10),1,35:51,13,18,...,12,3,1,3,0,3,31,31.6,0,Pau Gasol
4,2016-01-28,26-136,CHI,AWAY,LAL,W (+23),1,31:14,11,17,...,5,10,4,0,0,1,26,31.0,31,Jimmy Butler

In [24]:

CHI_2017_gamelog = []

for p in CHI_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2017_gamelog.append(player_log)
CHI_2017_gamelog = pd.concat(CHI_2017_gamelog)    
CHI_2017_gamelogs = CHI_2017_gamelog.copy()
CHI_2017_gamelogs['GAME_SCORE'] = CHI_2017_gamelogs['GAME_SCORE'].astype(float)
CHI_2017_games = CHI_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2017_games_csv = CHI_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2017_games.csv', index=False)
CHI_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2017_games.csv')
CHI_2017_games_proc.head()

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Isaiah Canaan"
1 result found.
Isaiah Canaan
Results for Isaiah Canaan:

You searched for "Michael Carter-Williams"
1 result found.
Michael Carter-Williams
Results for Michael Carter-Williams:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Jerian Grant"
3 results found.
0: Jerian Grant
1: Brian Grant
2: Jerami Grant
Pick one: 0
Results for Jerian Grant:

You searched for "R.J. Hunter"
4 results found.
0: R.J. Hunter
1: Les Hunter
2: P.J. Tucker
3: A.J. Wynder
Pick one: 0
Results for R.J. Hunter:

You searched for "Joffrey Lauvergne"
1 result found.
Joffrey Lauvergne
Results for Joffrey Lauvergne:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Nikola Mirotić"
3 results found.
0: Nikola Mirotic
1: Nikola Jokic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Mirotic:

You searched for "Anthony Morrow"
10 results found.
0: Anthony Morrow
1: Anthony Brown
2: Anthony Cook
3: Anthony Mason
4: Anthony Bonner
5: Anthony Bowie
6: Anthony Carter
7: Anthony Miller
8: Anthony Parker
9: Anthony Taylor
Pick one: 0
Results for Anthony Morrow:

You searched for "Cameron Payne"
2 results found.
0: Cameron Payne
1: Aron Baynes
Pick one: 0
Results for Cameron Payne:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Denzel Valentine"
2 results found.
0: Denzel Valentine
1: Darnell Valentine
Pick one: 0
Results for Denzel Valentine:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Paul Zipser"
3 results found.
0: Paul Zipser
1: Paul Pierce
2: Paul Arizin
Pick one: 0
Results for Paul Zipser:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-01-02,27-110,CHI,HOME,CHO,W (+7),1,38:19,15,24,...,12,6,3,1,2,0,52,51.5,15,Jimmy Butler
1,2016-11-20,27-067,CHI,AWAY,LAL,W (+8),1,39:59,14,23,...,7,6,1,0,1,1,40,36.2,14,Jimmy Butler
2,2017-03-21,27-188,CHI,AWAY,TOR,L (-2),1,43:37,11,21,...,10,6,1,2,0,1,37,35.9,-6,Jimmy Butler
3,2017-01-25,27-133,CHI,HOME,ATL,L (-5),1,40:08,13,22,...,4,3,3,0,1,0,40,35.9,-3,Jimmy Butler
4,2016-11-12,27-059,CHI,HOME,WAS,W (+11),1,38:19,11,23,...,8,9,3,0,2,2,37,35.0,16,Jimmy Butler

In [25]:

CHI_2018_gamelog = []

for p in CHI_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2018_gamelog.append(player_log)
CHI_2018_gamelog = pd.concat(CHI_2018_gamelog)    
CHI_2018_gamelogs = CHI_2018_gamelog.copy()
CHI_2018_gamelogs['GAME_SCORE'] = CHI_2018_gamelogs['GAME_SCORE'].astype(float)
CHI_2018_games = CHI_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2018_games_csv = CHI_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2018_games.csv', index=False)
CHI_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2018_games.csv')
CHI_2018_games_proc.head()

You searched for "Ryan Arcidiacono"
1 result found.
Ryan Arcidiacono
Results for Ryan Arcidiacono:

You searched for "Ömer Aşık"
2 results found.
0: Omer Asik
1: Omar Cook
Pick one: 0
Results for Omer Asik:

You searched for "Antonio Blakeney"
1 result found.
Antonio Blakeney
Results for Antonio Blakeney:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Jarell Eddie"
1 result found.
Jarell Eddie
Results for Jarell Eddie:

You searched for "Kay Felder"
6 results found.
0: Kay Felder
1: Ray Felix
2: Gary Keller
3: Ken Keller
4: Jay Miller
5: Gary Zeller
Pick one: 0
Results for Kay Felder:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Jerian Grant"
3 results found.
0: Jerian Grant
1: Brian Grant
2: Jerami Grant
Pick one: 0
Results for Jerian Grant:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Sean Kilpatrick"
3 results found.
0: Sean Kilpatrick
1: Carl Kilpatrick
2: Stan Patrick
Pick one: 0
Results for Sean Kilpatrick:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Lauri Markkanen"
1 result found.
Lauri Markkanen
Results for Lauri Markkanen:

You searched for "Nikola Mirotić"
3 results found.
0: Nikola Mirotic
1: Nikola Jokic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Mirotic:

You searched for "David Nwaba"
6 results found.
0: David Nwaba
1: David Noel
2: David Wear
3: David West
4: David Wood
5: David Burns
Pick one: 0
Results for David Nwaba:

You searched for "Cameron Payne"
2 results found.
0: Cameron Payne
1: Aron Baynes
Pick one: 0
Results for Cameron Payne:

You searched for "Quincy Pondexter"
1 result found.
Quincy Pondexter
Results for Quincy Pondexter:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Denzel Valentine"
2 results found.
0: Denzel Valentine
1: Darnell Valentine
Pick one: 0
Results for Denzel Valentine:

You searched for "Noah Vonleh"
1 result found.
Noah Vonleh
Results for Noah Vonleh:

You searched for "Paul Zipser"
3 results found.
0: Paul Zipser
1: Paul Pierce
2: Paul Arizin
Pick one: 0
Results for Paul Zipser:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-17,24-121,CHI,HOME,CLE,L (-5),1,38:34,13,20,...,7,6,0,1,0,3,34,31.4,14,Denzel Valentine
1,2018-01-05,23-293,CHI,AWAY,DAL,W (+3),1,32:18,12,17,...,2,9,4,0,4,3,32,30.6,-2,Kris Dunn
2,2018-01-10,20-233,CHI,AWAY,NYK,W (+3),1,46:08,10,22,...,10,1,2,1,1,1,33,27.0,3,Lauri Markkanen
3,2018-04-07,27-055,NOP,AWAY,GSW,W (+6),1,40:03,10,18,...,6,4,3,0,0,1,28,26.6,7,Nikola Mirotić
4,2017-12-29,20-221,CHI,HOME,IND,W (+12),1,28:22,11,17,...,7,1,0,0,1,1,32,26.3,-1,Lauri Markkanen

In [24]:
# removed wendell carter
# remed walt lemon
CHI_2019_gamelog = []

for p in CHI_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2019_gamelog.append(player_log)
CHI_2019_gamelog = pd.concat(CHI_2019_gamelog)    
CHI_2019_gamelogs = CHI_2019_gamelog.copy()
CHI_2019_gamelogs['GAME_SCORE'] = CHI_2019_gamelogs['GAME_SCORE'].astype(float)
CHI_2019_games = CHI_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2019_games_csv = CHI_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2019_games.csv', index=False)
CHI_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2019_games.csv')
CHI_2019_games_proc.head()

You searched for "Rawle Alkins"
1 result found.
Rawle Alkins
Results for Rawle Alkins:

You searched for "Ryan Arcidiacono"
1 result found.
Ryan Arcidiacono
Results for Ryan Arcidiacono:

You searched for "Antonio Blakeney"
1 result found.
Antonio Blakeney
Results for Antonio Blakeney:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Shaquille Harrison"
1 result found.
Shaquille Harrison
Results for Shaquille Harrison:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Chandler Hutchison"
1 result found.
Chandler Hutchison
Results for Chandler Hutchison:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Timothé Luwawu-Cabarrot"
1 result found.
Timothe Luwawu-Cabarrot
Results for Timothe Luwawu-Cabarrot:

You searched for "Lauri Markkanen"
1 result found.
Lauri Markkanen
Results for Lauri Markkanen:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Cameron Payne"
2 results found.
0: Cameron Payne
1: Aron Baynes
Pick one: 0
Results for Cameron Payne:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Brandon Sampson"
2 results found.
0: Brandon Sampson
1: Branden Dawson
Pick one: 0
Results for Brandon Sampson:

You searched for "JaKarr Sampson"
2 results found.
0: JaKarr Sampson
1: Jamal Sampson
Pick one: 0
Results for JaKarr Sampson:

You searched for "Wayne Selden"
5 results found.
0: Wayne Selden
1: Wayne See
2: Wayne Simien
3: Wayne Stevens
4: Dwayne Polee
Pick one: 0
Results for Wayne Selden:

You searched for "Tyler Ulis"
5 results found.
0: Tyler Ulis
1: Tyler Davis
2: Tyler Ennis
3: Tyler Bey
4: Tyler Cook
Pick one: 0
Results for Tyler Ulis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-02-13,25-255,CHI,HOME,MEM,W (+12),1,34:06,16,20,...,10,2,0,1,2,2,37,32.9,21,Otto Porter
1,2019-02-23,21-277,CHI,HOME,BOS,W (+10),1,37:00,12,20,...,15,2,1,0,1,1,35,32.1,5,Lauri Markkanen
2,2019-03-01,23-356,CHI,AWAY,ATL,W (+7),1,55:34,17,35,...,9,9,2,0,8,3,47,30.3,5,Zach LaVine
3,2019-03-20,21-302,CHI,HOME,WAS,W (+6),1,37:55,12,21,...,13,5,0,1,1,2,32,30.0,12,Lauri Markkanen
4,2019-03-06,23-361,CHI,HOME,PHI,W (+1),1,36:00,14,26,...,5,4,1,0,2,1,39,28.9,6,Zach LaVine

In [25]:
# removed wendell carter
CHI_2020_gamelog = []

for p in CHI_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2020_gamelog.append(player_log)
CHI_2020_gamelog = pd.concat(CHI_2020_gamelog)    
CHI_2020_gamelogs = CHI_2020_gamelog.copy()
CHI_2020_gamelogs['GAME_SCORE'] = CHI_2020_gamelogs['GAME_SCORE'].astype(float)
CHI_2020_games = CHI_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2020_games_csv = CHI_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2020_games.csv', index=False)
CHI_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2020_games.csv')
CHI_2020_games_proc.head()

You searched for "Ryan Arcidiacono"
1 result found.
Ryan Arcidiacono
Results for Ryan Arcidiacono:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Daniel Gafford"
1 result found.
Daniel Gafford
Results for Daniel Gafford:

You searched for "Shaquille Harrison"
1 result found.
Shaquille Harrison
Results for Shaquille Harrison:

You searched for "Chandler Hutchison"
1 result found.
Chandler Hutchison
Results for Chandler Hutchison:

You searched for "Luke Kornet"
1 result found.
Luke Kornet
Results for Luke Kornet:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Lauri Markkanen"
1 result found.
Lauri Markkanen
Results for Lauri Markkanen:

You searched for "Adam Mokoka"
1 result found.
Adam Mokoka
Results for Adam Mokoka:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Tomáš Satoranský"
1 result found.
Tomas Satoransky
Results for Tomas Satoransky:

You searched for "Max Strus"
3 results found.
0: Max Strus
1: Max Morris
2: Mark West
Pick one: 0
Results for Max Strus:

You searched for "Denzel Valentine"
2 results found.
0: Denzel Valentine
1: Darnell Valentine
Pick one: 0
Results for Denzel Valentine:

You searched for "Coby White"
13 results found.
0: Coby White
1: Rory White
2: Tony White
3: Rudy White
4: D.J. White
5: Eric White
6: Herb White
7: Hubie White
8: Jo Jo White
9: Randy White
10: Rodney White
11: Royce White
12: Joby Wright
Pick one: 0
Results for Coby White:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-18,24-314,CHI,HOME,CLE,W (+2),1,39:15,19,31,...,6,3,5,2,1,2,42,36.4,-1,Zach LaVine
1,2020-01-25,24-321,CHI,AWAY,CLE,W (+12),1,39:24,16,30,...,10,8,1,0,4,1,44,35.0,20,Zach LaVine
2,2020-02-11,24-338,CHI,AWAY,WAS,L (-12),1,36:59,15,21,...,9,4,2,0,5,1,41,34.4,-15,Zach LaVine
3,2019-11-23,24-258,CHI,AWAY,CHO,W (+1),1,34:44,17,28,...,4,0,2,0,4,5,49,33.4,15,Zach LaVine
4,2020-01-10,24-306,CHI,HOME,IND,L (-11),1,37:48,14,23,...,6,1,1,0,3,2,43,32.6,-12,Zach LaVine

In [28]:

# removed troy brown
# remvoed wendell carter
CHI_2021_gamelog = []

for p in CHI_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    CHI_2021_gamelog.append(player_log)
CHI_2021_gamelog = pd.concat(CHI_2021_gamelog)    
CHI_2021_gamelogs = CHI_2021_gamelog.copy()
CHI_2021_gamelogs['GAME_SCORE'] = CHI_2021_gamelogs['GAME_SCORE'].astype(float)
CHI_2021_games = CHI_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_2021_games_csv = CHI_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2021_games.csv', index=False)
CHI_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2021_games.csv')
CHI_2021_games_proc.head()

You searched for "Al-Farouq Aminu"
1 result found.
Al-Farouq Aminu
Results for Al-Farouq Aminu:

You searched for "Ryan Arcidiacono"
1 result found.
Ryan Arcidiacono
Results for Ryan Arcidiacono:

You searched for "Devon Dotson"
2 results found.
0: Devon Dotson
1: Dean Tolson
Pick one: 0
Results for Devon Dotson:

You searched for "Cristiano Felício"
1 result found.
Cristiano Felicio
Results for Cristiano Felicio:

You searched for "Daniel Gafford"
1 result found.
Daniel Gafford
Results for Daniel Gafford:

You searched for "Javonte Green"
2 results found.
0: Javonte Green
1: Donte Greene
Pick one: 0
Results for Javonte Green:

You searched for "Chandler Hutchison"
1 result found.
Chandler Hutchison
Results for Chandler Hutchison:

You searched for "Luke Kornet"
1 result found.
Luke Kornet
Results for Luke Kornet:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Lauri Markkanen"
1 result found.
Lauri Markkanen
Results for Lauri Markkanen:

You searched for "Adam Mokoka"
1 result found.
Adam Mokoka
Results for Adam Mokoka:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Tomáš Satoranský"
1 result found.
Tomas Satoransky
Results for Tomas Satoransky:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Daniel Theis"
4 results found.
0: Daniel Theis
1: Daniel Ochefu
2: Daniel Oturu
3: Daniel Orton
Pick one: 0
Results for Daniel Theis:

You searched for "Denzel Valentine"
2 results found.
0: Denzel Valentine
1: Darnell Valentine
Pick one: 0
Results for Denzel Valentine:

You searched for "Nikola Vučević"
2 results found.
0: Nikola Vucevic
1: Nikola Pekovic
Pick one: 0
Results for Nikola Vucevic:

You searched for "Coby White"
13 results found.
0: Coby White
1: Rory White
2: Tony White
3: Rudy White
4: D.J. White
5: Eric White
6: Herb White
7: Hubie White
8: Jo Jo White
9: Randy White
10: Rodney White
11: Royce White
12: Joby Wright
Pick one: 0
Results for Coby White:

You searched for "Patrick Williams"
4 results found.
0: Patrick Williams
1: Derrick Williams
2: Eric Williams
3: Kenrich Williams
Pick one: 0
Results for Patrick Williams:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-12,30-111,ORL,AWAY,SAC,W (+11),1,34:09,17,22,...,9,4,2,0,1,1,42,39.5,9,Nikola Vučević
1,2021-04-09,26-030,CHI,AWAY,ATL,L (-12),1,38:44,18,31,...,8,5,0,0,3,1,50,38.0,-3,Zach LaVine
2,2021-02-05,30-104,ORL,HOME,CHI,W (+4),1,37:18,17,29,...,19,4,0,1,1,2,43,37.7,10,Nikola Vučević
3,2021-02-10,25-337,CHI,HOME,NOP,W (+13),1,37:34,17,25,...,7,4,0,1,5,0,46,36.3,20,Zach LaVine
4,2021-01-08,25-304,CHI,AWAY,LAL,L (-2),1,38:23,14,22,...,5,6,2,0,0,1,38,35.5,8,Zach LaVine

## combine all seasons

In [29]:
CHI_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2000_games.csv')
CHI_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2001_games.csv')
CHI_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2002_games.csv')
CHI_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2003_games.csv')
CHI_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2004_games.csv')
CHI_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2005_games.csv')
CHI_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2006_games.csv')
CHI_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2007_games.csv')
CHI_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2008_games.csv')
CHI_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2009_games.csv')
CHI_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2010_games.csv')
CHI_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2011_games.csv')
CHI_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2012_games.csv')
CHI_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2013_games.csv')
CHI_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2014_games.csv')
CHI_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2015_games.csv')
CHI_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2016_games.csv')
CHI_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2017_games.csv')
CHI_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2018_games.csv')
CHI_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2019_games.csv')
CHI_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2020_games.csv')
CHI_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_2021_games.csv')

In [30]:
CHI_season_dfs = [CHI_2000_games_io, CHI_2001_games_io, CHI_2002_games_io, CHI_2003_games_io, CHI_2004_games_io, CHI_2005_games_io,
                 CHI_2006_games_io, CHI_2007_games_io, CHI_2008_games_io, CHI_2009_games_io, CHI_2010_games_io, CHI_2011_games_io,
                 CHI_2012_games_io, CHI_2013_games_io, CHI_2014_games_io, CHI_2015_games_io, CHI_2016_games_io, CHI_2017_games_io,
                 CHI_2018_games_io, CHI_2019_games_io, CHI_2020_games_io, CHI_2021_games_io]

In [32]:
CHI_all = pd.concat(CHI_season_dfs)
CHI_all_sorted = CHI_all.sort_values(by=['GAME_SCORE'], ascending=False)
CHI_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
35,2017-01-02,27-110,CHI,HOME,CHO,W (+7),1,38:19,15,24,...,12,6,3,1,2,0,52,51.5,+15,Jimmy Butler
29,2003-12-27,23-282,CHI,HOME,WAS,W (+14),1,42:01,16,27,...,4,6,4,2,1,2,42,38.9,+18,Jamal Crawford
17,2012-12-07,27-286,CHI,AWAY,DET,W (+4),1,43:26,12,19,...,23,6,2,2,2,3,30,36.4,+12,Joakim Noah
55,2011-02-17,22-136,CHI,HOME,SAS,W (+10),1,38:30,18,28,...,5,8,0,1,1,2,42,36.4,+15,Derrick Rose
13,2016-11-20,27-067,CHI,AWAY,LAL,W (+8),1,39:59,14,23,...,7,6,1,0,1,1,40,36.2,+14,Jimmy Butler
48,2017-01-25,27-133,CHI,HOME,ATL,L (-5),1,40:08,13,22,...,4,3,3,0,1,0,40,35.9,-3,Jimmy Butler
73,2017-03-21,27-188,CHI,AWAY,TOR,L (-2),1,43:37,11,21,...,10,6,1,2,0,1,37,35.9,-6,Jimmy Butler
84,2010-04-13,21-191,CHI,HOME,BOS,W (+8),1,45:35,15,22,...,5,7,0,3,2,2,39,35.7,+12,Derrick Rose
9,2016-11-12,27-059,CHI,HOME,WAS,W (+11),1,38:19,11,23,...,8,9,3,0,2,2,37,35.0,+16,Jimmy Butler
75,2017-03-24,27-191,CHI,HOME,PHI,L (-10),1,42:08,10,24,...,7,11,3,0,0,1,36,34.8,-5,Jimmy Butler
42,2008-01-23,27-021,CHI,HOME,IND,W (+13),1,40:54,14,21,...,7,10,2,0,4,4,38,34.8,+11,Kirk Hinrich
47,2006-02-04,22-306,CHI,AWAY,PHO,L (-17),1,39:05,14,21,...,8,5,3,0,3,2,39,34.6,-18,Ben Gordon
59,2013-02-28,28-003,CHI,HOME,PHI,W (+11),1,45:00,8,12,...,21,1,3,11,3,1,23,34.5,+13,Joakim Noah
52,2008-02-11,29-019,CLE,AWAY,ORL,W (+7),1,41:10,12,19,...,6,3,2,0,1,5,40,34.4,0,Larry Hughes
7,2016-11-09,27-056,CHI,AWAY,ATL,L (-8),1,39:17,13,24,...,4,7,6,0,4,1,39,34.3,+8,Jimmy Butler
82,2004-04-11,24-022,CHI,AWAY,TOR,W (+6),1,50:48,18,34,...,7,2,2,1,3,3,50,34.2,+12,Jamal Crawford
2,2010-11-01,25-199,CHI,HOME,POR,W (+12),1,40:36,14,19,...,4,2,1,0,0,3,40,33.9,+18,Luol Deng
32,2016-12-28,27-105,CHI,HOME,BRK,W (+2),1,38:21,14,29,...,10,4,4,0,3,2,40,33.7,+4,Jimmy Butler
24,2010-12-15,29-025,CHI,AWAY,TOR,W (+17),1,25:56,13,17,...,12,3,2,1,1,3,34,33.5,+23,Carlos Boozer
37,2017-01-07,27-115,CHI,HOME,TOR,W (+5),1,44:13,10,25,...,10,5,2,0,4,1,42,33.4,+8,Jimmy Butler
57,2006-02-28,25-057,CHI,HOME,MIN,W (+11),1,46:01,10,18,...,13,9,3,0,0,3,30,33.4,+12,Kirk Hinrich
31,2008-01-03,32-161,CHI,HOME,POR,L (-6),1,45:20,11,17,...,11,1,1,4,0,4,31,32.9,-10,Joe Smith
50,2008-02-07,25-160,CHI,AWAY,GSW,W (+6),1,40:40,11,16,...,2,9,3,0,3,2,34,32.9,+2,Chris Duhon
64,2007-03-04,23-334,CHI,AWAY,MIL,W (+5),1,47:09,18,32,...,1,5,1,0,4,1,48,32.8,+19,Ben Gordon
79,2017-04-02,27-200,CHI,AWAY,NOP,W (+7),1,38:48,14,26,...,6,5,1,1,1,0,39,32.8,0,Jimmy Butler