In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_DEN = []

# DEN
while season <= 2021:
    df_DEN = get_roster('DEN', season)
    df_DEN['Season'] = season
    df_DEN['Team'] = 'DEN'
    appended_data_DEN.append(df_DEN)
    season = season + 1
appended_data_DEN = pd.concat(appended_data_DEN)

In [4]:
DEN_df_all = appended_data_DEN.copy()
DEN_df_all_csv = DEN_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_players_all.csv', index=False)
DEN_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_players_all.csv')
DEN_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,9,Tariq Abdul-Wahad,SG,6-6,223,1974-11-03,FR,2,"Michigan, San Jose State",2000,DEN
1,7,Cory Alexander,PG,6-1,185,1973-06-22,US,4,Virginia,2000,DEN
2,4,Chauncey Billups,SG,6-3,202,1976-09-25,US,2,Colorado,2000,DEN
3,42,Ryan Bowen,SF,6-7,215,1975-11-20,US,R,Iowa,2000,DEN
4,"13, 15",Keon Clark,C,6-11,220,1975-04-16,US,1,UNLV,2000,DEN

In [47]:
DEN_df_2000 = DEN_df_all[DEN_df_all['Season'] == 2000]
DEN_df_2001 = DEN_df_all[DEN_df_all['Season'] == 2001]
DEN_df_2002 = DEN_df_all[DEN_df_all['Season'] == 2002]
DEN_df_2003 = DEN_df_all[DEN_df_all['Season'] == 2003]
DEN_df_2004 = DEN_df_all[DEN_df_all['Season'] == 2004]
DEN_df_2005 = DEN_df_all[DEN_df_all['Season'] == 2005]
DEN_df_2006 = DEN_df_all[DEN_df_all['Season'] == 2006]
DEN_df_2007 = DEN_df_all[DEN_df_all['Season'] == 2007]
DEN_df_2008 = DEN_df_all[DEN_df_all['Season'] == 2008]
DEN_df_2009 = DEN_df_all[DEN_df_all['Season'] == 2009]
DEN_df_2010 = DEN_df_all[DEN_df_all['Season'] == 2010]
DEN_df_2011 = DEN_df_all[DEN_df_all['Season'] == 2011]
DEN_df_2012 = DEN_df_all[DEN_df_all['Season'] == 2012]
DEN_df_2013 = DEN_df_all[DEN_df_all['Season'] == 2013]
DEN_df_2014 = DEN_df_all[DEN_df_all['Season'] == 2014]
DEN_df_2015 = DEN_df_all[DEN_df_all['Season'] == 2015]
DEN_df_2016 = DEN_df_all[DEN_df_all['Season'] == 2016]
DEN_df_2017 = DEN_df_all[DEN_df_all['Season'] == 2017]
DEN_df_2018 = DEN_df_all[DEN_df_all['Season'] == 2018]
DEN_df_2019 = DEN_df_all[DEN_df_all['Season'] == 2019]
DEN_df_2020 = DEN_df_all[DEN_df_all['Season'] == 2020]
DEN_df_2021 = DEN_df_all[DEN_df_all['Season'] == 2021]

In [48]:
# changing names
DEN_df_2003.loc[DEN_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
DEN_df_2004.loc[DEN_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [49]:
DEN_df_2000_players = DEN_df_2000['PLAYER'].to_list()
DEN_df_2001_players = DEN_df_2001['PLAYER'].to_list()
DEN_df_2002_players = DEN_df_2002['PLAYER'].to_list()
DEN_df_2003_players = DEN_df_2003['PLAYER'].to_list()
DEN_df_2004_players = DEN_df_2004['PLAYER'].to_list()
DEN_df_2005_players = DEN_df_2005['PLAYER'].to_list()

DEN_df_2006_players = DEN_df_2006['PLAYER'].to_list()
DEN_df_2007_players = DEN_df_2007['PLAYER'].to_list()
DEN_df_2008_players = DEN_df_2008['PLAYER'].to_list()
DEN_df_2009_players = DEN_df_2009['PLAYER'].to_list()
DEN_df_2010_players = DEN_df_2010['PLAYER'].to_list()
DEN_df_2011_players = DEN_df_2011['PLAYER'].to_list()

DEN_df_2012_players = DEN_df_2012['PLAYER'].to_list()
DEN_df_2013_players = DEN_df_2013['PLAYER'].to_list()
DEN_df_2014_players = DEN_df_2014['PLAYER'].to_list()
DEN_df_2015_players = DEN_df_2015['PLAYER'].to_list()
DEN_df_2016_players = DEN_df_2016['PLAYER'].to_list()
DEN_df_2017_players = DEN_df_2017['PLAYER'].to_list()

DEN_df_2018_players = DEN_df_2018['PLAYER'].to_list()
DEN_df_2019_players = DEN_df_2019['PLAYER'].to_list()
DEN_df_2020_players = DEN_df_2020['PLAYER'].to_list()
DEN_df_2021_players = DEN_df_2021['PLAYER'].to_list()

## players to drop

In [89]:
# 2003 - Nene Hiulario
#DEN_df_2003_players.remove('Nene Hilario')
#DEN_df_2004_players.remove('Nenê Hilário')
#DEN_df_2005_players.remove('Nenê Hilário')
#DEN_df_2006_players.remove('Nenê Hilário')
#DEN_df_2006_players.remove('Charles Smith')
#DEN_df_2007_players.remove('Nenê Hilário')
#DEN_df_2008_players.remove('Nenê Hilário')
#DEN_df_2009_players.remove('Nenê Hilário')
#DEN_df_2010_players.remove('Nenê Hilário')
#DEN_df_2011_players.remove('Nenê Hilário')
#DEN_df_2008_players.remove('Bobby Jones')
#DEN_df_2012_players.remove('Nenê Hilário')
#DEN_df_2017_players.remove("Johnny O'Bryant")
#DEN_df_2020_players.remove("Michael Porter")
#DEN_df_2021_players.remove("Michael Porter")
DEN_df_2021_players.remove("Greg Whittington")

In [53]:

DEN_2000_gamelog = []



for p in DEN_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2000_gamelog.append(player_log)
DEN_2000_gamelog = pd.concat(DEN_2000_gamelog)    
DEN_2000_gamelogs = DEN_2000_gamelog.copy()
DEN_2000_gamelogs['GAME_SCORE'] = DEN_2000_gamelogs['GAME_SCORE'].astype(float)
DEN_2000_games = DEN_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2000_games_csv = DEN_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2000_games.csv', index=False)
DEN_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2000_games.csv')
DEN_2000_games_proc.head()

You searched for "Tariq Abdul-Wahad"
1 result found.
Tariq Abdul-Wahad
Results for Tariq Abdul-Wahad:

You searched for "Cory Alexander"
7 results found.
0: Cory Alexander
1: Gary Alexander
2: Joe Alexander
3: Cliff Alexander
4: Courtney Alexander
5: Kyle Alexander
6: Victor Alexander
Pick one: 0
Results for Cory Alexander:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Ryan Bowen"
13 results found.
0: Ryan Bowen
1: Brian Bowen
2: Ryan Gomes
3: Jordan Bowden
4: Don Boven
5: Bruce Bowen
6: Stan Brown
7: Ray Owes
8: Ron Rowan
9: Jordan Bone
10: Ron Boone
11: Red Owens
12: Ryan Reid
Pick one: 0
Results for Ryan Bowen:

You searched for "Keon Clark"
5 results found.
0: Keon Clark
1: Ian Clark
2: Kenny Carr
3: Earl Clark
4: Gary Clark
Pick one: 0
Results for Keon Clark:

You searched for "Chris Gatling"
4 results found.
0: Chris Gatling
1: Chris King
2: Chris Mullin
3: Chris Garner
Pick one: 0
Results for Chris Gatling:

You searched for "Chris Herren"
14 results found.
0: Chris Herren
1: Chris Harris
2: Chris Andersen
3: Chris Carr
4: Chris Garner
5: Chris Hunter
6: Chris Morris
7: Chris Porter
8: Chris Webber
9: Chris Engler
10: Chris Jent
11: Chris Owens
12: Curtis Perry
13: Chris Boucher
Pick one: 0
Results for Chris Herren:

You searched for "Popeye Jones"
6 results found.
0: Popeye Jones
1: Bobby Jones
2: Bobby Jones
3: Ozell Jones
4: Perry Jones
5: Steve Jones
Pick one: 0
Results for Popeye Jones:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "George McCloud"
2 results found.
0: George McCloud
1: George McLeod
Pick one: 0
Results for George McCloud:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Roy Rogers"
17 results found.
0: Roy Rogers
1: Guy Rodgers
2: Harry Rogers
3: Rodney Rogers
4: Ray Owes
5: Ray Ragelis
6: Doc Rivers
7: Joe Roberts
8: Carlos Rogers
9: Johnny Rogers
10: Al Roges
11: Rob Rose
12: Bob Royer
13: Ron Brewer
14: Rod Foster
15: Troy Brown
16: Roy Marble
Pick one: 0
Results for Roy Rogers:

You searched for "Bryant Stith"
1 result found.
Bryant Stith
Results for Bryant Stith:

You searched for "Johnny Taylor"
7 results found.
0: Johnny Taylor
1: Johnny Payak
2: Anthony Taylor
3: Jay Taylor
4: Johnny Moore
5: Johnny Orr
6: Johnny Horan
Pick one: 0
Results for Johnny Taylor:

You searched for "Nick Van Exel"
1 result found.
Nick Van Exel
Results for Nick Van Exel:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-04-18,23-325,DEN,HOME,UTA,W (+1),1,40:10,11,18,...,17,4,3,6,1,2,32,38.7,13,Raef LaFrentz
1,2000-01-20,25-135,DEN,AWAY,HOU,L (-7),1,41:27,15,25,...,12,2,0,2,3,2,40,33.5,-4,Antonio McDyess
2,1999-12-16,28-019,DEN,HOME,SAC,W (+10),1,43:37,16,31,...,7,10,5,0,3,2,38,33.4,16,Nick Van Exel
3,2000-02-02,28-067,DEN,HOME,MIL,W (+23),1,34:44,10,17,...,2,11,3,0,0,3,28,30.6,23,Nick Van Exel
4,2000-01-08,28-042,DEN,HOME,CHH,W (+5),1,40:40,11,20,...,6,8,2,0,2,1,32,29.8,18,Nick Van Exel

In [8]:

DEN_2001_gamelog = []


for p in DEN_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2001_gamelog.append(player_log)
DEN_2001_gamelog = pd.concat(DEN_2001_gamelog)    
DEN_2001_gamelogs = DEN_2001_gamelog.copy()
DEN_2001_gamelogs['GAME_SCORE'] = DEN_2001_gamelogs['GAME_SCORE'].astype(float)
DEN_2001_games = DEN_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2001_games_csv = DEN_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2001_games.csv', index=False)
DEN_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2001_games.csv')
DEN_2001_games_proc.head()

You searched for "Tariq Abdul-Wahad"
1 result found.
Tariq Abdul-Wahad
Results for Tariq Abdul-Wahad:

You searched for "Ryan Bowen"
13 results found.
0: Ryan Bowen
1: Brian Bowen
2: Ryan Gomes
3: Jordan Bowden
4: Don Boven
5: Bruce Bowen
6: Stan Brown
7: Ray Owes
8: Ron Rowan
9: Jordan Bone
10: Ron Boone
11: Red Owens
12: Ryan Reid
Pick one: 0
Results for Ryan Bowen:

You searched for "Calbert Cheaney"
1 result found.
Calbert Cheaney
Results for Calbert Cheaney:

You searched for "Keon Clark"
5 results found.
0: Keon Clark
1: Ian Clark
2: Kenny Carr
3: Earl Clark
4: Gary Clark
Pick one: 0
Results for Keon Clark:

You searched for "Terry Davis"
21 results found.
0: Terry Davis
1: Harry Davis
2: Jerry Eaves
3: Aubrey Davis
4: Baron Davis
5: Ben Davis
6: Brad Davis
7: Ed Davis
8: Lee Davis
9: Mark Davis
10: Mark Davis
11: Mel Davis
12: Red Davis
13: Ricky Davis
14: Ron Davis
15: Terence Davis
16: Tyler Davis
17: Warren Davis
18: Jerry Dover
19: Terry Dozier
20: Terry Mills
Pick one: 0
Results for Terry Davis:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Garth Joseph"
3 results found.
0: Garth Joseph
1: Cory Joseph
2: Kris Joseph
Pick one: 0
Results for Garth Joseph:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "Dan McClintock"
2 results found.
0: Dan McClintock
1: Dwayne McClain
Pick one: 0
Results for Dan McClintock:

You searched for "George McCloud"
2 results found.
0: George McCloud
1: George McLeod
Pick one: 0
Results for George McCloud:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "Tracy Murray"
4 results found.
0: Tracy Murray
1: Tracy McGrady
2: Tracy Moore
3: Troy Murphy
Pick one: 0
Results for Tracy Murray:

You searched for "Robert Pack"
6 results found.
0: Robert Pack
1: Robert Hahn
2: Robert Sacre
3: Robert Hite
4: Robert Parish
5: Robert Reid
Pick one: 0
Results for Robert Pack:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Mark Strickland"
3 results found.
0: Mark Strickland
1: Erick Strickland
2: Rod Strickland
Pick one: 0
Results for Mark Strickland:

You searched for "Nick Van Exel"
1 result found.
Nick Van Exel
Results for Nick Van Exel:

You searched for "Kevin Willis"
4 results found.
0: Kevin Willis
1: Kevin Williams
2: Kevin Ollie
3: Alvin Williams
Pick one: 0
Results for Kevin Willis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-11-30,26-084,DEN,HOME,HOU,L (-4),1,49:35,15,28,...,20,3,1,4,3,1,40,37.7,-2,Antonio McDyess
1,2001-03-30,29-123,DEN,AWAY,CHH,W (+7),1,41:10,16,27,...,3,10,2,0,1,0,41,37.0,16,Nick Van Exel
2,2000-12-02,26-086,DEN,HOME,SEA,W (+11),1,42:21,16,26,...,17,4,1,2,3,3,37,32.5,10,Antonio McDyess
3,2000-11-24,28-363,DEN,HOME,SAS,W (+10),1,38:32,11,17,...,9,13,1,0,1,0,27,31.7,26,Nick Van Exel
4,2000-12-14,24-199,DEN,AWAY,SAS,W (+6),1,39:21,10,15,...,13,2,3,3,1,2,28,30.1,11,Raef LaFrentz

In [10]:
DEN_2002_gamelog = []


for p in DEN_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2002_gamelog.append(player_log)
DEN_2002_gamelog = pd.concat(DEN_2002_gamelog)    
DEN_2002_gamelogs = DEN_2002_gamelog.copy()
DEN_2002_gamelogs['GAME_SCORE'] = DEN_2002_gamelogs['GAME_SCORE'].astype(float)
DEN_2002_games = DEN_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2002_games_csv = DEN_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2002_games.csv', index=False)
DEN_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2002_games.csv')
DEN_2002_games_proc.head()

You searched for "Tariq Abdul-Wahad"
1 result found.
Tariq Abdul-Wahad
Results for Tariq Abdul-Wahad:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Mengke Bateer"
1 result found.
Mengke Bateer
Results for Mengke Bateer:

You searched for "Ryan Bowen"
13 results found.
0: Ryan Bowen
1: Brian Bowen
2: Ryan Gomes
3: Jordan Bowden
4: Don Boven
5: Bruce Bowen
6: Stan Brown
7: Ray Owes
8: Ron Rowan
9: Jordan Bone
10: Ron Boone
11: Red Owens
12: Ryan Reid
Pick one: 0
Results for Ryan Bowen:

You searched for "Calbert Cheaney"
1 result found.
Calbert Cheaney
Results for Calbert Cheaney:

You searched for "Zendon Hamilton"
3 results found.
0: Zendon Hamilton
1: Dennis Hamilton
2: Jordan Hamilton
Pick one: 0
Results for Zendon Hamilton:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 0
Results for Tim Hardaway:

You searched for "Donnell Harvey"
1 result found.
Donnell Harvey
Results for Donnell Harvey:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "Avery Johnson"
27 results found.
0: Avery Johnson
1: Amir Johnson
2: Andy Johnson
3: Dave Johnson
4: Larry Johnson
5: Larry Johnson
6: Trey Johnson
7: Alize Johnson
8: Armon Johnson
9: Arnie Johnson
10: Cameron Johnson
11: Clay Johnson
12: Dakari Johnson
13: Darryl Johnson
14: Ed Johnson
15: Eric Johnson
16: Ivan Johnson
17: James Johnson
18: Joe Johnson
19: Ken Johnson
20: Ken Johnson
21: Lee Johnson
22: Neil Johnson
23: Omari Johnson
24: Steve Johnson
25: Stew Johnson
26: Tyler Johnson
Pick one: 0
Results for Avery Johnson:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "George McCloud"
2 results found.
0: George McCloud
1: George McLeod
Pick one: 0
Results for George McCloud:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Isaiah Rider"
6 results found.
0: Isaiah Rider
1: Isaiah Joe
2: Isaiah Hicks
3: Isaiah Roby
4: Isaiah Briscoe
5: Isaiah Morris
Pick one: 0
Results for Isaiah Rider:

You searched for "Kenny Satterfield"
1 result found.
Kenny Satterfield
Results for Kenny Satterfield:

You searched for "Shawnelle Scott"
1 result found.
Shawnelle Scott
Results for Shawnelle Scott:

You searched for "Nick Van Exel"
1 result found.
Nick Van Exel
Results for Nick Van Exel:

You searched for "Scott Williams"
22 results found.
0: Scott Williams
1: Matt Williams
2: Art Williams
3: Bob Williams
4: C.J. Williams
5: Corey Williams
6: Grant Williams
7: John Williams
8: Lou Williams
9: Milt Williams
10: Mo Williams
11: Monty Williams
12: Nate Williams
13: Pete Williams
14: Rob Williams
15: Ron Williams
16: Sam Williams
17: Sam Williams
18: Sean Williams
19: Sly Williams
20: Troy Williams
21: Walt Williams
Pick one: 0
Results for Scott Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-11-01,29-339,DEN,HOME,MIL,L (-1),1,40:43,16,32,...,7,8,0,1,4,1,44,31.6,0,Nick Van Exel
1,2002-01-16,25-232,DEN,HOME,SAC,L (-5),1,35:38,12,19,...,10,2,1,6,1,2,30,30.1,4,Raef LaFrentz
2,2002-01-10,25-226,DEN,HOME,CLE,W (+5),1,34:20,12,18,...,10,3,1,4,1,3,29,29.1,8,Raef LaFrentz
3,2002-03-07,29-028,DEN,HOME,NYK,W (+11),1,43:42,12,19,...,7,9,1,0,3,5,30,26.7,14,Juwan Howard
4,2001-11-25,29-363,DEN,AWAY,LAL,L (-7),1,38:19,14,23,...,1,8,0,0,2,2,34,26.2,6,Nick Van Exel

In [39]:
DEN_2003_gamelog = []



for p in DEN_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2003_gamelog.append(player_log)
DEN_2003_gamelog = pd.concat(DEN_2003_gamelog)    
DEN_2003_gamelogs = DEN_2003_gamelog.copy()
DEN_2003_gamelogs['GAME_SCORE'] = DEN_2003_gamelogs['GAME_SCORE'].astype(float)
DEN_2003_games = DEN_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2003_games_csv = DEN_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2003_games.csv', index=False)
DEN_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2003_games.csv')
DEN_2003_games_proc.head()

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Ryan Bowen"
13 results found.
0: Ryan Bowen
1: Brian Bowen
2: Ryan Gomes
3: Jordan Bowden
4: Don Boven
5: Bruce Bowen
6: Stan Brown
7: Ray Owes
8: Ron Rowan
9: Jordan Bone
10: Ron Boone
11: Red Owens
12: Ryan Reid
Pick one: 0
Results for Ryan Bowen:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Mark Bryant"
11 results found.
0: Mark Bryant
1: Mark Blount
2: Mark Bradtke
3: Em Bryant
4: Joe Bryant
5: Kobe Bryant
6: Gary Grant
7: Markel Brown
8: Mark Eaton
9: Mark Workman
10: Mark Sibley
Pick one: 0
Results for Mark Bryant:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "John Crotty"
8 results found.
0: John Crotty
1: John Brown
2: John Chaney
3: John Coker
4: John Roche
5: John Morton
6: John Stroud
7: Johan Petro
Pick one: 0
Results for John Crotty:

You searched for "Adam Harrington"
2 results found.
0: Adam Harrington
1: Al Harrington
Pick one: 0
Results for Adam Harrington:

You searched for "Junior Harrington"
1 result found.
Junior Harrington
Results for Junior Harrington:

You searched for "Donnell Harvey"
1 result found.
Donnell Harvey
Results for Donnell Harvey:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Kenny Satterfield"
1 result found.
Kenny Satterfield
Results for Kenny Satterfield:

You searched for "Predrag Savović"
1 result found.
Predrag Savovic
Results for Predrag Savovic:

You searched for "Jeff Trepagnier"
1 result found.
Jeff Trepagnier
Results for Jeff Trepagnier:

You searched for "Nikoloz Tskitishvili"
1 result found.
Nikoloz Tskitishvili
Results for Nikoloz Tskitishvili:

You searched for "Rodney White"
9 results found.
0: Rodney White
1: Randy White
2: Rory White
3: Royce White
4: Rudy White
5: Tony White
6: Rodney Hood
7: Andrew White
8: Coby White
Pick one: 0
Results for Rodney White:

You searched for "Chris Whitney"
4 results found.
0: Chris Whitney
1: Kahlil Whitney
2: Chris Anstey
3: Hank Whitney
Pick one: 0
Results for Chris Whitney:

You searched for "Shammond Williams"
2 results found.
0: Shammond Williams
1: Shawne Williams
Pick one: 0
Results for Shammond Williams:

You searched for "Vincent Yarbrough"
1 result found.
Vincent Yarbrough
Results for Vincent Yarbrough:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-03-14,26-060,HOU,HOME,CHI,W (+30),1,37:54,9,12,...,3,8,5,0,2,1,26,30.3,30,James Posey
1,2003-02-04,29-362,DEN,HOME,CHI,W (+2),1,43:26,13,23,...,9,8,1,2,2,2,30,27.0,-7,Juwan Howard
2,2003-01-08,29-335,DEN,HOME,MIA,W (+10),1,41:42,11,17,...,12,6,0,0,2,4,28,25.1,16,Juwan Howard
3,2003-02-02,29-360,DEN,HOME,MEM,W (+15),1,38:52,11,23,...,13,5,2,1,1,3,26,23.8,7,Juwan Howard
4,2002-11-05,29-271,DEN,HOME,ATL,L (-16),1,39:01,11,19,...,15,1,3,0,3,4,25,22.9,-15,Juwan Howard

In [54]:
# removed neno hilario

DEN_2004_gamelog = []



for p in DEN_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2004_gamelog.append(player_log)
DEN_2004_gamelog = pd.concat(DEN_2004_gamelog)    
DEN_2004_gamelogs = DEN_2004_gamelog.copy()
DEN_2004_gamelogs['GAME_SCORE'] = DEN_2004_gamelogs['GAME_SCORE'].astype(float)
DEN_2004_games = DEN_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2004_games_csv = DEN_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2004_games.csv', index=False)
DEN_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2004_games.csv')
DEN_2004_games_proc.head()

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Jon Barry"
30 results found.
0: Jon Barry
1: John Barr
2: Moe Barr
3: Ron Perry
4: John Bagley
5: Ron Baker
6: John Barber
7: Brent Barry
8: Drew Barry
9: Rick Barry
10: Jay Carty
11: Bob Ferry
12: John Garris
13: Joe Harris
14: Don May
15: Don Ray
16: Jason Terry
17: John Warren
18: Vin Baker
19: Tom Barker
20: Mike Barr
21: Cory Carr
22: Ron Carter
23: Ron Harper
24: Jason Hart
25: Josh Hart
26: Jon Leuer
27: Jack Parr
28: Von Wafer
29: John Wall
Pick one: 0
Results for Jon Barry:

You searched for "Ryan Bowen"
13 results found.
0: Ryan Bowen
1: Brian Bowen
2: Ryan Gomes
3: Jordan Bowden
4: Don Boven
5: Bruce Bowen
6: Stan Brown
7: Ray Owes
8: Ron Rowan
9: Jordan Bone
10: Ron Boone
11: Red Owens
12: Ryan Reid
Pick one: 0
Results for Ryan Bowen:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Mark Pope"
14 results found.
0: Mark Pope
1: Mark Jones
2: Mark Jones
3: Mark Price
4: Mark Wade
5: Mark Acres
6: Mark Crow
7: David Pope
8: Malik Rose
9: Gary Voce
10: Mark West
11: Mark Eaton
12: Mark Macon
13: Mark Minor
Pick one: 0
Results for Mark Pope:

You searched for "Jeff Trepagnier"
1 result found.
Jeff Trepagnier
Results for Jeff Trepagnier:

You searched for "Nikoloz Tskitishvili"
1 result found.
Nikoloz Tskitishvili
Results for Nikoloz Tskitishvili:

You searched for "Rodney White"
9 results found.
0: Rodney White
1: Randy White
2: Rory White
3: Royce White
4: Rudy White
5: Tony White
6: Rodney Hood
7: Andrew White
8: Coby White
Pick one: 0
Results for Rodney White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-03-12,19-288,DEN,AWAY,MIL,W (+6),1,41:21,11,20,...,6,9,1,1,1,3,31,29.0,8,Carmelo Anthony
1,2004-04-07,19-314,DEN,AWAY,PHO,W (+15),1,38:26,12,20,...,11,1,1,0,3,3,36,28.8,11,Carmelo Anthony
2,2004-02-02,19-249,DEN,HOME,POR,W (+19),1,34:41,14,22,...,3,0,3,0,2,3,39,28.7,14,Carmelo Anthony
3,2003-12-03,30-203,DEN,AWAY,GSW,W (+8),1,38:41,14,21,...,2,0,1,0,1,4,38,28.3,6,Voshon Lenard
4,2004-03-14,27-361,DEN,HOME,UTA,W (+27),1,36:04,6,11,...,9,11,2,1,4,1,24,27.8,25,Andre Miller

In [57]:
# removed nene hilario

DEN_2005_gamelog = []

for p in DEN_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2005_gamelog.append(player_log)
DEN_2005_gamelog = pd.concat(DEN_2005_gamelog)    
DEN_2005_gamelogs = DEN_2005_gamelog.copy()
DEN_2005_gamelogs['GAME_SCORE'] = DEN_2005_gamelogs['GAME_SCORE'].astype(float)
DEN_2005_games = DEN_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2005_games_csv = DEN_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2005_games.csv', index=False)
DEN_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2005_games.csv')
DEN_2005_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Greg Buckner"
4 results found.
0: Greg Buckner
1: Greg Butler
2: Greg Bunch
3: Greg Jackson
Pick one: 0
Results for Greg Buckner:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Luis Flores"
1 result found.
Luis Flores
Results for Luis Flores:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Eduardo Nájera"
1 result found.
Eduardo Najera
Results for Eduardo Najera:

You searched for "Wesley Person"
2 results found.
0: Wesley Person
1: Wesley Johnson
Pick one: 0
Results for Wesley Person:

You searched for "Mark Pope"
14 results found.
0: Mark Pope
1: Mark Jones
2: Mark Jones
3: Mark Price
4: Mark Wade
5: Mark Acres
6: Mark Crow
7: David Pope
8: Malik Rose
9: Gary Voce
10: Mark West
11: Mark Eaton
12: Mark Macon
13: Mark Minor
Pick one: 0
Results for Mark Pope:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "Nikoloz Tskitishvili"
1 result found.
Nikoloz Tskitishvili
Results for Nikoloz Tskitishvili:

You searched for "Rodney White"
9 results found.
0: Rodney White
1: Randy White
2: Rory White
3: Royce White
4: Rudy White
5: Tony White
6: Rodney Hood
7: Andrew White
8: Coby White
Pick one: 0
Results for Rodney White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-12-06,28-262,DEN,HOME,ORL,W (+13),1,38:08,7,12,...,7,7,3,1,1,4,29,32.7,12,Andre Miller
1,2004-11-11,20-166,DEN,HOME,DET,W (+8),1,40:00,11,20,...,7,5,4,1,2,6,34,31.1,3,Carmelo Anthony
2,2004-12-08,28-264,DEN,AWAY,WAS,W (+6),1,42:38,15,25,...,8,8,1,0,2,1,34,29.9,-1,Andre Miller
3,2005-04-11,20-317,DEN,HOME,GSW,W (+16),1,33:15,12,16,...,9,3,0,2,1,3,32,29.2,23,Carmelo Anthony
4,2004-11-21,28-066,DEN,HOME,DAL,W (+28),1,32:22,10,13,...,9,2,4,0,1,3,28,28.8,36,Greg Buckner

In [62]:
# remvoed nene hilario

DEN_2006_gamelog = []

for p in DEN_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2006_gamelog.append(player_log)
DEN_2006_gamelog = pd.concat(DEN_2006_gamelog)    
DEN_2006_gamelogs = DEN_2006_gamelog.copy()
DEN_2006_gamelogs['GAME_SCORE'] = DEN_2006_gamelogs['GAME_SCORE'].astype(float)
DEN_2006_games = DEN_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2006_games_csv = DEN_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2006_games.csv', index=False)
DEN_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2006_games.csv')
DEN_2006_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Greg Buckner"
4 results found.
0: Greg Buckner
1: Greg Butler
2: Greg Bunch
3: Greg Jackson
Pick one: 0
Results for Greg Buckner:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Reggie Evans"
10 results found.
0: Reggie Evans
1: Reggie Geary
2: Reggie Hanson
3: Reggie Hearn
4: Reggie King
5: Reggie Lewis
6: Reggie Royals
7: Reggie Theus
8: Reggie Perry
9: Reggie Jordan
Pick one: 0
Results for Reggie Evans:

You searched for "Julius Hodge"
4 results found.
0: Julius Hodge
1: Julius Keye
2: Julius Randle
3: Julius Nwosu
Pick one: 0
Results for Julius Hodge:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Linas Kleiza"
1 result found.
Linas Kleiza
Results for Linas Kleiza:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Eduardo Nájera"
1 result found.
Eduardo Najera
Results for Eduardo Najera:

You searched for "Ruben Patterson"
1 result found.
Ruben Patterson
Results for Ruben Patterson:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "Earl Watson"
9 results found.
0: Earl Watson
1: Paul Watson
2: Earl Barron
3: Mark Eaton
4: Earl Shannon
5: Earl Tatum
6: C.J. Watson
7: Jamie Watson
8: Earl Jones
Pick one: 0
Results for Earl Watson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-12-13,21-198,DEN,AWAY,CHA,W (+16),1,40:24,13,18,...,8,4,4,2,4,4,42,39.2,19,Carmelo Anthony
1,2006-01-23,21-239,DEN,HOME,TOR,W (+6),1,37:37,13,16,...,6,3,1,2,1,0,37,35.5,5,Carmelo Anthony
2,2005-12-02,31-255,DEN,AWAY,PHO,L (-5),1,40:54,12,19,...,20,2,3,3,3,2,33,33.6,14,Marcus Camby
3,2006-02-10,28-042,DEN,HOME,DAL,W (+9),1,37:23,14,18,...,9,2,2,0,0,3,34,33.1,27,Kenyon Martin
4,2005-11-30,29-256,DEN,HOME,NOK,L (-7),1,34:51,12,18,...,5,5,1,2,0,2,33,31.4,-10,Andre Miller

In [65]:
# removed nene hilario 
DEN_2007_gamelog = []

for p in DEN_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2007_gamelog.append(player_log)
DEN_2007_gamelog = pd.concat(DEN_2007_gamelog)    
DEN_2007_gamelogs = DEN_2007_gamelog.copy()
DEN_2007_gamelogs['GAME_SCORE'] = DEN_2007_gamelogs['GAME_SCORE'].astype(float)
DEN_2007_games = DEN_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2007_games_csv = DEN_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2007_games.csv', index=False)
DEN_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2007_games.csv')
DEN_2007_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Yakhouba Diawara"
1 result found.
Yakhouba Diawara
Results for Yakhouba Diawara:

You searched for "Reggie Evans"
10 results found.
0: Reggie Evans
1: Reggie Geary
2: Reggie Hanson
3: Reggie Hearn
4: Reggie King
5: Reggie Lewis
6: Reggie Royals
7: Reggie Theus
8: Reggie Perry
9: Reggie Jordan
Pick one: 0
Results for Reggie Evans:

You searched for "Julius Hodge"
4 results found.
0: Julius Hodge
1: Julius Keye
2: Julius Randle
3: Julius Nwosu
Pick one: 0
Results for Julius Hodge:

You searched for "Allen Iverson"
2 results found.
0: Allen Iverson
1: Willie Iverson
Pick one: 0
Results for Allen Iverson:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Linas Kleiza"
1 result found.
Linas Kleiza
Results for Linas Kleiza:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Eduardo Nájera"
1 result found.
Eduardo Najera
Results for Eduardo Najera:

You searched for "Jamal Sampson"
3 results found.
0: Jamal Sampson
1: JaKarr Sampson
2: Ralph Sampson
Pick one: 0
Results for Jamal Sampson:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-03-17,31-283,DEN,HOME,PHO,W (+24),1,42:38,16,22,...,5,15,0,1,1,2,44,45.1,31,Allen Iverson
1,2006-11-24,31-170,PHI,HOME,CHI,W (+15),1,44:38,15,30,...,5,10,2,1,2,2,46,39.0,12,Allen Iverson
2,2007-04-06,30-308,MIL,AWAY,ATL,L (-13),1,43:14,10,16,...,2,9,3,0,1,1,36,36.9,-2,Earl Boykins
3,2007-01-29,31-236,DEN,HOME,CHA,L (-4),1,42:54,10,15,...,3,8,4,1,0,1,31,34.5,-7,Allen Iverson
4,2006-12-15,22-200,DEN,AWAY,BOS,L (-5),1,43:37,15,26,...,6,5,1,1,1,3,42,33.8,-8,Carmelo Anthony

In [69]:
# removed nene hilario
# removed bobby jones
DEN_2008_gamelog = []

for p in DEN_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2008_gamelog.append(player_log)
DEN_2008_gamelog = pd.concat(DEN_2008_gamelog)    
DEN_2008_gamelogs = DEN_2008_gamelog.copy()
DEN_2008_gamelogs['GAME_SCORE'] = DEN_2008_gamelogs['GAME_SCORE'].astype(float)
DEN_2008_games = DEN_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2008_games_csv = DEN_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2008_games.csv', index=False)
DEN_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2008_games.csv')
DEN_2008_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Chucky Atkins"
1 result found.
Chucky Atkins
Results for Chucky Atkins:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Yakhouba Diawara"
1 result found.
Yakhouba Diawara
Results for Yakhouba Diawara:

You searched for "Taurean Green"
3 results found.
0: Taurean Green
1: Sean Green
2: Taurean Prince
Pick one: 0
Results for Taurean Green:

You searched for "Steven Hunter"
4 results found.
0: Steven Hunter
1: Steve Colter
2: Steve Hamer
3: Steven Kramer
Pick one: 0
Results for Steven Hunter:

You searched for "Allen Iverson"
2 results found.
0: Allen Iverson
1: Willie Iverson
Pick one: 0
Results for Allen Iverson:

You searched for "Linas Kleiza"
1 result found.
Linas Kleiza
Results for Linas Kleiza:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Jelani McCoy"
1 result found.
Jelani McCoy
Results for Jelani McCoy:

You searched for "Eduardo Nájera"
1 result found.
Eduardo Najera
Results for Eduardo Najera:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Von Wafer"
14 results found.
0: Von Wafer
1: Ron Baker
2: Vin Baker
3: Ron Carter
4: Ron Harper
5: Jon Leuer
6: Thon Maker
7: Bob Naber
8: Ron Watts
9: Don Ford
10: Don Grate
11: Dean Wade
12: John Wall
13: Ron Rowan
Pick one: 0
Results for Von Wafer:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-04-05,23-312,DEN,HOME,SAC,L (-3),1,38:02,19,24,...,11,2,3,0,3,5,47,42.5,-6,Carmelo Anthony
1,2008-02-08,23-255,DEN,HOME,WAS,W (+11),1,39:13,19,25,...,4,2,2,0,1,2,49,41.9,14,Carmelo Anthony
2,2007-12-05,32-181,DEN,HOME,LAL,L (-4),1,48:00,18,27,...,2,8,1,0,5,4,51,38.7,-4,Allen Iverson
3,2007-12-06,32-182,DEN,AWAY,DAL,W (+13),1,42:54,12,19,...,1,12,6,0,5,2,35,34.6,16,Allen Iverson
4,2008-01-17,23-014,DEN,HOME,UTA,W (+11),1,41:40,13,21,...,9,2,1,0,2,3,41,33.4,10,Linas Kleiza

In [70]:
# removed nene hilario
DEN_2009_gamelog = []

for p in DEN_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2009_gamelog.append(player_log)
DEN_2009_gamelog = pd.concat(DEN_2009_gamelog)    
DEN_2009_gamelogs = DEN_2009_gamelog.copy()
DEN_2009_gamelogs['GAME_SCORE'] = DEN_2009_gamelogs['GAME_SCORE'].astype(float)
DEN_2009_games = DEN_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2009_games_csv = DEN_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2009_games.csv', index=False)
DEN_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2009_games.csv')
DEN_2009_games_proc.head()

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Chucky Atkins"
1 result found.
Chucky Atkins
Results for Chucky Atkins:

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "Allen Iverson"
2 results found.
0: Allen Iverson
1: Willie Iverson
Pick one: 0
Results for Allen Iverson:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "Linas Kleiza"
1 result found.
Linas Kleiza
Results for Linas Kleiza:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Johan Petro"
4 results found.
0: Johan Petro
1: John Brown
2: John Roche
3: John Trapp
Pick one: 0
Results for Johan Petro:

You searched for "Cheikh Samb"
1 result found.
Cheikh Samb
Results for Cheikh Samb:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Sonny Weems"
1 result found.
Sonny Weems
Results for Sonny Weems:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-12-10,24-195,DEN,HOME,MIN,W (+11),1,38:50,16,29,...,11,3,4,0,2,3,45,37.3,14,Carmelo Anthony
1,2009-03-20,23-192,DEN,HOME,WAS,W (+11),1,34:59,15,23,...,5,3,3,1,4,0,40,33.2,11,J.R. Smith
2,2009-03-27,24-302,DEN,AWAY,DAL,W (+2),1,41:31,18,29,...,11,1,1,0,1,4,43,32.3,8,Carmelo Anthony
3,2008-12-19,33-195,DET,HOME,UTA,L (-6),1,53:46,13,24,...,5,7,3,0,6,1,38,29.8,-10,Allen Iverson
4,2008-12-02,32-068,DEN,HOME,TOR,W (+39),1,31:53,8,12,...,1,14,1,0,1,0,24,28.9,48,Chauncey Billups

In [71]:
# removed nene hilario 
DEN_2010_gamelog = []

for p in DEN_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2010_gamelog.append(player_log)
DEN_2010_gamelog = pd.concat(DEN_2010_gamelog)    
DEN_2010_gamelogs = DEN_2010_gamelog.copy()
DEN_2010_gamelogs['GAME_SCORE'] = DEN_2010_gamelogs['GAME_SCORE'].astype(float)
DEN_2010_games = DEN_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2010_games_csv = DEN_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2010_games.csv', index=False)
DEN_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2010_games.csv')
DEN_2010_games_proc.head()

You searched for "Arron Afflalo"
1 result found.
Arron Afflalo
Results for Arron Afflalo:

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Joey Graham"
5 results found.
0: Joey Graham
1: Greg Graham
2: Mal Graham
3: Paul Graham
4: Joe Hamood
Pick one: 0
Results for Joey Graham:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Johan Petro"
4 results found.
0: Johan Petro
1: John Brown
2: John Roche
3: John Trapp
Pick one: 0
Results for Johan Petro:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-11-27,25-182,DEN,HOME,NYK,W (+3),1,46:01,17,28,...,6,5,0,0,3,5,50,38.3,3,Carmelo Anthony
1,2010-02-25,33-153,DEN,AWAY,GSW,W (+15),1,37:20,13,19,...,6,9,1,0,2,1,37,35.6,17,Chauncey Billups
2,2009-11-01,25-156,DEN,HOME,MEM,W (+10),1,35:35,15,26,...,7,5,2,0,1,4,42,35.2,4,Carmelo Anthony
3,2010-02-05,33-133,DEN,AWAY,LAL,W (+13),1,40:26,12,20,...,4,8,1,0,2,1,39,34.4,13,Chauncey Billups
4,2010-03-15,25-290,DEN,AWAY,HOU,L (-2),1,40:01,18,35,...,10,3,0,1,1,3,45,32.9,6,Carmelo Anthony

In [72]:
# removed nene hilario
DEN_2011_gamelog = []

for p in DEN_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2011_gamelog.append(player_log)
DEN_2011_gamelog = pd.concat(DEN_2011_gamelog)    
DEN_2011_gamelogs = DEN_2011_gamelog.copy()
DEN_2011_gamelogs['GAME_SCORE'] = DEN_2011_gamelogs['GAME_SCORE'].astype(float)
DEN_2011_games = DEN_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2011_games_csv = DEN_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2011_games.csv', index=False)
DEN_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2011_games.csv')
DEN_2011_games_proc.head()

You searched for "Arron Afflalo"
1 result found.
Arron Afflalo
Results for Arron Afflalo:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Melvin Ely"
1 result found.
Melvin Ely
Results for Melvin Ely:

You searched for "Raymond Felton"
1 result found.
Raymond Felton
Results for Raymond Felton:

You searched for "Gary Forbes"
11 results found.
0: Gary Forbes
1: Bryn Forbes
2: Gary Bergen
3: Gary Harris
4: Gary Turner
5: Gary Voce
6: Larry Fogle
7: Gary Trent
8: Gary Trent
9: Gary Alcorn
10: Gary Gregor
Pick one: 0
Results for Gary Forbes:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-02-07,26-254,DEN,HOME,HOU,L (-5),1,39:28,16,24,...,11,0,1,3,4,2,50,40.8,-3,Carmelo Anthony
1,2011-04-09,23-157,DEN,HOME,MIN,W (+24),1,31:17,11,16,...,7,6,1,0,1,0,37,36.9,32,Ty Lawson
2,2010-11-19,26-146,NYK,AWAY,GSW,W (+6),1,42:42,13,17,...,5,11,4,1,5,1,35,36.8,4,Raymond Felton
3,2011-03-30,26-305,NYK,HOME,NJN,W (+4),1,40:55,15,26,...,10,5,0,0,2,3,39,31.7,14,Carmelo Anthony
4,2010-11-22,26-177,DEN,AWAY,GSW,W (+17),1,36:39,10,24,...,9,5,2,0,3,3,39,31.4,11,Carmelo Anthony

In [75]:
# removed nene hilario
DEN_2012_gamelog = []

for p in DEN_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2012_gamelog.append(player_log)
DEN_2012_gamelog = pd.concat(DEN_2012_gamelog)    
DEN_2012_gamelogs = DEN_2012_gamelog.copy()
DEN_2012_gamelogs['GAME_SCORE'] = DEN_2012_gamelogs['GAME_SCORE'].astype(float)
DEN_2012_games = DEN_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2012_games_csv = DEN_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2012_games.csv', index=False)
DEN_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2012_games.csv')
DEN_2012_games_proc.head()

You searched for "Arron Afflalo"
1 result found.
Arron Afflalo
Results for Arron Afflalo:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Rudy Fernández"
2 results found.
0: Rudy Fernandez
1: Bruno Fernando
Pick one: 0
Results for Rudy Fernandez:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Jordan Hamilton"
4 results found.
0: Jordan Hamilton
1: Joe Hamilton
2: Justin Hamilton
3: Zendon Hamilton
Pick one: 0
Results for Jordan Hamilton:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "Julyan Stone"
1 result found.
Julyan Stone
Results for Julyan Stone:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-01-21,23-166,DEN,AWAY,NYK,W (+5),1,51:42,9,19,...,11,2,1,0,2,4,37,29.8,5,Danilo Gallinari
1,2012-04-21,24-170,DEN,AWAY,PHO,W (+11),1,36:40,10,16,...,4,10,1,0,1,1,29,29.6,7,Ty Lawson
2,2012-04-09,22-142,DEN,HOME,GSW,W (+39),1,24:07,12,18,...,17,1,2,1,1,2,27,28.7,33,Kenneth Faried
3,2012-01-14,23-360,WAS,HOME,PHI,L (-13),1,42:33,11,13,...,18,2,1,5,2,3,23,28.0,0,JaVale McGee
4,2012-03-09,26-146,DEN,HOME,NOH,W (+13),1,36:27,9,13,...,2,4,1,1,0,2,28,27.2,8,Arron Afflalo

In [76]:
DEN_2013_gamelog = []

for p in DEN_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2013_gamelog.append(player_log)
DEN_2013_gamelog = pd.concat(DEN_2013_gamelog)    
DEN_2013_gamelogs = DEN_2013_gamelog.copy()
DEN_2013_gamelogs['GAME_SCORE'] = DEN_2013_gamelogs['GAME_SCORE'].astype(float)
DEN_2013_games = DEN_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2013_games_csv = DEN_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2013_games.csv', index=False)
DEN_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2013_games.csv')
DEN_2013_games_proc.head()

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Evan Fournier"
2 results found.
0: Evan Fournier
1: Evan Turner
Pick one: 0
Results for Evan Fournier:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Jordan Hamilton"
4 results found.
0: Jordan Hamilton
1: Joe Hamilton
2: Justin Hamilton
3: Zendon Hamilton
Pick one: 0
Results for Jordan Hamilton:

You searched for "Andre Iguodala"
1 result found.
Andre Iguodala
Results for Andre Iguodala:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Quincy Miller"
3 results found.
0: Quincy Miller
1: Dick Miller
2: Quincy Lewis
Pick one: 0
Results for Quincy Miller:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "Anthony Randolph"
1 result found.
Anthony Randolph
Results for Anthony Randolph:

You searched for "Julyan Stone"
1 result found.
Julyan Stone
Results for Julyan Stone:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-04-11,28-037,MIN,HOME,HOU,W (+2),1,44:53,19,30,...,2,1,6,1,2,4,51,40.8,5,Corey Brewer
1,2012-12-28,24-142,DEN,AWAY,DAL,W (+21),1,34:29,14,23,...,8,3,0,0,1,0,39,32.8,31,Danilo Gallinari
2,2013-04-14,29-076,DEN,HOME,POR,W (+9),1,37:10,11,17,...,7,9,3,3,2,1,28,31.6,23,Andre Iguodala
3,2014-03-03,26-120,DEN,HOME,MIN,L (-4),1,40:16,11,16,...,4,11,4,0,4,6,31,31.1,8,Ty Lawson
4,2014-04-02,24-134,DEN,HOME,NOP,W (+30),1,26:46,14,19,...,13,2,0,3,1,5,34,30.7,17,Kenneth Faried

In [77]:
DEN_2014_gamelog = []

for p in DEN_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2014_gamelog.append(player_log)
DEN_2014_gamelog = pd.concat(DEN_2014_gamelog)    
DEN_2014_gamelogs = DEN_2014_gamelog.copy()
DEN_2014_gamelogs['GAME_SCORE'] = DEN_2014_gamelogs['GAME_SCORE'].astype(float)
DEN_2014_games = DEN_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2014_games_csv = DEN_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2014_games.csv', index=False)
DEN_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2014_games.csv')
DEN_2014_games_proc.head()

You searched for "Darrell Arthur"
3 results found.
0: Darrell Arthur
1: Darrell Hardy
2: Darrell Walker
Pick one: 0
Results for Darrell Arthur:

You searched for "Aaron Brooks"
5 results found.
0: Aaron Brooks
1: MarShon Brooks
2: Dillon Brooks
3: Kevin Brooks
4: Aaron Gordon
Pick one: 0
Results for Aaron Brooks:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Evan Fournier"
2 results found.
0: Evan Fournier
1: Evan Turner
Pick one: 0
Results for Evan Fournier:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Jordan Hamilton"
4 results found.
0: Jordan Hamilton
1: Joe Hamilton
2: Justin Hamilton
3: Zendon Hamilton
Pick one: 0
Results for Jordan Hamilton:

You searched for "J.J. Hickson"
3 results found.
0: J.J. Hickson
1: John Dickson
2: D.J. Wilson
Pick one: 0
Results for J.J. Hickson:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Quincy Miller"
3 results found.
0: Quincy Miller
1: Dick Miller
2: Quincy Lewis
Pick one: 0
Results for Quincy Miller:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "Anthony Randolph"
1 result found.
Anthony Randolph
Results for Anthony Randolph:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Jan Veselý"
4 results found.
0: Jan Vesely
1: Dan Issel
2: Dan Hester
3: Jalen Rose
Pick one: 0
Results for Jan Vesely:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-04-09,30-197,DEN,HOME,HOU,W (+7),1,38:18,10,17,...,5,15,2,0,1,1,30,35.5,28,Randy Foye
1,2014-03-03,26-120,DEN,HOME,MIN,L (-4),1,40:16,11,16,...,4,11,4,0,4,6,31,31.1,8,Ty Lawson
2,2014-04-02,24-134,DEN,HOME,NOP,W (+30),1,26:46,14,19,...,13,2,0,3,1,5,34,30.7,17,Kenneth Faried
3,2014-04-10,27-268,DEN,AWAY,GSW,W (+1),1,42:45,10,15,...,29,3,1,3,2,3,23,30.4,-2,Timofey Mozgov
4,2014-03-07,24-108,DEN,HOME,LAL,W (+8),1,37:44,14,20,...,13,2,3,1,2,4,32,29.4,22,Kenneth Faried

In [78]:
DEN_2015_gamelog = []

for p in DEN_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2015_gamelog.append(player_log)
DEN_2015_gamelog = pd.concat(DEN_2015_gamelog)    
DEN_2015_gamelogs = DEN_2015_gamelog.copy()
DEN_2015_gamelogs['GAME_SCORE'] = DEN_2015_gamelogs['GAME_SCORE'].astype(float)
DEN_2015_games = DEN_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2015_games_csv = DEN_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2015_games.csv', index=False)
DEN_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2015_games.csv')
DEN_2015_games_proc.head()

You searched for "Arron Afflalo"
1 result found.
Arron Afflalo
Results for Arron Afflalo:

You searched for "Darrell Arthur"
3 results found.
0: Darrell Arthur
1: Darrell Hardy
2: Darrell Walker
Pick one: 0
Results for Darrell Arthur:

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Ian Clark"
4 results found.
0: Ian Clark
1: Earl Clark
2: Gary Clark
3: Keon Clark
Pick one: 0
Results for Ian Clark:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Jamaal Franklin"
1 result found.
Jamaal Franklin
Results for Jamaal Franklin:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Alonzo Gee"
1 result found.
Alonzo Gee
Results for Alonzo Gee:

You searched for "Erick Green"
11 results found.
0: Erick Green
1: Rickey Green
2: Eric Gordon
3: A.C. Green
4: Devin Green
5: Gerald Green
6: Mike Green
7: Si Green
8: Orien Greene
9: Ricky Grace
10: Erik McCree
Pick one: 0
Results for Erick Green:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "J.J. Hickson"
3 results found.
0: J.J. Hickson
1: John Dickson
2: D.J. Wilson
Pick one: 0
Results for J.J. Hickson:

You searched for "Joffrey Lauvergne"
1 result found.
Joffrey Lauvergne
Results for Joffrey Lauvergne:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "Jameer Nelson"
2 results found.
0: Jameer Nelson
1: Jasper Wilson
Pick one: 0
Results for Jameer Nelson:

You searched for "Jusuf Nurkić"
1 result found.
Jusuf Nurkic
Results for Jusuf Nurkic:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-04-10,26-245,DEN,HOME,DAL,L (-1),1,45:46,15,23,...,9,2,1,1,0,4,47,41.9,20,Danilo Gallinari
1,2015-03-22,26-226,DEN,AWAY,ORL,W (+19),1,33:05,12,21,...,7,4,3,2,1,1,40,37.6,15,Danilo Gallinari
2,2015-02-10,27-099,DEN,AWAY,LAL,W (+10),1,44:52,12,20,...,3,16,2,0,2,3,32,33.3,6,Ty Lawson
3,2015-01-25,27-083,DEN,HOME,WAS,L (-2),1,42:18,10,20,...,3,12,3,0,2,1,31,31.7,2,Ty Lawson
4,2014-11-12,27-009,DEN,HOME,POR,L (-17),1,41:46,11,17,...,3,6,2,0,1,0,32,30.2,-6,Ty Lawson

In [79]:

DEN_2016_gamelog = []

for p in DEN_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2016_gamelog.append(player_log)
DEN_2016_gamelog = pd.concat(DEN_2016_gamelog)    
DEN_2016_gamelogs = DEN_2016_gamelog.copy()
DEN_2016_gamelogs['GAME_SCORE'] = DEN_2016_gamelogs['GAME_SCORE'].astype(float)
DEN_2016_games = DEN_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2016_games_csv = DEN_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2016_games.csv', index=False)
DEN_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2016_games.csv')
DEN_2016_games_proc.head()

You searched for "Darrell Arthur"
3 results found.
0: Darrell Arthur
1: Darrell Hardy
2: Darrell Walker
Pick one: 0
Results for Darrell Arthur:

You searched for "D.J. Augustin"
1 result found.
D.J. Augustin
Results for D.J. Augustin:

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Erick Green"
11 results found.
0: Erick Green
1: Rickey Green
2: Eric Gordon
3: A.C. Green
4: Devin Green
5: Gerald Green
6: Mike Green
7: Si Green
8: Orien Greene
9: Ricky Grace
10: Erik McCree
Pick one: 0
Results for Erick Green:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "J.J. Hickson"
3 results found.
0: J.J. Hickson
1: John Dickson
2: D.J. Wilson
Pick one: 0
Results for J.J. Hickson:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "Sean Kilpatrick"
3 results found.
0: Sean Kilpatrick
1: Carl Kilpatrick
2: Stan Patrick
Pick one: 0
Results for Sean Kilpatrick:

You searched for "Joffrey Lauvergne"
1 result found.
Joffrey Lauvergne
Results for Joffrey Lauvergne:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Jameer Nelson"
2 results found.
0: Jameer Nelson
1: Jasper Wilson
Pick one: 0
Results for Jameer Nelson:

You searched for "Jusuf Nurkić"
1 result found.
Jusuf Nurkic
Results for Jusuf Nurkic:

You searched for "Kostas Papanikolaou"
1 result found.
Kostas Papanikolaou
Results for Kostas Papanikolaou:

You searched for "JaKarr Sampson"
2 results found.
0: JaKarr Sampson
1: Jamal Sampson
Pick one: 0
Results for JaKarr Sampson:

You searched for "Axel Toupane"
1 result found.
Axel Toupane
Results for Axel Toupane:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-02-05,27-181,DEN,HOME,CHI,W (+5),1,34:56,7,12,...,3,2,1,1,1,3,33,29.2,-3,Danilo Gallinari
1,2015-11-17,27-101,DEN,AWAY,NOP,W (+17),1,36:54,12,19,...,8,8,0,0,3,1,32,28.1,27,Danilo Gallinari
2,2016-03-06,26-108,DEN,HOME,DAL,W (+2),1,36:09,11,18,...,20,1,1,1,0,2,25,27.6,17,Kenneth Faried
3,2016-01-23,27-168,DEN,HOME,DET,W (+3),1,38:14,8,15,...,6,2,2,0,1,0,30,25.7,21,Danilo Gallinari
4,2016-01-03,27-148,DEN,HOME,POR,L (-6),1,35:54,8,13,...,5,3,1,1,0,2,29,25.6,3,Danilo Gallinari

In [82]:


DEN_2017_gamelog = []

for p in DEN_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2017_gamelog.append(player_log)
DEN_2017_gamelog = pd.concat(DEN_2017_gamelog)    
DEN_2017_gamelogs = DEN_2017_gamelog.copy()
DEN_2017_gamelogs['GAME_SCORE'] = DEN_2017_gamelogs['GAME_SCORE'].astype(float)
DEN_2017_games = DEN_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2017_games_csv = DEN_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2017_games.csv', index=False)
DEN_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2017_games.csv')
DEN_2017_games_proc.head()

You searched for "Darrell Arthur"
3 results found.
0: Darrell Arthur
1: Darrell Hardy
2: Darrell Walker
Pick one: 0
Results for Darrell Arthur:

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Alonzo Gee"
1 result found.
Alonzo Gee
Results for Alonzo Gee:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Jamal Murray"
3 results found.
0: Jamal Murray
1: Lamond Murray
2: Ronald Murray
Pick one: 0
Results for Jamal Murray:

You searched for "Jameer Nelson"
2 results found.
0: Jameer Nelson
1: Jasper Wilson
Pick one: 0
Results for Jameer Nelson:

You searched for "Jusuf Nurkić"
1 result found.
Jusuf Nurkic
Results for Jusuf Nurkic:

You searched for "Mason Plumlee"
2 results found.
0: Mason Plumlee
1: Miles Plumlee
Pick one: 0
Results for Mason Plumlee:

You searched for "Jarnell Stokes"
1 result found.
Jarnell Stokes
Results for Jarnell Stokes:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-02-10,21-357,DEN,AWAY,NYK,W (+8),1,36:41,17,23,...,9,5,2,0,2,2,40,37.3,19,Nikola Jokić
1,2017-03-09,22-198,POR,HOME,PHI,W (+6),1,37:48,9,18,...,20,8,2,6,3,5,28,33.4,9,Jusuf Nurkić
2,2017-03-28,22-217,POR,HOME,DEN,W (+9),1,32:39,12,15,...,15,2,1,2,3,4,33,32.2,4,Jusuf Nurkić
3,2017-04-12,22-052,DEN,AWAY,OKC,W (+6),1,40:13,9,14,...,16,8,1,5,4,4,29,31.7,9,Nikola Jokić
4,2017-01-19,21-335,DEN,AWAY,SAS,L (-14),1,37:35,14,22,...,12,4,0,2,3,2,35,30.8,-17,Nikola Jokić

In [83]:


DEN_2018_gamelog = []

for p in DEN_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2018_gamelog.append(player_log)
DEN_2018_gamelog = pd.concat(DEN_2018_gamelog)    
DEN_2018_gamelogs = DEN_2018_gamelog.copy()
DEN_2018_gamelogs['GAME_SCORE'] = DEN_2018_gamelogs['GAME_SCORE'].astype(float)
DEN_2018_games = DEN_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2018_games_csv = DEN_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2018_games.csv', index=False)
DEN_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2018_games.csv')
DEN_2018_games_proc.head()

You searched for "Darrell Arthur"
3 results found.
0: Darrell Arthur
1: Darrell Hardy
2: Darrell Walker
Pick one: 0
Results for Darrell Arthur:

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Torrey Craig"
1 result found.
Torrey Craig
Results for Torrey Craig:

You searched for "Kenneth Faried"
2 results found.
0: Kenneth Faried
1: Kenneth Gardner
Pick one: 0
Results for Kenneth Faried:

You searched for "Devin Harris"
8 results found.
0: Devin Harris
1: Jalen Harris
2: Bernie Harris
3: Chris Harris
4: Elias Harris
5: Steve Harris
6: David Harrison
7: Kevin Martin
Pick one: 0
Results for Devin Harris:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "Tyler Lydon"
3 results found.
0: Tyler Lydon
1: Tyler Cook
2: Tyler Herro
Pick one: 0
Results for Tyler Lydon:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Monte Morris"
2 results found.
0: Monte Morris
1: Max Morris
Pick one: 0
Results for Monte Morris:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Jamal Murray"
3 results found.
0: Jamal Murray
1: Lamond Murray
2: Ronald Murray
Pick one: 0
Results for Jamal Murray:

You searched for "Mason Plumlee"
2 results found.
0: Mason Plumlee
1: Miles Plumlee
Pick one: 0
Results for Mason Plumlee:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-11-07,22-261,DEN,HOME,BRK,W (+8),1,31:22,16,25,...,12,5,2,2,1,6,41,37.4,25,Nikola Jokić
1,2018-02-15,22-361,DEN,AWAY,MIL,W (+11),1,33:47,11,14,...,15,17,1,2,8,5,30,35.0,11,Nikola Jokić
2,2018-02-01,22-347,DEN,HOME,OKC,W (+3),1,37:21,11,18,...,13,14,1,2,2,3,29,34.5,5,Nikola Jokić
3,2018-03-07,23-016,DEN,HOME,CLE,L (-5),1,33:30,12,14,...,13,6,0,0,5,2,36,34.5,1,Nikola Jokić
4,2018-01-22,20-333,DEN,HOME,POR,W (+3),1,33:51,14,19,...,5,6,0,0,1,5,38,33.0,7,Jamal Murray

In [84]:


DEN_2019_gamelog = []

for p in DEN_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2019_gamelog.append(player_log)
DEN_2019_gamelog = pd.concat(DEN_2019_gamelog)    
DEN_2019_gamelogs = DEN_2019_gamelog.copy()
DEN_2019_gamelogs['GAME_SCORE'] = DEN_2019_gamelogs['GAME_SCORE'].astype(float)
DEN_2019_games = DEN_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2019_games_csv = DEN_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2019_games.csv', index=False)
DEN_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2019_games.csv')
DEN_2019_games_proc.head()

You searched for "DeVaughn Akoon-Purcell"
1 result found.
DeVaughn Akoon-Purcell
Results for DeVaughn Akoon-Purcell:

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Torrey Craig"
1 result found.
Torrey Craig
Results for Torrey Craig:

You searched for "Brandon Goodwin"
1 result found.
Brandon Goodwin
Results for Brandon Goodwin:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "Tyler Lydon"
3 results found.
0: Tyler Lydon
1: Tyler Cook
2: Tyler Herro
Pick one: 0
Results for Tyler Lydon:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Monte Morris"
2 results found.
0: Monte Morris
1: Max Morris
Pick one: 0
Results for Monte Morris:

You searched for "Jamal Murray"
3 results found.
0: Jamal Murray
1: Lamond Murray
2: Ronald Murray
Pick one: 0
Results for Jamal Murray:

You searched for "Mason Plumlee"
2 results found.
0: Mason Plumlee
1: Miles Plumlee
Pick one: 0
Results for Mason Plumlee:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "Jarred Vanderbilt"
1 result found.
Jarred Vanderbilt
Results for Jarred Vanderbilt:

You searched for "Thomas Welsh"
1 result found.
Thomas Welsh
Results for Thomas Welsh:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-10-20,23-243,DEN,HOME,PHO,W (+28),1,30:43,11,11,...,11,11,4,1,0,3,35,45.8,29,Nikola Jokić
1,2018-12-29,21-309,DEN,AWAY,PHO,W (+4),1,39:35,16,24,...,6,8,0,1,5,2,46,37.5,6,Jamal Murray
2,2019-01-05,23-320,DEN,HOME,CHO,W (+13),1,34:16,16,29,...,12,6,3,1,2,1,39,37.0,8,Nikola Jokić
3,2019-01-26,23-341,DEN,HOME,PHI,W (+16),1,33:44,12,22,...,18,10,1,0,1,1,32,35.4,16,Nikola Jokić
4,2019-02-01,23-347,DEN,HOME,HOU,W (+14),1,31:26,12,15,...,13,9,1,0,2,4,31,34.5,14,Nikola Jokić

In [87]:
# removed michael porter

DEN_2020_gamelog = []

for p in DEN_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2020_gamelog.append(player_log)
DEN_2020_gamelog = pd.concat(DEN_2020_gamelog)    
DEN_2020_gamelogs = DEN_2020_gamelog.copy()
DEN_2020_gamelogs['GAME_SCORE'] = DEN_2020_gamelogs['GAME_SCORE'].astype(float)
DEN_2020_games = DEN_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2020_games_csv = DEN_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2020_games.csv', index=False)
DEN_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2020_games.csv')
DEN_2020_games_proc.head()

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Keita Bates-Diop"
1 result found.
Keita Bates-Diop
Results for Keita Bates-Diop:

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Bol Bol"
11 results found.
0: Bol Bol
1: Bob Doll
2: Bob Brown
3: Bob Ford
4: Tom Gola
5: Bob Love
6: Don Ohl
7: Lou Roe
8: Bob Rule
9: Joe Wolf
10: Bob Wood
Pick one: 0
Results for Bol Bol:

You searched for "Vlatko Čančar"
1 result found.
Vlatko Cancar
Results for Vlatko Cancar:

You searched for "Tyler Cook"
8 results found.
0: Tyler Cook
1: Tyler Bey
2: Bert Cook
3: Omar Cook
4: Tyler Lydon
5: Tyler Ulis
6: Joe Cooke
7: Tyler Herro
Pick one: 0
Results for Tyler Cook:

You searched for "Torrey Craig"
1 result found.
Torrey Craig
Results for Torrey Craig:

You searched for "Troy Daniels"
4 results found.
0: Troy Daniels
1: Erik Daniels
2: Lloyd Daniels
3: Mel Daniels
Pick one: 0
Results for Troy Daniels:

You searched for "PJ Dozier"
1 result found.
PJ Dozier
Results for PJ Dozier:

You searched for "Jerami Grant"
4 results found.
0: Jerami Grant
1: Jerian Grant
2: Horace Grant
3: Travis Grant
Pick one: 0
Results for Jerami Grant:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "Jordan McRae"
9 results found.
0: Jordan McRae
1: Jordan Nwora
2: Jordan Ford
3: Jordan Bone
4: Jordan Farmar
5: Jordan Mickey
6: Jordan Poole
7: Jordan Adams
8: Jordan Bell
Pick one: 0
Results for Jordan McRae:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Monte Morris"
2 results found.
0: Monte Morris
1: Max Morris
Pick one: 0
Results for Monte Morris:

You searched for "Jamal Murray"
3 results found.
0: Jamal Murray
1: Lamond Murray
2: Ronald Murray
Pick one: 0
Results for Jamal Murray:

You searched for "Mason Plumlee"
2 results found.
0: Mason Plumlee
1: Miles Plumlee
Pick one: 0
Results for Mason Plumlee:

You searched for "Jarred Vanderbilt"
1 result found.
Jarred Vanderbilt
Results for Jarred Vanderbilt:

You searched for "Noah Vonleh"
1 result found.
Noah Vonleh
Results for Noah Vonleh:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-06,24-321,DEN,AWAY,ATL,W (+8),1,36:50,16,25,...,8,5,2,1,0,3,47,42.9,0,Nikola Jokić
1,2020-02-02,24-348,DEN,AWAY,DET,L (-5),1,39:45,16,23,...,10,11,3,2,2,4,39,40.4,13,Nikola Jokić
2,2019-11-17,22-267,DEN,AWAY,MEM,W (+17),1,31:13,14,24,...,4,8,3,1,0,1,39,37.9,23,Jamal Murray
3,2020-02-05,24-351,DEN,AWAY,UTA,W (+3),1,39:46,14,24,...,21,10,2,0,1,2,30,33.9,10,Nikola Jokić
4,2020-01-04,22-315,DEN,AWAY,WAS,L (-14),1,34:32,13,19,...,1,4,2,1,2,2,39,33.9,1,Jamal Murray

In [90]:
# removed michael porter
# removed greg whittington
DEN_2021_gamelog = []

for p in DEN_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    DEN_2021_gamelog.append(player_log)
DEN_2021_gamelog = pd.concat(DEN_2021_gamelog)    
DEN_2021_gamelogs = DEN_2021_gamelog.copy()
DEN_2021_gamelogs['GAME_SCORE'] = DEN_2021_gamelogs['GAME_SCORE'].astype(float)
DEN_2021_games = DEN_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_2021_games_csv = DEN_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2021_games.csv', index=False)
DEN_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2021_games.csv')
DEN_2021_games_proc.head()

You searched for "Will Barton"
8 results found.
0: Will Barton
1: Willie Burton
2: Bill Martin
3: Bill Walton
4: Earl Barron
5: Bill Buntin
6: Bill Newton
7: Will Bynum
Pick one: 0
Results for Will Barton:

You searched for "Bol Bol"
11 results found.
0: Bol Bol
1: Bob Doll
2: Bob Brown
3: Bob Ford
4: Tom Gola
5: Bob Love
6: Don Ohl
7: Lou Roe
8: Bob Rule
9: Joe Wolf
10: Bob Wood
Pick one: 0
Results for Bol Bol:

You searched for "Facundo Campazzo"
1 result found.
Facundo Campazzo
Results for Facundo Campazzo:

You searched for "Vlatko Čančar"
1 result found.
Vlatko Cancar
Results for Vlatko Cancar:

You searched for "Gary Clark"
15 results found.
0: Gary Clark
1: Earl Clark
2: Ian Clark
3: Gary Alcorn
4: Cory Carr
5: Carlos Clark
6: Keon Clark
7: Coty Clarke
8: Gary Grant
9: Gary Gray
10: Gar Heard
11: Gary Neal
12: Jay Carty
13: Gary Keller
14: Gary Zeller
Pick one: 0
Results for Gary Clark:

You searched for "PJ Dozier"
1 result found.
PJ Dozier
Results for PJ Dozier:

You searched for "Aaron Gordon"
6 results found.
0: Aaron Gordon
1: Ben Gordon
2: Drew Gordon
3: Eric Gordon
4: Paul Gordon
5: Aaron Gray
Pick one: 0
Results for Aaron Gordon:

You searched for "JaMychal Green"
1 result found.
JaMychal Green
Results for JaMychal Green:

You searched for "R.J. Hampton"
3 results found.
0: R.J. Hampton
1: P.J. Hairston
2: A.J. Hammons
Pick one: 0
Results for R.J. Hampton:

You searched for "Gary Harris"
14 results found.
0: Gary Harris
1: Art Harris
2: Manny Harris
3: Tony Harris
4: Jalen Harris
5: Art Burris
6: Gary Forbes
7: Billy Harris
8: Bob Harris
9: Chris Harris
10: Joe Harris
11: Mike Harris
12: Gary Hill
13: Gary Turner
Pick one: 0
Results for Gary Harris:

You searched for "Shaquille Harrison"
1 result found.
Shaquille Harrison
Results for Shaquille Harrison:

You searched for "Isaiah Hartenstein"
1 result found.
Isaiah Hartenstein
Results for Isaiah Hartenstein:

You searched for "Markus Howard"
1 result found.
Markus Howard
Results for Markus Howard:

You searched for "Nikola Jokić"
3 results found.
0: Nikola Jokic
1: Nikola Mirotic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Jokic:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Monte Morris"
2 results found.
0: Monte Morris
1: Max Morris
Pick one: 0
Results for Monte Morris:

You searched for "Jamal Murray"
3 results found.
0: Jamal Murray
1: Lamond Murray
2: Ronald Murray
Pick one: 0
Results for Jamal Murray:

You searched for "Zeke Nnaji"
1 result found.
Zeke Nnaji
Results for Zeke Nnaji:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-06,25-353,DEN,AWAY,SAC,L (-5),1,41:24,20,33,...,8,12,1,3,1,2,50,47.4,2,Nikola Jokić
1,2021-02-19,23-362,DEN,AWAY,CLE,W (+17),1,38:15,21,25,...,6,2,2,0,1,4,50,43.5,24,Jamal Murray
2,2021-01-31,25-347,DEN,HOME,UTA,W (+11),1,37:20,17,26,...,12,5,2,1,3,2,47,42.4,14,Nikola Jokić
3,2021-03-02,26-011,DEN,AWAY,MIL,W (+31),1,36:24,15,23,...,10,11,2,0,2,1,37,38.8,18,Nikola Jokić
4,2021-02-16,25-363,DEN,AWAY,BOS,L (-13),1,37:33,16,23,...,6,5,2,1,3,3,43,38.3,2,Nikola Jokić

## combine all seasons

In [91]:
DEN_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2000_games.csv')
DEN_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2001_games.csv')
DEN_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2002_games.csv')
DEN_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2003_games.csv')
DEN_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2004_games.csv')
DEN_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2005_games.csv')
DEN_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2006_games.csv')
DEN_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2007_games.csv')
DEN_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2008_games.csv')
DEN_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2009_games.csv')
DEN_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2010_games.csv')
DEN_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2011_games.csv')
DEN_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2012_games.csv')
DEN_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2013_games.csv')
DEN_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2014_games.csv')
DEN_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2015_games.csv')
DEN_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2016_games.csv')
DEN_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2017_games.csv')
DEN_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2018_games.csv')
DEN_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2019_games.csv')
DEN_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2020_games.csv')
DEN_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_2021_games.csv')

In [92]:
DEN_season_dfs = [DEN_2000_games_io, DEN_2001_games_io, DEN_2002_games_io, DEN_2003_games_io, DEN_2004_games_io, DEN_2005_games_io,
                 DEN_2006_games_io, DEN_2007_games_io, DEN_2008_games_io, DEN_2009_games_io, DEN_2010_games_io, DEN_2011_games_io,
                 DEN_2012_games_io, DEN_2013_games_io, DEN_2014_games_io, DEN_2015_games_io, DEN_2016_games_io, DEN_2017_games_io,
                 DEN_2018_games_io, DEN_2019_games_io, DEN_2020_games_io, DEN_2021_games_io]

In [93]:
DEN_all = pd.concat(DEN_season_dfs)
DEN_all_sorted = DEN_all.sort_values(by=['GAME_SCORE'], ascending=False)
DEN_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-06,25-353,DEN,AWAY,SAC,L (-5),1,41:24,20,33,...,8,12,1,3,1,2,50,47.4,2,Nikola Jokić
0,2018-10-20,23-243,DEN,HOME,PHO,W (+28),1,30:43,11,11,...,11,11,4,1,0,3,35,45.8,29,Nikola Jokić
0,2007-03-17,31-283,DEN,HOME,PHO,W (+24),1,42:38,16,22,...,5,15,0,1,1,2,44,45.1,31,Allen Iverson
1,2021-02-19,23-362,DEN,AWAY,CLE,W (+17),1,38:15,21,25,...,6,2,2,0,1,4,50,43.5,24,Jamal Murray
0,2020-01-06,24-321,DEN,AWAY,ATL,W (+8),1,36:50,16,25,...,8,5,2,1,0,3,47,42.9,0,Nikola Jokić
0,2008-04-05,23-312,DEN,HOME,SAC,L (-3),1,38:02,19,24,...,11,2,3,0,3,5,47,42.5,-6,Carmelo Anthony
2,2021-01-31,25-347,DEN,HOME,UTA,W (+11),1,37:20,17,26,...,12,5,2,1,3,2,47,42.4,14,Nikola Jokić
1,2008-02-08,23-255,DEN,HOME,WAS,W (+11),1,39:13,19,25,...,4,2,2,0,1,2,49,41.9,14,Carmelo Anthony
0,2015-04-10,26-245,DEN,HOME,DAL,L (-1),1,45:46,15,23,...,9,2,1,1,0,4,47,41.9,20,Danilo Gallinari
0,2014-04-11,28-037,MIN,HOME,HOU,W (+2),1,44:53,19,30,...,2,1,6,1,2,4,51,40.8,5,Corey Brewer
0,2011-02-07,26-254,DEN,HOME,HOU,L (-5),1,39:28,16,24,...,11,0,1,3,4,2,50,40.8,-3,Carmelo Anthony
1,2020-02-02,24-348,DEN,AWAY,DET,L (-5),1,39:45,16,23,...,10,11,3,2,2,4,39,40.4,13,Nikola Jokić
0,2005-12-13,21-198,DEN,AWAY,CHA,W (+16),1,40:24,13,18,...,8,4,4,2,4,4,42,39.2,19,Carmelo Anthony
1,2006-11-24,31-170,PHI,HOME,CHI,W (+15),1,44:38,15,30,...,5,10,2,1,2,2,46,39.0,12,Allen Iverson
3,2021-03-02,26-011,DEN,AWAY,MIL,W (+31),1,36:24,15,23,...,10,11,2,0,2,1,37,38.8,18,Nikola Jokić
0,2000-04-18,23-325,DEN,HOME,UTA,W (+1),1,40:10,11,18,...,17,4,3,6,1,2,32,38.7,13,Raef LaFrentz
2,2007-12-05,32-181,DEN,HOME,LAL,L (-4),1,48:00,18,27,...,2,8,1,0,5,4,51,38.7,-4,Allen Iverson
0,2009-11-27,25-182,DEN,HOME,NYK,W (+3),1,46:01,17,28,...,6,5,0,0,3,5,50,38.3,3,Carmelo Anthony
5,2021-04-19,26-059,DEN,HOME,MEM,W (+2),1,45:04,20,31,...,15,8,0,1,7,3,47,38.3,3,Nikola Jokić
4,2021-02-16,25-363,DEN,AWAY,BOS,L (-13),1,37:33,16,23,...,6,5,2,1,3,3,43,38.3,2,Nikola Jokić
2,2019-11-17,22-267,DEN,AWAY,MEM,W (+17),1,31:13,14,24,...,4,8,3,1,0,1,39,37.9,23,Jamal Murray
0,2000-11-30,26-084,DEN,HOME,HOU,L (-4),1,49:35,15,28,...,20,3,1,4,3,1,40,37.7,-2,Antonio McDyess
1,2015-03-22,26-226,DEN,AWAY,ORL,W (+19),1,33:05,12,21,...,7,4,3,2,1,1,40,37.6,15,Danilo Gallinari
1,2018-12-29,21-309,DEN,AWAY,PHO,W (+4),1,39:35,16,24,...,6,8,0,1,5,2,46,37.5,6,Jamal Murray
0,2017-11-07,22-261,DEN,HOME,BRK,W (+8),1,31:22,16,25,...,12,5,2,2,1,6,41,37.4,25,Nikola Jokić