In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_IND = []

# IND
while season <= 2021:
    df_IND = get_roster('IND', season)
    df_IND['Season'] = season
    df_IND['Team'] = 'IND'
    appended_data_IND.append(df_IND)
    season = season + 1
appended_data_IND = pd.concat(appended_data_IND)

In [4]:
IND_df_all = appended_data_IND.copy()
IND_df_all_csv = IND_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_players_all.csv', index=False)
IND_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_players_all.csv')
IND_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,24,Jonathan Bender,SF,6-11,202,1981-01-30,US,R,NaN,2000,IND
1,4,Travis Best,PG,5-11,182,1972-07-12,US,4,Georgia Tech,2000,IND
2,44,Austin Croshere,PF,6-9,235,1975-05-01,US,2,Providence,2000,IND
3,32,Dale Davis,C,6-11,230,1969-03-25,US,8,Clemson,2000,IND
4,10,Jeff Foster,C,6-11,236,1977-01-16,US,R,Texas State University,2000,IND

In [20]:
IND_df_2000 = IND_df_all[IND_df_all['Season'] == 2000]
IND_df_2001 = IND_df_all[IND_df_all['Season'] == 2001]
IND_df_2002 = IND_df_all[IND_df_all['Season'] == 2002]
IND_df_2003 = IND_df_all[IND_df_all['Season'] == 2003]
IND_df_2004 = IND_df_all[IND_df_all['Season'] == 2004]
IND_df_2005 = IND_df_all[IND_df_all['Season'] == 2005]
IND_df_2006 = IND_df_all[IND_df_all['Season'] == 2006]
IND_df_2007 = IND_df_all[IND_df_all['Season'] == 2007]
IND_df_2008 = IND_df_all[IND_df_all['Season'] == 2008]
IND_df_2009 = IND_df_all[IND_df_all['Season'] == 2009]
IND_df_2010 = IND_df_all[IND_df_all['Season'] == 2010]
IND_df_2011 = IND_df_all[IND_df_all['Season'] == 2011]
IND_df_2012 = IND_df_all[IND_df_all['Season'] == 2012]
IND_df_2013 = IND_df_all[IND_df_all['Season'] == 2013]
IND_df_2014 = IND_df_all[IND_df_all['Season'] == 2014]
IND_df_2015 = IND_df_all[IND_df_all['Season'] == 2015]
IND_df_2016 = IND_df_all[IND_df_all['Season'] == 2016]
IND_df_2017 = IND_df_all[IND_df_all['Season'] == 2017]
IND_df_2018 = IND_df_all[IND_df_all['Season'] == 2018]
IND_df_2019 = IND_df_all[IND_df_all['Season'] == 2019]
IND_df_2020 = IND_df_all[IND_df_all['Season'] == 2020]
IND_df_2021 = IND_df_all[IND_df_all['Season'] == 2021]

In [21]:
IND_df_2001.head(12)
IND_df_2001 = IND_df_2001.replace("Jermaine O'Neal", "Jermaine O'Neal")

In [22]:
# changing names
#IND_df_2002.loc[IND_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#IND_df_2004.loc[IND_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [23]:
IND_df_2000_players = IND_df_2000['PLAYER'].to_list()
IND_df_2001_players = IND_df_2001['PLAYER'].to_list()
IND_df_2002_players = IND_df_2002['PLAYER'].to_list()
IND_df_2003_players = IND_df_2003['PLAYER'].to_list()
IND_df_2004_players = IND_df_2004['PLAYER'].to_list()
IND_df_2005_players = IND_df_2005['PLAYER'].to_list()

IND_df_2006_players = IND_df_2006['PLAYER'].to_list()
IND_df_2007_players = IND_df_2007['PLAYER'].to_list()
IND_df_2008_players = IND_df_2008['PLAYER'].to_list()
IND_df_2009_players = IND_df_2009['PLAYER'].to_list()
IND_df_2010_players = IND_df_2010['PLAYER'].to_list()
IND_df_2011_players = IND_df_2011['PLAYER'].to_list()

IND_df_2012_players = IND_df_2012['PLAYER'].to_list()
IND_df_2013_players = IND_df_2013['PLAYER'].to_list()
IND_df_2014_players = IND_df_2014['PLAYER'].to_list()
IND_df_2015_players = IND_df_2015['PLAYER'].to_list()
IND_df_2016_players = IND_df_2016['PLAYER'].to_list()
IND_df_2017_players = IND_df_2017['PLAYER'].to_list()

IND_df_2018_players = IND_df_2018['PLAYER'].to_list()
IND_df_2019_players = IND_df_2019['PLAYER'].to_list()
IND_df_2020_players = IND_df_2020['PLAYER'].to_list()
IND_df_2021_players = IND_df_2021['PLAYER'].to_list()

## players to drop

In [66]:
# drop Jermaine O'Neal 2001-2008
# create new df for Jermaine O'Neal
#IND_df_2001_players.remove("Jermaine O'Neal")
#IND_df_2002_players.remove("Jermaine O'Neal")
#IND_df_2003_players.remove("Jermaine O'Neal")
#IND_df_2004_players.remove("Jermaine O'Neal")
#IND_df_2005_players.remove("Jermaine O'Neal")
#IND_df_2006_players.remove("Jermaine O'Neal")
#IND_df_2007_players.remove("Jermaine O'Neal")
#IND_df_2008_players.remove("Jermaine O'Neal")

#IND_df_2002_players.remove("Metta World Peace")
#IND_df_2003_players.remove("Metta World Peace")
#IND_df_2004_players.remove("Metta World Peace")
#IND_df_2005_players.remove("Metta World Peace")
#IND_df_2006_players.remove("Metta World Peace")

#IND_df_2007_players.remove("Mike Dunleavy")
#IND_df_2008_players.remove("Mike Dunleavy")
#IND_df_2009_players.remove("Mike Dunleavy")
#IND_df_2010_players.remove("Mike Dunleavy")
#IND_df_2011_players.remove("Mike Dunleavy")

#IND_df_2012_players.remove("Jeff Ayres")
#IND_df_2013_players.remove("Jeff Ayres")

#IND_df_2016_players.remove("Glenn Robinson")
#IND_df_2017_players.remove("Glenn Robinson")
#IND_df_2018_players.remove("Glenn Robinson")

#IND_df_2019_players.remove("Kyle O'Quinn")

IND_df_2021_players.remove("Amida Brimah")

In [26]:

IND_2000_gamelog = []



for p in IND_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2000_gamelog.append(player_log)
IND_2000_gamelog = pd.concat(IND_2000_gamelog)    
IND_2000_gamelogs = IND_2000_gamelog.copy()
IND_2000_gamelogs['GAME_SCORE'] = IND_2000_gamelogs['GAME_SCORE'].astype(float)
IND_2000_games = IND_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2000_games_csv = IND_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2000_games.csv', index=False)
IND_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2000_games.csv')
IND_2000_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Travis Best"
6 results found.
0: Travis Best
1: Travis Wear
2: Travis Grant
3: Travis Leslie
4: Travis Mays
5: David West
Pick one: 0
Results for Travis Best:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Dale Davis"
29 results found.
0: Dale Davis
1: Walt Davis
2: Bill Davis
3: Glen Davis
4: Lee Davis
5: Mark Davis
6: Mark Davis
7: Mel Davis
8: Mike Davis
9: Mike Davis
10: Paul Davis
11: Ralph Davis
12: Tyler Davis
13: Walter Davis
14: Dale Ellis
15: Baron Davis
16: Ben Davis
17: Bob Davis
18: Brad Davis
19: Charles Davis
20: Charlie Davis
21: Ed Davis
22: Harry Davis
23: Jim Davis
24: Josh Davis
25: Red Davis
26: Ron Davis
27: Warren Davis
28: Willie Davis
Pick one: 0
Results for Dale Davis:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Mark Jackson"
25 results found.
0: Mark Jackson
1: Marc Jackson
2: Aaron Jackson
3: Al Jackson
4: Frank Jackson
5: Jaren Jackson
6: Jaren Jackson
7: Mike Jackson
8: Myron Jackson
9: Mark Macon
10: Mark Eaton
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Madsen
23: Mark Jones
24: Mark Jones
Pick one: 0
Results for Mark Jackson:

You searched for "Derrick McKey"
5 results found.
0: Derrick McKey
1: Derrek Dickey
2: Derrick Jones
3: Derrick Rose
4: Derrick White
Pick one: 0
Results for Derrick McKey:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Chris Mullin"
10 results found.
0: Chris Mullin
1: Chris Mills
2: Chris Dudley
3: Chris Duhon
4: Chris Gatling
5: Chris Morris
6: Chris Munk
7: Chris Quinn
8: Chris King
9: Chris Mihm
Pick one: 0
Results for Chris Mullin:

You searched for "Sam Perkins"
3 results found.
0: Sam Perkins
1: Sam Merrill
2: Jim Eakins
Pick one: 0
Results for Sam Perkins:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Rik Smits"
23 results found.
0: Rik Smits
1: Jim Smith
2: Mike Smith
3: Al Smith
4: Bill Smith
5: Chris Smith
6: Chris Smith
7: Craig Smith
8: Deb Smith
9: Derek Smith
10: Don Smith
11: Don Smith
12: Ed Smith
13: Greg Smith
14: Greg Smith
15: Ish Smith
16: Joe Smith
17: Ken Smith
18: Otis Smith
19: Phil Smith
20: Russ Smith
21: Sam Smith
22: Sam Smith
Pick one: 0
Results for Rik Smits:

You searched for "Žan Tabak"
2 results found.
0: Zan Tabak
1: Ivan Rabb
Pick one: 0
Results for Zan Tabak:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-15,27-045,IND,AWAY,ATL,W (+6),1,43:31,10,17,...,4,7,1,1,2,3,32,27.9,7,Jalen Rose
1,2000-03-17,27-047,IND,HOME,HOU,W (+9),1,44:54,14,24,...,6,4,2,0,2,3,35,27.6,11,Jalen Rose
2,2000-02-26,27-027,IND,HOME,GSW,W (+16),1,36:52,11,19,...,6,3,3,1,0,2,29,27.3,21,Jalen Rose
3,1999-12-03,34-101,IND,AWAY,UTA,W (+25),1,36:56,10,19,...,4,4,3,0,1,2,31,26.9,19,Reggie Miller
4,2000-03-21,27-051,IND,HOME,NYK,W (+4),1,44:07,10,18,...,7,5,3,2,1,3,28,26.4,13,Jalen Rose

In [27]:
# removed jermaine o'neal
IND_2001_gamelog = []


for p in IND_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2001_gamelog.append(player_log)
IND_2001_gamelog = pd.concat(IND_2001_gamelog)    
IND_2001_gamelogs = IND_2001_gamelog.copy()
IND_2001_gamelogs['GAME_SCORE'] = IND_2001_gamelogs['GAME_SCORE'].astype(float)
IND_2001_games = IND_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2001_games_csv = IND_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2001_games.csv', index=False)
IND_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2001_games.csv')
IND_2001_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Travis Best"
6 results found.
0: Travis Best
1: Travis Wear
2: Travis Grant
3: Travis Leslie
4: Travis Mays
5: David West
Pick one: 0
Results for Travis Best:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Tyus Edney"
2 results found.
0: Tyus Edney
1: Tyus Jones
Pick one: 0
Results for Tyus Edney:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Lari Ketner"
3 results found.
0: Lari Ketner
1: Gary Keller
2: Larry Kenon
Pick one: 0
Results for Lari Ketner:

You searched for "Derrick McKey"
5 results found.
0: Derrick McKey
1: Derrek Dickey
2: Derrick Jones
3: Derrick Rose
4: Derrick White
Pick one: 0
Results for Derrick McKey:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Terry Mills"
12 results found.
0: Terry Mills
1: Terry Davis
2: Harry Giles
3: Jerry Kelly
4: Harry Miller
5: Larry Miller
6: Chris Mills
7: Patty Mills
8: Perry Moss
9: Jerry Rullo
10: Terry Tyler
11: Jerry Smith
Pick one: 0
Results for Terry Mills:

You searched for "Sam Perkins"
3 results found.
0: Sam Perkins
1: Sam Merrill
2: Jim Eakins
Pick one: 0
Results for Sam Perkins:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Bruno Šundov"
1 result found.
Bruno Sundov
Results for Bruno Sundov:

You searched for "Žan Tabak"
2 results found.
0: Zan Tabak
1: Ivan Rabb
Pick one: 0
Results for Zan Tabak:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-11-08,35-076,IND,HOME,MIL,W (+11),1,42:19,13,21,...,2,5,0,1,1,1,41,34.9,19,Reggie Miller
1,2001-03-27,28-056,IND,AWAY,WAS,W (+8),1,41:21,14,20,...,0,12,2,1,5,3,35,31.1,9,Jalen Rose
2,2000-12-09,27-314,IND,HOME,CHH,W (+3),1,45:25,14,21,...,6,8,4,1,6,4,36,30.6,0,Jalen Rose
3,2000-12-20,27-325,IND,HOME,TOR,L (-1),1,52:56,17,29,...,6,4,0,0,1,4,42,30.5,1,Jalen Rose
4,2000-12-22,27-327,IND,HOME,UTA,L (-8),1,41:52,10,18,...,2,6,1,0,2,3,36,30.0,-11,Jalen Rose

In [30]:
# removed jermaine o'neal
# removed metta world peace
IND_2002_gamelog = []


for p in IND_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2002_gamelog.append(player_log)
IND_2002_gamelog = pd.concat(IND_2002_gamelog)    
IND_2002_gamelogs = IND_2002_gamelog.copy()
IND_2002_gamelogs['GAME_SCORE'] = IND_2002_gamelogs['GAME_SCORE'].astype(float)
IND_2002_games = IND_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2002_games_csv = IND_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2002_games.csv', index=False)
IND_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2002_games.csv')
IND_2002_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Travis Best"
6 results found.
0: Travis Best
1: Travis Wear
2: Travis Grant
3: Travis Leslie
4: Travis Mays
5: David West
Pick one: 0
Results for Travis Best:

You searched for "Jamison Brewer"
1 result found.
Jamison Brewer
Results for Jamison Brewer:

You searched for "Primož Brezec"
1 result found.
Primoz Brezec
Results for Primoz Brezec:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Kevin Ollie"
8 results found.
0: Kevin Ollie
1: Kevin Love
2: Kevin Willis
3: Kevin Joyce
4: Kevin Loder
5: Kevin O'Shea
6: Kevin Jones
7: Kelvin Cato
Pick one: 0
Results for Kevin Ollie:

You searched for "Norm Richardson"
4 results found.
0: Norm Richardson
1: Josh Richardson
2: Pooh Richardson
3: Jeremy Richardson
Pick one: 0
Results for Norm Richardson:

You searched for "Carlos Rogers"
6 results found.
0: Carlos Rogers
1: Carlos Boozer
2: Harry Rogers
3: Roy Rogers
4: Carlos Terry
5: Carlos Arroyo
Pick one: 0
Results for Carlos Rogers:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Bruno Šundov"
1 result found.
Bruno Sundov
Results for Bruno Sundov:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-03-16,29-045,CHI,AWAY,HOU,W (+2),1,56:16,18,34,...,11,6,2,1,1,1,44,37.0,-1,Jalen Rose
1,2002-01-11,28-346,IND,HOME,CHI,W (+7),1,41:53,13,21,...,4,2,3,0,0,2,38,33.3,7,Jalen Rose
2,2001-10-30,28-273,IND,AWAY,NJN,L (-6),1,43:38,18,27,...,6,3,1,0,3,3,43,32.0,8,Jalen Rose
3,2002-03-11,29-040,CHI,HOME,SAC,L (-4),1,42:21,13,22,...,1,13,1,1,4,4,35,30.3,-5,Jalen Rose
4,2002-01-26,25-289,CHI,HOME,MEM,W (+3),1,35:13,10,16,...,12,1,0,0,2,4,32,28.3,3,Brad Miller

In [31]:
# removed jermaine o'neal
# removed metta world peace
IND_2003_gamelog = []



for p in IND_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2003_gamelog.append(player_log)
IND_2003_gamelog = pd.concat(IND_2003_gamelog)    
IND_2003_gamelogs = IND_2003_gamelog.copy()
IND_2003_gamelogs['GAME_SCORE'] = IND_2003_gamelogs['GAME_SCORE'].astype(float)
IND_2003_games = IND_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2003_games_csv = IND_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2003_games.csv', index=False)
IND_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2003_games.csv')
IND_2003_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Jamison Brewer"
1 result found.
Jamison Brewer
Results for Jamison Brewer:

You searched for "Primož Brezec"
1 result found.
Primoz Brezec
Results for Primoz Brezec:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 0
Results for Tim Hardaway:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Erick Strickland"
3 results found.
0: Erick Strickland
1: Mark Strickland
2: Rod Strickland
Pick one: 0
Results for Erick Strickland:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-12-23,22-309,IND,HOME,ATL,W (+15),1,44:14,15,25,...,9,1,2,0,3,3,40,31.3,14,Al Harrington
1,2003-02-28,26-322,IND,HOME,MIL,W (+9),1,33:13,9,14,...,12,1,4,0,0,3,29,31.1,15,Brad Miller
2,2002-12-21,26-253,IND,AWAY,CHI,L (-7),1,44:04,10,14,...,13,3,1,1,1,1,26,27.3,-7,Brad Miller
3,2002-11-05,26-207,IND,AWAY,MIA,W (+4),1,40:16,6,8,...,8,2,3,1,4,3,28,26.7,10,Brad Miller
4,2002-11-02,26-204,IND,HOME,MIN,W (+7),1,37:54,5,14,...,16,5,0,4,1,2,22,25.9,6,Brad Miller

In [32]:
# removed jermaine o'neal
# removed metta world peace

IND_2004_gamelog = []



for p in IND_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2004_gamelog.append(player_log)
IND_2004_gamelog = pd.concat(IND_2004_gamelog)    
IND_2004_gamelogs = IND_2004_gamelog.copy()
IND_2004_gamelogs['GAME_SCORE'] = IND_2004_gamelogs['GAME_SCORE'].astype(float)
IND_2004_games = IND_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2004_games_csv = IND_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2004_games.csv', index=False)
IND_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2004_games.csv')
IND_2004_games_proc.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Jamison Brewer"
1 result found.
Jamison Brewer
Results for Jamison Brewer:

You searched for "Primož Brezec"
1 result found.
Primoz Brezec
Results for Primoz Brezec:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Scot Pollard"
2 results found.
0: Scot Pollard
1: Jim Pollard
Pick one: 0
Results for Scot Pollard:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-11-15,38-083,IND,AWAY,NYK,W (+1),1,35:03,10,12,...,5,3,1,0,0,2,31,30.0,10,Reggie Miller
1,2004-01-16,38-145,IND,HOME,SAS,W (+10),1,32:02,10,15,...,5,5,3,1,2,2,28,27.0,11,Reggie Miller
2,2003-11-14,26-302,IND,HOME,SEA,W (+23),1,25:08,6,10,...,12,3,2,0,0,0,19,24.9,18,Jeff Foster
3,2004-03-07,29-157,IND,AWAY,DEN,W (+9),1,33:53,8,9,...,4,7,1,0,1,2,21,22.4,14,Anthony Johnson
4,2004-03-02,38-191,IND,AWAY,GSW,W (+8),1,31:30,6,11,...,3,5,1,0,0,1,21,20.7,17,Reggie Miller

In [33]:
# removed jermaine o'neal
# removed metta world peace

IND_2005_gamelog = []

for p in IND_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2005_gamelog.append(player_log)
IND_2005_gamelog = pd.concat(IND_2005_gamelog)    
IND_2005_gamelogs = IND_2005_gamelog.copy()
IND_2005_gamelogs['GAME_SCORE'] = IND_2005_gamelogs['GAME_SCORE'].astype(float)
IND_2005_games = IND_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2005_games_csv = IND_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2005_games.csv', index=False)
IND_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2005_games.csv')
IND_2005_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Michael Curry"
7 results found.
0: Michael Curry
1: Michael Cage
2: Michael Wiley
3: Michael Cooper
4: Michael Porter
5: Michael Redd
6: Michael Young
Pick one: 0
Results for Michael Curry:

You searched for "Dale Davis"
29 results found.
0: Dale Davis
1: Walt Davis
2: Bill Davis
3: Glen Davis
4: Lee Davis
5: Mark Davis
6: Mark Davis
7: Mel Davis
8: Mike Davis
9: Mike Davis
10: Paul Davis
11: Ralph Davis
12: Tyler Davis
13: Walter Davis
14: Dale Ellis
15: Baron Davis
16: Ben Davis
17: Bob Davis
18: Brad Davis
19: Charles Davis
20: Charlie Davis
21: Ed Davis
22: Harry Davis
23: Jim Davis
24: Josh Davis
25: Red Davis
26: Ron Davis
27: Warren Davis
28: Willie Davis
Pick one: 0
Results for Dale Davis:

You searched for "John Edwards"
10 results found.
0: John Edwards
1: Doug Edwards
2: Jay Edwards
3: Bill Edwards
4: Blue Edwards
5: James Edwards
6: Kevin Edwards
7: Shane Edwards
8: John Starks
9: John Warren
Pick one: 0
Results for John Edwards:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Tremaine Fowlkes"
1 result found.
Tremaine Fowlkes
Results for Tremaine Fowlkes:

You searched for "Eddie Gill"
4 results found.
0: Eddie Gill
1: Eddie Miles
2: Eddie Miller
3: Eddie Mast
Pick one: 0
Results for Eddie Gill:

You searched for "Marcus Haislip"
1 result found.
Marcus Haislip
Results for Marcus Haislip:

You searched for "David Harrison"
3 results found.
0: David Harrison
1: Devin Harris
2: Aaron Harrison
Pick one: 0
Results for David Harrison:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Britton Johnsen"
2 results found.
0: Britton Johnsen
1: Linton Johnson
Pick one: 0
Results for Britton Johnsen:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Reggie Miller"
6 results found.
0: Reggie Miller
1: Eddie Miller
2: Reggie Carter
3: Reggie Slater
4: Reggie Perry
5: Reggie Lewis
Pick one: 0
Results for Reggie Miller:

You searched for "Scot Pollard"
2 results found.
0: Scot Pollard
1: Jim Pollard
Pick one: 0
Results for Scot Pollard:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-03-18,39-206,IND,HOME,LAL,W (+6),1,35:14,13,18,...,3,2,0,0,2,1,39,31.5,16,Reggie Miller
1,2004-12-07,39-105,IND,HOME,MIL,L (-3),1,40:05,11,18,...,4,2,2,0,1,2,32,26.6,2,Reggie Miller
2,2005-02-16,39-176,IND,HOME,POR,W (+8),1,32:46,10,17,...,0,1,0,0,2,1,36,26.4,13,Reggie Miller
3,2005-04-10,39-229,IND,HOME,NYK,L (-1),1,39:18,11,21,...,4,3,0,0,0,3,34,25.8,6,Reggie Miller
4,2004-11-28,24-055,IND,AWAY,SEA,L (-8),1,44:02,10,14,...,6,2,1,0,0,1,27,25.4,1,James Jones

In [34]:
# removed jermaine o'neal
# removed metta world peace

IND_2006_gamelog = []

for p in IND_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2006_gamelog.append(player_log)
IND_2006_gamelog = pd.concat(IND_2006_gamelog)    
IND_2006_gamelogs = IND_2006_gamelog.copy()
IND_2006_gamelogs['GAME_SCORE'] = IND_2006_gamelogs['GAME_SCORE'].astype(float)
IND_2006_games = IND_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2006_games_csv = IND_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2006_games.csv', index=False)
IND_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2006_games.csv')
IND_2006_games_proc.head()

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Eddie Gill"
4 results found.
0: Eddie Gill
1: Eddie Miles
2: Eddie Miller
3: Eddie Mast
Pick one: 0
Results for Eddie Gill:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "David Harrison"
3 results found.
0: David Harrison
1: Devin Harris
2: Aaron Harrison
Pick one: 0
Results for David Harrison:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Šarūnas Jasikevičius"
1 result found.
Sarunas Jasikevicius
Results for Sarunas Jasikevicius:

You searched for "Anthony Johnson"
8 results found.
0: Anthony Johnson
1: Andy Johnson
2: Armon Johnson
3: Linton Johnson
4: Anthony Jones
5: Anthony Mason
6: Anthony Roberson
7: Anthony Bonner
Pick one: 0
Results for Anthony Johnson:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "Scot Pollard"
2 results found.
0: Scot Pollard
1: Jim Pollard
Pick one: 0
Results for Scot Pollard:

You searched for "Peja Stojaković"
1 result found.
Peja Stojakovic
Results for Peja Stojakovic:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-01-18,31-108,IND,HOME,CHA,W (+6),1,40:48,9,14,...,10,4,2,2,1,1,27,29.4,8,Anthony Johnson
1,2006-02-10,27-311,IND,HOME,GSW,W (+12),1,39:18,8,10,...,6,5,2,0,3,5,30,27.7,17,Stephen Jackson
2,2006-01-08,27-278,IND,AWAY,SAC,W (+25),1,32:25,10,18,...,5,3,2,0,1,1,31,27.0,25,Stephen Jackson
3,2006-03-29,28-293,IND,AWAY,ATL,L (-1),1,35:55,12,19,...,6,1,1,0,0,0,31,26.8,5,Peja Stojaković
4,2006-04-07,28-302,IND,AWAY,NYK,L (-2),1,37:04,11,21,...,7,3,0,0,0,2,32,26.7,10,Peja Stojaković

In [37]:
# removed jermaine o'neal
# removed metta world peace
# removed mike dunleavy

IND_2007_gamelog = []

for p in IND_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2007_gamelog.append(player_log)
IND_2007_gamelog = pd.concat(IND_2007_gamelog)    
IND_2007_gamelogs = IND_2007_gamelog.copy()
IND_2007_gamelogs['GAME_SCORE'] = IND_2007_gamelogs['GAME_SCORE'].astype(float)
IND_2007_games = IND_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2007_games_csv = IND_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2007_games.csv', index=False)
IND_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2007_games.csv')
IND_2007_games_proc.head()

You searched for "Darrell Armstrong"
1 result found.
Darrell Armstrong
Results for Darrell Armstrong:

You searched for "Maceo Baston"
2 results found.
0: Maceo Baston
1: Dave Batton
Pick one: 0
Results for Maceo Baston:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Ike Diogu"
4 results found.
0: Ike Diogu
1: Ike Anigbogu
2: Mike Davis
3: Mike Davis
Pick one: 0
Results for Ike Diogu:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Orien Greene"
6 results found.
0: Orien Greene
1: Erick Green
2: Ken Green
3: Donte Greene
4: Rickey Green
5: Tommie Green
Pick one: 0
Results for Orien Greene:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "David Harrison"
3 results found.
0: David Harrison
1: Devin Harris
2: Aaron Harrison
Pick one: 0
Results for David Harrison:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Šarūnas Jasikevičius"
1 result found.
Sarunas Jasikevicius
Results for Sarunas Jasikevicius:

You searched for "Rawle Marshall"
2 results found.
0: Rawle Marshall
1: Naji Marshall
Pick one: 0
Results for Rawle Marshall:

You searched for "Keith McLeod"
4 results found.
0: Keith McLeod
1: Keith McCord
2: Keith Closs
3: Keith Lee
Pick one: 0
Results for Keith McLeod:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Josh Powell"
7 results found.
0: Josh Powell
1: Josh Hall
2: Josh Howard
3: Kasib Powell
4: Roger Powell
5: Josh Selby
6: Josh Okogie
Pick one: 0
Results for Josh Powell:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Shawne Williams"
14 results found.
0: Shawne Williams
1: Hank Williams
2: Sean Williams
3: Alan Williams
4: Charles Williams
5: Frank Williams
6: Gene Williams
7: Grant Williams
8: Jawad Williams
9: Nate Williams
10: Sam Williams
11: Sam Williams
12: Shammond Williams
13: Shelden Williams
Pick one: 0
Results for Shawne Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-02-14,28-315,GSW,HOME,NYK,W (+19),1,46:59,16,26,...,2,8,1,1,1,2,36,30.3,23,Stephen Jackson
1,2007-03-13,29-013,IND,AWAY,MIN,L (-5),1,36:43,13,26,...,6,6,4,0,5,1,37,29.8,1,Jamaal Tinsley
2,2007-04-06,23-351,IND,AWAY,CHA,W (+10),1,42:18,11,14,...,2,2,0,3,2,1,32,28.7,10,Danny Granger
3,2007-02-21,28-322,GSW,HOME,MEM,W (+3),1,47:13,9,19,...,3,12,4,1,2,4,26,26.3,5,Stephen Jackson
4,2007-03-29,28-358,GSW,HOME,PHO,W (+5),1,44:08,11,18,...,6,7,2,0,2,4,29,25.9,8,Stephen Jackson

In [40]:
# removed jermaine o'neal
# removed metta world peace
# removed mike dunleavy

IND_2008_gamelog = []

for p in IND_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2008_gamelog.append(player_log)
IND_2008_gamelog = pd.concat(IND_2008_gamelog)    
IND_2008_gamelogs = IND_2008_gamelog.copy()
IND_2008_gamelogs['GAME_SCORE'] = IND_2008_gamelogs['GAME_SCORE'].astype(float)
IND_2008_games = IND_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2008_games_csv = IND_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2008_games.csv', index=False)
IND_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2008_games.csv')
IND_2008_games_proc.head()

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Travis Diener"
4 results found.
0: Travis Diener
1: Travis Wear
2: Travis Hansen
3: Travis Leslie
Pick one: 0
Results for Travis Diener:

You searched for "Ike Diogu"
4 results found.
0: Ike Diogu
1: Ike Anigbogu
2: Mike Davis
3: Mike Davis
Pick one: 0
Results for Ike Diogu:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Stephen Graham"
1 result found.
Stephen Graham
Results for Stephen Graham:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "David Harrison"
3 results found.
0: David Harrison
1: Devin Harris
2: Aaron Harrison
Pick one: 0
Results for David Harrison:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Ronald Murray"
4 results found.
0: Ronald Murray
1: Ronald Dupree
2: Jamal Murray
3: Ronald Franz
Pick one: 0
Results for Ronald Murray:

You searched for "Andre Owens"
9 results found.
0: Andre Owens
1: Eddie Owens
2: Andre Brown
3: Andre Dawkins
4: Larry Owens
5: Red Owens
6: Andre Moore
7: Andrew Toney
8: Andrew Gaze
Pick one: 0
Results for Andre Owens:

You searched for "Kareem Rush"
1 result found.
Kareem Rush
Results for Kareem Rush:

You searched for "Courtney Sims"
2 results found.
0: Courtney Sims
1: Courtney Lee
Pick one: 0
Results for Courtney Sims:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Shawne Williams"
14 results found.
0: Shawne Williams
1: Hank Williams
2: Sean Williams
3: Alan Williams
4: Charles Williams
5: Frank Williams
6: Gene Williams
7: Grant Williams
8: Jawad Williams
9: Nate Williams
10: Sam Williams
11: Sam Williams
12: Shammond Williams
13: Shelden Williams
Pick one: 0
Results for Shawne Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-01-23,24-278,IND,AWAY,CHI,L (-13),1,35:23,11,18,...,7,4,2,1,2,3,33,29.6,-14,Danny Granger
1,2008-04-12,24-358,IND,HOME,CHA,L (-4),1,36:04,12,24,...,5,2,2,1,1,5,37,27.6,1,Danny Granger
2,2008-04-14,24-360,IND,AWAY,WAS,L (-7),1,44:52,12,23,...,9,3,1,0,1,3,35,26.9,-2,Danny Granger
3,2007-12-02,29-277,IND,AWAY,LAC,W (+6),1,36:41,10,20,...,7,7,3,0,3,0,29,26.8,9,Jamaal Tinsley
4,2008-01-04,24-259,IND,HOME,ATL,W (+22),1,29:38,10,15,...,9,0,2,0,4,3,32,24.6,18,Danny Granger

In [41]:
# removed jermaine o'neal
# removed metta world peace
# removed mike dunleavy
IND_2009_gamelog = []

for p in IND_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2009_gamelog.append(player_log)
IND_2009_gamelog = pd.concat(IND_2009_gamelog)    
IND_2009_gamelogs = IND_2009_gamelog.copy()
IND_2009_gamelogs['GAME_SCORE'] = IND_2009_gamelogs['GAME_SCORE'].astype(float)
IND_2009_games = IND_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2009_games_csv = IND_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2009_games.csv', index=False)
IND_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2009_games.csv')
IND_2009_games_proc.head()

You searched for "Maceo Baston"
2 results found.
0: Maceo Baston
1: Dave Batton
Pick one: 0
Results for Maceo Baston:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Travis Diener"
4 results found.
0: Travis Diener
1: Travis Wear
2: Travis Hansen
3: Travis Leslie
Pick one: 0
Results for Travis Diener:

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Stephen Graham"
1 result found.
Stephen Graham
Results for Stephen Graham:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "Jarrett Jack"
1 result found.
Jarrett Jack
Results for Jarrett Jack:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Brandon Rush"
4 results found.
0: Brandon Rush
1: Brandon Bass
2: Brandon Roy
3: Brandon Paul
Pick one: 0
Results for Brandon Rush:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-12-17,25-241,IND,HOME,GSW,W (+7),1,40:29,11,27,...,11,6,1,2,2,3,41,33.6,-8,Danny Granger
1,2009-01-11,25-266,IND,AWAY,GSW,L (-3),1,40:51,13,27,...,7,3,2,2,2,5,42,32.7,-7,Danny Granger
2,2009-04-15,25-360,IND,HOME,MIL,W (+7),1,41:41,10,16,...,9,4,3,3,6,2,35,32.0,12,Danny Granger
3,2008-12-12,25-236,IND,AWAY,DET,L (-4),1,43:05,13,21,...,7,6,0,0,6,4,42,31.2,-5,Danny Granger
4,2009-03-21,25-144,IND,AWAY,CHA,W (+25),1,32:12,13,14,...,6,2,2,1,1,1,31,30.9,29,Jarrett Jack

In [42]:
# removed jermaine o'neal
# removed metta world peace
# removed mike dunleavy

IND_2010_gamelog = []

for p in IND_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2010_gamelog.append(player_log)
IND_2010_gamelog = pd.concat(IND_2010_gamelog)    
IND_2010_gamelogs = IND_2010_gamelog.copy()
IND_2010_gamelogs['GAME_SCORE'] = IND_2010_gamelogs['GAME_SCORE'].astype(float)
IND_2010_games = IND_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2010_games_csv = IND_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2010_games.csv', index=False)
IND_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2010_games.csv')
IND_2010_games_proc.head()

You searched for "Travis Diener"
4 results found.
0: Travis Diener
1: Travis Wear
2: Travis Hansen
3: Travis Leslie
Pick one: 0
Results for Travis Diener:

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Tyler Hansbrough"
2 results found.
0: Tyler Hansbrough
1: Ben Hansbrough
Pick one: 0
Results for Tyler Hansbrough:

You searched for "Luther Head"
2 results found.
0: Luther Head
1: Luther Green
Pick one: 0
Results for Luther Head:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Brandon Rush"
4 results found.
0: Brandon Rush
1: Brandon Bass
2: Brandon Roy
3: Brandon Paul
Pick one: 0
Results for Brandon Rush:

You searched for "Earl Watson"
9 results found.
0: Earl Watson
1: Paul Watson
2: Earl Barron
3: Mark Eaton
4: Earl Shannon
5: Earl Tatum
6: C.J. Watson
7: Jamie Watson
8: Earl Jones
Pick one: 0
Results for Earl Watson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-03-26,26-340,IND,HOME,UTA,W (+16),1,37:48,14,23,...,8,5,2,1,3,2,44,36.7,32,Danny Granger
1,2010-02-20,26-306,IND,AWAY,HOU,W (+10),1,36:54,12,17,...,7,4,3,1,2,3,36,34.3,10,Danny Granger
2,2009-12-12,29-224,IND,AWAY,WAS,W (+1),1,39:10,10,18,...,12,4,4,0,2,3,28,28.2,4,Troy Murphy
3,2010-04-02,29-335,IND,HOME,MIA,L (-9),1,46:11,12,17,...,15,2,1,0,1,3,29,27.8,-13,Troy Murphy
4,2009-11-14,26-208,IND,HOME,BOS,W (+9),1,38:02,8,16,...,6,4,3,1,1,3,29,27.5,7,Danny Granger

In [43]:

# removed mike dunleavy
IND_2011_gamelog = []

for p in IND_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2011_gamelog.append(player_log)
IND_2011_gamelog = pd.concat(IND_2011_gamelog)    
IND_2011_gamelogs = IND_2011_gamelog.copy()
IND_2011_gamelogs['GAME_SCORE'] = IND_2011_gamelogs['GAME_SCORE'].astype(float)
IND_2011_games = IND_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2011_games_csv = IND_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2011_games.csv', index=False)
IND_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2011_games.csv')
IND_2011_games_proc.head()

You searched for "Darren Collison"
3 results found.
0: Darren Collison
1: Darren Tillis
2: Jarron Collins
Pick one: 0
Results for Darren Collison:

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Tyler Hansbrough"
2 results found.
0: Tyler Hansbrough
1: Ben Hansbrough
Pick one: 0
Results for Tyler Hansbrough:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Brandon Rush"
4 results found.
0: Brandon Rush
1: Brandon Bass
2: Brandon Roy
3: Brandon Paul
Pick one: 0
Results for Brandon Rush:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-11-30,27-224,IND,AWAY,SAC,W (+9),1,40:07,12,19,...,7,2,2,1,4,3,37,29.5,0,Danny Granger
1,2011-01-17,23-147,IND,AWAY,LAC,L (-7),1,38:57,10,17,...,1,8,3,0,2,0,30,29.0,-2,Darren Collison
2,2011-03-23,27-337,IND,AWAY,CHA,W (+23),1,34:15,11,19,...,5,3,2,1,1,0,33,29.0,28,Danny Granger
3,2011-01-19,27-274,IND,AWAY,GSW,L (-2),1,41:56,11,19,...,13,6,3,1,7,1,32,28.3,-7,Danny Granger
4,2010-11-09,23-078,IND,HOME,DEN,W (+31),1,31:26,12,14,...,3,6,1,0,2,1,29,28.1,13,Darren Collison

In [46]:

IND_2012_gamelog = []

for p in IND_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2012_gamelog.append(player_log)
IND_2012_gamelog = pd.concat(IND_2012_gamelog)    
IND_2012_gamelogs = IND_2012_gamelog.copy()
IND_2012_gamelogs['GAME_SCORE'] = IND_2012_gamelogs['GAME_SCORE'].astype(float)
IND_2012_games = IND_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2012_games_csv = IND_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2012_games.csv', index=False)
IND_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2012_games.csv')
IND_2012_games_proc.head()

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Leandro Barbosa"
2 results found.
0: Leandro Barbosa
1: Leandro Bolmaro
Pick one: 0
Results for Leandro Barbosa:

You searched for "Darren Collison"
3 results found.
0: Darren Collison
1: Darren Tillis
2: Jarron Collins
Pick one: 0
Results for Darren Collison:

You searched for "Kyrylo Fesenko"
1 result found.
Kyrylo Fesenko
Results for Kyrylo Fesenko:

You searched for "Jeff Foster"
9 results found.
0: Jeff Foster
1: Jeff Foote
2: Jeff Webster
3: Fred Foster
4: Greg Foster
5: Jimmy Foster
6: Rod Foster
7: Jeff Grayer
8: Jeff Turner
Pick one: 0
Results for Jeff Foster:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Tyler Hansbrough"
2 results found.
0: Tyler Hansbrough
1: Ben Hansbrough
Pick one: 0
Results for Tyler Hansbrough:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "David West"
18 results found.
0: David West
1: David Wear
2: David Lee
3: David Lee
4: David Wesley
5: Mario West
6: David Wood
7: David Benoit
8: Travis Best
9: David Noel
10: David Nwaba
11: David Pope
12: Doug West
13: Mark West
14: David Burns
15: David Cooke
16: David Gaines
17: David Rivers
Pick one: 0
Results for David West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-02-03,21-277,IND,AWAY,DAL,W (+11),1,41:10,11,19,...,9,5,5,1,0,1,30,32.6,16,Paul George
1,2012-02-01,28-287,IND,AWAY,MIN,W (+10),1,41:00,9,19,...,7,2,0,0,2,2,36,27.4,6,Danny Granger
2,2012-02-21,25-072,IND,HOME,NOH,W (+9),1,38:40,11,17,...,13,0,0,3,2,4,30,26.1,13,Roy Hibbert
3,2012-04-21,31-236,IND,HOME,PHI,L (-3),1,36:28,13,22,...,12,1,2,1,3,4,32,25.8,-3,David West
4,2012-04-23,21-357,IND,HOME,DET,W (+6),1,33:44,6,15,...,10,4,3,0,1,2,27,25.5,20,Paul George

In [49]:
IND_2013_gamelog = []

for p in IND_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2013_gamelog.append(player_log)
IND_2013_gamelog = pd.concat(IND_2013_gamelog)    
IND_2013_gamelogs = IND_2013_gamelog.copy()
IND_2013_gamelogs['GAME_SCORE'] = IND_2013_gamelogs['GAME_SCORE'].astype(float)
IND_2013_games = IND_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2013_games_csv = IND_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2013_games.csv', index=False)
IND_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2013_games.csv')
IND_2013_games_proc.head()

You searched for "D.J. Augustin"
1 result found.
D.J. Augustin
Results for D.J. Augustin:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Ben Hansbrough"
2 results found.
0: Ben Hansbrough
1: Tyler Hansbrough
Pick one: 0
Results for Ben Hansbrough:

You searched for "Tyler Hansbrough"
2 results found.
0: Tyler Hansbrough
1: Ben Hansbrough
Pick one: 0
Results for Tyler Hansbrough:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Orlando Johnson"
3 results found.
0: Orlando Johnson
1: Andy Johnson
2: Frank Johnson
Pick one: 0
Results for Orlando Johnson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Dominic McGuire"
1 result found.
Dominic McGuire
Results for Dominic McGuire:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "David West"
18 results found.
0: David West
1: David Wear
2: David Lee
3: David Lee
4: David Wesley
5: Mario West
6: David Wood
7: David Benoit
8: Travis Best
9: David Noel
10: David Nwaba
11: David Pope
12: Doug West
13: Mark West
14: David Burns
15: David Cooke
16: David Gaines
17: David Rivers
Pick one: 0
Results for David West:

You searched for "Sam Young"
10 results found.
0: Sam Young
1: Tim Young
2: James Young
3: Joe Young
4: Trae Young
5: Sam Bowie
6: Sam Jones
7: Danny Young
8: Nick Young
9: Sam Lacey
Pick one: 0
Results for Sam Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-02-07,27-279,IND,HOME,POR,W (+5),1,38:19,12,19,...,9,8,2,1,1,4,37,37.3,11,George Hill
1,2014-01-18,23-261,IND,HOME,LAC,W (+14),1,35:57,12,17,...,6,2,3,0,1,2,36,33.3,13,Paul George
2,2014-03-06,28-039,PHO,HOME,OKC,W (+6),1,40:44,12,22,...,5,2,3,1,3,3,41,32.0,11,Gerald Green
3,2012-11-21,22-203,IND,HOME,NOH,W (+8),1,34:06,13,21,...,4,4,1,0,0,4,37,30.9,8,Paul George
4,2013-02-01,32-156,IND,HOME,MIA,W (+13),1,35:55,12,15,...,7,5,0,0,0,0,30,30.7,9,David West

In [50]:
IND_2014_gamelog = []

for p in IND_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2014_gamelog.append(player_log)
IND_2014_gamelog = pd.concat(IND_2014_gamelog)    
IND_2014_gamelogs = IND_2014_gamelog.copy()
IND_2014_gamelogs['GAME_SCORE'] = IND_2014_gamelogs['GAME_SCORE'].astype(float)
IND_2014_games = IND_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2014_games_csv = IND_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2014_games.csv', index=False)
IND_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2014_games.csv')
IND_2014_games_proc.head()

You searched for "Lavoy Allen"
6 results found.
0: Lavoy Allen
1: Randy Allen
2: Ray Allen
3: Bob Allen
4: Malik Allen
5: Tony Allen
Pick one: 0
Results for Lavoy Allen:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Chris Copeland"
2 results found.
0: Chris Copeland
1: Hollis Copeland
Pick one: 0
Results for Chris Copeland:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Orlando Johnson"
3 results found.
0: Orlando Johnson
1: Andy Johnson
2: Frank Johnson
Pick one: 0
Results for Orlando Johnson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Luis Scola"
1 result found.
Luis Scola
Results for Luis Scola:

You searched for "Donald Sloan"
3 results found.
0: Donald Sloan
1: Donald Royal
2: Donald Sidle
Pick one: 0
Results for Donald Sloan:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Evan Turner"
11 results found.
0: Evan Turner
1: Evan Fournier
2: John Turner
3: Bill Turner
4: Elston Turner
5: Gary Turner
6: Henry Turner
7: Jack Turner
8: Jack Turner
9: Jeff Turner
10: Wayne Turner
Pick one: 0
Results for Evan Turner:

You searched for "C.J. Watson"
6 results found.
0: C.J. Watson
1: D.J. Wilson
2: T.J. Warren
3: Earl Watson
4: Paul Watson
5: C.J. Wilcox
Pick one: 0
Results for C.J. Watson:

You searched for "David West"
18 results found.
0: David West
1: David Wear
2: David Lee
3: David Lee
4: David Wesley
5: Mario West
6: David Wood
7: David Benoit
8: Travis Best
9: David Noel
10: David Nwaba
11: David Pope
12: Doug West
13: Mark West
14: David Burns
15: David Cooke
16: David Gaines
17: David Rivers
Pick one: 0
Results for David West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-02-07,27-279,IND,HOME,POR,W (+5),1,38:19,12,19,...,9,8,2,1,1,4,37,37.3,11,George Hill
1,2014-01-18,23-261,IND,HOME,LAC,W (+14),1,35:57,12,17,...,6,2,3,0,1,2,36,33.3,13,Paul George
2,2013-12-02,23-214,IND,AWAY,POR,L (-4),1,37:59,16,30,...,3,3,3,0,3,4,43,29.8,-1,Paul George
3,2013-11-05,23-187,IND,AWAY,DET,W (+8),1,40:40,12,18,...,10,4,4,0,4,1,31,29.0,18,Paul George
4,2013-11-20,23-202,IND,AWAY,NYK,W (+7),1,48:50,12,26,...,5,4,5,2,1,3,35,28.9,6,Paul George

In [51]:

IND_2015_gamelog = []

for p in IND_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2015_gamelog.append(player_log)
IND_2015_gamelog = pd.concat(IND_2015_gamelog)    
IND_2015_gamelogs = IND_2015_gamelog.copy()
IND_2015_gamelogs['GAME_SCORE'] = IND_2015_gamelogs['GAME_SCORE'].astype(float)
IND_2015_games = IND_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2015_games_csv = IND_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2015_games.csv', index=False)
IND_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2015_games.csv')
IND_2015_games_proc.head()

You searched for "Lavoy Allen"
6 results found.
0: Lavoy Allen
1: Randy Allen
2: Ray Allen
3: Bob Allen
4: Malik Allen
5: Tony Allen
Pick one: 0
Results for Lavoy Allen:

You searched for "Chris Copeland"
2 results found.
0: Chris Copeland
1: Hollis Copeland
Pick one: 0
Results for Chris Copeland:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Damjan Rudež"
1 result found.
Damjan Rudez
Results for Damjan Rudez:

You searched for "Luis Scola"
1 result found.
Luis Scola
Results for Luis Scola:

You searched for "Donald Sloan"
3 results found.
0: Donald Sloan
1: Donald Royal
2: Donald Sidle
Pick one: 0
Results for Donald Sloan:

You searched for "Rodney Stuckey"
1 result found.
Rodney Stuckey
Results for Rodney Stuckey:

You searched for "C.J. Watson"
6 results found.
0: C.J. Watson
1: D.J. Wilson
2: T.J. Warren
3: Earl Watson
4: Paul Watson
5: C.J. Wilcox
Pick one: 0
Results for C.J. Watson:

You searched for "David West"
18 results found.
0: David West
1: David Wear
2: David Lee
3: David Lee
4: David Wesley
5: Mario West
6: David Wood
7: David Benoit
8: Travis Best
9: David Noel
10: David Nwaba
11: David Pope
12: Doug West
13: Mark West
14: David Burns
15: David Cooke
16: David Gaines
17: David Rivers
Pick one: 0
Results for David West:

You searched for "Shayne Whittington"
1 result found.
Shayne Whittington
Results for Shayne Whittington:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-04-12,28-025,IND,HOME,OKC,W (+12),1,35:58,9,14,...,10,3,1,0,0,0,30,29.1,23,C.J. Miles
1,2015-03-14,28-314,IND,HOME,BOS,L (-4),1,34:46,11,18,...,5,8,1,0,3,3,30,26.1,7,George Hill
2,2014-11-24,26-313,IND,AWAY,DAL,W (+11),1,38:16,10,14,...,2,5,1,0,1,1,29,25.7,7,Donald Sloan
3,2015-01-10,34-134,IND,AWAY,PHI,L (-1),1,32:55,10,18,...,9,2,2,2,1,5,28,25.5,2,David West
4,2015-03-31,28-331,IND,AWAY,BRK,L (-5),1,31:55,10,17,...,6,3,0,0,0,1,28,23.2,-22,George Hill

In [55]:
# removed glenn robinson (duplicate
IND_2016_gamelog = []

for p in IND_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2016_gamelog.append(player_log)
IND_2016_gamelog = pd.concat(IND_2016_gamelog)    
IND_2016_gamelogs = IND_2016_gamelog.copy()
IND_2016_gamelogs['GAME_SCORE'] = IND_2016_gamelogs['GAME_SCORE'].astype(float)
IND_2016_games = IND_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2016_games_csv = IND_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2016_games.csv', index=False)
IND_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2016_games.csv')
IND_2016_games_proc.head()

You searched for "Lavoy Allen"
6 results found.
0: Lavoy Allen
1: Randy Allen
2: Ray Allen
3: Bob Allen
4: Malik Allen
5: Tony Allen
Pick one: 0
Results for Lavoy Allen:

You searched for "Chase Budinger"
1 result found.
Chase Budinger
Results for Chase Budinger:

You searched for "Rakeem Christmas"
1 result found.
Rakeem Christmas
Results for Rakeem Christmas:

You searched for "Monta Ellis"
5 results found.
0: Monta Ellis
1: Monti Davis
2: Bo Ellis
3: Boo Ellis
4: Joe Ellis
Pick one: 0
Results for Monta Ellis:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Rodney Stuckey"
1 result found.
Rodney Stuckey
Results for Rodney Stuckey:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "Shayne Whittington"
1 result found.
Shayne Whittington
Results for Shayne Whittington:

You searched for "Joe Young"
13 results found.
0: Joe Young
1: James Young
2: Sam Young
3: Tim Young
4: Trae Young
5: Joe Colone
6: Joe Cooke
7: Joe Holup
8: John Long
9: Joe Wolf
10: Nick Young
11: Joe Dolhon
12: Joe Smyth
Pick one: 0
Results for Joe Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-12-05,25-217,IND,AWAY,UTA,L (-3),1,42:05,15,27,...,8,3,3,0,2,4,48,37.8,-12,Paul George
1,2015-11-24,25-206,IND,AWAY,WAS,W (+17),1,36:35,14,19,...,8,4,2,0,4,1,40,35.1,24,Paul George
2,2016-03-19,25-322,IND,HOME,OKC,L (-4),1,40:51,14,29,...,7,4,2,0,2,2,45,34.4,4,Paul George
3,2016-03-04,25-307,IND,AWAY,CHO,L (-7),1,36:24,11,23,...,7,7,5,1,1,4,35,33.8,-1,Paul George
4,2016-01-28,30-094,IND,HOME,ATL,W (+19),1,34:42,7,11,...,5,6,5,1,2,0,25,29.9,12,Monta Ellis

In [58]:
# removed glenn robinson

IND_2017_gamelog = []

for p in IND_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2017_gamelog.append(player_log)
IND_2017_gamelog = pd.concat(IND_2017_gamelog)    
IND_2017_gamelogs = IND_2017_gamelog.copy()
IND_2017_gamelogs['GAME_SCORE'] = IND_2017_gamelogs['GAME_SCORE'].astype(float)
IND_2017_games = IND_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2017_games_csv = IND_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2017_games.csv', index=False)
IND_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2017_games.csv')
IND_2017_games_proc.head()

You searched for "Lavoy Allen"
6 results found.
0: Lavoy Allen
1: Randy Allen
2: Ray Allen
3: Bob Allen
4: Malik Allen
5: Tony Allen
Pick one: 0
Results for Lavoy Allen:

You searched for "Aaron Brooks"
5 results found.
0: Aaron Brooks
1: MarShon Brooks
2: Dillon Brooks
3: Kevin Brooks
4: Aaron Gordon
Pick one: 0
Results for Aaron Brooks:

You searched for "Rakeem Christmas"
1 result found.
Rakeem Christmas
Results for Rakeem Christmas:

You searched for "Monta Ellis"
5 results found.
0: Monta Ellis
1: Monti Davis
2: Bo Ellis
3: Boo Ellis
4: Joe Ellis
Pick one: 0
Results for Monta Ellis:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Georges Niang"
4 results found.
0: Georges Niang
1: George King
2: George King
3: George Mikan
Pick one: 0
Results for Georges Niang:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Rodney Stuckey"
1 result found.
Rodney Stuckey
Results for Rodney Stuckey:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "Joe Young"
13 results found.
0: Joe Young
1: James Young
2: Sam Young
3: Tim Young
4: Trae Young
5: Joe Colone
6: Joe Cooke
7: Joe Holup
8: John Long
9: Joe Wolf
10: Nick Young
11: Joe Dolhon
12: Joe Smyth
Pick one: 0
Results for Joe Young:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-03-28,26-330,IND,HOME,MIN,L (-1),1,39:29,12,21,...,7,2,4,1,1,2,37,34.3,-3,Paul George
1,2017-04-02,26-335,IND,AWAY,CLE,L (-5),1,48:01,16,33,...,9,9,3,1,3,5,43,33.2,17,Paul George
2,2017-03-15,26-317,IND,HOME,CHO,W (+21),1,33:04,15,21,...,5,3,3,0,3,3,39,33.1,27,Paul George
3,2016-11-20,28-163,IND,AWAY,OKC,W (+4),1,40:20,9,16,...,5,9,6,0,3,2,30,32.4,18,Jeff Teague
4,2016-11-09,28-152,IND,HOME,PHI,W (+7),1,40:44,10,16,...,2,9,2,1,1,1,30,30.6,11,Jeff Teague

In [60]:
# removed glenn robinson (son)

IND_2018_gamelog = []

for p in IND_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2018_gamelog.append(player_log)
IND_2018_gamelog = pd.concat(IND_2018_gamelog)    
IND_2018_gamelogs = IND_2018_gamelog.copy()
IND_2018_gamelogs['GAME_SCORE'] = IND_2018_gamelogs['GAME_SCORE'].astype(float)
IND_2018_games = IND_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2018_games_csv = IND_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2018_games.csv', index=False)
IND_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2018_games.csv')
IND_2018_games_proc.head()

You searched for "Ike Anigbogu"
2 results found.
0: Ike Anigbogu
1: Ike Diogu
Pick one: 0
Results for Ike Anigbogu:

You searched for "Bojan Bogdanović"
2 results found.
0: Bojan Bogdanovic
1: Bogdan Bogdanovic
Pick one: 0
Results for Bojan Bogdanovic:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Darren Collison"
3 results found.
0: Darren Collison
1: Darren Tillis
2: Jarron Collins
Pick one: 0
Results for Darren Collison:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "T.J. Leaf"
5 results found.
0: T.J. Leaf
1: T.J. Ford
2: J.J. Barea
3: C.J. Miles
4: B.J. Tyler
Pick one: 0
Results for T.J. Leaf:

You searched for "Trey McKinney-Jones"
1 result found.
Trey McKinney-Jones
Results for Trey McKinney-Jones:

You searched for "Ben Moore"
15 results found.
0: Ben Moore
1: Gene Moore
2: Ron Moore
3: Ron Boone
4: Ben Clyde
5: Len Elmore
6: Ben McLemore
7: Ken Menke
8: Lowes Moore
9: Otto Moore
10: Ben Uzoh
11: Bert Cook
12: Ben Gordon
13: Ben Kelso
14: Leon Wood
Pick one: 0
Results for Ben Moore:

You searched for "Victor Oladipo"
1 result found.
Victor Oladipo
Results for Victor Oladipo:

You searched for "Alex Poythress"
1 result found.
Alex Poythress
Results for Alex Poythress:

You searched for "Domantas Sabonis"
1 result found.
Domantas Sabonis
Results for Domantas Sabonis:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Edmond Sumner"
1 result found.
Edmond Sumner
Results for Edmond Sumner:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "Damien Wilkins"
1 result found.
Damien Wilkins
Results for Damien Wilkins:

You searched for "Joe Young"
13 results found.
0: Joe Young
1: James Young
2: Sam Young
3: Tim Young
4: Trae Young
5: Joe Colone
6: Joe Cooke
7: Joe Holup
8: John Long
9: Joe Wolf
10: Nick Young
11: Joe Dolhon
12: Joe Smyth
Pick one: 0
Results for Joe Young:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-12-10,25-220,IND,HOME,DEN,W (+10),1,45:03,15,28,...,7,6,2,1,4,1,47,37.6,12,Victor Oladipo
1,2017-12-01,25-211,IND,AWAY,TOR,L (-5),1,38:58,14,22,...,7,6,3,3,2,1,36,34.4,10,Victor Oladipo
2,2018-04-01,25-332,IND,AWAY,LAC,W (+7),1,37:58,11,17,...,4,12,5,1,2,4,30,34.2,14,Victor Oladipo
3,2017-12-23,25-233,IND,HOME,BRK,W (+4),1,42:18,13,23,...,4,6,1,1,0,4,38,32.6,7,Victor Oladipo
4,2017-12-18,25-228,IND,HOME,BOS,L (-1),1,35:27,13,23,...,5,1,3,1,0,1,38,31.4,-3,Victor Oladipo

In [63]:
# removed kyle o'quinn

IND_2019_gamelog = []

for p in IND_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2019_gamelog.append(player_log)
IND_2019_gamelog = pd.concat(IND_2019_gamelog)    
IND_2019_gamelogs = IND_2019_gamelog.copy()
IND_2019_gamelogs['GAME_SCORE'] = IND_2019_gamelogs['GAME_SCORE'].astype(float)
IND_2019_games = IND_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2019_games_csv = IND_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2019_games.csv', index=False)
IND_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2019_games.csv')
IND_2019_games_proc.head()

You searched for "Ike Anigbogu"
2 results found.
0: Ike Anigbogu
1: Ike Diogu
Pick one: 0
Results for Ike Anigbogu:

You searched for "Bojan Bogdanović"
2 results found.
0: Bojan Bogdanovic
1: Bogdan Bogdanovic
Pick one: 0
Results for Bojan Bogdanovic:

You searched for "Darren Collison"
3 results found.
0: Darren Collison
1: Darren Tillis
2: Jarron Collins
Pick one: 0
Results for Darren Collison:

You searched for "Tyreke Evans"
3 results found.
0: Tyreke Evans
1: Jeremy Evans
2: Mike Evans
Pick one: 0
Results for Tyreke Evans:

You searched for "Aaron Holiday"
2 results found.
0: Aaron Holiday
1: Jrue Holiday
Pick one: 0
Results for Aaron Holiday:

You searched for "Alize Johnson"
21 results found.
0: Alize Johnson
1: Amir Johnson
2: Arnie Johnson
3: Brice Johnson
4: Lee Johnson
5: Ollie Johnson
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Clay Johnson
10: Dave Johnson
11: Eddie Johnson
12: Eddie Johnson
13: Eric Johnson
14: Joe Johnson
15: Magic Johnson
16: Neil Johnson
17: Nick Johnson
18: Ralph Johnson
19: Rich Johnson
20: Steve Johnson
Pick one: 0
Results for Alize Johnson:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "T.J. Leaf"
5 results found.
0: T.J. Leaf
1: T.J. Ford
2: J.J. Barea
3: C.J. Miles
4: B.J. Tyler
Pick one: 0
Results for T.J. Leaf:

You searched for "Wesley Matthews"
2 results found.
0: Wesley Matthews
1: Wes Matthews
Pick one: 0
Results for Wesley Matthews:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Victor Oladipo"
1 result found.
Victor Oladipo
Results for Victor Oladipo:

You searched for "Davon Reed"
9 results found.
0: Davon Reed
1: Ron Reed
2: Don Reid
3: Paul Reed
4: Don Dee
5: Devin Green
6: Damion Lee
7: David Lee
8: David Lee
Pick one: 0
Results for Davon Reed:

You searched for "Domantas Sabonis"
1 result found.
Domantas Sabonis
Results for Domantas Sabonis:

You searched for "Edmond Sumner"
1 result found.
Edmond Sumner
Results for Edmond Sumner:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-24,29-340,IND,HOME,DEN,W (+36),1,25:46,13,16,...,6,3,1,0,0,0,35,33.9,17,Bojan Bogdanović
1,2019-02-28,29-316,IND,HOME,MIN,W (+7),1,29:39,13,22,...,7,4,0,0,1,1,37,30.3,17,Bojan Bogdanović
2,2018-11-07,26-187,IND,HOME,PHI,L (-6),1,36:39,14,30,...,6,7,2,3,1,1,36,29.2,-7,Victor Oladipo
3,2018-12-12,30-174,IND,HOME,MIL,W (+16),1,33:54,9,14,...,11,4,5,1,2,3,25,28.6,28,Thaddeus Young
4,2019-04-10,21-345,IND,AWAY,ATL,W (+1),1,34:12,12,19,...,10,2,2,2,0,2,28,28.1,-1,T.J. Leaf

In [64]:


IND_2020_gamelog = []

for p in IND_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2020_gamelog.append(player_log)
IND_2020_gamelog = pd.concat(IND_2020_gamelog)    
IND_2020_gamelogs = IND_2020_gamelog.copy()
IND_2020_gamelogs['GAME_SCORE'] = IND_2020_gamelogs['GAME_SCORE'].astype(float)
IND_2020_games = IND_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2020_games_csv = IND_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2020_games.csv', index=False)
IND_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2020_games.csv')
IND_2020_games_proc.head()

You searched for "Goga Bitadze"
1 result found.
Goga Bitadze
Results for Goga Bitadze:

You searched for "Brian Bowen"
8 results found.
0: Brian Bowen
1: Ryan Bowen
2: Bruce Bowen
3: Jordan Bowden
4: Brian Cook
5: Brian Howard
6: Brian Rowsom
7: Jordan Bone
Pick one: 0
Results for Brian Bowen:

You searched for "Malcolm Brogdon"
1 result found.
Malcolm Brogdon
Results for Malcolm Brogdon:

You searched for "Aaron Holiday"
2 results found.
0: Aaron Holiday
1: Jrue Holiday
Pick one: 0
Results for Aaron Holiday:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Alize Johnson"
21 results found.
0: Alize Johnson
1: Amir Johnson
2: Arnie Johnson
3: Brice Johnson
4: Lee Johnson
5: Ollie Johnson
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Clay Johnson
10: Dave Johnson
11: Eddie Johnson
12: Eddie Johnson
13: Eric Johnson
14: Joe Johnson
15: Magic Johnson
16: Neil Johnson
17: Nick Johnson
18: Ralph Johnson
19: Rich Johnson
20: Steve Johnson
Pick one: 0
Results for Alize Johnson:

You searched for "Jeremy Lamb"
6 results found.
0: Jeremy Lamb
1: Jeremy Lin
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Pargo
5: Jeremy Tyler
Pick one: 0
Results for Jeremy Lamb:

You searched for "T.J. Leaf"
5 results found.
0: T.J. Leaf
1: T.J. Ford
2: J.J. Barea
3: C.J. Miles
4: B.J. Tyler
Pick one: 0
Results for T.J. Leaf:

You searched for "T.J. McConnell"
1 result found.
T.J. McConnell
Results for T.J. McConnell:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Naz Mitrou-Long"
1 result found.
Naz Mitrou-Long
Results for Naz Mitrou-Long:

You searched for "Victor Oladipo"
1 result found.
Victor Oladipo
Results for Victor Oladipo:

You searched for "Domantas Sabonis"
1 result found.
Domantas Sabonis
Results for Domantas Sabonis:

You searched for "JaKarr Sampson"
2 results found.
0: JaKarr Sampson
1: Jamal Sampson
Pick one: 0
Results for JaKarr Sampson:

You searched for "Edmond Sumner"
1 result found.
Edmond Sumner
Results for Edmond Sumner:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "T.J. Warren"
5 results found.
0: T.J. Warren
1: J.J. Barea
2: Bob Warren
3: John Warren
4: C.J. Watson
Pick one: 0
Results for T.J. Warren:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-08-01,26-331,IND,HOME,PHI,W (+6),1,40:37,20,29,...,4,3,0,2,1,4,53,42.8,18,T.J. Warren
1,2020-08-03,26-333,IND,AWAY,WAS,W (+11),1,39:34,14,26,...,11,4,3,4,0,1,34,34.5,25,T.J. Warren
2,2020-02-12,26-160,IND,HOME,MIL,W (+7),1,38:52,16,19,...,7,1,4,0,2,1,35,32.9,5,T.J. Warren
3,2019-12-11,27-000,IND,HOME,BOS,W (+5),1,29:18,6,10,...,2,8,2,0,1,1,29,31.2,-2,Malcolm Brogdon
4,2020-08-04,26-334,IND,HOME,ORL,W (+11),1,38:19,13,17,...,2,3,3,1,0,4,32,29.7,16,T.J. Warren

In [67]:
# removed Amida Brimah
IND_2021_gamelog = []

for p in IND_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    IND_2021_gamelog.append(player_log)
IND_2021_gamelog = pd.concat(IND_2021_gamelog)    
IND_2021_gamelogs = IND_2021_gamelog.copy()
IND_2021_gamelogs['GAME_SCORE'] = IND_2021_gamelogs['GAME_SCORE'].astype(float)
IND_2021_games = IND_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
IND_2021_games_csv = IND_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2021_games.csv', index=False)
IND_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2021_games.csv')
IND_2021_games_proc.head()

You searched for "Goga Bitadze"
1 result found.
Goga Bitadze
Results for Goga Bitadze:

You searched for "Brian Bowen"
8 results found.
0: Brian Bowen
1: Ryan Bowen
2: Bruce Bowen
3: Jordan Bowden
4: Brian Cook
5: Brian Howard
6: Brian Rowsom
7: Jordan Bone
Pick one: 0
Results for Brian Bowen:

You searched for "Oshae Brissett"
1 result found.
Oshae Brissett
Results for Oshae Brissett:

You searched for "Malcolm Brogdon"
1 result found.
Malcolm Brogdon
Results for Malcolm Brogdon:

You searched for "Aaron Holiday"
2 results found.
0: Aaron Holiday
1: Jrue Holiday
Pick one: 0
Results for Aaron Holiday:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Jeremy Lamb"
6 results found.
0: Jeremy Lamb
1: Jeremy Lin
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Pargo
5: Jeremy Tyler
Pick one: 0
Results for Jeremy Lamb:

You searched for "Jalen Lecque"
1 result found.
Jalen Lecque
Results for Jalen Lecque:

You searched for "Caris LeVert"
2 results found.
0: Caris LeVert
1: Chris Webber
Pick one: 0
Results for Caris LeVert:

You searched for "Kelan Martin"
8 results found.
0: Kelan Martin
1: Kevin Martin
2: Brian Martin
3: Kenyon Martin
4: Bill Martin
5: Caleb Martin
6: Don Martin
7: Jeff Martin
Pick one: 0
Results for Kelan Martin:

You searched for "T.J. McConnell"
1 result found.
T.J. McConnell
Results for T.J. McConnell:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Victor Oladipo"
1 result found.
Victor Oladipo
Results for Victor Oladipo:

You searched for "Domantas Sabonis"
1 result found.
Domantas Sabonis
Results for Domantas Sabonis:

You searched for "JaKarr Sampson"
2 results found.
0: JaKarr Sampson
1: Jamal Sampson
Pick one: 0
Results for JaKarr Sampson:

You searched for "Cassius Stanley"
2 results found.
0: Cassius Stanley
1: Cassius Winston
Pick one: 0
Results for Cassius Stanley:

You searched for "Edmond Sumner"
1 result found.
Edmond Sumner
Results for Edmond Sumner:

You searched for "Myles Turner"
3 results found.
0: Myles Turner
1: Bill Turner
2: Wayne Turner
Pick one: 0
Results for Myles Turner:

You searched for "T.J. Warren"
5 results found.
0: T.J. Warren
1: J.J. Barea
2: Bob Warren
3: John Warren
4: C.J. Watson
Pick one: 0
Results for T.J. Warren:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-17,24-290,IND,AWAY,MIN,W (+6),1,45:35,13,21,...,16,10,3,1,3,4,36,37.8,6,Domantas Sabonis
1,2021-01-25,28-045,IND,HOME,TOR,W (+15),1,36:42,10,17,...,7,9,1,0,3,3,36,32.9,15,Malcolm Brogdon
2,2021-01-08,26-136,BRK,AWAY,MEM,L (-5),1,35:44,15,23,...,5,6,0,0,5,2,43,32.8,8,Caris LeVert
3,2021-02-02,24-275,IND,HOME,MEM,W (+18),1,35:02,13,15,...,13,5,2,0,3,3,32,32.7,21,Domantas Sabonis
4,2021-04-11,26-229,IND,AWAY,MEM,W (+7),1,34:43,14,20,...,5,3,1,3,1,1,34,31.7,12,Caris LeVert

## combine all seasons

In [68]:
IND_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2000_games.csv')
IND_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2001_games.csv')
IND_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2002_games.csv')
IND_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2003_games.csv')
IND_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2004_games.csv')
IND_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2005_games.csv')
IND_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2006_games.csv')
IND_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2007_games.csv')
IND_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2008_games.csv')
IND_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2009_games.csv')
IND_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2010_games.csv')
IND_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2011_games.csv')
IND_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2012_games.csv')
IND_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2013_games.csv')
IND_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2014_games.csv')
IND_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2015_games.csv')
IND_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2016_games.csv')
IND_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2017_games.csv')
IND_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2018_games.csv')
IND_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2019_games.csv')
IND_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2020_games.csv')
IND_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_2021_games.csv')

In [69]:
IND_season_dfs = [IND_2000_games_io, IND_2001_games_io, IND_2002_games_io, IND_2003_games_io, IND_2004_games_io, IND_2005_games_io,
                 IND_2006_games_io, IND_2007_games_io, IND_2008_games_io, IND_2009_games_io, IND_2010_games_io, IND_2011_games_io,
                 IND_2012_games_io, IND_2013_games_io, IND_2014_games_io, IND_2015_games_io, IND_2016_games_io, IND_2017_games_io,
                 IND_2018_games_io, IND_2019_games_io, IND_2020_games_io, IND_2021_games_io]

In [70]:
IND_all = pd.concat(IND_season_dfs)
IND_all_sorted = IND_all.sort_values(by=['GAME_SCORE'], ascending=False)
IND_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-08-01,26-331,IND,HOME,PHI,W (+6),1,40:37,20,29,...,4,3,0,2,1,4,53,42.8,18,T.J. Warren
0,2015-12-05,25-217,IND,AWAY,UTA,L (-3),1,42:05,15,27,...,8,3,3,0,2,4,48,37.8,-12,Paul George
0,2021-02-17,24-290,IND,AWAY,MIN,W (+6),1,45:35,13,21,...,16,10,3,1,3,4,36,37.8,6,Domantas Sabonis
0,2017-12-10,25-220,IND,HOME,DEN,W (+10),1,45:03,15,28,...,7,6,2,1,4,1,47,37.6,12,Victor Oladipo
0,2014-02-07,27-279,IND,HOME,POR,W (+5),1,38:19,12,19,...,9,8,2,1,1,4,37,37.3,11,George Hill
0,2014-02-07,27-279,IND,HOME,POR,W (+5),1,38:19,12,19,...,9,8,2,1,1,4,37,37.3,11,George Hill
0,2002-03-16,29-045,CHI,AWAY,HOU,W (+2),1,56:16,18,34,...,11,6,2,1,1,1,44,37.0,-1,Jalen Rose
0,2010-03-26,26-340,IND,HOME,UTA,W (+16),1,37:48,14,23,...,8,5,2,1,3,2,44,36.7,32,Danny Granger
1,2015-11-24,25-206,IND,AWAY,WAS,W (+17),1,36:35,14,19,...,8,4,2,0,4,1,40,35.1,24,Paul George
0,2000-11-08,35-076,IND,HOME,MIL,W (+11),1,42:19,13,21,...,2,5,0,1,1,1,41,34.9,19,Reggie Miller
1,2020-08-03,26-333,IND,AWAY,WAS,W (+11),1,39:34,14,26,...,11,4,3,4,0,1,34,34.5,25,T.J. Warren
1,2017-12-01,25-211,IND,AWAY,TOR,L (-5),1,38:58,14,22,...,7,6,3,3,2,1,36,34.4,10,Victor Oladipo
2,2016-03-19,25-322,IND,HOME,OKC,L (-4),1,40:51,14,29,...,7,4,2,0,2,2,45,34.4,4,Paul George
0,2017-03-28,26-330,IND,HOME,MIN,L (-1),1,39:29,12,21,...,7,2,4,1,1,2,37,34.3,-3,Paul George
1,2010-02-20,26-306,IND,AWAY,HOU,W (+10),1,36:54,12,17,...,7,4,3,1,2,3,36,34.3,10,Danny Granger
2,2018-04-01,25-332,IND,AWAY,LAC,W (+7),1,37:58,11,17,...,4,12,5,1,2,4,30,34.2,14,Victor Oladipo
0,2019-03-24,29-340,IND,HOME,DEN,W (+36),1,25:46,13,16,...,6,3,1,0,0,0,35,33.9,17,Bojan Bogdanović
3,2016-03-04,25-307,IND,AWAY,CHO,L (-7),1,36:24,11,23,...,7,7,5,1,1,4,35,33.8,-1,Paul George
0,2008-12-17,25-241,IND,HOME,GSW,W (+7),1,40:29,11,27,...,11,6,1,2,2,3,41,33.6,-8,Danny Granger
1,2014-01-18,23-261,IND,HOME,LAC,W (+14),1,35:57,12,17,...,6,2,3,0,1,2,36,33.3,13,Paul George
1,2002-01-11,28-346,IND,HOME,CHI,W (+7),1,41:53,13,21,...,4,2,3,0,0,2,38,33.3,7,Jalen Rose
1,2014-01-18,23-261,IND,HOME,LAC,W (+14),1,35:57,12,17,...,6,2,3,0,1,2,36,33.3,13,Paul George
1,2017-04-02,26-335,IND,AWAY,CLE,L (-5),1,48:01,16,33,...,9,9,3,1,3,5,43,33.2,17,Paul George
2,2017-03-15,26-317,IND,HOME,CHO,W (+21),1,33:04,15,21,...,5,3,3,0,3,3,39,33.1,27,Paul George
1,2021-01-25,28-045,IND,HOME,TOR,W (+15),1,36:42,10,17,...,7,9,1,0,3,3,36,32.9,15,Malcolm Brogdon