In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [3]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [4]:
season = 2000
appended_data_LAC = []

# LAC
while season <= 2021:
    df_LAC = get_roster('LAC', season)
    df_LAC['Season'] = season
    df_LAC['Team'] = 'LAC'
    appended_data_LAC.append(df_LAC)
    season = season + 1
appended_data_LAC = pd.concat(appended_data_LAC)

In [8]:
LAC_df_all = appended_data_LAC.copy()
LAC_df_all_csv = LAC_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_players_all.csv', index=False)
LAC_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_players_all.csv')
LAC_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,1,Derek Anderson,SG,6-5,194,1974-07-18,US,2,"Ohio State, Kentucky",2000,LAC
1,30,Anthony Avent,PF,6-9,235,1969-10-18,US,5,Seton Hall,2000,LAC
2,44,Mario Bennett,PF,6-6,235,1973-08-01,US,3,Arizona State,2000,LAC
3,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,LAC
4,24,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,LAC

In [9]:
LAC_df_2000 = LAC_df_all[LAC_df_all['Season'] == 2000]
LAC_df_2001 = LAC_df_all[LAC_df_all['Season'] == 2001]
LAC_df_2002 = LAC_df_all[LAC_df_all['Season'] == 2002]
LAC_df_2003 = LAC_df_all[LAC_df_all['Season'] == 2003]
LAC_df_2004 = LAC_df_all[LAC_df_all['Season'] == 2004]
LAC_df_2005 = LAC_df_all[LAC_df_all['Season'] == 2005]
LAC_df_2006 = LAC_df_all[LAC_df_all['Season'] == 2006]
LAC_df_2007 = LAC_df_all[LAC_df_all['Season'] == 2007]
LAC_df_2008 = LAC_df_all[LAC_df_all['Season'] == 2008]
LAC_df_2009 = LAC_df_all[LAC_df_all['Season'] == 2009]
LAC_df_2010 = LAC_df_all[LAC_df_all['Season'] == 2010]
LAC_df_2011 = LAC_df_all[LAC_df_all['Season'] == 2011]
LAC_df_2012 = LAC_df_all[LAC_df_all['Season'] == 2012]
LAC_df_2013 = LAC_df_all[LAC_df_all['Season'] == 2013]
LAC_df_2014 = LAC_df_all[LAC_df_all['Season'] == 2014]
LAC_df_2015 = LAC_df_all[LAC_df_all['Season'] == 2015]
LAC_df_2016 = LAC_df_all[LAC_df_all['Season'] == 2016]
LAC_df_2017 = LAC_df_all[LAC_df_all['Season'] == 2017]
LAC_df_2018 = LAC_df_all[LAC_df_all['Season'] == 2018]
LAC_df_2019 = LAC_df_all[LAC_df_all['Season'] == 2019]
LAC_df_2020 = LAC_df_all[LAC_df_all['Season'] == 2020]
LAC_df_2021 = LAC_df_all[LAC_df_all['Season'] == 2021]

In [10]:
LAC_df_2001.head(12)
LAC_df_2001 = LAC_df_2001.replace("Jermaine O'Neal", "Jermaine O'Neal")

In [22]:
# changing names
#LAC_df_2002.loc[LAC_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#LAC_df_2004.loc[LAC_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [11]:
LAC_df_2000_players = LAC_df_2000['PLAYER'].to_list()
LAC_df_2001_players = LAC_df_2001['PLAYER'].to_list()
LAC_df_2002_players = LAC_df_2002['PLAYER'].to_list()
LAC_df_2003_players = LAC_df_2003['PLAYER'].to_list()
LAC_df_2004_players = LAC_df_2004['PLAYER'].to_list()
LAC_df_2005_players = LAC_df_2005['PLAYER'].to_list()

LAC_df_2006_players = LAC_df_2006['PLAYER'].to_list()
LAC_df_2007_players = LAC_df_2007['PLAYER'].to_list()
LAC_df_2008_players = LAC_df_2008['PLAYER'].to_list()
LAC_df_2009_players = LAC_df_2009['PLAYER'].to_list()
LAC_df_2010_players = LAC_df_2010['PLAYER'].to_list()
LAC_df_2011_players = LAC_df_2011['PLAYER'].to_list()

LAC_df_2012_players = LAC_df_2012['PLAYER'].to_list()
LAC_df_2013_players = LAC_df_2013['PLAYER'].to_list()
LAC_df_2014_players = LAC_df_2014['PLAYER'].to_list()
LAC_df_2015_players = LAC_df_2015['PLAYER'].to_list()
LAC_df_2016_players = LAC_df_2016['PLAYER'].to_list()
LAC_df_2017_players = LAC_df_2017['PLAYER'].to_list()

LAC_df_2018_players = LAC_df_2018['PLAYER'].to_list()
LAC_df_2019_players = LAC_df_2019['PLAYER'].to_list()
LAC_df_2020_players = LAC_df_2020['PLAYER'].to_list()
LAC_df_2021_players = LAC_df_2021['PLAYER'].to_list()

## players to drop

In [42]:
# drop Jermaine O'Neal 2001-2008
#LAC_df_2000_players.remove("Charles Jones")
#LAC_df_2000_players.remove("Maurice Taylor")

#LAC_df_2005_players.remove("Mamadou N'Diaye")

#LAC_df_2006_players.remove("Boniface N'Dong")

#LAC_df_2007_players.remove("Luke Jackson")

#LAC_df_2011_players.remove("Mo Williams")
#LAC_df_2012_players.remove("Mo Williams")

LAC_df_2016_players.remove("Jeff Ayres")

In [17]:
# removed charles jones
# removed maurice taylor

LAC_2000_gamelog = []



for p in LAC_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2000_gamelog.append(player_log)
LAC_2000_gamelog = pd.concat(LAC_2000_gamelog)    
LAC_2000_gamelogs = LAC_2000_gamelog.copy()
LAC_2000_gamelogs['GAME_SCORE'] = LAC_2000_gamelogs['GAME_SCORE'].astype(float)
LAC_2000_games = LAC_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2000_games_csv = LAC_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2000_games.csv', index=False)
LAC_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2000_games.csv')
LAC_2000_games_proc.head()

You searched for "Derek Anderson"
12 results found.
0: Derek Anderson
1: Eric Anderson
2: Greg Anderson
3: Andrew Anderson
4: Dan Anderson
5: Dan Anderson
6: James Anderson
7: Jerome Anderson
8: Kenny Anderson
9: Kyle Anderson
10: Nick Anderson
11: Ron Anderson
Pick one: 0
Results for Derek Anderson:

You searched for "Anthony Avent"
8 results found.
0: Anthony Avent
1: Anthony Davis
2: Anthony Mason
3: Anthony Bowie
4: Anthony Brown
5: Anthony Carter
6: Anthony Jones
7: Anthony Parker
Pick one: 0
Results for Anthony Avent:

You searched for "Mario Bennett"
2 results found.
0: Mario Bennett
1: Mel Bennett
Pick one: 0
Results for Mario Bennett:

You searched for "Etdrick Bohannon"
1 result found.
Etdrick Bohannon
Results for Etdrick Bohannon:

You searched for "Pete Chilcutt"
1 result found.
Pete Chilcutt
Results for Pete Chilcutt:

You searched for "Keith Closs"
8 results found.
0: Keith Closs
1: Keith Booth
2: Bill Closs
3: Pete Cross
4: Keith Lee
5: Keith McCord
6: Keith McLeod
7: Keith Owens
Pick one: 0
Results for Keith Closs:

You searched for "Marty Conlon"
5 results found.
0: Marty Conlon
1: Larry Cannon
2: Mardy Collins
3: Larry Conley
4: Art Collins
Pick one: 0
Results for Marty Conlon:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Jeff McInnis"
2 results found.
0: Jeff McInnis
1: Jeff Mullins
Pick one: 0
Results for Jeff McInnis:

You searched for "Eric Murdock"
2 results found.
0: Eric Murdock
1: Eric Gordon
Pick one: 0
Results for Eric Murdock:

You searched for "Tyrone Nesby"
1 result found.
Tyrone Nesby
Results for Tyrone Nesby:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-04-19,20-165,LAC,AWAY,SEA,W (+8),1,39:04,9,19,...,14,7,1,4,5,4,33,31.6,14,Lamar Odom
1,2000-03-12,20-127,LAC,AWAY,GSW,W (+9),1,45:24,10,19,...,14,7,0,1,1,3,29,28.5,9,Lamar Odom
2,2000-04-12,29-195,LAC,AWAY,UTA,L (-9),1,44:38,11,19,...,1,3,2,0,1,4,35,27.9,-4,Eric Piatkowski
3,2000-03-14,29-166,LAC,HOME,DEN,W (+4),1,37:39,11,15,...,5,1,1,0,1,2,31,26.7,6,Eric Piatkowski
4,2000-01-27,25-193,LAC,AWAY,DAL,L (-9),1,43:33,11,22,...,3,4,1,0,2,2,35,26.7,-6,Derek Anderson

In [18]:

LAC_2001_gamelog = []


for p in LAC_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2001_gamelog.append(player_log)
LAC_2001_gamelog = pd.concat(LAC_2001_gamelog)    
LAC_2001_gamelogs = LAC_2001_gamelog.copy()
LAC_2001_gamelogs['GAME_SCORE'] = LAC_2001_gamelogs['GAME_SCORE'].astype(float)
LAC_2001_games = LAC_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2001_games_csv = LAC_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2001_games.csv', index=False)
LAC_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2001_games.csv')
LAC_2001_games_proc.head()

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Zendon Hamilton"
3 results found.
0: Zendon Hamilton
1: Dennis Hamilton
2: Jordan Hamilton
Pick one: 0
Results for Zendon Hamilton:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Jeff McInnis"
2 results found.
0: Jeff McInnis
1: Jeff Mullins
Pick one: 0
Results for Jeff McInnis:

You searched for "Darius Miles"
6 results found.
0: Darius Miles
1: Darius Miller
2: Darius Bazley
3: Aaron Miles
4: Chris Mills
5: Darius Morris
Pick one: 0
Results for Darius Miles:

You searched for "Tyrone Nesby"
1 result found.
Tyrone Nesby
Results for Tyrone Nesby:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Cherokee Parks"
2 results found.
0: Cherokee Parks
1: Charles Parks
Pick one: 0
Results for Cherokee Parks:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Sean Rooks"
8 results found.
0: Sean Rooks
1: Sean Marks
2: Kevin Brooks
3: Stan Brown
4: Sean Colson
5: Brian Cook
6: Sean Green
7: Jerry Rook
Pick one: 0
Results for Sean Rooks:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Derek Strong"
2 results found.
0: Derek Strong
1: Derek Fisher
Pick one: 0
Results for Derek Strong:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-11-10,26-019,LAC,HOME,ATL,W (+9),1,32:13,11,17,...,4,6,5,0,0,4,28,29.7,18,Jeff McInnis
1,2001-03-27,21-141,LAC,HOME,DET,W (+7),1,39:37,10,17,...,16,11,1,1,6,3,27,27.7,6,Lamar Odom
2,2001-02-24,26-125,LAC,HOME,POR,W (+3),1,47:20,8,14,...,4,10,2,0,1,1,23,25.6,4,Jeff McInnis
3,2001-01-07,21-062,LAC,AWAY,LAL,W (+23),1,36:45,13,18,...,8,5,1,1,3,3,29,25.4,19,Lamar Odom
4,2001-02-07,21-093,LAC,AWAY,GSW,L (-1),1,39:35,11,15,...,10,4,2,3,3,3,27,25.0,6,Lamar Odom

In [19]:

LAC_2002_gamelog = []


for p in LAC_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2002_gamelog.append(player_log)
LAC_2002_gamelog = pd.concat(LAC_2002_gamelog)    
LAC_2002_gamelogs = LAC_2002_gamelog.copy()
LAC_2002_gamelogs['GAME_SCORE'] = LAC_2002_gamelogs['GAME_SCORE'].astype(float)
LAC_2002_games = LAC_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2002_games_csv = LAC_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2002_games.csv', index=False)
LAC_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2002_games.csv')
LAC_2002_games_proc.head()

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Obinna Ekezie"
1 result found.
Obinna Ekezie
Results for Obinna Ekezie:

You searched for "Tremaine Fowlkes"
1 result found.
Tremaine Fowlkes
Results for Tremaine Fowlkes:

You searched for "Harold Jamison"
3 results found.
0: Harold Jamison
1: Harold Johnson
2: Harold Miner
Pick one: 0
Results for Harold Jamison:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Jeff McInnis"
2 results found.
0: Jeff McInnis
1: Jeff Mullins
Pick one: 0
Results for Jeff McInnis:

You searched for "Darius Miles"
6 results found.
0: Darius Miles
1: Darius Miller
2: Darius Bazley
3: Aaron Miles
4: Chris Mills
5: Darius Morris
Pick one: 0
Results for Darius Miles:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Doug Overton"
1 result found.
Doug Overton
Results for Doug Overton:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Eldridge Recasner"
1 result found.
Eldridge Recasner
Results for Eldridge Recasner:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Sean Rooks"
8 results found.
0: Sean Rooks
1: Sean Marks
2: Kevin Brooks
3: Stan Brown
4: Sean Colson
5: Brian Cook
6: Sean Green
7: Jerry Rook
Pick one: 0
Results for Sean Rooks:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-01-21,22-316,LAC,HOME,DEN,W (+13),1,42:01,11,17,...,14,1,1,6,3,2,31,31.8,17,Elton Brand
1,2002-03-21,23-010,LAC,AWAY,GSW,W (+20),1,41:40,14,20,...,16,4,0,4,2,5,30,31.2,15,Elton Brand
2,2002-02-16,31-139,LAC,HOME,DAL,W (+9),1,48:00,11,16,...,6,4,0,0,2,2,36,31.0,9,Eric Piatkowski
3,2002-02-25,22-351,LAC,AWAY,MEM,W (+13),1,45:02,10,12,...,23,0,1,2,3,4,27,29.3,14,Elton Brand
4,2002-03-29,23-018,LAC,AWAY,PHO,W (+2),1,38:12,6,11,...,11,6,1,1,0,1,23,27.7,17,Elton Brand

In [20]:

LAC_2003_gamelog = []



for p in LAC_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2003_gamelog.append(player_log)
LAC_2003_gamelog = pd.concat(LAC_2003_gamelog)    
LAC_2003_gamelogs = LAC_2003_gamelog.copy()
LAC_2003_gamelogs['GAME_SCORE'] = LAC_2003_gamelogs['GAME_SCORE'].astype(float)
LAC_2003_games = LAC_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2003_games_csv = LAC_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2003_games.csv', index=False)
LAC_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2003_games.csv')
LAC_2003_games_proc.head()

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Melvin Ely"
1 result found.
Melvin Ely
Results for Melvin Ely:

You searched for "Tremaine Fowlkes"
1 result found.
Tremaine Fowlkes
Results for Tremaine Fowlkes:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Cherokee Parks"
2 results found.
0: Cherokee Parks
1: Charles Parks
Pick one: 0
Results for Cherokee Parks:

You searched for "Eric Piatkowski"
1 result found.
Eric Piatkowski
Results for Eric Piatkowski:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Sean Rooks"
8 results found.
0: Sean Rooks
1: Sean Marks
2: Kevin Brooks
3: Stan Brown
4: Sean Colson
5: Brian Cook
6: Sean Green
7: Jerry Rook
Pick one: 0
Results for Sean Rooks:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

You searched for "Wang Zhizhi"
1 result found.
Wang Zhizhi
Results for Wang Zhizhi:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-11-28,26-254,LAC,HOME,NJN,W (+8),1,48:12,14,24,...,3,16,2,0,1,4,37,38.1,11,Andre Miller
1,2003-04-14,24-034,LAC,AWAY,GSW,W (+9),1,46:49,12,23,...,23,5,4,2,1,4,26,32.3,9,Elton Brand
2,2003-01-18,23-313,LAC,HOME,SAC,W (+5),1,45:50,12,16,...,15,3,1,2,6,2,34,31.8,8,Elton Brand
3,2002-12-07,23-271,LAC,HOME,MIN,W (+16),1,45:27,11,20,...,17,5,0,3,0,2,26,28.3,21,Elton Brand
4,2002-12-14,23-278,LAC,AWAY,HOU,W (+11),1,45:47,12,21,...,16,2,2,4,2,5,27,26.5,14,Elton Brand

In [21]:


LAC_2004_gamelog = []



for p in LAC_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2004_gamelog.append(player_log)
LAC_2004_gamelog = pd.concat(LAC_2004_gamelog)    
LAC_2004_gamelogs = LAC_2004_gamelog.copy()
LAC_2004_gamelogs['GAME_SCORE'] = LAC_2004_gamelogs['GAME_SCORE'].astype(float)
LAC_2004_games = LAC_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2004_games_csv = LAC_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2004_games.csv', index=False)
LAC_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2004_games.csv')
LAC_2004_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Predrag Drobnjak"
1 result found.
Predrag Drobnjak
Results for Predrag Drobnjak:

You searched for "Melvin Ely"
1 result found.
Melvin Ely
Results for Melvin Ely:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Randy Livingston"
2 results found.
0: Randy Livingston
1: Ron Livingstone
Pick one: 0
Results for Randy Livingston:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Doug Overton"
1 result found.
Doug Overton
Results for Doug Overton:

You searched for "Olden Polynice"
1 result found.
Olden Polynice
Results for Olden Polynice:

You searched for "Glen Rice"
7 results found.
0: Glen Rice
1: Glen Rice
2: Greg Kite
3: Brent Price
4: Gene Rock
5: Jalen Rose
6: Glen Davis
Pick one: 0
Results for Glen Rice:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

You searched for "Wang Zhizhi"
1 result found.
Wang Zhizhi
Results for Wang Zhizhi:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-02-19,24-345,LAC,HOME,BOS,W (+2),1,41:08,14,22,...,11,2,4,6,4,5,39,36.5,-3,Elton Brand
1,2003-12-31,23-262,LAC,HOME,DEN,W (+16),1,38:09,17,30,...,10,2,2,0,3,3,44,33.6,12,Quentin Richardson
2,2004-01-17,24-312,LAC,AWAY,LAL,L (-2),1,40:54,11,20,...,20,3,0,1,2,3,35,33.0,8,Elton Brand
3,2004-01-04,24-299,LAC,HOME,LAL,W (+3),1,43:03,9,15,...,15,6,0,5,4,4,30,31.3,-1,Elton Brand
4,2003-11-11,23-212,LAC,HOME,ATL,W (+12),1,37:21,12,24,...,16,5,1,1,2,1,32,30.8,13,Quentin Richardson

In [24]:


LAC_2005_gamelog = []

for p in LAC_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2005_gamelog.append(player_log)
LAC_2005_gamelog = pd.concat(LAC_2005_gamelog)    
LAC_2005_gamelogs = LAC_2005_gamelog.copy()
LAC_2005_gamelogs['GAME_SCORE'] = LAC_2005_gamelogs['GAME_SCORE'].astype(float)
LAC_2005_games = LAC_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2005_games_csv = LAC_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2005_games.csv', index=False)
LAC_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2005_games.csv')
LAC_2005_games_proc.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Maurice Baker"
9 results found.
0: Maurice Baker
1: Maurice Ager
2: Maurice Carter
3: Maurice Ndour
4: Maurice Stokes
5: Maurice Taylor
6: Maurice Evans
7: Maurice King
8: Maurice Lucas
Pick one: 0
Results for Maurice Baker:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Lionel Chalmers"
1 result found.
Lionel Chalmers
Results for Lionel Chalmers:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Kerry Kittles"
1 result found.
Kerry Kittles
Results for Kerry Kittles:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Darrick Martin"
5 results found.
0: Darrick Martin
1: Maurice Martin
2: Derrick Gervin
3: Cartier Martin
4: Derrick Walton
Pick one: 0
Results for Darrick Martin:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Kirk Penney"
1 result found.
Kirk Penney
Results for Kirk Penney:

You searched for "Željko Rebrača"
1 result found.
Zeljko Rebraca
Results for Zeljko Rebraca:

You searched for "Quinton Ross"
2 results found.
0: Quinton Ross
1: Quinton Rose
Pick one: 0
Results for Quinton Ross:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-11-03,24-154,LAC,HOME,SEA,W (+30),1,35:02,13,15,...,6,6,0,0,0,1,30,31.5,29,Bobby Simmons
1,2005-04-03,26-023,LAC,AWAY,ATL,W (+20),1,38:11,13,18,...,12,3,0,2,0,2,33,31.5,26,Elton Brand
2,2005-01-12,25-061,LAC,HOME,SEA,W (+11),1,43:24,11,19,...,10,5,3,0,0,3,31,30.8,10,Corey Maggette
3,2005-03-08,25-116,LAC,AWAY,LAL,W (+9),1,39:13,9,11,...,3,7,2,0,1,4,30,30.7,20,Corey Maggette
4,2005-04-18,26-038,LAC,AWAY,HOU,L (-25),1,37:16,15,19,...,6,2,0,1,0,5,36,29.8,-23,Elton Brand

In [27]:

# removed Boniface N'Dong

LAC_2006_gamelog = []

for p in LAC_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2006_gamelog.append(player_log)
LAC_2006_gamelog = pd.concat(LAC_2006_gamelog)    
LAC_2006_gamelogs = LAC_2006_gamelog.copy()
LAC_2006_gamelogs['GAME_SCORE'] = LAC_2006_gamelogs['GAME_SCORE'].astype(float)
LAC_2006_games = LAC_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2006_games_csv = LAC_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2006_games.csv', index=False)
LAC_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2006_games.csv')
LAC_2006_games_proc.head()

You searched for "Vin Baker"
8 results found.
0: Vin Baker
1: Ron Baker
2: Von Wafer
3: Norm Baker
4: Tom Barker
5: Devin Booker
6: Thon Maker
7: Zan Tabak
Pick one: 0
Results for Vin Baker:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Daniel Ewing"
3 results found.
0: Daniel Ewing
1: Daniel Orton
2: Daniel Theis
Pick one: 0
Results for Daniel Ewing:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Yaroslav Korolev"
1 result found.
Yaroslav Korolev
Results for Yaroslav Korolev:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Cuttino Mobley"
1 result found.
Cuttino Mobley
Results for Cuttino Mobley:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Željko Rebrača"
1 result found.
Zeljko Rebraca
Results for Zeljko Rebraca:

You searched for "Quinton Ross"
2 results found.
0: Quinton Ross
1: Quinton Rose
Pick one: 0
Results for Quinton Ross:

You searched for "James Singleton"
2 results found.
0: James Singleton
1: Chris Singleton
Pick one: 0
Results for James Singleton:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-12-23,26-287,LAC,AWAY,CHA,W (+9),1,40:14,14,25,...,20,5,1,3,3,3,38,38.1,9,Elton Brand
1,2006-01-16,26-311,LAC,HOME,UTA,W (+9),1,46:40,10,24,...,14,4,2,7,1,2,35,35.5,15,Elton Brand
2,2006-02-10,26-336,LAC,HOME,MEM,W (+4),1,44:45,17,26,...,9,2,2,2,4,4,44,35.3,-2,Elton Brand
3,2005-12-05,26-269,LAC,HOME,MIA,W (+10),1,42:12,16,23,...,12,3,1,6,3,4,37,34.0,11,Elton Brand
4,2006-02-01,26-327,LAC,AWAY,ORL,W (+12),1,39:24,12,22,...,9,4,4,1,0,4,35,33.0,2,Elton Brand

In [30]:
# removed luke jackson

LAC_2007_gamelog = []

for p in LAC_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2007_gamelog.append(player_log)
LAC_2007_gamelog = pd.concat(LAC_2007_gamelog)    
LAC_2007_gamelogs = LAC_2007_gamelog.copy()
LAC_2007_gamelogs['GAME_SCORE'] = LAC_2007_gamelogs['GAME_SCORE'].astype(float)
LAC_2007_games = LAC_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2007_games_csv = LAC_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2007_games.csv', index=False)
LAC_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2007_games.csv')
LAC_2007_games_proc.head()

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Doug Christie"
2 results found.
0: Doug Christie
1: Doug Kistler
Pick one: 0
Results for Doug Christie:

You searched for "Will Conroy"
6 results found.
0: Will Conroy
1: Will Cherry
2: Bill Crow
3: Bill Henry
4: Will Barton
5: Willie Long
Pick one: 0
Results for Will Conroy:

You searched for "Paul Davis"
29 results found.
0: Paul Davis
1: Bill Davis
2: Dale Davis
3: Mark Davis
4: Mark Davis
5: Mel Davis
6: Walt Davis
7: Paul Dawkins
8: Baron Davis
9: Ben Davis
10: Bob Davis
11: Brad Davis
12: Ed Davis
13: Emanual Davis
14: Glen Davis
15: Harry Davis
16: Jim Davis
17: Josh Davis
18: Lee Davis
19: Mike Davis
20: Mike Davis
21: Ralph Davis
22: Red Davis
23: Ron Davis
24: Paul Silas
25: Paul Eboua
26: Paul Cloyd
27: Pau Gasol
28: Paul Grant
Pick one: 0
Results for Paul Davis:

You searched for "Daniel Ewing"
3 results found.
0: Daniel Ewing
1: Daniel Orton
2: Daniel Theis
Pick one: 0
Results for Daniel Ewing:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Yaroslav Korolev"
1 result found.
Yaroslav Korolev
Results for Yaroslav Korolev:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Cuttino Mobley"
1 result found.
Cuttino Mobley
Results for Cuttino Mobley:

You searched for "Quinton Ross"
2 results found.
0: Quinton Ross
1: Quinton Rose
Pick one: 0
Results for Quinton Ross:

You searched for "James Singleton"
2 results found.
0: James Singleton
1: Chris Singleton
Pick one: 0
Results for James Singleton:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Von Wafer"
14 results found.
0: Von Wafer
1: Ron Baker
2: Vin Baker
3: Ron Carter
4: Ron Harper
5: Jon Leuer
6: Thon Maker
7: Bob Naber
8: Ron Watts
9: Don Ford
10: Don Grate
11: Dean Wade
12: John Wall
13: Ron Rowan
Pick one: 0
Results for Von Wafer:

You searched for "Aaron Williams"
39 results found.
0: Aaron Williams
1: Deron Williams
2: Jason Williams
3: Ron Williams
4: Alan Williams
5: Alvin Williams
6: Art Williams
7: Earl Williams
8: Jayson Williams
9: Marvin Williams
10: Rob Williams
11: Troy Williams
12: Ward Williams
13: Al Williams
14: Bob Williams
15: Brandon Williams
16: Corey Williams
17: Eric Williams
18: Frank Williams
19: Grant Williams
20: Hank Williams
21: Herb Williams
22: Jawad Williams
23: Jay Williams
24: Jerome Williams
25: John Williams
26: Jordan Williams
27: Kevin Williams
28: Lou Williams
29: Marcus Williams
30: Marcus Williams
31: Matt Williams
32: Mo Williams
33: Nate Williams
34: Ray Williams
35: Sam Williams
36: Sam Williams
37: Sean Williams
38: Walt Williams
Pick one: 0
Results for Aaron Williams:

You searched for "Alvin Williams"
24 results found.
0: Alvin Williams
1: Alan Williams
2: Kevin Williams
3: Marvin Williams
4: Aaron Williams
5: Al Williams
6: Art Williams
7: Cliff Williams
8: Deron Williams
9: Elliot Williams
10: Eric Williams
11: Fly Williams
12: Jason Williams
13: Jayson Williams
14: John Williams
15: Justin Williams
16: Lou Williams
17: Ron Williams
18: Sean Williams
19: Sly Williams
20: Travis Williams
21: Walt Williams
22: Willie Williams
23: Kevin Willis
Pick one: 0
Results for Alvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-04-12,27-151,LAC,AWAY,LAL,W (+8),1,42:51,10,15,...,8,9,4,1,3,4,39,39.3,13,Corey Maggette
1,2007-04-15,28-035,LAC,HOME,SAC,L (-5),1,47:14,9,14,...,14,7,2,3,2,4,29,34.4,0,Elton Brand
2,2007-03-14,28-003,LAC,AWAY,HOU,L (-4),1,45:29,13,23,...,10,5,1,1,2,1,37,32.7,-5,Elton Brand
3,2006-12-05,27-269,LAC,HOME,MIA,W (+4),1,41:35,13,18,...,17,3,0,1,3,2,33,31.3,12,Elton Brand
4,2006-11-08,31-068,LAC,HOME,DAL,W (+18),1,37:56,10,15,...,7,3,4,1,0,0,28,30.4,22,Cuttino Mobley

In [31]:


LAC_2008_gamelog = []

for p in LAC_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2008_gamelog.append(player_log)
LAC_2008_gamelog = pd.concat(LAC_2008_gamelog)    
LAC_2008_gamelogs = LAC_2008_gamelog.copy()
LAC_2008_gamelogs['GAME_SCORE'] = LAC_2008_gamelogs['GAME_SCORE'].astype(float)
LAC_2008_games = LAC_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2008_games_csv = LAC_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2008_games.csv', index=False)
LAC_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2008_games.csv')
LAC_2008_games_proc.head()

You searched for "Andre Barrett"
5 results found.
0: Andre Barrett
1: Ernie Barrett
2: Mike Barrett
3: RJ Barrett
4: Andre Emmett
Pick one: 0
Results for Andre Barrett:

You searched for "Elton Brand"
1 result found.
Elton Brand
Results for Elton Brand:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Paul Davis"
29 results found.
0: Paul Davis
1: Bill Davis
2: Dale Davis
3: Mark Davis
4: Mark Davis
5: Mel Davis
6: Walt Davis
7: Paul Dawkins
8: Baron Davis
9: Ben Davis
10: Bob Davis
11: Brad Davis
12: Ed Davis
13: Emanual Davis
14: Glen Davis
15: Harry Davis
16: Jim Davis
17: Josh Davis
18: Lee Davis
19: Mike Davis
20: Mike Davis
21: Ralph Davis
22: Red Davis
23: Ron Davis
24: Paul Silas
25: Paul Eboua
26: Paul Cloyd
27: Pau Gasol
28: Paul Grant
Pick one: 0
Results for Paul Davis:

You searched for "Guillermo Díaz"
1 result found.
Guillermo Diaz
Results for Guillermo Diaz:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Nick Fazekas"
1 result found.
Nick Fazekas
Results for Nick Fazekas:

You searched for "Richie Frahm"
2 results found.
0: Richie Frahm
1: Richie Regan
Pick one: 0
Results for Richie Frahm:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Brevin Knight"
5 results found.
0: Brevin Knight
1: Brandin Knight
2: Travis Knight
3: Brandon Knight
4: Ron Knight
Pick one: 0
Results for Brevin Knight:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Cuttino Mobley"
1 result found.
Cuttino Mobley
Results for Cuttino Mobley:

You searched for "Smush Parker"
2 results found.
0: Smush Parker
1: Sonny Parker
Pick one: 0
Results for Smush Parker:

You searched for "Ruben Patterson"
1 result found.
Ruben Patterson
Results for Ruben Patterson:

You searched for "Josh Powell"
7 results found.
0: Josh Powell
1: Josh Hall
2: Josh Howard
3: Kasib Powell
4: Roger Powell
5: Josh Selby
6: Josh Okogie
Pick one: 0
Results for Josh Powell:

You searched for "Quinton Ross"
2 results found.
0: Quinton Ross
1: Quinton Rose
Pick one: 0
Results for Quinton Ross:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Al Thornton"
7 results found.
0: Al Thornton
1: Bob Thornton
2: Al Hairston
3: Ed Horton
4: Dallas Thornton
5: Mel Thurston
6: Al Horford
Pick one: 0
Results for Al Thornton:

You searched for "Aaron Williams"
39 results found.
0: Aaron Williams
1: Deron Williams
2: Jason Williams
3: Ron Williams
4: Alan Williams
5: Alvin Williams
6: Art Williams
7: Earl Williams
8: Jayson Williams
9: Marvin Williams
10: Rob Williams
11: Troy Williams
12: Ward Williams
13: Al Williams
14: Bob Williams
15: Brandon Williams
16: Corey Williams
17: Eric Williams
18: Frank Williams
19: Grant Williams
20: Hank Williams
21: Herb Williams
22: Jawad Williams
23: Jay Williams
24: Jerome Williams
25: John Williams
26: Jordan Williams
27: Kevin Williams
28: Lou Williams
29: Marcus Williams
30: Marcus Williams
31: Matt Williams
32: Mo Williams
33: Nate Williams
34: Ray Williams
35: Sam Williams
36: Sam Williams
37: Sean Williams
38: Walt Williams
Pick one: 0
Results for Aaron Williams:

You searched for "Marcus Williams"
10 results found.
0: Marcus Williams
1: Marcus Williams
2: Marvin Williams
3: Aaron Williams
4: Art Williams
5: Charles Williams
6: Earl Williams
7: Gus Williams
8: Matt Williams
9: Ward Williams
Pick one: 0
Results for Marcus Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-07,37-354,LAC,AWAY,IND,W (+15),1,32:47,13,20,...,3,8,2,0,2,0,35,32.3,24,Sam Cassell
1,2008-03-29,24-113,LAC,HOME,MEM,W (+13),1,44:17,13,23,...,3,2,5,0,3,1,39,32.0,12,Al Thornton
2,2008-02-06,28-086,LAC,AWAY,BOS,L (-11),1,38:22,11,18,...,8,3,5,0,3,3,33,30.9,2,Corey Maggette
3,2008-01-19,28-068,LAC,HOME,NJN,W (+13),1,35:18,11,16,...,7,6,2,0,1,3,31,30.7,19,Corey Maggette
4,2008-01-26,28-075,LAC,AWAY,MEM,L (-5),1,47:30,8,14,...,9,2,2,0,3,6,35,28.7,-5,Corey Maggette

In [32]:


LAC_2009_gamelog = []

for p in LAC_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2009_gamelog.append(player_log)
LAC_2009_gamelog = pd.concat(LAC_2009_gamelog)    
LAC_2009_gamelogs = LAC_2009_gamelog.copy()
LAC_2009_gamelogs['GAME_SCORE'] = LAC_2009_gamelogs['GAME_SCORE'].astype(float)
LAC_2009_games = LAC_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2009_games_csv = LAC_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2009_games.csv', index=False)
LAC_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2009_games.csv')
LAC_2009_games_proc.head()

You searched for "Alex Acker"
8 results found.
0: Alex Acker
1: Alex Kirk
2: Alex Len
3: Alex Scales
4: Al Tucker
5: Alex Garcia
6: Alex Groza
7: Al Cervi
Pick one: 0
Results for Alex Acker:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Mardy Collins"
8 results found.
0: Mardy Collins
1: Art Collins
2: James Collins
3: Jarron Collins
4: Jason Collins
5: Jimmy Collins
6: Zach Collins
7: Marty Conlon
Pick one: 0
Results for Mardy Collins:

You searched for "Baron Davis"
22 results found.
0: Baron Davis
1: Ron Davis
2: Ben Davis
3: Bob Davis
4: Brad Davis
5: Brian Davis
6: Harry Davis
7: Mark Davis
8: Mark Davis
9: Warren Davis
10: Bob Davies
11: Brandon Davies
12: Bill Davis
13: Dale Davis
14: Glen Davis
15: Paul Davis
16: Ralph Davis
17: Red Davis
18: Terry Davis
19: Walt Davis
20: Byron Irvin
21: Aaron James
Pick one: 0
Results for Baron Davis:

You searched for "Paul Davis"
29 results found.
0: Paul Davis
1: Bill Davis
2: Dale Davis
3: Mark Davis
4: Mark Davis
5: Mel Davis
6: Walt Davis
7: Paul Dawkins
8: Baron Davis
9: Ben Davis
10: Bob Davis
11: Brad Davis
12: Ed Davis
13: Emanual Davis
14: Glen Davis
15: Harry Davis
16: Jim Davis
17: Josh Davis
18: Lee Davis
19: Mike Davis
20: Mike Davis
21: Ralph Davis
22: Red Davis
23: Ron Davis
24: Paul Silas
25: Paul Eboua
26: Paul Cloyd
27: Pau Gasol
28: Paul Grant
Pick one: 0
Results for Paul Davis:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Eric Gordon"
12 results found.
0: Eric Gordon
1: Drew Gordon
2: Eric Dawson
3: Aaron Gordon
4: Ben Gordon
5: Paul Gordon
6: Erick Green
7: Eric Johnson
8: Phil Jordon
9: Eric Murdock
10: Eric Maynor
11: Eric Money
Pick one: 0
Results for Eric Gordon:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Cuttino Mobley"
1 result found.
Cuttino Mobley
Results for Cuttino Mobley:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Zach Randolph"
1 result found.
Zach Randolph
Results for Zach Randolph:

You searched for "Cheikh Samb"
1 result found.
Cheikh Samb
Results for Cheikh Samb:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Mike Taylor"
19 results found.
0: Mike Taylor
1: Mike Maloy
2: Vince Taylor
3: Mike Bantom
4: Mike Barr
5: Mike Butler
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Miller
11: Brian Taylor
12: Fred Taylor
13: Jay Taylor
14: Jeff Taylor
15: Maurice Taylor
16: Oliver Taylor
17: Mike Bloom
18: Mike Tobey
Pick one: 0
Results for Mike Taylor:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Al Thornton"
7 results found.
0: Al Thornton
1: Bob Thornton
2: Al Hairston
3: Ed Horton
4: Dallas Thornton
5: Mel Thurston
6: Al Horford
Pick one: 0
Results for Al Thornton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-01-23,20-029,LAC,HOME,OKC,W (+3),1,43:37,12,19,...,2,4,1,0,2,4,41,32.5,0,Eric Gordon
1,2009-03-07,20-072,LAC,HOME,IND,L (-1),1,45:21,12,18,...,2,6,2,1,2,0,35,31.9,3,Eric Gordon
2,2008-11-19,26-205,LAC,AWAY,OKC,W (+20),1,38:20,11,13,...,14,6,0,4,1,5,25,29.3,31,Chris Kaman
3,2009-02-06,27-205,LAC,AWAY,MEM,W (+21),1,35:46,13,19,...,10,3,1,0,2,3,35,28.6,28,Zach Randolph
4,2009-03-25,27-252,LAC,AWAY,NYK,W (+5),1,37:58,15,21,...,6,3,2,0,3,1,33,28.0,0,Zach Randolph

In [33]:


LAC_2010_gamelog = []

for p in LAC_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2010_gamelog.append(player_log)
LAC_2010_gamelog = pd.concat(LAC_2010_gamelog)    
LAC_2010_gamelogs = LAC_2010_gamelog.copy()
LAC_2010_gamelogs['GAME_SCORE'] = LAC_2010_gamelogs['GAME_SCORE'].astype(float)
LAC_2010_games = LAC_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2010_games_csv = LAC_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2010_games.csv', index=False)
LAC_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2010_games.csv')
LAC_2010_games_proc.head()

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Bobby Brown"
14 results found.
0: Bobby Brown
1: Bob Brown
2: Tony Brown
3: Bobby Croft
4: Bruce Brown
5: John Brown
6: Larry Brown
7: Moses Brown
8: Randy Brown
9: Roger Brown
10: Roger Brown
11: Troy Brown
12: Bobby Cook
13: Bobby Lloyd
Pick one: 0
Results for Bobby Brown:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Mardy Collins"
8 results found.
0: Mardy Collins
1: Art Collins
2: James Collins
3: Jarron Collins
4: Jason Collins
5: Jimmy Collins
6: Zach Collins
7: Marty Conlon
Pick one: 0
Results for Mardy Collins:

You searched for "JamesOn Curry"
2 results found.
0: JamesOn Curry
1: Jason Terry
Pick one: 0
Results for JamesOn Curry:

You searched for "Baron Davis"
22 results found.
0: Baron Davis
1: Ron Davis
2: Ben Davis
3: Bob Davis
4: Brad Davis
5: Brian Davis
6: Harry Davis
7: Mark Davis
8: Mark Davis
9: Warren Davis
10: Bob Davies
11: Brandon Davies
12: Bill Davis
13: Dale Davis
14: Glen Davis
15: Paul Davis
16: Ralph Davis
17: Red Davis
18: Terry Davis
19: Walt Davis
20: Byron Irvin
21: Aaron James
Pick one: 0
Results for Baron Davis:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Eric Gordon"
12 results found.
0: Eric Gordon
1: Drew Gordon
2: Eric Dawson
3: Aaron Gordon
4: Ben Gordon
5: Paul Gordon
6: Erick Green
7: Eric Johnson
8: Phil Jordon
9: Eric Murdock
10: Eric Maynor
11: Eric Money
Pick one: 0
Results for Eric Gordon:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Travis Outlaw"
1 result found.
Travis Outlaw
Results for Travis Outlaw:

You searched for "Kareem Rush"
1 result found.
Kareem Rush
Results for Kareem Rush:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Craig Smith"
19 results found.
0: Craig Smith
1: Chris Smith
2: Chris Smith
3: Greg Smith
4: Greg Smith
5: Craig Dill
6: Al Smith
7: Doug Smith
8: Jim Smith
9: Otis Smith
10: Phil Smith
11: Randy Smith
12: Russ Smith
13: Sam Smith
14: Sam Smith
15: Zhaire Smith
16: Rik Smits
17: Craig Spitzer
18: Craig Ehlo
Pick one: 0
Results for Craig Smith:

You searched for "Sebastian Telfair"
1 result found.
Sebastian Telfair
Results for Sebastian Telfair:

You searched for "Al Thornton"
7 results found.
0: Al Thornton
1: Bob Thornton
2: Al Hairston
3: Ed Horton
4: Dallas Thornton
5: Mel Thurston
6: Al Horford
Pick one: 0
Results for Al Thornton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-01-12,30-274,LAC,AWAY,MEM,L (-2),1,45:50,11,21,...,12,12,5,1,2,4,27,32.4,3,Baron Davis
1,2010-04-12,36-021,POR,HOME,OKC,W (+8),1,36:11,12,16,...,13,3,1,1,0,4,30,30.9,14,Marcus Camby
2,2009-11-23,25-351,LAC,HOME,MIN,W (+4),1,42:48,11,16,...,10,1,0,0,1,2,31,28.5,6,Al Thornton
3,2010-03-23,28-180,LAC,AWAY,DAL,L (-10),1,39:18,8,21,...,20,2,2,1,2,3,26,25.4,11,Drew Gooden
4,2010-04-10,30-362,LAC,HOME,GSW,W (+3),1,22:55,8,11,...,5,5,2,3,0,1,21,25.2,12,Baron Davis

In [36]:
# removed Mo Williams
LAC_2011_gamelog = []

for p in LAC_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2011_gamelog.append(player_log)
LAC_2011_gamelog = pd.concat(LAC_2011_gamelog)    
LAC_2011_gamelogs = LAC_2011_gamelog.copy()
LAC_2011_gamelogs['GAME_SCORE'] = LAC_2011_gamelogs['GAME_SCORE'].astype(float)
LAC_2011_games = LAC_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2011_games_csv = LAC_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2011_games.csv', index=False)
LAC_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2011_games.csv')
LAC_2011_games_proc.head()

You searched for "Al-Farouq Aminu"
1 result found.
Al-Farouq Aminu
Results for Al-Farouq Aminu:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Baron Davis"
22 results found.
0: Baron Davis
1: Ron Davis
2: Ben Davis
3: Bob Davis
4: Brad Davis
5: Brian Davis
6: Harry Davis
7: Mark Davis
8: Mark Davis
9: Warren Davis
10: Bob Davies
11: Brandon Davies
12: Bill Davis
13: Dale Davis
14: Glen Davis
15: Paul Davis
16: Ralph Davis
17: Red Davis
18: Terry Davis
19: Walt Davis
20: Byron Irvin
21: Aaron James
Pick one: 0
Results for Baron Davis:

You searched for "Ike Diogu"
4 results found.
0: Ike Diogu
1: Ike Anigbogu
2: Mike Davis
3: Mike Davis
Pick one: 0
Results for Ike Diogu:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Eric Gordon"
12 results found.
0: Eric Gordon
1: Drew Gordon
2: Eric Dawson
3: Aaron Gordon
4: Ben Gordon
5: Paul Gordon
6: Erick Green
7: Eric Johnson
8: Phil Jordon
9: Eric Murdock
10: Eric Maynor
11: Eric Money
Pick one: 0
Results for Eric Gordon:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Jamario Moon"
1 result found.
Jamario Moon
Results for Jamario Moon:

You searched for "Craig Smith"
19 results found.
0: Craig Smith
1: Chris Smith
2: Chris Smith
3: Greg Smith
4: Greg Smith
5: Craig Dill
6: Al Smith
7: Doug Smith
8: Jim Smith
9: Otis Smith
10: Phil Smith
11: Randy Smith
12: Russ Smith
13: Sam Smith
14: Sam Smith
15: Zhaire Smith
16: Rik Smits
17: Craig Spitzer
18: Craig Ehlo
Pick one: 0
Results for Craig Smith:

You searched for "Willie Warren"
11 results found.
0: Willie Warren
1: Willie Allen
2: Willie Green
3: Willie Burton
4: Ollie Darden
5: Willie Murrell
6: Willie Porter
7: Willie Reed
8: Willie White
9: Willie Wise
10: Willie Worsley
Pick one: 0
Results for Willie Warren:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-01-17,21-307,LAC,HOME,IND,W (+7),1,36:56,19,24,...,14,3,0,1,4,3,47,40.0,17,Blake Griffin
1,2010-11-20,21-249,LAC,HOME,NYK,L (-9),1,38:55,14,24,...,15,7,2,1,4,4,44,38.1,-13,Blake Griffin
2,2011-04-06,22-021,LAC,AWAY,OKC,L (-4),1,38:05,15,20,...,11,6,1,1,0,2,35,35.4,-8,Blake Griffin
3,2010-12-20,21-360,LAC,HOME,MIN,W (+23),1,36:54,14,23,...,1,6,5,0,1,1,36,32.8,31,Eric Gordon
4,2011-03-23,22-007,LAC,HOME,WAS,W (+8),1,51:28,14,19,...,17,10,1,1,5,6,33,32.1,12,Blake Griffin

In [37]:
# removed Mo Williams

LAC_2012_gamelog = []

for p in LAC_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2012_gamelog.append(player_log)
LAC_2012_gamelog = pd.concat(LAC_2012_gamelog)    
LAC_2012_gamelogs = LAC_2012_gamelog.copy()
LAC_2012_gamelogs['GAME_SCORE'] = LAC_2012_gamelogs['GAME_SCORE'].astype(float)
LAC_2012_games = LAC_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2012_games_csv = LAC_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2012_games.csv', index=False)
LAC_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2012_games.csv')
LAC_2012_games_proc.head()

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Reggie Evans"
10 results found.
0: Reggie Evans
1: Reggie Geary
2: Reggie Hanson
3: Reggie Hearn
4: Reggie King
5: Reggie Lewis
6: Reggie Royals
7: Reggie Theus
8: Reggie Perry
9: Reggie Jordan
Pick one: 0
Results for Reggie Evans:

You searched for "Courtney Fortson"
1 result found.
Courtney Fortson
Results for Courtney Fortson:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Travis Leslie"
2 results found.
0: Travis Leslie
1: Travis Best
Pick one: 0
Results for Travis Leslie:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Trey Thompkins"
1 result found.
Trey Thompkins
Results for Trey Thompkins:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-03-09,26-308,LAC,AWAY,SAS,W (+12),1,37:49,12,20,...,4,11,4,0,1,3,36,37.9,14,Chris Paul
1,2012-04-22,26-352,LAC,HOME,NOH,W (+9),1,39:02,8,18,...,4,13,8,0,2,3,33,37.9,8,Chris Paul
2,2012-02-22,26-292,LAC,HOME,DEN,W (+8),1,39:25,11,16,...,1,9,2,0,3,1,36,34.0,22,Chris Paul
3,2012-02-01,26-271,LAC,AWAY,UTA,W (+2),1,35:45,15,24,...,5,11,3,0,4,1,34,31.4,12,Chris Paul
4,2012-03-18,26-317,LAC,HOME,DET,W (+4),1,43:48,8,14,...,9,15,4,0,0,0,19,30.0,14,Chris Paul

In [38]:
LAC_2013_gamelog = []

for p in LAC_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2013_gamelog.append(player_log)
LAC_2013_gamelog = pd.concat(LAC_2013_gamelog)    
LAC_2013_gamelogs = LAC_2013_gamelog.copy()
LAC_2013_gamelogs['GAME_SCORE'] = LAC_2013_gamelogs['GAME_SCORE'].astype(float)
LAC_2013_games = LAC_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2013_games_csv = LAC_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2013_games.csv', index=False)
LAC_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2013_games.csv')
LAC_2013_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Willie Green"
14 results found.
0: Willie Green
1: Willie Reed
2: Willie Allen
3: Willis Reed
4: Willie Warren
5: Willie Burton
6: Mike Green
7: Tommie Green
8: Willie Jones
9: Willie Porter
10: Willie Wise
11: Willie Long
12: Willie Rogers
13: Willie White
Pick one: 0
Results for Willie Green:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Grant Hill"
8 results found.
0: Grant Hill
1: Grant Riller
2: Gary Hill
3: Craig Dill
4: Armond Hill
5: Jordan Hill
6: Tyrone Hill
7: Grant Long
Pick one: 0
Results for Grant Hill:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "DaJuan Summers"
1 result found.
DaJuan Summers
Results for DaJuan Summers:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Maalik Wayns"
1 result found.
Maalik Wayns
Results for Maalik Wayns:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-14,28-222,LAC,AWAY,WAS,W (+16),1,32:49,11,14,...,3,12,3,0,2,2,38,42.5,24,Chris Paul
1,2013-10-31,28-178,LAC,HOME,GSW,W (+11),1,37:26,12,20,...,2,15,6,0,6,4,42,42.3,17,Chris Paul
2,2014-03-22,28-320,LAC,HOME,DET,W (+9),1,37:26,10,15,...,4,15,6,0,2,2,28,36.8,23,Chris Paul
3,2013-12-26,28-234,LAC,AWAY,POR,L (-4),1,44:50,16,29,...,3,16,6,0,1,1,34,36.4,10,Chris Paul
4,2014-01-10,24-300,LAC,HOME,LAL,W (+36),1,29:48,12,15,...,12,4,4,2,4,2,33,34.3,45,Blake Griffin

In [39]:
LAC_2014_gamelog = []

for p in LAC_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2014_gamelog.append(player_log)
LAC_2014_gamelog = pd.concat(LAC_2014_gamelog)    
LAC_2014_gamelogs = LAC_2014_gamelog.copy()
LAC_2014_gamelogs['GAME_SCORE'] = LAC_2014_gamelogs['GAME_SCORE'].astype(float)
LAC_2014_games = LAC_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2014_games_csv = LAC_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2014_games.csv', index=False)
LAC_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2014_games.csv')
LAC_2014_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Reggie Bullock"
1 result found.
Reggie Bullock
Results for Reggie Bullock:

You searched for "Darren Collison"
3 results found.
0: Darren Collison
1: Darren Tillis
2: Jarron Collins
Pick one: 0
Results for Darren Collison:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Jared Dudley"
3 results found.
0: Jared Dudley
1: Charles Dudley
2: Chris Dudley
Pick one: 0
Results for Jared Dudley:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Willie Green"
14 results found.
0: Willie Green
1: Willie Reed
2: Willie Allen
3: Willis Reed
4: Willie Warren
5: Willie Burton
6: Mike Green
7: Tommie Green
8: Willie Jones
9: Willie Porter
10: Willie Wise
11: Willie Long
12: Willie Rogers
13: Willie White
Pick one: 0
Results for Willie Green:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Darius Morris"
5 results found.
0: Darius Morris
1: Marcus Morris
2: Chris Morris
3: Darius Miles
4: Darius Miller
Pick one: 0
Results for Darius Morris:

You searched for "Byron Mullens"
2 results found.
0: Byron Mullens
1: Bob Mullens
Pick one: 0
Results for Byron Mullens:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "J.J. Redick"
2 results found.
0: J.J. Redick
1: J.R. Reid
Pick one: 0
Results for J.J. Redick:

You searched for "Hedo Türkoğlu"
1 result found.
Hedo Turkoglu
Results for Hedo Turkoglu:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Maalik Wayns"
1 result found.
Maalik Wayns
Results for Maalik Wayns:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-14,28-222,LAC,AWAY,WAS,W (+16),1,32:49,11,14,...,3,12,3,0,2,2,38,42.5,24,Chris Paul
1,2013-10-31,28-178,LAC,HOME,GSW,W (+11),1,37:26,12,20,...,2,15,6,0,6,4,42,42.3,17,Chris Paul
2,2014-03-22,28-320,LAC,HOME,DET,W (+9),1,37:26,10,15,...,4,15,6,0,2,2,28,36.8,23,Chris Paul
3,2013-12-26,28-234,LAC,AWAY,POR,L (-4),1,44:50,16,29,...,3,16,6,0,1,1,34,36.4,10,Chris Paul
4,2014-01-10,24-300,LAC,HOME,LAL,W (+36),1,29:48,12,15,...,12,4,4,2,4,2,33,34.3,45,Blake Griffin

In [40]:

LAC_2015_gamelog = []

for p in LAC_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2015_gamelog.append(player_log)
LAC_2015_gamelog = pd.concat(LAC_2015_gamelog)    
LAC_2015_gamelogs = LAC_2015_gamelog.copy()
LAC_2015_gamelogs['GAME_SCORE'] = LAC_2015_gamelogs['GAME_SCORE'].astype(float)
LAC_2015_games = LAC_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2015_games_csv = LAC_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2015_games.csv', index=False)
LAC_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2015_games.csv')
LAC_2015_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Reggie Bullock"
1 result found.
Reggie Bullock
Results for Reggie Bullock:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Jared Cunningham"
2 results found.
0: Jared Cunningham
1: Dante Cunningham
Pick one: 0
Results for Jared Cunningham:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Chris Douglas-Roberts"
1 result found.
Chris Douglas-Roberts
Results for Chris Douglas-Roberts:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Jordan Hamilton"
4 results found.
0: Jordan Hamilton
1: Joe Hamilton
2: Justin Hamilton
3: Zendon Hamilton
Pick one: 0
Results for Jordan Hamilton:

You searched for "Spencer Hawes"
3 results found.
0: Spencer Hawes
1: Steve Hawes
2: Spencer Haywood
Pick one: 0
Results for Spencer Hawes:

You searched for "Lester Hudson"
1 result found.
Lester Hudson
Results for Lester Hudson:

You searched for "Dahntay Jones"
5 results found.
0: Dahntay Jones
1: Damian Jones
2: Dontae' Jones
3: Johnny Jones
4: Wah Wah Jones
Pick one: 0
Results for Dahntay Jones:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "J.J. Redick"
2 results found.
0: J.J. Redick
1: J.R. Reid
Pick one: 0
Results for J.J. Redick:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Hedo Türkoğlu"
1 result found.
Hedo Turkoglu
Results for Hedo Turkoglu:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

You searched for "C.J. Wilcox"
5 results found.
0: C.J. Wilcox
1: D.J. Wilson
2: C.J. Miles
3: C.J. Watson
4: Chris Wilcox
Pick one: 0
Results for C.J. Wilcox:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-04-01,29-330,LAC,AWAY,POR,W (+4),1,39:24,13,21,...,5,17,4,0,1,2,41,47.5,6,Chris Paul
1,2015-03-31,26-015,LAC,HOME,GSW,L (-4),1,42:31,16,25,...,12,5,1,3,3,4,40,35.3,7,Blake Griffin
2,2014-12-08,25-267,LAC,HOME,PHO,W (+1),1,42:32,14,24,...,8,2,1,0,3,4,45,33.2,13,Blake Griffin
3,2014-11-15,29-193,LAC,HOME,PHO,W (+13),1,35:54,10,13,...,5,9,2,0,3,3,32,32.1,16,Chris Paul
4,2015-01-07,25-297,LAC,HOME,LAL,W (+25),1,30:51,9,13,...,9,8,3,0,0,1,27,31.2,36,Blake Griffin

In [43]:
# removed jeff ayres

LAC_2016_gamelog = []

for p in LAC_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2016_gamelog.append(player_log)
LAC_2016_gamelog = pd.concat(LAC_2016_gamelog)    
LAC_2016_gamelogs = LAC_2016_gamelog.copy()
LAC_2016_gamelogs['GAME_SCORE'] = LAC_2016_gamelogs['GAME_SCORE'].astype(float)
LAC_2016_games = LAC_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2016_games_csv = LAC_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2016_games.csv', index=False)
LAC_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2016_games.csv')
LAC_2016_games_proc.head()

You searched for "Cole Aldrich"
1 result found.
Cole Aldrich
Results for Cole Aldrich:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Branden Dawson"
3 results found.
0: Branden Dawson
1: Brandon Sampson
2: Brandon Davies
Pick one: 0
Results for Branden Dawson:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Pablo Prigioni"
1 result found.
Pablo Prigioni
Results for Pablo Prigioni:

You searched for "J.J. Redick"
2 results found.
0: J.J. Redick
1: J.R. Reid
Pick one: 0
Results for J.J. Redick:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Josh Smith"
39 results found.
0: Josh Smith
1: Ish Smith
2: Joe Smith
3: John Smith
4: Don Smith
5: Don Smith
6: Doug Smith
7: J.R. Smith
8: Jason Smith
9: Jim Smith
10: Russ Smith
11: Tony Smith
12: Joe Smyth
13: Jalen Smith
14: Josh Hart
15: Josh Selby
16: Al Smith
17: Bill Smith
18: Bobby Smith
19: Deb Smith
20: Donta Smith
21: Ed Smith
22: Greg Smith
23: Greg Smith
24: Jerry Smith
25: Keith Smith
26: Ken Smith
27: Leon Smith
28: Mike Smith
29: Nolan Smith
30: Otis Smith
31: Pete Smith
32: Phil Smith
33: Sam Smith
34: Sam Smith
35: Tom Stith
36: Josh Hall
37: Josh Davis
38: Josh Grant
Pick one: 0
Results for Josh Smith:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Alex Stepheson"
1 result found.
Alex Stepheson
Results for Alex Stepheson:

You searched for "C.J. Wilcox"
5 results found.
0: C.J. Wilcox
1: D.J. Wilson
2: C.J. Miles
3: C.J. Watson
4: Chris Wilcox
Pick one: 0
Results for C.J. Wilcox:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-02-26,30-296,LAC,AWAY,SAC,W (+10),1,36:20,13,20,...,8,13,2,0,2,1,40,42.7,14,Chris Paul
1,2016-02-10,30-280,LAC,AWAY,BOS,L (-5),1,47:38,13,21,...,5,13,3,1,2,5,35,34.6,1,Chris Paul
2,2015-11-25,26-254,LAC,HOME,UTA,L (-11),1,38:41,18,23,...,12,3,0,2,3,2,40,34.4,-3,Blake Griffin
3,2015-12-21,30-229,LAC,HOME,OKC,L (-1),1,35:58,11,19,...,5,10,2,0,2,3,32,30.8,-4,Chris Paul
4,2015-11-19,30-197,LAC,HOME,GSW,L (-7),1,31:30,13,22,...,4,8,3,0,3,2,35,30.8,-6,Chris Paul

In [44]:


LAC_2017_gamelog = []

for p in LAC_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2017_gamelog.append(player_log)
LAC_2017_gamelog = pd.concat(LAC_2017_gamelog)    
LAC_2017_gamelogs = LAC_2017_gamelog.copy()
LAC_2017_gamelogs['GAME_SCORE'] = LAC_2017_gamelogs['GAME_SCORE'].astype(float)
LAC_2017_games = LAC_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2017_games_csv = LAC_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2017_games.csv', index=False)
LAC_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2017_games.csv')
LAC_2017_games_proc.head()

You searched for "Alan Anderson"
15 results found.
0: Alan Anderson
1: Dan Anderson
2: Dan Anderson
3: Ryan Anderson
4: Alan Henderson
5: Ron Anderson
6: Cliff Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Kim Anderson
13: Kyle Anderson
14: Nick Anderson
Pick one: 0
Results for Alan Anderson:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Raymond Felton"
1 result found.
Raymond Felton
Results for Raymond Felton:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Brice Johnson"
26 results found.
0: Brice Johnson
1: Eric Johnson
2: Rich Johnson
3: Alize Johnson
4: Arnie Johnson
5: Buck Johnson
6: Nick Johnson
7: Amir Johnson
8: Armon Johnson
9: B.J. Johnson
10: Chris Johnson
11: Chris Johnson
12: Dave Johnson
13: Eddie Johnson
14: Eddie Johnson
15: Ervin Johnson
16: Frank Johnson
17: Joe Johnson
18: Lee Johnson
19: Magic Johnson
20: Mickey Johnson
21: Neil Johnson
22: Ollie Johnson
23: Ron Johnson
24: Steve Johnson
25: Trey Johnson
Pick one: 0
Results for Brice Johnson:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Chris Paul"
15 results found.
0: Chris Paul
1: Chris Babb
2: Chris Carr
3: Chris Taft
4: Chris Bosh
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Mills
11: Chris Munk
12: Charlie Paulk
13: Chris Welp
14: Chris Silva
Pick one: 0
Results for Chris Paul:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "J.J. Redick"
2 results found.
0: J.J. Redick
1: J.R. Reid
Pick one: 0
Results for J.J. Redick:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Marreese Speights"
1 result found.
Marreese Speights
Results for Marreese Speights:

You searched for "Diamond Stone"
2 results found.
0: Diamond Stone
1: Damon Jones
Pick one: 0
Results for Diamond Stone:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-02-26,27-347,LAC,HOME,CHO,W (+3),1,42:19,15,26,...,10,5,2,0,1,4,43,35.9,17,Blake Griffin
1,2017-04-01,28-016,LAC,HOME,LAL,W (+11),1,40:02,12,15,...,8,5,1,0,2,5,36,33.6,22,Blake Griffin
2,2016-11-04,31-182,LAC,AWAY,MEM,W (+11),1,32:55,6,16,...,4,11,6,2,1,4,27,31.9,10,Chris Paul
3,2017-02-01,27-322,LAC,AWAY,PHO,W (+10),1,34:04,10,14,...,9,5,1,1,1,1,29,30.1,11,Blake Griffin
4,2017-04-05,28-020,LAC,HOME,DAL,W (+11),1,37:42,11,14,...,4,6,1,0,1,3,32,30.0,20,Blake Griffin

In [45]:

LAC_2018_gamelog = []

for p in LAC_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2018_gamelog.append(player_log)
LAC_2018_gamelog = pd.concat(LAC_2018_gamelog)    
LAC_2018_gamelogs = LAC_2018_gamelog.copy()
LAC_2018_gamelogs['GAME_SCORE'] = LAC_2018_gamelogs['GAME_SCORE'].astype(float)
LAC_2018_games = LAC_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2018_games_csv = LAC_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2018_games.csv', index=False)
LAC_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2018_games.csv')
LAC_2018_games_proc.head()

You searched for "Patrick Beverley"
1 result found.
Patrick Beverley
Results for Patrick Beverley:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Sam Dekker"
1 result found.
Sam Dekker
Results for Sam Dekker:

You searched for "Jawun Evans"
4 results found.
0: Jawun Evans
1: Jacob Evans
2: Brian Evans
3: Earl Evans
Pick one: 0
Results for Jawun Evans:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Blake Griffin"
3 results found.
0: Blake Griffin
1: Eddie Griffin
2: Paul Griffin
Pick one: 0
Results for Blake Griffin:

You searched for "Montrezl Harrell"
1 result found.
Montrezl Harrell
Results for Montrezl Harrell:

You searched for "Tobias Harris"
6 results found.
0: Tobias Harris
1: Elias Harris
2: Bob Harris
3: Chris Harris
4: Tony Harris
5: Bob Harrison
Pick one: 0
Results for Tobias Harris:

You searched for "Brice Johnson"
26 results found.
0: Brice Johnson
1: Eric Johnson
2: Rich Johnson
3: Alize Johnson
4: Arnie Johnson
5: Buck Johnson
6: Nick Johnson
7: Amir Johnson
8: Armon Johnson
9: B.J. Johnson
10: Chris Johnson
11: Chris Johnson
12: Dave Johnson
13: Eddie Johnson
14: Eddie Johnson
15: Ervin Johnson
16: Frank Johnson
17: Joe Johnson
18: Lee Johnson
19: Magic Johnson
20: Mickey Johnson
21: Neil Johnson
22: Ollie Johnson
23: Ron Johnson
24: Steve Johnson
25: Trey Johnson
Pick one: 0
Results for Brice Johnson:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Sean Kilpatrick"
3 results found.
0: Sean Kilpatrick
1: Carl Kilpatrick
2: Stan Patrick
Pick one: 0
Results for Sean Kilpatrick:

You searched for "Boban Marjanović"
1 result found.
Boban Marjanovic
Results for Boban Marjanovic:

You searched for "Willie Reed"
12 results found.
0: Willie Reed
1: Willis Reed
2: Willie Green
3: Willie Allen
4: Willie Jones
5: Willie Long
6: Willie Porter
7: Billy Reid
8: Willie Rogers
9: Willie Warren
10: Willie Wise
11: Willie White
Pick one: 0
Results for Willie Reed:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Miloš Teodosić"
1 result found.
Milos Teodosic
Results for Milos Teodosic:

You searched for "Sindarius Thornwell"
1 result found.
Sindarius Thornwell
Results for Sindarius Thornwell:

You searched for "Tyrone Wallace"
1 result found.
Tyrone Wallace
Results for Tyrone Wallace:

You searched for "C.J. Williams"
38 results found.
0: C.J. Williams
1: Al Williams
2: Alan Williams
3: Art Williams
4: Bob Williams
5: Buck Williams
6: Chuck Williams
7: Cliff Williams
8: Corey Williams
9: Duck Williams
10: Earl Williams
11: Eric Williams
12: Fly Williams
13: Gene Williams
14: Gus Williams
15: Guy Williams
16: Hank Williams
17: Herb Williams
18: Jay Williams
19: John Williams
20: Lou Williams
21: Matt Williams
22: Mike Williams
23: Milt Williams
24: Mo Williams
25: Nate Williams
26: Pete Williams
27: Ray Williams
28: Rob Williams
29: Ron Williams
30: Sam Williams
31: Sam Williams
32: Scott Williams
33: Sean Williams
34: Sly Williams
35: Troy Williams
36: Walt Williams
37: Ward Williams
Pick one: 0
Results for C.J. Williams:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Jamil Wilson"
6 results found.
0: Jamil Wilson
1: Jamie Watson
2: Jim Wilson
3: Jasper Wilson
4: Jamaal Wilkes
5: James Wilkes
Pick one: 0
Results for Jamil Wilson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-01-10,31-075,LAC,AWAY,GSW,W (+19),1,35:07,16,27,...,2,7,0,0,4,0,50,39.0,8,Lou Williams
1,2018-03-13,29-235,LAC,AWAY,CHI,W (+6),1,37:34,11,12,...,18,5,1,2,2,2,29,32.7,17,DeAndre Jordan
2,2018-01-20,31-085,LAC,AWAY,UTA,L (-12),1,40:01,9,21,...,2,7,10,0,3,3,31,31.6,-8,Lou Williams
3,2017-11-27,31-031,LAC,HOME,LAL,W (+5),1,37:54,12,21,...,4,3,1,0,4,2,42,31.6,23,Lou Williams
4,2018-02-14,29-208,LAC,AWAY,BOS,W (+10),1,32:01,11,14,...,13,3,4,0,2,5,30,31.4,12,DeAndre Jordan

In [46]:


LAC_2019_gamelog = []

for p in LAC_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2019_gamelog.append(player_log)
LAC_2019_gamelog = pd.concat(LAC_2019_gamelog)    
LAC_2019_gamelogs = LAC_2019_gamelog.copy()
LAC_2019_gamelogs['GAME_SCORE'] = LAC_2019_gamelogs['GAME_SCORE'].astype(float)
LAC_2019_games = LAC_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2019_games_csv = LAC_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2019_games.csv', index=False)
LAC_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2019_games.csv')
LAC_2019_games_proc.head()

You searched for "Patrick Beverley"
1 result found.
Patrick Beverley
Results for Patrick Beverley:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Ángel Delgado"
1 result found.
Angel Delgado
Results for Angel Delgado:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Shai Gilgeous-Alexander"
1 result found.
Shai Gilgeous-Alexander
Results for Shai Gilgeous-Alexander:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "JaMychal Green"
1 result found.
JaMychal Green
Results for JaMychal Green:

You searched for "Montrezl Harrell"
1 result found.
Montrezl Harrell
Results for Montrezl Harrell:

You searched for "Tobias Harris"
6 results found.
0: Tobias Harris
1: Elias Harris
2: Bob Harris
3: Chris Harris
4: Tony Harris
5: Bob Harrison
Pick one: 0
Results for Tobias Harris:

You searched for "Boban Marjanović"
1 result found.
Boban Marjanovic
Results for Boban Marjanovic:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Johnathan Motley"
1 result found.
Johnathan Motley
Results for Johnathan Motley:

You searched for "Jerome Robinson"
5 results found.
0: Jerome Robinson
1: Jerome Moiso
2: Eddie Robinson
3: Jackie Robinson
4: James Robinson
Pick one: 0
Results for Jerome Robinson:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Landry Shamet"
1 result found.
Landry Shamet
Results for Landry Shamet:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Miloš Teodosić"
1 result found.
Milos Teodosic
Results for Milos Teodosic:

You searched for "Sindarius Thornwell"
1 result found.
Sindarius Thornwell
Results for Sindarius Thornwell:

You searched for "Tyrone Wallace"
1 result found.
Tyrone Wallace
Results for Tyrone Wallace:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-12-17,26-155,LAC,HOME,POR,L (-4),1,35:22,15,22,...,11,1,1,0,1,2,39,32.4,-12,Tobias Harris
1,2018-11-28,30-112,LAC,HOME,PHO,W (+16),1,33:09,7,10,...,10,4,1,2,1,1,28,30.2,27,Danilo Gallinari
2,2019-01-20,26-189,LAC,AWAY,SAS,W (+8),1,43:11,12,20,...,9,9,3,1,0,1,27,29.7,18,Tobias Harris
3,2018-11-25,26-133,LAC,AWAY,POR,W (+4),1,36:21,14,22,...,11,1,1,0,0,0,34,29.2,11,Tobias Harris
4,2019-02-12,28-078,MEM,HOME,SAS,L (-1),1,37:54,15,21,...,6,6,1,0,2,1,33,28.9,-1,Avery Bradley

In [47]:


LAC_2020_gamelog = []

for p in LAC_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2020_gamelog.append(player_log)
LAC_2020_gamelog = pd.concat(LAC_2020_gamelog)    
LAC_2020_gamelogs = LAC_2020_gamelog.copy()
LAC_2020_gamelogs['GAME_SCORE'] = LAC_2020_gamelogs['GAME_SCORE'].astype(float)
LAC_2020_games = LAC_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2020_games_csv = LAC_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2020_games.csv', index=False)
LAC_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2020_games.csv')
LAC_2020_games_proc.head()

You searched for "Patrick Beverley"
1 result found.
Patrick Beverley
Results for Patrick Beverley:

You searched for "Amir Coffey"
1 result found.
Amir Coffey
Results for Amir Coffey:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "JaMychal Green"
1 result found.
JaMychal Green
Results for JaMychal Green:

You searched for "Maurice Harkless"
2 results found.
0: Maurice Harkless
1: Maurice McHartley
Pick one: 0
Results for Maurice Harkless:

You searched for "Montrezl Harrell"
1 result found.
Montrezl Harrell
Results for Montrezl Harrell:

You searched for "Reggie Jackson"
6 results found.
0: Reggie Jackson
1: Reggie Hanson
2: Reggie Johnson
3: Cedric Jackson
4: Greg Jackson
5: Mervin Jackson
Pick one: 0
Results for Reggie Jackson:

You searched for "Mfiondu Kabengele"
1 result found.
Mfiondu Kabengele
Results for Mfiondu Kabengele:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Terance Mann"
1 result found.
Terance Mann
Results for Terance Mann:

You searched for "Rodney McGruder"
1 result found.
Rodney McGruder
Results for Rodney McGruder:

You searched for "Marcus Morris"
5 results found.
0: Marcus Morris
1: Darius Morris
2: Marcus Cousin
3: Chris Morris
4: Max Morris
Pick one: 0
Results for Marcus Morris:

You searched for "Johnathan Motley"
1 result found.
Johnathan Motley
Results for Johnathan Motley:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Patrick Patterson"
1 result found.
Patrick Patterson
Results for Patrick Patterson:

You searched for "Jerome Robinson"
5 results found.
0: Jerome Robinson
1: Jerome Moiso
2: Eddie Robinson
3: Jackie Robinson
4: James Robinson
Pick one: 0
Results for Jerome Robinson:

You searched for "Landry Shamet"
1 result found.
Landry Shamet
Results for Landry Shamet:

You searched for "Derrick Walton"
5 results found.
0: Derrick Walton
1: Derrick Alston
2: Darrick Martin
3: Derrick White
4: Derrick Jones
Pick one: 0
Results for Derrick Walton:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-14,28-199,LAC,HOME,CLE,W (+25),1,28:44,14,22,...,3,4,2,1,1,0,43,38.2,39,Kawhi Leonard
1,2019-12-11,30-100,NYK,AWAY,GSW,W (+2),1,36:28,10,18,...,10,3,3,0,1,3,36,33.7,5,Marcus Morris
2,2019-11-16,29-198,LAC,HOME,ATL,W (+49),1,20:10,10,17,...,4,3,2,1,3,0,37,32.9,28,Paul George
3,2020-08-09,29-041,LAC,HOME,BRK,L (-9),1,36:51,14,25,...,2,6,4,0,2,3,39,32.3,-4,Kawhi Leonard
4,2020-01-24,28-209,LAC,AWAY,MIA,W (+5),1,38:52,9,22,...,10,10,2,1,2,1,33,31.9,6,Kawhi Leonard

In [48]:

LAC_2021_gamelog = []

for p in LAC_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    LAC_2021_gamelog.append(player_log)
LAC_2021_gamelog = pd.concat(LAC_2021_gamelog)    
LAC_2021_gamelogs = LAC_2021_gamelog.copy()
LAC_2021_gamelogs['GAME_SCORE'] = LAC_2021_gamelogs['GAME_SCORE'].astype(float)
LAC_2021_games = LAC_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_2021_games_csv = LAC_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2021_games.csv', index=False)
LAC_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2021_games.csv')
LAC_2021_games_proc.head()

You searched for "Nicolas Batum"
1 result found.
Nicolas Batum
Results for Nicolas Batum:

You searched for "Patrick Beverley"
1 result found.
Patrick Beverley
Results for Patrick Beverley:

You searched for "Amir Coffey"
1 result found.
Amir Coffey
Results for Amir Coffey:

You searched for "DeMarcus Cousins"
2 results found.
0: DeMarcus Cousins
1: Marcus Cousin
Pick one: 0
Results for DeMarcus Cousins:

You searched for "Yogi Ferrell"
1 result found.
Yogi Ferrell
Results for Yogi Ferrell:

You searched for "Malik Fitts"
2 results found.
0: Malik Fitts
1: Malik Rose
Pick one: 0
Results for Malik Fitts:

You searched for "Paul George"
12 results found.
0: Paul George
1: Jack George
2: Tate George
3: Paul Gordon
4: Paul Hogue
5: Paul Long
6: Paul Pierce
7: Paul Reed
8: Paul Grant
9: Paul Noel
10: Paul Nolen
11: Paul Seymour
Pick one: 0
Results for Paul George:

You searched for "Serge Ibaka"
1 result found.
Serge Ibaka
Results for Serge Ibaka:

You searched for "Reggie Jackson"
6 results found.
0: Reggie Jackson
1: Reggie Hanson
2: Reggie Johnson
3: Cedric Jackson
4: Greg Jackson
5: Mervin Jackson
Pick one: 0
Results for Reggie Jackson:

You searched for "Mfiondu Kabengele"
1 result found.
Mfiondu Kabengele
Results for Mfiondu Kabengele:

You searched for "Luke Kennard"
1 result found.
Luke Kennard
Results for Luke Kennard:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Terance Mann"
1 result found.
Terance Mann
Results for Terance Mann:

You searched for "Marcus Morris"
5 results found.
0: Marcus Morris
1: Darius Morris
2: Marcus Cousin
3: Chris Morris
4: Max Morris
Pick one: 0
Results for Marcus Morris:

You searched for "Daniel Oturu"
3 results found.
0: Daniel Oturu
1: Daniel Ochefu
2: Daniel Orton
Pick one: 0
Results for Daniel Oturu:

You searched for "Patrick Patterson"
1 result found.
Patrick Patterson
Results for Patrick Patterson:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Jay Scrubb"
1 result found.
Jay Scrubb
Results for Jay Scrubb:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-01-24,29-209,LAC,HOME,OKC,W (+8),1,36:29,14,24,...,9,8,0,0,0,1,34,31.1,14,Kawhi Leonard
1,2021-02-02,29-218,LAC,AWAY,BRK,L (-4),1,39:15,12,24,...,5,5,4,2,0,1,33,31.0,7,Kawhi Leonard
2,2021-01-05,29-190,LAC,HOME,SAS,L (-3),1,37:14,13,22,...,3,10,2,1,0,1,30,30.8,14,Kawhi Leonard
3,2021-02-03,30-277,LAC,AWAY,CLE,W (+22),1,34:05,13,20,...,4,6,0,0,0,4,36,30.6,29,Paul George
4,2021-04-06,30-339,LAC,HOME,POR,W (+17),1,34:00,11,18,...,3,5,1,1,3,3,36,30.1,7,Paul George

## combine all seasons

In [49]:
LAC_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2000_games.csv')
LAC_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2001_games.csv')
LAC_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2002_games.csv')
LAC_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2003_games.csv')
LAC_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2004_games.csv')
LAC_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2005_games.csv')
LAC_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2006_games.csv')
LAC_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2007_games.csv')
LAC_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2008_games.csv')
LAC_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2009_games.csv')
LAC_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2010_games.csv')
LAC_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2011_games.csv')
LAC_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2012_games.csv')
LAC_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2013_games.csv')
LAC_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2014_games.csv')
LAC_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2015_games.csv')
LAC_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2016_games.csv')
LAC_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2017_games.csv')
LAC_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2018_games.csv')
LAC_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2019_games.csv')
LAC_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2020_games.csv')
LAC_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_2021_games.csv')

In [50]:
LAC_season_dfs = [LAC_2000_games_io, LAC_2001_games_io, LAC_2002_games_io, LAC_2003_games_io, LAC_2004_games_io, LAC_2005_games_io,
                 LAC_2006_games_io, LAC_2007_games_io, LAC_2008_games_io, LAC_2009_games_io, LAC_2010_games_io, LAC_2011_games_io,
                 LAC_2012_games_io, LAC_2013_games_io, LAC_2014_games_io, LAC_2015_games_io, LAC_2016_games_io, LAC_2017_games_io,
                 LAC_2018_games_io, LAC_2019_games_io, LAC_2020_games_io, LAC_2021_games_io]

In [51]:
LAC_all = pd.concat(LAC_season_dfs)
LAC_all_sorted = LAC_all.sort_values(by=['GAME_SCORE'], ascending=False)
LAC_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-04-01,29-330,LAC,AWAY,POR,W (+4),1,39:24,13,21,...,5,17,4,0,1,2,41,47.5,6,Chris Paul
0,2016-02-26,30-296,LAC,AWAY,SAC,W (+10),1,36:20,13,20,...,8,13,2,0,2,1,40,42.7,14,Chris Paul
0,2013-12-14,28-222,LAC,AWAY,WAS,W (+16),1,32:49,11,14,...,3,12,3,0,2,2,38,42.5,24,Chris Paul
0,2013-12-14,28-222,LAC,AWAY,WAS,W (+16),1,32:49,11,14,...,3,12,3,0,2,2,38,42.5,24,Chris Paul
1,2013-10-31,28-178,LAC,HOME,GSW,W (+11),1,37:26,12,20,...,2,15,6,0,6,4,42,42.3,17,Chris Paul
1,2013-10-31,28-178,LAC,HOME,GSW,W (+11),1,37:26,12,20,...,2,15,6,0,6,4,42,42.3,17,Chris Paul
0,2011-01-17,21-307,LAC,HOME,IND,W (+7),1,36:56,19,24,...,14,3,0,1,4,3,47,40.0,17,Blake Griffin
0,2007-04-12,27-151,LAC,AWAY,LAL,W (+8),1,42:51,10,15,...,8,9,4,1,3,4,39,39.3,13,Corey Maggette
0,2018-01-10,31-075,LAC,AWAY,GSW,W (+19),1,35:07,16,27,...,2,7,0,0,4,0,50,39.0,8,Lou Williams
0,2020-01-14,28-199,LAC,HOME,CLE,W (+25),1,28:44,14,22,...,3,4,2,1,1,0,43,38.2,39,Kawhi Leonard
0,2005-12-23,26-287,LAC,AWAY,CHA,W (+9),1,40:14,14,25,...,20,5,1,3,3,3,38,38.1,9,Elton Brand
1,2010-11-20,21-249,LAC,HOME,NYK,L (-9),1,38:55,14,24,...,15,7,2,1,4,4,44,38.1,-13,Blake Griffin
0,2002-11-28,26-254,LAC,HOME,NJN,W (+8),1,48:12,14,24,...,3,16,2,0,1,4,37,38.1,11,Andre Miller
0,2012-03-09,26-308,LAC,AWAY,SAS,W (+12),1,37:49,12,20,...,4,11,4,0,1,3,36,37.9,14,Chris Paul
1,2012-04-22,26-352,LAC,HOME,NOH,W (+9),1,39:02,8,18,...,4,13,8,0,2,3,33,37.9,8,Chris Paul
2,2014-03-22,28-320,LAC,HOME,DET,W (+9),1,37:26,10,15,...,4,15,6,0,2,2,28,36.8,23,Chris Paul
2,2014-03-22,28-320,LAC,HOME,DET,W (+9),1,37:26,10,15,...,4,15,6,0,2,2,28,36.8,23,Chris Paul
0,2004-02-19,24-345,LAC,HOME,BOS,W (+2),1,41:08,14,22,...,11,2,4,6,4,5,39,36.5,-3,Elton Brand
3,2013-12-26,28-234,LAC,AWAY,POR,L (-4),1,44:50,16,29,...,3,16,6,0,1,1,34,36.4,10,Chris Paul
3,2013-12-26,28-234,LAC,AWAY,POR,L (-4),1,44:50,16,29,...,3,16,6,0,1,1,34,36.4,10,Chris Paul
0,2017-02-26,27-347,LAC,HOME,CHO,W (+3),1,42:19,15,26,...,10,5,2,0,1,4,43,35.9,17,Blake Griffin
1,2006-01-16,26-311,LAC,HOME,UTA,W (+9),1,46:40,10,24,...,14,4,2,7,1,2,35,35.5,15,Elton Brand
2,2011-04-06,22-021,LAC,AWAY,OKC,L (-4),1,38:05,15,20,...,11,6,1,1,0,2,35,35.4,-8,Blake Griffin
1,2015-03-31,26-015,LAC,HOME,GSW,L (-4),1,42:31,16,25,...,12,5,1,3,3,4,40,35.3,7,Blake Griffin
2,2006-02-10,26-336,LAC,HOME,MEM,W (+4),1,44:45,17,26,...,9,2,2,2,4,4,44,35.3,-2,Elton Brand