In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_LAL = []

# LAL
while season <= 2021:
    df_LAL = get_roster('LAL', season)
    df_LAL['Season'] = season
    df_LAL['Team'] = 'LAL'
    appended_data_LAL.append(df_LAL)
    season = season + 1
appended_data_LAL = pd.concat(appended_data_LAL)

In [4]:
LAL_df_all = appended_data_LAL.copy()
LAL_df_all_csv = LAL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_players_all.csv', index=False)
LAL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_players_all.csv')
LAL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Kobe Bryant,SG,6-6,212,1978-08-23,US,3,NaN,2000,LAL
1,11,John Celestand,PG,6-4,178,1977-03-06,US,R,Villanova,2000,LAL
2,2,Derek Fisher,PG,6-1,200,1974-08-09,US,3,Little Rock,2000,LAL
3,17,Rick Fox,SF,6-7,230,1969-07-24,CA,8,UNC,2000,LAL
4,3,Devean George,SF,6-8,220,1977-08-29,US,R,Augsburg College,2000,LAL

In [5]:
LAL_df_2000 = LAL_df_all[LAL_df_all['Season'] == 2000]
LAL_df_2001 = LAL_df_all[LAL_df_all['Season'] == 2001]
LAL_df_2002 = LAL_df_all[LAL_df_all['Season'] == 2002]
LAL_df_2003 = LAL_df_all[LAL_df_all['Season'] == 2003]
LAL_df_2004 = LAL_df_all[LAL_df_all['Season'] == 2004]
LAL_df_2005 = LAL_df_all[LAL_df_all['Season'] == 2005]
LAL_df_2006 = LAL_df_all[LAL_df_all['Season'] == 2006]
LAL_df_2007 = LAL_df_all[LAL_df_all['Season'] == 2007]
LAL_df_2008 = LAL_df_all[LAL_df_all['Season'] == 2008]
LAL_df_2009 = LAL_df_all[LAL_df_all['Season'] == 2009]
LAL_df_2010 = LAL_df_all[LAL_df_all['Season'] == 2010]
LAL_df_2011 = LAL_df_all[LAL_df_all['Season'] == 2011]
LAL_df_2012 = LAL_df_all[LAL_df_all['Season'] == 2012]
LAL_df_2013 = LAL_df_all[LAL_df_all['Season'] == 2013]
LAL_df_2014 = LAL_df_all[LAL_df_all['Season'] == 2014]
LAL_df_2015 = LAL_df_all[LAL_df_all['Season'] == 2015]
LAL_df_2016 = LAL_df_all[LAL_df_all['Season'] == 2016]
LAL_df_2017 = LAL_df_all[LAL_df_all['Season'] == 2017]
LAL_df_2018 = LAL_df_all[LAL_df_all['Season'] == 2018]
LAL_df_2019 = LAL_df_all[LAL_df_all['Season'] == 2019]
LAL_df_2020 = LAL_df_all[LAL_df_all['Season'] == 2020]
LAL_df_2021 = LAL_df_all[LAL_df_all['Season'] == 2021]

In [7]:
# changing names
#LAL_df_2002.loc[LAL_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#LAL_df_2004.loc[LAL_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
LAL_df_2000_players = LAL_df_2000['PLAYER'].to_list()
LAL_df_2001_players = LAL_df_2001['PLAYER'].to_list()
LAL_df_2002_players = LAL_df_2002['PLAYER'].to_list()
LAL_df_2003_players = LAL_df_2003['PLAYER'].to_list()
LAL_df_2004_players = LAL_df_2004['PLAYER'].to_list()
LAL_df_2005_players = LAL_df_2005['PLAYER'].to_list()

LAL_df_2006_players = LAL_df_2006['PLAYER'].to_list()
LAL_df_2007_players = LAL_df_2007['PLAYER'].to_list()
LAL_df_2008_players = LAL_df_2008['PLAYER'].to_list()
LAL_df_2009_players = LAL_df_2009['PLAYER'].to_list()
LAL_df_2010_players = LAL_df_2010['PLAYER'].to_list()
LAL_df_2011_players = LAL_df_2011['PLAYER'].to_list()

LAL_df_2012_players = LAL_df_2012['PLAYER'].to_list()
LAL_df_2013_players = LAL_df_2013['PLAYER'].to_list()
LAL_df_2014_players = LAL_df_2014['PLAYER'].to_list()
LAL_df_2015_players = LAL_df_2015['PLAYER'].to_list()
LAL_df_2016_players = LAL_df_2016['PLAYER'].to_list()
LAL_df_2017_players = LAL_df_2017['PLAYER'].to_list()

LAL_df_2018_players = LAL_df_2018['PLAYER'].to_list()
LAL_df_2019_players = LAL_df_2019['PLAYER'].to_list()
LAL_df_2020_players = LAL_df_2020['PLAYER'].to_list()
LAL_df_2021_players = LAL_df_2021['PLAYER'].to_list()

## players to drop

In [43]:
# drop Shaquille O'Neal 2001-2004
# make separate df

#LAL_df_2000_players.remove("Shaquille O'Neal")
#LAL_df_2001_players.remove("Shaquille O'Neal")
#LAL_df_2002_players.remove("Shaquille O'Neal")
#LAL_df_2003_players.remove("Shaquille O'Neal")
#LAL_df_2004_players.remove("Shaquille O'Neal")

#LAL_df_2008_players.remove("Didier Ilunga-Mbenga")
#LAL_df_2009_players.remove("Didier Ilunga-Mbenga")
#LAL_df_2010_players.remove("Didier Ilunga-Mbenga")
#LAL_df_2011_players.remove("Metta World Peace")
#LAL_df_2012_players.remove("Metta World Peace")
#LAL_df_2013_players.remove("Metta World Peace")
#LAL_df_2016_players.remove("Metta World Peace")
#LAL_df_2017_players.remove("Metta World Peace")

#LAL_df_2016_players.remove("Larry Nance")
#LAL_df_2017_players.remove("Larry Nance")
#LAL_df_2018_players.remove("Larry Nance")

#LAL_df_2016_players.remove("D'Angelo Russell")
#LAL_df_2017_players.remove("D'Angelo Russell")

LAL_df_2018_players.remove("Gary Payton")
#LAL_df_2010_players.remove("Metta World Peace")

In [11]:
# removed Shaquille O'Neal

LAL_2000_gamelog = []



for p in LAL_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2000_gamelog.append(player_log)
LAL_2000_gamelog = pd.concat(LAL_2000_gamelog)    
LAL_2000_gamelogs = LAL_2000_gamelog.copy()
LAL_2000_gamelogs['GAME_SCORE'] = LAL_2000_gamelogs['GAME_SCORE'].astype(float)
LAL_2000_games = LAL_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2000_games_csv = LAL_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2000_games.csv', index=False)
LAL_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2000_games.csv')
LAL_2000_games_proc.head()

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "John Celestand"
1 result found.
John Celestand
Results for John Celestand:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Rick Fox"
7 results found.
0: Rick Fox
1: Jim Fox
2: Dick Lee
3: Rock Lee
4: Rick Mount
5: Rick Robey
6: Ricky Ledo
Pick one: 0
Results for Rick Fox:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "A.C. Green"
11 results found.
0: A.C. Green
1: Josh Green
2: Danny Green
3: Erick Green
4: Jeff Green
5: Ken Green
6: Lamar Green
7: Mike Green
8: Sean Green
9: Si Green
10: A.J. Price
Pick one: 0
Results for A.C. Green:

You searched for "Ron Harper"
23 results found.
0: Ron Harper
1: Ron Carter
2: Ron Baker
3: Ron Mercer
4: John Barber
5: Tom Barker
6: Ron Brewer
7: Ron Dorsey
8: Tony Farmer
9: Derek Harper
10: Jared Harper
11: Mike Harper
12: Ron Horn
13: Roy Hurley
14: Tony Parker
15: Ron Reed
16: Roy Tarpley
17: Von Wafer
18: Jon Barry
19: Roy Marble
20: Ron Perry
21: Ron Bonham
22: Jason Hart
Pick one: 0
Results for Ron Harper:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Sam Jacobson"
3 results found.
0: Sam Jacobson
1: Al Jackson
2: Jim Jackson
Pick one: 0
Results for Sam Jacobson:

You searched for "Travis Knight"
3 results found.
0: Travis Knight
1: Brevin Knight
2: Brandin Knight
Pick one: 0
Results for Travis Knight:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Glen Rice"
7 results found.
0: Glen Rice
1: Glen Rice
2: Greg Kite
3: Brent Price
4: Gene Rock
5: Jalen Rose
6: Glen Davis
Pick one: 0
Results for Glen Rice:

You searched for "John Salley"
16 results found.
0: John Salley
1: John Bagley
2: John Vallely
3: John Beasley
4: John Wall
5: John Barber
6: John Battle
7: John Chaney
8: John Hazen
9: John Mills
10: John Postley
11: John Salmons
12: John Shasky
13: John Wallace
14: John Warren
15: John Starks
Pick one: 0
Results for John Salley:

You searched for "Brian Shaw"
5 results found.
0: Brian Shaw
1: Brian Cook
2: Brian Evans
3: Brian Grant
4: Brian Davis
Pick one: 0
Results for Brian Shaw:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-12,21-202,LAL,HOME,SAC,W (+3),1,43:00,15,24,...,10,8,0,1,4,3,40,34.1,-5,Kobe Bryant
1,2000-01-10,21-140,LAL,HOME,DEN,W (+35),1,36:00,12,18,...,7,4,4,1,1,2,30,31.6,38,Kobe Bryant
2,2000-04-14,21-235,LAL,HOME,SAC,W (+7),1,39:46,13,21,...,5,5,3,3,1,1,31,29.8,10,Kobe Bryant
3,2000-02-07,21-168,LAL,HOME,DEN,W (+8),1,41:50,10,21,...,9,11,1,3,4,2,29,27.0,7,Kobe Bryant
4,2000-03-24,21-214,LAL,HOME,PHO,W (+8),1,33:13,9,15,...,6,7,2,0,1,5,28,26.8,6,Kobe Bryant

In [12]:
# removed Shaquille O'Neal

LAL_2001_gamelog = []


for p in LAL_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2001_gamelog.append(player_log)
LAL_2001_gamelog = pd.concat(LAL_2001_gamelog)    
LAL_2001_gamelogs = LAL_2001_gamelog.copy()
LAL_2001_gamelogs['GAME_SCORE'] = LAL_2001_gamelogs['GAME_SCORE'].astype(float)
LAL_2001_games = LAL_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2001_games_csv = LAL_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2001_games.csv', index=False)
LAL_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2001_games.csv')
LAL_2001_games_proc.head()

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Greg Foster"
12 results found.
0: Greg Foster
1: Fred Foster
2: Rod Foster
3: Greg Butler
4: Jeff Foster
5: Greg Hyder
6: Greg Kelser
7: Greg Kite
8: Greg Oden
9: Greg Ostertag
10: Greg Monroe
11: Greg Stokes
Pick one: 0
Results for Greg Foster:

You searched for "Rick Fox"
7 results found.
0: Rick Fox
1: Jim Fox
2: Dick Lee
3: Rock Lee
4: Rick Mount
5: Rick Robey
6: Ricky Ledo
Pick one: 0
Results for Rick Fox:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Horace Grant"
3 results found.
0: Horace Grant
1: Harvey Grant
2: Jerami Grant
Pick one: 0
Results for Horace Grant:

You searched for "Ron Harper"
23 results found.
0: Ron Harper
1: Ron Carter
2: Ron Baker
3: Ron Mercer
4: John Barber
5: Tom Barker
6: Ron Brewer
7: Ron Dorsey
8: Tony Farmer
9: Derek Harper
10: Jared Harper
11: Mike Harper
12: Ron Horn
13: Roy Hurley
14: Tony Parker
15: Ron Reed
16: Roy Tarpley
17: Von Wafer
18: Jon Barry
19: Roy Marble
20: Ron Perry
21: Ron Bonham
22: Jason Hart
Pick one: 0
Results for Ron Harper:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Mike Penberthy"
1 result found.
Mike Penberthy
Results for Mike Penberthy:

You searched for "Isaiah Rider"
6 results found.
0: Isaiah Rider
1: Isaiah Joe
2: Isaiah Hicks
3: Isaiah Roby
4: Isaiah Briscoe
5: Isaiah Morris
Pick one: 0
Results for Isaiah Rider:

You searched for "Brian Shaw"
5 results found.
0: Brian Shaw
1: Brian Cook
2: Brian Evans
3: Brian Grant
4: Brian Davis
Pick one: 0
Results for Brian Shaw:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-12-21,22-120,LAL,AWAY,HOU,W (+5),1,43:52,20,26,...,4,3,1,0,1,1,45,38.1,-2,Kobe Bryant
1,2000-12-06,22-105,LAL,AWAY,GSW,L (-3),1,51:16,18,35,...,7,8,2,1,8,4,51,35.7,-2,Kobe Bryant
2,2000-12-28,22-127,LAL,AWAY,PHO,W (+37),1,32:55,12,19,...,5,1,3,0,1,2,38,33.3,27,Kobe Bryant
3,2001-01-30,22-160,LAL,AWAY,CLE,W (+6),1,40:31,12,26,...,5,3,3,1,7,3,47,32.3,4,Kobe Bryant
4,2001-02-02,22-163,LAL,HOME,CHH,W (+6),1,48:00,15,30,...,9,2,0,5,5,3,44,32.0,6,Kobe Bryant

In [13]:
# removed Shaquille O'Neal

LAL_2002_gamelog = []


for p in LAL_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2002_gamelog.append(player_log)
LAL_2002_gamelog = pd.concat(LAL_2002_gamelog)    
LAL_2002_gamelogs = LAL_2002_gamelog.copy()
LAL_2002_gamelogs['GAME_SCORE'] = LAL_2002_gamelogs['GAME_SCORE'].astype(float)
LAL_2002_games = LAL_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2002_games_csv = LAL_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2002_games.csv', index=False)
LAL_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2002_games.csv')
LAL_2002_games_proc.head()

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Joe Crispin"
1 result found.
Joe Crispin
Results for Joe Crispin:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Rick Fox"
7 results found.
0: Rick Fox
1: Jim Fox
2: Dick Lee
3: Rock Lee
4: Rick Mount
5: Rick Robey
6: Ricky Ledo
Pick one: 0
Results for Rick Fox:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Lindsey Hunter"
2 results found.
0: Lindsey Hunter
1: Vince Hunter
Pick one: 0
Results for Lindsey Hunter:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Jelani McCoy"
1 result found.
Jelani McCoy
Results for Jelani McCoy:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Mike Penberthy"
1 result found.
Mike Penberthy
Results for Mike Penberthy:

You searched for "Mitch Richmond"
1 result found.
Mitch Richmond
Results for Mitch Richmond:

You searched for "Brian Shaw"
5 results found.
0: Brian Shaw
1: Brian Cook
2: Brian Evans
3: Brian Grant
4: Brian Davis
Pick one: 0
Results for Brian Shaw:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-01-14,23-144,LAL,HOME,MEM,W (+39),1,34:16,21,34,...,5,4,1,0,0,1,56,46.3,40,Kobe Bryant
1,2001-11-01,23-070,LAL,AWAY,UTA,W (+4),1,43:03,11,22,...,6,8,3,1,2,3,39,35.1,7,Kobe Bryant
2,2001-11-04,23-073,LAL,HOME,UTA,W (+4),1,44:17,13,21,...,6,7,3,1,5,5,38,31.1,3,Kobe Bryant
3,2002-01-12,27-156,LAL,AWAY,CHI,L (-2),1,41:31,9,14,...,3,5,4,0,0,0,28,29.8,2,Derek Fisher
4,2001-12-16,23-115,LAL,HOME,GSW,W (+16),1,31:57,10,12,...,5,3,2,1,1,2,28,27.7,13,Kobe Bryant

In [14]:
 # removed Shaquille O'Neal
    
LAL_2003_gamelog = []



for p in LAL_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2003_gamelog.append(player_log)
LAL_2003_gamelog = pd.concat(LAL_2003_gamelog)    
LAL_2003_gamelogs = LAL_2003_gamelog.copy()
LAL_2003_gamelogs['GAME_SCORE'] = LAL_2003_gamelogs['GAME_SCORE'].astype(float)
LAL_2003_games = LAL_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2003_games_csv = LAL_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2003_games.csv', index=False)
LAL_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2003_games.csv')
LAL_2003_games_proc.head()

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Rick Fox"
7 results found.
0: Rick Fox
1: Jim Fox
2: Dick Lee
3: Rock Lee
4: Rick Mount
5: Rick Robey
6: Ricky Ledo
Pick one: 0
Results for Rick Fox:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Tracy Murray"
4 results found.
0: Tracy Murray
1: Tracy McGrady
2: Tracy Moore
3: Troy Murphy
Pick one: 0
Results for Tracy Murray:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Kareem Rush"
1 result found.
Kareem Rush
Results for Kareem Rush:

You searched for "Soumaila Samake"
1 result found.
Soumaila Samake
Results for Soumaila Samake:

You searched for "Brian Shaw"
5 results found.
0: Brian Shaw
1: Brian Cook
2: Brian Evans
3: Brian Grant
4: Brian Davis
Pick one: 0
Results for Brian Shaw:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-03-28,24-217,LAL,HOME,WAS,W (+14),1,41:23,15,29,...,5,3,3,0,3,5,55,41.5,21,Kobe Bryant
1,2003-02-12,24-173,LAL,AWAY,DEN,W (+11),1,31:20,15,28,...,3,2,2,0,0,1,51,40.5,37,Kobe Bryant
2,2003-02-11,24-172,LAL,HOME,DEN,W (+28),1,31:28,12,20,...,2,5,4,0,1,0,42,38.3,37,Kobe Bryant
3,2002-11-01,24-070,LAL,AWAY,LAC,W (+15),1,40:41,12,18,...,15,12,2,1,4,3,33,37.6,10,Kobe Bryant
4,2003-02-18,24-179,LAL,HOME,HOU,W (+7),1,53:54,19,38,...,8,7,0,3,5,4,52,35.8,13,Kobe Bryant

In [49]:


LAL_2004_gamelog = []



for p in LAL_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2004_gamelog.append(player_log)
LAL_2004_gamelog = pd.concat(LAL_2004_gamelog)    
LAL_2004_gamelogs = LAL_2004_gamelog.copy()
LAL_2004_gamelogs['GAME_SCORE'] = LAL_2004_gamelogs['GAME_SCORE'].astype(float)
LAL_2004_games = LAL_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2004_games_csv = LAL_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2004_games.csv', index=False)
LAL_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2004_games.csv')
LAL_2004_games_proc.head()

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Maurice Carter"
6 results found.
0: Maurice Carter
1: Maurice Ager
2: Maurice Baker
3: Maurice Martin
4: Maurice McHartley
5: Maurice Taylor
Pick one: 0
Results for Maurice Carter:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Rick Fox"
7 results found.
0: Rick Fox
1: Jim Fox
2: Dick Lee
3: Rock Lee
4: Rick Mount
5: Rick Robey
6: Ricky Ledo
Pick one: 0
Results for Rick Fox:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Horace Grant"
3 results found.
0: Horace Grant
1: Harvey Grant
2: Jerami Grant
Pick one: 0
Results for Horace Grant:

You searched for "Karl Malone"
9 results found.
0: Karl Malone
1: Karim Mane
2: Daryl Macon
3: Mark Macon
4: Jeff Malone
5: Matt Maloney
6: Earl Barron
7: Earl Jones
8: Earl Watson
Pick one: 0
Results for Karl Malone:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "Gary Payton"
5 results found.
0: Gary Payton
1: Gary Payton
2: Gary Alcorn
3: Mark Eaton
4: Mel Payton
Pick one: 1
Results for Gary Payton:

You searched for "Kareem Rush"
1 result found.
Kareem Rush
Results for Kareem Rush:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "Jamal Sampson"
3 results found.
0: Jamal Sampson
1: JaKarr Sampson
2: Ralph Sampson
Pick one: 0
Results for Jamal Sampson:

You searched for "Ime Udoka"
2 results found.
0: Ime Udoka
1: Ekpe Udoh
Pick one: 0
Results for Ime Udoka:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-01-04,25-134,LAL,AWAY,LAC,L (-3),1,39:34,14,27,...,10,3,4,0,2,2,44,37.4,-7,Kobe Bryant
1,2004-02-22,25-183,LAL,AWAY,PHO,W (+12),1,42:04,15,25,...,7,5,3,0,2,0,40,36.7,9,Kobe Bryant
2,2004-02-18,25-179,LAL,AWAY,GSW,W (+1),1,43:39,11,16,...,6,8,2,1,5,1,35,32.9,-1,Kobe Bryant
3,2004-02-25,25-186,LAL,AWAY,DEN,W (+1),1,41:09,14,26,...,7,10,3,0,3,2,35,31.5,5,Kobe Bryant
4,2004-03-26,25-216,LAL,HOME,MIN,W (+17),1,36:41,13,21,...,9,5,2,2,4,2,35,31.1,17,Kobe Bryant

In [15]:


LAL_2005_gamelog = []

for p in LAL_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2005_gamelog.append(player_log)
LAL_2005_gamelog = pd.concat(LAL_2005_gamelog)    
LAL_2005_gamelogs = LAL_2005_gamelog.copy()
LAL_2005_gamelogs['GAME_SCORE'] = LAL_2005_gamelogs['GAME_SCORE'].astype(float)
LAL_2005_games = LAL_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2005_games_csv = LAL_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2005_games.csv', index=False)
LAL_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2005_games.csv')
LAL_2005_games_proc.head()

You searched for "Chucky Atkins"
1 result found.
Chucky Atkins
Results for Chucky Atkins:

You searched for "Tony Bobbitt"
3 results found.
0: Tony Bobbitt
1: Tony Bennett
2: Tony Battie
Pick one: 0
Results for Tony Bobbitt:

You searched for "Tierre Brown"
8 results found.
0: Tierre Brown
1: Andre Brown
2: Dee Brown
3: Dee Brown
4: George Brown
5: Larry Brown
6: Mike Brown
7: Troy Brown
Pick one: 0
Results for Tierre Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Vlade Divac"
1 result found.
Vlade Divac
Results for Vlade Divac:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Brian Grant"
9 results found.
0: Brian Grant
1: Jerian Grant
2: Brian Evans
3: Bud Grant
4: Greg Grant
5: Brian Heaney
6: Brian Shaw
7: Brian Bowen
8: Brian Martin
Pick one: 0
Results for Brian Grant:

You searched for "Jumaine Jones"
3 results found.
0: Jumaine Jones
1: Dwayne Jones
2: Jake Jones
Pick one: 0
Results for Jumaine Jones:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Chris Mihm"
22 results found.
0: Chris Mihm
1: Chris King
2: Chris Mills
3: Chris Munk
4: Chris Smith
5: Chris Smith
6: Chris Babb
7: Chris Bosh
8: Chris Carr
9: Chris Duhon
10: Chris Ford
11: Chris Jent
12: Chris Paul
13: Chris Quinn
14: Chris Silva
15: Chris Taft
16: Chris Welp
17: Chris Wright
18: Chris Wright
19: Chris Kaman
20: Chris Morris
21: Chris Mullin
Pick one: 0
Results for Chris Mihm:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Kareem Rush"
1 result found.
Kareem Rush
Results for Kareem Rush:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-11-26,26-095,LAL,HOME,SAC,L (-3),1,45:23,11,17,...,7,8,0,2,3,2,40,36.6,1,Kobe Bryant
1,2005-04-08,26-228,LAL,AWAY,SEA,W (+23),1,40:06,15,22,...,2,5,2,1,3,2,42,35.6,17,Kobe Bryant
2,2004-12-28,26-127,LAL,HOME,TOR,W (+18),1,45:53,14,26,...,2,4,2,0,5,2,48,34.2,21,Kobe Bryant
3,2005-02-15,26-176,LAL,HOME,UTA,W (+7),1,42:50,12,19,...,5,8,3,0,5,4,40,33.8,21,Kobe Bryant
4,2005-03-04,26-193,LAL,HOME,DAL,W (+5),1,43:37,13,27,...,8,6,2,2,3,3,40,32.1,11,Kobe Bryant

In [16]:


LAL_2006_gamelog = []

for p in LAL_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2006_gamelog.append(player_log)
LAL_2006_gamelog = pd.concat(LAL_2006_gamelog)    
LAL_2006_gamelogs = LAL_2006_gamelog.copy()
LAL_2006_gamelogs['GAME_SCORE'] = LAL_2006_gamelogs['GAME_SCORE'].astype(float)
LAL_2006_games = LAL_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2006_games_csv = LAL_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2006_games.csv', index=False)
LAL_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2006_games.csv')
LAL_2006_games_proc.head()

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Devean George"
1 result found.
Devean George
Results for Devean George:

You searched for "Devin Green"
14 results found.
0: Devin Green
1: Devin Brown
2: Devin Gray
3: Ken Green
4: Sean Green
5: Kevin Grevey
6: Danny Green
7: Erick Green
8: Jeff Green
9: Kenny Green
10: Si Green
11: Steve Green
12: Davon Reed
13: Dennis Grey
Pick one: 0
Results for Devin Green:

You searched for "Jim Jackson"
21 results found.
0: Jim Jackson
1: Al Jackson
2: Josh Jackson
3: Mike Jackson
4: Phil Jackson
5: Jim Paxson
6: Jim Paxson
7: Greg Jackson
8: Jaren Jackson
9: Jaren Jackson
10: Justin Jackson
11: Luke Jackson
12: Luke Jackson
13: Marc Jackson
14: Mark Jackson
15: Tony Jackson
16: Tony Jackson
17: Sam Jacobson
18: Jim Wilson
19: Jim Eakins
20: Jim Chones
Pick one: 0
Results for Jim Jackson:

You searched for "Aaron McKie"
3 results found.
0: Aaron McKie
1: Aaron Miles
2: Aaron James
Pick one: 0
Results for Aaron McKie:

You searched for "Stanislav Medvedenko"
1 result found.
Stanislav Medvedenko
Results for Stanislav Medvedenko:

You searched for "Chris Mihm"
22 results found.
0: Chris Mihm
1: Chris King
2: Chris Mills
3: Chris Munk
4: Chris Smith
5: Chris Smith
6: Chris Babb
7: Chris Bosh
8: Chris Carr
9: Chris Duhon
10: Chris Ford
11: Chris Jent
12: Chris Paul
13: Chris Quinn
14: Chris Silva
15: Chris Taft
16: Chris Welp
17: Chris Wright
18: Chris Wright
19: Chris Kaman
20: Chris Morris
21: Chris Mullin
Pick one: 0
Results for Chris Mihm:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Smush Parker"
2 results found.
0: Smush Parker
1: Sonny Parker
Pick one: 0
Results for Smush Parker:

You searched for "Laron Profit"
1 result found.
Laron Profit
Results for Laron Profit:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Von Wafer"
14 results found.
0: Von Wafer
1: Ron Baker
2: Vin Baker
3: Ron Carter
4: Ron Harper
5: Jon Leuer
6: Thon Maker
7: Bob Naber
8: Ron Watts
9: Don Ford
10: Don Grate
11: Dean Wade
12: John Wall
13: Ron Rowan
Pick one: 0
Results for Von Wafer:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-01-22,27-152,LAL,HOME,TOR,W (+18),1,41:56,28,46,...,6,2,3,1,3,1,81,63.5,25,Kobe Bryant
1,2005-12-20,27-119,LAL,HOME,DAL,W (+22),1,32:53,18,31,...,8,0,3,0,2,3,62,49.7,35,Kobe Bryant
2,2006-04-14,27-234,LAL,HOME,POR,W (+11),1,43:50,17,28,...,6,1,5,0,3,4,50,39.3,19,Kobe Bryant
3,2006-04-07,27-227,LAL,AWAY,PHO,L (-11),1,42:16,19,33,...,5,3,1,0,2,3,51,36.1,-6,Kobe Bryant
4,2006-01-19,27-149,LAL,AWAY,SAC,L (-9),1,44:07,17,35,...,9,4,1,0,4,2,51,35.0,-13,Kobe Bryant

In [17]:


LAL_2007_gamelog = []

for p in LAL_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2007_gamelog.append(player_log)
LAL_2007_gamelog = pd.concat(LAL_2007_gamelog)    
LAL_2007_gamelogs = LAL_2007_gamelog.copy()
LAL_2007_gamelogs['GAME_SCORE'] = LAL_2007_gamelogs['GAME_SCORE'].astype(float)
LAL_2007_games = LAL_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2007_games_csv = LAL_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2007_games.csv', index=False)
LAL_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2007_games.csv')
LAL_2007_games_proc.head()

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Aaron McKie"
3 results found.
0: Aaron McKie
1: Aaron Miles
2: Aaron James
Pick one: 0
Results for Aaron McKie:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Smush Parker"
2 results found.
0: Smush Parker
1: Sonny Parker
Pick one: 0
Results for Smush Parker:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

You searched for "Shammond Williams"
2 results found.
0: Shammond Williams
1: Shawne Williams
Pick one: 0
Results for Shammond Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-03-16,28-205,LAL,HOME,POR,W (+5),1,49:58,23,39,...,7,3,3,0,2,3,65,50.9,4,Kobe Bryant
1,2007-04-15,28-235,LAL,HOME,SEA,W (+11),1,42:05,18,25,...,8,3,2,0,1,2,50,44.4,6,Kobe Bryant
2,2007-03-22,28-211,LAL,AWAY,MEM,W (+2),1,45:11,20,37,...,5,4,0,0,2,4,60,43.2,2,Kobe Bryant
3,2006-11-30,28-099,LAL,HOME,UTA,W (+30),1,34:21,19,26,...,4,3,0,1,1,5,52,41.2,22,Kobe Bryant
4,2006-12-17,28-116,LAL,HOME,WAS,L (-6),1,46:47,15,24,...,8,10,1,1,4,5,45,39.3,6,Kobe Bryant

In [20]:
# removed Didier Ilunga-Mbenga

LAL_2008_gamelog = []

for p in LAL_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2008_gamelog.append(player_log)
LAL_2008_gamelog = pd.concat(LAL_2008_gamelog)    
LAL_2008_gamelogs = LAL_2008_gamelog.copy()
LAL_2008_gamelogs['GAME_SCORE'] = LAL_2008_gamelogs['GAME_SCORE'].astype(float)
LAL_2008_games = LAL_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2008_games_csv = LAL_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2008_games.csv', index=False)
LAL_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2008_games.csv')
LAL_2008_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Javaris Crittenton"
1 result found.
Javaris Crittenton
Results for Javaris Crittenton:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Coby Karl"
3 results found.
0: Coby Karl
1: Cory Carr
2: Rob Kurz
Pick one: 0
Results for Coby Karl:

You searched for "Chris Mihm"
22 results found.
0: Chris Mihm
1: Chris King
2: Chris Mills
3: Chris Munk
4: Chris Smith
5: Chris Smith
6: Chris Babb
7: Chris Bosh
8: Chris Carr
9: Chris Duhon
10: Chris Ford
11: Chris Jent
12: Chris Paul
13: Chris Quinn
14: Chris Silva
15: Chris Taft
16: Chris Welp
17: Chris Wright
18: Chris Wright
19: Chris Kaman
20: Chris Morris
21: Chris Mullin
Pick one: 0
Results for Chris Mihm:

You searched for "Ira Newble"
2 results found.
0: Ira Newble
1: Kira Lewis
Pick one: 0
Results for Ira Newble:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-03-02,29-192,LAL,HOME,DAL,W (+4),1,51:24,15,27,...,11,4,1,2,5,2,52,39.4,4,Kobe Bryant
1,2008-03-28,29-218,LAL,HOME,MEM,L (-3),1,41:52,19,37,...,10,1,3,0,1,4,53,39.2,1,Kobe Bryant
2,2008-02-01,29-162,LAL,AWAY,TOR,W (+20),1,43:55,19,28,...,7,5,1,0,1,2,46,38.8,19,Kobe Bryant
3,2008-04-02,29-223,LAL,HOME,POR,W (+13),1,41:28,10,16,...,13,7,3,0,1,3,36,38.8,25,Kobe Bryant
4,2008-01-11,27-189,MEM,AWAY,GSW,L (-12),1,44:43,17,25,...,11,3,1,1,3,2,43,36.0,2,Pau Gasol

In [23]:
# removed Didier Ilunga-Mbenga

LAL_2009_gamelog = []

for p in LAL_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2009_gamelog.append(player_log)
LAL_2009_gamelog = pd.concat(LAL_2009_gamelog)    
LAL_2009_gamelogs = LAL_2009_gamelog.copy()
LAL_2009_gamelogs['GAME_SCORE'] = LAL_2009_gamelogs['GAME_SCORE'].astype(float)
LAL_2009_games = LAL_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2009_games_csv = LAL_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2009_games.csv', index=False)
LAL_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2009_games.csv')
LAL_2009_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Chris Mihm"
22 results found.
0: Chris Mihm
1: Chris King
2: Chris Mills
3: Chris Munk
4: Chris Smith
5: Chris Smith
6: Chris Babb
7: Chris Bosh
8: Chris Carr
9: Chris Duhon
10: Chris Ford
11: Chris Jent
12: Chris Paul
13: Chris Quinn
14: Chris Silva
15: Chris Taft
16: Chris Welp
17: Chris Wright
18: Chris Wright
19: Chris Kaman
20: Chris Morris
21: Chris Mullin
Pick one: 0
Results for Chris Mihm:

You searched for "Adam Morrison"
5 results found.
0: Adam Morrison
1: John Morrison
2: Mike Morrison
3: Red Morrison
4: Isaiah Morris
Pick one: 0
Results for Adam Morrison:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Josh Powell"
7 results found.
0: Josh Powell
1: Josh Hall
2: Josh Howard
3: Kasib Powell
4: Roger Powell
5: Josh Selby
6: Josh Okogie
Pick one: 0
Results for Josh Powell:

You searched for "Vladimir Radmanović"
1 result found.
Vladimir Radmanovic
Results for Vladimir Radmanovic:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

You searched for "Sun Yue"
7 results found.
0: Sun Yue
1: Don Buse
2: Don Dee
3: Ron Lee
4: Don May
5: Sean May
6: Don Ray
Pick one: 0
Results for Sun Yue:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-02-02,30-163,LAL,AWAY,NYK,W (+9),1,36:48,19,31,...,0,3,0,1,2,1,61,47.3,19,Kobe Bryant
1,2009-01-21,21-086,LAL,AWAY,LAC,W (+11),1,36:23,17,24,...,15,0,0,3,2,2,42,37.8,17,Andrew Bynum
2,2009-03-27,28-264,LAL,AWAY,NJN,W (+8),1,44:36,14,19,...,11,7,2,2,3,4,36,35.7,21,Pau Gasol
3,2009-02-04,28-213,LAL,AWAY,TOR,W (+8),1,44:31,12,17,...,15,4,2,2,0,3,31,35.0,12,Pau Gasol
4,2009-03-01,30-190,LAL,AWAY,PHO,L (-7),1,39:02,18,38,...,11,2,1,1,1,5,49,34.6,-11,Kobe Bryant

In [28]:
# removed Didier Ilunga-Mbenga
# removed metta world peace

LAL_2010_gamelog = []

for p in LAL_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2010_gamelog.append(player_log)
LAL_2010_gamelog = pd.concat(LAL_2010_gamelog)    
LAL_2010_gamelogs = LAL_2010_gamelog.copy()
LAL_2010_gamelogs['GAME_SCORE'] = LAL_2010_gamelogs['GAME_SCORE'].astype(float)
LAL_2010_games = LAL_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2010_games_csv = LAL_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2010_games.csv', index=False)
LAL_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2010_games.csv')
LAL_2010_games_proc.head()

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Adam Morrison"
5 results found.
0: Adam Morrison
1: John Morrison
2: Mike Morrison
3: Red Morrison
4: Isaiah Morris
Pick one: 0
Results for Adam Morrison:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Josh Powell"
7 results found.
0: Josh Powell
1: Josh Hall
2: Josh Howard
3: Kasib Powell
4: Roger Powell
5: Josh Selby
6: Josh Okogie
Pick one: 0
Results for Josh Powell:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-12-29,31-128,LAL,HOME,GSW,W (+6),1,42:52,13,27,...,4,11,1,0,1,2,44,38.8,7,Kobe Bryant
1,2009-11-01,31-070,LAL,HOME,ATL,W (+8),1,37:38,15,29,...,8,3,5,0,3,4,41,32.4,12,Kobe Bryant
2,2010-02-23,31-184,LAL,AWAY,MEM,W (+1),1,40:01,13,19,...,7,6,3,2,2,2,32,31.8,3,Kobe Bryant
3,2009-11-17,31-086,LAL,HOME,DET,W (+13),1,39:13,17,29,...,5,5,3,0,3,5,40,31.1,18,Kobe Bryant
4,2009-11-04,31-073,LAL,AWAY,HOU,W (+1),1,48:29,15,30,...,6,4,4,0,2,2,41,30.6,2,Kobe Bryant

In [31]:

LAL_2011_gamelog = []

for p in LAL_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2011_gamelog.append(player_log)
LAL_2011_gamelog = pd.concat(LAL_2011_gamelog)    
LAL_2011_gamelogs = LAL_2011_gamelog.copy()
LAL_2011_gamelogs['GAME_SCORE'] = LAL_2011_gamelogs['GAME_SCORE'].astype(float)
LAL_2011_games = LAL_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2011_games_csv = LAL_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2011_games.csv', index=False)
LAL_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2011_games.csv')
LAL_2011_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Derrick Caracter"
1 result found.
Derrick Caracter
Results for Derrick Caracter:

You searched for "Devin Ebanks"
1 result found.
Devin Ebanks
Results for Devin Ebanks:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Trey Johnson"
38 results found.
0: Trey Johnson
1: Andy Johnson
2: Avery Johnson
3: Clay Johnson
4: Ed Johnson
5: Eric Johnson
6: Joe Johnson
7: Ken Johnson
8: Ken Johnson
9: Larry Johnson
10: Larry Johnson
11: Lee Johnson
12: Ron Johnson
13: Stew Johnson
14: Tyler Johnson
15: Amir Johnson
16: Armon Johnson
17: Arnie Johnson
18: B.J. Johnson
19: Brice Johnson
20: Buck Johnson
21: Chris Johnson
22: Chris Johnson
23: Darryl Johnson
24: Dave Johnson
25: Ervin Johnson
26: Frank Johnson
27: Gus Johnson
28: Ivan Johnson
29: James Johnson
30: John Johnson
31: Mickey Johnson
32: Neil Johnson
33: Nick Johnson
34: Rich Johnson
35: Stanley Johnson
36: Steve Johnson
37: Wesley Johnson
Pick one: 0
Results for Trey Johnson:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-03-22,32-211,LAL,HOME,PHO,W (+2),1,48:00,15,31,...,12,9,1,0,3,1,42,33.8,15,Kobe Bryant
1,2010-11-21,30-138,LAL,HOME,GSW,W (+28),1,30:01,10,10,...,9,5,0,4,1,0,28,33.4,27,Pau Gasol
2,2011-02-05,30-214,LAL,AWAY,NOH,W (+6),1,35:51,13,17,...,10,3,0,1,1,0,34,32.9,2,Pau Gasol
3,2011-02-16,30-225,LAL,AWAY,CLE,L (-5),1,40:44,8,15,...,20,3,0,0,2,3,30,31.6,1,Pau Gasol
4,2011-01-12,32-142,LAL,AWAY,GSW,W (+5),1,36:27,13,21,...,6,4,3,0,6,1,39,31.1,-2,Kobe Bryant

In [32]:
# removed Metta World peace

LAL_2012_gamelog = []

for p in LAL_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2012_gamelog.append(player_log)
LAL_2012_gamelog = pd.concat(LAL_2012_gamelog)    
LAL_2012_gamelogs = LAL_2012_gamelog.copy()
LAL_2012_gamelogs['GAME_SCORE'] = LAL_2012_gamelogs['GAME_SCORE'].astype(float)
LAL_2012_games = LAL_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2012_games_csv = LAL_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2012_games.csv', index=False)
LAL_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2012_games.csv')
LAL_2012_games_proc.head()

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Andrew Bynum"
4 results found.
0: Andrew Bynum
1: Andrew Bogut
2: Andrew Lang
3: Andrew Toney
Pick one: 0
Results for Andrew Bynum:

You searched for "Devin Ebanks"
1 result found.
Devin Ebanks
Results for Devin Ebanks:

You searched for "Christian Eyenga"
1 result found.
Christian Eyenga
Results for Christian Eyenga:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Andrew Goudelock"
1 result found.
Andrew Goudelock
Results for Andrew Goudelock:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Jason Kapono"
2 results found.
0: Jason Kapono
1: Jason Lawson
Pick one: 0
Results for Jason Kapono:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Darius Morris"
5 results found.
0: Darius Morris
1: Marcus Morris
2: Chris Morris
3: Darius Miles
4: Darius Miller
Pick one: 0
Results for Darius Morris:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Luke Walton"
6 results found.
0: Luke Walton
1: Luke Jackson
2: Luke Jackson
3: Bill Walton
4: Lloyd Walton
5: Luke Witte
Pick one: 0
Results for Luke Walton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-01-10,33-140,LAL,HOME,PHO,W (+16),1,39:07,18,31,...,5,3,3,0,2,2,48,36.9,16,Kobe Bryant
1,2012-03-13,24-138,LAL,AWAY,MEM,W (+5),1,48:55,15,18,...,16,1,1,1,4,2,37,33.2,11,Andrew Bynum
2,2012-04-04,24-160,LAL,AWAY,LAC,W (+5),1,39:28,13,20,...,8,0,1,4,0,2,36,33.0,10,Andrew Bynum
3,2012-01-14,33-144,LAL,AWAY,LAC,L (-8),1,44:22,14,28,...,7,4,2,1,2,3,42,31.6,-9,Kobe Bryant
4,2012-02-17,33-178,LAL,HOME,PHO,W (+12),1,35:04,14,25,...,9,6,4,1,3,1,36,31.5,4,Kobe Bryant

In [33]:
LAL_2013_gamelog = []

for p in LAL_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2013_gamelog.append(player_log)
LAL_2013_gamelog = pd.concat(LAL_2013_gamelog)    
LAL_2013_gamelogs = LAL_2013_gamelog.copy()
LAL_2013_gamelogs['GAME_SCORE'] = LAL_2013_gamelogs['GAME_SCORE'].astype(float)
LAL_2013_games = LAL_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2013_games_csv = LAL_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2013_games.csv', index=False)
LAL_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2013_games.csv')
LAL_2013_games_proc.head()

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Earl Clark"
7 results found.
0: Earl Clark
1: Gary Clark
2: Carlos Clark
3: Ian Clark
4: Keon Clark
5: Earl Evans
6: Earl Lloyd
Pick one: 0
Results for Earl Clark:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Devin Ebanks"
1 result found.
Devin Ebanks
Results for Devin Ebanks:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Andrew Goudelock"
1 result found.
Andrew Goudelock
Results for Andrew Goudelock:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Dwight Howard"
2 results found.
0: Dwight Howard
1: Dwight Powell
Pick one: 0
Results for Dwight Howard:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "Darius Johnson-Odom"
1 result found.
Darius Johnson-Odom
Results for Darius Johnson-Odom:

You searched for "Jodie Meeks"
1 result found.
Jodie Meeks
Results for Jodie Meeks:

You searched for "Darius Morris"
5 results found.
0: Darius Morris
1: Marcus Morris
2: Chris Morris
3: Darius Miles
4: Darius Miller
Pick one: 0
Results for Darius Morris:

You searched for "Steve Nash"
14 results found.
0: Steve Nash
1: Steve Bardo
2: Steve Blake
3: Steve Hamer
4: Steve Hawes
5: Steve Hayes
6: Steve Jones
7: Steve Kerr
8: Steve Mix
9: Steve Novak
10: Steve Smith
11: Steven Adams
12: Steve Green
13: Steve Harris
Pick one: 0
Results for Steve Nash:

You searched for "Robert Sacre"
8 results found.
0: Robert Sacre
1: Robert Pack
2: Robert Hahn
3: Robert Hite
4: Robert Horry
5: Robert Smith
6: Robert Swift
7: Robert Reid
Pick one: 0
Results for Robert Sacre:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-04-10,34-230,LAL,AWAY,POR,W (+7),1,48:00,14,27,...,8,5,3,4,1,4,47,42.8,7,Kobe Bryant
1,2013-03-06,34-195,LAL,AWAY,NOH,W (+6),1,41:57,14,21,...,7,12,0,1,6,0,42,36.9,16,Kobe Bryant
2,2013-03-12,27-094,LAL,AWAY,ORL,W (+9),1,38:24,7,13,...,16,2,1,3,0,3,39,36.4,16,Dwight Howard
3,2014-03-09,26-200,LAL,HOME,OKC,W (+4),1,37:02,11,18,...,2,0,4,0,3,2,42,34.6,14,Jodie Meeks
4,2013-12-21,28-013,HOU,AWAY,DET,W (+17),1,39:47,13,18,...,19,5,1,3,5,2,35,33.7,25,Dwight Howard

In [34]:
LAL_2014_gamelog = []

for p in LAL_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2014_gamelog.append(player_log)
LAL_2014_gamelog = pd.concat(LAL_2014_gamelog)    
LAL_2014_gamelogs = LAL_2014_gamelog.copy()
LAL_2014_gamelogs['GAME_SCORE'] = LAL_2014_gamelogs['GAME_SCORE'].astype(float)
LAL_2014_games = LAL_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2014_games_csv = LAL_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2014_games.csv', index=False)
LAL_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2014_games.csv')
LAL_2014_games_proc.head()

You searched for "Kent Bazemore"
1 result found.
Kent Bazemore
Results for Kent Bazemore:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "MarShon Brooks"
2 results found.
0: MarShon Brooks
1: Aaron Brooks
Pick one: 0
Results for MarShon Brooks:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Jordan Farmar"
4 results found.
0: Jordan Farmar
1: Jordan Ford
2: Jordan McRae
3: Jordan Adams
Pick one: 0
Results for Jordan Farmar:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Elias Harris"
5 results found.
0: Elias Harris
1: Tobias Harris
2: Chris Harris
3: Devin Harris
4: Mike Harris
Pick one: 0
Results for Elias Harris:

You searched for "Manny Harris"
7 results found.
0: Manny Harris
1: Gary Harris
2: Tony Harris
3: Jalen Harris
4: Art Harris
5: Billy Harris
6: Mike Harris
Pick one: 0
Results for Manny Harris:

You searched for "Xavier Henry"
3 results found.
0: Xavier Henry
1: Conner Henry
2: Xavier Sneed
Pick one: 0
Results for Xavier Henry:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "Chris Kaman"
12 results found.
0: Chris Kaman
1: Chris Babb
2: Chris Carr
3: Chris Duhon
4: Chris King
5: Chris Munk
6: Chris Paul
7: Chris Quinn
8: Chris Taft
9: Chris Jent
10: Chris Mihm
11: Chris Silva
Pick one: 0
Results for Chris Kaman:

You searched for "Ryan Kelly"
8 results found.
0: Ryan Kelly
1: Rich Kelley
2: Tom Kelly
3: Ryan Reid
4: Jordan Bell
5: Ryan Bowen
6: Ryan Gomes
7: Ryan Stack
Pick one: 0
Results for Ryan Kelly:

You searched for "Kendall Marshall"
2 results found.
0: Kendall Marshall
1: Donyell Marshall
Pick one: 0
Results for Kendall Marshall:

You searched for "Jodie Meeks"
1 result found.
Jodie Meeks
Results for Jodie Meeks:

You searched for "Steve Nash"
14 results found.
0: Steve Nash
1: Steve Bardo
2: Steve Blake
3: Steve Hamer
4: Steve Hawes
5: Steve Hayes
6: Steve Jones
7: Steve Kerr
8: Steve Mix
9: Steve Novak
10: Steve Smith
11: Steven Adams
12: Steve Green
13: Steve Harris
Pick one: 0
Results for Steve Nash:

You searched for "Robert Sacre"
8 results found.
0: Robert Sacre
1: Robert Pack
2: Robert Hahn
3: Robert Hite
4: Robert Horry
5: Robert Smith
6: Robert Swift
7: Robert Reid
Pick one: 0
Results for Robert Sacre:

You searched for "Shawne Williams"
14 results found.
0: Shawne Williams
1: Hank Williams
2: Sean Williams
3: Alan Williams
4: Charles Williams
5: Frank Williams
6: Gene Williams
7: Grant Williams
8: Jawad Williams
9: Nate Williams
10: Sam Williams
11: Sam Williams
12: Shammond Williams
13: Shelden Williams
Pick one: 0
Results for Shawne Williams:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-03-09,26-200,LAL,HOME,OKC,W (+4),1,37:02,11,18,...,2,0,4,0,3,2,42,34.6,14,Jodie Meeks
1,2014-03-27,26-243,LAL,AWAY,MIL,L (-3),1,31:20,13,17,...,16,0,1,0,1,2,28,28.9,4,Jordan Hill
2,2014-03-04,33-241,LAL,HOME,NOP,L (-7),1,32:13,10,15,...,12,4,0,1,2,0,29,27.6,-8,Pau Gasol
3,2014-03-30,31-336,LAL,HOME,PHO,W (+16),1,32:02,13,19,...,17,6,0,0,3,5,28,26.2,31,Chris Kaman
4,2014-01-03,33-181,LAL,HOME,UTA,W (+11),1,37:16,10,17,...,17,8,0,3,2,2,23,25.9,18,Pau Gasol

In [35]:

LAL_2015_gamelog = []

for p in LAL_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2015_gamelog.append(player_log)
LAL_2015_gamelog = pd.concat(LAL_2015_gamelog)    
LAL_2015_gamelogs = LAL_2015_gamelog.copy()
LAL_2015_gamelogs['GAME_SCORE'] = LAL_2015_gamelogs['GAME_SCORE'].astype(float)
LAL_2015_games = LAL_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2015_games_csv = LAL_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2015_games.csv', index=False)
LAL_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2015_games.csv')
LAL_2015_games_proc.head()

You searched for "Tarik Black"
3 results found.
0: Tarik Black
1: Charlie Black
2: Tom Black
Pick one: 0
Results for Tarik Black:

You searched for "Vander Blue"
1 result found.
Vander Blue
Results for Vander Blue:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Jabari Brown"
5 results found.
0: Jabari Brown
1: Jabari Bird
2: Andre Brown
3: Jaylen Brown
4: Larry Brown
Pick one: 0
Results for Jabari Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Dwight Buycks"
1 result found.
Dwight Buycks
Results for Dwight Buycks:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Ed Davis"
34 results found.
0: Ed Davis
1: Red Davis
2: Ben Davis
3: Lee Davis
4: Mel Davis
5: Bob Davis
6: Brad Davis
7: Glen Davis
8: Jim Davis
9: Ron Davis
10: Ed Kasid
11: Ed Rains
12: Ed Dahler
13: Bob Davies
14: Bill Davis
15: Dale Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Terry Davis
23: Tyler Davis
24: Walt Davis
25: Ed Earle
26: Ed Gayda
27: Ed Melvin
28: Ed Beach
29: Ed Leede
30: Ed Mikan
31: Ed Nealy
32: Med Park
33: Todd Day
Pick one: 0
Results for Ed Davis:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Xavier Henry"
3 results found.
0: Xavier Henry
1: Conner Henry
2: Xavier Sneed
Pick one: 0
Results for Xavier Henry:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "Ryan Kelly"
8 results found.
0: Ryan Kelly
1: Rich Kelley
2: Tom Kelly
3: Ryan Reid
4: Jordan Bell
5: Ryan Bowen
6: Ryan Gomes
7: Ryan Stack
Pick one: 0
Results for Ryan Kelly:

You searched for "Jeremy Lin"
5 results found.
0: Jeremy Lin
1: Jeremy Lamb
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Lin:

You searched for "Ronnie Price"
5 results found.
0: Ronnie Price
1: Donnie Boyce
2: Ronnie Brewer
3: Tony Price
4: Connie Rea
Pick one: 0
Results for Ronnie Price:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Robert Sacre"
8 results found.
0: Robert Sacre
1: Robert Pack
2: Robert Hahn
3: Robert Hite
4: Robert Horry
5: Robert Smith
6: Robert Swift
7: Robert Reid
Pick one: 0
Results for Robert Sacre:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-03-30,22-296,LAL,AWAY,PHI,W (+2),1,43:37,9,15,...,6,11,3,0,3,3,26,27.8,10,Jordan Clarkson
1,2014-11-30,36-099,LAL,HOME,TOR,W (+7),1,41:36,11,24,...,11,12,0,1,2,2,31,27.0,2,Kobe Bryant
2,2015-03-24,22-290,LAL,AWAY,OKC,L (-10),1,36:23,12,19,...,4,7,1,3,3,1,30,26.9,0,Jordan Clarkson
3,2014-11-16,36-085,LAL,HOME,GSW,L (-21),1,31:22,15,34,...,5,3,0,0,2,3,44,25.0,-34,Kobe Bryant
4,2014-11-28,36-097,LAL,HOME,MIN,L (-1),1,34:45,10,18,...,5,5,5,0,2,1,26,23.8,3,Kobe Bryant

In [40]:
# removed larry nance
# removed D'Angelo Russell

LAL_2016_gamelog = []

for p in LAL_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2016_gamelog.append(player_log)
LAL_2016_gamelog = pd.concat(LAL_2016_gamelog)    
LAL_2016_gamelogs = LAL_2016_gamelog.copy()
LAL_2016_gamelogs['GAME_SCORE'] = LAL_2016_gamelogs['GAME_SCORE'].astype(float)
LAL_2016_games = LAL_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2016_games_csv = LAL_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2016_games.csv', index=False)
LAL_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2016_games.csv')
LAL_2016_games_proc.head()

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Tarik Black"
3 results found.
0: Tarik Black
1: Charlie Black
2: Tom Black
Pick one: 0
Results for Tarik Black:

You searched for "Anthony Brown"
8 results found.
0: Anthony Brown
1: Anthony Bowie
2: Tony Brown
3: Anthony Bonner
4: Troy Brown
5: Anthony Cook
6: Anthony Mason
7: Anthony Morrow
Pick one: 0
Results for Anthony Brown:

You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Roy Hibbert"
2 results found.
0: Roy Hibbert
1: Ray Tolbert
Pick one: 0
Results for Roy Hibbert:

You searched for "Marcelo Huertas"
1 result found.
Marcelo Huertas
Results for Marcelo Huertas:

You searched for "Ryan Kelly"
8 results found.
0: Ryan Kelly
1: Rich Kelley
2: Tom Kelly
3: Ryan Reid
4: Jordan Bell
5: Ryan Bowen
6: Ryan Gomes
7: Ryan Stack
Pick one: 0
Results for Ryan Kelly:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Robert Sacre"
8 results found.
0: Robert Sacre
1: Robert Pack
2: Robert Hahn
3: Robert Hite
4: Robert Horry
5: Robert Smith
6: Robert Swift
7: Robert Reid
Pick one: 0
Results for Robert Sacre:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-04-13,37-234,LAL,HOME,UTA,W (+5),1,42:09,22,50,...,4,4,1,1,2,1,60,36.3,7,Kobe Bryant
1,2016-01-08,29-073,LAL,HOME,OKC,L (-4),1,34:57,12,25,...,2,1,2,0,1,1,44,33.2,4,Lou Williams
2,2016-02-02,37-163,LAL,HOME,MIN,W (+4),1,33:01,10,21,...,5,5,2,0,2,3,38,31.5,6,Kobe Bryant
3,2015-12-12,37-111,LAL,AWAY,HOU,L (-29),1,31:09,9,16,...,7,6,3,0,0,0,25,27.5,3,Kobe Bryant
4,2016-01-03,29-068,LAL,HOME,PHO,W (+20),1,33:53,11,17,...,7,4,2,0,2,1,30,26.6,26,Lou Williams

In [41]:


LAL_2017_gamelog = []

for p in LAL_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2017_gamelog.append(player_log)
LAL_2017_gamelog = pd.concat(LAL_2017_gamelog)    
LAL_2017_gamelogs = LAL_2017_gamelog.copy()
LAL_2017_gamelogs['GAME_SCORE'] = LAL_2017_gamelogs['GAME_SCORE'].astype(float)
LAL_2017_games = LAL_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2017_games_csv = LAL_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2017_games.csv', index=False)
LAL_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2017_games.csv')
LAL_2017_games_proc.head()

You searched for "Tarik Black"
3 results found.
0: Tarik Black
1: Charlie Black
2: Tom Black
Pick one: 0
Results for Tarik Black:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "José Calderón"
1 result found.
Jose Calderon
Results for Jose Calderon:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Tyler Ennis"
6 results found.
0: Tyler Ennis
1: Tyler Davis
2: Tyler Ulis
3: James Ennis
4: Tyler Herro
5: Tyler Lydon
Pick one: 0
Results for Tyler Ennis:

You searched for "Marcelo Huertas"
1 result found.
Marcelo Huertas
Results for Marcelo Huertas:

You searched for "Brandon Ingram"
4 results found.
0: Brandon Ingram
1: Andre Ingram
2: Brandon Knight
3: Brandon Hunter
Pick one: 0
Results for Brandon Ingram:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "David Nwaba"
6 results found.
0: David Nwaba
1: David Noel
2: David Wear
3: David West
4: David Wood
5: David Burns
Pick one: 0
Results for David Nwaba:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Thomas Robinson"
4 results found.
0: Thomas Robinson
1: Chris Robinson
2: Jamal Robinson
3: James Robinson
Pick one: 0
Results for Thomas Robinson:

You searched for "Lou Williams"
44 results found.
0: Lou Williams
1: Bob Williams
2: Mo Williams
3: Rob Williams
4: Ron Williams
5: Al Williams
6: Alan Williams
7: Art Williams
8: Fly Williams
9: Gus Williams
10: Guy Williams
11: Jay Williams
12: John Williams
13: Ray Williams
14: Sam Williams
15: Sam Williams
16: Sly Williams
17: Troy Williams
18: Aaron Williams
19: Alvin Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Deron Williams
26: Duck Williams
27: Earl Williams
28: Elliot Williams
29: Eric Williams
30: Gene Williams
31: Hank Williams
32: Herb Williams
33: Jason Williams
34: Matt Williams
35: Mike Williams
36: Milt Williams
37: Monty Williams
38: Nate Williams
39: Pete Williams
40: Scott Williams
41: Sean Williams
42: Walt Williams
43: Ward Williams
Pick one: 0
Results for Lou Williams:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-02-28,22-091,LAL,HOME,CHO,L (-5),1,33:56,10,14,...,19,6,3,2,1,2,23,31.3,3,Julius Randle
1,2017-03-24,24-290,LAL,HOME,MIN,W (+11),1,47:14,13,20,...,2,5,0,0,1,3,35,28.1,17,Jordan Clarkson
2,2016-12-27,22-028,LAL,HOME,UTA,L (-2),1,31:05,9,12,...,12,3,1,0,2,2,25,25.7,-8,Julius Randle
3,2017-03-15,22-106,LAL,AWAY,HOU,L (-39),1,29:28,13,17,...,8,2,0,0,2,4,32,25.5,-20,Julius Randle
4,2016-12-17,31-199,LAL,AWAY,CLE,L (-11),1,37:45,12,19,...,2,3,1,0,0,5,32,25.2,-12,Nick Young

In [44]:
# dropped gary payton (jr)

LAL_2018_gamelog = []

for p in LAL_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2018_gamelog.append(player_log)
LAL_2018_gamelog = pd.concat(LAL_2018_gamelog)    
LAL_2018_gamelogs = LAL_2018_gamelog.copy()
LAL_2018_gamelogs['GAME_SCORE'] = LAL_2018_gamelogs['GAME_SCORE'].astype(float)
LAL_2018_games = LAL_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2018_games_csv = LAL_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2018_games.csv', index=False)
LAL_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2018_games.csv')
LAL_2018_games_proc.head()

You searched for "Lonzo Ball"
4 results found.
0: Lonzo Ball
1: LaMelo Ball
2: Donta Hall
3: Alonzo Gee
Pick one: 0
Results for Lonzo Ball:

You searched for "Vander Blue"
1 result found.
Vander Blue
Results for Vander Blue:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Thomas Bryant"
2 results found.
0: Thomas Bryant
1: Thomas Jordan
Pick one: 0
Results for Thomas Bryant:

You searched for "Kentavious Caldwell-Pope"
1 result found.
Kentavious Caldwell-Pope
Results for Kentavious Caldwell-Pope:

You searched for "Alex Caruso"
6 results found.
0: Alex Caruso
1: Al Carlson
2: Alex Garcia
3: Alex Scales
4: Alex Groza
5: Alex Hannum
Pick one: 0
Results for Alex Caruso:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Tyler Ennis"
6 results found.
0: Tyler Ennis
1: Tyler Davis
2: Tyler Ulis
3: James Ennis
4: Tyler Herro
5: Tyler Lydon
Pick one: 0
Results for Tyler Ennis:

You searched for "Channing Frye"
1 result found.
Channing Frye
Results for Channing Frye:

You searched for "Josh Hart"
9 results found.
0: Josh Hart
1: Josh Hall
2: Josh Grant
3: Jason Hart
4: Josh Howard
5: John Barr
6: Josh Davis
7: Josh Gray
8: Josh Smith
Pick one: 0
Results for Josh Hart:

You searched for "Nigel Hayes"
2 results found.
0: Nigel Hayes
1: Jim Hayes
Pick one: 0
Results for Nigel Hayes:

You searched for "Andre Ingram"
4 results found.
0: Andre Ingram
1: Brandon Ingram
2: Andre Miller
3: Andre Turner
Pick one: 0
Results for Andre Ingram:

You searched for "Brandon Ingram"
4 results found.
0: Brandon Ingram
1: Andre Ingram
2: Brandon Knight
3: Brandon Hunter
Pick one: 0
Results for Brandon Ingram:

You searched for "Kyle Kuzma"
3 results found.
0: Kyle Kuzma
1: Kyle Guy
2: Kyle Macy
Pick one: 0
Results for Kyle Kuzma:

You searched for "Brook Lopez"
4 results found.
0: Brook Lopez
1: Raul Lopez
2: Robin Lopez
3: Brook Steppe
Pick one: 0
Results for Brook Lopez:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "Travis Wear"
6 results found.
0: Travis Wear
1: Travis Best
2: David Wear
3: Travis Diener
4: Travis Grant
5: Travis Mays
Pick one: 0
Results for Travis Wear:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-11,23-102,LAL,HOME,CLE,W (+14),1,37:59,14,18,...,14,7,1,2,4,3,36,36.9,19,Julius Randle
1,2017-12-20,22-149,LAL,AWAY,HOU,W (+6),1,39:51,12,17,...,7,4,0,1,0,1,38,35.3,9,Kyle Kuzma
2,2018-02-24,25-006,LAL,AWAY,SAC,W (+5),1,38:12,12,20,...,7,2,0,0,0,3,34,26.7,10,Kentavious Caldwell-Pope
3,2018-04-11,23-036,LAL,AWAY,LAC,W (+15),1,35:53,9,15,...,5,5,1,0,2,2,30,26.7,9,Josh Hart
4,2017-11-03,29-216,LAL,HOME,BRK,W (+12),1,30:28,13,23,...,10,2,0,3,3,4,34,26.2,13,Brook Lopez

In [45]:


LAL_2019_gamelog = []

for p in LAL_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2019_gamelog.append(player_log)
LAL_2019_gamelog = pd.concat(LAL_2019_gamelog)    
LAL_2019_gamelogs = LAL_2019_gamelog.copy()
LAL_2019_gamelogs['GAME_SCORE'] = LAL_2019_gamelogs['GAME_SCORE'].astype(float)
LAL_2019_games = LAL_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2019_games_csv = LAL_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2019_games.csv', index=False)
LAL_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2019_games.csv')
LAL_2019_games_proc.head()

You searched for "Lonzo Ball"
4 results found.
0: Lonzo Ball
1: LaMelo Ball
2: Donta Hall
3: Alonzo Gee
Pick one: 0
Results for Lonzo Ball:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Isaac Bonga"
2 results found.
0: Isaac Bonga
1: Isaac Okoro
Pick one: 0
Results for Isaac Bonga:

You searched for "Reggie Bullock"
1 result found.
Reggie Bullock
Results for Reggie Bullock:

You searched for "Kentavious Caldwell-Pope"
1 result found.
Kentavious Caldwell-Pope
Results for Kentavious Caldwell-Pope:

You searched for "Alex Caruso"
6 results found.
0: Alex Caruso
1: Al Carlson
2: Alex Garcia
3: Alex Scales
4: Alex Groza
5: Alex Hannum
Pick one: 0
Results for Alex Caruso:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Josh Hart"
9 results found.
0: Josh Hart
1: Josh Hall
2: Josh Grant
3: Jason Hart
4: Josh Howard
5: John Barr
6: Josh Davis
7: Josh Gray
8: Josh Smith
Pick one: 0
Results for Josh Hart:

You searched for "Andre Ingram"
4 results found.
0: Andre Ingram
1: Brandon Ingram
2: Andre Miller
3: Andre Turner
Pick one: 0
Results for Andre Ingram:

You searched for "Brandon Ingram"
4 results found.
0: Brandon Ingram
1: Andre Ingram
2: Brandon Knight
3: Brandon Hunter
Pick one: 0
Results for Brandon Ingram:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "Jemerrio Jones"
1 result found.
Jemerrio Jones
Results for Jemerrio Jones:

You searched for "Kyle Kuzma"
3 results found.
0: Kyle Kuzma
1: Kyle Guy
2: Kyle Macy
Pick one: 0
Results for Kyle Kuzma:

You searched for "Scott Machado"
1 result found.
Scott Machado
Results for Scott Machado:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Mike Muscala"
2 results found.
0: Mike Muscala
1: Mike Maloy
Pick one: 0
Results for Mike Muscala:

You searched for "Sviatoslav Mykhailiuk"
1 result found.
Sviatoslav Mykhailiuk
Results for Sviatoslav Mykhailiuk:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Moritz Wagner"
2 results found.
0: Moritz Wagner
1: Milt Wagner
Pick one: 0
Results for Moritz Wagner:

You searched for "Johnathan Williams"
1 result found.
Johnathan Williams
Results for Johnathan Williams:

You searched for "Ivica Zubac"
1 result found.
Ivica Zubac
Results for Ivica Zubac:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-11-14,33-319,LAL,HOME,POR,W (+9),1,36:00,13,19,...,10,9,1,3,4,0,44,44.3,4,LeBron James
1,2018-11-18,33-323,LAL,AWAY,MIA,W (+16),1,38:29,19,31,...,8,3,2,1,2,3,51,40.1,20,LeBron James
2,2018-12-05,33-340,LAL,HOME,SAS,W (+8),1,39:42,15,24,...,5,6,2,0,2,1,42,34.9,19,LeBron James
3,2019-03-22,31-062,LAL,HOME,BRK,L (-5),1,34:33,15,20,...,20,0,1,6,3,5,33,34.4,-5,JaVale McGee
4,2019-02-12,34-044,LAL,AWAY,ATL,L (-4),1,43:03,8,20,...,11,16,3,1,2,3,28,32.2,0,LeBron James

In [46]:


LAL_2020_gamelog = []

for p in LAL_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2020_gamelog.append(player_log)
LAL_2020_gamelog = pd.concat(LAL_2020_gamelog)    
LAL_2020_gamelogs = LAL_2020_gamelog.copy()
LAL_2020_gamelogs['GAME_SCORE'] = LAL_2020_gamelogs['GAME_SCORE'].astype(float)
LAL_2020_games = LAL_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2020_games_csv = LAL_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2020_games.csv', index=False)
LAL_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2020_games.csv')
LAL_2020_games_proc.head()

You searched for "Kostas Antetokounmpo"
1 result found.
Kostas Antetokounmpo
Results for Kostas Antetokounmpo:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Devontae Cacok"
1 result found.
Devontae Cacok
Results for Devontae Cacok:

You searched for "Kentavious Caldwell-Pope"
1 result found.
Kentavious Caldwell-Pope
Results for Kentavious Caldwell-Pope:

You searched for "Alex Caruso"
6 results found.
0: Alex Caruso
1: Al Carlson
2: Alex Garcia
3: Alex Scales
4: Alex Groza
5: Alex Hannum
Pick one: 0
Results for Alex Caruso:

You searched for "Quinn Cook"
3 results found.
0: Quinn Cook
1: Brian Cook
2: Quincy Acy
Pick one: 0
Results for Quinn Cook:

You searched for "Troy Daniels"
4 results found.
0: Troy Daniels
1: Erik Daniels
2: Lloyd Daniels
3: Mel Daniels
Pick one: 0
Results for Troy Daniels:

You searched for "Anthony Davis"
9 results found.
0: Anthony Davis
1: Antonio Davis
2: Anthony Edwards
3: Anthony Lamb
4: Anthony Avent
5: Anthony Bowie
6: Johnny Davis
7: Anthony Jones
8: Anthony Mason
Pick one: 0
Results for Anthony Davis:

You searched for "Jared Dudley"
3 results found.
0: Jared Dudley
1: Charles Dudley
2: Chris Dudley
Pick one: 0
Results for Jared Dudley:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Talen Horton-Tucker"
1 result found.
Talen Horton-Tucker
Results for Talen Horton-Tucker:

You searched for "Dwight Howard"
2 results found.
0: Dwight Howard
1: Dwight Powell
Pick one: 0
Results for Dwight Howard:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "Kyle Kuzma"
3 results found.
0: Kyle Kuzma
1: Kyle Guy
2: Kyle Macy
Pick one: 0
Results for Kyle Kuzma:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Zach Norvell"
1 result found.
Zach Norvell
Results for Zach Norvell:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Dion Waiters"
1 result found.
Dion Waiters
Results for Dion Waiters:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-12-08,26-272,LAL,HOME,MIN,W (+17),1,39:16,20,29,...,7,6,4,1,1,1,50,48.5,19,Anthony Davis
1,2020-01-03,26-298,LAL,HOME,NOP,W (+10),1,37:57,15,21,...,13,1,3,1,3,3,46,42.2,26,Anthony Davis
2,2019-10-29,26-232,LAL,HOME,MEM,W (+29),1,30:34,7,17,...,20,2,0,2,0,2,40,41.7,19,Anthony Davis
3,2019-11-01,34-306,LAL,AWAY,DAL,W (+9),1,42:32,13,23,...,12,16,4,1,4,5,39,40.8,15,LeBron James
4,2020-03-03,26-358,LAL,HOME,PHI,W (+13),1,38:58,13,19,...,13,2,4,2,2,1,37,38.0,30,Anthony Davis

In [47]:

LAL_2021_gamelog = []

for p in LAL_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    LAL_2021_gamelog.append(player_log)
LAL_2021_gamelog = pd.concat(LAL_2021_gamelog)    
LAL_2021_gamelogs = LAL_2021_gamelog.copy()
LAL_2021_gamelogs['GAME_SCORE'] = LAL_2021_gamelogs['GAME_SCORE'].astype(float)
LAL_2021_games = LAL_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_2021_games_csv = LAL_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2021_games.csv', index=False)
LAL_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2021_games.csv')
LAL_2021_games_proc.head()

You searched for "Kostas Antetokounmpo"
1 result found.
Kostas Antetokounmpo
Results for Kostas Antetokounmpo:

You searched for "Devontae Cacok"
1 result found.
Devontae Cacok
Results for Devontae Cacok:

You searched for "Kentavious Caldwell-Pope"
1 result found.
Kentavious Caldwell-Pope
Results for Kentavious Caldwell-Pope:

You searched for "Alex Caruso"
6 results found.
0: Alex Caruso
1: Al Carlson
2: Alex Garcia
3: Alex Scales
4: Alex Groza
5: Alex Hannum
Pick one: 0
Results for Alex Caruso:

You searched for "Quinn Cook"
3 results found.
0: Quinn Cook
1: Brian Cook
2: Quincy Acy
Pick one: 0
Results for Quinn Cook:

You searched for "Anthony Davis"
9 results found.
0: Anthony Davis
1: Antonio Davis
2: Anthony Edwards
3: Anthony Lamb
4: Anthony Avent
5: Anthony Bowie
6: Johnny Davis
7: Anthony Jones
8: Anthony Mason
Pick one: 0
Results for Anthony Davis:

You searched for "Andre Drummond"
1 result found.
Andre Drummond
Results for Andre Drummond:

You searched for "Jared Dudley"
3 results found.
0: Jared Dudley
1: Charles Dudley
2: Chris Dudley
Pick one: 0
Results for Jared Dudley:

You searched for "Marc Gasol"
7 results found.
0: Marc Gasol
1: Pau Gasol
2: Mark Eaton
3: Marc Jackson
4: Mark Macon
5: Mark Davis
6: Mark Davis
Pick one: 0
Results for Marc Gasol:

You searched for "Montrezl Harrell"
1 result found.
Montrezl Harrell
Results for Montrezl Harrell:

You searched for "Talen Horton-Tucker"
1 result found.
Talen Horton-Tucker
Results for Talen Horton-Tucker:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "Damian Jones"
14 results found.
0: Damian Jones
1: Damon Jones
2: Damion James
3: DeQuan Jones
4: Mason Jones
5: Alvin Jones
6: Askia Jones
7: Dahntay Jones
8: Jalen Jones
9: James Jones
10: Kevin Jones
11: Robin Jones
12: Sam Jones
13: Wali Jones
Pick one: 0
Results for Damian Jones:

You searched for "Kyle Kuzma"
3 results found.
0: Kyle Kuzma
1: Kyle Guy
2: Kyle Macy
Pick one: 0
Results for Kyle Kuzma:

You searched for "Wesley Matthews"
2 results found.
0: Wesley Matthews
1: Wes Matthews
Pick one: 0
Results for Wesley Matthews:

You searched for "Alfonzo McKinnie"
1 result found.
Alfonzo McKinnie
Results for Alfonzo McKinnie:

You searched for "Ben McLemore"
3 results found.
0: Ben McLemore
1: Len Elmore
2: Ben Moore
Pick one: 0
Results for Ben McLemore:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Dennis Schröder"
1 result found.
Dennis Schroder
Results for Dennis Schroder:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-01-25,36-026,LAL,AWAY,CLE,W (+7),1,38:07,19,26,...,8,6,2,2,3,1,46,41.6,11,LeBron James
1,2021-05-09,28-059,LAL,HOME,PHO,W (+13),1,40:46,13,27,...,12,5,3,3,3,1,42,37.5,26,Anthony Davis
2,2021-01-15,27-158,CLE,HOME,NYK,W (+3),1,39:36,10,18,...,23,3,2,2,2,5,33,33.2,12,Andre Drummond
3,2021-01-23,27-318,LAL,AWAY,CHI,W (+11),1,28:21,14,21,...,6,3,2,1,1,3,37,31.9,5,Anthony Davis
4,2021-03-02,36-062,LAL,HOME,PHO,L (-10),1,37:38,16,24,...,5,6,2,1,3,1,38,31.8,2,LeBron James

## Shaq Files

In [11]:
Shaq_2000_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/Shaq_2000_games.csv')
Shaq_2001_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/Shaq_2001_games.csv')
Shaq_2002_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/Shaq_2002_games.csv')
Shaq_2003_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/Shaq_2003_games.csv')
Shaq_2004_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/Shaq_2004_games.csv')

In [15]:
Shaq_2000_games.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

In [31]:
# 2000
Shaq_2000_games_io = Shaq_2000_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2000_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2000_games_io['Player'] = player
Shaq_2000_games_io.head()

<ipython-input-31-f93231b43f04>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2000_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,11/2/99,27-241,LAL,@,UTA,W (+7),1,34:26:00,9.0,20.0,...,13.0,1.0,1.0,2.0,2.0,4.0,23.0,15.6,16.0,Shaquille O'Neal
1,11/3/99,27-242,LAL,NaN,VAN,W (+15),1,33:55:00,13.0,22.0,...,10.0,4.0,0.0,3.0,1.0,3.0,28.0,23.5,17.0,Shaquille O'Neal
2,11/6/99,27-245,LAL,@,POR,L (-15),1,33:08:00,9.0,14.0,...,10.0,0.0,0.0,2.0,2.0,0.0,21.0,15.6,-5.0,Shaquille O'Neal
3,11/7/99,27-246,LAL,NaN,DAL,W (+8),1,37:04:00,10.0,14.0,...,20.0,1.0,1.0,1.0,2.0,5.0,30.0,25.4,17.0,Shaquille O'Neal
4,11/9/99,27-248,LAL,@,DAL,W (+22),1,38:09:00,12.0,16.0,...,10.0,2.0,0.0,3.0,7.0,5.0,27.0,15.3,19.0,Shaquille O'Neal

In [34]:
# 2001
Shaq_2001_games_io = Shaq_2001_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2001_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2001_games_io['Player'] = player
Shaq_2001_games_io.head()

<ipython-input-34-1f369cc46ff3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2001_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,10/31/00,28-239,LAL,@,POR,W (+10),1,43:21:00,14.0,20.0,...,11.0,5.0,1.0,4.0,1.0,1.0,36.0,34.8,7.0,Shaquille O'Neal
1,11/1/00,28-240,LAL,NaN,UTA,L (-5),1,43:21:00,14.0,20.0,...,15.0,1.0,2.0,0.0,4.0,6.0,34.0,23.6,2.0,Shaquille O'Neal
2,11/4/00,28-243,LAL,@,VAN,W (+9),1,40:56:00,12.0,20.0,...,15.0,5.0,1.0,3.0,1.0,1.0,27.0,24.3,20.0,Shaquille O'Neal
3,11/5/00,28-244,LAL,NaN,LAC,W (+5),1,42:31:00,15.0,31.0,...,14.0,4.0,0.0,5.0,0.0,5.0,39.0,29.8,13.0,Shaquille O'Neal
4,11/7/00,28-246,LAL,@,HOU,L (-10),1,45:01:00,8.0,19.0,...,7.0,5.0,0.0,3.0,4.0,3.0,24.0,14.4,-6.0,Shaquille O'Neal

In [35]:
#2002
Shaq_2002_games_io = Shaq_2002_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2002_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2002_games_io['Player'] = player
Shaq_2002_games_io.head()

<ipython-input-35-946b2ed762b2>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2002_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,10/30/01,29-238,LAL,NaN,POR,W (+11),1,40:11:00,10.0,23.0,...,18.0,5.0,1.0,5.0,3.0,3.0,29.0,25.3,10.0,Shaquille O'Neal
1,11/1/01,29-240,LAL,@,UTA,W (+4),1,38:14:00,11.0,22.0,...,6.0,2.0,1.0,3.0,3.0,6.0,31.0,20.1,14.0,Shaquille O'Neal
2,11/2/01,29-241,LAL,NaN,PHO,W (+23),1,34:28:00,10.0,21.0,...,13.0,2.0,0.0,6.0,2.0,3.0,36.0,32.4,21.0,Shaquille O'Neal
3,11/4/01,29-243,LAL,NaN,UTA,W (+4),1,40:45:00,10.0,15.0,...,8.0,4.0,2.0,2.0,6.0,5.0,30.0,21.7,1.0,Shaquille O'Neal
4,11/9/01,29-248,LAL,NaN,MEM,W (+24),1,28:22:00,8.0,15.0,...,8.0,1.0,0.0,2.0,1.0,1.0,20.0,16.2,23.0,Shaquille O'Neal

In [36]:
#2003
Shaq_2003_games_io = Shaq_2003_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2003_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2003_games_io['Player'] = player
Shaq_2003_games_io.head()

<ipython-input-36-d496bdfb34f8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2003_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,11/22/02,30-261,LAL,NaN,CHI,W (+13),0,21:28,8.0,13.0,...,7.0,0.0,1.0,0.0,3.0,1.0,17.0,11.2,14.0,Shaquille O'Neal
1,11/24/02,30-263,LAL,NaN,MIL,W (+12),1,27:45:00,10.0,18.0,...,11.0,4.0,2.0,1.0,1.0,3.0,24.0,21.2,18.0,Shaquille O'Neal
2,11/26/02,30-265,LAL,@,MIA,L (-12),1,32:08:00,5.0,15.0,...,8.0,0.0,0.0,1.0,2.0,2.0,15.0,5.6,-3.0,Shaquille O'Neal
3,11/27/02,30-266,LAL,@,ORL,L (-10),1,35:47:00,11.0,20.0,...,9.0,2.0,1.0,3.0,4.0,5.0,28.0,18.8,-14.0,Shaquille O'Neal
4,11/29/02,30-268,LAL,@,MEM,W (+6),1,42:48:00,13.0,27.0,...,13.0,3.0,3.0,1.0,4.0,6.0,33.0,24.6,8.0,Shaquille O'Neal

In [37]:
#2004
Shaq_2004_games_io = Shaq_2004_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2004_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2004_games_io['Player'] = player
Shaq_2004_games_io.head()

<ipython-input-37-fafc21551df9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2004_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,10/28/03,31-236,LAL,NaN,DAL,W (+16),1,31:09:00,8.0,15.0,...,9.0,5.0,0.0,1.0,3.0,4.0,16.0,10.2,17.0,Shaquille O'Neal
1,11/1/03,31-240,LAL,@,PHO,W (+4),1,39:17:00,11.0,19.0,...,12.0,3.0,1.0,4.0,4.0,5.0,24.0,19.4,8.0,Shaquille O'Neal
2,11/2/03,31-241,LAL,NaN,GSW,W (+15),1,39:21:00,8.0,19.0,...,14.0,2.0,0.0,3.0,4.0,1.0,17.0,11.0,17.0,Shaquille O'Neal
3,11/4/03,31-243,LAL,@,MIL,W (+6),1,38:39:00,9.0,15.0,...,14.0,1.0,0.0,3.0,1.0,3.0,23.0,19.3,22.0,Shaquille O'Neal
4,11/6/03,31-245,LAL,@,SAS,W (+3),1,50:17:00,12.0,23.0,...,20.0,6.0,0.0,4.0,4.0,3.0,35.0,33.1,13.0,Shaquille O'Neal

## combine all seasons

In [7]:
LAL_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2000_games.csv')
LAL_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2001_games.csv')
LAL_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2002_games.csv')
LAL_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2003_games.csv')
LAL_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2004_games.csv')
LAL_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2005_games.csv')
LAL_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2006_games.csv')
LAL_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2007_games.csv')
LAL_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2008_games.csv')
LAL_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2009_games.csv')
LAL_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2010_games.csv')
LAL_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2011_games.csv')
LAL_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2012_games.csv')
LAL_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2013_games.csv')
LAL_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2014_games.csv')
LAL_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2015_games.csv')
LAL_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2016_games.csv')
LAL_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2017_games.csv')
LAL_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2018_games.csv')
LAL_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2019_games.csv')
LAL_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2020_games.csv')
LAL_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_2021_games.csv')

<ipython-input-27-f93231b43f04>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2000_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,11/2/99,27-241,LAL,@,UTA,W (+7),1,34:26:00,9.0,20.0,...,13.0,1.0,1.0,2.0,2.0,4.0,23.0,15.6,16.0,Shaquille O'Neal
1,11/3/99,27-242,LAL,NaN,VAN,W (+15),1,33:55:00,13.0,22.0,...,10.0,4.0,0.0,3.0,1.0,3.0,28.0,23.5,17.0,Shaquille O'Neal
2,11/6/99,27-245,LAL,@,POR,L (-15),1,33:08:00,9.0,14.0,...,10.0,0.0,0.0,2.0,2.0,0.0,21.0,15.6,-5.0,Shaquille O'Neal
3,11/7/99,27-246,LAL,NaN,DAL,W (+8),1,37:04:00,10.0,14.0,...,20.0,1.0,1.0,1.0,2.0,5.0,30.0,25.4,17.0,Shaquille O'Neal
4,11/9/99,27-248,LAL,@,DAL,W (+22),1,38:09:00,12.0,16.0,...,10.0,2.0,0.0,3.0,7.0,5.0,27.0,15.3,19.0,Shaquille O'Neal

In [28]:
LAL_2000_games_io.head()

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-12,21-202,LAL,HOME,SAC,W (+3),1,43:00,15,24,...,10,8,0,1,4,3,40,34.1,-5,Kobe Bryant
1,2000-01-10,21-140,LAL,HOME,DEN,W (+35),1,36:00,12,18,...,7,4,4,1,1,2,30,31.6,38,Kobe Bryant
2,2000-04-14,21-235,LAL,HOME,SAC,W (+7),1,39:46,13,21,...,5,5,3,3,1,1,31,29.8,10,Kobe Bryant
3,2000-02-07,21-168,LAL,HOME,DEN,W (+8),1,41:50,10,21,...,9,11,1,3,4,2,29,27.0,7,Kobe Bryant
4,2000-03-24,21-214,LAL,HOME,PHO,W (+8),1,33:13,9,15,...,6,7,2,0,1,5,28,26.8,6,Kobe Bryant

In [38]:
LAL_season_dfs = [LAL_2000_games_io, LAL_2001_games_io, LAL_2002_games_io, LAL_2003_games_io, LAL_2004_games_io, LAL_2005_games_io,
                 LAL_2006_games_io, LAL_2007_games_io, LAL_2008_games_io, LAL_2009_games_io, LAL_2010_games_io, LAL_2011_games_io,
                 LAL_2012_games_io, LAL_2013_games_io, LAL_2014_games_io, LAL_2015_games_io, LAL_2016_games_io, LAL_2017_games_io,
                 LAL_2018_games_io, LAL_2019_games_io, LAL_2020_games_io, LAL_2021_games_io, Shaq_2000_games_io,
                 Shaq_2001_games_io, Shaq_2002_games_io, Shaq_2003_games_io, Shaq_2004_games_io]

In [39]:
LAL_all = pd.concat(LAL_season_dfs)
LAL_all_sorted = LAL_all.sort_values(by=['GAME_SCORE'], ascending=False)
LAL_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-01-22,27-152,LAL,HOME,TOR,W (+18),1,41:56,28.0,46.0,...,6.0,2.0,3.0,1.0,3.0,1.0,81.0,63.5,25.0,Kobe Bryant
0,2007-03-16,28-205,LAL,HOME,POR,W (+5),1,49:58,23.0,39.0,...,7.0,3.0,3.0,0.0,2.0,3.0,65.0,50.9,4.0,Kobe Bryant
1,2005-12-20,27-119,LAL,HOME,DAL,W (+22),1,32:53,18.0,31.0,...,8.0,0.0,3.0,0.0,2.0,3.0,62.0,49.7,35.0,Kobe Bryant
60,3/6/00,28-000,LAL,@,LAC,W (+20),1,44:52:00,24.0,35.0,...,23.0,3.0,0.0,0.0,4.0,2.0,61.0,49.5,16.0,Shaquille O'Neal
0,2019-12-08,26-272,LAL,HOME,MIN,W (+17),1,39:16,20.0,29.0,...,7.0,6.0,4.0,1.0,1.0,1.0,50.0,48.5,19.0,Anthony Davis
0,2009-02-02,30-163,LAL,AWAY,NYK,W (+9),1,36:48,19.0,31.0,...,0.0,3.0,0.0,1.0,2.0,1.0,61.0,47.3,19.0,Kobe Bryant
0,2002-01-14,23-144,LAL,HOME,MEM,W (+39),1,34:16,21.0,34.0,...,5.0,4.0,1.0,0.0,0.0,1.0,56.0,46.3,40.0,Kobe Bryant
1,2007-04-15,28-235,LAL,HOME,SEA,W (+11),1,42:05,18.0,25.0,...,8.0,3.0,2.0,0.0,1.0,2.0,50.0,44.4,6.0,Kobe Bryant
0,2018-11-14,33-319,LAL,HOME,POR,W (+9),1,36:00,13.0,19.0,...,10.0,9.0,1.0,3.0,4.0,0.0,44.0,44.3,4.0,LeBron James
2,2007-03-22,28-211,LAL,AWAY,MEM,W (+2),1,45:11,20.0,37.0,...,5.0,4.0,0.0,0.0,2.0,4.0,60.0,43.2,2.0,Kobe Bryant
0,2013-04-10,34-230,LAL,AWAY,POR,W (+7),1,48:00,14.0,27.0,...,8.0,5.0,3.0,4.0,1.0,4.0,47.0,42.8,7.0,Kobe Bryant
68,3/23/01,29-017,LAL,NaN,WAS,W (+13),1,38:28:00,15.0,25.0,...,17.0,8.0,3.0,5.0,3.0,3.0,40.0,42.7,13.0,Shaquille O'Neal
10,11/19/99,27-258,LAL,NaN,CHI,W (+8),1,43:21:00,11.0,13.0,...,17.0,1.0,1.0,7.0,2.0,4.0,41.0,42.4,14.0,Shaquille O'Neal
1,2020-01-03,26-298,LAL,HOME,NOP,W (+10),1,37:57,15.0,21.0,...,13.0,1.0,3.0,1.0,3.0,3.0,46.0,42.2,26.0,Anthony Davis
55,3/21/03,31-015,LAL,NaN,BOS,W (+8),1,39:18:00,19.0,24.0,...,20.0,1.0,1.0,1.0,3.0,3.0,48.0,41.8,11.0,Shaquille O'Neal
2,2019-10-29,26-232,LAL,HOME,MEM,W (+29),1,30:34,7.0,17.0,...,20.0,2.0,0.0,2.0,0.0,2.0,40.0,41.7,19.0,Anthony Davis
0,2021-01-25,36-026,LAL,AWAY,CLE,W (+7),1,38:07,19.0,26.0,...,8.0,6.0,2.0,2.0,3.0,1.0,46.0,41.6,11.0,LeBron James
0,2003-03-28,24-217,LAL,HOME,WAS,W (+14),1,41:23,15.0,29.0,...,5.0,3.0,3.0,0.0,3.0,5.0,55.0,41.5,21.0,Kobe Bryant
3,2006-11-30,28-099,LAL,HOME,UTA,W (+30),1,34:21,19.0,26.0,...,4.0,3.0,0.0,1.0,1.0,5.0,52.0,41.2,22.0,Kobe Bryant
3,2019-11-01,34-306,LAL,AWAY,DAL,W (+9),1,42:32,13.0,23.0,...,12.0,16.0,4.0,1.0,4.0,5.0,39.0,40.8,15.0,LeBron James
1,2003-02-12,24-173,LAL,AWAY,DEN,W (+11),1,31:20,15.0,28.0,...,3.0,2.0,2.0,0.0,0.0,1.0,51.0,40.5,37.0,Kobe Bryant
1,2018-11-18,33-323,LAL,AWAY,MIA,W (+16),1,38:29,19.0,31.0,...,8.0,3.0,2.0,1.0,2.0,3.0,51.0,40.1,20.0,LeBron James
32,1/22/02,29-322,LAL,NaN,DEN,L (-16),1,39:07:00,17.0,22.0,...,11.0,5.0,1.0,2.0,1.0,1.0,40.0,40.0,-6.0,Shaquille O'Neal
75,4/5/00,28-030,LAL,@,GSW,W (+7),1,43:52:00,19.0,27.0,...,13.0,1.0,0.0,3.0,2.0,3.0,49.0,40.0,8.0,Shaquille O'Neal
0,2008-03-02,29-192,LAL,HOME,DAL,W (+4),1,51:24,15.0,27.0,...,11.0,4.0,1.0,2.0,5.0,2.0,52.0,39.4,4.0,Kobe Bryant