In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [5]:
season = 2000
appended_data_MIA = []

# MIA
while season <= 2021:
    df_MIA = get_roster('MIA', season)
    df_MIA['Season'] = season
    df_MIA['Team'] = 'MIA'
    appended_data_MIA.append(df_MIA)
    season = season + 1
appended_data_MIA = pd.concat(appended_data_MIA)

In [6]:
MIA_df_all = appended_data_MIA.copy()
MIA_df_all_csv = MIA_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_players_all.csv', index=False)
MIA_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_players_all.csv')
MIA_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Bruce Bowen,SF,6-7,185,1971-06-14,US,3,Cal State Fullerton,2000,MIA
1,42,P.J. Brown,PF,6-11,225,1969-10-14,US,6,Louisiana Tech,2000,MIA
2,32,Rodney Buford,SG,6-5,189,1977-11-02,US,R,Creighton,2000,MIA
3,25,Anthony Carter,PG,6-1,190,1975-06-16,US,R,Hawaii,2000,MIA
4,4,Duane Causwell,C,7-0,240,1968-05-31,US,9,Temple,2000,MIA

In [7]:
MIA_df_2000 = MIA_df_all[MIA_df_all['Season'] == 2000]
MIA_df_2001 = MIA_df_all[MIA_df_all['Season'] == 2001]
MIA_df_2002 = MIA_df_all[MIA_df_all['Season'] == 2002]
MIA_df_2003 = MIA_df_all[MIA_df_all['Season'] == 2003]
MIA_df_2004 = MIA_df_all[MIA_df_all['Season'] == 2004]
MIA_df_2005 = MIA_df_all[MIA_df_all['Season'] == 2005]
MIA_df_2006 = MIA_df_all[MIA_df_all['Season'] == 2006]
MIA_df_2007 = MIA_df_all[MIA_df_all['Season'] == 2007]
MIA_df_2008 = MIA_df_all[MIA_df_all['Season'] == 2008]
MIA_df_2009 = MIA_df_all[MIA_df_all['Season'] == 2009]
MIA_df_2010 = MIA_df_all[MIA_df_all['Season'] == 2010]
MIA_df_2011 = MIA_df_all[MIA_df_all['Season'] == 2011]
MIA_df_2012 = MIA_df_all[MIA_df_all['Season'] == 2012]
MIA_df_2013 = MIA_df_all[MIA_df_all['Season'] == 2013]
MIA_df_2014 = MIA_df_all[MIA_df_all['Season'] == 2014]
MIA_df_2015 = MIA_df_all[MIA_df_all['Season'] == 2015]
MIA_df_2016 = MIA_df_all[MIA_df_all['Season'] == 2016]
MIA_df_2017 = MIA_df_all[MIA_df_all['Season'] == 2017]
MIA_df_2018 = MIA_df_all[MIA_df_all['Season'] == 2018]
MIA_df_2019 = MIA_df_all[MIA_df_all['Season'] == 2019]
MIA_df_2020 = MIA_df_all[MIA_df_all['Season'] == 2020]
MIA_df_2021 = MIA_df_all[MIA_df_all['Season'] == 2021]

In [ ]:
# changing names
#MIA_df_2002.loc[MIA_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#MIA_df_2004.loc[MIA_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [9]:
MIA_df_2000_players = MIA_df_2000['PLAYER'].to_list()
MIA_df_2001_players = MIA_df_2001['PLAYER'].to_list()
MIA_df_2002_players = MIA_df_2002['PLAYER'].to_list()
MIA_df_2003_players = MIA_df_2003['PLAYER'].to_list()
MIA_df_2004_players = MIA_df_2004['PLAYER'].to_list()
MIA_df_2005_players = MIA_df_2005['PLAYER'].to_list()

MIA_df_2006_players = MIA_df_2006['PLAYER'].to_list()
MIA_df_2007_players = MIA_df_2007['PLAYER'].to_list()
MIA_df_2008_players = MIA_df_2008['PLAYER'].to_list()
MIA_df_2009_players = MIA_df_2009['PLAYER'].to_list()
MIA_df_2010_players = MIA_df_2010['PLAYER'].to_list()
MIA_df_2011_players = MIA_df_2011['PLAYER'].to_list()

MIA_df_2012_players = MIA_df_2012['PLAYER'].to_list()
MIA_df_2013_players = MIA_df_2013['PLAYER'].to_list()
MIA_df_2014_players = MIA_df_2014['PLAYER'].to_list()
MIA_df_2015_players = MIA_df_2015['PLAYER'].to_list()
MIA_df_2016_players = MIA_df_2016['PLAYER'].to_list()
MIA_df_2017_players = MIA_df_2017['PLAYER'].to_list()

MIA_df_2018_players = MIA_df_2018['PLAYER'].to_list()
MIA_df_2019_players = MIA_df_2019['PLAYER'].to_list()
MIA_df_2020_players = MIA_df_2020['PLAYER'].to_list()
MIA_df_2021_players = MIA_df_2021['PLAYER'].to_list()

## players to drop

In [51]:

#MIA_df_2008_players.remove("Bobby Jones")
#MIA_df_2003_players.remove('Ken Johnson')
#MIA_df_2005_players.remove("Shaquille O'Neal")
#MIA_df_2006_players.remove("Shaquille O'Neal")
#MIA_df_2007_players.remove("Shaquille O'Neal")
#MIA_df_2008_players.remove("Shaquille O'Neal")

#MIA_df_2008_players.remove("Luke Jackson")
#MIA_df_2008_players.remove("Bobby Jones")
#MIA_df_2009_players.remove("Jermaine O'Neal")
#MIA_df_2010_players.remove("Jermaine O'Neal")
#MIA_df_2015_players.remove("Henry Walker")
#MIA_df_2018_players.remove("Derrick Jones")
#MIA_df_2019_players.remove("Derrick Jones")
MIA_df_2020_players.remove("Derrick Jones")

In [10]:
MIA_2000_gamelog = []


for p in MIA_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2000_gamelog.append(player_log)
MIA_2000_gamelog = pd.concat(MIA_2000_gamelog)    
MIA_2000_gamelogs = MIA_2000_gamelog.copy()
MIA_2000_gamelogs['GAME_SCORE'] = MIA_2000_gamelogs['GAME_SCORE'].astype(float)
MIA_2000_games = MIA_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2000_games_csv = MIA_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2000_games.csv', index=False)
MIA_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2000_games.csv')
MIA_2000_games_proc.head()

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "P.J. Brown"
12 results found.
0: P.J. Brown
1: Bob Brown
2: Dee Brown
3: Dee Brown
4: Fred Brown
5: John Brown
6: Leon Brown
7: Mike Brown
8: Stan Brown
9: Tony Brown
10: Troy Brown
11: J.J. Barea
Pick one: 0
Results for P.J. Brown:

You searched for "Rodney Buford"
2 results found.
0: Rodney Buford
1: Rodney Hood
Pick one: 0
Results for Rodney Buford:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Duane Causwell"
1 result found.
Duane Causwell
Results for Duane Causwell:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 0
Results for Tim Hardaway:

You searched for "Tim James"
19 results found.
0: Tim James
1: Jim Hayes
2: Mike James
3: Mike James
4: Tre Jones
5: Jim Barnes
6: Jim Davis
7: Jim Farmer
8: Billy James
9: Gene James
10: Justin James
11: Jim Jarvis
12: Sam Jones
13: Wil Jones
14: Jim Les
15: Jim Palmer
16: Tim Thomas
17: Jim Ware
18: Tom Payne
Pick one: 0
Results for Tim James:

You searched for "Harold Jamison"
3 results found.
0: Harold Jamison
1: Harold Johnson
2: Harold Miner
Pick one: 0
Results for Harold Jamison:

You searched for "Voshon Lenard"
1 result found.
Voshon Lenard
Results for Voshon Lenard:

You searched for "Dan Majerle"
1 result found.
Dan Majerle
Results for Dan Majerle:

You searched for "Jamal Mashburn"
1 result found.
Jamal Mashburn
Results for Jamal Mashburn:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Mark Strickland"
3 results found.
0: Mark Strickland
1: Erick Strickland
2: Rod Strickland
Pick one: 0
Results for Mark Strickland:

You searched for "Otis Thorpe"
2 results found.
0: Otis Thorpe
1: Otis Howard
Pick one: 0
Results for Otis Thorpe:

You searched for "Rex Walters"
4 results found.
0: Rex Walters
1: Fred Carter
2: Chet Walker
3: Red Wallace
Pick one: 0
Results for Rex Walters:

You searched for "Clarence Weatherspoon"
1 result found.
Clarence Weatherspoon
Results for Clarence Weatherspoon:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-02-23,30-015,MIA,HOME,NJN,W (+14),1,32:33,13,14,...,16,0,0,5,2,2,43,43.9,6,Alonzo Mourning
1,2000-01-11,34-124,MIA,AWAY,MIN,W (+10),1,43:38,11,13,...,5,5,2,1,0,0,33,36.0,14,Dan Majerle
2,1999-12-10,29-305,MIA,AWAY,SAC,W (+10),1,39:18,15,23,...,11,2,2,8,2,3,37,35.2,13,Alonzo Mourning
3,2000-03-12,30-033,MIA,AWAY,IND,W (+9),1,40:03,13,18,...,8,2,2,4,1,3,35,32.4,20,Alonzo Mourning
4,2000-02-04,29-361,MIA,HOME,WAS,W (+7),1,40:20,9,13,...,7,0,0,7,3,3,32,30.1,20,Alonzo Mourning

In [11]:
MIA_2001_gamelog = []


for p in MIA_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2001_gamelog.append(player_log)
MIA_2001_gamelog = pd.concat(MIA_2001_gamelog)    
MIA_2001_gamelogs = MIA_2001_gamelog.copy()
MIA_2001_gamelogs['GAME_SCORE'] = MIA_2001_gamelogs['GAME_SCORE'].astype(float)
MIA_2001_games = MIA_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2001_games_csv = MIA_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2001_games.csv', index=False)
MIA_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2001_games.csv')
MIA_2001_games_proc.head()

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Duane Causwell"
1 result found.
Duane Causwell
Results for Duane Causwell:

You searched for "Cedric Ceballos"
2 results found.
0: Cedric Ceballos
1: Cedric Ball
Pick one: 0
Results for Cedric Ceballos:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Todd Fuller"
4 results found.
0: Todd Fuller
1: Tony Fuller
2: Carl Fuller
3: Cody Zeller
Pick one: 0
Results for Todd Fuller:

You searched for "Brian Grant"
9 results found.
0: Brian Grant
1: Jerian Grant
2: Brian Evans
3: Bud Grant
4: Greg Grant
5: Brian Heaney
6: Brian Shaw
7: Brian Bowen
8: Brian Martin
Pick one: 0
Results for Brian Grant:

You searched for "A.C. Green"
11 results found.
0: A.C. Green
1: Josh Green
2: Danny Green
3: Erick Green
4: Jeff Green
5: Ken Green
6: Lamar Green
7: Mike Green
8: Sean Green
9: Si Green
10: A.J. Price
Pick one: 0
Results for A.C. Green:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 0
Results for Tim Hardaway:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Don MacLean"
7 results found.
0: Don MacLean
1: Don Ackerman
2: Don Carlson
3: Don Martin
4: Don Chaney
5: Dan Majerle
6: Sheldon Mac
Pick one: 0
Results for Don MacLean:

You searched for "Dan Majerle"
1 result found.
Dan Majerle
Results for Dan Majerle:

You searched for "Anthony Mason"
10 results found.
0: Anthony Mason
1: Anthony Lamb
2: Anthony Avent
3: Anthony Brown
4: Anthony Cook
5: Anthony Davis
6: Anthony Johnson
7: Anthony Morrow
8: Anthony Taylor
9: Anthony Jones
Pick one: 0
Results for Anthony Mason:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Jamal Robinson"
10 results found.
0: Jamal Robinson
1: James Robinson
2: Rumeal Robinson
3: Samuel Robinson
4: David Robinson
5: Jackie Robinson
6: Larry Robinson
7: Nate Robinson
8: Thomas Robinson
9: Wayne Robinson
Pick one: 0
Results for Jamal Robinson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-11-03,28-243,MIA,AWAY,CHH,L (-4),1,40:26,10,17,...,16,1,2,2,0,3,33,34.4,-1,Brian Grant
1,2000-11-08,28-248,MIA,HOME,SEA,W (+6),1,43:36,13,21,...,21,2,3,1,3,2,30,29.7,13,Brian Grant
2,2001-04-17,31-068,MIA,HOME,MIL,W (+2),1,32:29,10,16,...,16,2,1,5,3,0,25,28.3,12,Alonzo Mourning
3,2001-02-02,29-105,MIA,AWAY,ATL,W (+11),1,41:33,7,14,...,12,5,3,0,3,1,24,26.1,6,Eddie Jones
4,2001-01-06,34-127,MIA,HOME,BOS,W (+26),1,29:05,9,14,...,2,10,2,0,1,1,24,25.6,31,Tim Hardaway

In [12]:

MIA_2002_gamelog = []


for p in MIA_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2002_gamelog.append(player_log)
MIA_2002_gamelog = pd.concat(MIA_2002_gamelog)    
MIA_2002_gamelogs = MIA_2002_gamelog.copy()
MIA_2002_gamelogs['GAME_SCORE'] = MIA_2002_gamelogs['GAME_SCORE'].astype(float)
MIA_2002_games = MIA_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2002_games_csv = MIA_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2002_games.csv', index=False)
MIA_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2002_games.csv')
MIA_2002_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Ernest Brown"
3 results found.
0: Ernest Brown
1: Fred Brown
2: Moses Brown
Pick one: 0
Results for Ernest Brown:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "LaPhonso Ellis"
1 result found.
LaPhonso Ellis
Results for LaPhonso Ellis:

You searched for "Chris Gatling"
4 results found.
0: Chris Gatling
1: Chris King
2: Chris Mullin
3: Chris Garner
Pick one: 0
Results for Chris Gatling:

You searched for "Kendall Gill"
2 results found.
0: Kendall Gill
1: Kendall Rhine
Pick one: 0
Results for Kendall Gill:

You searched for "Brian Grant"
9 results found.
0: Brian Grant
1: Jerian Grant
2: Brian Evans
3: Bud Grant
4: Greg Grant
5: Brian Heaney
6: Brian Shaw
7: Brian Bowen
8: Brian Martin
Pick one: 0
Results for Brian Grant:

You searched for "Tang Hamilton"
7 results found.
0: Tang Hamilton
1: Dale Hamilton
2: Daniel Hamilton
3: Joe Hamilton
4: Ralph Hamilton
5: Roy Hamilton
6: Steve Hamilton
Pick one: 0
Results for Tang Hamilton:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Jim Jackson"
21 results found.
0: Jim Jackson
1: Al Jackson
2: Josh Jackson
3: Mike Jackson
4: Phil Jackson
5: Jim Paxson
6: Jim Paxson
7: Greg Jackson
8: Jaren Jackson
9: Jaren Jackson
10: Justin Jackson
11: Luke Jackson
12: Luke Jackson
13: Marc Jackson
14: Mark Jackson
15: Tony Jackson
16: Tony Jackson
17: Sam Jacobson
18: Jim Wilson
19: Jim Eakins
20: Jim Chones
Pick one: 0
Results for Jim Jackson:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Sam Mack"
9 results found.
0: Sam Mack
1: Sam Cash
2: Sam Lacey
3: Yam Madar
4: Tom Black
5: Sean Marks
6: Sean May
7: Sam Smith
8: Sam Smith
Pick one: 0
Results for Sam Mack:

You searched for "Sean Marks"
6 results found.
0: Sean Marks
1: Sean May
2: Sean Rooks
3: Sam Mack
4: Keon Clark
5: Stan Miasek
Pick one: 0
Results for Sean Marks:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Vladimir Stepania"
1 result found.
Vladimir Stepania
Results for Vladimir Stepania:

You searched for "Rod Strickland"
4 results found.
0: Rod Strickland
1: Roger Strickland
2: Erick Strickland
3: Mark Strickland
Pick one: 0
Results for Rod Strickland:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-01-29,30-101,MIA,AWAY,DEN,W (+6),1,48:07,13,24,...,5,2,4,4,1,3,37,32.9,11,Eddie Jones
1,2002-02-28,30-131,MIA,HOME,NYK,W (+14),1,43:48,12,18,...,3,5,3,1,3,1,32,28.5,20,Eddie Jones
2,2001-11-24,30-035,MIA,AWAY,CLE,L (-4),1,47:35,7,15,...,13,5,0,4,1,3,27,26.9,-4,Eddie Jones
3,2002-03-02,30-133,MIA,AWAY,DAL,W (+14),1,39:42,9,13,...,7,3,2,0,0,1,26,25.5,29,Eddie Jones
4,2001-12-31,30-072,MIA,AWAY,IND,W (+2),1,42:15,11,17,...,1,4,2,0,1,1,29,25.2,11,Eddie Jones

In [15]:
# removed Ken Johnson
    
MIA_2003_gamelog = []



for p in MIA_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2003_gamelog.append(player_log)
MIA_2003_gamelog = pd.concat(MIA_2003_gamelog)    
MIA_2003_gamelogs = MIA_2003_gamelog.copy()
MIA_2003_gamelogs['GAME_SCORE'] = MIA_2003_gamelogs['GAME_SCORE'].astype(float)
MIA_2003_games = MIA_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2003_games_csv = MIA_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2003_games.csv', index=False)
MIA_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2003_games.csv')
MIA_2003_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Travis Best"
6 results found.
0: Travis Best
1: Travis Wear
2: Travis Grant
3: Travis Leslie
4: Travis Mays
5: David West
Pick one: 0
Results for Travis Best:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "LaPhonso Ellis"
1 result found.
LaPhonso Ellis
Results for LaPhonso Ellis:

You searched for "Brian Grant"
9 results found.
0: Brian Grant
1: Jerian Grant
2: Brian Evans
3: Bud Grant
4: Greg Grant
5: Brian Heaney
6: Brian Shaw
7: Brian Bowen
8: Brian Martin
Pick one: 0
Results for Brian Grant:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Sean Lampley"
2 results found.
0: Sean Lampley
1: Jim Lampley
Pick one: 0
Results for Sean Lampley:

You searched for "Sean Marks"
6 results found.
0: Sean Marks
1: Sean May
2: Sean Rooks
3: Sam Mack
4: Keon Clark
5: Stan Miasek
Pick one: 0
Results for Sean Marks:

You searched for "Vladimir Stepania"
1 result found.
Vladimir Stepania
Results for Vladimir Stepania:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-12-14,31-055,MIA,HOME,GSW,W (+9),1,40:39,11,16,...,6,4,5,0,0,1,38,40.4,-2,Eddie Jones
1,2003-03-28,23-015,MIA,HOME,MIN,W (+27),1,39:10,15,22,...,3,7,4,2,4,5,35,30.0,23,Caron Butler
2,2002-12-16,31-057,MIA,HOME,HOU,L (-5),1,51:06,11,27,...,10,7,6,0,2,1,32,29.0,-8,Eddie Jones
3,2003-02-28,31-131,MIA,AWAY,MEM,L (-10),1,48:17,8,15,...,6,7,3,4,1,3,24,27.0,-3,Eddie Jones
4,2003-02-03,31-106,MIA,HOME,ATL,W (+20),1,40:54,7,11,...,5,4,2,0,1,0,26,26.4,19,Eddie Jones

In [16]:


MIA_2004_gamelog = []



for p in MIA_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2004_gamelog.append(player_log)
MIA_2004_gamelog = pd.concat(MIA_2004_gamelog)    
MIA_2004_gamelogs = MIA_2004_gamelog.copy()
MIA_2004_gamelogs['GAME_SCORE'] = MIA_2004_gamelogs['GAME_SCORE'].astype(float)
MIA_2004_games = MIA_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2004_games_csv = MIA_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2004_games.csv', index=False)
MIA_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2004_games.csv')
MIA_2004_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Rafer Alston"
1 result found.
Rafer Alston
Results for Rafer Alston:

You searched for "Jerome Beasley"
4 results found.
0: Jerome Beasley
1: Jerome Kersey
2: Jerome Allen
3: John Beasley
Pick one: 0
Results for Jerome Beasley:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Bimbo Coles"
1 result found.
Bimbo Coles
Results for Bimbo Coles:

You searched for "Brian Grant"
9 results found.
0: Brian Grant
1: Jerian Grant
2: Brian Evans
3: Bud Grant
4: Greg Grant
5: Brian Heaney
6: Brian Shaw
7: Brian Bowen
8: Brian Martin
Pick one: 0
Results for Brian Grant:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Tyrone Hill"
5 results found.
0: Tyrone Hill
1: Tyrone Britt
2: Armond Hill
3: Grant Hill
4: Tyronn Lue
Pick one: 0
Results for Tyrone Hill:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Lamar Odom"
1 result found.
Lamar Odom
Results for Lamar Odom:

You searched for "Kirk Penney"
1 result found.
Kirk Penney
Results for Kirk Penney:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

You searched for "John Wallace"
11 results found.
0: John Wallace
1: John Wall
2: Ben Wallace
3: John Havlicek
4: John Holland
5: John Salley
6: John Vallely
7: Red Wallace
8: John Williams
9: John Bagley
10: John Warren
Pick one: 0
Results for John Wallace:

You searched for "Loren Woods"
3 results found.
0: Loren Woods
1: Leon Wood
2: Tommy Woods
Pick one: 0
Results for Loren Woods:

You searched for "Wang Zhizhi"
1 result found.
Wang Zhizhi
Results for Wang Zhizhi:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-03-06,24-121,MIA,HOME,SAC,W (+6),1,45:27,11,18,...,19,11,2,1,4,4,30,32.7,3,Lamar Odom
1,2004-03-29,24-016,MIA,HOME,CHI,W (+9),1,40:12,10,19,...,13,5,3,2,1,1,30,31.5,10,Caron Butler
2,2003-12-21,21-338,MIA,HOME,GSW,W (+11),1,39:24,10,16,...,3,8,1,1,1,2,33,31.4,13,Dwyane Wade
3,2003-12-16,21-333,MIA,HOME,ATL,W (+18),1,38:16,15,22,...,6,8,1,1,1,3,32,30.7,18,Dwyane Wade
4,2004-01-02,32-074,MIA,HOME,ORL,W (+11),1,39:26,10,21,...,6,8,1,0,0,3,33,29.5,13,Eddie Jones

In [20]:
# removed shaaq - for now

MIA_2005_gamelog = []

for p in MIA_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2005_gamelog.append(player_log)
MIA_2005_gamelog = pd.concat(MIA_2005_gamelog)    
MIA_2005_gamelogs = MIA_2005_gamelog.copy()
MIA_2005_gamelogs['GAME_SCORE'] = MIA_2005_gamelogs['GAME_SCORE'].astype(float)
MIA_2005_games = MIA_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2005_games_csv = MIA_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2005_games.csv', index=False)
MIA_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2005_games.csv')
MIA_2005_games_proc.head()

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Damon Jones"
24 results found.
0: Damon Jones
1: Mason Jones
2: Damian Jones
3: Damion James
4: Jalen Jones
5: James Jones
6: Major Jones
7: Sam Jones
8: Aaron James
9: Alvin Jones
10: DeQuan Jones
11: Dwayne Jones
12: Earl Jones
13: Jake Jones
14: Jimmy Jones
15: Kevin Jones
16: Larry Jones
17: Mark Jones
18: Mark Jones
19: Robin Jones
20: Solomon Jones
21: Wali Jones
22: Diamond Stone
23: Damone Brown
Pick one: 0
Results for Damon Jones:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Christian Laettner"
1 result found.
Christian Laettner
Results for Christian Laettner:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Wesley Person"
2 results found.
0: Wesley Person
1: Wesley Johnson
Pick one: 0
Results for Wesley Person:

You searched for "Steve Smith"
24 results found.
0: Steve Smith
1: Steven Smith
2: Stevin Smith
3: Steve Mix
4: Pete Smith
5: Steve Burtt
6: Steve Nash
7: Deb Smith
8: Derek Smith
9: Ed Smith
10: Greg Smith
11: Greg Smith
12: Joe Smith
13: Ken Smith
14: Leon Smith
15: Mike Smith
16: Otis Smith
17: Sam Smith
18: Sam Smith
19: Tony Smith
20: Steve Hamer
21: Steve Hawes
22: Steve Hayes
23: Steve Jones
Pick one: 0
Results for Steve Smith:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Qyntel Woods"
1 result found.
Qyntel Woods
Results for Qyntel Woods:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

You searched for "Wang Zhizhi"
1 result found.
Wang Zhizhi
Results for Wang Zhizhi:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-04-14,23-087,MIA,AWAY,PHI,L (-7),1,48:23,18,33,...,10,6,1,0,3,4,48,35.3,0,Dwyane Wade
1,2005-02-23,23-037,MIA,AWAY,IND,L (-2),1,46:12,13,24,...,4,8,5,0,2,3,38,35.0,4,Dwyane Wade
2,2004-11-06,22-294,MIA,AWAY,WAS,W (+12),1,43:02,11,16,...,8,12,1,0,7,2,37,33.4,19,Dwyane Wade
3,2004-11-24,22-312,MIA,AWAY,ATL,W (+6),1,42:08,12,17,...,8,11,0,2,2,3,31,32.2,6,Dwyane Wade
4,2004-11-19,22-307,MIA,HOME,UTA,W (+2),1,46:53,12,22,...,4,8,3,2,5,4,39,30.6,2,Dwyane Wade

In [21]:

# removed shaq
MIA_2006_gamelog = []

for p in MIA_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2006_gamelog.append(player_log)
MIA_2006_gamelog = pd.concat(MIA_2006_gamelog)    
MIA_2006_gamelogs = MIA_2006_gamelog.copy()
MIA_2006_gamelogs['GAME_SCORE'] = MIA_2006_gamelogs['GAME_SCORE'].astype(float)
MIA_2006_games = MIA_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2006_games_csv = MIA_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2006_games.csv', index=False)
MIA_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2006_games.csv')
MIA_2006_games_proc.head()

You searched for "Derek Anderson"
12 results found.
0: Derek Anderson
1: Eric Anderson
2: Greg Anderson
3: Andrew Anderson
4: Dan Anderson
5: Dan Anderson
6: James Anderson
7: Jerome Anderson
8: Kenny Anderson
9: Kyle Anderson
10: Nick Anderson
11: Ron Anderson
Pick one: 0
Results for Derek Anderson:

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Gerald Fitch"
1 result found.
Gerald Fitch
Results for Gerald Fitch:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Jason Kapono"
2 results found.
0: Jason Kapono
1: Jason Lawson
Pick one: 0
Results for Jason Kapono:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Gary Payton"
5 results found.
0: Gary Payton
1: Gary Payton
2: Gary Alcorn
3: Mark Eaton
4: Mel Payton
Pick one: 1
Results for Gary Payton:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Wayne Simien"
4 results found.
0: Wayne Simien
1: Wayne Selden
2: Wayne See
3: Wayne Stevens
Pick one: 0
Results for Wayne Simien:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Matt Walsh"
5 results found.
0: Matt Walsh
1: Matt Fish
2: Matt Mazza
3: Jim Walsh
4: Matt Barnes
Pick one: 0
Results for Matt Walsh:

You searched for "Jason Williams"
36 results found.
0: Jason Williams
1: Jayson Williams
2: Aaron Williams
3: Alan Williams
4: Deron Williams
5: Jawad Williams
6: Jay Williams
7: John Williams
8: Justin Williams
9: Ron Williams
10: Jason Collins
11: Al Williams
12: Alvin Williams
13: Art Williams
14: Bob Williams
15: Brandon Williams
16: Earl Williams
17: Gus Williams
18: Hank Williams
19: Jerome Williams
20: Jordan Williams
21: Kevin Williams
22: Lou Williams
23: Marvin Williams
24: Matt Williams
25: Mo Williams
26: Nate Williams
27: Ray Williams
28: Rob Williams
29: Sam Williams
30: Sam Williams
31: Sean Williams
32: Sly Williams
33: Troy Williams
34: Walt Williams
35: Ward Williams
Pick one: 0
Results for Jason Williams:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-12-11,23-328,MIA,HOME,WAS,W (+3),1,47:02,15,27,...,10,8,4,1,2,3,41,38.6,3,Dwyane Wade
1,2006-04-01,24-074,MIA,AWAY,CLE,L (-7),1,42:56,18,36,...,8,9,2,1,1,4,44,34.8,-1,Dwyane Wade
2,2006-03-10,24-052,MIA,HOME,GSW,L (-5),1,40:48,14,20,...,6,6,2,0,5,3,42,34.2,5,Dwyane Wade
3,2006-01-08,23-356,MIA,AWAY,POR,W (+29),1,27:51,13,17,...,5,7,6,0,2,3,31,33.9,18,Dwyane Wade
4,2006-02-06,24-020,MIA,HOME,BOS,W (+16),1,38:38,10,17,...,8,8,2,1,2,4,34,33.6,19,Dwyane Wade

In [22]:
# removed shaq

MIA_2007_gamelog = []

for p in MIA_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2007_gamelog.append(player_log)
MIA_2007_gamelog = pd.concat(MIA_2007_gamelog)    
MIA_2007_gamelogs = MIA_2007_gamelog.copy()
MIA_2007_gamelogs['GAME_SCORE'] = MIA_2007_gamelogs['GAME_SCORE'].astype(float)
MIA_2007_games = MIA_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2007_games_csv = MIA_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2007_games.csv', index=False)
MIA_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2007_games.csv')
MIA_2007_games_proc.head()

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Robert Hite"
10 results found.
0: Robert Hite
1: Robert Hahn
2: Robert Smith
3: Robert Horry
4: Robert Pack
5: Robert Reid
6: Robert Sacre
7: Robert Swift
8: Robert Whaley
9: Rory White
Pick one: 0
Results for Robert Hite:

You searched for "Eddie Jones"
21 results found.
0: Eddie Jones
1: Edgar Jones
2: Eddie Miles
3: Eddie Owens
4: Tre Jones
5: Eddie House
6: Eddie Hughes
7: Eddie Johnson
8: Eddie Johnson
9: Alvin Jones
10: Askia Jones
11: Earl Jones
12: Jake Jones
13: Kevin Jones
14: Robin Jones
15: Steve Jones
16: Wali Jones
17: Wil Jones
18: Willie Jones
19: Eddie Jordan
20: Eddie Mast
Pick one: 0
Results for Eddie Jones:

You searched for "Jason Kapono"
2 results found.
0: Jason Kapono
1: Jason Lawson
Pick one: 0
Results for Jason Kapono:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Gary Payton"
5 results found.
0: Gary Payton
1: Gary Payton
2: Gary Alcorn
3: Mark Eaton
4: Mel Payton
Pick one: 0
Results for Gary Payton:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Chris Quinn"
12 results found.
0: Chris Quinn
1: Chris Duhon
2: Chris King
3: Chris Munk
4: Kris Dunn
5: Chris Jent
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Owens
10: Chris Smith
11: Chris Smith
Pick one: 0
Results for Chris Quinn:

You searched for "Wayne Simien"
4 results found.
0: Wayne Simien
1: Wayne Selden
2: Wayne See
3: Wayne Stevens
Pick one: 0
Results for Wayne Simien:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Jason Williams"
36 results found.
0: Jason Williams
1: Jayson Williams
2: Aaron Williams
3: Alan Williams
4: Deron Williams
5: Jawad Williams
6: Jay Williams
7: John Williams
8: Justin Williams
9: Ron Williams
10: Jason Collins
11: Al Williams
12: Alvin Williams
13: Art Williams
14: Bob Williams
15: Brandon Williams
16: Earl Williams
17: Gus Williams
18: Hank Williams
19: Jerome Williams
20: Jordan Williams
21: Kevin Williams
22: Lou Williams
23: Marvin Williams
24: Matt Williams
25: Mo Williams
26: Nate Williams
27: Ray Williams
28: Rob Williams
29: Sam Williams
30: Sam Williams
31: Sean Williams
32: Sly Williams
33: Troy Williams
34: Walt Williams
35: Ward Williams
Pick one: 0
Results for Jason Williams:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-12-25,24-342,MIA,HOME,LAL,W (+16),1,41:20,12,20,...,4,11,4,4,4,2,40,41.3,20,Dwyane Wade
1,2007-02-03,25-017,MIA,AWAY,MIL,W (+19),1,42:05,11,17,...,8,11,4,1,2,1,32,36.9,22,Dwyane Wade
2,2006-12-16,24-333,MIA,HOME,MEM,W (+8),1,39:32,15,24,...,5,7,5,1,7,2,41,33.7,14,Dwyane Wade
3,2007-01-13,24-361,MIA,AWAY,UTA,W (+9),1,39:07,5,12,...,1,10,6,2,4,5,32,33.5,10,Dwyane Wade
4,2006-11-25,24-312,MIA,AWAY,CHA,W (+9),1,45:20,10,14,...,6,12,0,0,4,1,35,33.0,10,Dwyane Wade

In [28]:
# removed shaq
# removed luke jackson
# removed bobby jones

MIA_2008_gamelog = []

for p in MIA_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2008_gamelog.append(player_log)
MIA_2008_gamelog = pd.concat(MIA_2008_gamelog)    
MIA_2008_gamelogs = MIA_2008_gamelog.copy()
MIA_2008_gamelogs['GAME_SCORE'] = MIA_2008_gamelogs['GAME_SCORE'].astype(float)
MIA_2008_games = MIA_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2008_games_csv = MIA_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2008_games.csv', index=False)
MIA_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2008_games.csv')
MIA_2008_games_proc.head()

You searched for "Blake Ahearn"
1 result found.
Blake Ahearn
Results for Blake Ahearn:

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Daequan Cook"
2 results found.
0: Daequan Cook
1: Darwin Cook
Pick one: 0
Results for Daequan Cook:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Anfernee Hardaway"
1 result found.
Anfernee Hardaway
Results for Anfernee Hardaway:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Alexander Johnson"
1 result found.
Alexander Johnson
Results for Alexander Johnson:

You searched for "Stéphane Lasme"
1 result found.
Stephane Lasme
Results for Stephane Lasme:

You searched for "Shawn Marion"
2 results found.
0: Shawn Marion
1: Shawn Long
Pick one: 0
Results for Shawn Marion:

You searched for "Alonzo Mourning"
1 result found.
Alonzo Mourning
Results for Alonzo Mourning:

You searched for "Smush Parker"
2 results found.
0: Smush Parker
1: Sonny Parker
Pick one: 0
Results for Smush Parker:

You searched for "Kasib Powell"
2 results found.
0: Kasib Powell
1: Josh Powell
Pick one: 0
Results for Kasib Powell:

You searched for "Chris Quinn"
12 results found.
0: Chris Quinn
1: Chris Duhon
2: Chris King
3: Chris Munk
4: Kris Dunn
5: Chris Jent
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Owens
10: Chris Smith
11: Chris Smith
Pick one: 0
Results for Chris Quinn:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Jason Williams"
36 results found.
0: Jason Williams
1: Jayson Williams
2: Aaron Williams
3: Alan Williams
4: Deron Williams
5: Jawad Williams
6: Jay Williams
7: John Williams
8: Justin Williams
9: Ron Williams
10: Jason Collins
11: Al Williams
12: Alvin Williams
13: Art Williams
14: Bob Williams
15: Brandon Williams
16: Earl Williams
17: Gus Williams
18: Hank Williams
19: Jerome Williams
20: Jordan Williams
21: Kevin Williams
22: Lou Williams
23: Marvin Williams
24: Matt Williams
25: Mo Williams
26: Nate Williams
27: Ray Williams
28: Rob Williams
29: Sam Williams
30: Sam Williams
31: Sean Williams
32: Sly Williams
33: Troy Williams
34: Walt Williams
35: Ward Williams
Pick one: 0
Results for Jason Williams:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-12-28,25-345,MIA,HOME,ORL,L (-7),1,51:35,16,21,...,7,11,3,3,5,4,48,45.2,-2,Dwyane Wade
1,2007-12-20,25-337,MIA,HOME,NJN,L (-4),1,44:36,15,23,...,5,6,3,3,3,4,41,37.1,-3,Dwyane Wade
2,2008-01-21,26-004,MIA,HOME,CLE,L (-7),1,40:13,17,29,...,6,7,3,1,4,3,42,34.5,-7,Dwyane Wade
3,2007-12-19,25-336,MIA,AWAY,ATL,L (-3),1,49:01,8,17,...,6,10,1,2,3,4,36,33.5,-5,Dwyane Wade
4,2008-01-07,29-245,PHO,HOME,DEN,W (+22),1,32:23,11,16,...,14,4,0,6,0,3,27,31.0,27,Shawn Marion

In [31]:
# removed jermaine o'neal

MIA_2009_gamelog = []

for p in MIA_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2009_gamelog.append(player_log)
MIA_2009_gamelog = pd.concat(MIA_2009_gamelog)    
MIA_2009_gamelogs = MIA_2009_gamelog.copy()
MIA_2009_gamelogs['GAME_SCORE'] = MIA_2009_gamelogs['GAME_SCORE'].astype(float)
MIA_2009_games = MIA_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2009_games_csv = MIA_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2009_games.csv', index=False)
MIA_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2009_games.csv')
MIA_2009_games_proc.head()

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Daequan Cook"
2 results found.
0: Daequan Cook
1: Darwin Cook
Pick one: 0
Results for Daequan Cook:

You searched for "Yakhouba Diawara"
1 result found.
Yakhouba Diawara
Results for Yakhouba Diawara:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Luther Head"
2 results found.
0: Luther Head
1: Luther Green
Pick one: 0
Results for Luther Head:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Jamaal Magloire"
1 result found.
Jamaal Magloire
Results for Jamaal Magloire:

You searched for "Shawn Marion"
2 results found.
0: Shawn Marion
1: Shawn Long
Pick one: 0
Results for Shawn Marion:

You searched for "Jamario Moon"
1 result found.
Jamario Moon
Results for Jamario Moon:

You searched for "Chris Quinn"
12 results found.
0: Chris Quinn
1: Chris Duhon
2: Chris King
3: Chris Munk
4: Kris Dunn
5: Chris Jent
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Owens
10: Chris Smith
11: Chris Smith
Pick one: 0
Results for Chris Quinn:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-03-09,27-051,MIA,HOME,CHI,W (+3),1,49:51,15,21,...,6,12,4,3,5,0,48,49.0,20,Dwyane Wade
1,2009-02-28,27-042,MIA,HOME,NYK,W (+5),1,41:18,16,29,...,8,10,4,4,2,1,46,47.5,8,Dwyane Wade
2,2009-04-12,27-085,MIA,HOME,NYK,W (+17),1,39:17,19,30,...,9,4,0,1,3,3,55,43.6,24,Dwyane Wade
3,2009-02-22,27-036,MIA,AWAY,ORL,L (-23),1,37:17,17,30,...,5,5,1,1,1,3,50,39.9,-16,Dwyane Wade
4,2009-03-14,27-056,MIA,HOME,UTA,W (+11),1,52:28,19,39,...,10,9,4,2,6,2,50,39.0,10,Dwyane Wade

In [34]:
# removed jermaine o'neal

MIA_2010_gamelog = []

for p in MIA_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2010_gamelog.append(player_log)
MIA_2010_gamelog = pd.concat(MIA_2010_gamelog)    
MIA_2010_gamelogs = MIA_2010_gamelog.copy()
MIA_2010_gamelogs['GAME_SCORE'] = MIA_2010_gamelogs['GAME_SCORE'].astype(float)
MIA_2010_games = MIA_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2010_games_csv = MIA_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2010_games.csv', index=False)
MIA_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2010_games.csv')
MIA_2010_games_proc.head()

You searched for "Rafer Alston"
1 result found.
Rafer Alston
Results for Rafer Alston:

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Daequan Cook"
2 results found.
0: Daequan Cook
1: Darwin Cook
Pick one: 0
Results for Daequan Cook:

You searched for "Yakhouba Diawara"
1 result found.
Yakhouba Diawara
Results for Yakhouba Diawara:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Jamaal Magloire"
1 result found.
Jamaal Magloire
Results for Jamaal Magloire:

You searched for "Shavlik Randolph"
1 result found.
Shavlik Randolph
Results for Shavlik Randolph:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-04-02,28-075,MIA,AWAY,IND,W (+9),1,44:01,14,22,...,9,6,3,3,5,1,43,39.0,20,Dwyane Wade
1,2009-12-06,27-323,MIA,AWAY,SAC,W (+13),1,38:38,10,16,...,5,10,1,4,2,1,34,36.7,14,Dwyane Wade
2,2010-03-02,28-044,MIA,HOME,GSW,W (+4),1,36:40,15,23,...,6,12,4,0,3,2,35,34.5,12,Dwyane Wade
3,2010-01-15,27-363,MIA,AWAY,HOU,W (+9),1,41:40,15,24,...,3,8,3,1,2,2,37,34.4,12,Dwyane Wade
4,2010-03-14,28-056,MIA,HOME,PHI,W (+13),1,36:10,14,25,...,5,2,5,1,1,1,38,32.9,13,Dwyane Wade

In [35]:

MIA_2011_gamelog = []

for p in MIA_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2011_gamelog.append(player_log)
MIA_2011_gamelog = pd.concat(MIA_2011_gamelog)    
MIA_2011_gamelogs = MIA_2011_gamelog.copy()
MIA_2011_gamelogs['GAME_SCORE'] = MIA_2011_gamelogs['GAME_SCORE'].astype(float)
MIA_2011_games = MIA_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2011_games_csv = MIA_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2011_games.csv', index=False)
MIA_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2011_games.csv')
MIA_2011_games_proc.head()

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Erick Dampier"
2 results found.
0: Erick Dampier
1: Erik Daniels
Pick one: 0
Results for Erick Dampier:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "Zydrunas Ilgauskas"
1 result found.
Zydrunas Ilgauskas
Results for Zydrunas Ilgauskas:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Jamaal Magloire"
1 result found.
Jamaal Magloire
Results for Jamaal Magloire:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Dexter Pittman"
1 result found.
Dexter Pittman
Results for Dexter Pittman:

You searched for "Jerry Stackhouse"
1 result found.
Jerry Stackhouse
Results for Jerry Stackhouse:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-02-03,26-035,MIA,AWAY,ORL,W (+4),1,42:39,17,25,...,11,8,1,1,3,2,51,46.7,2,LeBron James
1,2011-03-25,29-067,MIA,HOME,PHI,W (+12),1,41:01,15,26,...,11,8,3,5,2,3,39,39.4,24,Dwyane Wade
2,2011-02-08,26-040,MIA,HOME,IND,W (+5),1,41:44,15,23,...,13,8,3,1,4,1,41,39.3,18,LeBron James
3,2011-01-09,26-010,MIA,AWAY,POR,W (+7),1,46:11,17,26,...,13,6,2,0,6,4,44,35.1,5,LeBron James
4,2011-03-30,26-090,MIA,AWAY,WAS,W (+16),1,43:49,12,16,...,8,8,5,0,5,3,35,34.6,20,LeBron James

In [36]:

MIA_2012_gamelog = []

for p in MIA_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2012_gamelog.append(player_log)
MIA_2012_gamelog = pd.concat(MIA_2012_gamelog)    
MIA_2012_gamelogs = MIA_2012_gamelog.copy()
MIA_2012_gamelogs['GAME_SCORE'] = MIA_2012_gamelogs['GAME_SCORE'].astype(float)
MIA_2012_games = MIA_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2012_games_csv = MIA_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2012_games.csv', index=False)
MIA_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2012_games.csv')
MIA_2012_games_proc.head()

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Shane Battier"
1 result found.
Shane Battier
Results for Shane Battier:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Norris Cole"
2 results found.
0: Norris Cole
1: Norris Coleman
Pick one: 0
Results for Norris Cole:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Mickell Gladness"
1 result found.
Mickell Gladness
Results for Mickell Gladness:

You searched for "Terrel Harris"
3 results found.
0: Terrel Harris
1: Bernie Harris
2: Steve Harris
Pick one: 0
Results for Terrel Harris:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Dexter Pittman"
1 result found.
Dexter Pittman
Results for Dexter Pittman:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-03-01,27-062,MIA,AWAY,POR,W (+14),1,41:02,13,22,...,11,6,5,1,0,1,38,40.6,8,LeBron James
1,2012-04-04,27-096,MIA,HOME,OKC,W (+5),1,41:30,10,20,...,7,10,4,1,2,2,34,34.6,20,LeBron James
2,2011-12-25,26-360,MIA,AWAY,DAL,W (+11),1,36:16,11,19,...,10,6,2,2,3,3,37,34.1,27,LeBron James
3,2012-04-03,27-095,MIA,HOME,PHI,W (+6),1,38:04,15,25,...,6,4,3,1,4,0,41,33.8,12,LeBron James
4,2012-01-04,27-005,MIA,HOME,IND,W (+35),1,37:41,12,21,...,8,13,2,0,2,2,33,33.8,31,LeBron James

In [37]:
MIA_2013_gamelog = []

for p in MIA_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2013_gamelog.append(player_log)
MIA_2013_gamelog = pd.concat(MIA_2013_gamelog)    
MIA_2013_gamelogs = MIA_2013_gamelog.copy()
MIA_2013_gamelogs['GAME_SCORE'] = MIA_2013_gamelogs['GAME_SCORE'].astype(float)
MIA_2013_games = MIA_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2013_games_csv = MIA_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2013_games.csv', index=False)
MIA_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2013_games.csv')
MIA_2013_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Shane Battier"
1 result found.
Shane Battier
Results for Shane Battier:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Norris Cole"
2 results found.
0: Norris Cole
1: Norris Coleman
Pick one: 0
Results for Norris Cole:

You searched for "Josh Harrellson"
1 result found.
Josh Harrellson
Results for Josh Harrellson:

You searched for "Terrel Harris"
3 results found.
0: Terrel Harris
1: Bernie Harris
2: Steve Harris
Pick one: 0
Results for Terrel Harris:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Rashard Lewis"
1 result found.
Rashard Lewis
Results for Rashard Lewis:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Dexter Pittman"
1 result found.
Dexter Pittman
Results for Dexter Pittman:

You searched for "Jarvis Varnado"
1 result found.
Jarvis Varnado
Results for Jarvis Varnado:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-03-03,29-063,MIA,HOME,CHA,W (+17),1,41:12,22,33,...,7,4,0,0,2,2,61,48.8,16,LeBron James
1,2013-02-26,28-058,MIA,HOME,SAC,W (+12),1,47:45,14,23,...,8,16,2,1,2,1,40,44.2,11,LeBron James
2,2014-03-18,29-078,MIA,AWAY,CLE,W (+4),1,41:40,14,19,...,6,4,2,3,0,1,43,42.0,11,LeBron James
3,2014-02-18,29-050,MIA,AWAY,DAL,W (+11),1,38:28,16,23,...,9,6,2,0,3,2,42,37.4,19,LeBron James
4,2013-01-17,28-018,MIA,AWAY,LAL,W (+9),1,42:04,17,25,...,7,8,3,1,2,2,39,36.9,13,LeBron James

In [38]:
MIA_2014_gamelog = []

for p in MIA_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2014_gamelog.append(player_log)
MIA_2014_gamelog = pd.concat(MIA_2014_gamelog)    
MIA_2014_gamelogs = MIA_2014_gamelog.copy()
MIA_2014_gamelogs['GAME_SCORE'] = MIA_2014_gamelogs['GAME_SCORE'].astype(float)
MIA_2014_games = MIA_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2014_games_csv = MIA_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2014_games.csv', index=False)
MIA_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2014_games.csv')
MIA_2014_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Shane Battier"
1 result found.
Shane Battier
Results for Shane Battier:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Norris Cole"
2 results found.
0: Norris Cole
1: Norris Coleman
Pick one: 0
Results for Norris Cole:

You searched for "Toney Douglas"
4 results found.
0: Toney Douglas
1: John Douglas
2: Leon Douglas
3: Tony Dumas
Pick one: 0
Results for Toney Douglas:

You searched for "Justin Hamilton"
3 results found.
0: Justin Hamilton
1: Jordan Hamilton
2: Justin Patton
Pick one: 0
Results for Justin Hamilton:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

You searched for "James Jones"
32 results found.
0: James Jones
1: Jake Jones
2: Jalen Jones
3: James Ennis
4: Damon Jones
5: Jimmy Jones
6: Sam Jones
7: James Posey
8: Tre Jones
9: Mason Jones
10: James Johnson
11: Charles Jones
12: Charles Jones
13: Charles Jones
14: Damian Jones
15: Earl Jones
16: Fred Jones
17: Larry Jones
18: Major Jones
19: Mark Jones
20: Mark Jones
21: Tyus Jones
22: Wali Jones
23: James Lang
24: James Silas
25: James Thomas
26: James Wilkes
27: James Young
28: James Cotton
29: James Scott
30: James Webb
31: James White
Pick one: 0
Results for James Jones:

You searched for "Rashard Lewis"
1 result found.
Rashard Lewis
Results for Rashard Lewis:

You searched for "DeAndre Liggins"
2 results found.
0: DeAndre Liggins
1: Andrew Wiggins
Pick one: 0
Results for DeAndre Liggins:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Greg Oden"
13 results found.
0: Greg Oden
1: Greg Deane
2: Greg Hyder
3: Greg Lee
4: Greg Foster
5: Drew Gooden
6: Greg Grant
7: Greg Kite
8: Red Owens
9: Greg Stokes
10: Greg Howard
11: Greg Minor
12: Greg Monroe
Pick one: 0
Results for Greg Oden:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-03-03,29-063,MIA,HOME,CHA,W (+17),1,41:12,22,33,...,7,4,0,0,2,2,61,48.8,16,LeBron James
1,2014-03-18,29-078,MIA,AWAY,CLE,W (+4),1,41:40,14,19,...,6,4,2,3,0,1,43,42.0,11,LeBron James
2,2014-02-18,29-050,MIA,AWAY,DAL,W (+11),1,38:28,16,23,...,9,6,2,0,3,2,42,37.4,19,LeBron James
3,2013-11-05,28-310,MIA,AWAY,TOR,W (+9),1,36:01,13,20,...,8,8,0,1,1,2,35,33.9,3,LeBron James
4,2013-12-23,28-358,MIA,HOME,ATL,W (+2),1,45:38,16,28,...,8,6,2,0,0,2,38,32.6,-4,LeBron James

In [41]:
# removed henry walker
MIA_2015_gamelog = []

for p in MIA_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2015_gamelog.append(player_log)
MIA_2015_gamelog = pd.concat(MIA_2015_gamelog)    
MIA_2015_gamelogs = MIA_2015_gamelog.copy()
MIA_2015_gamelogs['GAME_SCORE'] = MIA_2015_gamelogs['GAME_SCORE'].astype(float)
MIA_2015_games = MIA_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2015_games_csv = MIA_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2015_games.csv', index=False)
MIA_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2015_games.csv')
MIA_2015_games_proc.head()

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Norris Cole"
2 results found.
0: Norris Cole
1: Norris Coleman
Pick one: 0
Results for Norris Cole:

You searched for "Andre Dawkins"
2 results found.
0: Andre Dawkins
1: Andre Owens
Pick one: 0
Results for Andre Dawkins:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Zoran Dragić"
2 results found.
0: Zoran Dragic
1: Goran Dragic
Pick one: 0
Results for Zoran Dragic:

You searched for "James Ennis"
11 results found.
0: James Ennis
1: James Jones
2: Jamel Artis
3: Tyler Ennis
4: James Lang
5: James Silas
6: James Posey
7: James White
8: James Young
9: James Harden
10: James Phelan
Pick one: 0
Results for James Ennis:

You searched for "Danny Granger"
5 results found.
0: Danny Granger
1: Danny Vranes
2: Danny Ainge
3: Danny Green
4: Danny Wagner
Pick one: 0
Results for Danny Granger:

You searched for "Justin Hamilton"
3 results found.
0: Justin Hamilton
1: Jordan Hamilton
2: Justin Patton
Pick one: 0
Results for Justin Hamilton:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Tyler Johnson"
18 results found.
0: Tyler Johnson
1: Lee Johnson
2: Trey Johnson
3: Amir Johnson
4: Avery Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: James Johnson
9: Joe Johnson
10: Ken Johnson
11: Ken Johnson
12: Ollie Johnson
13: Ralph Johnson
14: Stanley Johnson
15: Steve Johnson
16: Stew Johnson
17: Wesley Johnson
Pick one: 0
Results for Tyler Johnson:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Shabazz Napier"
1 result found.
Shabazz Napier
Results for Shabazz Napier:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Hassan Whiteside"
1 result found.
Hassan Whiteside
Results for Hassan Whiteside:

You searched for "Shawne Williams"
14 results found.
0: Shawne Williams
1: Hank Williams
2: Sean Williams
3: Alan Williams
4: Charles Williams
5: Frank Williams
6: Gene Williams
7: Grant Williams
8: Jawad Williams
9: Nate Williams
10: Sam Williams
11: Sam Williams
12: Shammond Williams
13: Shelden Williams
Pick one: 0
Results for Shawne Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-03-29,33-071,MIA,HOME,DET,W (+7),1,35:40,14,27,...,6,4,1,0,1,0,40,32.1,7,Dwyane Wade
1,2014-12-02,28-210,PHO,HOME,IND,W (+17),1,35:12,11,15,...,5,3,4,0,3,2,34,31.7,24,Goran Dragić
2,2014-12-09,30-260,MIA,AWAY,PHO,W (+6),1,36:40,14,21,...,9,1,4,0,1,1,34,30.9,11,Chris Bosh
3,2014-12-05,28-213,PHO,AWAY,DAL,W (+12),1,37:27,10,15,...,2,13,0,1,1,1,28,30.1,15,Goran Dragić
4,2015-02-04,25-236,MIA,AWAY,MIN,L (-1),1,35:31,12,13,...,20,0,3,2,4,3,24,28.5,11,Hassan Whiteside

In [42]:


MIA_2016_gamelog = []

for p in MIA_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2016_gamelog.append(player_log)
MIA_2016_gamelog = pd.concat(MIA_2016_gamelog)    
MIA_2016_gamelogs = MIA_2016_gamelog.copy()
MIA_2016_gamelogs['GAME_SCORE'] = MIA_2016_gamelogs['GAME_SCORE'].astype(float)
MIA_2016_games = MIA_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2016_games_csv = MIA_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2016_games.csv', index=False)
MIA_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2016_games.csv')
MIA_2016_games_proc.head()

You searched for "Chris Andersen"
4 results found.
0: Chris Andersen
1: David Andersen
2: Eric Anderson
3: Chris Herren
Pick one: 0
Results for Chris Andersen:

You searched for "Chris Bosh"
18 results found.
0: Chris Bosh
1: Chris Babb
2: Chris Ford
3: Chris Boucher
4: Chris Carr
5: Chris Jent
6: Chris King
7: Chris Mihm
8: Chris Munk
9: Chris Paul
10: Chris Smith
11: Chris Smith
12: Chris Taft
13: Chris Welp
14: Chris Duhon
15: Chris Mills
16: Chris Morris
17: Chris Owens
Pick one: 0
Results for Chris Bosh:

You searched for "Mario Chalmers"
1 result found.
Mario Chalmers
Results for Mario Chalmers:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "James Ennis"
11 results found.
0: James Ennis
1: James Jones
2: Jamel Artis
3: Tyler Ennis
4: James Lang
5: James Silas
6: James Posey
7: James White
8: James Young
9: James Harden
10: James Phelan
Pick one: 0
Results for James Ennis:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Tyler Johnson"
18 results found.
0: Tyler Johnson
1: Lee Johnson
2: Trey Johnson
3: Amir Johnson
4: Avery Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: James Johnson
9: Joe Johnson
10: Ken Johnson
11: Ken Johnson
12: Ollie Johnson
13: Ralph Johnson
14: Stanley Johnson
15: Steve Johnson
16: Stew Johnson
17: Wesley Johnson
Pick one: 0
Results for Tyler Johnson:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Josh Richardson"
4 results found.
0: Josh Richardson
1: Pooh Richardson
2: Jason Richardson
3: Norm Richardson
Pick one: 0
Results for Josh Richardson:

You searched for "Jarnell Stokes"
1 result found.
Jarnell Stokes
Results for Jarnell Stokes:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Briante Weber"
1 result found.
Briante Weber
Results for Briante Weber:

You searched for "Hassan Whiteside"
1 result found.
Hassan Whiteside
Results for Hassan Whiteside:

You searched for "Justise Winslow"
1 result found.
Justise Winslow
Results for Justise Winslow:

You searched for "Dorell Wright"
2 results found.
0: Dorell Wright
1: Delon Wright
Pick one: 0
Results for Dorell Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-02-19,30-309,MIA,AWAY,ATL,W (+4),1,37:31,11,17,...,11,0,4,0,1,1,30,28.0,16,Luol Deng
1,2016-03-28,34-071,MIA,HOME,BRK,W (+11),1,31:32,14,19,...,2,9,2,2,4,3,30,27.4,9,Dwyane Wade
2,2016-01-19,26-220,MIA,HOME,MIL,L (-12),1,35:22,8,9,...,18,1,0,2,1,1,23,27.2,-10,Hassan Whiteside
3,2016-04-11,25-285,NOP,HOME,CHI,L (-5),1,39:54,9,14,...,5,4,1,1,1,3,29,27.0,-9,James Ennis
4,2016-02-05,34-221,BRK,HOME,SAC,W (+9),1,36:55,11,16,...,6,11,2,1,6,0,27,26.8,13,Joe Johnson

In [43]:


MIA_2017_gamelog = []

for p in MIA_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2017_gamelog.append(player_log)
MIA_2017_gamelog = pd.concat(MIA_2017_gamelog)    
MIA_2017_gamelogs = MIA_2017_gamelog.copy()
MIA_2017_gamelogs['GAME_SCORE'] = MIA_2017_gamelogs['GAME_SCORE'].astype(float)
MIA_2017_games = MIA_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2017_games_csv = MIA_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2017_games.csv', index=False)
MIA_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2017_games.csv')
MIA_2017_games_proc.head()

You searched for "Luke Babbitt"
2 results found.
0: Luke Babbitt
1: Luke Witte
Pick one: 0
Results for Luke Babbitt:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Tyler Johnson"
18 results found.
0: Tyler Johnson
1: Lee Johnson
2: Trey Johnson
3: Amir Johnson
4: Avery Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: James Johnson
9: Joe Johnson
10: Ken Johnson
11: Ken Johnson
12: Ollie Johnson
13: Ralph Johnson
14: Stanley Johnson
15: Steve Johnson
16: Stew Johnson
17: Wesley Johnson
Pick one: 0
Results for Tyler Johnson:

You searched for "Rodney McGruder"
1 result found.
Rodney McGruder
Results for Rodney McGruder:

You searched for "Josh McRoberts"
2 results found.
0: Josh McRoberts
1: Joe Roberts
Pick one: 0
Results for Josh McRoberts:

You searched for "Willie Reed"
12 results found.
0: Willie Reed
1: Willis Reed
2: Willie Green
3: Willie Allen
4: Willie Jones
5: Willie Long
6: Willie Porter
7: Billy Reid
8: Willie Rogers
9: Willie Warren
10: Willie Wise
11: Willie White
Pick one: 0
Results for Willie Reed:

You searched for "Josh Richardson"
4 results found.
0: Josh Richardson
1: Pooh Richardson
2: Jason Richardson
3: Norm Richardson
Pick one: 0
Results for Josh Richardson:

You searched for "Dion Waiters"
1 result found.
Dion Waiters
Results for Dion Waiters:

You searched for "Okaro White"
4 results found.
0: Okaro White
1: Herb White
2: Jo Jo White
3: Rory White
Pick one: 0
Results for Okaro White:

You searched for "Hassan Whiteside"
1 result found.
Hassan Whiteside
Results for Hassan Whiteside:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

You searched for "Justise Winslow"
1 result found.
Justise Winslow
Results for Justise Winslow:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-11-28,30-206,MIA,HOME,BOS,L (-8),1,37:48,8,15,...,2,17,2,0,1,5,27,30.8,-3,Goran Dragić
1,2017-02-04,27-236,MIA,HOME,PHI,W (+23),1,26:47,14,17,...,20,0,0,3,3,1,30,30.4,24,Hassan Whiteside
2,2016-12-03,27-173,MIA,AWAY,POR,L (-7),1,40:55,12,16,...,16,1,0,5,1,1,28,29.6,5,Hassan Whiteside
3,2016-12-20,27-190,MIA,HOME,ORL,L (-6),1,46:59,14,22,...,15,0,1,5,1,5,32,29.0,-3,Hassan Whiteside
4,2017-02-06,30-276,MIA,AWAY,MIN,W (+2),1,34:30,13,17,...,2,9,1,0,4,4,33,29.0,17,Goran Dragić

In [46]:
# removed Derrick Jones

MIA_2018_gamelog = []

for p in MIA_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2018_gamelog.append(player_log)
MIA_2018_gamelog = pd.concat(MIA_2018_gamelog)    
MIA_2018_gamelogs = MIA_2018_gamelog.copy()
MIA_2018_gamelogs['GAME_SCORE'] = MIA_2018_gamelogs['GAME_SCORE'].astype(float)
MIA_2018_games = MIA_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2018_games_csv = MIA_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2018_games.csv', index=False)
MIA_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2018_games.csv')
MIA_2018_games_proc.head()

You searched for "Bam Adebayo"
1 result found.
Bam Adebayo
Results for Bam Adebayo:

You searched for "Luke Babbitt"
2 results found.
0: Luke Babbitt
1: Luke Witte
Pick one: 0
Results for Luke Babbitt:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Tyler Johnson"
18 results found.
0: Tyler Johnson
1: Lee Johnson
2: Trey Johnson
3: Amir Johnson
4: Avery Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: James Johnson
9: Joe Johnson
10: Ken Johnson
11: Ken Johnson
12: Ollie Johnson
13: Ralph Johnson
14: Stanley Johnson
15: Steve Johnson
16: Stew Johnson
17: Wesley Johnson
Pick one: 0
Results for Tyler Johnson:

You searched for "Rodney McGruder"
1 result found.
Rodney McGruder
Results for Rodney McGruder:

You searched for "Jordan Mickey"
2 results found.
0: Jordan Mickey
1: Jordan McRae
Pick one: 0
Results for Jordan Mickey:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Josh Richardson"
4 results found.
0: Josh Richardson
1: Pooh Richardson
2: Jason Richardson
3: Norm Richardson
Pick one: 0
Results for Josh Richardson:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Dion Waiters"
1 result found.
Dion Waiters
Results for Dion Waiters:

You searched for "Derrick Walton"
5 results found.
0: Derrick Walton
1: Derrick Alston
2: Darrick Martin
3: Derrick White
4: Derrick Jones
Pick one: 0
Results for Derrick Walton:

You searched for "Okaro White"
4 results found.
0: Okaro White
1: Herb White
2: Jo Jo White
3: Rory White
Pick one: 0
Results for Okaro White:

You searched for "Hassan Whiteside"
1 result found.
Hassan Whiteside
Results for Hassan Whiteside:

You searched for "Matt Williams"
44 results found.
0: Matt Williams
1: Art Williams
2: Milt Williams
3: Nate Williams
4: Walt Williams
5: Al Williams
6: Earl Williams
7: Grant Williams
8: Hank Williams
9: Jay Williams
10: Mike Williams
11: Mo Williams
12: Monty Williams
13: Pete Williams
14: Ray Williams
15: Sam Williams
16: Sam Williams
17: Scott Williams
18: Ward Williams
19: Aaron Williams
20: Alan Williams
21: Bob Williams
22: Buck Williams
23: C.J. Williams
24: Duck Williams
25: Eric Williams
26: Fly Williams
27: Frank Williams
28: Gene Williams
29: Gus Williams
30: Guy Williams
31: Herb Williams
32: Jason Williams
33: Jawad Williams
34: John Williams
35: Lou Williams
36: Marcus Williams
37: Marcus Williams
38: Marvin Williams
39: Rob Williams
40: Ron Williams
41: Sean Williams
42: Sly Williams
43: Troy Williams
Pick one: 0
Results for Matt Williams:

You searched for "Justise Winslow"
1 result found.
Justise Winslow
Results for Justise Winslow:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-19,31-027,MIA,HOME,DEN,W (+8),1,46:15,13,17,...,11,6,1,1,1,4,31,30.1,13,James Johnson
1,2018-02-03,31-273,MIA,AWAY,DET,L (-4),1,35:04,13,23,...,2,6,2,1,0,2,33,28.8,-3,Goran Dragić
2,2018-03-05,28-265,MIA,HOME,PHO,W (+22),1,24:59,10,13,...,14,2,2,3,1,1,24,27.6,16,Hassan Whiteside
3,2018-01-17,28-218,MIA,AWAY,MIL,W (+5),1,31:40,10,12,...,14,0,0,6,2,3,27,27.4,7,Hassan Whiteside
4,2018-02-23,31-293,MIA,AWAY,NOP,L (-1),1,37:17,12,22,...,9,8,1,0,1,3,30,27.3,2,Goran Dragić

In [49]:

# removed derrick jones
MIA_2019_gamelog = []

for p in MIA_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2019_gamelog.append(player_log)
MIA_2019_gamelog = pd.concat(MIA_2019_gamelog)    
MIA_2019_gamelogs = MIA_2019_gamelog.copy()
MIA_2019_gamelogs['GAME_SCORE'] = MIA_2019_gamelogs['GAME_SCORE'].astype(float)
MIA_2019_games = MIA_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2019_games_csv = MIA_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2019_games.csv', index=False)
MIA_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2019_games.csv')
MIA_2019_games_proc.head()

You searched for "Bam Adebayo"
1 result found.
Bam Adebayo
Results for Bam Adebayo:

You searched for "Ryan Anderson"
14 results found.
0: Ryan Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Ron Anderson
5: Kyle Anderson
6: Eric Anderson
7: Greg Anderson
8: J.J. Anderson
9: Kenny Anderson
10: Kim Anderson
11: Nick Anderson
12: Alan Henderson
13: Ryan Robertson
Pick one: 0
Results for Ryan Anderson:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Tyler Johnson"
18 results found.
0: Tyler Johnson
1: Lee Johnson
2: Trey Johnson
3: Amir Johnson
4: Avery Johnson
5: Clay Johnson
6: Dave Johnson
7: Ed Johnson
8: James Johnson
9: Joe Johnson
10: Ken Johnson
11: Ken Johnson
12: Ollie Johnson
13: Ralph Johnson
14: Stanley Johnson
15: Steve Johnson
16: Stew Johnson
17: Wesley Johnson
Pick one: 0
Results for Tyler Johnson:

You searched for "Yante Maten"
1 result found.
Yante Maten
Results for Yante Maten:

You searched for "Rodney McGruder"
1 result found.
Rodney McGruder
Results for Rodney McGruder:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Josh Richardson"
4 results found.
0: Josh Richardson
1: Pooh Richardson
2: Jason Richardson
3: Norm Richardson
Pick one: 0
Results for Josh Richardson:

You searched for "Duncan Robinson"
4 results found.
0: Duncan Robinson
1: Devin Robinson
2: Justin Robinson
3: Rumeal Robinson
Pick one: 0
Results for Duncan Robinson:

You searched for "Emanuel Terry"
1 result found.
Emanuel Terry
Results for Emanuel Terry:

You searched for "Dwyane Wade"
2 results found.
0: Dwyane Wade
1: Dean Wade
Pick one: 0
Results for Dwyane Wade:

You searched for "Dion Waiters"
1 result found.
Dion Waiters
Results for Dion Waiters:

You searched for "Hassan Whiteside"
1 result found.
Hassan Whiteside
Results for Hassan Whiteside:

You searched for "Justise Winslow"
1 result found.
Justise Winslow
Results for Justise Winslow:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-11-07,29-147,MIA,HOME,SAS,W (+7),1,32:13,10,18,...,20,2,0,9,1,2,29,33.9,1,Hassan Whiteside
1,2019-02-05,29-237,MIA,AWAY,POR,W (+10),1,30:01,11,12,...,11,0,4,2,1,2,28,31.7,16,Hassan Whiteside
2,2019-02-10,25-148,MIA,AWAY,GSW,L (-2),1,37:09,14,22,...,1,5,1,0,2,1,37,29.6,8,Josh Richardson
3,2019-02-23,26-292,PHO,AWAY,ATL,L (-8),1,34:34,10,16,...,5,4,2,1,0,3,29,27.6,-19,Tyler Johnson
4,2019-02-25,29-257,MIA,HOME,PHO,L (-3),1,26:38,14,19,...,11,1,2,0,1,5,29,26.3,0,Hassan Whiteside

In [52]:

# removed derrick jones
MIA_2020_gamelog = []

for p in MIA_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2020_gamelog.append(player_log)
MIA_2020_gamelog = pd.concat(MIA_2020_gamelog)    
MIA_2020_gamelogs = MIA_2020_gamelog.copy()
MIA_2020_gamelogs['GAME_SCORE'] = MIA_2020_gamelogs['GAME_SCORE'].astype(float)
MIA_2020_games = MIA_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2020_games_csv = MIA_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2020_games.csv', index=False)
MIA_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2020_games.csv')
MIA_2020_games_proc.head()

You searched for "Bam Adebayo"
1 result found.
Bam Adebayo
Results for Bam Adebayo:

You searched for "Kyle Alexander"
5 results found.
0: Kyle Alexander
1: Joe Alexander
2: Cory Alexander
3: Gary Alexander
4: Kyle Anderson
Pick one: 0
Results for Kyle Alexander:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Tyler Herro"
4 results found.
0: Tyler Herro
1: Tyler Bey
2: Tyler Cook
3: Tyler Zeller
Pick one: 0
Results for Tyler Herro:

You searched for "Solomon Hill"
2 results found.
0: Solomon Hill
1: Solomon Alabi
Pick one: 0
Results for Solomon Hill:

You searched for "Andre Iguodala"
1 result found.
Andre Iguodala
Results for Andre Iguodala:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Meyers Leonard"
1 result found.
Meyers Leonard
Results for Meyers Leonard:

You searched for "Daryl Macon"
3 results found.
0: Daryl Macon
1: Mark Macon
2: Karl Malone
Pick one: 0
Results for Daryl Macon:

You searched for "Kendrick Nunn"
1 result found.
Kendrick Nunn
Results for Kendrick Nunn:

You searched for "KZ Okpala"
1 result found.
KZ Okpala
Results for KZ Okpala:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Duncan Robinson"
4 results found.
0: Duncan Robinson
1: Devin Robinson
2: Justin Robinson
3: Rumeal Robinson
Pick one: 0
Results for Duncan Robinson:

You searched for "Chris Silva"
15 results found.
0: Chris Silva
1: Chris Mills
2: Chris Childs
3: Chris King
4: Chris Mihm
5: Chris Smith
6: Chris Smith
7: Chris Welp
8: Chris Wilcox
9: Chris Babb
10: Chris Carr
11: Chris Owens
12: Chris Paul
13: Chris Quinn
14: Chris Taft
Pick one: 0
Results for Chris Silva:

You searched for "Gabe Vincent"
3 results found.
0: Gabe Vincent
1: Jay Vincent
2: Sam Vincent
Pick one: 0
Results for Gabe Vincent:

You searched for "Dion Waiters"
1 result found.
Dion Waiters
Results for Dion Waiters:

You searched for "Justise Winslow"
1 result found.
Justise Winslow
Results for Justise Winslow:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-02-03,30-142,MIA,HOME,PHI,W (+31),1,28:39,14,20,...,7,2,3,0,0,2,38,36.1,13,Jimmy Butler
1,2019-12-10,22-145,MIA,HOME,ATL,W (+14),1,43:31,13,18,...,11,11,2,0,4,5,30,30.8,26,Bam Adebayo
2,2019-12-10,25-232,MIA,HOME,ATL,W (+14),1,43:04,12,16,...,3,4,0,1,0,3,34,30.8,26,Duncan Robinson
3,2019-12-04,30-081,MIA,AWAY,BOS,L (-19),1,37:14,12,18,...,6,4,2,0,4,2,37,30.6,-13,Jimmy Butler
4,2019-12-06,30-083,MIA,HOME,WAS,W (+9),1,36:27,9,16,...,11,11,1,2,3,2,28,30.0,13,Jimmy Butler

In [53]:

MIA_2021_gamelog = []

for p in MIA_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    MIA_2021_gamelog.append(player_log)
MIA_2021_gamelog = pd.concat(MIA_2021_gamelog)    
MIA_2021_gamelogs = MIA_2021_gamelog.copy()
MIA_2021_gamelogs['GAME_SCORE'] = MIA_2021_gamelogs['GAME_SCORE'].astype(float)
MIA_2021_games = MIA_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_2021_games_csv = MIA_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2021_games.csv', index=False)
MIA_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2021_games.csv')
MIA_2021_games_proc.head()

You searched for "Precious Achiuwa"
1 result found.
Precious Achiuwa
Results for Precious Achiuwa:

You searched for "Bam Adebayo"
1 result found.
Bam Adebayo
Results for Bam Adebayo:

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Nemanja Bjelica"
1 result found.
Nemanja Bjelica
Results for Nemanja Bjelica:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Goran Dragić"
2 results found.
0: Goran Dragic
1: Zoran Dragic
Pick one: 0
Results for Goran Dragic:

You searched for "Maurice Harkless"
2 results found.
0: Maurice Harkless
1: Maurice McHartley
Pick one: 0
Results for Maurice Harkless:

You searched for "Udonis Haslem"
2 results found.
0: Udonis Haslem
1: Adonis Thomas
Pick one: 0
Results for Udonis Haslem:

You searched for "Tyler Herro"
4 results found.
0: Tyler Herro
1: Tyler Bey
2: Tyler Cook
3: Tyler Zeller
Pick one: 0
Results for Tyler Herro:

You searched for "Andre Iguodala"
1 result found.
Andre Iguodala
Results for Andre Iguodala:

You searched for "Meyers Leonard"
1 result found.
Meyers Leonard
Results for Meyers Leonard:

You searched for "Kendrick Nunn"
1 result found.
Kendrick Nunn
Results for Kendrick Nunn:

You searched for "KZ Okpala"
1 result found.
KZ Okpala
Results for KZ Okpala:

You searched for "Victor Oladipo"
1 result found.
Victor Oladipo
Results for Victor Oladipo:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Duncan Robinson"
4 results found.
0: Duncan Robinson
1: Devin Robinson
2: Justin Robinson
3: Rumeal Robinson
Pick one: 0
Results for Duncan Robinson:

You searched for "Chris Silva"
15 results found.
0: Chris Silva
1: Chris Mills
2: Chris Childs
3: Chris King
4: Chris Mihm
5: Chris Smith
6: Chris Smith
7: Chris Welp
8: Chris Wilcox
9: Chris Babb
10: Chris Carr
11: Chris Owens
12: Chris Paul
13: Chris Quinn
14: Chris Taft
Pick one: 0
Results for Chris Silva:

You searched for "Max Strus"
3 results found.
0: Max Strus
1: Max Morris
2: Mark West
Pick one: 0
Results for Max Strus:

You searched for "Gabe Vincent"
3 results found.
0: Gabe Vincent
1: Jay Vincent
2: Sam Vincent
Pick one: 0
Results for Gabe Vincent:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-01-23,23-189,MIA,AWAY,BRK,L (-4),1,37:52,14,20,...,5,9,1,0,1,5,41,37.6,4,Bam Adebayo
1,2021-03-14,31-181,MIA,AWAY,ORL,W (+5),1,36:29,10,17,...,7,9,5,1,1,1,29,34.2,13,Jimmy Butler
2,2021-03-25,23-250,MIA,HOME,POR,L (-3),1,31:56,13,16,...,9,7,0,5,2,1,29,32.5,11,Bam Adebayo
3,2021-02-15,31-154,MIA,AWAY,LAC,L (-7),1,37:57,10,19,...,10,10,2,0,1,1,30,32.5,5,Jimmy Butler
4,2021-04-26,31-224,MIA,HOME,CHI,L (-8),1,34:53,11,21,...,8,5,2,0,0,1,33,31.0,-9,Jimmy Butler

## Shaw Files

In [4]:
Shaq_2005_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/Shaq_2005_games.csv')
Shaq_2006_games = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/Shaq_2006_games.csv')

In [5]:
Shaq_2005_games.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

In [6]:
# 2005
Shaq_2005_games_io = Shaq_2005_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2005_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2005_games_io['Player'] = player
Shaq_2005_games_io.head()

<ipython-input-6-466830c3767d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2005_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,11/3/04,32-242,MIA,@,NJN,W (+23),1,22:19,7.0,9.0,...,5.0,2.0,0.0,2.0,2.0,5.0,16.0,11.6,14.0,Shaquille O'Neal
1,11/4/04,32-243,MIA,NaN,CLE,W (+6),1,32:59:00,7.0,17.0,...,9.0,2.0,0.0,3.0,1.0,2.0,17.0,10.3,6.0,Shaquille O'Neal
2,11/6/04,32-245,MIA,@,WAS,W (+12),1,27:51:00,5.0,10.0,...,8.0,1.0,1.0,2.0,3.0,4.0,13.0,5.7,1.0,Shaquille O'Neal
3,11/9/04,32-248,MIA,NaN,WAS,W (+10),1,27:54:00,8.0,13.0,...,9.0,4.0,0.0,3.0,9.0,4.0,20.0,9.9,4.0,Shaquille O'Neal
4,11/11/04,32-250,MIA,NaN,DAL,L (-20),1,30:10:00,8.0,13.0,...,10.0,1.0,0.0,3.0,2.0,5.0,22.0,17.1,-16.0,Shaquille O'Neal

In [7]:
# 2006
Shaq_2006_games_io = Shaq_2006_games[['Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']]
Shaq_2006_games_io.columns = ['DATE', 'AGE', 'TEAM', 'HOME/AWAY', 'OPPONENT', 'RESULT', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GAME_SCORE', '+/-']
player = "Shaquille O'Neal"
Shaq_2006_games_io['Player'] = player
Shaq_2006_games_io.head()

<ipython-input-7-ec8b83d74b1d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shaq_2006_games_io['Player'] = player

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,11/2/05,33-241,MIA,@,MEM,W (+19),1,27:51:00,6.0,14.0,...,6.0,3.0,1.0,3.0,3.0,2.0,12.0,7.0,16.0,Shaquille O'Neal
1,11/3/05,33-242,MIA,NaN,IND,L (-3),1,29:09:00,6.0,12.0,...,6.0,1.0,0.0,4.0,3.0,5.0,18.0,12.3,1.0,Shaquille O'Neal
2,11/5/05,33-244,MIA,@,MIL,L (-5),Inactive,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shaquille O'Neal
3,11/7/05,33-246,MIA,NaN,NJN,W (+1),Inactive,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shaquille O'Neal
4,11/9/05,33-248,MIA,@,IND,L (-5),Inactive,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shaquille O'Neal

## combine all seasons

In [9]:
MIA_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2000_games.csv')
MIA_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2001_games.csv')
MIA_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2002_games.csv')
MIA_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2003_games.csv')
MIA_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2004_games.csv')
MIA_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2005_games.csv')
MIA_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2006_games.csv')
MIA_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2007_games.csv')
MIA_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2008_games.csv')
MIA_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2009_games.csv')
MIA_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2010_games.csv')
MIA_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2011_games.csv')
MIA_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2012_games.csv')
MIA_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2013_games.csv')
MIA_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2014_games.csv')
MIA_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2015_games.csv')
MIA_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2016_games.csv')
MIA_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2017_games.csv')
MIA_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2018_games.csv')
MIA_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2019_games.csv')
MIA_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2020_games.csv')
MIA_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_2021_games.csv')

In [10]:
MIA_season_dfs = [MIA_2000_games_io, MIA_2001_games_io, MIA_2002_games_io, MIA_2003_games_io, MIA_2004_games_io, MIA_2005_games_io,
                 MIA_2006_games_io, MIA_2007_games_io, MIA_2008_games_io, MIA_2009_games_io, MIA_2010_games_io, MIA_2011_games_io,
                 MIA_2012_games_io, MIA_2013_games_io, MIA_2014_games_io, MIA_2015_games_io, MIA_2016_games_io, MIA_2017_games_io,
                 MIA_2018_games_io, MIA_2019_games_io, MIA_2020_games_io, MIA_2021_games_io, Shaq_2005_games_io, Shaq_2006_games_io]

In [11]:
MIA_all = pd.concat(MIA_season_dfs)
MIA_all_sorted = MIA_all.sort_values(by=['GAME_SCORE'], ascending=False)
MIA_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-03-09,27-051,MIA,HOME,CHI,W (+3),1,49:51,15.0,21.0,...,6.0,12.0,4.0,3.0,5.0,0.0,48.0,49.0,20.0,Dwyane Wade
0,2014-03-03,29-063,MIA,HOME,CHA,W (+17),1,41:12,22.0,33.0,...,7.0,4.0,0.0,0.0,2.0,2.0,61.0,48.8,16.0,LeBron James
0,2014-03-03,29-063,MIA,HOME,CHA,W (+17),1,41:12,22.0,33.0,...,7.0,4.0,0.0,0.0,2.0,2.0,61.0,48.8,16.0,LeBron James
1,2009-02-28,27-042,MIA,HOME,NYK,W (+5),1,41:18,16.0,29.0,...,8.0,10.0,4.0,4.0,2.0,1.0,46.0,47.5,8.0,Dwyane Wade
0,2011-02-03,26-035,MIA,AWAY,ORL,W (+4),1,42:39,17.0,25.0,...,11.0,8.0,1.0,1.0,3.0,2.0,51.0,46.7,2.0,LeBron James
0,2007-12-28,25-345,MIA,HOME,ORL,L (-7),1,51:35,16.0,21.0,...,7.0,11.0,3.0,3.0,5.0,4.0,48.0,45.2,-2.0,Dwyane Wade
1,2013-02-26,28-058,MIA,HOME,SAC,W (+12),1,47:45,14.0,23.0,...,8.0,16.0,2.0,1.0,2.0,1.0,40.0,44.2,11.0,LeBron James
0,2000-02-23,30-015,MIA,HOME,NJN,W (+14),1,32:33,13.0,14.0,...,16.0,0.0,0.0,5.0,2.0,2.0,43.0,43.9,6.0,Alonzo Mourning
2,2009-04-12,27-085,MIA,HOME,NYK,W (+17),1,39:17,19.0,30.0,...,9.0,4.0,0.0,1.0,3.0,3.0,55.0,43.6,24.0,Dwyane Wade
1,2014-03-18,29-078,MIA,AWAY,CLE,W (+4),1,41:40,14.0,19.0,...,6.0,4.0,2.0,3.0,0.0,1.0,43.0,42.0,11.0,LeBron James
2,2014-03-18,29-078,MIA,AWAY,CLE,W (+4),1,41:40,14.0,19.0,...,6.0,4.0,2.0,3.0,0.0,1.0,43.0,42.0,11.0,LeBron James
0,2006-12-25,24-342,MIA,HOME,LAL,W (+16),1,41:20,12.0,20.0,...,4.0,11.0,4.0,4.0,4.0,2.0,40.0,41.3,20.0,Dwyane Wade
0,2012-03-01,27-062,MIA,AWAY,POR,W (+14),1,41:02,13.0,22.0,...,11.0,6.0,5.0,1.0,0.0,1.0,38.0,40.6,8.0,LeBron James
0,2002-12-14,31-055,MIA,HOME,GSW,W (+9),1,40:39,11.0,16.0,...,6.0,4.0,5.0,0.0,0.0,1.0,38.0,40.4,-2.0,Eddie Jones
3,2009-02-22,27-036,MIA,AWAY,ORL,L (-23),1,37:17,17.0,30.0,...,5.0,5.0,1.0,1.0,1.0,3.0,50.0,39.9,-16.0,Dwyane Wade
1,2011-03-25,29-067,MIA,HOME,PHI,W (+12),1,41:01,15.0,26.0,...,11.0,8.0,3.0,5.0,2.0,3.0,39.0,39.4,24.0,Dwyane Wade
2,2011-02-08,26-040,MIA,HOME,IND,W (+5),1,41:44,15.0,23.0,...,13.0,8.0,3.0,1.0,4.0,1.0,41.0,39.3,18.0,LeBron James
4,2009-03-14,27-056,MIA,HOME,UTA,W (+11),1,52:28,19.0,39.0,...,10.0,9.0,4.0,2.0,6.0,2.0,50.0,39.0,10.0,Dwyane Wade
0,2010-04-02,28-075,MIA,AWAY,IND,W (+9),1,44:01,14.0,22.0,...,9.0,6.0,3.0,3.0,5.0,1.0,43.0,39.0,20.0,Dwyane Wade
0,2005-12-11,23-328,MIA,HOME,WAS,W (+3),1,47:02,15.0,27.0,...,10.0,8.0,4.0,1.0,2.0,3.0,41.0,38.6,3.0,Dwyane Wade
5,2009-02-18,27-032,MIA,HOME,MIN,L (-7),1,43:15,12.0,22.0,...,4.0,12.0,3.0,1.0,1.0,2.0,37.0,38.3,-2.0,Dwyane Wade
6,2009-03-04,27-046,MIA,HOME,PHO,W (+6),1,38:35,13.0,21.0,...,6.0,16.0,1.0,1.0,1.0,3.0,35.0,38.0,15.0,Dwyane Wade
0,2021-01-23,23-189,MIA,AWAY,BRK,L (-4),1,37:52,14.0,20.0,...,5.0,9.0,1.0,0.0,1.0,5.0,41.0,37.6,4.0,Bam Adebayo
3,2014-02-18,29-050,MIA,AWAY,DAL,W (+11),1,38:28,16.0,23.0,...,9.0,6.0,2.0,0.0,3.0,2.0,42.0,37.4,19.0,LeBron James
2,2014-02-18,29-050,MIA,AWAY,DAL,W (+11),1,38:28,16.0,23.0,...,9.0,6.0,2.0,0.0,3.0,2.0,42.0,37.4,19.0,LeBron James