In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_MIL = []

# MIL
while season <= 2021:
    df_MIL = get_roster('MIL', season)
    df_MIL['Season'] = season
    df_MIL['Team'] = 'MIL'
    appended_data_MIL.append(df_MIL)
    season = season + 1
appended_data_MIL = pd.concat(appended_data_MIL)

In [4]:
MIL_df_all = appended_data_MIL.copy()
MIL_df_all_csv = MIL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_players_all.csv', index=False)
MIL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_players_all.csv')
MIL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,34,Ray Allen,SG,6-5,205,1975-07-20,US,3,UConn,2000,MIL
1,11,Rafer Alston,PG,6-2,171,1976-07-24,US,R,Fresno State,2000,MIL
2,10,Sam Cassell,PG,6-3,185,1969-11-18,US,6,Florida State,2000,MIL
3,15,Vinny Del Negro,PG,6-4,185,1966-08-09,US,9,NC State,2000,MIL
4,9,Dale Ellis,SG,6-7,205,1960-08-06,US,16,Tennessee,2000,MIL

In [5]:
MIL_df_2000 = MIL_df_all[MIL_df_all['Season'] == 2000]
MIL_df_2001 = MIL_df_all[MIL_df_all['Season'] == 2001]
MIL_df_2002 = MIL_df_all[MIL_df_all['Season'] == 2002]
MIL_df_2003 = MIL_df_all[MIL_df_all['Season'] == 2003]
MIL_df_2004 = MIL_df_all[MIL_df_all['Season'] == 2004]
MIL_df_2005 = MIL_df_all[MIL_df_all['Season'] == 2005]
MIL_df_2006 = MIL_df_all[MIL_df_all['Season'] == 2006]
MIL_df_2007 = MIL_df_all[MIL_df_all['Season'] == 2007]
MIL_df_2008 = MIL_df_all[MIL_df_all['Season'] == 2008]
MIL_df_2009 = MIL_df_all[MIL_df_all['Season'] == 2009]
MIL_df_2010 = MIL_df_all[MIL_df_all['Season'] == 2010]
MIL_df_2011 = MIL_df_all[MIL_df_all['Season'] == 2011]
MIL_df_2012 = MIL_df_all[MIL_df_all['Season'] == 2012]
MIL_df_2013 = MIL_df_all[MIL_df_all['Season'] == 2013]
MIL_df_2014 = MIL_df_all[MIL_df_all['Season'] == 2014]
MIL_df_2015 = MIL_df_all[MIL_df_all['Season'] == 2015]
MIL_df_2016 = MIL_df_all[MIL_df_all['Season'] == 2016]
MIL_df_2017 = MIL_df_all[MIL_df_all['Season'] == 2017]
MIL_df_2018 = MIL_df_all[MIL_df_all['Season'] == 2018]
MIL_df_2019 = MIL_df_all[MIL_df_all['Season'] == 2019]
MIL_df_2020 = MIL_df_all[MIL_df_all['Season'] == 2020]
MIL_df_2021 = MIL_df_all[MIL_df_all['Season'] == 2021]

In [ ]:
# changing names
#MIL_df_2002.loc[MIL_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#MIL_df_2004.loc[MIL_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
MIL_df_2000_players = MIL_df_2000['PLAYER'].to_list()
MIL_df_2001_players = MIL_df_2001['PLAYER'].to_list()
MIL_df_2002_players = MIL_df_2002['PLAYER'].to_list()
MIL_df_2003_players = MIL_df_2003['PLAYER'].to_list()
MIL_df_2004_players = MIL_df_2004['PLAYER'].to_list()
MIL_df_2005_players = MIL_df_2005['PLAYER'].to_list()

MIL_df_2006_players = MIL_df_2006['PLAYER'].to_list()
MIL_df_2007_players = MIL_df_2007['PLAYER'].to_list()
MIL_df_2008_players = MIL_df_2008['PLAYER'].to_list()
MIL_df_2009_players = MIL_df_2009['PLAYER'].to_list()
MIL_df_2010_players = MIL_df_2010['PLAYER'].to_list()
MIL_df_2011_players = MIL_df_2011['PLAYER'].to_list()

MIL_df_2012_players = MIL_df_2012['PLAYER'].to_list()
MIL_df_2013_players = MIL_df_2013['PLAYER'].to_list()
MIL_df_2014_players = MIL_df_2014['PLAYER'].to_list()
MIL_df_2015_players = MIL_df_2015['PLAYER'].to_list()
MIL_df_2016_players = MIL_df_2016['PLAYER'].to_list()
MIL_df_2017_players = MIL_df_2017['PLAYER'].to_list()

MIL_df_2018_players = MIL_df_2018['PLAYER'].to_list()
MIL_df_2019_players = MIL_df_2019['PLAYER'].to_list()
MIL_df_2020_players = MIL_df_2020['PLAYER'].to_list()
MIL_df_2021_players = MIL_df_2021['PLAYER'].to_list()

## players to drop

In [50]:

#MIL_df_2005_players.remove("Mo Williams")
#MIL_df_2006_players.remove("Mo Williams")
#MIL_df_2007_players.remove("Mo Williams")
#MIL_df_2008_players.remove("Mo Williams")
#MIL_df_2012_players.remove("Mike Dunleavy")
#MIL_df_2013_players.remove("Mike Dunleavy")
#MIL_df_2015_players.remove("Chris Johnson")
#MIL_df_2015_players.remove("Johnny O'Bryant")
#MIL_df_2016_players.remove("Johnny O'Bryant")
#MIL_df_2017_players.remove("Gary Payton")
#MIL_df_2018_players.remove("Xavier Munford")
#MIL_df_2018_players.remove("Gary Payton")
#MIL_df_2020_players.remove("Frank Mason")
MIL_df_2021_players.remove("Elijah Bryant")

In [7]:
MIL_2000_gamelog = []


for p in MIL_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2000_gamelog.append(player_log)
MIL_2000_gamelog = pd.concat(MIL_2000_gamelog)    
MIL_2000_gamelogs = MIL_2000_gamelog.copy()
MIL_2000_gamelogs['GAME_SCORE'] = MIL_2000_gamelogs['GAME_SCORE'].astype(float)
MIL_2000_games = MIL_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2000_games_csv = MIL_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2000_games.csv', index=False)
MIL_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2000_games.csv')
MIL_2000_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Rafer Alston"
1 result found.
Rafer Alston
Results for Rafer Alston:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Vinny Del Negro"
1 result found.
Vinny Del Negro
Results for Vinny Del Negro:

You searched for "Dale Ellis"
8 results found.
0: Dale Ellis
1: Dale Davis
2: Joe Ellis
3: Bo Ellis
4: Boo Ellis
5: Harold Ellis
6: Dave Zeller
7: Dave Feitl
Pick one: 0
Results for Dale Ellis:

You searched for "Darvin Ham"
1 result found.
Darvin Ham
Results for Darvin Ham:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Danny Manning"
3 results found.
0: Danny Manning
1: Danny Ainge
2: Guy Manning
Pick one: 0
Results for Danny Manning:

You searched for "J.R. Reid"
9 results found.
0: J.R. Reid
1: Jim Reid
2: J.R. Bremer
3: J.J. Redick
4: Don Reid
5: Naz Reid
6: Ryan Reid
7: J.R. Smith
8: J.J. Barea
Pick one: 0
Results for J.R. Reid:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Robert Traylor"
1 result found.
Robert Traylor
Results for Robert Traylor:

You searched for "Mirsad Türkcan"
1 result found.
Mirsad Turkcan
Results for Mirsad Turkcan:

You searched for "Scott Williams"
22 results found.
0: Scott Williams
1: Matt Williams
2: Art Williams
3: Bob Williams
4: C.J. Williams
5: Corey Williams
6: Grant Williams
7: John Williams
8: Lou Williams
9: Milt Williams
10: Mo Williams
11: Monty Williams
12: Nate Williams
13: Pete Williams
14: Rob Williams
15: Ron Williams
16: Sam Williams
17: Sam Williams
18: Sean Williams
19: Sly Williams
20: Troy Williams
21: Walt Williams
Pick one: 0
Results for Scott Williams:

You searched for "Haywoode Workman"
1 result found.
Haywoode Workman
Results for Haywoode Workman:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,1999-11-21,24-124,MIL,AWAY,DET,L (-19),1,37:19,13,15,...,4,10,4,1,2,3,33,37.4,-6,Ray Allen
1,2000-02-03,24-198,MIL,AWAY,UTA,W (+3),1,39:37,12,18,...,8,2,2,2,3,3,36,31.6,11,Ray Allen
2,2000-03-23,30-126,MIL,AWAY,IND,W (+21),1,37:44,11,16,...,5,9,1,0,2,2,30,30.4,19,Sam Cassell
3,1999-11-02,29-349,MIL,AWAY,HOU,W (+5),1,37:30,15,20,...,3,11,1,0,4,5,35,30.2,8,Sam Cassell
4,1999-12-29,26-353,MIL,AWAY,CHH,L (-4),1,41:57,15,26,...,7,2,3,1,1,4,36,29.6,2,Glenn Robinson

In [8]:
MIL_2001_gamelog = []


for p in MIL_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2001_gamelog.append(player_log)
MIL_2001_gamelog = pd.concat(MIL_2001_gamelog)    
MIL_2001_gamelogs = MIL_2001_gamelog.copy()
MIL_2001_gamelogs['GAME_SCORE'] = MIL_2001_gamelogs['GAME_SCORE'].astype(float)
MIL_2001_games = MIL_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2001_games_csv = MIL_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2001_games.csv', index=False)
MIL_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2001_games.csv')
MIL_2001_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Rafer Alston"
1 result found.
Rafer Alston
Results for Rafer Alston:

You searched for "Jason Caffey"
2 results found.
0: Jason Caffey
1: Jason Sasser
Pick one: 0
Results for Jason Caffey:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Darvin Ham"
1 result found.
Darvin Ham
Results for Darvin Ham:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Lindsey Hunter"
2 results found.
0: Lindsey Hunter
1: Vince Hunter
Pick one: 0
Results for Lindsey Hunter:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Jerome Kersey"
2 results found.
0: Jerome Kersey
1: Jerome Beasley
Pick one: 0
Results for Jerome Kersey:

You searched for "Mark Pope"
14 results found.
0: Mark Pope
1: Mark Jones
2: Mark Jones
3: Mark Price
4: Mark Wade
5: Mark Acres
6: Mark Crow
7: David Pope
8: Malik Rose
9: Gary Voce
10: Mark West
11: Mark Eaton
12: Mark Macon
13: Mark Minor
Pick one: 0
Results for Mark Pope:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Scott Williams"
22 results found.
0: Scott Williams
1: Matt Williams
2: Art Williams
3: Bob Williams
4: C.J. Williams
5: Corey Williams
6: Grant Williams
7: John Williams
8: Lou Williams
9: Milt Williams
10: Mo Williams
11: Monty Williams
12: Nate Williams
13: Pete Williams
14: Rob Williams
15: Ron Williams
16: Sam Williams
17: Sam Williams
18: Sean Williams
19: Sly Williams
20: Troy Williams
21: Walt Williams
Pick one: 0
Results for Scott Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-04-12,25-266,MIL,HOME,UTA,W (+22),1,40:09,14,23,...,5,5,2,0,0,2,43,39.1,32,Ray Allen
1,2001-02-26,25-221,MIL,AWAY,PHI,W (+7),1,38:43,17,23,...,9,7,0,0,3,3,42,36.1,2,Ray Allen
2,2001-02-25,28-046,MIL,HOME,GSW,W (+27),1,38:05,18,27,...,7,2,0,0,3,1,45,34.2,26,Glenn Robinson
3,2001-03-03,31-105,MIL,HOME,CHI,W (+4),1,52:19,18,24,...,2,10,0,0,4,5,40,32.4,0,Sam Cassell
4,2000-11-25,25-128,MIL,AWAY,WAS,L (-7),1,40:06,8,18,...,7,5,4,2,5,4,37,32.4,-1,Ray Allen

In [9]:

MIL_2002_gamelog = []


for p in MIL_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2002_gamelog.append(player_log)
MIL_2002_gamelog = pd.concat(MIL_2002_gamelog)    
MIL_2002_gamelogs = MIL_2002_gamelog.copy()
MIL_2002_gamelogs['GAME_SCORE'] = MIL_2002_gamelogs['GAME_SCORE'].astype(float)
MIL_2002_games = MIL_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2002_games_csv = MIL_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2002_games.csv', index=False)
MIL_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2002_games.csv')
MIL_2002_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Rafer Alston"
1 result found.
Rafer Alston
Results for Rafer Alston:

You searched for "Greg Anthony"
6 results found.
0: Greg Anthony
1: Joel Anthony
2: Cole Anthony
3: Greg Sutton
4: Greg Anderson
5: Greg Jackson
Pick one: 0
Results for Greg Anthony:

You searched for "Jason Caffey"
2 results found.
0: Jason Caffey
1: Jason Sasser
Pick one: 0
Results for Jason Caffey:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Greg Foster"
12 results found.
0: Greg Foster
1: Fred Foster
2: Rod Foster
3: Greg Butler
4: Jeff Foster
5: Greg Hyder
6: Greg Kelser
7: Greg Kite
8: Greg Oden
9: Greg Ostertag
10: Greg Monroe
11: Greg Stokes
Pick one: 0
Results for Greg Foster:

You searched for "Darvin Ham"
1 result found.
Darvin Ham
Results for Darvin Ham:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Anthony Mason"
10 results found.
0: Anthony Mason
1: Anthony Lamb
2: Anthony Avent
3: Anthony Brown
4: Anthony Cook
5: Anthony Davis
6: Anthony Johnson
7: Anthony Morrow
8: Anthony Taylor
9: Anthony Jones
Pick one: 0
Results for Anthony Mason:

You searched for "Mark Pope"
14 results found.
0: Mark Pope
1: Mark Jones
2: Mark Jones
3: Mark Price
4: Mark Wade
5: Mark Acres
6: Mark Crow
7: David Pope
8: Malik Rose
9: Gary Voce
10: Mark West
11: Mark Eaton
12: Mark Macon
13: Mark Minor
Pick one: 0
Results for Mark Pope:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-04-14,26-268,MIL,HOME,CHH,W (+7),1,44:17,15,23,...,4,4,3,0,3,3,47,40.9,10,Ray Allen
1,2002-01-12,26-176,MIL,AWAY,NYK,W (+5),1,36:08,10,17,...,8,2,3,1,2,4,37,32.6,6,Ray Allen
2,2002-02-22,26-217,MIL,HOME,GSW,W (+4),1,38:02,7,15,...,13,8,1,0,0,3,28,31.6,-1,Ray Allen
3,2002-01-19,26-183,MIL,AWAY,ATL,W (+9),1,36:41,11,17,...,6,6,3,0,3,1,31,29.5,7,Ray Allen
4,2001-12-14,28-338,MIL,AWAY,PHI,W (+16),1,37:35,14,22,...,10,2,2,2,4,0,34,28.0,8,Glenn Robinson

In [10]:

    
MIL_2003_gamelog = []



for p in MIL_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2003_gamelog.append(player_log)
MIL_2003_gamelog = pd.concat(MIL_2003_gamelog)    
MIL_2003_gamelogs = MIL_2003_gamelog.copy()
MIL_2003_gamelogs['GAME_SCORE'] = MIL_2003_gamelogs['GAME_SCORE'].astype(float)
MIL_2003_games = MIL_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2003_games_csv = MIL_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2003_games.csv', index=False)
MIL_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2003_games.csv')
MIL_2003_games_proc.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Jason Caffey"
2 results found.
0: Jason Caffey
1: Jason Sasser
Pick one: 0
Results for Jason Caffey:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Marcus Haislip"
1 result found.
Marcus Haislip
Results for Marcus Haislip:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Anthony Mason"
10 results found.
0: Anthony Mason
1: Anthony Lamb
2: Anthony Avent
3: Anthony Brown
4: Anthony Cook
5: Anthony Davis
6: Anthony Johnson
7: Anthony Morrow
8: Anthony Taylor
9: Anthony Jones
Pick one: 0
Results for Anthony Mason:

You searched for "Desmond Mason"
2 results found.
0: Desmond Mason
1: Desmond Bane
Pick one: 0
Results for Desmond Mason:

You searched for "Ronald Murray"
4 results found.
0: Ronald Murray
1: Ronald Dupree
2: Jamal Murray
3: Ronald Franz
Pick one: 0
Results for Ronald Murray:

You searched for "Kevin Ollie"
8 results found.
0: Kevin Ollie
1: Kevin Love
2: Kevin Willis
3: Kevin Joyce
4: Kevin Loder
5: Kevin O'Shea
6: Kevin Jones
7: Kelvin Cato
Pick one: 0
Results for Kevin Ollie:

You searched for "Gary Payton"
5 results found.
0: Gary Payton
1: Gary Payton
2: Gary Alcorn
3: Mark Eaton
4: Mel Payton
Pick one: 0
Results for Gary Payton:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Jamal Sampson"
3 results found.
0: Jamal Sampson
1: JaKarr Sampson
2: Ralph Sampson
Pick one: 0
Results for Jamal Sampson:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-12-09,33-021,MIL,AWAY,CLE,W (+7),1,50:06,12,22,...,10,10,2,0,2,4,39,35.2,14,Sam Cassell
1,2002-12-04,34-134,SEA,HOME,IND,L (-3),1,45:36,19,30,...,3,10,2,0,1,3,40,33.9,2,Gary Payton
2,2003-03-01,27-224,SEA,AWAY,LAC,W (+8),1,41:08,12,18,...,5,3,1,0,3,2,40,33.4,4,Ray Allen
3,2002-11-26,34-126,SEA,AWAY,ATL,L (-3),1,49:10,13,20,...,3,8,2,1,0,1,32,32.0,3,Gary Payton
4,2003-01-22,27-186,MIL,AWAY,BOS,W (+9),1,39:47,13,23,...,9,7,2,1,4,2,34,29.4,16,Ray Allen

In [11]:


MIL_2004_gamelog = []



for p in MIL_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2004_gamelog.append(player_log)
MIL_2004_gamelog = pd.concat(MIL_2004_gamelog)    
MIL_2004_gamelogs = MIL_2004_gamelog.copy()
MIL_2004_gamelogs['GAME_SCORE'] = MIL_2004_gamelogs['GAME_SCORE'].astype(float)
MIL_2004_games = MIL_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2004_games_csv = MIL_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2004_games.csv', index=False)
MIL_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2004_games.csv')
MIL_2004_games_proc.head()

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Marcus Haislip"
1 result found.
Marcus Haislip
Results for Marcus Haislip:

You searched for "Damon Jones"
24 results found.
0: Damon Jones
1: Mason Jones
2: Damian Jones
3: Damion James
4: Jalen Jones
5: James Jones
6: Major Jones
7: Sam Jones
8: Aaron James
9: Alvin Jones
10: DeQuan Jones
11: Dwayne Jones
12: Earl Jones
13: Jake Jones
14: Jimmy Jones
15: Kevin Jones
16: Larry Jones
17: Mark Jones
18: Mark Jones
19: Robin Jones
20: Solomon Jones
21: Wali Jones
22: Diamond Stone
23: Damone Brown
Pick one: 0
Results for Damon Jones:

You searched for "Brevin Knight"
5 results found.
0: Brevin Knight
1: Brandin Knight
2: Travis Knight
3: Brandon Knight
4: Ron Knight
Pick one: 0
Results for Brevin Knight:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Dan Langhi"
6 results found.
0: Dan Langhi
1: Dan King
2: James Lang
3: Grant Long
4: Shawn Long
5: Dan Tieman
Pick one: 0
Results for Dan Langhi:

You searched for "Desmond Mason"
2 results found.
0: Desmond Mason
1: Desmond Bane
Pick one: 0
Results for Desmond Mason:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Daniel Santiago"
1 result found.
Daniel Santiago
Results for Daniel Santiago:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Erick Strickland"
3 results found.
0: Erick Strickland
1: Mark Strickland
2: Rod Strickland
Pick one: 0
Results for Erick Strickland:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Keith Van Horn"
2 results found.
0: Keith Van Horn
1: Keith Langford
Pick one: 0
Results for Keith Van Horn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-01-21,24-150,MIL,HOME,ORL,W (+11),1,41:46,16,25,...,5,4,2,0,1,2,40,33.8,9,Michael Redd
1,2004-01-28,24-157,MIL,AWAY,NOH,L (-1),1,43:45,16,33,...,9,2,2,0,1,1,40,30.8,-1,Michael Redd
2,2004-03-21,28-150,MIL,AWAY,LAL,L (-1),1,47:01,12,20,...,9,0,3,0,0,3,32,28.1,-2,Keith Van Horn
3,2004-01-31,28-100,NYK,HOME,PHO,W (+5),1,44:57,11,22,...,12,7,0,2,1,4,30,27.5,4,Keith Van Horn
4,2004-04-06,27-225,MIL,AWAY,NJN,W (+5),1,37:26,8,10,...,3,11,1,0,1,1,23,27.4,2,Damon Jones

In [14]:
# removed Mo Williams

MIL_2005_gamelog = []

for p in MIL_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2005_gamelog.append(player_log)
MIL_2005_gamelog = pd.concat(MIL_2005_gamelog)    
MIL_2005_gamelogs = MIL_2005_gamelog.copy()
MIL_2005_gamelogs['GAME_SCORE'] = MIL_2005_gamelogs['GAME_SCORE'].astype(float)
MIL_2005_games = MIL_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2005_games_csv = MIL_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2005_games.csv', index=False)
MIL_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2005_games.csv')
MIL_2005_games_proc.head()

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Marcus Fizer"
4 results found.
0: Marcus Fizer
1: Marcus Liberty
2: Marcus Paige
3: Marcus Webb
Pick one: 0
Results for Marcus Fizer:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Reece Gaines"
1 result found.
Reece Gaines
Results for Reece Gaines:

You searched for "Kendall Gill"
2 results found.
0: Kendall Gill
1: Kendall Rhine
Pick one: 0
Results for Kendall Gill:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Zendon Hamilton"
3 results found.
0: Zendon Hamilton
1: Dennis Hamilton
2: Jordan Hamilton
Pick one: 0
Results for Zendon Hamilton:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Desmond Mason"
2 results found.
0: Desmond Mason
1: Desmond Bane
Pick one: 0
Results for Desmond Mason:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Daniel Santiago"
1 result found.
Daniel Santiago
Results for Daniel Santiago:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Erick Strickland"
3 results found.
0: Erick Strickland
1: Mark Strickland
2: Rod Strickland
Pick one: 0
Results for Erick Strickland:

You searched for "Keith Van Horn"
2 results found.
0: Keith Van Horn
1: Keith Langford
Pick one: 0
Results for Keith Van Horn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-03-01,25-189,MIL,HOME,PHI,L (-7),1,39:39,9,19,...,1,4,1,0,0,0,35,29.4,-12,Michael Redd
1,2005-02-22,25-182,MIL,AWAY,CHA,W (+10),1,37:23,15,24,...,5,2,0,0,1,2,39,28.5,6,Michael Redd
2,2005-04-03,25-222,MIL,HOME,NYK,W (+4),1,35:56,11,16,...,4,3,1,0,0,4,32,27.9,3,Michael Redd
3,2004-12-26,25-124,MIL,HOME,CHI,W (+7),1,38:58,15,27,...,8,3,1,0,4,2,39,27.6,11,Michael Redd
4,2004-11-17,25-085,MIL,HOME,MIA,L (-7),1,35:03,12,19,...,1,2,2,0,0,3,33,27.0,-4,Michael Redd

In [16]:

# removed mo williams
MIL_2006_gamelog = []

for p in MIL_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2006_gamelog.append(player_log)
MIL_2006_gamelog = pd.concat(MIL_2006_gamelog)    
MIL_2006_gamelogs = MIL_2006_gamelog.copy()
MIL_2006_gamelogs['GAME_SCORE'] = MIL_2006_gamelogs['GAME_SCORE'].astype(float)
MIL_2006_games = MIL_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2006_games_csv = MIL_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2006_games.csv', index=False)
MIL_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2006_games.csv')
MIL_2006_games_proc.head()

You searched for "Charlie Bell"
6 results found.
0: Charlie Bell
1: Charlie Black
2: Charlie Brown
3: Charlie Paulk
4: Charlie Tyra
5: Charlie Ward
Pick one: 0
Results for Charlie Bell:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Josh Davis"
27 results found.
0: Josh Davis
1: Bob Davis
2: Jim Davis
3: Ron Davis
4: Josh Reaves
5: Josh Hall
6: Bob Davies
7: Ben Davis
8: Bill Davis
9: Brad Davis
10: Dale Davis
11: Ed Davis
12: Glen Davis
13: Johnny Davis
14: Lee Davis
15: Mark Davis
16: Mark Davis
17: Mel Davis
18: Mike Davis
19: Mike Davis
20: Monti Davis
21: Paul Davis
22: Ralph Davis
23: Red Davis
24: Walt Davis
25: Josh Hart
26: Josh Grant
Pick one: 0
Results for Josh Davis:

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Reece Gaines"
1 result found.
Reece Gaines
Results for Reece Gaines:

You searched for "Jermaine Jackson"
2 results found.
0: Jermaine Jackson
1: Mervin Jackson
Pick one: 0
Results for Jermaine Jackson:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Toni Kukoč"
2 results found.
0: Toni Kukoc
1: Tony Koski
Pick one: 0
Results for Toni Kukoc:

You searched for "Jamaal Magloire"
1 result found.
Jamaal Magloire
Results for Jamaal Magloire:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Jiří Welsch"
2 results found.
0: Jiri Welsch
1: Jim Walsh
Pick one: 0
Results for Jiri Welsch:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-01-25,26-154,MIL,AWAY,DET,L (-4),1,46:15,16,27,...,9,8,0,0,2,4,41,34.4,5,Michael Redd
1,2005-11-02,26-070,MIL,AWAY,NJN,W (+14),1,36:52,12,20,...,6,0,2,0,0,4,41,33.6,11,Michael Redd
2,2006-04-18,26-237,MIL,AWAY,WAS,L (-13),1,46:34,11,21,...,5,3,1,0,4,4,43,31.3,-12,Michael Redd
3,2006-03-31,26-219,MIL,AWAY,DET,L (-7),1,37:44,13,20,...,5,4,2,0,3,3,37,31.1,3,Michael Redd
4,2006-04-05,23-012,MIL,AWAY,ORL,L (-3),1,42:40,10,18,...,6,11,2,0,4,3,34,30.9,0,T.J. Ford

In [17]:
# removed mo williams

MIL_2007_gamelog = []

for p in MIL_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2007_gamelog.append(player_log)
MIL_2007_gamelog = pd.concat(MIL_2007_gamelog)    
MIL_2007_gamelogs = MIL_2007_gamelog.copy()
MIL_2007_gamelogs['GAME_SCORE'] = MIL_2007_gamelogs['GAME_SCORE'].astype(float)
MIL_2007_games = MIL_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2007_games_csv = MIL_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2007_games.csv', index=False)
MIL_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2007_games.csv')
MIL_2007_games_proc.head()

You searched for "Charlie Bell"
6 results found.
0: Charlie Bell
1: Charlie Black
2: Charlie Brown
3: Charlie Paulk
4: Charlie Tyra
5: Charlie Ward
Pick one: 0
Results for Charlie Bell:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Lynn Greer"
6 results found.
0: Lynn Greer
1: Danny Green
2: Ken Green
3: Kenny Green
4: Sean Green
5: Hal Greer
Pick one: 0
Results for Lynn Greer:

You searched for "Julius Hodge"
4 results found.
0: Julius Hodge
1: Julius Keye
2: Julius Randle
3: Julius Nwosu
Pick one: 0
Results for Julius Hodge:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Damir Markota"
1 result found.
Damir Markota
Results for Damir Markota:

You searched for "Chris McCray"
4 results found.
0: Chris McCray
1: Chris McNealy
2: Chris Carr
3: Chris Morris
Pick one: 0
Results for Chris McCray:

You searched for "David Noel"
13 results found.
0: David Noel
1: David Lee
2: David Lee
3: David Pope
4: David Wood
5: David Benoit
6: David Cooke
7: Paul Noel
8: David Nwaba
9: David Wear
10: David West
11: Dave Wohl
12: David Burns
Pick one: 0
Results for David Noel:

You searched for "Ruben Patterson"
1 result found.
Ruben Patterson
Results for Ruben Patterson:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Jared Reiner"
3 results found.
0: Jared Reiner
1: Jared Harper
2: Red Dehnert
Pick one: 0
Results for Jared Reiner:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Charlie Villanueva"
1 result found.
Charlie Villanueva
Results for Charlie Villanueva:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-11-11,27-079,MIL,HOME,UTA,L (-2),1,45:44,18,32,...,2,0,3,1,3,2,57,41.5,2,Michael Redd
1,2007-03-04,27-192,MIL,HOME,CHI,L (-5),1,43:38,18,32,...,3,2,3,0,4,2,52,37.3,-12,Michael Redd
2,2007-04-06,30-308,MIL,AWAY,ATL,L (-13),1,43:14,10,16,...,2,9,3,0,1,1,36,36.9,-2,Earl Boykins
3,2006-11-28,27-096,MIL,AWAY,LAL,W (+4),1,42:37,16,30,...,8,5,4,1,3,4,45,36.4,4,Michael Redd
4,2006-12-26,27-124,MIL,AWAY,SAS,W (+7),1,39:28,14,22,...,7,2,2,0,0,0,36,32.1,14,Michael Redd

In [18]:
# removed mo williams

MIL_2008_gamelog = []

for p in MIL_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2008_gamelog.append(player_log)
MIL_2008_gamelog = pd.concat(MIL_2008_gamelog)    
MIL_2008_gamelogs = MIL_2008_gamelog.copy()
MIL_2008_gamelogs['GAME_SCORE'] = MIL_2008_gamelogs['GAME_SCORE'].astype(float)
MIL_2008_games = MIL_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2008_games_csv = MIL_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2008_games.csv', index=False)
MIL_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2008_games.csv')
MIL_2008_games_proc.head()

You searched for "Charlie Bell"
6 results found.
0: Charlie Bell
1: Charlie Black
2: Charlie Brown
3: Charlie Paulk
4: Charlie Tyra
5: Charlie Ward
Pick one: 0
Results for Charlie Bell:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Yi Jianlian"
1 result found.
Yi Jianlian
Results for Yi Jianlian:

You searched for "Desmond Mason"
2 results found.
0: Desmond Mason
1: Desmond Bane
Pick one: 0
Results for Desmond Mason:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Awvee Storey"
1 result found.
Awvee Storey
Results for Awvee Storey:

You searched for "Charlie Villanueva"
1 result found.
Charlie Villanueva
Results for Charlie Villanueva:

You searched for "Jake Voskuhl"
1 result found.
Jake Voskuhl
Results for Jake Voskuhl:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-20,28-088,MIL,AWAY,CLE,W (+4),1,38:32,8,15,...,7,6,3,2,1,1,34,34.4,5,Michael Redd
1,2008-04-14,22-003,MIL,HOME,CHI,L (-16),1,44:27,7,12,...,8,24,1,1,2,2,20,32.9,-13,Ramon Sessions
2,2007-12-07,28-105,MIL,AWAY,SEA,L (-6),1,43:40,12,24,...,4,3,1,0,0,2,41,32.5,-5,Michael Redd
3,2008-04-01,28-221,MIL,HOME,NYK,W (+4),1,45:52,12,22,...,6,9,2,0,3,1,36,30.9,5,Michael Redd
4,2007-12-22,20-056,MIL,HOME,CHA,W (+4),1,42:33,14,17,...,10,3,3,1,2,3,29,29.9,15,Yi Jianlian

In [19]:


MIL_2009_gamelog = []

for p in MIL_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2009_gamelog.append(player_log)
MIL_2009_gamelog = pd.concat(MIL_2009_gamelog)    
MIL_2009_gamelogs = MIL_2009_gamelog.copy()
MIL_2009_gamelogs['GAME_SCORE'] = MIL_2009_gamelogs['GAME_SCORE'].astype(float)
MIL_2009_games = MIL_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2009_games_csv = MIL_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2009_games.csv', index=False)
MIL_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2009_games.csv')
MIL_2009_games_proc.head()

You searched for "Joe Alexander"
4 results found.
0: Joe Alexander
1: Cory Alexander
2: Kyle Alexander
3: Gary Alexander
Pick one: 0
Results for Joe Alexander:

You searched for "Malik Allen"
10 results found.
0: Malik Allen
1: Bill Allen
2: Lavoy Allen
3: Randy Allen
4: Ray Allen
5: Willie Allen
6: Malik Beasley
7: Malik Rose
8: Malik Monk
9: Malik Sealy
Pick one: 0
Results for Malik Allen:

You searched for "Charlie Bell"
6 results found.
0: Charlie Bell
1: Charlie Black
2: Charlie Brown
3: Charlie Paulk
4: Charlie Tyra
5: Charlie Ward
Pick one: 0
Results for Charlie Bell:

You searched for "Keith Bogans"
5 results found.
0: Keith Bogans
1: Keith Owens
2: Keith Askins
3: Keith Booth
4: Keith Benson
Pick one: 0
Results for Keith Bogans:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Eddie Gill"
4 results found.
0: Eddie Gill
1: Eddie Miles
2: Eddie Miller
3: Eddie Mast
Pick one: 0
Results for Eddie Gill:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Damon Jones"
24 results found.
0: Damon Jones
1: Mason Jones
2: Damian Jones
3: Damion James
4: Jalen Jones
5: James Jones
6: Major Jones
7: Sam Jones
8: Aaron James
9: Alvin Jones
10: DeQuan Jones
11: Dwayne Jones
12: Earl Jones
13: Jake Jones
14: Jimmy Jones
15: Kevin Jones
16: Larry Jones
17: Mark Jones
18: Mark Jones
19: Robin Jones
20: Solomon Jones
21: Wali Jones
22: Diamond Stone
23: Damone Brown
Pick one: 0
Results for Damon Jones:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Charlie Villanueva"
1 result found.
Charlie Villanueva
Results for Charlie Villanueva:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-02-07,22-302,MIL,HOME,DET,L (-5),1,46:49,13,18,...,5,12,0,0,4,4,44,39.7,-9,Ramon Sessions
1,2009-01-16,29-145,MIL,AWAY,SAC,W (+7),1,39:33,16,26,...,1,4,2,0,1,1,44,36.3,17,Michael Redd
2,2009-01-21,24-150,MIL,HOME,DAL,W (+34),1,32:58,12,17,...,10,2,2,0,0,4,32,30.1,37,Charlie Villanueva
3,2009-04-11,28-294,MIL,HOME,OKC,W (+17),1,36:58,13,21,...,9,4,2,1,2,5,35,29.3,15,Richard Jefferson
4,2009-01-05,29-134,MIL,HOME,TOR,W (+10),1,44:09,11,20,...,6,4,1,0,3,0,35,28.0,11,Michael Redd

In [20]:


MIL_2010_gamelog = []

for p in MIL_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2010_gamelog.append(player_log)
MIL_2010_gamelog = pd.concat(MIL_2010_gamelog)    
MIL_2010_gamelogs = MIL_2010_gamelog.copy()
MIL_2010_gamelogs['GAME_SCORE'] = MIL_2010_gamelogs['GAME_SCORE'].astype(float)
MIL_2010_games = MIL_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2010_games_csv = MIL_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2010_games.csv', index=False)
MIL_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2010_games.csv')
MIL_2010_games_proc.head()

You searched for "Charlie Bell"
6 results found.
0: Charlie Bell
1: Charlie Black
2: Charlie Brown
3: Charlie Paulk
4: Charlie Tyra
5: Charlie Ward
Pick one: 0
Results for Charlie Bell:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Primož Brezec"
1 result found.
Primoz Brezec
Results for Primoz Brezec:

You searched for "Carlos Delfino"
1 result found.
Carlos Delfino
Results for Carlos Delfino:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Royal Ivey"
1 result found.
Royal Ivey
Results for Royal Ivey:

You searched for "Darnell Jackson"
5 results found.
0: Darnell Jackson
1: Wardell Jackson
2: Randell Jackson
3: Jaren Jackson
4: Jaren Jackson
Pick one: 0
Results for Darnell Jackson:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Jodie Meeks"
1 result found.
Jodie Meeks
Results for Jodie Meeks:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "John Salmons"
7 results found.
0: John Salmons
1: John Collins
2: John Long
3: John Paxson
4: John Salley
5: Johnny Simmons
6: John Clawson
Pick one: 0
Results for John Salmons:

You searched for "Jerry Stackhouse"
1 result found.
Jerry Stackhouse
Results for Jerry Stackhouse:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Roko Ukić"
2 results found.
0: Roko Ukic
1: Ron King
Pick one: 0
Results for Roko Ukic:

You searched for "Hakim Warrick"
1 result found.
Hakim Warrick
Results for Hakim Warrick:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-11-14,20-052,MIL,HOME,GSW,W (+4),1,40:43,21,34,...,5,5,0,0,4,1,55,39.8,11,Brandon Jennings
1,2009-12-21,25-023,MIL,AWAY,IND,W (+3),1,39:54,14,19,...,18,3,1,3,3,4,31,28.9,15,Andrew Bogut
2,2010-01-23,27-147,MIL,HOME,MIN,W (+33),1,33:56,9,11,...,8,8,2,0,1,4,24,27.7,21,Carlos Delfino
3,2010-01-26,25-059,MIL,AWAY,DAL,L (-1),1,37:07,13,14,...,9,0,0,1,3,2,32,26.6,-3,Andrew Bogut
4,2010-02-22,25-086,MIL,AWAY,NYK,W (+16),1,36:08,12,15,...,20,0,0,5,3,3,24,26.0,13,Andrew Bogut

In [21]:

MIL_2011_gamelog = []

for p in MIL_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2011_gamelog.append(player_log)
MIL_2011_gamelog = pd.concat(MIL_2011_gamelog)    
MIL_2011_gamelogs = MIL_2011_gamelog.copy()
MIL_2011_gamelogs['GAME_SCORE'] = MIL_2011_gamelogs['GAME_SCORE'].astype(float)
MIL_2011_games = MIL_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2011_games_csv = MIL_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2011_games.csv', index=False)
MIL_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2011_games.csv')
MIL_2011_games_proc.head()

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Jon Brockman"
1 result found.
Jon Brockman
Results for Jon Brockman:

You searched for "Carlos Delfino"
1 result found.
Carlos Delfino
Results for Carlos Delfino:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Chris Douglas-Roberts"
1 result found.
Chris Douglas-Roberts
Results for Chris Douglas-Roberts:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Corey Maggette"
1 result found.
Corey Maggette
Results for Corey Maggette:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Michael Redd"
5 results found.
0: Michael Redd
1: Michael Cage
2: Michael Curry
3: Michael Porter
4: Michael Wiley
Pick one: 0
Results for Michael Redd:

You searched for "John Salmons"
7 results found.
0: John Salmons
1: John Collins
2: John Long
3: John Paxson
4: John Salley
5: Johnny Simmons
6: John Clawson
Pick one: 0
Results for John Salmons:

You searched for "Larry Sanders"
6 results found.
0: Larry Sanders
1: Larry Jones
2: Larry Nance
3: Larry Nance
4: Al Sanders
5: Larry Sykes
Pick one: 0
Results for Larry Sanders:

You searched for "Brian Skinner"
6 results found.
0: Brian Skinner
1: Brian Oliver
2: Brian Quinnett
3: Al Skinner
4: Tal Skinner
5: Brian Winters
Pick one: 0
Results for Brian Skinner:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-03-20,28-203,MIL,HOME,NYK,W (+5),1,42:50,8,13,...,11,2,0,0,1,2,30,27.4,6,Carlos Delfino
1,2011-04-09,31-118,MIL,HOME,CLE,W (+7),1,40:12,14,18,...,1,2,0,1,0,1,32,27.0,9,John Salmons
2,2011-03-18,28-201,MIL,HOME,NJN,W (+15),1,44:24,9,13,...,8,3,3,0,1,0,26,27.0,10,Carlos Delfino
3,2010-12-04,26-006,MIL,HOME,ORL,W (+11),1,38:35,13,20,...,18,1,2,2,2,4,31,26.9,15,Andrew Bogut
4,2011-03-25,26-117,MIL,AWAY,NYK,W (+6),1,38:56,8,14,...,17,3,2,4,0,3,21,26.8,15,Andrew Bogut

In [24]:
# removed mike dunleavy 
MIL_2012_gamelog = []

for p in MIL_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2012_gamelog.append(player_log)
MIL_2012_gamelog = pd.concat(MIL_2012_gamelog)    
MIL_2012_gamelogs = MIL_2012_gamelog.copy()
MIL_2012_gamelogs['GAME_SCORE'] = MIL_2012_gamelogs['GAME_SCORE'].astype(float)
MIL_2012_games = MIL_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2012_games_csv = MIL_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2012_games.csv', index=False)
MIL_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2012_games.csv')
MIL_2012_games_proc.head()

You searched for "Andrew Bogut"
4 results found.
0: Andrew Bogut
1: Andrew Bynum
2: Andrew Toney
3: Andrew Gaze
Pick one: 0
Results for Andrew Bogut:

You searched for "Jon Brockman"
1 result found.
Jon Brockman
Results for Jon Brockman:

You searched for "Carlos Delfino"
1 result found.
Carlos Delfino
Results for Carlos Delfino:

You searched for "Monta Ellis"
5 results found.
0: Monta Ellis
1: Monti Davis
2: Bo Ellis
3: Boo Ellis
4: Joe Ellis
Pick one: 0
Results for Monta Ellis:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Tobias Harris"
6 results found.
0: Tobias Harris
1: Elias Harris
2: Bob Harris
3: Chris Harris
4: Tony Harris
5: Bob Harrison
Pick one: 0
Results for Tobias Harris:

You searched for "Darington Hobson"
1 result found.
Darington Hobson
Results for Darington Hobson:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Jon Leuer"
18 results found.
0: Jon Leuer
1: Ron Lee
2: Jon Teske
3: Ron Baker
4: Ron Brewer
5: John Coker
6: Don Dee
7: Fat Lever
8: Ron Mercer
9: Ron Reed
10: Von Wafer
11: Joe DePre
12: John Drew
13: Joe Kleine
14: John Long
15: John Olive
16: Ron Riley
17: John Wall
Pick one: 0
Results for Jon Leuer:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Larry Sanders"
6 results found.
0: Larry Sanders
1: Larry Jones
2: Larry Nance
3: Larry Nance
4: Al Sanders
5: Larry Sykes
Pick one: 0
Results for Larry Sanders:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-02-07,26-104,GSW,HOME,OKC,L (-3),1,41:45,18,29,...,7,2,2,1,3,2,48,37.3,5,Monta Ellis
1,2012-03-07,24-297,MIL,HOME,CHI,L (-2),1,43:04,14,18,...,10,1,0,1,0,2,32,30.6,2,Ersan İlyasova
2,2012-03-11,24-301,MIL,AWAY,TOR,W (+6),1,44:06,11,16,...,12,1,2,0,0,3,31,30.1,13,Ersan İlyasova
3,2012-04-11,26-168,MIL,HOME,NYK,L (-4),1,40:44,14,25,...,6,10,4,0,5,2,35,29.7,-8,Monta Ellis
4,2012-03-12,22-171,MIL,AWAY,NJN,W (+6),1,38:52,12,23,...,7,7,0,2,1,2,34,28.9,12,Brandon Jennings

In [26]:
# removed mike dunleavy
MIL_2013_gamelog = []

for p in MIL_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2013_gamelog.append(player_log)
MIL_2013_gamelog = pd.concat(MIL_2013_gamelog)    
MIL_2013_gamelogs = MIL_2013_gamelog.copy()
MIL_2013_gamelogs['GAME_SCORE'] = MIL_2013_gamelogs['GAME_SCORE'].astype(float)
MIL_2013_games = MIL_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2013_games_csv = MIL_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2013_games.csv', index=False)
MIL_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2013_games.csv')
MIL_2013_games_proc.head()

You searched for "Gustavo Ayón"
1 result found.
Gustavo Ayon
Results for Gustavo Ayon:

You searched for "Samuel Dalembert"
1 result found.
Samuel Dalembert
Results for Samuel Dalembert:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Monta Ellis"
5 results found.
0: Monta Ellis
1: Monti Davis
2: Bo Ellis
3: Boo Ellis
4: Joe Ellis
Pick one: 0
Results for Monta Ellis:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Tobias Harris"
6 results found.
0: Tobias Harris
1: Elias Harris
2: Bob Harris
3: Chris Harris
4: Tony Harris
5: Bob Harrison
Pick one: 0
Results for Tobias Harris:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Doron Lamb"
2 results found.
0: Doron Lamb
1: Darvin Ham
Pick one: 0
Results for Doron Lamb:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Joel Przybilla"
1 result found.
Joel Przybilla
Results for Joel Przybilla:

You searched for "J.J. Redick"
2 results found.
0: J.J. Redick
1: J.R. Reid
Pick one: 0
Results for J.J. Redick:

You searched for "Larry Sanders"
6 results found.
0: Larry Sanders
1: Larry Jones
2: Larry Nance
3: Larry Nance
4: Al Sanders
5: Larry Sykes
Pick one: 0
Results for Larry Sanders:

You searched for "Ish Smith"
34 results found.
0: Ish Smith
1: Josh Smith
2: Al Smith
3: Bill Smith
4: Deb Smith
5: Don Smith
6: Don Smith
7: Ed Smith
8: Jim Smith
9: Joe Smith
10: John Smith
11: Keith Smith
12: Ken Smith
13: Mike Smith
14: Otis Smith
15: Russ Smith
16: Sam Smith
17: Sam Smith
18: Bingo Smith
19: Chris Smith
20: Chris Smith
21: Doug Smith
22: Greg Smith
23: Greg Smith
24: J.R. Smith
25: Jason Smith
26: Leon Smith
27: Pete Smith
28: Phil Smith
29: Tony Smith
30: Rik Smits
31: Joe Smyth
32: Sam Stith
33: Tom Stith
Pick one: 0
Results for Ish Smith:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-11-12,23-050,MIL,AWAY,PHI,W (+9),1,37:59,12,21,...,5,8,4,1,1,3,33,32.7,25,Brandon Jennings
1,2013-11-20,28-025,DAL,HOME,HOU,W (+3),1,40:17,13,18,...,2,9,2,0,3,4,37,32.7,2,Monta Ellis
2,2014-02-08,24-138,DET,HOME,DEN,W (+17),1,40:17,11,22,...,1,12,2,0,2,1,35,32.3,29,Brandon Jennings
3,2014-01-15,29-205,LAC,HOME,DAL,W (+2),1,31:19,10,14,...,3,5,2,0,1,3,33,31.4,19,J.J. Redick
4,2013-03-17,27-142,MIL,HOME,ORL,W (+6),1,40:09,13,22,...,6,5,3,0,6,1,39,30.7,10,Monta Ellis

In [27]:
MIL_2014_gamelog = []

for p in MIL_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2014_gamelog.append(player_log)
MIL_2014_gamelog = pd.concat(MIL_2014_gamelog)    
MIL_2014_gamelogs = MIL_2014_gamelog.copy()
MIL_2014_gamelogs['GAME_SCORE'] = MIL_2014_gamelogs['GAME_SCORE'].astype(float)
MIL_2014_games = MIL_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2014_games_csv = MIL_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2014_games.csv', index=False)
MIL_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2014_games.csv')
MIL_2014_games_proc.head()

You searched for "Jeff Adrien"
10 results found.
0: Jeff Adrien
1: Jeff Ayres
2: Jeff Green
3: Jeff Martin
4: Jeff Turner
5: Jeff Grayer
6: Jeff Malone
7: Jeff Ruland
8: Jeff Sanders
9: Jeff Taylor
Pick one: 0
Results for Jeff Adrien:

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Brandon Knight"
5 results found.
0: Brandon Knight
1: Brandin Knight
2: Brandan Wright
3: Brevin Knight
4: Ron Knight
Pick one: 0
Results for Brandon Knight:

You searched for "O.J. Mayo"
2 results found.
0: O.J. Mayo
1: T.J. Leaf
Pick one: 0
Results for O.J. Mayo:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Tony Mitchell"
5 results found.
0: Tony Mitchell
1: Tony Mitchell
2: Todd Mitchell
3: Mike Mitchell
4: Sam Mitchell
Pick one: 0
Results for Tony Mitchell:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Miroslav Raduljica"
1 result found.
Miroslav Raduljica
Results for Miroslav Raduljica:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "Larry Sanders"
6 results found.
0: Larry Sanders
1: Larry Jones
2: Larry Nance
3: Larry Nance
4: Al Sanders
5: Larry Sykes
Pick one: 0
Results for Larry Sanders:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "D.J. Stephens"
3 results found.
0: D.J. Stephens
1: Jack Stephens
2: Joe Stephens
Pick one: 0
Results for D.J. Stephens:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

You searched for "Nate Wolters"
1 result found.
Nate Wolters
Results for Nate Wolters:

You searched for "Chris Wright"
12 results found.
0: Chris Wright
1: Chris Wright
2: Chris Mihm
3: Chris Smith
4: Chris Smith
5: Brad Wright
6: Howie Wright
7: Larry Wright
8: Leroy Wright
9: Chris Webber
10: Chris Harris
11: Chris Morris
Pick one: 0
Results for Chris Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-31,22-029,MIL,AWAY,LAL,W (+15),1,38:48,15,25,...,8,2,4,0,2,1,37,30.9,17,Brandon Knight
1,2013-11-22,33-254,MIL,AWAY,PHI,L (-8),1,36:18,13,22,...,8,3,3,0,4,3,38,29.7,-7,Caron Butler
2,2014-03-03,26-292,MIL,HOME,UTA,W (+26),1,30:06,13,14,...,5,0,2,1,1,1,31,29.6,31,Ersan İlyasova
3,2013-12-10,22-347,MIL,AWAY,CHI,W (+4),1,40:54,11,17,...,14,2,3,6,3,3,25,28.1,5,John Henson
4,2014-01-13,26-243,MIL,AWAY,TOR,L (-22),1,33:09,11,16,...,9,0,2,0,0,0,29,27.7,3,Ersan İlyasova

In [32]:
# removed chris johnson
# removed Johnny O'Bryant
MIL_2015_gamelog = []

for p in MIL_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2015_gamelog.append(player_log)
MIL_2015_gamelog = pd.concat(MIL_2015_gamelog)    
MIL_2015_gamelogs = MIL_2015_gamelog.copy()
MIL_2015_gamelogs['GAME_SCORE'] = MIL_2015_gamelogs['GAME_SCORE'].astype(float)
MIL_2015_games = MIL_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2015_games_csv = MIL_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2015_games.csv', index=False)
MIL_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2015_games.csv')
MIL_2015_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Jerryd Bayless"
1 result found.
Jerryd Bayless
Results for Jerryd Bayless:

You searched for "Michael Carter-Williams"
1 result found.
Michael Carter-Williams
Results for Michael Carter-Williams:

You searched for "Jared Dudley"
3 results found.
0: Jared Dudley
1: Charles Dudley
2: Chris Dudley
Pick one: 0
Results for Jared Dudley:

You searched for "Tyler Ennis"
6 results found.
0: Tyler Ennis
1: Tyler Davis
2: Tyler Ulis
3: James Ennis
4: Tyler Herro
5: Tyler Lydon
Pick one: 0
Results for Tyler Ennis:

You searched for "Jorge Gutiérrez"
1 result found.
Jorge Gutierrez
Results for Jorge Gutierrez:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Brandon Knight"
5 results found.
0: Brandon Knight
1: Brandin Knight
2: Brandan Wright
3: Brevin Knight
4: Ron Knight
Pick one: 0
Results for Brandon Knight:

You searched for "Kendall Marshall"
2 results found.
0: Kendall Marshall
1: Donyell Marshall
Pick one: 0
Results for Kendall Marshall:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "O.J. Mayo"
2 results found.
0: O.J. Mayo
1: T.J. Leaf
Pick one: 0
Results for O.J. Mayo:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Zaza Pachulia"
1 result found.
Zaza Pachulia
Results for Zaza Pachulia:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Larry Sanders"
6 results found.
0: Larry Sanders
1: Larry Jones
2: Larry Nance
3: Larry Nance
4: Al Sanders
5: Larry Sykes
Pick one: 0
Results for Larry Sanders:

You searched for "Nate Wolters"
1 result found.
Nate Wolters
Results for Nate Wolters:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-03-26,27-315,MIL,HOME,IND,W (+4),1,35:40,12,14,...,6,2,2,0,0,3,34,33.0,19,Ersan İlyasova
1,2015-03-09,20-093,MIL,HOME,NOP,L (-11),1,37:28,11,16,...,5,4,3,3,2,2,29,29.6,-1,Giannis Antetokounmpo
2,2015-03-20,31-038,MIL,AWAY,BRK,L (-2),1,40:06,9,16,...,21,7,1,0,3,4,22,29.2,6,Zaza Pachulia
3,2015-03-11,23-211,MIL,HOME,ORL,W (+6),1,41:35,12,17,...,3,5,2,0,1,2,30,27.5,4,Khris Middleton
4,2015-04-13,23-185,MIL,AWAY,PHI,W (+10),1,30:00,11,17,...,5,5,3,1,2,3,30,26.0,19,Michael Carter-Williams

In [34]:
# removed Johnny O'Bryant

MIL_2016_gamelog = []

for p in MIL_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2016_gamelog.append(player_log)
MIL_2016_gamelog = pd.concat(MIL_2016_gamelog)    
MIL_2016_gamelogs = MIL_2016_gamelog.copy()
MIL_2016_gamelogs['GAME_SCORE'] = MIL_2016_gamelogs['GAME_SCORE'].astype(float)
MIL_2016_games = MIL_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2016_games_csv = MIL_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2016_games.csv', index=False)
MIL_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2016_games.csv')
MIL_2016_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Jerryd Bayless"
1 result found.
Jerryd Bayless
Results for Jerryd Bayless:

You searched for "Michael Carter-Williams"
1 result found.
Michael Carter-Williams
Results for Michael Carter-Williams:

You searched for "Chris Copeland"
2 results found.
0: Chris Copeland
1: Hollis Copeland
Pick one: 0
Results for Chris Copeland:

You searched for "Jared Cunningham"
2 results found.
0: Jared Cunningham
1: Dante Cunningham
Pick one: 0
Results for Jared Cunningham:

You searched for "Tyler Ennis"
6 results found.
0: Tyler Ennis
1: Tyler Davis
2: Tyler Ulis
3: James Ennis
4: Tyler Herro
5: Tyler Lydon
Pick one: 0
Results for Tyler Ennis:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Damien Inglis"
1 result found.
Damien Inglis
Results for Damien Inglis:

You searched for "O.J. Mayo"
2 results found.
0: O.J. Mayo
1: T.J. Leaf
Pick one: 0
Results for O.J. Mayo:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Greg Monroe"
7 results found.
0: Greg Monroe
1: Greg Minor
2: Earl Monroe
3: Greg Foster
4: Greg Howard
5: Greg Oden
6: Greg Sutton
Pick one: 0
Results for Greg Monroe:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Greivis Vásquez"
1 result found.
Greivis Vasquez
Results for Greivis Vasquez:

You searched for "Rashad Vaughn"
3 results found.
0: Rashad Vaughn
1: David Vaughn
2: David Vaughn
Pick one: 0
Results for Rashad Vaughn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-03-13,21-098,MIL,AWAY,BRK,W (+9),1,40:39,12,16,...,11,14,4,2,3,1,28,35.1,19,Giannis Antetokounmpo
1,2016-02-22,21-078,MIL,HOME,LAL,W (+7),1,41:44,12,17,...,12,10,3,4,1,3,27,33.7,13,Giannis Antetokounmpo
2,2016-02-29,24-201,MIL,HOME,HOU,W (+7),1,44:14,7,10,...,3,4,5,1,2,3,30,32.4,4,Khris Middleton
3,2015-11-19,20-348,MIL,AWAY,CLE,L (-15),1,39:45,12,15,...,5,2,2,0,0,3,33,31.8,-14,Giannis Antetokounmpo
4,2016-03-04,21-089,MIL,HOME,MIN,W (+15),1,35:01,9,17,...,9,12,3,2,4,2,27,29.8,24,Giannis Antetokounmpo

In [38]:
# removed gary payton (jr)

MIL_2017_gamelog = []

for p in MIL_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2017_gamelog.append(player_log)
MIL_2017_gamelog = pd.concat(MIL_2017_gamelog)    
MIL_2017_gamelogs = MIL_2017_gamelog.copy()
MIL_2017_gamelogs['GAME_SCORE'] = MIL_2017_gamelogs['GAME_SCORE'].astype(float)
MIL_2017_games = MIL_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2017_games_csv = MIL_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2017_games.csv', index=False)
MIL_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2017_games.csv')
MIL_2017_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Malcolm Brogdon"
1 result found.
Malcolm Brogdon
Results for Malcolm Brogdon:

You searched for "Matthew Dellavedova"
1 result found.
Matthew Dellavedova
Results for Matthew Dellavedova:

You searched for "Spencer Hawes"
3 results found.
0: Spencer Hawes
1: Steve Hawes
2: Spencer Haywood
Pick one: 0
Results for Spencer Hawes:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Terrence Jones"
3 results found.
0: Terrence Jones
1: Terrence Ross
2: Derrick Jones
Pick one: 0
Results for Terrence Jones:

You searched for "Thon Maker"
8 results found.
0: Thon Maker
1: Ron Baker
2: Vin Baker
3: Tom Barker
4: Tharon Mayes
5: Tony Parker
6: Tom Riker
7: Von Wafer
Pick one: 0
Results for Thon Maker:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Greg Monroe"
7 results found.
0: Greg Monroe
1: Greg Minor
2: Earl Monroe
3: Greg Foster
4: Greg Howard
5: Greg Oden
6: Greg Sutton
Pick one: 0
Results for Greg Monroe:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Miles Plumlee"
2 results found.
0: Miles Plumlee
1: Mason Plumlee
Pick one: 0
Results for Miles Plumlee:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "Mirza Teletović"
1 result found.
Mirza Teletovic
Results for Mirza Teletovic:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Axel Toupane"
1 result found.
Axel Toupane
Results for Axel Toupane:

You searched for "Rashad Vaughn"
3 results found.
0: Rashad Vaughn
1: David Vaughn
2: David Vaughn
Pick one: 0
Results for Rashad Vaughn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-12-23,22-017,MIL,HOME,WAS,W (+27),1,32:40,12,19,...,8,6,2,1,1,1,39,38.0,25,Giannis Antetokounmpo
1,2016-12-31,22-025,MIL,AWAY,CHI,W (+20),1,40:34,13,19,...,9,8,2,7,4,2,35,37.3,16,Giannis Antetokounmpo
2,2017-03-08,22-092,MIL,HOME,NYK,W (+11),1,41:11,11,21,...,13,7,4,2,1,2,32,35.3,10,Giannis Antetokounmpo
3,2017-01-23,25-014,NOP,HOME,CLE,W (+2),1,35:45,13,18,...,11,1,2,3,1,1,36,35.3,-2,Terrence Jones
4,2017-02-10,22-066,MIL,HOME,LAL,L (-8),1,41:33,11,20,...,8,6,2,3,5,3,41,35.1,-8,Giannis Antetokounmpo

In [43]:
# removed xxavier munford
# removed gary payton

MIL_2018_gamelog = []

for p in MIL_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2018_gamelog.append(player_log)
MIL_2018_gamelog = pd.concat(MIL_2018_gamelog)    
MIL_2018_gamelogs = MIL_2018_gamelog.copy()
MIL_2018_gamelogs['GAME_SCORE'] = MIL_2018_gamelogs['GAME_SCORE'].astype(float)
MIL_2018_games = MIL_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2018_games_csv = MIL_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2018_games.csv', index=False)
MIL_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2018_games.csv')
MIL_2018_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Joel Bolomboy"
1 result found.
Joel Bolomboy
Results for Joel Bolomboy:

You searched for "Malcolm Brogdon"
1 result found.
Malcolm Brogdon
Results for Malcolm Brogdon:

You searched for "Sterling Brown"
1 result found.
Sterling Brown
Results for Sterling Brown:

You searched for "Matthew Dellavedova"
1 result found.
Matthew Dellavedova
Results for Matthew Dellavedova:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Sean Kilpatrick"
3 results found.
0: Sean Kilpatrick
1: Carl Kilpatrick
2: Stan Patrick
Pick one: 0
Results for Sean Kilpatrick:

You searched for "DeAndre Liggins"
2 results found.
0: DeAndre Liggins
1: Andrew Wiggins
Pick one: 0
Results for DeAndre Liggins:

You searched for "Thon Maker"
8 results found.
0: Thon Maker
1: Ron Baker
2: Vin Baker
3: Tom Barker
4: Tharon Mayes
5: Tony Parker
6: Tom Riker
7: Von Wafer
Pick one: 0
Results for Thon Maker:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Greg Monroe"
7 results found.
0: Greg Monroe
1: Greg Minor
2: Earl Monroe
3: Greg Foster
4: Greg Howard
5: Greg Oden
6: Greg Sutton
Pick one: 0
Results for Greg Monroe:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Marshall Plumlee"
1 result found.
Marshall Plumlee
Results for Marshall Plumlee:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "Mirza Teletović"
1 result found.
Mirza Teletovic
Results for Mirza Teletovic:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Rashad Vaughn"
3 results found.
0: Rashad Vaughn
1: David Vaughn
2: David Vaughn
Pick one: 0
Results for Rashad Vaughn:

You searched for "D.J. Wilson"
7 results found.
0: D.J. Wilson
1: C.J. Watson
2: C.J. Wilcox
3: J.J. Hickson
4: Bob Wilson
5: Jim Wilson
6: Rick Wilson
Pick one: 0
Results for D.J. Wilson:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-01-26,23-051,MIL,HOME,BRK,W (+25),1,32:54,14,20,...,13,7,2,2,1,2,41,43.4,19,Giannis Antetokounmpo
1,2017-10-21,22-319,MIL,HOME,POR,W (+3),1,39:20,17,23,...,8,4,2,2,2,3,44,39.3,3,Giannis Antetokounmpo
2,2018-03-30,28-111,MIL,AWAY,LAL,W (+2),1,34:08,15,24,...,3,6,4,0,0,2,39,36.5,4,Eric Bledsoe
3,2017-12-09,23-003,MIL,HOME,UTA,W (+17),1,39:25,14,22,...,13,7,2,0,2,4,37,35.2,17,Giannis Antetokounmpo
4,2017-11-01,26-081,MIL,AWAY,CHO,L (-5),1,39:36,15,28,...,5,7,0,0,0,4,43,34.2,1,Khris Middleton

In [44]:

MIL_2019_gamelog = []

for p in MIL_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2019_gamelog.append(player_log)
MIL_2019_gamelog = pd.concat(MIL_2019_gamelog)    
MIL_2019_gamelogs = MIL_2019_gamelog.copy()
MIL_2019_gamelogs['GAME_SCORE'] = MIL_2019_gamelogs['GAME_SCORE'].astype(float)
MIL_2019_games = MIL_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2019_games_csv = MIL_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2019_games.csv', index=False)
MIL_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2019_games.csv')
MIL_2019_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Malcolm Brogdon"
1 result found.
Malcolm Brogdon
Results for Malcolm Brogdon:

You searched for "Sterling Brown"
1 result found.
Sterling Brown
Results for Sterling Brown:

You searched for "Isaiah Canaan"
1 result found.
Isaiah Canaan
Results for Isaiah Canaan:

You searched for "Bonzie Colson"
1 result found.
Bonzie Colson
Results for Bonzie Colson:

You searched for "Pat Connaughton"
1 result found.
Pat Connaughton
Results for Pat Connaughton:

You searched for "Matthew Dellavedova"
1 result found.
Matthew Dellavedova
Results for Matthew Dellavedova:

You searched for "Donte DiVincenzo"
1 result found.
Donte DiVincenzo
Results for Donte DiVincenzo:

You searched for "Trevon Duval"
1 result found.
Trevon Duval
Results for Trevon Duval:

You searched for "Tim Frazier"
4 results found.
0: Tim Frazier
1: Will Frazier
2: Jim Farmer
3: Walt Frazier
Pick one: 0
Results for Tim Frazier:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "John Henson"
23 results found.
0: John Henson
1: John Johnson
2: John Paxson
3: John Clawson
4: John Dickson
5: John Hazen
6: Jack Hewson
7: Roy Hinson
8: John Jenkins
9: John Morton
10: Don Nelson
11: Ron Nelson
12: John Pinone
13: John Thompson
14: John Windsor
15: John Chaney
16: John Hargis
17: John Hummer
18: John Long
19: John Mahnken
20: Johan Petro
21: John Warren
22: John Thomas
Pick one: 0
Results for John Henson:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Brook Lopez"
4 results found.
0: Brook Lopez
1: Raul Lopez
2: Robin Lopez
3: Brook Steppe
Pick one: 0
Results for Brook Lopez:

You searched for "Thon Maker"
8 results found.
0: Thon Maker
1: Ron Baker
2: Vin Baker
3: Tom Barker
4: Tharon Mayes
5: Tony Parker
6: Tom Riker
7: Von Wafer
Pick one: 0
Results for Thon Maker:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Nikola Mirotić"
3 results found.
0: Nikola Mirotic
1: Nikola Jokic
2: Nikola Pekovic
Pick one: 0
Results for Nikola Mirotic:

You searched for "Jaylen Morris"
3 results found.
0: Jaylen Morris
1: Jalen Harris
2: Jaylen Hoard
Pick one: 0
Results for Jaylen Morris:

You searched for "Jason Smith"
27 results found.
0: Jason Smith
1: Jalen Smith
2: Don Smith
3: Don Smith
4: Joe Smith
5: John Smith
6: Josh Smith
7: Leon Smith
8: Aaron Nesmith
9: Jason Hart
10: Jason Kidd
11: Al Smith
12: Ish Smith
13: J.R. Smith
14: Jabari Smith
15: Jerry Smith
16: Jim Smith
17: Ken Smith
18: Larry Smith
19: Nolan Smith
20: Randy Smith
21: Russ Smith
22: Sam Smith
23: Sam Smith
24: Theron Smith
25: Tony Smith
26: Joe Smyth
Pick one: 0
Results for Jason Smith:

You searched for "Tony Snell"
16 results found.
0: Tony Snell
1: Tony Delk
2: Troy Bell
3: Tony Lavelli
4: Tom Sewell
5: Tony Smith
6: Tony Zeno
7: Tony Allen
8: Tony Brown
9: Tony Dumas
10: Tony Jaros
11: Tom Kelly
12: Tony Koski
13: Tony Price
14: Tony White
15: Tony Dawson
Pick one: 0
Results for Tony Snell:

You searched for "D.J. Wilson"
7 results found.
0: D.J. Wilson
1: C.J. Watson
2: C.J. Wilcox
3: J.J. Hickson
4: Bob Wilson
5: Jim Wilson
6: Rick Wilson
Pick one: 0
Results for D.J. Wilson:

You searched for "Christian Wood"
1 result found.
Christian Wood
Results for Christian Wood:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-17,24-101,MIL,HOME,PHI,L (-5),1,36:12,15,26,...,16,7,2,1,1,1,52,50.4,12,Giannis Antetokounmpo
1,2019-04-04,24-119,MIL,AWAY,PHI,W (+6),1,34:58,13,22,...,13,6,0,5,0,2,45,43.6,9,Giannis Antetokounmpo
2,2018-12-14,24-008,MIL,AWAY,CLE,W (+12),1,37:31,14,19,...,14,8,0,2,4,5,44,41.1,25,Giannis Antetokounmpo
3,2019-02-13,24-069,MIL,AWAY,IND,W (+9),1,38:02,12,22,...,19,11,2,1,2,1,33,38.5,19,Giannis Antetokounmpo
4,2019-03-02,24-086,MIL,AWAY,UTA,L (-4),1,31:57,15,26,...,14,8,2,1,4,3,43,36.1,19,Giannis Antetokounmpo

In [47]:
# removed frank mason 
MIL_2020_gamelog = []

for p in MIL_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2020_gamelog.append(player_log)
MIL_2020_gamelog = pd.concat(MIL_2020_gamelog)    
MIL_2020_gamelogs = MIL_2020_gamelog.copy()
MIL_2020_gamelogs['GAME_SCORE'] = MIL_2020_gamelogs['GAME_SCORE'].astype(float)
MIL_2020_games = MIL_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2020_games_csv = MIL_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2020_games.csv', index=False)
MIL_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2020_games.csv')
MIL_2020_games_proc.head()

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Thanasis Antetokounmpo"
2 results found.
0: Thanasis Antetokounmpo
1: Giannis Antetokounmpo
Pick one: 0
Results for Thanasis Antetokounmpo:

You searched for "Dragan Bender"
1 result found.
Dragan Bender
Results for Dragan Bender:

You searched for "Eric Bledsoe"
1 result found.
Eric Bledsoe
Results for Eric Bledsoe:

You searched for "Sterling Brown"
1 result found.
Sterling Brown
Results for Sterling Brown:

You searched for "Pat Connaughton"
1 result found.
Pat Connaughton
Results for Pat Connaughton:

You searched for "Donte DiVincenzo"
1 result found.
Donte DiVincenzo
Results for Donte DiVincenzo:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Brook Lopez"
4 results found.
0: Brook Lopez
1: Raul Lopez
2: Robin Lopez
3: Brook Steppe
Pick one: 0
Results for Brook Lopez:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Wesley Matthews"
2 results found.
0: Wesley Matthews
1: Wes Matthews
Pick one: 0
Results for Wesley Matthews:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

You searched for "D.J. Wilson"
7 results found.
0: D.J. Wilson
1: C.J. Watson
2: C.J. Wilcox
3: J.J. Hickson
4: Bob Wilson
5: Jim Wilson
6: Rick Wilson
Pick one: 0
Results for D.J. Wilson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-11-25,24-354,MIL,HOME,UTA,W (+4),1,38:30,17,31,...,14,6,2,0,0,1,50,45.1,14,Giannis Antetokounmpo
1,2020-01-28,28-169,MIL,HOME,WAS,W (+20),1,35:52,16,26,...,10,6,0,0,2,2,51,44.0,24,Khris Middleton
2,2019-12-16,25-010,MIL,HOME,DAL,L (-4),1,34:23,18,31,...,14,4,1,1,3,3,48,37.6,-1,Giannis Antetokounmpo
3,2019-11-06,24-335,MIL,AWAY,LAC,W (+5),1,35:43,10,21,...,16,9,2,2,3,4,38,37.2,13,Giannis Antetokounmpo
4,2019-11-02,24-331,MIL,HOME,TOR,W (+10),1,36:26,14,20,...,15,8,1,4,3,3,36,36.9,9,Giannis Antetokounmpo

In [51]:
# removed Elijah Bryant
MIL_2021_gamelog = []

for p in MIL_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    MIL_2021_gamelog.append(player_log)
MIL_2021_gamelog = pd.concat(MIL_2021_gamelog)    
MIL_2021_gamelogs = MIL_2021_gamelog.copy()
MIL_2021_gamelogs['GAME_SCORE'] = MIL_2021_gamelogs['GAME_SCORE'].astype(float)
MIL_2021_games = MIL_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_2021_games_csv = MIL_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2021_games.csv', index=False)
MIL_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2021_games.csv')
MIL_2021_games_proc.head()

You searched for "Jaylen Adams"
6 results found.
0: Jaylen Adams
1: Alvan Adams
2: Hassan Adams
3: Jordan Adams
4: Steven Adams
5: Jaylen Hoard
Pick one: 0
Results for Jaylen Adams:

You searched for "Giannis Antetokounmpo"
2 results found.
0: Giannis Antetokounmpo
1: Thanasis Antetokounmpo
Pick one: 0
Results for Giannis Antetokounmpo:

You searched for "Thanasis Antetokounmpo"
2 results found.
0: Thanasis Antetokounmpo
1: Giannis Antetokounmpo
Pick one: 0
Results for Thanasis Antetokounmpo:

You searched for "D.J. Augustin"
1 result found.
D.J. Augustin
Results for D.J. Augustin:

You searched for "Pat Connaughton"
1 result found.
Pat Connaughton
Results for Pat Connaughton:

You searched for "Torrey Craig"
1 result found.
Torrey Craig
Results for Torrey Craig:

You searched for "Mamadi Diakite"
1 result found.
Mamadi Diakite
Results for Mamadi Diakite:

You searched for "Donte DiVincenzo"
1 result found.
Donte DiVincenzo
Results for Donte DiVincenzo:

You searched for "Bryn Forbes"
2 results found.
0: Bryn Forbes
1: Gary Forbes
Pick one: 0
Results for Bryn Forbes:

You searched for "Jrue Holiday"
2 results found.
0: Jrue Holiday
1: Aaron Holiday
Pick one: 0
Results for Jrue Holiday:

You searched for "Justin Jackson"
8 results found.
0: Justin Jackson
1: Jaren Jackson
2: Jaren Jackson
3: Jim Jackson
4: Josh Jackson
5: Mervin Jackson
6: Justin James
7: Justin Patton
Pick one: 0
Results for Justin Jackson:

You searched for "Rodions Kurucs"
1 result found.
Rodions Kurucs
Results for Rodions Kurucs:

You searched for "Brook Lopez"
4 results found.
0: Brook Lopez
1: Raul Lopez
2: Robin Lopez
3: Brook Steppe
Pick one: 0
Results for Brook Lopez:

You searched for "Sam Merrill"
4 results found.
0: Sam Merrill
1: Sam Perkins
2: Salah Mejri
3: Sam Pellom
Pick one: 0
Results for Sam Merrill:

You searched for "Khris Middleton"
2 results found.
0: Khris Middleton
1: Chris Singleton
Pick one: 0
Results for Khris Middleton:

You searched for "Jordan Nwora"
6 results found.
0: Jordan Nwora
1: Jordan Ford
2: Jordan Bone
3: Jordan Loyd
4: Jordan McRae
5: Jordan Poole
Pick one: 0
Results for Jordan Nwora:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Axel Toupane"
1 result found.
Axel Toupane
Results for Axel Toupane:

You searched for "P.J. Tucker"
5 results found.
0: P.J. Tucker
1: R.J. Hunter
2: Al Tucker
3: Jim Tucker
4: B.J. Tyler
Pick one: 0
Results for P.J. Tucker:

You searched for "D.J. Wilson"
7 results found.
0: D.J. Wilson
1: C.J. Watson
2: C.J. Wilcox
3: J.J. Hickson
4: Bob Wilson
5: Jim Wilson
6: Rick Wilson
Pick one: 0
Results for D.J. Wilson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-04-02,26-117,MIL,AWAY,POR,W (+18),1,33:05,18,21,...,12,2,1,3,4,2,47,42.4,17,Giannis Antetokounmpo
1,2021-02-10,26-066,MIL,AWAY,PHO,L (-1),1,37:55,15,23,...,11,5,1,0,2,2,47,41.1,-3,Giannis Antetokounmpo
2,2021-05-13,26-158,MIL,AWAY,IND,W (+9),1,35:05,14,18,...,15,6,1,0,1,1,40,40.5,1,Giannis Antetokounmpo
3,2021-05-02,26-147,MIL,HOME,BRK,W (+3),1,35:40,21,36,...,8,4,1,3,1,2,49,37.9,5,Giannis Antetokounmpo
4,2021-02-23,26-079,MIL,HOME,MIN,W (+27),1,29:09,13,18,...,8,8,2,2,3,1,37,36.8,21,Giannis Antetokounmpo

## combine all seasons

In [52]:
MIL_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2000_games.csv')
MIL_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2001_games.csv')
MIL_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2002_games.csv')
MIL_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2003_games.csv')
MIL_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2004_games.csv')
MIL_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2005_games.csv')
MIL_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2006_games.csv')
MIL_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2007_games.csv')
MIL_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2008_games.csv')
MIL_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2009_games.csv')
MIL_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2010_games.csv')
MIL_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2011_games.csv')
MIL_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2012_games.csv')
MIL_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2013_games.csv')
MIL_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2014_games.csv')
MIL_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2015_games.csv')
MIL_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2016_games.csv')
MIL_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2017_games.csv')
MIL_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2018_games.csv')
MIL_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2019_games.csv')
MIL_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2020_games.csv')
MIL_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_2021_games.csv')

In [53]:
MIL_season_dfs = [MIL_2000_games_io, MIL_2001_games_io, MIL_2002_games_io, MIL_2003_games_io, MIL_2004_games_io, MIL_2005_games_io,
                 MIL_2006_games_io, MIL_2007_games_io, MIL_2008_games_io, MIL_2009_games_io, MIL_2010_games_io, MIL_2011_games_io,
                 MIL_2012_games_io, MIL_2013_games_io, MIL_2014_games_io, MIL_2015_games_io, MIL_2016_games_io, MIL_2017_games_io,
                 MIL_2018_games_io, MIL_2019_games_io, MIL_2020_games_io, MIL_2021_games_io]

In [54]:
MIL_all = pd.concat(MIL_season_dfs)
MIL_all_sorted = MIL_all.sort_values(by=['GAME_SCORE'], ascending=False)
MIL_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-17,24-101,MIL,HOME,PHI,L (-5),1,36:12,15,26,...,16,7,2,1,1,1,52,50.4,12,Giannis Antetokounmpo
0,2019-11-25,24-354,MIL,HOME,UTA,W (+4),1,38:30,17,31,...,14,6,2,0,0,1,50,45.1,14,Giannis Antetokounmpo
1,2020-01-28,28-169,MIL,HOME,WAS,W (+20),1,35:52,16,26,...,10,6,0,0,2,2,51,44.0,24,Khris Middleton
1,2019-04-04,24-119,MIL,AWAY,PHI,W (+6),1,34:58,13,22,...,13,6,0,5,0,2,45,43.6,9,Giannis Antetokounmpo
0,2018-01-26,23-051,MIL,HOME,BRK,W (+25),1,32:54,14,20,...,13,7,2,2,1,2,41,43.4,19,Giannis Antetokounmpo
0,2021-04-02,26-117,MIL,AWAY,POR,W (+18),1,33:05,18,21,...,12,2,1,3,4,2,47,42.4,17,Giannis Antetokounmpo
0,2006-11-11,27-079,MIL,HOME,UTA,L (-2),1,45:44,18,32,...,2,0,3,1,3,2,57,41.5,2,Michael Redd
1,2021-02-10,26-066,MIL,AWAY,PHO,L (-1),1,37:55,15,23,...,11,5,1,0,2,2,47,41.1,-3,Giannis Antetokounmpo
2,2018-12-14,24-008,MIL,AWAY,CLE,W (+12),1,37:31,14,19,...,14,8,0,2,4,5,44,41.1,25,Giannis Antetokounmpo
0,2002-04-14,26-268,MIL,HOME,CHH,W (+7),1,44:17,15,23,...,4,4,3,0,3,3,47,40.9,10,Ray Allen
2,2021-05-13,26-158,MIL,AWAY,IND,W (+9),1,35:05,14,18,...,15,6,1,0,1,1,40,40.5,1,Giannis Antetokounmpo
0,2009-11-14,20-052,MIL,HOME,GSW,W (+4),1,40:43,21,34,...,5,5,0,0,4,1,55,39.8,11,Brandon Jennings
0,2009-02-07,22-302,MIL,HOME,DET,L (-5),1,46:49,13,18,...,5,12,0,0,4,4,44,39.7,-9,Ramon Sessions
1,2017-10-21,22-319,MIL,HOME,POR,W (+3),1,39:20,17,23,...,8,4,2,2,2,3,44,39.3,3,Giannis Antetokounmpo
0,2001-04-12,25-266,MIL,HOME,UTA,W (+22),1,40:09,14,23,...,5,5,2,0,0,2,43,39.1,32,Ray Allen
3,2019-02-13,24-069,MIL,AWAY,IND,W (+9),1,38:02,12,22,...,19,11,2,1,2,1,33,38.5,19,Giannis Antetokounmpo
0,2016-12-23,22-017,MIL,HOME,WAS,W (+27),1,32:40,12,19,...,8,6,2,1,1,1,39,38.0,25,Giannis Antetokounmpo
3,2021-05-02,26-147,MIL,HOME,BRK,W (+3),1,35:40,21,36,...,8,4,1,3,1,2,49,37.9,5,Giannis Antetokounmpo
2,2019-12-16,25-010,MIL,HOME,DAL,L (-4),1,34:23,18,31,...,14,4,1,1,3,3,48,37.6,-1,Giannis Antetokounmpo
0,1999-11-21,24-124,MIL,AWAY,DET,L (-19),1,37:19,13,15,...,4,10,4,1,2,3,33,37.4,-6,Ray Allen
0,2012-02-07,26-104,GSW,HOME,OKC,L (-3),1,41:45,18,29,...,7,2,2,1,3,2,48,37.3,5,Monta Ellis
1,2016-12-31,22-025,MIL,AWAY,CHI,W (+20),1,40:34,13,19,...,9,8,2,7,4,2,35,37.3,16,Giannis Antetokounmpo
1,2007-03-04,27-192,MIL,HOME,CHI,L (-5),1,43:38,18,32,...,3,2,3,0,4,2,52,37.3,-12,Michael Redd
3,2019-11-06,24-335,MIL,AWAY,LAC,W (+5),1,35:43,10,21,...,16,9,2,2,3,4,38,37.2,13,Giannis Antetokounmpo
4,2019-11-02,24-331,MIL,HOME,TOR,W (+10),1,36:26,14,20,...,15,8,1,4,3,3,36,36.9,9,Giannis Antetokounmpo