In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_MIN = []

# MIN
while season <= 2021:
    df_MIN = get_roster('MIN', season)
    df_MIN['Season'] = season
    df_MIN['Team'] = 'MIN'
    appended_data_MIN.append(df_MIN)
    season = season + 1
appended_data_MIN = pd.concat(appended_data_MIN)

In [4]:
MIN_df_all = appended_data_MIN.copy()
MIN_df_all_csv = MIN_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_players_all.csv', index=False)
MIN_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_players_all.csv')
MIN_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,5,William Avery,PG,6-2,197,1979-08-08,US,R,Duke,2000,MIN
1,7,Terrell Brandon,PG,5-11,180,1970-05-20,US,8,Oregon,2000,MIN
2,21,Kevin Garnett,PF,6-11,240,1976-05-19,US,4,NaN,2000,MIN
3,22,Dean Garrett,C,6-10,225,1966-11-27,US,3,Indiana,2000,MIN
4,20,Tom Hammonds,PF,6-9,215,1967-03-27,US,10,Georgia Tech,2000,MIN

In [5]:
MIN_df_2000 = MIN_df_all[MIN_df_all['Season'] == 2000]
MIN_df_2001 = MIN_df_all[MIN_df_all['Season'] == 2001]
MIN_df_2002 = MIN_df_all[MIN_df_all['Season'] == 2002]
MIN_df_2003 = MIN_df_all[MIN_df_all['Season'] == 2003]
MIN_df_2004 = MIN_df_all[MIN_df_all['Season'] == 2004]
MIN_df_2005 = MIN_df_all[MIN_df_all['Season'] == 2005]
MIN_df_2006 = MIN_df_all[MIN_df_all['Season'] == 2006]
MIN_df_2007 = MIN_df_all[MIN_df_all['Season'] == 2007]
MIN_df_2008 = MIN_df_all[MIN_df_all['Season'] == 2008]
MIN_df_2009 = MIN_df_all[MIN_df_all['Season'] == 2009]
MIN_df_2010 = MIN_df_all[MIN_df_all['Season'] == 2010]
MIN_df_2011 = MIN_df_all[MIN_df_all['Season'] == 2011]
MIN_df_2012 = MIN_df_all[MIN_df_all['Season'] == 2012]
MIN_df_2013 = MIN_df_all[MIN_df_all['Season'] == 2013]
MIN_df_2014 = MIN_df_all[MIN_df_all['Season'] == 2014]
MIN_df_2015 = MIN_df_all[MIN_df_all['Season'] == 2015]
MIN_df_2016 = MIN_df_all[MIN_df_all['Season'] == 2016]
MIN_df_2017 = MIN_df_all[MIN_df_all['Season'] == 2017]
MIN_df_2018 = MIN_df_all[MIN_df_all['Season'] == 2018]
MIN_df_2019 = MIN_df_all[MIN_df_all['Season'] == 2019]
MIN_df_2020 = MIN_df_all[MIN_df_all['Season'] == 2020]
MIN_df_2021 = MIN_df_all[MIN_df_all['Season'] == 2021]

In [ ]:
# changing names
#MIN_df_2002.loc[MIN_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#MIN_df_2004.loc[MIN_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [7]:
MIN_df_2000_players = MIN_df_2000['PLAYER'].to_list()
MIN_df_2001_players = MIN_df_2001['PLAYER'].to_list()
MIN_df_2002_players = MIN_df_2002['PLAYER'].to_list()
MIN_df_2003_players = MIN_df_2003['PLAYER'].to_list()
MIN_df_2004_players = MIN_df_2004['PLAYER'].to_list()
MIN_df_2005_players = MIN_df_2005['PLAYER'].to_list()

MIN_df_2006_players = MIN_df_2006['PLAYER'].to_list()
MIN_df_2007_players = MIN_df_2007['PLAYER'].to_list()
MIN_df_2008_players = MIN_df_2008['PLAYER'].to_list()
MIN_df_2009_players = MIN_df_2009['PLAYER'].to_list()
MIN_df_2010_players = MIN_df_2010['PLAYER'].to_list()
MIN_df_2011_players = MIN_df_2011['PLAYER'].to_list()

MIN_df_2012_players = MIN_df_2012['PLAYER'].to_list()
MIN_df_2013_players = MIN_df_2013['PLAYER'].to_list()
MIN_df_2014_players = MIN_df_2014['PLAYER'].to_list()
MIN_df_2015_players = MIN_df_2015['PLAYER'].to_list()
MIN_df_2016_players = MIN_df_2016['PLAYER'].to_list()
MIN_df_2017_players = MIN_df_2017['PLAYER'].to_list()

MIN_df_2018_players = MIN_df_2018['PLAYER'].to_list()
MIN_df_2019_players = MIN_df_2019['PLAYER'].to_list()
MIN_df_2020_players = MIN_df_2020['PLAYER'].to_list()
MIN_df_2021_players = MIN_df_2021['PLAYER'].to_list()

## players to drop

In [44]:

#MIN_df_2010_players.remove("Sasha Pavlović")
#MIN_df_2012_players.remove("J.J. Barea")
#MIN_df_2013_players.remove("J.J. Barea")
#MIN_df_2014_players.remove("J.J. Barea")
#MIN_df_2015_players.remove("Glenn Robinson")
#MIN_df_2015_players.remove("Mo Williams")
#MIN_df_2016_players.remove("Greg Smith")
MIN_df_2020_players.remove("D'Angelo Russell")
MIN_df_2021_players.remove("D'Angelo Russell")

In [9]:
MIN_2000_gamelog = []


for p in MIN_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2000_gamelog.append(player_log)
MIN_2000_gamelog = pd.concat(MIN_2000_gamelog)    
MIN_2000_gamelogs = MIN_2000_gamelog.copy()
MIN_2000_gamelogs['GAME_SCORE'] = MIN_2000_gamelogs['GAME_SCORE'].astype(float)
MIN_2000_games = MIN_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2000_games_csv = MIN_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2000_games.csv', index=False)
MIN_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2000_games.csv')
MIN_2000_games_proc.head()

You searched for "William Avery"
1 result found.
William Avery
Results for William Avery:

You searched for "Terrell Brandon"
1 result found.
Terrell Brandon
Results for Terrell Brandon:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Dean Garrett"
5 results found.
0: Dean Garrett
1: Diante Garrett
2: Dick Garrett
3: Ken Durrett
4: Kevin Garnett
Pick one: 0
Results for Dean Garrett:

You searched for "Tom Hammonds"
2 results found.
0: Tom Hammonds
1: Tom Hawkins
Pick one: 0
Results for Tom Hammonds:

You searched for "Bobby Jackson"
10 results found.
0: Bobby Jackson
1: Tony Jackson
2: Tony Jackson
3: Bobby Watson
4: Josh Jackson
5: Tracy Jackson
6: Bobby Wilson
7: Bobby Wilson
8: Bobby Jones
9: Bobby Jones
Pick one: 0
Results for Bobby Jackson:

You searched for "Sam Mitchell"
5 results found.
0: Sam Mitchell
1: Mike Mitchell
2: Todd Mitchell
3: Tony Mitchell
4: Tony Mitchell
Pick one: 0
Results for Sam Mitchell:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Andrae Patterson"
2 results found.
0: Andrae Patterson
1: George Patterson
Pick one: 0
Results for Andrae Patterson:

You searched for "Anthony Peeler"
8 results found.
0: Anthony Peeler
1: Anthony Miller
2: Anthony Parker
3: Anthony Bonner
4: Anthony Carter
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tucker
Pick one: 0
Results for Anthony Peeler:

You searched for "Malik Sealy"
5 results found.
0: Malik Sealy
1: Malik Beasley
2: Malik Fitts
3: Malik Allen
4: Malik Newman
Pick one: 0
Results for Malik Sealy:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-19,29-304,MIN,HOME,MIL,W (+27),1,36:21,11,13,...,3,13,4,0,1,2,28,35.9,40,Terrell Brandon
1,2000-01-17,23-243,MIN,HOME,IND,W (+1),1,42:50,16,26,...,13,7,0,2,2,2,37,34.2,6,Kevin Garnett
2,2000-03-24,23-310,MIN,AWAY,NJN,W (+1),1,45:22,15,24,...,8,4,2,6,3,5,38,33.6,-1,Kevin Garnett
3,1999-11-11,23-176,MIN,HOME,NYK,W (+3),1,45:43,13,26,...,14,4,2,2,3,0,35,30.6,7,Kevin Garnett
4,2000-01-11,23-237,MIN,HOME,MIA,L (-10),1,45:29,14,22,...,9,4,0,3,3,2,35,30.2,-10,Kevin Garnett

In [10]:
MIN_2001_gamelog = []


for p in MIN_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2001_gamelog.append(player_log)
MIN_2001_gamelog = pd.concat(MIN_2001_gamelog)    
MIN_2001_gamelogs = MIN_2001_gamelog.copy()
MIN_2001_gamelogs['GAME_SCORE'] = MIN_2001_gamelogs['GAME_SCORE'].astype(float)
MIN_2001_games = MIN_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2001_games_csv = MIN_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2001_games.csv', index=False)
MIN_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2001_games.csv')
MIN_2001_games_proc.head()

You searched for "William Avery"
1 result found.
William Avery
Results for William Avery:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Terrell Brandon"
1 result found.
Terrell Brandon
Results for Terrell Brandon:

You searched for "Todd Day"
5 results found.
0: Todd Day
1: Rudy Gay
2: Don May
3: Don Ray
4: Todd Mundt
Pick one: 0
Results for Todd Day:

You searched for "LaPhonso Ellis"
1 result found.
LaPhonso Ellis
Results for LaPhonso Ellis:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Dean Garrett"
5 results found.
0: Dean Garrett
1: Diante Garrett
2: Dick Garrett
3: Ken Durrett
4: Kevin Garnett
Pick one: 0
Results for Dean Garrett:

You searched for "Tom Hammonds"
2 results found.
0: Tom Hammonds
1: Tom Hawkins
Pick one: 0
Results for Tom Hammonds:

You searched for "Sam Jacobson"
3 results found.
0: Sam Jacobson
1: Al Jackson
2: Jim Jackson
Pick one: 0
Results for Sam Jacobson:

You searched for "Felipe López"
1 result found.
Felipe Lopez
Results for Felipe Lopez:

You searched for "Sam Mitchell"
5 results found.
0: Sam Mitchell
1: Mike Mitchell
2: Todd Mitchell
3: Tony Mitchell
4: Tony Mitchell
Pick one: 0
Results for Sam Mitchell:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Anthony Peeler"
8 results found.
0: Anthony Peeler
1: Anthony Miller
2: Anthony Parker
3: Anthony Bonner
4: Anthony Carter
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tucker
Pick one: 0
Results for Anthony Peeler:

You searched for "Reggie Slater"
8 results found.
0: Reggie Slater
1: Reggie Carter
2: Reggie Miller
3: Reggie Smith
4: Reggie Geary
5: Reggie Hearn
6: Reggie Lewis
7: Reggie Perry
Pick one: 0
Results for Reggie Slater:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-02-07,24-264,MIN,HOME,SAC,W (+29),1,33:58,17,22,...,7,6,1,2,2,4,40,36.9,32,Kevin Garnett
1,2001-02-23,30-279,MIN,HOME,GSW,W (+39),1,32:57,11,14,...,10,16,2,1,2,1,27,36.1,43,Terrell Brandon
2,2001-03-21,24-306,MIN,HOME,DAL,W (+12),1,41:20,14,17,...,15,6,0,5,2,4,28,31.5,25,Kevin Garnett
3,2001-03-06,24-291,MIN,AWAY,CHH,W (+6),1,42:57,10,14,...,13,8,2,3,0,1,22,31.0,5,Kevin Garnett
4,2001-03-25,30-309,MIN,HOME,NJN,W (+14),1,45:36,15,25,...,5,6,4,1,3,1,34,29.9,13,Terrell Brandon

In [11]:

MIN_2002_gamelog = []


for p in MIN_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2002_gamelog.append(player_log)
MIN_2002_gamelog = pd.concat(MIN_2002_gamelog)    
MIN_2002_gamelogs = MIN_2002_gamelog.copy()
MIN_2002_gamelogs['GAME_SCORE'] = MIN_2002_gamelogs['GAME_SCORE'].astype(float)
MIN_2002_games = MIN_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2002_games_csv = MIN_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2002_games.csv', index=False)
MIN_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2002_games.csv')
MIN_2002_games_proc.head()

You searched for "William Avery"
1 result found.
William Avery
Results for William Avery:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Terrell Brandon"
1 result found.
Terrell Brandon
Results for Terrell Brandon:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Dean Garrett"
5 results found.
0: Dean Garrett
1: Diante Garrett
2: Dick Garrett
3: Ken Durrett
4: Kevin Garnett
Pick one: 0
Results for Dean Garrett:

You searched for "Marc Jackson"
24 results found.
0: Marc Jackson
1: Mark Jackson
2: Aaron Jackson
3: Al Jackson
4: Jaren Jackson
5: Jaren Jackson
6: Mike Jackson
7: Myron Jackson
8: Marc Gasol
9: Cedric Jackson
10: Frank Jackson
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Macon
23: Marcus Banks
Pick one: 0
Results for Marc Jackson:

You searched for "Felipe López"
1 result found.
Felipe Lopez
Results for Felipe Lopez:

You searched for "Sam Mitchell"
5 results found.
0: Sam Mitchell
1: Mike Mitchell
2: Todd Mitchell
3: Tony Mitchell
4: Tony Mitchell
Pick one: 0
Results for Sam Mitchell:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Robert Pack"
6 results found.
0: Robert Pack
1: Robert Hahn
2: Robert Sacre
3: Robert Hite
4: Robert Parish
5: Robert Reid
Pick one: 0
Results for Robert Pack:

You searched for "Anthony Peeler"
8 results found.
0: Anthony Peeler
1: Anthony Miller
2: Anthony Parker
3: Anthony Bonner
4: Anthony Carter
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tucker
Pick one: 0
Results for Anthony Peeler:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Gary Trent"
14 results found.
0: Gary Trent
1: Gary Trent
2: Gary Grant
3: Gary Bergen
4: Gary Gray
5: Gary Gregor
6: Gary Neal
7: Gary Turner
8: Gary Clark
9: Larry Drew
10: Larry Drew
11: Gary Forbes
12: Gary Freeman
13: Gary Suiter
Pick one: 0
Results for Gary Trent:

You searched for "Loren Woods"
3 results found.
0: Loren Woods
1: Leon Wood
2: Tommy Woods
Pick one: 0
Results for Loren Woods:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-01-11,25-237,MIN,HOME,LAL,W (+18),1,39:46,11,21,...,9,8,4,3,0,3,32,35.3,26,Kevin Garnett
1,2001-12-14,25-209,MIN,HOME,SAC,W (+20),1,37:37,8,19,...,24,8,1,2,2,2,29,34.1,20,Kevin Garnett
2,2002-02-27,25-284,MIN,HOME,LAL,W (+11),1,39:38,14,25,...,15,9,2,2,1,2,33,33.9,15,Kevin Garnett
3,2002-04-06,25-322,MIN,HOME,PHO,W (+4),1,42:32,13,20,...,11,5,3,1,0,2,32,33.3,15,Kevin Garnett
4,2002-02-13,25-270,MIN,HOME,PHO,W (+15),1,41:01,11,20,...,13,6,2,2,3,3,33,32.3,20,Kevin Garnett

In [12]:

    
MIN_2003_gamelog = []



for p in MIN_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2003_gamelog.append(player_log)
MIN_2003_gamelog = pd.concat(MIN_2003_gamelog)    
MIN_2003_gamelogs = MIN_2003_gamelog.copy()
MIN_2003_gamelogs['GAME_SCORE'] = MIN_2003_gamelogs['GAME_SCORE'].astype(float)
MIN_2003_games = MIN_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2003_games_csv = MIN_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2003_games.csv', index=False)
MIN_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2003_games.csv')
MIN_2003_games_proc.head()

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Kendall Gill"
2 results found.
0: Kendall Gill
1: Kendall Rhine
Pick one: 0
Results for Kendall Gill:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Marc Jackson"
24 results found.
0: Marc Jackson
1: Mark Jackson
2: Aaron Jackson
3: Al Jackson
4: Jaren Jackson
5: Jaren Jackson
6: Mike Jackson
7: Myron Jackson
8: Marc Gasol
9: Cedric Jackson
10: Frank Jackson
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Macon
23: Marcus Banks
Pick one: 0
Results for Marc Jackson:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Anthony Peeler"
8 results found.
0: Anthony Peeler
1: Anthony Miller
2: Anthony Parker
3: Anthony Bonner
4: Anthony Carter
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tucker
Pick one: 0
Results for Anthony Peeler:

You searched for "Igor Rakočević"
1 result found.
Igor Rakocevic
Results for Igor Rakocevic:

You searched for "Reggie Slater"
8 results found.
0: Reggie Slater
1: Reggie Carter
2: Reggie Miller
3: Reggie Smith
4: Reggie Geary
5: Reggie Hearn
6: Reggie Lewis
7: Reggie Perry
Pick one: 0
Results for Reggie Slater:

You searched for "Joe Smith"
41 results found.
0: Joe Smith
1: Joe Smyth
2: Don Smith
3: Don Smith
4: Jim Smith
5: John Smith
6: Josh Smith
7: Jalen Smith
8: Al Smith
9: Deb Smith
10: Doug Smith
11: Ed Smith
12: Greg Smith
13: Greg Smith
14: Ish Smith
15: J.R. Smith
16: Jason Smith
17: Ken Smith
18: Leon Smith
19: Mike Smith
20: Pete Smith
21: Sam Smith
22: Sam Smith
23: Tony Smith
24: Tom Stith
25: Bill Smith
26: Bobby Smith
27: Derek Smith
28: Donta Smith
29: Elmore Smith
30: Jerry Smith
31: Nolan Smith
32: Otis Smith
33: Phil Smith
34: Robert Smith
35: Russ Smith
36: Steve Smith
37: Rik Smits
38: Sam Stith
39: Joe Ellis
40: Joe Fulks
Pick one: 0
Results for Joe Smith:

You searched for "Rod Strickland"
4 results found.
0: Rod Strickland
1: Roger Strickland
2: Erick Strickland
3: Mark Strickland
Pick one: 0
Results for Rod Strickland:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Gary Trent"
14 results found.
0: Gary Trent
1: Gary Trent
2: Gary Grant
3: Gary Bergen
4: Gary Gray
5: Gary Gregor
6: Gary Neal
7: Gary Turner
8: Gary Clark
9: Larry Drew
10: Larry Drew
11: Gary Forbes
12: Gary Freeman
13: Gary Suiter
Pick one: 0
Results for Gary Trent:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

You searched for "Loren Woods"
3 results found.
0: Loren Woods
1: Leon Wood
2: Tommy Woods
Pick one: 0
Results for Loren Woods:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-02-16,26-273,MIN,HOME,GSW,W (+7),1,41:12,17,27,...,22,6,1,5,2,2,37,41.0,6,Kevin Garnett
1,2003-01-27,26-253,MIN,HOME,SAS,W (+11),1,35:48,14,19,...,10,8,2,1,2,3,34,34.8,11,Kevin Garnett
2,2002-11-19,26-184,MIN,HOME,MEM,W (+4),1,46:48,11,20,...,22,6,1,1,1,4,34,34.7,14,Kevin Garnett
3,2003-04-13,26-039,MIN,HOME,CHI,W (+24),1,36:41,19,26,...,3,1,1,0,2,2,44,33.2,32,Wally Szczerbiak
4,2002-11-07,26-172,MIN,HOME,MIL,W (+4),1,37:42,9,17,...,24,6,1,1,1,1,28,33.0,9,Kevin Garnett

In [13]:


MIN_2004_gamelog = []



for p in MIN_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2004_gamelog.append(player_log)
MIN_2004_gamelog = pd.concat(MIN_2004_gamelog)    
MIN_2004_gamelogs = MIN_2004_gamelog.copy()
MIN_2004_gamelogs['GAME_SCORE'] = MIN_2004_gamelogs['GAME_SCORE'].astype(float)
MIN_2004_games = MIN_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2004_games_csv = MIN_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2004_games.csv', index=False)
MIN_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2004_games.csv')
MIN_2004_games_proc.head()

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Ndudi Ebi"
1 result found.
Ndudi Ebi
Results for Ndudi Ebi:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Quincy Lewis"
2 results found.
0: Quincy Lewis
1: Quincy Miller
Pick one: 0
Results for Quincy Lewis:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Darrick Martin"
5 results found.
0: Darrick Martin
1: Maurice Martin
2: Derrick Gervin
3: Cartier Martin
4: Derrick Walton
Pick one: 0
Results for Darrick Martin:

You searched for "Keith McLeod"
4 results found.
0: Keith McLeod
1: Keith McCord
2: Keith Closs
3: Keith Lee
Pick one: 0
Results for Keith McLeod:

You searched for "Oliver Miller"
3 results found.
0: Oliver Miller
1: Mike Miller
2: Oliver Taylor
Pick one: 0
Results for Oliver Miller:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Gary Trent"
14 results found.
0: Gary Trent
1: Gary Trent
2: Gary Grant
3: Gary Bergen
4: Gary Gray
5: Gary Gregor
6: Gary Neal
7: Gary Turner
8: Gary Clark
9: Larry Drew
10: Larry Drew
11: Gary Forbes
12: Gary Freeman
13: Gary Suiter
Pick one: 0
Results for Gary Trent:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-11-22,27-187,MIN,HOME,LAC,W (+12),1,36:56,14,19,...,19,5,3,2,1,2,30,35.3,13,Kevin Garnett
1,2003-12-18,27-213,MIN,HOME,DAL,W (+5),1,41:50,13,26,...,10,10,2,2,2,3,35,32.6,3,Kevin Garnett
2,2003-12-20,27-215,MIN,HOME,IND,W (+22),1,36:23,11,18,...,9,6,3,7,1,2,28,32.4,25,Kevin Garnett
3,2004-04-09,27-326,MIN,AWAY,GSW,W (+18),1,36:02,12,15,...,15,4,3,2,2,4,29,32.2,18,Kevin Garnett
4,2004-02-10,27-267,MIN,HOME,LAC,W (+12),1,38:19,15,21,...,16,3,2,4,2,2,31,32.0,17,Kevin Garnett

In [14]:


MIN_2005_gamelog = []

for p in MIN_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2005_gamelog.append(player_log)
MIN_2005_gamelog = pd.concat(MIN_2005_gamelog)    
MIN_2005_gamelogs = MIN_2005_gamelog.copy()
MIN_2005_gamelogs['GAME_SCORE'] = MIN_2005_gamelogs['GAME_SCORE'].astype(float)
MIN_2005_games = MIN_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2005_games_csv = MIN_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2005_games.csv', index=False)
MIN_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2005_games.csv')
MIN_2005_games_proc.head()

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Ndudi Ebi"
1 result found.
Ndudi Ebi
Results for Ndudi Ebi:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Eddie Griffin"
3 results found.
0: Eddie Griffin
1: Adrian Griffin
2: Blake Griffin
Pick one: 0
Results for Eddie Griffin:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Fred Hoiberg"
3 results found.
0: Fred Hoiberg
1: Fred Foster
2: Fred Roberts
Pick one: 0
Results for Fred Hoiberg:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Ervin Johnson"
28 results found.
0: Ervin Johnson
1: Eric Johnson
2: Kevin Johnson
3: Armon Johnson
4: Arnie Johnson
5: Eddie Johnson
6: Eddie Johnson
7: Ivan Johnson
8: Ron Johnson
9: Mervin Jackson
10: Amir Johnson
11: Brice Johnson
12: Chris Johnson
13: Chris Johnson
14: Dave Johnson
15: Dennis Johnson
16: Ed Johnson
17: Frank Johnson
18: John Johnson
19: Keldon Johnson
20: Ken Johnson
21: Ken Johnson
22: Magic Johnson
23: Neil Johnson
24: Ollie Johnson
25: Reggie Johnson
26: Rich Johnson
27: Trey Johnson
Pick one: 0
Results for Ervin Johnson:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "John Thomas"
21 results found.
0: John Thomas
1: Joe Thomas
2: Etan Thomas
3: Jim Thomas
4: John Thompson
5: John Logan
6: John Lucas
7: John Shumate
8: Carl Thomas
9: Jamel Thomas
10: James Thomas
11: Kenny Thomas
12: Kurt Thomas
13: Matt Thomas
14: Tim Thomas
15: John Hazen
16: John Oldham
17: John Stroud
18: John Trapp
19: John Tschogl
20: Johan Petro
Pick one: 0
Results for John Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-01-04,28-230,MIN,HOME,PHO,L (-7),1,41:11,19,28,...,17,4,2,0,3,2,47,41.5,1,Kevin Garnett
1,2004-12-10,28-205,MIN,HOME,SAC,W (+8),1,43:53,11,22,...,18,9,4,1,3,1,35,39.4,5,Kevin Garnett
2,2005-04-09,28-325,MIN,AWAY,ATL,L (-7),1,37:34,8,14,...,12,7,1,1,2,1,31,33.8,13,Kevin Garnett
3,2005-03-20,28-305,MIN,HOME,HOU,W (+8),1,37:49,9,19,...,17,6,1,3,1,2,30,32.5,9,Kevin Garnett
4,2005-03-18,28-303,MIN,AWAY,MEM,L (-5),1,39:34,12,17,...,19,6,0,2,1,4,30,32.4,3,Kevin Garnett

In [15]:

MIN_2006_gamelog = []

for p in MIN_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2006_gamelog.append(player_log)
MIN_2006_gamelog = pd.concat(MIN_2006_gamelog)    
MIN_2006_gamelogs = MIN_2006_gamelog.copy()
MIN_2006_gamelogs['GAME_SCORE'] = MIN_2006_gamelogs['GAME_SCORE'].astype(float)
MIN_2006_games = MIN_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2006_games_csv = MIN_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2006_games.csv', index=False)
MIN_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2006_games.csv')
MIN_2006_games_proc.head()

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Ronald Dupree"
2 results found.
0: Ronald Dupree
1: Ronald Murray
Pick one: 0
Results for Ronald Dupree:

You searched for "Richie Frahm"
2 results found.
0: Richie Frahm
1: Richie Regan
Pick one: 0
Results for Richie Frahm:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Eddie Griffin"
3 results found.
0: Eddie Griffin
1: Adrian Griffin
2: Blake Griffin
Pick one: 0
Results for Eddie Griffin:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Rashad McCants"
1 result found.
Rashad McCants
Results for Rashad McCants:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Justin Reed"
5 results found.
0: Justin Reed
1: Justin Harper
2: Justin James
3: Austin Carr
4: Austin Daye
Pick one: 0
Results for Justin Reed:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Nikoloz Tskitishvili"
1 result found.
Nikoloz Tskitishvili
Results for Nikoloz Tskitishvili:

You searched for "Bracey Wright"
4 results found.
0: Bracey Wright
1: Brad Wright
2: Brandan Wright
3: Larry Wright
Pick one: 0
Results for Bracey Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-03-29,29-314,MIN,HOME,ORL,W (+12),1,41:02,11,17,...,19,6,3,2,2,2,27,33.0,15,Kevin Garnett
1,2006-03-19,29-304,MIN,HOME,SAC,W (+6),1,38:40,11,18,...,10,1,4,2,4,2,37,32.7,10,Kevin Garnett
2,2005-12-30,29-225,MIN,AWAY,ORL,L (-20),1,43:27,11,15,...,11,4,3,3,3,3,29,30.7,-14,Kevin Garnett
3,2006-01-13,29-239,MIN,HOME,DEN,W (+14),1,39:36,14,17,...,15,6,0,0,3,1,31,30.0,14,Kevin Garnett
4,2006-01-25,29-251,MIN,AWAY,MEM,L (-20),1,41:04,9,15,...,9,2,3,1,0,3,29,29.9,-18,Kevin Garnett

In [16]:


MIN_2007_gamelog = []

for p in MIN_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2007_gamelog.append(player_log)
MIN_2007_gamelog = pd.concat(MIN_2007_gamelog)    
MIN_2007_gamelogs = MIN_2007_gamelog.copy()
MIN_2007_gamelogs['GAME_SCORE'] = MIN_2007_gamelogs['GAME_SCORE'].astype(float)
MIN_2007_games = MIN_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2007_games_csv = MIN_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2007_games.csv', index=False)
MIN_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2007_games.csv')
MIN_2007_games_proc.head()

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Eddie Griffin"
3 results found.
0: Eddie Griffin
1: Adrian Griffin
2: Blake Griffin
Pick one: 0
Results for Eddie Griffin:

You searched for "Trenton Hassell"
1 result found.
Trenton Hassell
Results for Trenton Hassell:

You searched for "Troy Hudson"
3 results found.
0: Troy Hudson
1: Roy Hinson
2: Lou Hudson
Pick one: 0
Results for Troy Hudson:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Rashad McCants"
1 result found.
Rashad McCants
Results for Rashad McCants:

You searched for "Justin Reed"
5 results found.
0: Justin Reed
1: Justin Harper
2: Justin James
3: Austin Carr
4: Austin Daye
Pick one: 0
Results for Justin Reed:

You searched for "Craig Smith"
19 results found.
0: Craig Smith
1: Chris Smith
2: Chris Smith
3: Greg Smith
4: Greg Smith
5: Craig Dill
6: Al Smith
7: Doug Smith
8: Jim Smith
9: Otis Smith
10: Phil Smith
11: Randy Smith
12: Russ Smith
13: Sam Smith
14: Sam Smith
15: Zhaire Smith
16: Rik Smits
17: Craig Spitzer
18: Craig Ehlo
Pick one: 0
Results for Craig Smith:

You searched for "Bracey Wright"
4 results found.
0: Bracey Wright
1: Brad Wright
2: Brandan Wright
3: Larry Wright
Pick one: 0
Results for Bracey Wright:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-01-29,30-255,MIN,HOME,PHO,W (+9),1,39:32,18,29,...,11,2,3,0,0,2,44,38.6,7,Kevin Garnett
1,2007-03-04,30-289,MIN,AWAY,BOS,L (-7),1,50:44,14,28,...,13,10,2,3,1,1,33,33.4,-4,Kevin Garnett
2,2007-01-27,30-253,MIN,AWAY,LAC,W (+14),1,36:43,10,19,...,9,3,7,0,2,5,32,31.3,21,Kevin Garnett
3,2007-04-15,27-204,MIN,AWAY,GSW,L (-13),1,44:56,14,29,...,6,5,2,1,4,1,42,30.9,-8,Ricky Davis
4,2007-03-04,27-162,MIN,AWAY,BOS,L (-7),1,53:27,12,20,...,4,9,1,0,2,5,35,30.3,-9,Ricky Davis

In [17]:


MIN_2008_gamelog = []

for p in MIN_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2008_gamelog.append(player_log)
MIN_2008_gamelog = pd.concat(MIN_2008_gamelog)    
MIN_2008_gamelogs = MIN_2008_gamelog.copy()
MIN_2008_gamelogs['GAME_SCORE'] = MIN_2008_gamelogs['GAME_SCORE'].astype(float)
MIN_2008_games = MIN_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2008_games_csv = MIN_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2008_games.csv', index=False)
MIN_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2008_games.csv')
MIN_2008_games_proc.head()

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Greg Buckner"
4 results found.
0: Greg Buckner
1: Greg Butler
2: Greg Bunch
3: Greg Jackson
Pick one: 0
Results for Greg Buckner:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Marko Jarić"
10 results found.
0: Marko Jaric
1: Marko Milic
2: Dario Saric
3: Mark Alarie
4: Mark Davis
5: Mark Davis
6: Marko Guduric
7: Mark Price
8: Mark Acres
9: Mark Macon
Pick one: 0
Results for Marko Jaric:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Rashad McCants"
1 result found.
Rashad McCants
Results for Rashad McCants:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Chris Richard"
5 results found.
0: Chris Richard
1: Chris Carr
2: Chris Boucher
3: Chris Childs
4: Chris Harris
Pick one: 0
Results for Chris Richard:

You searched for "Craig Smith"
19 results found.
0: Craig Smith
1: Chris Smith
2: Chris Smith
3: Greg Smith
4: Greg Smith
5: Craig Dill
6: Al Smith
7: Doug Smith
8: Jim Smith
9: Otis Smith
10: Phil Smith
11: Randy Smith
12: Russ Smith
13: Sam Smith
14: Sam Smith
15: Zhaire Smith
16: Rik Smits
17: Craig Spitzer
18: Craig Ehlo
Pick one: 0
Results for Craig Smith:

You searched for "Kirk Snyder"
4 results found.
0: Kirk Snyder
1: Dick Snyder
2: Kirk Penney
3: Kirk Haston
Pick one: 0
Results for Kirk Snyder:

You searched for "Sebastian Telfair"
1 result found.
Sebastian Telfair
Results for Sebastian Telfair:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-01-27,23-023,MIN,HOME,NJN,W (+3),1,42:07,13,21,...,19,3,1,2,1,2,40,40.9,7,Al Jefferson
1,2008-01-23,23-019,MIN,HOME,PHO,W (+10),1,35:18,15,29,...,15,1,2,0,1,2,39,31.3,-4,Al Jefferson
2,2008-04-08,23-095,MIN,AWAY,CHA,L (-2),1,36:46,18,25,...,10,1,0,1,4,3,40,30.5,-4,Al Jefferson
3,2008-01-21,25-142,MIN,AWAY,GSW,W (+1),1,41:11,11,15,...,11,3,0,0,3,3,35,29.7,3,Ryan Gomes
4,2007-12-11,24-031,MIN,AWAY,WAS,L (-14),1,38:03,14,22,...,8,0,0,1,0,2,36,29.7,-6,Craig Smith

In [18]:


MIN_2009_gamelog = []

for p in MIN_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2009_gamelog.append(player_log)
MIN_2009_gamelog = pd.concat(MIN_2009_gamelog)    
MIN_2009_gamelogs = MIN_2009_gamelog.copy()
MIN_2009_gamelogs['GAME_SCORE'] = MIN_2009_gamelogs['GAME_SCORE'].astype(float)
MIN_2009_games = MIN_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2009_games_csv = MIN_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2009_games.csv', index=False)
MIN_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2009_games.csv')
MIN_2009_games_proc.head()

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Bobby Brown"
14 results found.
0: Bobby Brown
1: Bob Brown
2: Tony Brown
3: Bobby Croft
4: Bruce Brown
5: John Brown
6: Larry Brown
7: Moses Brown
8: Randy Brown
9: Roger Brown
10: Roger Brown
11: Troy Brown
12: Bobby Cook
13: Bobby Lloyd
Pick one: 0
Results for Bobby Brown:

You searched for "Brian Cardinal"
2 results found.
0: Brian Cardinal
1: Brian Martin
Pick one: 0
Results for Brian Cardinal:

You searched for "Rodney Carney"
3 results found.
0: Rodney Carney
1: Rodney McCray
2: Rodney Monroe
Pick one: 0
Results for Rodney Carney:

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Mark Madsen"
10 results found.
0: Mark Madsen
1: Mark Macon
2: Mark Wade
3: Mark Acres
4: Mark Eaton
5: Lars Hansen
6: Mark Jackson
7: Mark Alarie
8: Mark Bradtke
9: Mark Minor
Pick one: 0
Results for Mark Madsen:

You searched for "Rashad McCants"
1 result found.
Rashad McCants
Results for Rashad McCants:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Kevin Ollie"
8 results found.
0: Kevin Ollie
1: Kevin Love
2: Kevin Willis
3: Kevin Joyce
4: Kevin Loder
5: Kevin O'Shea
6: Kevin Jones
7: Kelvin Cato
Pick one: 0
Results for Kevin Ollie:

You searched for "Craig Smith"
19 results found.
0: Craig Smith
1: Chris Smith
2: Chris Smith
3: Greg Smith
4: Greg Smith
5: Craig Dill
6: Al Smith
7: Doug Smith
8: Jim Smith
9: Otis Smith
10: Phil Smith
11: Randy Smith
12: Russ Smith
13: Sam Smith
14: Sam Smith
15: Zhaire Smith
16: Rik Smits
17: Craig Spitzer
18: Craig Ehlo
Pick one: 0
Results for Craig Smith:

You searched for "Sebastian Telfair"
1 result found.
Sebastian Telfair
Results for Sebastian Telfair:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-02-07,24-034,MIN,AWAY,HOU,L (-17),1,38:11,16,30,...,22,4,4,2,2,3,36,35.0,-7,Al Jefferson
1,2009-01-07,25-105,MIN,HOME,OKC,W (+42),1,29:29,10,16,...,3,6,2,1,1,3,32,30.4,28,Randy Foye
2,2009-02-01,24-028,MIN,AWAY,BOS,L (-8),1,41:19,15,21,...,11,1,0,4,1,4,34,30.3,-9,Al Jefferson
3,2008-12-29,23-360,MIN,HOME,MEM,W (+10),1,46:55,16,25,...,16,1,0,0,3,2,38,28.6,11,Al Jefferson
4,2008-11-23,25-060,MIN,AWAY,DET,W (+26),1,37:17,9,12,...,1,14,2,1,2,3,23,27.8,25,Randy Foye

In [21]:
# removed sasha pavlovic

MIN_2010_gamelog = []

for p in MIN_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2010_gamelog.append(player_log)
MIN_2010_gamelog = pd.concat(MIN_2010_gamelog)    
MIN_2010_gamelogs = MIN_2010_gamelog.copy()
MIN_2010_gamelogs['GAME_SCORE'] = MIN_2010_gamelogs['GAME_SCORE'].astype(float)
MIN_2010_games = MIN_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2010_games_csv = MIN_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2010_games.csv', index=False)
MIN_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2010_games.csv')
MIN_2010_games_proc.head()

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Brian Cardinal"
2 results found.
0: Brian Cardinal
1: Brian Martin
Pick one: 0
Results for Brian Cardinal:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Jonny Flynn"
4 results found.
0: Jonny Flynn
1: Danny Finn
2: Lonnie Lynn
3: Johnny Egan
Pick one: 0
Results for Jonny Flynn:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "Nathan Jawai"
1 result found.
Nathan Jawai
Results for Nathan Jawai:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Darko Miličić"
2 results found.
0: Darko Milicic
1: Marko Milic
Pick one: 0
Results for Darko Milicic:

You searched for "Oleksiy Pecherov"
1 result found.
Oleksiy Pecherov
Results for Oleksiy Pecherov:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Alando Tucker"
2 results found.
0: Alando Tucker
1: Al Tucker
Pick one: 0
Results for Alando Tucker:

You searched for "Damien Wilkins"
1 result found.
Damien Wilkins
Results for Damien Wilkins:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-03-08,25-063,MIN,HOME,DAL,L (-13),1,37:32,15,22,...,14,2,0,2,1,2,36,33.4,-10,Al Jefferson
1,2010-01-18,20-346,MIN,HOME,PHI,W (+5),1,43:17,9,16,...,4,9,2,0,3,2,29,26.7,12,Jonny Flynn
2,2009-11-01,27-061,MIN,AWAY,PHO,L (-8),1,36:43,10,13,...,15,4,2,0,1,2,23,26.2,9,Ryan Gomes
3,2010-01-20,23-321,MIN,HOME,OKC,L (-2),1,41:20,10,17,...,5,6,5,1,3,1,25,25.1,1,Corey Brewer
4,2010-01-06,21-121,MIN,HOME,GSW,L (-6),1,34:29,6,13,...,15,6,1,1,4,2,23,24.3,3,Kevin Love

In [22]:

MIN_2011_gamelog = []

for p in MIN_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2011_gamelog.append(player_log)
MIN_2011_gamelog = pd.concat(MIN_2011_gamelog)    
MIN_2011_gamelogs = MIN_2011_gamelog.copy()
MIN_2011_gamelogs['GAME_SCORE'] = MIN_2011_gamelogs['GAME_SCORE'].astype(float)
MIN_2011_games = MIN_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2011_games_csv = MIN_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2011_games.csv', index=False)
MIN_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2011_games.csv')
MIN_2011_games_proc.head()

You searched for "Maurice Ager"
8 results found.
0: Maurice Ager
1: Maurice Baker
2: Maurice Carter
3: Maurice King
4: Maurice Ndour
5: Maurice Taylor
6: Maurice Evans
7: Maurice Lucas
Pick one: 0
Results for Maurice Ager:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Jonny Flynn"
4 results found.
0: Jonny Flynn
1: Danny Finn
2: Lonnie Lynn
3: Johnny Egan
Pick one: 0
Results for Jonny Flynn:

You searched for "Sundiata Gaines"
1 result found.
Sundiata Gaines
Results for Sundiata Gaines:

You searched for "Lazar Hayward"
1 result found.
Lazar Hayward
Results for Lazar Hayward:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Darko Miličić"
2 results found.
0: Darko Milicic
1: Marko Milic
Pick one: 0
Results for Darko Milicic:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "Anthony Randolph"
1 result found.
Anthony Randolph
Results for Anthony Randolph:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "Sebastian Telfair"
1 result found.
Sebastian Telfair
Results for Sebastian Telfair:

You searched for "Anthony Tolliver"
3 results found.
0: Anthony Tolliver
1: Anthony Miller
2: Anthony Goldwire
Pick one: 0
Results for Anthony Tolliver:

You searched for "Martell Webster"
2 results found.
0: Martell Webster
1: Marvin Webster
Pick one: 0
Results for Martell Webster:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-12-18,22-102,MIN,AWAY,DEN,L (-2),1,43:09,14,23,...,17,3,0,0,2,2,43,38.9,1,Kevin Love
1,2011-02-27,22-173,MIN,HOME,GSW,W (+3),1,41:10,8,13,...,23,1,2,0,3,3,37,37.3,18,Kevin Love
2,2011-01-13,22-128,MIN,HOME,WAS,W (+12),1,40:50,13,18,...,11,4,0,0,1,1,35,34.3,21,Kevin Love
3,2011-01-05,22-120,MIN,HOME,CHA,L (-3),1,44:45,11,16,...,15,5,0,0,2,3,35,34.2,4,Kevin Love
4,2010-12-06,22-090,MIN,AWAY,NYK,L (-7),1,41:43,10,18,...,15,3,1,0,0,1,33,32.8,7,Kevin Love

In [26]:
# remvoed j.j. barea

MIN_2012_gamelog = []

for p in MIN_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2012_gamelog.append(player_log)
MIN_2012_gamelog = pd.concat(MIN_2012_gamelog)    
MIN_2012_gamelogs = MIN_2012_gamelog.copy()
MIN_2012_gamelogs['GAME_SCORE'] = MIN_2012_gamelogs['GAME_SCORE'].astype(float)
MIN_2012_games = MIN_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2012_games_csv = MIN_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2012_games.csv', index=False)
MIN_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2012_games.csv')
MIN_2012_games_proc.head()

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "Malcolm Lee"
2 results found.
0: Malcolm Lee
1: Malcolm Miller
Pick one: 0
Results for Malcolm Lee:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Darko Miličić"
2 results found.
0: Darko Milicic
1: Marko Milic
Pick one: 0
Results for Darko Milicic:

You searched for "Brad Miller"
12 results found.
0: Brad Miller
1: Bill Miller
2: Bob Miller
3: Jay Miller
4: Brad Sellers
5: Grant Riller
6: Dick Miller
7: Harry Miller
8: Larry Miller
9: Mike Miller
10: Walt Miller
11: Brady Walker
Pick one: 0
Results for Brad Miller:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "Anthony Randolph"
1 result found.
Anthony Randolph
Results for Anthony Randolph:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Anthony Tolliver"
3 results found.
0: Anthony Tolliver
1: Anthony Miller
2: Anthony Goldwire
Pick one: 0
Results for Anthony Tolliver:

You searched for "Martell Webster"
2 results found.
0: Martell Webster
1: Marvin Webster
Pick one: 0
Results for Martell Webster:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-03-23,23-198,MIN,AWAY,OKC,L (-9),1,49:19,16,27,...,14,0,1,1,4,3,51,40.0,4,Kevin Love
1,2012-03-25,23-200,MIN,HOME,DEN,W (+17),1,44:08,11,19,...,21,4,2,3,0,2,30,36.3,25,Kevin Love
2,2012-03-03,23-178,MIN,AWAY,POR,W (+12),1,43:17,15,27,...,10,4,1,0,0,2,42,36.3,18,Kevin Love
3,2012-03-28,23-203,MIN,AWAY,CHA,W (+5),1,43:08,14,31,...,19,4,0,0,2,0,40,32.0,5,Kevin Love
4,2012-03-05,23-180,MIN,HOME,LAC,W (+1),1,42:47,13,25,...,17,2,0,0,2,4,39,31.2,8,Kevin Love

In [28]:
# removed jj barea
MIN_2013_gamelog = []

for p in MIN_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2013_gamelog.append(player_log)
MIN_2013_gamelog = pd.concat(MIN_2013_gamelog)    
MIN_2013_gamelogs = MIN_2013_gamelog.copy()
MIN_2013_gamelogs['GAME_SCORE'] = MIN_2013_gamelogs['GAME_SCORE'].astype(float)
MIN_2013_games = MIN_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2013_games_csv = MIN_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2013_games.csv', index=False)
MIN_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2013_games.csv')
MIN_2013_games_proc.head()

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Chase Budinger"
1 result found.
Chase Budinger
Results for Chase Budinger:

You searched for "Will Conroy"
6 results found.
0: Will Conroy
1: Will Cherry
2: Bill Crow
3: Bill Henry
4: Will Barton
5: Willie Long
Pick one: 0
Results for Will Conroy:

You searched for "Dante Cunningham"
3 results found.
0: Dante Cunningham
1: Dick Cunningham
2: Jared Cunningham
Pick one: 0
Results for Dante Cunningham:

You searched for "Mickaël Gelabale"
1 result found.
Mickael Gelabale
Results for Mickael Gelabale:

You searched for "Lazar Hayward"
1 result found.
Lazar Hayward
Results for Lazar Hayward:

You searched for "Josh Howard"
8 results found.
0: Josh Howard
1: Josh Hart
2: Mo Howard
3: Josh Hall
4: Greg Howard
5: Juwan Howard
6: Otis Howard
7: Josh Powell
Pick one: 0
Results for Josh Howard:

You searched for "Chris Johnson"
27 results found.
0: Chris Johnson
1: Chris Johnson
2: Charles Johnson
3: Cheese Johnson
4: Eric Johnson
5: Chris Robinson
6: Chris Duhon
7: Amir Johnson
8: Arnie Johnson
9: Brice Johnson
10: Clay Johnson
11: Dennis Johnson
12: Eddie Johnson
13: Eddie Johnson
14: Ervin Johnson
15: Gus Johnson
16: James Johnson
17: Kevin Johnson
18: Larry Johnson
19: Larry Johnson
20: Magic Johnson
21: Neil Johnson
22: Ollie Johnson
23: Omari Johnson
24: Rich Johnson
25: Ron Johnson
26: Trey Johnson
Pick one: 0
Results for Chris Johnson:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Malcolm Lee"
2 results found.
0: Malcolm Lee
1: Malcolm Miller
Pick one: 0
Results for Malcolm Lee:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "Luke Ridnour"
1 result found.
Luke Ridnour
Results for Luke Ridnour:

You searched for "Brandon Roy"
5 results found.
0: Brandon Roy
1: Brandon Rush
2: Brandon Bass
3: Brandon Paul
4: Randy Foye
Pick one: 0
Results for Brandon Roy:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Alexey Shved"
1 result found.
Alexey Shved
Results for Alexey Shved:

You searched for "Greg Stiemsma"
1 result found.
Greg Stiemsma
Results for Greg Stiemsma:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-22,25-106,MIN,AWAY,LAC,L (-4),1,43:23,15,23,...,19,6,1,0,4,3,45,41.0,-3,Kevin Love
1,2014-02-01,25-147,MIN,AWAY,ATL,L (-7),1,38:00,12,22,...,19,1,1,0,3,0,43,38.8,-9,Kevin Love
2,2014-02-22,25-168,MIN,AWAY,UTA,W (+17),1,32:35,11,20,...,12,10,1,0,1,3,37,37.6,23,Kevin Love
3,2013-12-13,25-097,MIN,AWAY,SAS,L (-7),1,38:32,15,27,...,14,2,1,0,1,0,42,36.3,5,Kevin Love
4,2014-02-19,25-165,MIN,HOME,IND,W (+13),1,37:22,14,22,...,16,1,1,0,3,2,42,34.9,14,Kevin Love

In [29]:
MIN_2014_gamelog = []

for p in MIN_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2014_gamelog.append(player_log)
MIN_2014_gamelog = pd.concat(MIN_2014_gamelog)    
MIN_2014_gamelogs = MIN_2014_gamelog.copy()
MIN_2014_gamelogs['GAME_SCORE'] = MIN_2014_gamelogs['GAME_SCORE'].astype(float)
MIN_2014_games = MIN_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2014_games_csv = MIN_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2014_games.csv', index=False)
MIN_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2014_games.csv')
MIN_2014_games_proc.head()

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Chase Budinger"
1 result found.
Chase Budinger
Results for Chase Budinger:

You searched for "Dante Cunningham"
3 results found.
0: Dante Cunningham
1: Dick Cunningham
2: Jared Cunningham
Pick one: 0
Results for Dante Cunningham:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Robbie Hummel"
1 result found.
Robbie Hummel
Results for Robbie Hummel:

You searched for "Othyus Jeffers"
1 result found.
Othyus Jeffers
Results for Othyus Jeffers:

You searched for "Kevin Love"
15 results found.
0: Kevin Love
1: Kevin Loder
2: Kevin Jones
3: Kevin Joyce
4: Kevin Ollie
5: Kevin Grevey
6: Kevin Hervey
7: Kevin Knox
8: Kevon Looney
9: Stan Love
10: Kevin Lynch
11: Kevin Porter
12: Kevin Porter
13: Kelvin Cato
14: Melvin Ely
Pick one: 0
Results for Kevin Love:

You searched for "Kevin Martin"
15 results found.
0: Kevin Martin
1: Kelan Martin
2: Kenyon Martin
3: Devin Harris
4: Brian Martin
5: Dino Martin
6: Don Martin
7: Jeff Martin
8: Phil Martin
9: Kevin Murphy
10: Kevin Porter
11: Kevin Porter
12: Kevin Durant
13: Kevin Garnett
14: Kevin McHale
Pick one: 0
Results for Kevin Martin:

You searched for "Luc Mbah a Moute"
1 result found.
Luc Mbah a Moute
Results for Luc Mbah a Moute:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Alexey Shved"
1 result found.
Alexey Shved
Results for Alexey Shved:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-12-22,25-106,MIN,AWAY,LAC,L (-4),1,43:23,15,23,...,19,6,1,0,4,3,45,41.0,-3,Kevin Love
1,2014-04-11,28-037,MIN,HOME,HOU,W (+2),1,44:53,19,30,...,2,1,6,1,2,4,51,40.8,5,Corey Brewer
2,2014-02-01,25-147,MIN,AWAY,ATL,L (-7),1,38:00,12,22,...,19,1,1,0,3,0,43,38.8,-9,Kevin Love
3,2014-02-22,25-168,MIN,AWAY,UTA,W (+17),1,32:35,11,20,...,12,10,1,0,1,3,37,37.6,23,Kevin Love
4,2013-12-13,25-097,MIN,AWAY,SAS,L (-7),1,38:32,15,27,...,14,2,1,0,1,0,42,36.3,5,Kevin Love

In [35]:
# removed glenn robinson
# removed mo williams

MIN_2015_gamelog = []

for p in MIN_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2015_gamelog.append(player_log)
MIN_2015_gamelog = pd.concat(MIN_2015_gamelog)    
MIN_2015_gamelogs = MIN_2015_gamelog.copy()
MIN_2015_gamelogs['GAME_SCORE'] = MIN_2015_gamelogs['GAME_SCORE'].astype(float)
MIN_2015_games = MIN_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2015_games_csv = MIN_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2015_games.csv', index=False)
MIN_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2015_games.csv')
MIN_2015_games_proc.head()

You searched for "Jeff Adrien"
10 results found.
0: Jeff Adrien
1: Jeff Ayres
2: Jeff Green
3: Jeff Martin
4: Jeff Turner
5: Jeff Grayer
6: Jeff Malone
7: Jeff Ruland
8: Jeff Sanders
9: Jeff Taylor
Pick one: 0
Results for Jeff Adrien:

You searched for "Anthony Bennett"
3 results found.
0: Anthony Bennett
1: Tony Bennett
2: Anthony Bonner
Pick one: 0
Results for Anthony Bennett:

You searched for "Corey Brewer"
4 results found.
0: Corey Brewer
1: Corey Crowder
2: Corey Beck
3: Ron Brewer
Pick one: 0
Results for Corey Brewer:

You searched for "Lorenzo Brown"
2 results found.
0: Lorenzo Brown
1: Lorenzo Romar
Pick one: 0
Results for Lorenzo Brown:

You searched for "Chase Budinger"
1 result found.
Chase Budinger
Results for Chase Budinger:

You searched for "Troy Daniels"
4 results found.
0: Troy Daniels
1: Erik Daniels
2: Lloyd Daniels
3: Mel Daniels
Pick one: 0
Results for Troy Daniels:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Justin Hamilton"
3 results found.
0: Justin Hamilton
1: Jordan Hamilton
2: Justin Patton
Pick one: 0
Results for Justin Hamilton:

You searched for "Robbie Hummel"
1 result found.
Robbie Hummel
Results for Robbie Hummel:

You searched for "Sean Kilpatrick"
3 results found.
0: Sean Kilpatrick
1: Carl Kilpatrick
2: Stan Patrick
Pick one: 0
Results for Sean Kilpatrick:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Kevin Martin"
15 results found.
0: Kevin Martin
1: Kelan Martin
2: Kenyon Martin
3: Devin Harris
4: Brian Martin
5: Dino Martin
6: Don Martin
7: Jeff Martin
8: Phil Martin
9: Kevin Murphy
10: Kevin Porter
11: Kevin Porter
12: Kevin Durant
13: Kevin Garnett
14: Kevin McHale
Pick one: 0
Results for Kevin Martin:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Arinze Onuaku"
1 result found.
Arinze Onuaku
Results for Arinze Onuaku:

You searched for "Adreian Payne"
1 result found.
Adreian Payne
Results for Adreian Payne:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "Miroslav Raduljica"
1 result found.
Miroslav Raduljica
Results for Miroslav Raduljica:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

You searched for "Thaddeus Young"
1 result found.
Thaddeus Young
Results for Thaddeus Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-11-01,31-273,MIN,HOME,CHI,L (-1),1,35:33,9,14,...,7,2,0,0,0,3,33,29.9,2,Kevin Martin
1,2015-01-17,19-328,MIN,AWAY,DEN,W (+8),1,39:49,11,17,...,9,4,1,3,2,1,31,29.7,13,Andrew Wiggins
2,2015-04-11,20-032,MIN,AWAY,GSW,L (-9),1,44:45,13,21,...,9,4,0,0,3,4,37,28.8,-12,Zach LaVine
3,2015-04-10,20-046,MIN,AWAY,LAL,L (-8),1,42:05,7,15,...,10,6,2,0,3,1,29,28.3,-3,Andrew Wiggins
4,2014-11-19,31-291,MIN,HOME,NYK,W (+16),1,35:08,14,20,...,4,2,2,0,2,4,37,28.0,22,Kevin Martin

In [39]:
# removed greg smith

MIN_2016_gamelog = []

for p in MIN_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2016_gamelog.append(player_log)
MIN_2016_gamelog = pd.concat(MIN_2016_gamelog)    
MIN_2016_gamelogs = MIN_2016_gamelog.copy()
MIN_2016_gamelogs['GAME_SCORE'] = MIN_2016_gamelogs['GAME_SCORE'].astype(float)
MIN_2016_games = MIN_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2016_games_csv = MIN_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2016_games.csv', index=False)
MIN_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2016_games.csv')
MIN_2016_games_proc.head()

You searched for "Nemanja Bjelica"
1 result found.
Nemanja Bjelica
Results for Nemanja Bjelica:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Tyus Jones"
17 results found.
0: Tyus Jones
1: Tre Jones
2: Tyus Edney
3: Bill Jones
4: Earl Jones
5: Fred Jones
6: Jake Jones
7: James Jones
8: K.C. Jones
9: Mark Jones
10: Mark Jones
11: Nick Jones
12: Rich Jones
13: Sam Jones
14: Steve Jones
15: Wali Jones
16: Wil Jones
Pick one: 0
Results for Tyus Jones:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "Kevin Martin"
15 results found.
0: Kevin Martin
1: Kelan Martin
2: Kenyon Martin
3: Devin Harris
4: Brian Martin
5: Dino Martin
6: Don Martin
7: Jeff Martin
8: Phil Martin
9: Kevin Murphy
10: Kevin Porter
11: Kevin Porter
12: Kevin Durant
13: Kevin Garnett
14: Kevin McHale
Pick one: 0
Results for Kevin Martin:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Adreian Payne"
1 result found.
Adreian Payne
Results for Adreian Payne:

You searched for "Nikola Peković"
4 results found.
0: Nikola Pekovic
1: Nikola Jokic
2: Nikola Mirotic
3: Nikola Vucevic
Pick one: 0
Results for Nikola Pekovic:

You searched for "Tayshaun Prince"
2 results found.
0: Tayshaun Prince
1: Taurean Prince
Pick one: 0
Results for Tayshaun Prince:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Damjan Rudež"
1 result found.
Damjan Rudez
Results for Damjan Rudez:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-02-10,20-087,MIN,HOME,TOR,W (+5),1,35:23,12,19,...,11,1,0,3,0,4,35,31.8,11,Karl-Anthony Towns
1,2016-03-28,21-034,MIN,HOME,PHO,W (+5),1,36:28,6,13,...,5,2,1,3,1,0,32,29.1,16,Andrew Wiggins
2,2015-10-28,25-007,MIN,AWAY,LAL,W (+1),1,32:29,10,17,...,2,14,1,0,1,3,28,28.9,12,Ricky Rubio
3,2016-02-27,20-104,MIN,AWAY,NOP,W (+2),1,35:13,13,20,...,15,4,2,1,1,3,30,28.6,5,Karl-Anthony Towns
4,2016-04-05,21-042,MIN,AWAY,GSW,W (+7),1,41:52,11,19,...,5,4,6,0,5,0,32,28.4,4,Andrew Wiggins

In [40]:


MIN_2017_gamelog = []

for p in MIN_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2017_gamelog.append(player_log)
MIN_2017_gamelog = pd.concat(MIN_2017_gamelog)    
MIN_2017_gamelogs = MIN_2017_gamelog.copy()
MIN_2017_gamelogs['GAME_SCORE'] = MIN_2017_gamelogs['GAME_SCORE'].astype(float)
MIN_2017_games = MIN_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2017_games_csv = MIN_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2017_games.csv', index=False)
MIN_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2017_games.csv')
MIN_2017_games_proc.head()

You searched for "Cole Aldrich"
1 result found.
Cole Aldrich
Results for Cole Aldrich:

You searched for "Nemanja Bjelica"
1 result found.
Nemanja Bjelica
Results for Nemanja Bjelica:

You searched for "Omri Casspi"
1 result found.
Omri Casspi
Results for Omri Casspi:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Kris Dunn"
6 results found.
0: Kris Dunn
1: Chris Duhon
2: Pat Dunn
3: T.R. Dunn
4: Chris Munk
5: Chris Quinn
Pick one: 0
Results for Kris Dunn:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Tyus Jones"
17 results found.
0: Tyus Jones
1: Tre Jones
2: Tyus Edney
3: Bill Jones
4: Earl Jones
5: Fred Jones
6: Jake Jones
7: James Jones
8: K.C. Jones
9: Mark Jones
10: Mark Jones
11: Nick Jones
12: Rich Jones
13: Sam Jones
14: Steve Jones
15: Wali Jones
16: Wil Jones
Pick one: 0
Results for Tyus Jones:

You searched for "Zach LaVine"
3 results found.
0: Zach LaVine
1: Mack Calvin
2: Zach Lofton
Pick one: 0
Results for Zach LaVine:

You searched for "John Lucas III"
2 results found.
0: John Lucas III
1: John Lucas
Pick one: 0
Results for John Lucas III:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Adreian Payne"
1 result found.
Adreian Payne
Results for Adreian Payne:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Brandon Rush"
4 results found.
0: Brandon Rush
1: Brandon Bass
2: Brandon Roy
3: Brandon Paul
Pick one: 0
Results for Brandon Rush:

You searched for "Lance Stephenson"
1 result found.
Lance Stephenson
Results for Lance Stephenson:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-11-30,21-015,MIN,HOME,NYK,L (-2),1,41:32,15,22,...,18,2,1,3,4,2,47,42.7,7,Karl-Anthony Towns
1,2017-04-09,21-145,MIN,AWAY,LAL,L (-1),1,41:16,17,22,...,21,4,1,1,3,3,40,38.0,6,Karl-Anthony Towns
2,2016-11-13,21-264,MIN,HOME,LAL,W (+26),1,41:06,14,21,...,4,3,0,1,2,2,47,37.5,34,Andrew Wiggins
3,2017-02-25,21-102,MIN,AWAY,HOU,L (-12),1,37:15,16,24,...,22,3,1,1,4,2,37,35.8,-1,Karl-Anthony Towns
4,2017-03-13,21-118,MIN,HOME,WAS,W (+15),1,35:04,17,26,...,13,2,1,0,0,2,39,34.3,4,Karl-Anthony Towns

In [41]:

MIN_2018_gamelog = []

for p in MIN_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2018_gamelog.append(player_log)
MIN_2018_gamelog = pd.concat(MIN_2018_gamelog)    
MIN_2018_gamelogs = MIN_2018_gamelog.copy()
MIN_2018_gamelogs['GAME_SCORE'] = MIN_2018_gamelogs['GAME_SCORE'].astype(float)
MIN_2018_games = MIN_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2018_games_csv = MIN_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2018_games.csv', index=False)
MIN_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2018_games.csv')
MIN_2018_games_proc.head()

You searched for "Cole Aldrich"
1 result found.
Cole Aldrich
Results for Cole Aldrich:

You searched for "Nemanja Bjelica"
1 result found.
Nemanja Bjelica
Results for Nemanja Bjelica:

You searched for "Aaron Brooks"
5 results found.
0: Aaron Brooks
1: MarShon Brooks
2: Dillon Brooks
3: Kevin Brooks
4: Aaron Gordon
Pick one: 0
Results for Aaron Brooks:

You searched for "Anthony Brown"
8 results found.
0: Anthony Brown
1: Anthony Bowie
2: Tony Brown
3: Anthony Bonner
4: Troy Brown
5: Anthony Cook
6: Anthony Mason
7: Anthony Morrow
Pick one: 0
Results for Anthony Brown:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Marcus Georges-Hunt"
1 result found.
Marcus Georges-Hunt
Results for Marcus Georges-Hunt:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Tyus Jones"
17 results found.
0: Tyus Jones
1: Tre Jones
2: Tyus Edney
3: Bill Jones
4: Earl Jones
5: Fred Jones
6: Jake Jones
7: James Jones
8: K.C. Jones
9: Mark Jones
10: Mark Jones
11: Nick Jones
12: Rich Jones
13: Sam Jones
14: Steve Jones
15: Wali Jones
16: Wil Jones
Pick one: 0
Results for Tyus Jones:

You searched for "Shabazz Muhammad"
1 result found.
Shabazz Muhammad
Results for Shabazz Muhammad:

You searched for "Justin Patton"
4 results found.
0: Justin Patton
1: Justin Dentmon
2: Justin Hamilton
3: Justin Jackson
Pick one: 0
Results for Justin Patton:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-28,22-133,MIN,HOME,ATL,W (+12),1,41:21,19,32,...,15,4,0,1,2,4,56,46.0,7,Karl-Anthony Towns
1,2018-03-13,22-118,MIN,AWAY,WAS,W (+5),1,40:46,13,17,...,10,3,1,2,1,5,37,36.0,0,Karl-Anthony Towns
2,2018-02-13,22-090,MIN,HOME,HOU,L (-18),1,35:19,12,16,...,12,3,1,3,1,6,35,36.0,-4,Karl-Anthony Towns
3,2017-12-14,22-029,MIN,HOME,SAC,W (+23),1,34:53,11,16,...,14,5,1,5,0,4,30,34.6,22,Karl-Anthony Towns
4,2017-12-18,28-095,MIN,HOME,POR,W (+1),1,35:15,12,21,...,6,4,2,0,0,0,37,33.7,15,Jimmy Butler

In [42]:

MIN_2019_gamelog = []

for p in MIN_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2019_gamelog.append(player_log)
MIN_2019_gamelog = pd.concat(MIN_2019_gamelog)    
MIN_2019_gamelogs = MIN_2019_gamelog.copy()
MIN_2019_gamelogs['GAME_SCORE'] = MIN_2019_gamelogs['GAME_SCORE'].astype(float)
MIN_2019_games = MIN_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2019_games_csv = MIN_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2019_games.csv', index=False)
MIN_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2019_games.csv')
MIN_2019_games_proc.head()

You searched for "Keita Bates-Diop"
1 result found.
Keita Bates-Diop
Results for Keita Bates-Diop:

You searched for "Jerryd Bayless"
1 result found.
Jerryd Bayless
Results for Jerryd Bayless:

You searched for "Jimmy Butler"
6 results found.
0: Jimmy Butler
1: Mike Butler
2: Jimmy Conner
3: Jimmy Foster
4: Jimmy Oliver
5: Jimmy Walker
Pick one: 0
Results for Jimmy Butler:

You searched for "Isaiah Canaan"
1 result found.
Isaiah Canaan
Results for Isaiah Canaan:

You searched for "Robert Covington"
1 result found.
Robert Covington
Results for Robert Covington:

You searched for "Mitch Creek"
3 results found.
0: Mitch Creek
1: Rich Peek
2: Mitch McGary
Pick one: 0
Results for Mitch Creek:

You searched for "Luol Deng"
1 result found.
Luol Deng
Results for Luol Deng:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Tyus Jones"
17 results found.
0: Tyus Jones
1: Tre Jones
2: Tyus Edney
3: Bill Jones
4: Earl Jones
5: Fred Jones
6: Jake Jones
7: James Jones
8: K.C. Jones
9: Mark Jones
10: Mark Jones
11: Nick Jones
12: Rich Jones
13: Sam Jones
14: Steve Jones
15: Wali Jones
16: Wil Jones
Pick one: 0
Results for Tyus Jones:

You searched for "James Nunnally"
1 result found.
James Nunnally
Results for James Nunnally:

You searched for "Josh Okogie"
4 results found.
0: Josh Okogie
1: Josh Akognon
2: Josh Boone
3: Josh Green
Pick one: 0
Results for Josh Okogie:

You searched for "Cameron Reynolds"
1 result found.
Cameron Reynolds
Results for Cameron Reynolds:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Dario Šarić"
2 results found.
0: Dario Saric
1: Marko Jaric
Pick one: 0
Results for Dario Saric:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Jared Terrell"
2 results found.
0: Jared Terrell
1: Ira Terrell
Pick one: 0
Results for Jared Terrell:

You searched for "Anthony Tolliver"
3 results found.
0: Anthony Tolliver
1: Anthony Miller
2: Anthony Goldwire
Pick one: 0
Results for Anthony Tolliver:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

You searched for "C.J. Williams"
38 results found.
0: C.J. Williams
1: Al Williams
2: Alan Williams
3: Art Williams
4: Bob Williams
5: Buck Williams
6: Chuck Williams
7: Cliff Williams
8: Corey Williams
9: Duck Williams
10: Earl Williams
11: Eric Williams
12: Fly Williams
13: Gene Williams
14: Gus Williams
15: Guy Williams
16: Hank Williams
17: Herb Williams
18: Jay Williams
19: John Williams
20: Lou Williams
21: Matt Williams
22: Mike Williams
23: Milt Williams
24: Mo Williams
25: Nate Williams
26: Pete Williams
27: Ray Williams
28: Rob Williams
29: Ron Williams
30: Sam Williams
31: Sam Williams
32: Scott Williams
33: Sean Williams
34: Sly Williams
35: Troy Williams
36: Walt Williams
37: Ward Williams
Pick one: 0
Results for C.J. Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-03-09,23-114,MIN,HOME,WAS,W (+5),1,37:22,15,24,...,15,2,2,1,1,2,40,37.6,1,Karl-Anthony Towns
1,2018-12-30,23-045,MIN,AWAY,MIA,W (+9),1,37:04,12,24,...,18,7,3,6,3,6,34,37.3,15,Karl-Anthony Towns
2,2018-10-19,29-035,MIN,HOME,CLE,W (+8),1,36:05,10,12,...,7,3,4,2,2,0,33,37.0,-3,Jimmy Butler
3,2018-12-05,23-020,MIN,HOME,CHO,W (+17),1,35:45,13,20,...,12,3,2,6,2,4,35,35.3,26,Karl-Anthony Towns
4,2018-12-07,29-084,PHI,AWAY,DET,W (+6),1,38:59,13,27,...,6,6,3,1,0,1,38,35.2,12,Jimmy Butler

In [45]:

MIN_2020_gamelog = []

for p in MIN_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2020_gamelog.append(player_log)
MIN_2020_gamelog = pd.concat(MIN_2020_gamelog)    
MIN_2020_gamelogs = MIN_2020_gamelog.copy()
MIN_2020_gamelogs['GAME_SCORE'] = MIN_2020_gamelogs['GAME_SCORE'].astype(float)
MIN_2020_games = MIN_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2020_games_csv = MIN_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2020_games.csv', index=False)
MIN_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2020_games.csv')
MIN_2020_games_proc.head()

You searched for "Keita Bates-Diop"
1 result found.
Keita Bates-Diop
Results for Keita Bates-Diop:

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Jordan Bell"
10 results found.
0: Jordan Bell
1: Jordan Hill
2: Jordan Bone
3: Jordan Ford
4: Jordan Loyd
5: Jordan Poole
6: Jordan Sibert
7: Jordan Bowden
8: Ryan Kelly
9: Jordan McRae
Pick one: 0
Results for Jordan Bell:

You searched for "Robert Covington"
1 result found.
Robert Covington
Results for Robert Covington:

You searched for "Allen Crabbe"
1 result found.
Allen Crabbe
Results for Allen Crabbe:

You searched for "Jarrett Culver"
2 results found.
0: Jarrett Culver
1: Jarrett Allen
Pick one: 0
Results for Jarrett Culver:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Jacob Evans"
5 results found.
0: Jacob Evans
1: Bob Evans
2: Jawun Evans
3: Earl Evans
4: Jacob Wiley
Pick one: 0
Results for Jacob Evans:

You searched for "Treveon Graham"
1 result found.
Treveon Graham
Results for Treveon Graham:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "James Johnson"
32 results found.
0: James Johnson
1: Amir Johnson
2: Dave Johnson
3: Joe Johnson
4: James Robinson
5: James Cotton
6: Andy Johnson
7: Armon Johnson
8: Avery Johnson
9: Cameron Johnson
10: Charles Johnson
11: Cheese Johnson
12: Chris Johnson
13: Chris Johnson
14: Ed Johnson
15: Gus Johnson
16: JaJuan Johnson
17: John Johnson
18: Ken Johnson
19: Ken Johnson
20: Larry Johnson
21: Larry Johnson
22: Lee Johnson
23: Magic Johnson
24: Marques Johnson
25: Ralph Johnson
26: Stew Johnson
27: Trey Johnson
28: Tyler Johnson
29: Nate Johnston
30: James Jones
31: James Collins
Pick one: 0
Results for James Johnson:

You searched for "Jake Layman"
2 results found.
0: Jake Layman
1: Jack Twyman
Pick one: 0
Results for Jake Layman:

You searched for "Kelan Martin"
8 results found.
0: Kelan Martin
1: Kevin Martin
2: Brian Martin
3: Kenyon Martin
4: Bill Martin
5: Caleb Martin
6: Don Martin
7: Jeff Martin
Pick one: 0
Results for Kelan Martin:

You searched for "Jordan McLaughlin"
1 result found.
Jordan McLaughlin
Results for Jordan McLaughlin:

You searched for "Shabazz Napier"
1 result found.
Shabazz Napier
Results for Shabazz Napier:

You searched for "Jaylen Nowell"
3 results found.
0: Jaylen Nowell
1: Myles Powell
2: Bailey Howell
Pick one: 0
Results for Jaylen Nowell:

You searched for "Josh Okogie"
4 results found.
0: Josh Okogie
1: Josh Akognon
2: Josh Boone
3: Josh Green
Pick one: 0
Results for Josh Okogie:

You searched for "Naz Reid"
8 results found.
0: Naz Reid
1: Don Reid
2: Jim Reid
3: Ryan Reid
4: Paul Reed
5: Hub Reed
6: Ron Reed
7: J.R. Reid
Pick one: 0
Results for Naz Reid:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Jarred Vanderbilt"
1 result found.
Jarred Vanderbilt
Results for Jarred Vanderbilt:

You searched for "Noah Vonleh"
1 result found.
Noah Vonleh
Results for Noah Vonleh:

You searched for "Andrew Wiggins"
2 results found.
0: Andrew Wiggins
1: DeAndre Liggins
Pick one: 0
Results for Andrew Wiggins:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-10-25,23-344,MIN,AWAY,CHO,W (+22),1,27:43,13,18,...,15,8,4,2,2,3,37,41.1,25,Karl-Anthony Towns
1,2020-01-25,24-071,MIN,HOME,OKC,L (-9),1,35:25,13,23,...,8,6,2,2,3,2,37,32.7,-7,Karl-Anthony Towns
2,2019-12-06,24-021,MIN,AWAY,OKC,L (-12),1,37:01,11,16,...,5,8,2,2,0,5,30,31.7,-4,Karl-Anthony Towns
3,2019-10-23,23-342,MIN,AWAY,BRK,W (+1),1,38:41,11,22,...,14,3,3,3,3,5,36,31.4,-1,Karl-Anthony Towns
4,2020-01-27,24-338,MIN,HOME,SAC,L (-4),1,42:47,13,21,...,9,8,0,1,2,4,36,30.7,8,Andrew Wiggins

In [46]:
# removed Elijah Bryant
MIN_2021_gamelog = []

for p in MIN_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    MIN_2021_gamelog.append(player_log)
MIN_2021_gamelog = pd.concat(MIN_2021_gamelog)    
MIN_2021_gamelogs = MIN_2021_gamelog.copy()
MIN_2021_gamelogs['GAME_SCORE'] = MIN_2021_gamelogs['GAME_SCORE'].astype(float)
MIN_2021_games = MIN_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_2021_games_csv = MIN_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2021_games.csv', index=False)
MIN_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2021_games.csv')
MIN_2021_games_proc.head()

You searched for "Malik Beasley"
3 results found.
0: Malik Beasley
1: Malik Sealy
2: Malik Allen
Pick one: 0
Results for Malik Beasley:

You searched for "Jarrett Culver"
2 results found.
0: Jarrett Culver
1: Jarrett Allen
Pick one: 0
Results for Jarrett Culver:

You searched for "Ed Davis"
34 results found.
0: Ed Davis
1: Red Davis
2: Ben Davis
3: Lee Davis
4: Mel Davis
5: Bob Davis
6: Brad Davis
7: Glen Davis
8: Jim Davis
9: Ron Davis
10: Ed Kasid
11: Ed Rains
12: Ed Dahler
13: Bob Davies
14: Bill Davis
15: Dale Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Terry Davis
23: Tyler Davis
24: Walt Davis
25: Ed Earle
26: Ed Gayda
27: Ed Melvin
28: Ed Beach
29: Ed Leede
30: Ed Mikan
31: Ed Nealy
32: Med Park
33: Todd Day
Pick one: 0
Results for Ed Davis:

You searched for "Anthony Edwards"
3 results found.
0: Anthony Edwards
1: Anthony Davis
2: Anthony Pullard
Pick one: 0
Results for Anthony Edwards:

You searched for "Ashton Hagans"
1 result found.
Ashton Hagans
Results for Ashton Hagans:

You searched for "Juan Hernangómez"
1 result found.
Juan Hernangomez
Results for Juan Hernangomez:

You searched for "Jake Layman"
2 results found.
0: Jake Layman
1: Jack Twyman
Pick one: 0
Results for Jake Layman:

You searched for "Jaden McDaniels"
4 results found.
0: Jaden McDaniels
1: Jalen McDaniels
2: Jim McDaniels
3: Xavier McDaniel
Pick one: 0
Results for Jaden McDaniels:

You searched for "Jordan McLaughlin"
1 result found.
Jordan McLaughlin
Results for Jordan McLaughlin:

You searched for "Jaylen Nowell"
3 results found.
0: Jaylen Nowell
1: Myles Powell
2: Bailey Howell
Pick one: 0
Results for Jaylen Nowell:

You searched for "Josh Okogie"
4 results found.
0: Josh Okogie
1: Josh Akognon
2: Josh Boone
3: Josh Green
Pick one: 0
Results for Josh Okogie:

You searched for "Naz Reid"
8 results found.
0: Naz Reid
1: Don Reid
2: Jim Reid
3: Ryan Reid
4: Paul Reed
5: Hub Reed
6: Ron Reed
7: J.R. Reid
Pick one: 0
Results for Naz Reid:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Karl-Anthony Towns"
1 result found.
Karl-Anthony Towns
Results for Karl-Anthony Towns:

You searched for "Jarred Vanderbilt"
1 result found.
Jarred Vanderbilt
Results for Jarred Vanderbilt:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-05-05,19-273,MIN,HOME,MEM,L (-4),1,38:14,17,22,...,6,7,1,1,3,4,42,37.2,11,Anthony Edwards
1,2021-03-18,25-123,MIN,AWAY,PHO,W (+4),1,35:50,15,24,...,10,8,1,0,4,1,41,36.2,4,Karl-Anthony Towns
2,2021-04-03,25-139,MIN,AWAY,PHI,L (-9),1,44:01,11,23,...,14,5,1,1,2,6,39,32.7,4,Karl-Anthony Towns
3,2021-03-13,25-118,MIN,HOME,POR,L (-4),1,34:17,12,21,...,10,4,1,2,2,4,34,30.3,-3,Karl-Anthony Towns
4,2021-03-18,19-225,MIN,AWAY,PHO,W (+4),1,38:17,15,31,...,7,3,2,0,2,2,42,28.9,9,Anthony Edwards

## combine all seasons

In [47]:
MIN_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2000_games.csv')
MIN_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2001_games.csv')
MIN_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2002_games.csv')
MIN_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2003_games.csv')
MIN_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2004_games.csv')
MIN_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2005_games.csv')
MIN_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2006_games.csv')
MIN_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2007_games.csv')
MIN_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2008_games.csv')
MIN_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2009_games.csv')
MIN_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2010_games.csv')
MIN_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2011_games.csv')
MIN_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2012_games.csv')
MIN_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2013_games.csv')
MIN_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2014_games.csv')
MIN_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2015_games.csv')
MIN_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2016_games.csv')
MIN_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2017_games.csv')
MIN_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2018_games.csv')
MIN_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2019_games.csv')
MIN_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2020_games.csv')
MIN_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_2021_games.csv')

In [48]:
MIN_season_dfs = [MIN_2000_games_io, MIN_2001_games_io, MIN_2002_games_io, MIN_2003_games_io, MIN_2004_games_io, MIN_2005_games_io,
                 MIN_2006_games_io, MIN_2007_games_io, MIN_2008_games_io, MIN_2009_games_io, MIN_2010_games_io, MIN_2011_games_io,
                 MIN_2012_games_io, MIN_2013_games_io, MIN_2014_games_io, MIN_2015_games_io, MIN_2016_games_io, MIN_2017_games_io,
                 MIN_2018_games_io, MIN_2019_games_io, MIN_2020_games_io, MIN_2021_games_io]

In [49]:
MIN_all = pd.concat(MIN_season_dfs)
MIN_all_sorted = MIN_all.sort_values(by=['GAME_SCORE'], ascending=False)
MIN_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-28,22-133,MIN,HOME,ATL,W (+12),1,41:21,19,32,...,15,4,0,1,2,4,56,46.0,7,Karl-Anthony Towns
0,2016-11-30,21-015,MIN,HOME,NYK,L (-2),1,41:32,15,22,...,18,2,1,3,4,2,47,42.7,7,Karl-Anthony Towns
0,2005-01-04,28-230,MIN,HOME,PHO,L (-7),1,41:11,19,28,...,17,4,2,0,3,2,47,41.5,1,Kevin Garnett
0,2019-10-25,23-344,MIN,AWAY,CHO,W (+22),1,27:43,13,18,...,15,8,4,2,2,3,37,41.1,25,Karl-Anthony Towns
0,2013-12-22,25-106,MIN,AWAY,LAC,L (-4),1,43:23,15,23,...,19,6,1,0,4,3,45,41.0,-3,Kevin Love
0,2003-02-16,26-273,MIN,HOME,GSW,W (+7),1,41:12,17,27,...,22,6,1,5,2,2,37,41.0,6,Kevin Garnett
0,2013-12-22,25-106,MIN,AWAY,LAC,L (-4),1,43:23,15,23,...,19,6,1,0,4,3,45,41.0,-3,Kevin Love
0,2008-01-27,23-023,MIN,HOME,NJN,W (+3),1,42:07,13,21,...,19,3,1,2,1,2,40,40.9,7,Al Jefferson
1,2014-04-11,28-037,MIN,HOME,HOU,W (+2),1,44:53,19,30,...,2,1,6,1,2,4,51,40.8,5,Corey Brewer
0,2012-03-23,23-198,MIN,AWAY,OKC,L (-9),1,49:19,16,27,...,14,0,1,1,4,3,51,40.0,4,Kevin Love
1,2004-12-10,28-205,MIN,HOME,SAC,W (+8),1,43:53,11,22,...,18,9,4,1,3,1,35,39.4,5,Kevin Garnett
0,2010-12-18,22-102,MIN,AWAY,DEN,L (-2),1,43:09,14,23,...,17,3,0,0,2,2,43,38.9,1,Kevin Love
2,2014-02-01,25-147,MIN,AWAY,ATL,L (-7),1,38:00,12,22,...,19,1,1,0,3,0,43,38.8,-9,Kevin Love
1,2014-02-01,25-147,MIN,AWAY,ATL,L (-7),1,38:00,12,22,...,19,1,1,0,3,0,43,38.8,-9,Kevin Love
0,2007-01-29,30-255,MIN,HOME,PHO,W (+9),1,39:32,18,29,...,11,2,3,0,0,2,44,38.6,7,Kevin Garnett
1,2017-04-09,21-145,MIN,AWAY,LAL,L (-1),1,41:16,17,22,...,21,4,1,1,3,3,40,38.0,6,Karl-Anthony Towns
3,2014-02-22,25-168,MIN,AWAY,UTA,W (+17),1,32:35,11,20,...,12,10,1,0,1,3,37,37.6,23,Kevin Love
0,2019-03-09,23-114,MIN,HOME,WAS,W (+5),1,37:22,15,24,...,15,2,2,1,1,2,40,37.6,1,Karl-Anthony Towns
2,2014-02-22,25-168,MIN,AWAY,UTA,W (+17),1,32:35,11,20,...,12,10,1,0,1,3,37,37.6,23,Kevin Love
2,2016-11-13,21-264,MIN,HOME,LAL,W (+26),1,41:06,14,21,...,4,3,0,1,2,2,47,37.5,34,Andrew Wiggins
1,2018-12-30,23-045,MIN,AWAY,MIA,W (+9),1,37:04,12,24,...,18,7,3,6,3,6,34,37.3,15,Karl-Anthony Towns
1,2011-02-27,22-173,MIN,HOME,GSW,W (+3),1,41:10,8,13,...,23,1,2,0,3,3,37,37.3,18,Kevin Love
0,2021-05-05,19-273,MIN,HOME,MEM,L (-4),1,38:14,17,22,...,6,7,1,1,3,4,42,37.2,11,Anthony Edwards
2,2018-10-19,29-035,MIN,HOME,CLE,W (+8),1,36:05,10,12,...,7,3,4,2,2,0,33,37.0,-3,Jimmy Butler
0,2001-02-07,24-264,MIN,HOME,SAC,W (+29),1,33:58,17,22,...,7,6,1,2,2,4,40,36.9,32,Kevin Garnett