In [47]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonplayerinfo
import pandas as pd

In [5]:
# get_players retruns a list of dictionaries
# each dictionary is a player
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4501

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [9]:
# get player list and ID
df_players = pd.DataFrame.from_dict(nba_players)
df_players.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [17]:
player_list = df_players['full_name'].to_list()
player_id = df_players['id'].to_list()
type(player_list)
len(player_list)

4501

In [44]:
player_master_list = []
def get_nba_id():
    nba_players = players.get_active_players()
    
    for player in nba_players:
        career_stats = playercareerstats.PlayerCareerStats(player_id=player['id'])
        career_df = career_stats.get_data_frames()[0]
        career_df['NAME'] = player['full_name']
get_nba_id()

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=30)

In [35]:
player_master_list

[]

In [43]:
nba_teams = teams.get_teams()
df_teams = pd.DataFrame.from_dict(nba_teams)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [29]:
nba_players = players.get_active_players()
nba_players_active_df = pd.DataFrame.from_dict(nba_players)
nba_players_active_df.head(25)

         id                 full_name first_name         last_name  is_active
0    203500              Steven Adams     Steven             Adams       True
1   1628389               Bam Adebayo        Bam           Adebayo       True
2    200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
3   1629734            Kyle Alexander       Kyle         Alexander       True
4   1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True
5   1628960             Grayson Allen    Grayson             Allen       True
6   1628386             Jarrett Allen    Jarrett             Allen       True
7   1628443              Kadeem Allen     Kadeem             Allen       True
8    202329           Al-Farouq Aminu  Al-Farouq             Aminu       True
9   1626147           Justin Anderson     Justin          Anderson       True
10   203937             Kyle Anderson       Kyle          Anderson       True
11   201583             Ryan Anderson       Ryan          Anderson       True
12   203507     Giannis Antetokounmpo    Giannis     Antetokounmpo       True
13  1628961      Kostas Antetokounmpo     Kostas     Antetokounmpo       True
14   203648    Thanasis Antetokounmpo   Thanasis     Antetokounmpo       True
15     2546           Carmelo Anthony    Carmelo           Anthony       True
16  1628384                OG Anunoby         OG           Anunoby       True
17  1627853          Ryan Arcidiacono       Ryan       Arcidiacono       True
18     2772              Trevor Ariza     Trevor             Ariza       True
19   201571             D.J. Augustin       D.J.          Augustin       True
20  1629028             Deandre Ayton    Deandre             Ayton       True
21  1628407              Dwayne Bacon     Dwayne             Bacon       True
22  1628963         Marvin Bagley III     Marvin        Bagley III       True
23  1628366                Lonzo Ball      Lonzo              Ball       True
24  1628964                  Mo Bamba         Mo             Bamba       True

In [ ]:
from nba_api.stats.endpoints import commonplayerinfo

# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)
player_info

In [ ]:
from nba_api.stats.endpoints import commonplayerinfo

# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)
player_info.available_seasons.get_data_frame()

In [1]:
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats, get_team_misc

ModuleNotFoundError: No module named 'unidecode'

In [17]:
df = get_roster('GSW', 2019)
print(df)

    NUMBER             PLAYER POS HEIGHT  WEIGHT BIRTH_DATE NATIONALITY  \
0        2        Jordan Bell   C    6-8     216 1995-01-07          US
1       12       Andrew Bogut   C    7-0     260 1984-11-28          AU
2        4         Quinn Cook  PG    6-1     180 1993-03-23          US
3        0   DeMarcus Cousins   C   6-10     270 1990-08-13          US
4       30      Stephen Curry  PG    6-3     185 1988-03-14          US
5       32  Marcus Derrickson  PF    6-7     249 1996-02-01          US
6       35       Kevin Durant  SF   6-10     240 1988-09-29          US
7       10        Jacob Evans  SG    6-4     210 1997-06-18          US
8       23     Draymond Green  PF    6-6     230 1990-03-04          US
9        9     Andre Iguodala  SF    6-6     215 1984-01-28          US
10      21      Jonas Jerebko  PF   6-10     231 1987-03-02          SE
11      15       Damian Jones   C   6-11     245 1995-06-30          US
12       1         Damion Lee  SG    6-5     210 1992-10-21          US
13      34   Shaun Livingston  PG    6-7     192 1985-09-11          US
14       5       Kevon Looney   C    6-9     222 1996-02-06          US
15      28   Alfonzo McKinnie  SF    6-7     215 1992-09-17          US
16      11      Klay Thompson  SG    6-6     215 1990-02-08          US

   EXPERIENCE             COLLEGE
0           1              Oregon
1          13                Utah
2           2                Duke
3           8            Kentucky
4           9            Davidson
5           R          Georgetown
6          11               Texas
7           R          Cincinnati
8           6      Michigan State
9          14             Arizona
10          8                 NaN
11          2          Vanderbilt
12          1  Drexel, Louisville
13         13                 NaN
14          3                UCLA
15          1           Green Bay
16          7    Washington State

In [5]:
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot

In [10]:
s = get_stats('Stephen Curry', stat_type='PER_GAME', playoffs=False, career=False)
s

You searched for "Stephen Curry"
3 results found.
0: Stephen Curry
1: Stephen Chubin
2: Seth Curry
Pick one: 0
Results for Stephen Curry:

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,21.0,GSW,NBA,PG,80,77,36.2,6.6,14.3,...,0.885,0.6,3.9,4.5,5.9,1.9,0.2,3.0,3.2,17.5
1,2010-11,22.0,GSW,NBA,PG,74,74,33.6,6.8,14.2,...,0.934,0.7,3.2,3.9,5.8,1.5,0.3,3.1,3.1,18.6
2,2011-12,23.0,GSW,NBA,PG,26,23,28.2,5.6,11.4,...,0.809,0.6,2.8,3.4,5.3,1.5,0.3,2.5,2.4,14.7
3,2012-13,24.0,GSW,NBA,PG,78,78,38.2,8.0,17.8,...,0.900,0.8,3.3,4.0,6.9,1.6,0.2,3.1,2.5,22.9
4,2013-14,25.0,GSW,NBA,PG,78,78,36.5,8.4,17.7,...,0.885,0.6,3.7,4.3,8.5,1.6,0.2,3.8,2.5,24.0
5,2014-15,26.0,GSW,NBA,PG,80,80,32.7,8.2,16.8,...,0.914,0.7,3.6,4.3,7.7,2.0,0.2,3.1,2.0,23.8
6,2015-16,27.0,GSW,NBA,PG,79,79,34.2,10.2,20.2,...,0.908,0.9,4.6,5.4,6.7,2.1,0.2,3.3,2.0,30.1
7,2016-17,28.0,GSW,NBA,PG,79,79,33.4,8.5,18.3,...,0.898,0.8,3.7,4.5,6.6,1.8,0.2,3.0,2.3,25.3
8,2017-18,29.0,GSW,NBA,PG,51,51,32.0,8.4,16.9,...,0.921,0.7,4.4,5.1,6.1,1.6,0.2,3.0,2.2,26.4
9,2018-19,30.0,GSW,NBA,PG,69,69,33.8,9.2,19.4,...,0.916,0.7,4.7,5.3,5.2,1.3,0.4,2.8,2.4,27.3
10,2019-20,31.0,GSW,NBA,PG,5,5,27.8,6.6,16.4,...,1.000,0.8,4.4,5.2,6.6,1.0,0.4,3.2,2.2,20.8
11,2020-21,32.0,GSW,NBA,PG,63,63,34.2,10.4,21.7,...,0.916,0.5,5.0,5.5,5.8,1.2,0.1,3.4,1.9,32.0

In [9]:
df = get_game_logs('LeBron James', '2010-01-19', '2014-01-20', playoffs=False)
df

You searched for "LeBron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-
44,2010-01-19,25-020,CLE,HOME,TOR,W (+8),1,41:01,8,18,...,9,9,11,3,3,3,1,28,29.9,+12
45,2010-01-21,25-022,CLE,HOME,LAL,W (+6),1,40:24,13,25,...,5,5,9,2,1,4,3,37,28.8,+5
46,2010-01-23,25-024,CLE,HOME,OKC,W (+1),1,42:38,9,19,...,9,9,12,1,1,6,2,37,30.9,-1
47,2010-01-25,25-026,CLE,AWAY,MIA,W (+1),1,38:31,9,23,...,9,9,4,1,0,4,3,32,18.8,+1
48,2010-01-27,25-028,CLE,HOME,MIN,W (+14),1,30:33,3,8,...,6,6,11,1,1,3,1,12,15.0,+16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2014-01-10,29-011,MIA,AWAY,BRK,L (-9),1,49:22,12,21,...,4,7,5,0,0,4,6,36,25.7,-1
38,2014-01-15,29-016,MIA,AWAY,WAS,L (-17),1,41:04,8,18,...,6,8,7,2,0,4,1,25,20.9,-15
39,2014-01-17,29-018,MIA,AWAY,PHI,W (+15),1,36:31,7,13,...,7,8,10,2,1,3,3,21,22.6,+17
40,2014-01-18,29-019,MIA,AWAY,CHA,W (+8),1,44:52,13,25,...,6,8,6,1,0,2,4,34,25.7,+13
42,2014-01-20,29-021,MIA,AWAY,ATL,L (-7),1,38:43,11,21,...,3,4,6,1,0,3,1,30,21.9,0

In [12]:
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [15]:
df_bos=get_roster('BOS', 2022)
df_bos

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,NaN,Kris Dunn,G,6-3,205,1994-03-18,US,5,Providence
1,NaN,Grant Williams,F,6-6,236,1998-11-30,US,2,Tennessee
2,NaN,Josh Richardson,G,6-5,200,1993-09-15,US,6,Tennessee
3,NaN,Jabari Parker,F,6-8,245,1995-03-15,US,7,Duke
4,NaN,Carsen Edwards,G,5-11,200,1998-03-12,US,2,Purdue
5,NaN,Jaylen Brown,F-G,6-6,223,1996-10-24,US,5,California
6,NaN,Dennis Schrder,G,6-3,172,1993-09-15,DE,8,NaN
7,NaN,Al Horford,C-F,6-9,240,1986-06-03,DO,14,Florida
8,NaN,Robert Williams,C-F,6-8,237,1997-10-17,US,3,Texas A&M
9,NaN,Enes Kanter,C,6-10,250,1992-05-20,CH,10,NaN
10,NaN,Payton Pritchard,G,6-1,195,1998-01-28,US,1,Oregon
11,NaN,Marcus Smart,G,6-3,220,1994-03-06,US,7,Oklahoma State
12,NaN,Sam Hauser (TW),F,6-8,215,1997-12-08,US,R,"Marquette, Virginia"
13,NaN,Aaron Nesmith,G-F,6-5,215,1999-10-16,US,1,Vanderbilt
14,NaN,Bruno Fernando,F,6-9,240,1998-08-15,AO,2,Maryland
15,NaN,Jayson Tatum,F,6-8,210,1998-03-03,US,4,Duke
16,NaN,Romeo Langford,G,6-4,216,1999-10-25,US,2,Indiana

In [16]:
from basketball_reference_scraper.players import get_game_logs, get_player_headshot

df = get_game_logs('Pau Gasol', '2010-01-12', '2010-01-20', playoffs=False)
print(df)

url = get_player_headshot('Kobe Bryant')
print(url)

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

         DATE     AGE TEAM HOME/AWAY OPPONENT   RESULT GS     MP FG FGA  ...  \
40 2010-01-15  29-193  LAL      HOME      LAC  W (+40)  1  30:29  4  10  ...
42 2010-01-18  29-196  LAL      HOME      ORL   W (+6)  1  39:32  8  14  ...

   DRB TRB AST STL BLK TOV PF PTS GAME_SCORE  +/-
40   2   6   3   0   3   1  0  20       21.2  +22
42   7  10   2   1   0   1  4  17       14.4   +7

[2 rows x 28 columns]
You searched for "Kobe Bryant"
4 results found.
0: Kobe Bryant
1: Joe Bryant
2: Em Bryant
3: Mark Bryant
Pick one: 0
Results for Kobe Bryant:

https://d2cwpp38twqe55.cloudfront.net/req/202006192/images/players/bryanko01.jpg

## Get all team codes

In [ ]:
"""Team List:
ATLANTA HAWKS : ATL
ST. LOUIS HAWKS : SLH
MILWAUKEE HAWKS : MIL
TRI-CITIES BLACKHAWKS : TCB
BOSTON CELTICS : BOS
BROOKLYN NETS : BRK
NEW JERSEY NETS : NJN
CHICAGO BULLS : CHI
CHARLOTTE HORNETS (1988-2004): CHH
CHARLOTTE HORNETS (2014-Present): CHO
CHARLOTTE BOBCATS : CHA
CLEVELAND CAVALIERS : CLE
DALLAS MAVERICKS : DAL
DENVER NUGGETS : DEN
DETROIT PISTONS : DET
FORT WAYNE PISTONS : FWP
GOLDEN STATE WARRIORS : GSW
SAN FRANCISCO WARRIORS : SFW
PHILADELPHIA WARRIORS : PHI
HOUSTON ROCKETS : HOU
INDIANA PACERS : IND
LOS ANGELES CLIPPERS : LAC
SAN DIEGO CLIPPERS : SDC
BUFFALO BRAVES : BUF
LOS ANGELES LAKERS : LAL
MINNEAPOLIS LAKERS : MIN
MEMPHIS GRIZZLIES : MEM
VANCOUVER GRIZZLIES : VAN
MIAMI HEAT : MIA
MILWAUKEE BUCKS : MIL
MINNESOTA TIMBERWOLVES : MIN
NEW ORLEANS PELICANS : NOP
NEW ORLEANS/OKLAHOMA CITY HORNETS : NOK
NEW ORLEANS HORNETS : NOH
NEW YORK KNICKS : NYK
OKLAHOMA CITY THUNDER : OKC
SEATTLE SUPERSONICS : SEA
ORLANDO MAGIC : ORL
PHILADELPHIA 76ERS : PHI
SYRACUSE NATIONALS : SYR
PHOENIX SUNS : PHO
PORTLAND TRAIL BLAZERS : POR
SACRAMENTO KINGS : SAC
KANSAS CITY KINGS : KCK
KANSAS CITY-OMAHA KINGS : KCK
CINCINNATI ROYALS : CIN
ROCHESTER ROYALS : ROR
SAN ANTONIO SPURS : SAS
TORONTO RAPTORS : TOR
UTAH JAZZ : UTA
NEW ORLEANS JAZZ : NOJ
WASHINGTON WIZARDS : WAS
WASHINGTON BULLETS : WAS
CAPITAL BULLETS : CAP
BALTIMORE BULLETS : BAL
CHICAGO ZEPHYRS : CHI
CHICAGO PACKERS : CHI
ANDERSON PACKERS : AND
CHICAGO STAGS : CHI
INDIANAPOLIS OLYMPIANS : IND
SHEBOYGAN RED SKINS : SRS
ST. LOUIS BOMBERS : SLB
WASHINGTON CAPITOLS : WAS
WATERLOO HAWKS : WAT
SAN DIEGO ROCKETS : SDR
"""

In [23]:
df_ATL = get_roster('ATL', 2021)
df_BOS = get_roster('BOS', 2021)
df_BRK = get_roster('BRK', 2021)
df_CHI = get_roster('CHI', 2021)
df_CHA = get_roster('CHO', 2021)
df_CLE = get_roster('CLE', 2021)
df_DAL = get_roster('DAL', 2021)
df_DEN = get_roster('DEN', 2021)
df_DET = get_roster('DET', 2021)
df_GSW = get_roster('GSW', 2021)
df_PHI = get_roster('PHI', 2021)
df_HOU = get_roster('HOU', 2021)
df_IND = get_roster('IND', 2021)
df_LAC = get_roster('LAC', 2021)
df_LAL = get_roster('LAL', 2021)
df_MEM = get_roster('MEM', 2021)
df_MIA = get_roster('MIA', 2021)
df_MIL = get_roster('MIL', 2021)
df_MIN = get_roster('MIN', 2021)
df_NOP = get_roster('NOP', 2021)
df_NYK = get_roster('NYK', 2021)
df_OKC = get_roster('OKC', 2021)
df_ORL = get_roster('ORL', 2021)
df_PHO = get_roster('PHO', 2021)
df_POR = get_roster('POR', 2021)
df_SAC = get_roster('SAC', 2021)
df_SAS = get_roster('SAS', 2021)
df_TOR = get_roster('TOR', 2021)
df_UTA = get_roster('UTA', 2021)
df_WAS = get_roster('WAS', 2021)

In [22]:
df_DAL.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,2,Tyler Bey,SF,6-7,215,1998-02-10,US,R,Colorado
1,13,Jalen Brunson,PG,6-1,190,1996-08-31,US,2,Villanova
2,3,Trey Burke,PG,6-0,185,1992-11-12,US,7,Michigan
3,33,Willie Cauley-Stein,C,7-0,240,1993-08-18,US,5,Kentucky
4,77,Luka Doni,PG,6-7,230,1999-02-28,SI,2,NaN

In [25]:
list_of_teams = [df_ATL, df_BOS, df_BRK, df_CHI, df_CHA, df_CLE, df_DAL,
                 df_DEN, df_DET, df_GSW, df_PHI, df_HOU, df_IND, df_LAC, df_LAL,
                 df_MEM, df_MIA, df_MIL, df_MIN, df_NOP, df_NYK, df_OKC,
                 df_ORL, df_PHO, df_POR, df_SAC, df_SAS, df_TOR, df_UTA, df_WAS]

In [29]:
type(list_of_teams)

list

In [33]:
import pandas as pd
df_raw = pd.concat(list_of_teams)
df_raw.tail()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
16,12,Jerome Robinson,SG,6-4,190,1997-02-22,US,2,Boston College
17,14,Ish Smith,PG,6-0,175,1988-07-05,US,10,Wake Forest
18,21,Moritz Wagner,C,6-11,245,1997-04-26,DE,2,Michigan
19,4,Russell Westbrook,PG,6-3,200,1988-11-12,US,12,UCLA
20,5,Cassius Winston,PG,6-1,185,1998-02-28,US,R,Michigan State

In [36]:
bron = get_stats('Lebron James', stat_type='PER_GAME', career=False)
bron

You searched for "Lebron James"
5 results found.
0: LeBron James
1: Aaron James
2: Damion James
3: Henry James
4: Jerome James
Pick one: 0
Results for LeBron James:

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2003-04,19.0,CLE,NBA,SG,79.0,79.0,39.5,7.9,18.9,...,0.754,1.3,4.2,5.5,5.9,1.6,0.7,3.5,1.9,20.9
1,2004-05,20.0,CLE,NBA,SF,80.0,80.0,42.4,9.9,21.1,...,0.750,1.4,6.0,7.4,7.2,2.2,0.7,3.3,1.8,27.2
2,2005-06,21.0,CLE,NBA,SF,79.0,79.0,42.5,11.1,23.1,...,0.738,0.9,6.1,7.0,6.6,1.6,0.8,3.3,2.3,31.4
3,2006-07,22.0,CLE,NBA,SF,78.0,78.0,40.9,9.9,20.8,...,0.698,1.1,5.7,6.7,6.0,1.6,0.7,3.2,2.2,27.3
4,2007-08,23.0,CLE,NBA,SF,75.0,74.0,40.4,10.6,21.9,...,0.712,1.8,6.1,7.9,7.2,1.8,1.1,3.4,2.2,30.0
5,2008-09,24.0,CLE,NBA,SF,81.0,81.0,37.7,9.7,19.9,...,0.780,1.3,6.3,7.6,7.2,1.7,1.1,3.0,1.7,28.4
6,2009-10,25.0,CLE,NBA,SF,76.0,76.0,39.0,10.1,20.1,...,0.767,0.9,6.4,7.3,8.6,1.6,1.0,3.4,1.6,29.7
7,2010-11,26.0,MIA,NBA,SF,79.0,79.0,38.8,9.6,18.8,...,0.759,1.0,6.5,7.5,7.0,1.6,0.6,3.6,2.1,26.7
8,2011-12,27.0,MIA,NBA,SF,62.0,62.0,37.5,10.0,18.9,...,0.771,1.5,6.4,7.9,6.2,1.9,0.8,3.4,1.5,27.1
9,2012-13,28.0,MIA,NBA,PF,76.0,76.0,37.9,10.1,17.8,...,0.753,1.3,6.8,8.0,7.3,1.7,0.9,3.0,1.4,26.8
10,2013-14,29.0,MIA,NBA,PF,77.0,77.0,37.7,10.0,17.6,...,0.750,1.1,5.9,6.9,6.3,1.6,0.3,3.5,1.6,27.1
11,2014-15,30.0,CLE,NBA,SF,69.0,69.0,36.1,9.0,18.5,...,0.710,0.7,5.3,6.0,7.4,1.6,0.7,3.9,2.0,25.3
12,2015-16,31.0,CLE,NBA,SF,76.0,76.0,35.6,9.7,18.6,...,0.731,1.5,6.0,7.4,6.8,1.4,0.6,3.3,1.9,25.3
13,2016-17,32.0,CLE,NBA,SF,74.0,74.0,37.8,9.9,18.2,...,0.674,1.3,7.3,8.6,8.7,1.2,0.6,4.1,1.8,26.4
14,2017-18,33.0,CLE,NBA,PF,82.0,82.0,36.9,10.5,19.3,...,0.731,1.2,7.5,8.6,9.1,1.4,0.9,4.2,1.7,27.5
15,2018-19,34.0,LAL,NBA,SF,55.0,55.0,35.2,10.1,19.9,...,0.665,1.0,7.4,8.5,8.3,1.3,0.6,3.6,1.7,27.4
16,2019-20,35.0,LAL,NBA,PG,67.0,67.0,34.6,9.6,19.4,...,0.693,1.0,6.9,7.8,10.2,1.2,0.5,3.9,1.8,25.3
17,2020-21,36.0,LAL,NBA,PG,45.0,45.0,33.4,9.4,18.3,...,0.698,0.6,7.0,7.7,7.8,1.1,0.6,3.7,1.6,25.0

In [41]:
df_bron = df_raw[df_raw['PLAYER'] =='LeBron James']
df_bron

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
11,23,LeBron James,PG,6-9,250,1984-12-30,US,17,NaN

In [42]:
pierce = get_stats('Paul Pierce', stat_type='PER_GAME', career=False)
pierce

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1998-99,21.0,BOS,NBA,SF,48.0,47.0,34.0,5.9,13.5,...,0.713,2.4,4.0,6.4,2.4,1.7,1.0,2.4,2.9,16.5
1,1999-00,22.0,BOS,NBA,SF,73.0,72.0,35.4,6.7,15.1,...,0.798,1.1,4.3,5.4,3.0,2.1,0.8,2.4,3.2,19.5
2,2000-01,23.0,BOS,NBA,SF,82.0,82.0,38.0,8.4,18.5,...,0.745,1.1,5.2,6.4,3.1,1.7,0.8,3.2,3.1,25.3
3,2001-02,24.0,BOS,NBA,SG,82.0,82.0,40.3,8.6,19.5,...,0.809,1.0,5.9,6.9,3.2,1.9,1.0,2.9,2.9,26.1
4,2002-03,25.0,BOS,NBA,SG,79.0,79.0,39.2,8.4,20.2,...,0.802,1.3,6.0,7.3,4.4,1.8,0.8,3.6,2.9,25.9
5,2003-04,26.0,BOS,NBA,SG,80.0,80.0,38.7,7.5,18.7,...,0.819,0.9,5.7,6.5,5.1,1.6,0.7,3.8,2.9,23.0
6,2004-05,27.0,BOS,NBA,SF,82.0,82.0,36.1,6.8,14.9,...,0.822,1.0,5.6,6.6,4.2,1.6,0.5,2.8,3.1,21.6
7,2005-06,28.0,BOS,NBA,SF,79.0,79.0,39.0,8.7,18.5,...,0.772,1.0,5.7,6.7,4.7,1.4,0.4,3.5,2.8,26.8
8,2006-07,29.0,BOS,NBA,SG,47.0,46.0,37.0,7.9,18.1,...,0.796,0.8,5.1,5.9,4.1,1.0,0.3,3.2,2.6,25.0
9,2007-08,30.0,BOS,NBA,SF,80.0,80.0,35.9,6.4,13.7,...,0.843,0.7,4.5,5.1,4.5,1.3,0.5,2.8,2.5,19.6
10,2008-09,31.0,BOS,NBA,SF,81.0,81.0,37.5,6.7,14.6,...,0.830,0.7,5.0,5.6,3.6,1.0,0.3,2.8,2.7,20.5
11,2009-10,32.0,BOS,NBA,SF,71.0,71.0,34.0,5.8,12.2,...,0.852,0.5,3.8,4.4,3.1,1.2,0.4,2.3,2.8,18.3
12,2010-11,33.0,BOS,NBA,SF,80.0,80.0,34.7,6.3,12.8,...,0.860,0.4,5.0,5.4,3.3,1.0,0.6,2.1,2.9,18.9
13,2011-12,34.0,BOS,NBA,SF,61.0,61.0,34.0,6.5,14.6,...,0.852,0.6,4.6,5.2,4.5,1.1,0.4,2.8,2.4,19.4
14,2012-13,35.0,BOS,NBA,SF,77.0,77.0,33.4,6.2,14.2,...,0.787,0.6,5.7,6.3,4.8,1.1,0.4,2.8,2.7,18.6
15,2013-14,36.0,BRK,NBA,SF,75.0,68.0,28.0,4.3,9.5,...,0.826,0.3,4.3,4.6,2.4,1.1,0.4,2.0,2.5,13.5
16,2014-15,37.0,WAS,NBA,SF,73.0,73.0,26.2,4.0,9.0,...,0.781,0.6,3.4,4.0,2.0,0.6,0.3,1.3,2.2,11.9
17,2015-16,38.0,LAC,NBA,SF,68.0,38.0,18.1,2.1,5.8,...,0.818,0.2,2.6,2.7,1.0,0.5,0.3,0.9,1.9,6.1
18,2016-17,39.0,LAC,NBA,SF,25.0,7.0,11.1,1.1,2.8,...,0.769,0.0,1.9,1.9,0.4,0.2,0.2,0.6,1.6,3.2

In [43]:
pierce

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1998-99,21.0,BOS,NBA,SF,48.0,47.0,34.0,5.9,13.5,...,0.713,2.4,4.0,6.4,2.4,1.7,1.0,2.4,2.9,16.5
1,1999-00,22.0,BOS,NBA,SF,73.0,72.0,35.4,6.7,15.1,...,0.798,1.1,4.3,5.4,3.0,2.1,0.8,2.4,3.2,19.5
2,2000-01,23.0,BOS,NBA,SF,82.0,82.0,38.0,8.4,18.5,...,0.745,1.1,5.2,6.4,3.1,1.7,0.8,3.2,3.1,25.3
3,2001-02,24.0,BOS,NBA,SG,82.0,82.0,40.3,8.6,19.5,...,0.809,1.0,5.9,6.9,3.2,1.9,1.0,2.9,2.9,26.1
4,2002-03,25.0,BOS,NBA,SG,79.0,79.0,39.2,8.4,20.2,...,0.802,1.3,6.0,7.3,4.4,1.8,0.8,3.6,2.9,25.9
5,2003-04,26.0,BOS,NBA,SG,80.0,80.0,38.7,7.5,18.7,...,0.819,0.9,5.7,6.5,5.1,1.6,0.7,3.8,2.9,23.0
6,2004-05,27.0,BOS,NBA,SF,82.0,82.0,36.1,6.8,14.9,...,0.822,1.0,5.6,6.6,4.2,1.6,0.5,2.8,3.1,21.6
7,2005-06,28.0,BOS,NBA,SF,79.0,79.0,39.0,8.7,18.5,...,0.772,1.0,5.7,6.7,4.7,1.4,0.4,3.5,2.8,26.8
8,2006-07,29.0,BOS,NBA,SG,47.0,46.0,37.0,7.9,18.1,...,0.796,0.8,5.1,5.9,4.1,1.0,0.3,3.2,2.6,25.0
9,2007-08,30.0,BOS,NBA,SF,80.0,80.0,35.9,6.4,13.7,...,0.843,0.7,4.5,5.1,4.5,1.3,0.5,2.8,2.5,19.6
10,2008-09,31.0,BOS,NBA,SF,81.0,81.0,37.5,6.7,14.6,...,0.830,0.7,5.0,5.6,3.6,1.0,0.3,2.8,2.7,20.5
11,2009-10,32.0,BOS,NBA,SF,71.0,71.0,34.0,5.8,12.2,...,0.852,0.5,3.8,4.4,3.1,1.2,0.4,2.3,2.8,18.3
12,2010-11,33.0,BOS,NBA,SF,80.0,80.0,34.7,6.3,12.8,...,0.860,0.4,5.0,5.4,3.3,1.0,0.6,2.1,2.9,18.9
13,2011-12,34.0,BOS,NBA,SF,61.0,61.0,34.0,6.5,14.6,...,0.852,0.6,4.6,5.2,4.5,1.1,0.4,2.8,2.4,19.4
14,2012-13,35.0,BOS,NBA,SF,77.0,77.0,33.4,6.2,14.2,...,0.787,0.6,5.7,6.3,4.8,1.1,0.4,2.8,2.7,18.6
15,2013-14,36.0,BRK,NBA,SF,75.0,68.0,28.0,4.3,9.5,...,0.826,0.3,4.3,4.6,2.4,1.1,0.4,2.0,2.5,13.5
16,2014-15,37.0,WAS,NBA,SF,73.0,73.0,26.2,4.0,9.0,...,0.781,0.6,3.4,4.0,2.0,0.6,0.3,1.3,2.2,11.9
17,2015-16,38.0,LAC,NBA,SF,68.0,38.0,18.1,2.1,5.8,...,0.818,0.2,2.6,2.7,1.0,0.5,0.3,0.9,1.9,6.1
18,2016-17,39.0,LAC,NBA,SF,25.0,7.0,11.1,1.1,2.8,...,0.769,0.0,1.9,1.9,0.4,0.2,0.2,0.6,1.6,3.2