In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2013-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_WAS = []

# WAS
while season <= 2021:
    df_WAS = get_roster('WAS', season)
    df_WAS['Season'] = season
    df_WAS['Team'] = 'WAS'
    appended_data_WAS.append(df_WAS)
    season = season + 1
appended_data_WAS = pd.concat(appended_data_WAS)

In [4]:
WAS_df_all = appended_data_WAS.copy()
WAS_df_all_csv = WAS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_players_all.csv', index=False)
WAS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_players_all.csv')
WAS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Isaac Austin,C,6-10,255,1969-08-18,US,6,Arizona State,2000,WAS
1,52,Calvin Booth,C,6-11,230,1976-05-07,US,R,Penn State,2000,WAS
2,32,Richard Hamilton,SG,6-6,185,1978-02-14,US,R,UConn,2000,WAS
3,5,Juwan Howard,PF,6-9,240,1973-02-07,US,5,Michigan,2000,WAS
4,10,Reggie Jordan,PG,6-4,195,1968-01-26,US,5,New Mexico State,2000,WAS

In [5]:
WAS_df_2000 = WAS_df_all[WAS_df_all['Season'] == 2000]
WAS_df_2001 = WAS_df_all[WAS_df_all['Season'] == 2001]
WAS_df_2002 = WAS_df_all[WAS_df_all['Season'] == 2002]
WAS_df_2003 = WAS_df_all[WAS_df_all['Season'] == 2003]
WAS_df_2004 = WAS_df_all[WAS_df_all['Season'] == 2004]
WAS_df_2005 = WAS_df_all[WAS_df_all['Season'] == 2005]
WAS_df_2006 = WAS_df_all[WAS_df_all['Season'] == 2006]
WAS_df_2007 = WAS_df_all[WAS_df_all['Season'] == 2007]
WAS_df_2008 = WAS_df_all[WAS_df_all['Season'] == 2008]
WAS_df_2009 = WAS_df_all[WAS_df_all['Season'] == 2009]
WAS_df_2010 = WAS_df_all[WAS_df_all['Season'] == 2010]
WAS_df_2011 = WAS_df_all[WAS_df_all['Season'] == 2011]
WAS_df_2012 = WAS_df_all[WAS_df_all['Season'] == 2012]
WAS_df_2013 = WAS_df_all[WAS_df_all['Season'] == 2013]
WAS_df_2014 = WAS_df_all[WAS_df_all['Season'] == 2014]
WAS_df_2015 = WAS_df_all[WAS_df_all['Season'] == 2015]
WAS_df_2016 = WAS_df_all[WAS_df_all['Season'] == 2016]
WAS_df_2017 = WAS_df_all[WAS_df_all['Season'] == 2017]
WAS_df_2018 = WAS_df_all[WAS_df_all['Season'] == 2018]
WAS_df_2019 = WAS_df_all[WAS_df_all['Season'] == 2019]
WAS_df_2020 = WAS_df_all[WAS_df_all['Season'] == 2020]
WAS_df_2021 = WAS_df_all[WAS_df_all['Season'] == 2021]

In [6]:
# changing names
#WAS_df_2002.loc[WAS_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#WAS_df_2004.loc[WAS_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
WAS_df_2000_players = WAS_df_2000['PLAYER'].to_list()
WAS_df_2001_players = WAS_df_2001['PLAYER'].to_list()
WAS_df_2002_players = WAS_df_2002['PLAYER'].to_list()
WAS_df_2003_players = WAS_df_2003['PLAYER'].to_list()
WAS_df_2004_players = WAS_df_2004['PLAYER'].to_list()
WAS_df_2005_players = WAS_df_2005['PLAYER'].to_list()

WAS_df_2006_players = WAS_df_2006['PLAYER'].to_list()
WAS_df_2007_players = WAS_df_2007['PLAYER'].to_list()
WAS_df_2008_players = WAS_df_2008['PLAYER'].to_list()
WAS_df_2009_players = WAS_df_2009['PLAYER'].to_list()
WAS_df_2010_players = WAS_df_2010['PLAYER'].to_list()
WAS_df_2011_players = WAS_df_2011['PLAYER'].to_list()

WAS_df_2012_players = WAS_df_2012['PLAYER'].to_list()
WAS_df_2013_players = WAS_df_2013['PLAYER'].to_list()
WAS_df_2014_players = WAS_df_2014['PLAYER'].to_list()
WAS_df_2015_players = WAS_df_2015['PLAYER'].to_list()
WAS_df_2016_players = WAS_df_2016['PLAYER'].to_list()
WAS_df_2017_players = WAS_df_2017['PLAYER'].to_list()

WAS_df_2018_players = WAS_df_2018['PLAYER'].to_list()
WAS_df_2019_players = WAS_df_2019['PLAYER'].to_list()
WAS_df_2020_players = WAS_df_2020['PLAYER'].to_list()
WAS_df_2021_players = WAS_df_2021['PLAYER'].to_list()

## players to drop

In [70]:
#WAS_df_2000_players.remove("Michael Smith")
#WAS_df_2001_players.remove("Michael Smith")
#WAS_df_2005_players.remove("Peter John Ramos")
#WAS_df_2009_players.remove("Dee Brown")
#WAS_df_2011_players.remove("Hamady N'Diaye")
#WAS_df_2012_players.remove("Nenê Hilário")
#WAS_df_2012_players.remove("Hamady N'Diaye")
#WAS_df_2013_players.remove("Nenê Hilário")
#WAS_df_2014_players.remove("Nenê Hilário")
#WAS_df_2015_players.remove("Nenê Hilário")
#WAS_df_2016_players.remove("Nenê Hilário")
#WAS_df_2014_players.remove("Glen Rice")
#WAS_df_2015_players.remove("Glen Rice")
#WAS_df_2016_players.remove("Kelly Oubre")
#WAS_df_2017_players.remove("Sheldon Mac")
#WAS_df_2017_players.remove("Kelly Oubre")
#WAS_df_2018_players.remove("Kelly Oubre")
#WAS_df_2019_players.remove("Kelly Oubre")
#WAS_df_2019_players.remove("Troy Brown")
#WAS_df_2019_players.remove("Gary Payton")
#WAS_df_2020_players.remove("Gary Payton")
#WAS_df_2020_players.remove("Troy Brown")
#WAS_df_2021_players.remove("Troy Brown")
#WAS_df_2021_players.remove("Anthony Gill")
WAS_df_2012_players.remove("Hamady N'Diaye")

In [10]:

WAS_2000_gamelog = []


for p in WAS_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2000_gamelog.append(player_log)
WAS_2000_gamelog = pd.concat(WAS_2000_gamelog)    
WAS_2000_gamelogs = WAS_2000_gamelog.copy()
WAS_2000_gamelogs['GAME_SCORE'] = WAS_2000_gamelogs['GAME_SCORE'].astype(float)
WAS_2000_games = WAS_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2000_games_csv = WAS_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2000_games.csv', index=False)
WAS_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2000_games.csv')
WAS_2000_games_proc.head()

You searched for "Isaac Austin"
1 result found.
Isaac Austin
Results for Isaac Austin:

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Richard Hamilton"
2 results found.
0: Richard Hamilton
1: Richard Morton
Pick one: 0
Results for Richard Hamilton:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "Reggie Jordan"
6 results found.
0: Reggie Jordan
1: Eddie Jordan
2: Reggie Harding
3: Reggie Johnson
4: Jerome Jordan
5: Reggie Evans
Pick one: 0
Results for Reggie Jordan:

You searched for "Gerard King"
4 results found.
0: Gerard King
1: Bernard King
2: George King
3: George King
Pick one: 0
Results for Gerard King:

You searched for "Tracy Murray"
4 results found.
0: Tracy Murray
1: Tracy McGrady
2: Tracy Moore
3: Troy Murphy
Pick one: 0
Results for Tracy Murray:

You searched for "Laron Profit"
1 result found.
Laron Profit
Results for Laron Profit:

You searched for "Don Reid"
33 results found.
0: Don Reid
1: Ron Reed
2: Don Dee
3: Don Ford
4: Don Ray
5: Davon Reed
6: Jim Reid
7: Naz Reid
8: Ryan Reid
9: Don Buse
10: Don Grate
11: John Greig
12: Don Kojis
13: Ron Lee
14: Don Martin
15: Don May
16: Don Ohl
17: Hub Reed
18: J.R. Reid
19: John Rudd
20: Don Smith
21: Don Smith
22: Don Boven
23: John Drew
24: Deng Gai
25: Ron Horn
26: Doug Lee
27: Don Otten
28: Ron Riley
29: Rob Rose
30: Bob Rule
31: Doug Moe
32: Ron Moore
Pick one: 0
Results for Don Reid:

You searched for "Mitch Richmond"
1 result found.
Mitch Richmond
Results for Mitch Richmond:

You searched for "Rod Strickland"
4 results found.
0: Rod Strickland
1: Roger Strickland
2: Erick Strickland
3: Mark Strickland
Pick one: 0
Results for Rod Strickland:

You searched for "Jahidi White"
3 results found.
0: Jahidi White
1: James White
2: Randy White
Pick one: 0
Results for Jahidi White:

You searched for "Chris Whitney"
4 results found.
0: Chris Whitney
1: Kahlil Whitney
2: Chris Anstey
3: Hank Whitney
Pick one: 0
Results for Chris Whitney:

You searched for "Aaron Williams"
39 results found.
0: Aaron Williams
1: Deron Williams
2: Jason Williams
3: Ron Williams
4: Alan Williams
5: Alvin Williams
6: Art Williams
7: Earl Williams
8: Jayson Williams
9: Marvin Williams
10: Rob Williams
11: Troy Williams
12: Ward Williams
13: Al Williams
14: Bob Williams
15: Brandon Williams
16: Corey Williams
17: Eric Williams
18: Frank Williams
19: Grant Williams
20: Hank Williams
21: Herb Williams
22: Jawad Williams
23: Jay Williams
24: Jerome Williams
25: John Williams
26: Jordan Williams
27: Kevin Williams
28: Lou Williams
29: Marcus Williams
30: Marcus Williams
31: Matt Williams
32: Mo Williams
33: Nate Williams
34: Ray Williams
35: Sam Williams
36: Sam Williams
37: Sean Williams
38: Walt Williams
Pick one: 0
Results for Aaron Williams:

You searched for "Lorenzo Williams"
2 results found.
0: Lorenzo Williams
1: Corey Williams
Pick one: 0
Results for Lorenzo Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-03-08,34-252,WAS,HOME,NYK,W (+5),1,45:10,12,19,...,5,4,4,1,2,3,32,28.9,14,Mitch Richmond
1,2000-01-21,26-348,WAS,HOME,IND,W (+10),1,44:26,16,26,...,10,5,0,0,1,4,36,28.5,16,Juwan Howard
2,2000-01-21,33-194,WAS,HOME,IND,W (+10),1,40:30,9,13,...,8,7,1,2,3,1,27,27.8,11,Rod Strickland
3,2000-03-16,34-260,WAS,HOME,LAL,W (+7),1,38:51,7,15,...,2,3,3,0,2,1,32,27.2,14,Mitch Richmond
4,2000-04-18,28-196,WAS,HOME,BOS,L (-33),1,48:00,6,11,...,1,9,2,0,1,1,25,26.5,-33,Chris Whitney

In [13]:

WAS_2001_gamelog = []


for p in WAS_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2001_gamelog.append(player_log)
WAS_2001_gamelog = pd.concat(WAS_2001_gamelog)    
WAS_2001_gamelogs = WAS_2001_gamelog.copy()
WAS_2001_gamelogs['GAME_SCORE'] = WAS_2001_gamelogs['GAME_SCORE'].astype(float)
WAS_2001_games = WAS_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2001_games_csv = WAS_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2001_games.csv', index=False)
WAS_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2001_games.csv')
WAS_2001_games_proc.head()

You searched for "Courtney Alexander"
2 results found.
0: Courtney Alexander
1: Cory Alexander
Pick one: 0
Results for Courtney Alexander:

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Hubert Davis"
5 results found.
0: Hubert Davis
1: Aubrey Davis
2: Ben Davis
3: Harry Davis
4: Tyler Davis
Pick one: 0
Results for Hubert Davis:

You searched for "Obinna Ekezie"
1 result found.
Obinna Ekezie
Results for Obinna Ekezie:

You searched for "Richard Hamilton"
2 results found.
0: Richard Hamilton
1: Richard Morton
Pick one: 0
Results for Richard Hamilton:

You searched for "Juwan Howard"
4 results found.
0: Juwan Howard
1: Brian Howard
2: Josh Howard
3: Juwan Morgan
Pick one: 0
Results for Juwan Howard:

You searched for "Popeye Jones"
6 results found.
0: Popeye Jones
1: Bobby Jones
2: Bobby Jones
3: Ozell Jones
4: Perry Jones
5: Steve Jones
Pick one: 0
Results for Popeye Jones:

You searched for "Gerard King"
4 results found.
0: Gerard King
1: Bernard King
2: George King
3: George King
Pick one: 0
Results for Gerard King:

You searched for "Christian Laettner"
1 result found.
Christian Laettner
Results for Christian Laettner:

You searched for "Felipe López"
1 result found.
Felipe Lopez
Results for Felipe Lopez:

You searched for "Tyrone Nesby"
1 result found.
Tyrone Nesby
Results for Tyrone Nesby:

You searched for "Cherokee Parks"
2 results found.
0: Cherokee Parks
1: Charles Parks
Pick one: 0
Results for Cherokee Parks:

You searched for "Laron Profit"
1 result found.
Laron Profit
Results for Laron Profit:

You searched for "Mitch Richmond"
1 result found.
Mitch Richmond
Results for Mitch Richmond:

You searched for "Mike Smith"
53 results found.
0: Mike Smith
1: Mike Scott
2: Bill Smith
3: Ish Smith
4: Jim Smith
5: Joe Smith
6: Ken Smith
7: Pete Smith
8: Rik Smits
9: Mike Smrek
10: Jalen Smith
11: Mike Bratz
12: Mike Dabich
13: Mike Pratt
14: Mike Price
15: Al Smith
16: Bingo Smith
17: Deb Smith
18: Derek Smith
19: Don Smith
20: Don Smith
21: Doug Smith
22: Ed Smith
23: Elmore Smith
24: Greg Smith
25: Greg Smith
26: J.R. Smith
27: John Smith
28: Josh Smith
29: Keith Smith
30: Leon Smith
31: Michael Smith
32: Michael Smith
33: Otis Smith
34: Phil Smith
35: Russ Smith
36: Sam Smith
37: Sam Smith
38: Steve Smith
39: Tony Smith
40: Willie Smith
41: Zhaire Smith
42: Joe Smyth
43: Mike Bloom
44: Mike Davis
45: Mike Davis
46: Mike Evans
47: Mike Hall
48: Mike James
49: Mike James
50: Mike Lewis
51: Mike Niles
52: Mike Wilks
Pick one: 0
Results for Mike Smith:

You searched for "Rod Strickland"
4 results found.
0: Rod Strickland
1: Roger Strickland
2: Erick Strickland
3: Mark Strickland
Pick one: 0
Results for Rod Strickland:

You searched for "David Vanterpool"
1 result found.
David Vanterpool
Results for David Vanterpool:

You searched for "Loy Vaught"
3 results found.
0: Loy Vaught
1: Bob Faught
2: Roy Pugh
Pick one: 0
Results for Loy Vaught:

You searched for "Jahidi White"
3 results found.
0: Jahidi White
1: James White
2: Randy White
Pick one: 0
Results for Jahidi White:

You searched for "Chris Whitney"
4 results found.
0: Chris Whitney
1: Kahlil Whitney
2: Chris Anstey
3: Hank Whitney
Pick one: 0
Results for Chris Whitney:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-03-29,23-043,WAS,HOME,GSW,W (+16),1,45:27,17,25,...,9,8,1,0,4,0,41,36.4,10,Richard Hamilton
1,2001-01-04,29-091,WAS,AWAY,CHI,L (-2),1,43:39,10,17,...,2,11,6,0,2,3,27,30.2,4,Chris Whitney
2,2000-12-31,27-328,WAS,HOME,DET,W (+14),1,34:42,10,16,...,7,1,2,0,1,3,35,30.0,15,Juwan Howard
3,2001-03-14,23-028,WAS,HOME,DET,W (+7),1,45:50,15,23,...,3,4,1,0,4,5,40,28.2,1,Richard Hamilton
4,2001-04-07,23-052,WAS,HOME,BOS,L (-2),1,45:11,14,25,...,5,3,0,0,3,1,38,27.1,0,Richard Hamilton

In [14]:

WAS_2002_gamelog = []


for p in WAS_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2002_gamelog.append(player_log)
WAS_2002_gamelog = pd.concat(WAS_2002_gamelog)    
WAS_2002_gamelogs = WAS_2002_gamelog.copy()
WAS_2002_gamelogs['GAME_SCORE'] = WAS_2002_gamelogs['GAME_SCORE'].astype(float)
WAS_2002_games = WAS_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2002_games_csv = WAS_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2002_games.csv', index=False)
WAS_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2002_games.csv')
WAS_2002_games_proc.head()

You searched for "Courtney Alexander"
2 results found.
0: Courtney Alexander
1: Cory Alexander
Pick one: 0
Results for Courtney Alexander:

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Hubert Davis"
5 results found.
0: Hubert Davis
1: Aubrey Davis
2: Ben Davis
3: Harry Davis
4: Tyler Davis
Pick one: 0
Results for Hubert Davis:

You searched for "Richard Hamilton"
2 results found.
0: Richard Hamilton
1: Richard Morton
Pick one: 0
Results for Richard Hamilton:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Popeye Jones"
6 results found.
0: Popeye Jones
1: Bobby Jones
2: Bobby Jones
3: Ozell Jones
4: Perry Jones
5: Steve Jones
Pick one: 0
Results for Popeye Jones:

You searched for "Michael Jordan"
7 results found.
0: Michael Jordan
1: Michael Doleac
2: Michael Holton
3: Michael Porter
4: Michael Adams
5: Michael Cooper
6: Michael Young
Pick one: 0
Results for Michael Jordan:

You searched for "Christian Laettner"
1 result found.
Christian Laettner
Results for Christian Laettner:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Tyrone Nesby"
1 result found.
Tyrone Nesby
Results for Tyrone Nesby:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Jahidi White"
3 results found.
0: Jahidi White
1: James White
2: Randy White
Pick one: 0
Results for Jahidi White:

You searched for "Chris Whitney"
4 results found.
0: Chris Whitney
1: Kahlil Whitney
2: Chris Anstey
3: Hank Whitney
Pick one: 0
Results for Chris Whitney:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-12-29,38-315,WAS,HOME,CHH,W (+17),1,38:13,21,38,...,7,4,3,0,4,3,51,35.9,24,Michael Jordan
1,2001-12-31,38-317,WAS,HOME,NJN,W (+22),1,38:28,16,32,...,10,7,3,0,3,2,45,35.7,26,Michael Jordan
2,2001-11-16,38-272,WAS,HOME,UTA,L (-9),1,41:03,17,33,...,7,3,1,0,0,0,44,33.3,-11,Michael Jordan
3,2002-01-26,38-343,WAS,HOME,PHO,W (+10),1,39:54,17,30,...,4,7,2,0,2,2,41,32.1,18,Michael Jordan
4,2002-01-24,38-341,WAS,HOME,CLE,W (+9),1,39:53,18,29,...,8,2,2,0,0,2,40,31.1,9,Michael Jordan

In [15]:

    
WAS_2003_gamelog = []



for p in WAS_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2003_gamelog.append(player_log)
WAS_2003_gamelog = pd.concat(WAS_2003_gamelog)    
WAS_2003_gamelogs = WAS_2003_gamelog.copy()
WAS_2003_gamelogs['GAME_SCORE'] = WAS_2003_gamelogs['GAME_SCORE'].astype(float)
WAS_2003_games = WAS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2003_games_csv = WAS_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2003_games.csv', index=False)
WAS_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2003_games.csv')
WAS_2003_games_proc.head()

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Brian Cardinal"
2 results found.
0: Brian Cardinal
1: Brian Martin
Pick one: 0
Results for Brian Cardinal:

You searched for "Juan Dixon"
1 result found.
Juan Dixon
Results for Juan Dixon:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Michael Jordan"
7 results found.
0: Michael Jordan
1: Michael Doleac
2: Michael Holton
3: Michael Porter
4: Michael Adams
5: Michael Cooper
6: Michael Young
Pick one: 0
Results for Michael Jordan:

You searched for "Christian Laettner"
1 result found.
Christian Laettner
Results for Christian Laettner:

You searched for "Tyronn Lue"
3 results found.
0: Tyronn Lue
1: Ron Lee
2: Tyrone Hill
Pick one: 0
Results for Tyronn Lue:

You searched for "Charles Oakley"
8 results found.
0: Charles Oakley
1: Charles Barkley
2: Charles Beasley
3: Charles Bradley
4: Charles Dudley
5: Charles Cooke
6: Charles Jordan
7: Charles Thomas
Pick one: 0
Results for Charles Oakley:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Jerry Stackhouse"
1 result found.
Jerry Stackhouse
Results for Jerry Stackhouse:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Jahidi White"
3 results found.
0: Jahidi White
1: James White
2: Randy White
Pick one: 0
Results for Jahidi White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-02-21,40-004,WAS,HOME,NJN,W (+3),1,43:01,18,30,...,10,3,4,1,1,2,43,36.8,9,Michael Jordan
1,2003-01-04,39-321,WAS,HOME,IND,W (+3),1,52:48,14,26,...,12,4,3,0,2,2,41,35.4,15,Michael Jordan
2,2003-03-15,28-130,WAS,HOME,MIA,W (+7),1,41:48,11,22,...,5,5,1,1,0,1,37,32.3,2,Jerry Stackhouse
3,2003-02-01,39-349,WAS,HOME,NOH,W (+5),1,43:53,18,33,...,3,6,1,1,2,5,45,31.9,14,Michael Jordan
4,2002-11-06,28-001,WAS,HOME,CLE,W (+7),1,36:56,9,16,...,5,3,3,1,4,0,35,30.3,13,Jerry Stackhouse

In [16]:


WAS_2004_gamelog = []



for p in WAS_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2004_gamelog.append(player_log)
WAS_2004_gamelog = pd.concat(WAS_2004_gamelog)    
WAS_2004_gamelogs = WAS_2004_gamelog.copy()
WAS_2004_gamelogs['GAME_SCORE'] = WAS_2004_gamelogs['GAME_SCORE'].astype(float)
WAS_2004_games = WAS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2004_games_csv = WAS_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2004_games.csv', index=False)
WAS_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2004_games.csv')
WAS_2004_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Lonny Baxter"
3 results found.
0: Lonny Baxter
1: Sonny Parker
2: Kenny Battle
Pick one: 0
Results for Lonny Baxter:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Torraye Braggs"
1 result found.
Torraye Braggs
Results for Torraye Braggs:

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Mitchell Butler"
1 result found.
Mitchell Butler
Results for Mitchell Butler:

You searched for "Juan Dixon"
1 result found.
Juan Dixon
Results for Juan Dixon:

You searched for "Jarvis Hayes"
4 results found.
0: Jarvis Hayes
1: Elvin Hayes
2: Jaxson Hayes
3: Jim Hayes
Pick one: 0
Results for Jarvis Hayes:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Brevin Knight"
5 results found.
0: Brevin Knight
1: Brandin Knight
2: Travis Knight
3: Brandon Knight
4: Ron Knight
Pick one: 0
Results for Brevin Knight:

You searched for "Christian Laettner"
1 result found.
Christian Laettner
Results for Christian Laettner:

You searched for "Jerry Stackhouse"
1 result found.
Jerry Stackhouse
Results for Jerry Stackhouse:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Jahidi White"
3 results found.
0: Jahidi White
1: James White
2: Randy White
Pick one: 0
Results for Jahidi White:

You searched for "Chris Whitney"
4 results found.
0: Chris Whitney
1: Kahlil Whitney
2: Chris Anstey
3: Hank Whitney
Pick one: 0
Results for Chris Whitney:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-01-10,24-352,WAS,HOME,PHI,W (+7),1,42:40,17,29,...,5,2,5,1,2,2,43,36.1,12,Larry Hughes
1,2004-03-17,22-007,WAS,HOME,SAC,W (+6),1,48:00,12,16,...,19,3,2,0,1,2,30,34.0,6,Kwame Brown
2,2003-12-16,24-327,WAS,HOME,UTA,W (+4),1,41:14,10,21,...,3,2,3,1,1,1,38,31.1,4,Larry Hughes
3,2003-11-11,21-309,WAS,HOME,PHI,L (-7),1,44:56,11,24,...,7,10,3,0,2,6,36,30.5,-4,Gilbert Arenas
4,2004-04-04,22-089,WAS,HOME,BOS,W (+10),1,41:53,10,15,...,4,4,5,0,4,2,32,29.7,13,Gilbert Arenas

In [19]:

WAS_2005_gamelog = []



for p in WAS_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2005_gamelog.append(player_log)
WAS_2005_gamelog = pd.concat(WAS_2005_gamelog)    
WAS_2005_gamelogs = WAS_2005_gamelog.copy()
WAS_2005_gamelogs['GAME_SCORE'] = WAS_2005_gamelogs['GAME_SCORE'].astype(float)
WAS_2005_games = WAS_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2005_games_csv = WAS_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2005_games.csv', index=False)
WAS_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2005_games.csv')
WAS_2005_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Steve Blake"
11 results found.
0: Steve Blake
1: Steve Bracey
2: Steve Bardo
3: Steve Burtt
4: Steve Hamer
5: Steve Hawes
6: Steve Hayes
7: Steve Nash
8: Steve Novak
9: Steve Kerr
10: Steven Hill
Pick one: 0
Results for Steve Blake:

You searched for "Damone Brown"
14 results found.
0: Damone Brown
1: Raymond Brown
2: Andre Brown
3: Dee Brown
4: Dee Brown
5: Devin Brown
6: Harold Brown
7: Kwame Brown
8: Leon Brown
9: Mike Brown
10: Moses Brown
11: Myron Brown
12: Tony Brown
13: Damon Jones
Pick one: 0
Results for Damone Brown:

You searched for "Kwame Brown"
9 results found.
0: Kwame Brown
1: Andre Brown
2: Bruce Brown
3: Damone Brown
4: Dee Brown
5: Dee Brown
6: Mike Brown
7: Stan Brown
8: Jim Browne
Pick one: 0
Results for Kwame Brown:

You searched for "Juan Dixon"
1 result found.
Juan Dixon
Results for Juan Dixon:

You searched for "Jarvis Hayes"
4 results found.
0: Jarvis Hayes
1: Elvin Hayes
2: Jaxson Hayes
3: Jim Hayes
Pick one: 0
Results for Jarvis Hayes:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Anthony Peeler"
8 results found.
0: Anthony Peeler
1: Anthony Miller
2: Anthony Parker
3: Anthony Bonner
4: Anthony Carter
5: Anthony Pullard
6: Anthony Taylor
7: Anthony Tucker
Pick one: 0
Results for Anthony Peeler:

You searched for "Laron Profit"
1 result found.
Laron Profit
Results for Laron Profit:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-04-05,23-089,WAS,HOME,BOS,L (-8),1,48:00,9,21,...,9,4,1,1,3,1,43,34.9,-8,Gilbert Arenas
1,2005-02-11,23-036,WAS,HOME,LAC,W (+3),1,44:42,11,20,...,2,9,5,0,2,2,35,34.1,7,Gilbert Arenas
2,2005-04-09,23-093,WAS,HOME,PHI,L (-6),1,46:37,13,24,...,4,3,0,1,1,2,44,33.4,-4,Gilbert Arenas
3,2005-01-29,23-023,WAS,HOME,ORL,L (-6),1,48:00,10,22,...,8,6,3,0,1,4,37,32.6,-6,Gilbert Arenas
4,2005-02-05,23-030,WAS,HOME,MIL,W (+18),1,38:59,10,17,...,6,9,6,1,3,4,31,32.5,19,Gilbert Arenas

In [20]:

WAS_2006_gamelog = []

for p in WAS_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2006_gamelog.append(player_log)
WAS_2006_gamelog = pd.concat(WAS_2006_gamelog)    
WAS_2006_gamelogs = WAS_2006_gamelog.copy()
WAS_2006_gamelogs['GAME_SCORE'] = WAS_2006_gamelogs['GAME_SCORE'].astype(float)
WAS_2006_games = WAS_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2006_games_csv = WAS_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2006_games.csv', index=False)
WAS_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2006_games.csv')
WAS_2006_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Chucky Atkins"
1 result found.
Chucky Atkins
Results for Chucky Atkins:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Jarvis Hayes"
4 results found.
0: Jarvis Hayes
1: Elvin Hayes
2: Jaxson Hayes
3: Jim Hayes
Pick one: 0
Results for Jarvis Hayes:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Awvee Storey"
1 result found.
Awvee Storey
Results for Awvee Storey:

You searched for "Donell Taylor"
2 results found.
0: Donell Taylor
1: Ronald Taylor
Pick one: 0
Results for Donell Taylor:

You searched for "Billy Thomas"
10 results found.
0: Billy Thomas
1: Willis Thomas
2: Billy Thompson
3: Billy James
4: Carl Thomas
5: Jim Thomas
6: Kenny Thomas
7: Terry Thomas
8: Tim Thomas
9: Bill Hosket
Pick one: 0
Results for Billy Thomas:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-02-25,24-050,WAS,HOME,NYK,W (+21),1,30:16,13,16,...,1,2,4,0,1,2,46,43.5,20,Gilbert Arenas
1,2006-03-27,24-080,WAS,AWAY,GSW,W (+18),1,43:28,12,22,...,3,10,4,1,4,2,40,37.2,18,Gilbert Arenas
2,2005-12-30,23-358,WAS,HOME,MIA,L (-15),1,42:09,15,29,...,7,8,0,0,3,6,47,35.8,-9,Gilbert Arenas
3,2006-04-05,24-089,WAS,AWAY,BOS,W (+17),1,43:00,14,22,...,8,8,4,0,3,4,38,34.4,16,Gilbert Arenas
4,2005-11-12,23-310,WAS,HOME,SAS,W (+15),1,41:14,15,20,...,1,6,1,0,4,1,43,34.1,11,Gilbert Arenas

In [21]:


WAS_2007_gamelog = []

for p in WAS_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2007_gamelog.append(player_log)
WAS_2007_gamelog = pd.concat(WAS_2007_gamelog)    
WAS_2007_gamelogs = WAS_2007_gamelog.copy()
WAS_2007_gamelogs['GAME_SCORE'] = WAS_2007_gamelogs['GAME_SCORE'].astype(float)
WAS_2007_games = WAS_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2007_games_csv = WAS_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2007_games.csv', index=False)
WAS_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2007_games.csv')
WAS_2007_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Calvin Booth"
3 results found.
0: Calvin Booth
1: Calvin Natt
2: Alvin Scott
Pick one: 0
Results for Calvin Booth:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Mike Hall"
21 results found.
0: Mike Hall
1: Mike Gale
2: Mike Barr
3: Mike Maloy
4: Josh Hall
5: Mike Bratz
6: Mike Davis
7: Mike Davis
8: Mike Evans
9: Mike Harper
10: Mike Harris
11: Mike James
12: Mike James
13: Mike Lynn
14: Mike Miller
15: Mike Niles
16: Mike Pratt
17: Mike Taylor
18: Mike Wilks
19: Mike Novak
20: Mike Smith
Pick one: 0
Results for Mike Hall:

You searched for "Jarvis Hayes"
4 results found.
0: Jarvis Hayes
1: Elvin Hayes
2: Jaxson Hayes
3: Jim Hayes
Pick one: 0
Results for Jarvis Hayes:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "James Lang"
10 results found.
0: James Lang
1: James Ray
2: James Young
3: James Ennis
4: James Hardy
5: James Jones
6: James Phelan
7: James Silas
8: James Webb
9: James Harden
Pick one: 0
Results for James Lang:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "Darius Songaila"
2 results found.
0: Darius Songaila
1: Darius Garland
Pick one: 0
Results for Darius Songaila:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "Donell Taylor"
2 results found.
0: Donell Taylor
1: Ronald Taylor
Pick one: 0
Results for Donell Taylor:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-12-17,24-345,WAS,AWAY,LAL,W (+6),1,49:00,17,32,...,8,8,2,0,3,3,60,47.8,10,Gilbert Arenas
1,2006-11-18,24-316,WAS,HOME,CLE,W (+12),1,39:18,14,22,...,5,6,2,0,1,2,45,41.1,26,Gilbert Arenas
2,2007-01-15,25-009,WAS,HOME,UTA,W (+3),1,41:19,14,29,...,3,5,1,0,1,3,51,39.5,10,Gilbert Arenas
3,2007-04-17,30-309,WAS,HOME,ORL,L (-6),1,47:52,14,26,...,9,1,1,0,0,3,48,36.6,-6,Antawn Jamison
4,2006-12-22,24-350,WAS,AWAY,PHO,W (+5),1,47:34,21,37,...,3,4,1,0,4,5,54,35.2,12,Gilbert Arenas

In [22]:


WAS_2008_gamelog = []

for p in WAS_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2008_gamelog.append(player_log)
WAS_2008_gamelog = pd.concat(WAS_2008_gamelog)    
WAS_2008_gamelogs = WAS_2008_gamelog.copy()
WAS_2008_gamelogs['GAME_SCORE'] = WAS_2008_gamelogs['GAME_SCORE'].astype(float)
WAS_2008_games = WAS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2008_games_csv = WAS_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2008_games.csv', index=False)
WAS_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2008_games.csv')
WAS_2008_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Dominic McGuire"
1 result found.
Dominic McGuire
Results for Dominic McGuire:

You searched for "Oleksiy Pecherov"
1 result found.
Oleksiy Pecherov
Results for Oleksiy Pecherov:

You searched for "Darius Songaila"
2 results found.
0: Darius Songaila
1: Darius Garland
Pick one: 0
Results for Darius Songaila:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-24,31-165,WAS,AWAY,MEM,L (-6),1,35:43,18,22,...,11,0,1,0,2,4,41,35.5,16,Antawn Jamison
1,2008-01-27,27-320,WAS,AWAY,MIL,L (-3),1,50:39,13,27,...,8,2,5,0,2,4,40,32.7,0,Caron Butler
2,2007-11-26,27-258,WAS,AWAY,DAL,W (+12),1,43:56,13,17,...,8,2,2,1,3,3,35,31.0,15,Caron Butler
3,2008-01-06,27-299,WAS,HOME,SEA,W (+22),1,39:34,12,21,...,4,5,4,0,1,2,33,30.0,29,Caron Butler
4,2007-11-21,27-253,WAS,AWAY,CHA,W (+3),1,46:49,13,23,...,5,3,2,1,5,3,39,29.0,11,Caron Butler

In [76]:

WAS_2009_gamelog = []

for p in WAS_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2009_gamelog.append(player_log)
WAS_2009_gamelog = pd.concat(WAS_2009_gamelog)    
WAS_2009_gamelogs = WAS_2009_gamelog.copy()
WAS_2009_gamelogs['GAME_SCORE'] = WAS_2009_gamelogs['GAME_SCORE'].astype(float)
WAS_2009_games = WAS_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2009_games_csv = WAS_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2009_games.csv', index=False)
WAS_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2009_games.csv')
WAS_2009_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Javaris Crittenton"
1 result found.
Javaris Crittenton
Results for Javaris Crittenton:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Juan Dixon"
1 result found.
Juan Dixon
Results for Juan Dixon:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Dominic McGuire"
1 result found.
Dominic McGuire
Results for Dominic McGuire:

You searched for "Oleksiy Pecherov"
1 result found.
Oleksiy Pecherov
Results for Oleksiy Pecherov:

You searched for "Darius Songaila"
2 results found.
0: Darius Songaila
1: Darius Garland
Pick one: 0
Results for Darius Songaila:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "Etan Thomas"
12 results found.
0: Etan Thomas
1: John Thomas
2: Tim Thomas
3: Carl Thomas
4: Isiah Thomas
5: Jim Thomas
6: Joe Thomas
7: Kenny Thomas
8: Kurt Thomas
9: Lance Thomas
10: Matt Thomas
11: Terry Thomas
Pick one: 0
Results for Etan Thomas:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-11-25,28-257,WAS,HOME,GSW,W (+24),1,37:49,13,19,...,8,6,3,0,2,1,35,34.1,23,Caron Butler
1,2009-04-15,29-033,WAS,AWAY,BOS,L (-8),1,41:25,13,20,...,7,4,2,1,3,5,39,32.8,-11,Caron Butler
2,2008-12-09,28-271,WAS,HOME,DET,W (+13),1,41:24,9,15,...,5,6,1,0,2,3,33,30.0,12,Caron Butler
3,2009-02-08,32-241,WAS,HOME,IND,W (+2),1,42:06,12,21,...,6,3,2,0,0,3,34,29.2,6,Antawn Jamison
4,2009-03-29,29-016,WAS,AWAY,IND,L (-9),1,41:29,8,20,...,13,3,2,0,1,2,31,28.8,-1,Caron Butler

In [24]:

WAS_2010_gamelog = []

for p in WAS_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2010_gamelog.append(player_log)
WAS_2010_gamelog = pd.concat(WAS_2010_gamelog)    
WAS_2010_gamelogs = WAS_2010_gamelog.copy()
WAS_2010_gamelogs['GAME_SCORE'] = WAS_2010_gamelogs['GAME_SCORE'].astype(float)
WAS_2010_games = WAS_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2010_games_csv = WAS_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2010_games.csv', index=False)
WAS_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2010_games.csv')
WAS_2010_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Earl Boykins"
1 result found.
Earl Boykins
Results for Earl Boykins:

You searched for "Caron Butler"
4 results found.
0: Caron Butler
1: Al Butler
2: Greg Butler
3: Carl Fuller
Pick one: 0
Results for Caron Butler:

You searched for "Paul Davis"
29 results found.
0: Paul Davis
1: Bill Davis
2: Dale Davis
3: Mark Davis
4: Mark Davis
5: Mel Davis
6: Walt Davis
7: Paul Dawkins
8: Baron Davis
9: Ben Davis
10: Bob Davis
11: Brad Davis
12: Ed Davis
13: Emanual Davis
14: Glen Davis
15: Harry Davis
16: Jim Davis
17: Josh Davis
18: Lee Davis
19: Mike Davis
20: Mike Davis
21: Ralph Davis
22: Red Davis
23: Ron Davis
24: Paul Silas
25: Paul Eboua
26: Paul Cloyd
27: Pau Gasol
28: Paul Grant
Pick one: 0
Results for Paul Davis:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Alonzo Gee"
1 result found.
Alonzo Gee
Results for Alonzo Gee:

You searched for "Mike Harris"
26 results found.
0: Mike Harris
1: Mike Barr
2: Mike Davis
3: Mike Davis
4: Mike Harper
5: Joe Harris
6: Jalen Harris
7: Mike Barrett
8: Mike Farmer
9: Mike Hall
10: Art Harris
11: Billy Harris
12: Bob Harris
13: Elias Harris
14: Gary Harris
15: Manny Harris
16: Steve Harris
17: Tony Harris
18: Mike Higgins
19: Mike James
20: Mike James
21: Mike Kearns
22: Mike Lewis
23: Mike Morrison
24: Mike Price
25: Mike Taylor
Pick one: 0
Results for Mike Harris:

You searched for "Brendan Haywood"
1 result found.
Brendan Haywood
Results for Brendan Haywood:

You searched for "Josh Howard"
8 results found.
0: Josh Howard
1: Josh Hart
2: Mo Howard
3: Josh Hall
4: Greg Howard
5: Juwan Howard
6: Otis Howard
7: Josh Powell
Pick one: 0
Results for Josh Howard:

You searched for "Cedric Jackson"
4 results found.
0: Cedric Jackson
1: Marc Jackson
2: Mervin Jackson
3: Reggie Jackson
Pick one: 0
Results for Cedric Jackson:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Antawn Jamison"
1 result found.
Antawn Jamison
Results for Antawn Jamison:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Dominic McGuire"
1 result found.
Dominic McGuire
Results for Dominic McGuire:

You searched for "Mike Miller"
26 results found.
0: Mike Miller
1: Mike Butler
2: Bill Miller
3: Dick Miller
4: Mike Niles
5: Mike Conley
6: Mike Farmer
7: Mike Gale
8: Mike Hall
9: Mike Harper
10: Mike Maloy
11: Mike McGee
12: Andre Miller
13: Bob Miller
14: Brad Miller
15: Eddie Miller
16: Jay Miller
17: Oliver Miller
18: Walt Miller
19: Mike Taylor
20: Mike Wilks
21: Luke Zeller
22: Mike Glenn
23: Mike Mitchell
24: Mike Lewis
25: Mike O'Neill
Pick one: 0
Results for Mike Miller:

You searched for "Fabricio Oberto"
1 result found.
Fabricio Oberto
Results for Fabricio Oberto:

You searched for "Quinton Ross"
2 results found.
0: Quinton Ross
1: Quinton Rose
Pick one: 0
Results for Quinton Ross:

You searched for "James Singleton"
2 results found.
0: James Singleton
1: Chris Singleton
Pick one: 0
Results for James Singleton:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "Al Thornton"
7 results found.
0: Al Thornton
1: Bob Thornton
2: Al Hairston
3: Ed Horton
4: Dallas Thornton
5: Mel Thurston
6: Al Horford
Pick one: 0
Results for Al Thornton:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-12-18,27-346,WAS,AWAY,GSW,W (+9),1,43:07,15,25,...,3,13,0,1,5,2,45,36.8,17,Gilbert Arenas
1,2010-01-15,33-217,WAS,AWAY,CHI,L (-2),1,55:02,11,25,...,18,5,1,0,0,2,34,29.6,-1,Antawn Jamison
2,2009-11-23,25-351,LAC,HOME,MIN,W (+4),1,42:48,11,16,...,10,1,0,0,1,2,31,28.5,6,Al Thornton
3,2009-10-31,27-298,WAS,HOME,NJN,W (+19),1,29:21,9,13,...,1,7,1,0,3,2,32,28.5,19,Gilbert Arenas
4,2010-03-30,23-220,WAS,AWAY,HOU,L (-4),1,40:52,13,23,...,10,3,4,3,2,4,31,28.5,-9,Andray Blatche

In [30]:
# removed Hamady N'Diaye
WAS_2011_gamelog = []

for p in WAS_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2011_gamelog.append(player_log)
WAS_2011_gamelog = pd.concat(WAS_2011_gamelog)    
WAS_2011_gamelogs = WAS_2011_gamelog.copy()
WAS_2011_gamelogs['GAME_SCORE'] = WAS_2011_gamelogs['GAME_SCORE'].astype(float)
WAS_2011_games = WAS_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2011_games_csv = WAS_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2011_games.csv', index=False)
WAS_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2011_games.csv')
WAS_2011_games_proc.head()

You searched for "Gilbert Arenas"
1 result found.
Gilbert Arenas
Results for Gilbert Arenas:

You searched for "Hilton Armstrong"
1 result found.
Hilton Armstrong
Results for Hilton Armstrong:

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Alonzo Gee"
1 result found.
Alonzo Gee
Results for Alonzo Gee:

You searched for "Kirk Hinrich"
1 result found.
Kirk Hinrich
Results for Kirk Hinrich:

You searched for "Josh Howard"
8 results found.
0: Josh Howard
1: Josh Hart
2: Mo Howard
3: Josh Hall
4: Greg Howard
5: Juwan Howard
6: Otis Howard
7: Josh Powell
Pick one: 0
Results for Josh Howard:

You searched for "Lester Hudson"
1 result found.
Lester Hudson
Results for Lester Hudson:

You searched for "Othyus Jeffers"
1 result found.
Othyus Jeffers
Results for Othyus Jeffers:

You searched for "Yi Jianlian"
1 result found.
Yi Jianlian
Results for Yi Jianlian:

You searched for "Rashard Lewis"
1 result found.
Rashard Lewis
Results for Rashard Lewis:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Larry Owens"
26 results found.
0: Larry Owens
1: Larry Jones
2: Tariq Owens
3: Larry Brown
4: Larry Drew
5: Larry Drew
6: Larry Friend
7: Larry Kenon
8: Barry Orms
9: Andre Owens
10: Billy Owens
11: Chris Owens
12: Red Owens
13: Ray Owes
14: Harry Rogers
15: Larry Sykes
16: Larry Bunce
17: Larry Comley
18: Larry Conley
19: Larry Fogle
20: Larry Foust
21: Larry Mikan
22: Larry Moore
23: Larry Nance
24: Larry Nance
25: Jerry West
Pick one: 0
Results for Larry Owens:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Mustafa Shakur"
1 result found.
Mustafa Shakur
Results for Mustafa Shakur:

You searched for "Al Thornton"
7 results found.
0: Al Thornton
1: Bob Thornton
2: Al Hairston
3: Ed Horton
4: Dallas Thornton
5: Mel Thurston
6: Al Horford
Pick one: 0
Results for Al Thornton:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-01-11,25-224,WAS,HOME,SAC,W (+3),1,45:27,14,22,...,4,3,0,0,3,2,43,33.1,2,Nick Young
1,2011-03-27,23-067,WAS,AWAY,GSW,L (-10),1,40:05,9,12,...,18,0,0,5,3,2,28,30.7,-11,JaVale McGee
2,2011-04-01,24-222,WAS,HOME,CLE,W (+8),1,39:36,15,32,...,19,4,1,1,4,3,36,29.8,7,Andray Blatche
3,2010-11-23,22-308,WAS,HOME,PHI,W (+2),1,45:51,9,15,...,18,2,2,4,2,1,24,29.1,12,JaVale McGee
4,2010-11-02,20-057,WAS,HOME,PHI,W (+1),1,44:48,9,16,...,2,13,9,0,8,5,29,28.9,1,John Wall

In [71]:


WAS_2012_gamelog = []

for p in WAS_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2012_gamelog.append(player_log)
WAS_2012_gamelog = pd.concat(WAS_2012_gamelog)    
WAS_2012_gamelogs = WAS_2012_gamelog.copy()
WAS_2012_gamelogs['GAME_SCORE'] = WAS_2012_gamelogs['GAME_SCORE'].astype(float)
WAS_2012_games = WAS_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2012_games_csv = WAS_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2012_games.csv', index=False)
WAS_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2012_games.csv')
WAS_2012_games_proc.head()

You searched for "Morris Almond"
1 result found.
Morris Almond
Results for Morris Almond:

You searched for "Andray Blatche"
1 result found.
Andray Blatche
Results for Andray Blatche:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Brian Cook"
9 results found.
0: Brian Cook
1: Quinn Cook
2: Brian Bowen
3: Bert Cook
4: Bobby Cook
5: Darwin Cook
6: Omar Cook
7: Brian Rowsom
8: Brian Shaw
Pick one: 0
Results for Brian Cook:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Maurice Evans"
6 results found.
0: Maurice Evans
1: Mike Evans
2: Maurice King
3: Maurice Lucas
4: Maurice Ager
5: Maurice Baker
Pick one: 0
Results for Maurice Evans:

You searched for "Rashard Lewis"
1 result found.
Rashard Lewis
Results for Rashard Lewis:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "JaVale McGee"
1 result found.
JaVale McGee
Results for JaVale McGee:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Chris Singleton"
3 results found.
0: Chris Singleton
1: Khris Middleton
2: James Singleton
Pick one: 0
Results for Chris Singleton:

You searched for "James Singleton"
2 results found.
0: James Singleton
1: Chris Singleton
Pick one: 0
Results for James Singleton:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Edwin Ubiles"
2 results found.
0: Edwin Ubiles
1: Eddie Miles
Pick one: 0
Results for Edwin Ubiles:

You searched for "Jan Veselý"
4 results found.
0: Jan Vesely
1: Dan Issel
2: Dan Hester
3: Jalen Rose
Pick one: 0
Results for Jan Vesely:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Nick Young"
10 results found.
0: Nick Young
1: Rick Mount
2: Tim Young
3: Dick Bunt
4: Nick Jones
5: Joe Young
6: Sam Young
7: Trae Young
8: Dick Holub
9: Nick Vanos
Pick one: 0
Results for Nick Young:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-01-16,21-132,WAS,HOME,HOU,L (-8),1,43:57,13,22,...,6,8,4,1,2,3,38,35.5,-8,John Wall
1,2012-02-14,26-258,WAS,AWAY,POR,W (+15),1,39:46,12,17,...,3,0,2,0,1,3,35,29.0,8,Nick Young
2,2012-01-14,23-360,WAS,HOME,PHI,L (-13),1,42:33,11,13,...,18,2,1,5,2,3,23,28.0,0,JaVale McGee
3,2012-02-14,21-161,WAS,AWAY,POR,W (+15),1,40:47,10,14,...,3,9,1,2,5,1,29,27.0,11,John Wall
4,2012-03-15,21-191,WAS,AWAY,NOH,W (+10),1,41:36,11,16,...,4,12,3,1,5,4,26,26.3,7,John Wall

In [72]:

WAS_2013_gamelog = []

for p in WAS_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2013_gamelog.append(player_log)
WAS_2013_gamelog = pd.concat(WAS_2013_gamelog)    
WAS_2013_gamelogs = WAS_2013_gamelog.copy()
WAS_2013_gamelogs['GAME_SCORE'] = WAS_2013_gamelogs['GAME_SCORE'].astype(float)
WAS_2013_games = WAS_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2013_games_csv = WAS_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2013_games.csv', index=False)
WAS_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2013_games.csv')
WAS_2013_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Shaun Livingston"
2 results found.
0: Shaun Livingston
1: Ron Livingstone
Pick one: 0
Results for Shaun Livingston:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Cartier Martin"
5 results found.
0: Cartier Martin
1: Caleb Martin
2: Darrick Martin
3: LaRue Martin
4: Slater Martin
Pick one: 0
Results for Cartier Martin:

You searched for "Emeka Okafor"
1 result found.
Emeka Okafor
Results for Emeka Okafor:

You searched for "Jannero Pargo"
1 result found.
Jannero Pargo
Results for Jannero Pargo:

You searched for "A.J. Price"
6 results found.
0: A.J. Price
1: Jim Price
2: Mark Price
3: Mike Price
4: Tony Price
5: D.J. White
Pick one: 0
Results for A.J. Price:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Chris Singleton"
3 results found.
0: Chris Singleton
1: Khris Middleton
2: James Singleton
Pick one: 0
Results for Chris Singleton:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Jan Veselý"
4 results found.
0: Jan Vesely
1: Dan Issel
2: Dan Hester
3: Jalen Rose
Pick one: 0
Results for Jan Vesely:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Martell Webster"
2 results found.
0: Martell Webster
1: Marvin Webster
Pick one: 0
Results for Martell Webster:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-03-25,22-200,WAS,HOME,MEM,W (+13),1,44:33,13,22,...,7,8,1,1,2,2,47,41.4,26,John Wall
1,2013-04-06,22-212,WAS,HOME,IND,W (+19),1,38:10,16,25,...,4,5,3,2,2,2,37,30.2,20,John Wall
2,2013-03-15,22-190,WAS,HOME,NOH,W (+9),1,33:36,12,15,...,4,9,2,0,3,1,29,29.8,12,John Wall
3,2013-03-16,26-102,WAS,HOME,PHO,W (+22),1,38:20,10,18,...,2,5,0,0,1,2,34,28.1,17,Martell Webster
4,2013-03-22,22-197,WAS,AWAY,LAL,W (+3),1,44:15,9,19,...,6,16,3,0,1,2,24,28.1,7,John Wall

In [39]:


WAS_2014_gamelog = []

for p in WAS_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2014_gamelog.append(player_log)
WAS_2014_gamelog = pd.concat(WAS_2014_gamelog)    
WAS_2014_gamelogs = WAS_2014_gamelog.copy()
WAS_2014_gamelogs['GAME_SCORE'] = WAS_2014_gamelogs['GAME_SCORE'].astype(float)
WAS_2014_games = WAS_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2014_games_csv = WAS_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2014_games.csv', index=False)
WAS_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2014_games.csv')
WAS_2014_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Eric Maynor"
5 results found.
0: Eric Maynor
1: Eric Dawson
2: Eric Money
3: Eric Snow
4: Eric Mobley
Pick one: 0
Results for Eric Maynor:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Chris Singleton"
3 results found.
0: Chris Singleton
1: Khris Middleton
2: James Singleton
Pick one: 0
Results for Chris Singleton:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Jan Veselý"
4 results found.
0: Jan Vesely
1: Dan Issel
2: Dan Hester
3: Jalen Rose
Pick one: 0
Results for Jan Vesely:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Martell Webster"
2 results found.
0: Martell Webster
1: Marvin Webster
Pick one: 0
Results for Martell Webster:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-03-01,28-244,WAS,AWAY,PHI,W (+19),1,35:40,14,23,...,2,3,4,1,2,1,40,34.5,25,Trevor Ariza
1,2014-03-15,23-190,WAS,HOME,BRK,W (+7),1,35:29,10,15,...,4,6,2,1,3,1,33,30.8,-1,John Wall
2,2013-11-26,23-081,WAS,HOME,LAL,W (+5),1,36:36,10,18,...,6,9,3,0,3,2,31,29.7,8,John Wall
3,2013-11-22,23-077,WAS,AWAY,TOR,L (-8),1,39:35,15,21,...,6,2,3,0,4,2,37,29.3,7,John Wall
4,2014-02-07,23-154,WAS,HOME,CLE,L (-2),1,39:18,10,19,...,5,10,2,1,3,5,32,28.1,10,John Wall

In [42]:


WAS_2015_gamelog = []

for p in WAS_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2015_gamelog.append(player_log)
WAS_2015_gamelog = pd.concat(WAS_2015_gamelog)    
WAS_2015_gamelogs = WAS_2015_gamelog.copy()
WAS_2015_gamelogs['GAME_SCORE'] = WAS_2015_gamelogs['GAME_SCORE'].astype(float)
WAS_2015_games = WAS_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2015_games_csv = WAS_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2015_games.csv', index=False)
WAS_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2015_games.csv')
WAS_2015_games_proc.head()

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Will Bynum"
3 results found.
0: Will Bynum
1: Will Barton
2: Bill Ebben
Pick one: 0
Results for Will Bynum:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Toure' Murry"
1 result found.
Toure' Murry
Results for Toure' Murry:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Martell Webster"
2 results found.
0: Martell Webster
1: Marvin Webster
Pick one: 0
Results for Martell Webster:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-03-14,24-189,WAS,HOME,SAC,W (+16),1,38:32,9,15,...,2,12,1,1,5,2,31,28.6,9,John Wall
1,2014-10-30,24-054,WAS,AWAY,ORL,W (+7),1,36:44,10,21,...,5,12,2,0,2,2,30,28.0,16,John Wall
2,2014-11-05,24-060,WAS,HOME,IND,W (+2),1,42:54,11,21,...,6,10,3,1,5,2,31,27.4,7,John Wall
3,2015-03-25,24-200,WAS,HOME,IND,L (-2),1,40:32,11,21,...,4,6,2,1,2,5,34,27.4,-1,John Wall
4,2015-01-31,24-147,WAS,HOME,TOR,L (-4),1,44:31,8,16,...,8,12,1,0,2,5,28,26.6,7,John Wall

In [45]:


WAS_2016_gamelog = []

for p in WAS_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2016_gamelog.append(player_log)
WAS_2016_gamelog = pd.concat(WAS_2016_gamelog)    
WAS_2016_gamelogs = WAS_2016_gamelog.copy()
WAS_2016_gamelogs['GAME_SCORE'] = WAS_2016_gamelogs['GAME_SCORE'].astype(float)
WAS_2016_games = WAS_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2016_games_csv = WAS_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2016_games.csv', index=False)
WAS_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2016_games.csv')
WAS_2016_games_proc.head()

You searched for "Alan Anderson"
15 results found.
0: Alan Anderson
1: Dan Anderson
2: Dan Anderson
3: Ryan Anderson
4: Alan Henderson
5: Ron Anderson
6: Cliff Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Kim Anderson
13: Kyle Anderson
14: Nick Anderson
Pick one: 0
Results for Alan Anderson:

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Jared Dudley"
3 results found.
0: Jared Dudley
1: Charles Dudley
2: Chris Dudley
Pick one: 0
Results for Jared Dudley:

You searched for "Jarell Eddie"
1 result found.
Jarell Eddie
Results for Jarell Eddie:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "J.J. Hickson"
3 results found.
0: J.J. Hickson
1: John Dickson
2: D.J. Wilson
Pick one: 0
Results for J.J. Hickson:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Marcus Thornton"
2 results found.
0: Marcus Thornton
1: Dallas Thornton
Pick one: 0
Results for Marcus Thornton:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-02-03,25-150,WAS,HOME,GSW,L (-13),1,34:44,17,25,...,3,10,2,0,3,4,41,35.2,-2,John Wall
1,2016-01-16,25-132,WAS,HOME,BOS,L (-2),1,43:56,12,25,...,7,13,7,1,6,3,36,34.6,-5,John Wall
2,2015-12-02,25-087,WAS,HOME,LAL,L (-4),1,36:19,11,19,...,7,11,2,0,5,1,34,30.7,7,John Wall
3,2016-02-29,25-176,WAS,HOME,PHI,W (+8),1,41:55,13,26,...,4,7,3,1,2,1,37,30.6,8,John Wall
4,2015-12-01,25-086,WAS,AWAY,CLE,W (+12),1,40:56,14,24,...,4,10,5,0,5,3,35,30.4,18,John Wall

In [50]:

WAS_2017_gamelog = []

for p in WAS_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2017_gamelog.append(player_log)
WAS_2017_gamelog = pd.concat(WAS_2017_gamelog)    
WAS_2017_gamelogs = WAS_2017_gamelog.copy()
WAS_2017_gamelogs['GAME_SCORE'] = WAS_2017_gamelogs['GAME_SCORE'].astype(float)
WAS_2017_games = WAS_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2017_games_csv = WAS_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2017_games.csv', index=False)
WAS_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2017_games.csv')
WAS_2017_games_proc.head()

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Bojan Bogdanović"
2 results found.
0: Bojan Bogdanovic
1: Bogdan Bogdanovic
Pick one: 0
Results for Bojan Bogdanovic:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "Danuel House"
2 results found.
0: Danuel House
1: Daniel Theis
Pick one: 0
Results for Danuel House:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Chris McCullough"
1 result found.
Chris McCullough
Results for Chris McCullough:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Andrew Nicholson"
1 result found.
Andrew Nicholson
Results for Andrew Nicholson:

You searched for "Daniel Ochefu"
3 results found.
0: Daniel Ochefu
1: Daniel Oturu
2: Daniel Theis
Pick one: 0
Results for Daniel Ochefu:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Tomáš Satoranský"
1 result found.
Tomas Satoransky
Results for Tomas Satoransky:

You searched for "Jason Smith"
27 results found.
0: Jason Smith
1: Jalen Smith
2: Don Smith
3: Don Smith
4: Joe Smith
5: John Smith
6: Josh Smith
7: Leon Smith
8: Aaron Nesmith
9: Jason Hart
10: Jason Kidd
11: Al Smith
12: Ish Smith
13: J.R. Smith
14: Jabari Smith
15: Jerry Smith
16: Jim Smith
17: Ken Smith
18: Larry Smith
19: Nolan Smith
20: Randy Smith
21: Russ Smith
22: Sam Smith
23: Sam Smith
24: Theron Smith
25: Tony Smith
26: Joe Smyth
Pick one: 0
Results for Jason Smith:

You searched for "Marcus Thornton"
2 results found.
0: Marcus Thornton
1: Dallas Thornton
Pick one: 0
Results for Marcus Thornton:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-12-06,26-091,WAS,HOME,ORL,L (-8),1,42:18,18,31,...,4,8,3,0,4,3,52,41.3,-1,John Wall
1,2016-11-09,23-159,WAS,HOME,BOS,W (+25),1,38:16,14,19,...,14,4,3,3,0,2,34,40.4,18,Otto Porter
2,2017-03-25,26-200,WAS,AWAY,CLE,W (+12),1,37:11,14,21,...,4,11,2,1,3,2,37,35.7,12,John Wall
3,2017-02-06,23-223,WAS,HOME,CLE,L (-5),1,45:20,16,28,...,5,8,0,0,0,1,41,34.5,-7,Bradley Beal
4,2017-03-29,26-204,WAS,AWAY,LAC,L (-9),1,38:49,16,23,...,7,8,3,0,6,5,41,33.6,-9,John Wall

In [53]:


WAS_2018_gamelog = []

for p in WAS_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2018_gamelog.append(player_log)
WAS_2018_gamelog = pd.concat(WAS_2018_gamelog)    
WAS_2018_gamelogs = WAS_2018_gamelog.copy()
WAS_2018_gamelogs['GAME_SCORE'] = WAS_2018_gamelogs['GAME_SCORE'].astype(float)
WAS_2018_games = WAS_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2018_games_csv = WAS_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2018_games.csv', index=False)
WAS_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2018_games.csv')
WAS_2018_games_proc.head()

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Tim Frazier"
4 results found.
0: Tim Frazier
1: Will Frazier
2: Jim Farmer
3: Walt Frazier
Pick one: 0
Results for Tim Frazier:

You searched for "Marcin Gortat"
1 result found.
Marcin Gortat
Results for Marcin Gortat:

You searched for "Ty Lawson"
3 results found.
0: Ty Lawson
1: Tony Dawson
2: Mo Layton
Pick one: 0
Results for Ty Lawson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Chris McCullough"
1 result found.
Chris McCullough
Results for Chris McCullough:

You searched for "Jodie Meeks"
1 result found.
Jodie Meeks
Results for Jodie Meeks:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Devin Robinson"
10 results found.
0: Devin Robinson
1: David Robinson
2: Kevin Johnson
3: Chris Robinson
4: Duncan Robinson
5: Eddie Robinson
6: Flynn Robinson
7: Glenn Robinson
8: Glenn Robinson
9: Justin Robinson
Pick one: 0
Results for Devin Robinson:

You searched for "Tomáš Satoranský"
1 result found.
Tomas Satoransky
Results for Tomas Satoransky:

You searched for "Mike Scott"
22 results found.
0: Mike Scott
1: Mike Pratt
2: Mike Smith
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike McGee
7: James Scott
8: Ray Scott
9: Willie Scott
10: Mike Smrek
11: Mike Davis
12: Mike Davis
13: Mike Evans
14: Mike Grosso
15: Mike James
16: Mike James
17: Mike Lewis
18: Mike Maloy
19: Mike Niles
20: Mike Price
21: Mike Wilks
Pick one: 0
Results for Mike Scott:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Jason Smith"
27 results found.
0: Jason Smith
1: Jalen Smith
2: Don Smith
3: Don Smith
4: Joe Smith
5: John Smith
6: Josh Smith
7: Leon Smith
8: Aaron Nesmith
9: Jason Hart
10: Jason Kidd
11: Al Smith
12: Ish Smith
13: J.R. Smith
14: Jabari Smith
15: Jerry Smith
16: Jim Smith
17: Ken Smith
18: Larry Smith
19: Nolan Smith
20: Randy Smith
21: Russ Smith
22: Sam Smith
23: Sam Smith
24: Theron Smith
25: Tony Smith
26: Joe Smyth
Pick one: 0
Results for Jason Smith:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-01-25,24-211,WAS,AWAY,OKC,L (-9),1,45:30,15,26,...,12,7,2,0,5,2,41,33.9,-2,Bradley Beal
1,2018-02-14,24-231,WAS,AWAY,NYK,W (+5),1,42:52,14,22,...,5,7,3,2,3,2,36,33.2,6,Bradley Beal
2,2017-12-05,24-160,WAS,AWAY,POR,W (+14),1,43:05,21,37,...,3,2,0,0,2,2,51,33.0,12,Bradley Beal
3,2017-12-31,24-186,WAS,HOME,CHI,W (+4),1,44:55,16,29,...,9,9,2,0,2,3,39,32.1,8,Bradley Beal
4,2018-01-05,24-191,WAS,AWAY,MEM,W (+2),1,37:42,9,18,...,5,5,1,0,0,1,34,31.0,11,Bradley Beal

In [58]:

WAS_2019_gamelog = []

for p in WAS_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2019_gamelog.append(player_log)
WAS_2019_gamelog = pd.concat(WAS_2019_gamelog)    
WAS_2019_gamelogs = WAS_2019_gamelog.copy()
WAS_2019_gamelogs['GAME_SCORE'] = WAS_2019_gamelogs['GAME_SCORE'].astype(float)
WAS_2019_games = WAS_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2019_games_csv = WAS_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2019_games.csv', index=False)
WAS_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2019_games.csv')
WAS_2019_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Ron Baker"
45 results found.
0: Ron Baker
1: Vin Baker
2: Norm Baker
3: Tom Barker
4: Ron Brewer
5: Ron Carter
6: Ron Harper
7: Thon Maker
8: Von Wafer
9: John Barber
10: John Barr
11: Moe Barr
12: Jon Barry
13: Aron Baynes
14: Moe Becker
15: Ron Behagen
16: Ron Boone
17: Don Boven
18: Don Buse
19: John Coker
20: Ron Davis
21: Ron Lee
22: Jon Leuer
23: Ron Mercer
24: Bob Naber
25: Tony Parker
26: Ron Reed
27: Tom Riker
28: Ron Riley
29: Ron Watts
30: Jon Teske
31: Don Bielke
32: Ron Bonham
33: Don Grate
34: Ron Horn
35: Red Kerr
36: Ron King
37: Rob Kurz
38: Ron Moore
39: Ron Rowan
40: Ron Sobie
41: Ron Widby
42: Byron Beck
43: Tom Black
44: Zan Tabak
Pick one: 0
Results for Ron Baker:

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Thomas Bryant"
2 results found.
0: Thomas Bryant
1: Thomas Jordan
Pick one: 0
Results for Thomas Bryant:

You searched for "Sam Dekker"
1 result found.
Sam Dekker
Results for Sam Dekker:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Dwight Howard"
2 results found.
0: Dwight Howard
1: Dwight Powell
Pick one: 0
Results for Dwight Howard:

You searched for "John Jenkins"
5 results found.
0: John Jenkins
1: John Collins
2: John Henson
3: John Johnson
4: John Mahnken
Pick one: 0
Results for John Jenkins:

You searched for "Wesley Johnson"
10 results found.
0: Wesley Johnson
1: Clay Johnson
2: Lee Johnson
3: Mickey Johnson
4: Neil Johnson
5: Stanley Johnson
6: Stew Johnson
7: Trey Johnson
8: Tyler Johnson
9: Wesley Person
Pick one: 0
Results for Wesley Johnson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Jordan McRae"
9 results found.
0: Jordan McRae
1: Jordan Nwora
2: Jordan Ford
3: Jordan Bone
4: Jordan Farmar
5: Jordan Mickey
6: Jordan Poole
7: Jordan Adams
8: Jordan Bell
Pick one: 0
Results for Jordan McRae:

You searched for "Markieff Morris"
1 result found.
Markieff Morris
Results for Markieff Morris:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Otto Porter"
2 results found.
0: Otto Porter
1: Otto Moore
Pick one: 0
Results for Otto Porter:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Chasson Randle"
1 result found.
Chasson Randle
Results for Chasson Randle:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Devin Robinson"
10 results found.
0: Devin Robinson
1: David Robinson
2: Kevin Johnson
3: Chris Robinson
4: Duncan Robinson
5: Eddie Robinson
6: Flynn Robinson
7: Glenn Robinson
8: Glenn Robinson
9: Justin Robinson
Pick one: 0
Results for Devin Robinson:

You searched for "Tomáš Satoranský"
1 result found.
Tomas Satoransky
Results for Tomas Satoransky:

You searched for "Jason Smith"
27 results found.
0: Jason Smith
1: Jalen Smith
2: Don Smith
3: Don Smith
4: Joe Smith
5: John Smith
6: Josh Smith
7: Leon Smith
8: Aaron Nesmith
9: Jason Hart
10: Jason Kidd
11: Al Smith
12: Ish Smith
13: J.R. Smith
14: Jabari Smith
15: Jerry Smith
16: Jim Smith
17: Ken Smith
18: Larry Smith
19: Nolan Smith
20: Randy Smith
21: Russ Smith
22: Sam Smith
23: Sam Smith
24: Theron Smith
25: Tony Smith
26: Joe Smyth
Pick one: 0
Results for Jason Smith:

You searched for "John Wall"
21 results found.
0: John Wall
1: Josh Hall
2: John Barr
3: John Mills
4: John Salley
5: John Wallace
6: John Bagley
7: John Battle
8: John Drew
9: John Hazen
10: John Long
11: John Pilch
12: John Rudd
13: John Trapp
14: John Vallely
15: John Warren
16: John Wetzel
17: Joe Wolf
18: John Brown
19: John Logan
20: John Lucas
Pick one: 0
Results for John Wall:

You searched for "Okaro White"
4 results found.
0: Okaro White
1: Herb White
2: Jo Jo White
3: Rory White
Pick one: 0
Results for Okaro White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-02-22,25-239,WAS,AWAY,CHO,L (-13),1,41:58,16,25,...,6,7,0,1,1,4,46,40.1,-4,Bradley Beal
1,2019-03-16,25-261,WAS,HOME,MEM,W (+7),1,38:35,12,17,...,5,7,2,0,1,2,40,39.1,14,Bradley Beal
2,2018-12-16,28-101,WAS,HOME,LAL,W (+18),1,42:04,16,27,...,6,14,3,2,5,3,40,36.9,25,John Wall
3,2019-01-13,25-199,WAS,HOME,TOR,L (-2),1,54:36,17,36,...,10,15,3,2,4,3,43,36.5,4,Bradley Beal
4,2019-02-13,25-255,CHI,HOME,MEM,W (+12),1,34:06,16,20,...,10,2,0,1,2,2,37,32.9,21,Otto Porter

In [62]:


WAS_2020_gamelog = []

for p in WAS_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2020_gamelog.append(player_log)
WAS_2020_gamelog = pd.concat(WAS_2020_gamelog)    
WAS_2020_gamelogs = WAS_2020_gamelog.copy()
WAS_2020_gamelogs['GAME_SCORE'] = WAS_2020_gamelogs['GAME_SCORE'].astype(float)
WAS_2020_games = WAS_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2020_games_csv = WAS_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2020_games.csv', index=False)
WAS_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2020_games.csv')
WAS_2020_games_proc.head()

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Dāvis Bertāns"
3 results found.
0: Davis Bertans
1: Dairis Bertans
2: David Burns
Pick one: 0
Results for Davis Bertans:

You searched for "Isaac Bonga"
2 results found.
0: Isaac Bonga
1: Isaac Okoro
Pick one: 0
Results for Isaac Bonga:

You searched for "Thomas Bryant"
2 results found.
0: Thomas Bryant
1: Thomas Jordan
Pick one: 0
Results for Thomas Bryant:

You searched for "Chris Chiozza"
2 results found.
0: Chris Chiozza
1: Chris Childs
Pick one: 0
Results for Chris Chiozza:

You searched for "Jerian Grant"
3 results found.
0: Jerian Grant
1: Brian Grant
2: Jerami Grant
Pick one: 0
Results for Jerian Grant:

You searched for "Rui Hachimura"
1 result found.
Rui Hachimura
Results for Rui Hachimura:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Garrison Mathews"
1 result found.
Garrison Mathews
Results for Garrison Mathews:

You searched for "Jordan McRae"
9 results found.
0: Jordan McRae
1: Jordan Nwora
2: Jordan Ford
3: Jordan Bone
4: Jordan Farmar
5: Jordan Mickey
6: Jordan Poole
7: Jordan Adams
8: Jordan Bell
Pick one: 0
Results for Jordan McRae:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Shabazz Napier"
1 result found.
Shabazz Napier
Results for Shabazz Napier:

You searched for "Anžejs Pasečņiks"
1 result found.
Anzejs Pasecniks
Results for Anzejs Pasecniks:

You searched for "Jerome Robinson"
5 results found.
0: Jerome Robinson
1: Jerome Moiso
2: Eddie Robinson
3: Jackie Robinson
4: James Robinson
Pick one: 0
Results for Jerome Robinson:

You searched for "Justin Robinson"
4 results found.
0: Justin Robinson
1: Devin Robinson
2: Duncan Robinson
3: Jackie Robinson
Pick one: 0
Results for Justin Robinson:

You searched for "Admiral Schofield"
1 result found.
Admiral Schofield
Results for Admiral Schofield:

You searched for "Ish Smith"
34 results found.
0: Ish Smith
1: Josh Smith
2: Al Smith
3: Bill Smith
4: Deb Smith
5: Don Smith
6: Don Smith
7: Ed Smith
8: Jim Smith
9: Joe Smith
10: John Smith
11: Keith Smith
12: Ken Smith
13: Mike Smith
14: Otis Smith
15: Russ Smith
16: Sam Smith
17: Sam Smith
18: Bingo Smith
19: Chris Smith
20: Chris Smith
21: Doug Smith
22: Greg Smith
23: Greg Smith
24: J.R. Smith
25: Jason Smith
26: Leon Smith
27: Pete Smith
28: Phil Smith
29: Tony Smith
30: Rik Smits
31: Joe Smyth
32: Sam Stith
33: Tom Stith
Pick one: 0
Results for Ish Smith:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "Jarrod Uthoff"
1 result found.
Jarrod Uthoff
Results for Jarrod Uthoff:

You searched for "Moritz Wagner"
2 results found.
0: Moritz Wagner
1: Milt Wagner
Pick one: 0
Results for Moritz Wagner:

You searched for "Johnathan Williams"
1 result found.
Johnathan Williams
Results for Johnathan Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-10-30,26-124,WAS,HOME,HOU,L (-1),1,40:30,14,20,...,6,8,3,0,5,4,46,41.8,8,Bradley Beal
1,2019-11-15,26-140,WAS,AWAY,MIN,W (+21),1,36:58,15,22,...,3,10,2,1,5,3,44,38.6,31,Bradley Beal
2,2020-02-23,26-240,WAS,AWAY,CHI,L (-9),1,39:22,15,27,...,5,4,2,1,7,5,53,38.1,-4,Bradley Beal
3,2019-11-13,26-138,WAS,AWAY,BOS,L (-7),1,39:00,17,27,...,5,6,1,0,1,0,44,37.2,0,Bradley Beal
4,2020-02-28,26-245,WAS,AWAY,UTA,L (-10),1,40:30,17,33,...,5,10,2,0,2,3,42,32.6,-5,Bradley Beal

In [67]:

WAS_2021_gamelog = []

for p in WAS_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    WAS_2021_gamelog.append(player_log)
WAS_2021_gamelog = pd.concat(WAS_2021_gamelog)    
WAS_2021_gamelogs = WAS_2021_gamelog.copy()
WAS_2021_gamelogs['GAME_SCORE'] = WAS_2021_gamelogs['GAME_SCORE'].astype(float)
WAS_2021_games = WAS_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_2021_games_csv = WAS_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2021_games.csv', index=False)
WAS_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2021_games.csv')
WAS_2021_games_proc.head()

You searched for "Deni Avdija"
1 result found.
Deni Avdija
Results for Deni Avdija:

You searched for "Bradley Beal"
1 result found.
Bradley Beal
Results for Bradley Beal:

You searched for "Jordan Bell"
10 results found.
0: Jordan Bell
1: Jordan Hill
2: Jordan Bone
3: Jordan Ford
4: Jordan Loyd
5: Jordan Poole
6: Jordan Sibert
7: Jordan Bowden
8: Ryan Kelly
9: Jordan McRae
Pick one: 0
Results for Jordan Bell:

You searched for "Dāvis Bertāns"
3 results found.
0: Davis Bertans
1: Dairis Bertans
2: David Burns
Pick one: 0
Results for Davis Bertans:

You searched for "Isaac Bonga"
2 results found.
0: Isaac Bonga
1: Isaac Okoro
Pick one: 0
Results for Isaac Bonga:

You searched for "Thomas Bryant"
2 results found.
0: Thomas Bryant
1: Thomas Jordan
Pick one: 0
Results for Thomas Bryant:

You searched for "Daniel Gafford"
1 result found.
Daniel Gafford
Results for Daniel Gafford:

You searched for "Rui Hachimura"
1 result found.
Rui Hachimura
Results for Rui Hachimura:

You searched for "Chandler Hutchison"
1 result found.
Chandler Hutchison
Results for Chandler Hutchison:

You searched for "Alex Len"
7 results found.
0: Alex Len
1: Saben Lee
2: Alex Acker
3: Alex Kirk
4: Greg Lee
5: Alex Scales
6: Hal Hale
Pick one: 0
Results for Alex Len:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Garrison Mathews"
1 result found.
Garrison Mathews
Results for Garrison Mathews:

You searched for "Raul Neto"
7 results found.
0: Raul Neto
1: Paul Reed
2: Al Cueto
3: Paul Noel
4: Paul Long
5: Raul Lopez
6: Paul Nolen
Pick one: 0
Results for Raul Neto:

You searched for "Anžejs Pasečņiks"
1 result found.
Anzejs Pasecniks
Results for Anzejs Pasecniks:

You searched for "Jerome Robinson"
5 results found.
0: Jerome Robinson
1: Jerome Moiso
2: Eddie Robinson
3: Jackie Robinson
4: James Robinson
Pick one: 0
Results for Jerome Robinson:

You searched for "Ish Smith"
34 results found.
0: Ish Smith
1: Josh Smith
2: Al Smith
3: Bill Smith
4: Deb Smith
5: Don Smith
6: Don Smith
7: Ed Smith
8: Jim Smith
9: Joe Smith
10: John Smith
11: Keith Smith
12: Ken Smith
13: Mike Smith
14: Otis Smith
15: Russ Smith
16: Sam Smith
17: Sam Smith
18: Bingo Smith
19: Chris Smith
20: Chris Smith
21: Doug Smith
22: Greg Smith
23: Greg Smith
24: J.R. Smith
25: Jason Smith
26: Leon Smith
27: Pete Smith
28: Phil Smith
29: Tony Smith
30: Rik Smits
31: Joe Smyth
32: Sam Stith
33: Tom Stith
Pick one: 0
Results for Ish Smith:

You searched for "Moritz Wagner"
2 results found.
0: Moritz Wagner
1: Milt Wagner
Pick one: 0
Results for Moritz Wagner:

You searched for "Russell Westbrook"
1 result found.
Russell Westbrook
Results for Russell Westbrook:

You searched for "Cassius Winston"
1 result found.
Cassius Winston
Results for Cassius Winston:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-01-06,27-192,WAS,AWAY,PHI,L (-5),1,38:15,20,35,...,7,5,1,0,4,3,60,45.7,-9,Bradley Beal
1,2021-05-08,27-314,WAS,AWAY,IND,W (+1),1,39:27,19,31,...,5,1,1,2,1,1,50,39.9,8,Bradley Beal
2,2021-03-29,32-137,WAS,HOME,IND,W (+8),1,39:18,14,26,...,14,21,2,1,4,3,35,38.4,7,Russell Westbrook
3,2021-05-01,32-170,WAS,AWAY,DAL,L (-1),1,40:12,17,30,...,10,9,2,0,2,4,42,35.5,-3,Russell Westbrook
4,2021-01-31,32-080,WAS,HOME,BRK,W (+3),1,34:36,16,28,...,10,8,2,1,3,4,41,35.3,7,Russell Westbrook

## combine all seasons

In [77]:
WAS_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2000_games.csv')
WAS_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2001_games.csv')
WAS_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2002_games.csv')
WAS_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2003_games.csv')
WAS_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2004_games.csv')
WAS_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2005_games.csv')
WAS_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2006_games.csv')
WAS_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2007_games.csv')
WAS_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2008_games.csv')
WAS_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2009_games.csv')
WAS_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2010_games.csv')
WAS_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2011_games.csv')
WAS_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2012_games.csv')
WAS_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2013_games.csv')
WAS_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2014_games.csv')
WAS_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2015_games.csv')
WAS_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2016_games.csv')
WAS_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2017_games.csv')
WAS_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2018_games.csv')
WAS_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2019_games.csv')
WAS_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2020_games.csv')
WAS_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_2021_games.csv')

In [78]:
WAS_season_dfs = [WAS_2000_games_io, WAS_2001_games_io, WAS_2002_games_io, WAS_2003_games_io, WAS_2004_games_io, WAS_2005_games_io,
                 WAS_2006_games_io, WAS_2007_games_io, WAS_2008_games_io, WAS_2009_games_io, WAS_2010_games_io, WAS_2011_games_io,
                 WAS_2012_games_io, WAS_2013_games_io, WAS_2014_games_io, WAS_2015_games_io, WAS_2016_games_io, WAS_2017_games_io,
                 WAS_2018_games_io, WAS_2019_games_io, WAS_2020_games_io, WAS_2021_games_io]

In [79]:
WAS_all = pd.concat(WAS_season_dfs)
WAS_all_sorted = WAS_all.sort_values(by=['GAME_SCORE'], ascending=False)
WAS_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-12-17,24-345,WAS,AWAY,LAL,W (+6),1,49:00,17,32,...,8,8,2,0,3,3,60,47.8,10,Gilbert Arenas
0,2021-01-06,27-192,WAS,AWAY,PHI,L (-5),1,38:15,20,35,...,7,5,1,0,4,3,60,45.7,-9,Bradley Beal
0,2006-02-25,24-050,WAS,HOME,NYK,W (+21),1,30:16,13,16,...,1,2,4,0,1,2,46,43.5,20,Gilbert Arenas
0,2019-10-30,26-124,WAS,HOME,HOU,L (-1),1,40:30,14,20,...,6,8,3,0,5,4,46,41.8,8,Bradley Beal
0,2013-03-25,22-200,WAS,HOME,MEM,W (+13),1,44:33,13,22,...,7,8,1,1,2,2,47,41.4,26,John Wall
0,2016-12-06,26-091,WAS,HOME,ORL,L (-8),1,42:18,18,31,...,4,8,3,0,4,3,52,41.3,-1,John Wall
1,2006-11-18,24-316,WAS,HOME,CLE,W (+12),1,39:18,14,22,...,5,6,2,0,1,2,45,41.1,26,Gilbert Arenas
1,2016-11-09,23-159,WAS,HOME,BOS,W (+25),1,38:16,14,19,...,14,4,3,3,0,2,34,40.4,18,Otto Porter
0,2019-02-22,25-239,WAS,AWAY,CHO,L (-13),1,41:58,16,25,...,6,7,0,1,1,4,46,40.1,-4,Bradley Beal
1,2021-05-08,27-314,WAS,AWAY,IND,W (+1),1,39:27,19,31,...,5,1,1,2,1,1,50,39.9,8,Bradley Beal
2,2007-01-15,25-009,WAS,HOME,UTA,W (+3),1,41:19,14,29,...,3,5,1,0,1,3,51,39.5,10,Gilbert Arenas
1,2019-03-16,25-261,WAS,HOME,MEM,W (+7),1,38:35,12,17,...,5,7,2,0,1,2,40,39.1,14,Bradley Beal
1,2019-11-15,26-140,WAS,AWAY,MIN,W (+21),1,36:58,15,22,...,3,10,2,1,5,3,44,38.6,31,Bradley Beal
2,2021-03-29,32-137,WAS,HOME,IND,W (+8),1,39:18,14,26,...,14,21,2,1,4,3,35,38.4,7,Russell Westbrook
2,2020-02-23,26-240,WAS,AWAY,CHI,L (-9),1,39:22,15,27,...,5,4,2,1,7,5,53,38.1,-4,Bradley Beal
1,2006-03-27,24-080,WAS,AWAY,GSW,W (+18),1,43:28,12,22,...,3,10,4,1,4,2,40,37.2,18,Gilbert Arenas
3,2019-11-13,26-138,WAS,AWAY,BOS,L (-7),1,39:00,17,27,...,5,6,1,0,1,0,44,37.2,0,Bradley Beal
2,2018-12-16,28-101,WAS,HOME,LAL,W (+18),1,42:04,16,27,...,6,14,3,2,5,3,40,36.9,25,John Wall
0,2003-02-21,40-004,WAS,HOME,NJN,W (+3),1,43:01,18,30,...,10,3,4,1,1,2,43,36.8,9,Michael Jordan
0,2009-12-18,27-346,WAS,AWAY,GSW,W (+9),1,43:07,15,25,...,3,13,0,1,5,2,45,36.8,17,Gilbert Arenas
3,2007-04-17,30-309,WAS,HOME,ORL,L (-6),1,47:52,14,26,...,9,1,1,0,0,3,48,36.6,-6,Antawn Jamison
3,2019-01-13,25-199,WAS,HOME,TOR,L (-2),1,54:36,17,36,...,10,15,3,2,4,3,43,36.5,4,Bradley Beal
0,2001-03-29,23-043,WAS,HOME,GSW,W (+16),1,45:27,17,25,...,9,8,1,0,4,0,41,36.4,10,Richard Hamilton
0,2004-01-10,24-352,WAS,HOME,PHI,W (+7),1,42:40,17,29,...,5,2,5,1,2,2,43,36.1,12,Larry Hughes
0,2001-12-29,38-315,WAS,HOME,CHH,W (+17),1,38:13,21,38,...,7,4,3,0,4,3,51,35.9,24,Michael Jordan