In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
# from 'https://www.freecodecamp.org/news/connect-python-with-sql/'

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    
    return connection

In [3]:
pw = "Cotuit1429$$"
connection=create_server_connection("localhost","root", pw)

MySQL Database connection successful

## Creating a new Database

In [4]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Datbase created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE school"
create_database(connection, create_database_query)

Datbase created successfully

## Connecting to the database

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user= user_name,
            passwd = user_password,
            database = db_name)
        print("MySQL Datbaase connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    
    return connection