In [91]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import inspect
import numpy as np

In [47]:
#db_connection = create_engine(host='localhost', database='SP500', port = 3306,user='root', password='Boston1429$$')
#df = pd.read_sql('SELECT * FROM contrarian_05_31_2022', con=db_connection)

user = 'root'
password = 'Boston1429$$'
host = 'localhost'
port = 3306
database = 'SP500'

def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

if __name__ == '__main__':
  
    try:
        
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the localhost for user root created successfully.

In [75]:
inspector = inspect(engine)
files = inspector.get_table_names()

files_condensed = [file for file in files if file.startswith('SP500_0')]
files_condensed

['SP500_05_24_2022',
 'SP500_05_25_2022',
 'SP500_05_26_2022',
 'SP500_05_27_2022',
 'SP500_05_31_2022',
 'SP500_06_01_2022',
 'SP500_06_02_2022',
 'SP500_06_03_2022',
 'SP500_06_06_2022',
 'SP500_06_07_2022',
 'SP500_06_08_2022',
 'SP500_06_09_2022',
 'SP500_06_10_2022',
 'SP500_06_13_2022',
 'SP500_06_14_2022',
 'SP500_06_15_2022',
 'SP500_06_16_2022',
 'SP500_06_17_2022',
 'SP500_06_21_2022',
 'SP500_06_22_2022',
 'SP500_06_23_2022',
 'SP500_06_27_2022',
 'SP500_06_28_2022',
 'SP500_07_01_2022',
 'SP500_07_05_2022',
 'SP500_07_06_2022']

In [78]:
user = 'root'
password = 'Boston1429$$'
host = 'localhost'
port = 3306
database = 'SP500'


def sql_create_engine():
    engine = create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database))
    #df = pd.read_sql('SELECT * FROM SP500_06_27_2022',engine)
    #print(f'Got df with {len(df)} entries')
    #return df
    print(f"Connection to the {host} for user {user} created successfully.")

In [102]:
def table_to_df(table):
    df = pd.read_sql(f'SELECT * FROM {table}',engine)
    #df.to_numpy()
    return df
df.columns

Index(['Ticker', 'Day', 'Sector', 'Industry', 'Price', 'Contrarian %',
       'FiftyTwoWeekHigh', 'FiftyTwoWeekLow', 'Low Price', 'Median Price',
       'Mean Price', 'High Price', '# of Ratings', 'Avg Rating',
       'Market Cap $(m)'],
      dtype='object')

In [103]:
sql_create_engine()
result = map(table_to_df,files_condensed)
master_df = pd.DataFrame(result, columns=['Ticker', 'Day', 'Sector', 'Industry', 'Price', 'Contrarian %',
       'FiftyTwoWeekHigh', 'FiftyTwoWeekLow', 'Low Price', 'Median Price',
       'Mean Price', 'High Price', '# of Ratings', 'Avg Rating',
       'Market Cap $(m)'])
master_df

Connection to the localhost for user root created successfully.

/Users/brendan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

ValueError: Shape of passed values is (26, 1), indices imply (26, 15)

In [42]:
file_list = ['contrarian_06_01_2022','contrarian_06_02_2022']
type(file_list)

list

In [45]:
data = []
for i in file_list:
    sql = pd.read_sql(f'SELECT * FROM {i}', con=db_connection)
    #df = pd.DataFrame(sql)
    #data.append(df)
    print(sql)

#df = pd.DataFrame(data)
#type(sql)

    Ticker                  Sector                             Industry  \
0     CSCO              Technology              Communication Equipment
1      TER              Technology  Semiconductor Equipment & Materials
2     QRVO              Technology                       Semiconductors
3      FOX  Communication Services                         Broadcasting
4     SWKS              Technology                       Semiconductors
..     ...                     ...                                  ...
124   CTSH              Technology      Information Technology Services
125     MU              Technology                       Semiconductors
126    CDW              Technology      Information Technology Services
127    CRM              Technology                 Software—Application
128   LRCX              Technology  Semiconductor Equipment & Materials

       Price  Contrarian %  FiftyTwoWeekHigh  FiftyTwoWeekLow Low Price  \
0     45.075     17.425870             64.29            41.02        40
1    107.910     14.421998            168.91            97.63        90
2    110.100     11.498595            201.46            98.23       120
3     31.810     23.849372             40.91            28.96      51.5
4    107.770     10.176947            197.62            97.59       120
..       ...           ...               ...              ...       ...
124   74.180     29.288856             93.47            66.19        80
125   73.550     24.039048             98.45            65.67        83
126  171.210     29.669917            208.71           155.39     204.5
127  176.070     13.689567            311.75           154.55    157.33
128  505.790     21.865063            731.85           442.53       520

    Median Price Mean Price High Price  # of Ratings Avg Rating  \
0             52      54.28         73          24.0        2.5
1          136.5      135.1        163          20.0        2.2
2            135     149.86        235          22.0        2.5
3           51.5       51.5       51.5           1.0       None
4            150        151        226          25.0        2.5
..           ...        ...        ...           ...        ...
124           93      92.61        103          23.0        2.4
125        111.5     111.82        165          32.0        1.9
126          220     222.06        250           8.0        1.9
127          257     264.99        385          47.0        1.8
128          625     647.01        840          23.0        2.1

     Market Cap $(m)
0      186757.283840
1       17233.037312
2       11684.174848
3       18582.245376
4       17326.901248
..               ...
124     38660.689920
125     82131.075072
126     23133.210624
127    174998.978560
128     70160.662528

[129 rows x 14 columns]
    Ticker                  Sector                             Industry  \
0     CSCO              Technology              Communication Equipment
1      TER              Technology  Semiconductor Equipment & Materials
2     QRVO              Technology                       Semiconductors
3      FOX  Communication Services                        Entertainment
4     SWKS              Technology                       Semiconductors
..     ...                     ...                                  ...
107   NTAP              Technology                    Computer Hardware
108   KEYS              Technology   Scientific & Technical Instruments
109     MU              Technology                       Semiconductors
110    CRM              Technology                 Software—Application
111   LRCX              Technology  Semiconductor Equipment & Materials

       Price  Contrarian %  FiftyTwoWeekHigh  FiftyTwoWeekLow Low Price  \
0     45.125     17.640739             64.29            41.02        40
1    108.710     15.544332            168.91            97.63        90
2    110.765     12.142788            201.46            98.23       120
3     31.880     24.435146             40.91            28.96      51.5
4    109.090     11.496551            197.62            97.59       120
..       ...           ...               ...              ...       ...
107   72.900     25.806452             96.82            64.58        74
108  148.780     25.693161            209.08           127.93       176
109   75.370     29.591214             98.45            65.67        83
110  188.400     21.533079            311.75           154.55       219
111  523.300     27.917185            731.85           442.53       520

    Median Price Mean Price High Price  # of Ratings Avg Rating  \
0             52      54.04         73          24.0        2.5
1            132     132.16        158          19.0        2.2
2            135     145.82        235          22.0        2.5
3           51.5       51.5       51.5           1.0       None
4            150        151        226          25.0        2.5
..           ...        ...        ...           ...        ...
107           96      97.95        124          19.0        2.5
108          195     198.69        230          13.0          2
109        111.5     111.82        165          32.0        1.9
110        297.5     289.83        385          46.0        1.8
111          625     648.27        840          23.0        2.1

     Market Cap $(m)
0      186301.792256
1       17410.863104
2       11680.994304
3       18442.223616
4       17466.908672
..               ...
107     16204.066816
108     27232.989184
109     84427.210752
110    185573.998592
111     73680.117760

[112 rows x 14 columns]

/Users/brendan/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/brendan/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [32]:
df

                                                   0
0      Ticker                  Sector            ...
1      Ticker                  Sector            ...