In [91]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import inspect
import numpy as np

In [47]:
#db_connection = create_engine(host='localhost', database='SP500', port = 3306,user='root', password='Boston1429$$')
#df = pd.read_sql('SELECT * FROM contrarian_05_31_2022', con=db_connection)

user = 'root'
password = 'Boston1429$$'
host = 'localhost'
port = 3306
database = 'SP500'

def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )

if __name__ == '__main__':
  
    try:
        
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the localhost for user root created successfully.

In [75]:
inspector = inspect(engine)
files = inspector.get_table_names()

files_condensed = [file for file in files if file.startswith('SP500_0')]
files_condensed

['SP500_05_24_2022',
 'SP500_05_25_2022',
 'SP500_05_26_2022',
 'SP500_05_27_2022',
 'SP500_05_31_2022',
 'SP500_06_01_2022',
 'SP500_06_02_2022',
 'SP500_06_03_2022',
 'SP500_06_06_2022',
 'SP500_06_07_2022',
 'SP500_06_08_2022',
 'SP500_06_09_2022',
 'SP500_06_10_2022',
 'SP500_06_13_2022',
 'SP500_06_14_2022',
 'SP500_06_15_2022',
 'SP500_06_16_2022',
 'SP500_06_17_2022',
 'SP500_06_21_2022',
 'SP500_06_22_2022',
 'SP500_06_23_2022',
 'SP500_06_27_2022',
 'SP500_06_28_2022',
 'SP500_07_01_2022',
 'SP500_07_05_2022',
 'SP500_07_06_2022']

In [123]:
user = 'root'
password = 'Boston1429$$'
host = 'localhost'
port = 3306
database = 'SP500'


def sql_create_engine():
    engine = create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database))
    #df = pd.read_sql('SELECT * FROM SP500_06_27_2022',engine)
    #print(f'Got df with {len(df)} entries')
    #return df
    print(f"Connection to the {host} for user {user} created successfully.")

In [126]:
def table_to_df():
    df = pd.read_sql('SELECT * FROM june_2022',engine)
    #df.to_numpy()
    return df
table_to_df()

,Date,symbol,marketCap,enterpriseValue,currentPrice,fiftyTwoWeekHigh,fiftyTwoWeekLow,earningsGrowth,enterpriseToRevenue,enterpriseToEbitda,forwardEps,trailingEps,priceToSalesTrailing12Months,forwardPE,dividendYield
0,06/01/2022 10:52:14,CSCO,1.867573e+11,179299778560,45.100,64.290000,41.02000,0.076,3.476,11.157,3.55,2.850,3.620660,12.704226,0.0333
1,06/01/2022 10:52:14,TER,1.723304e+10,16597494784,107.570,168.910000,97.63000,-0.156,4.514,12.857,6.61,5.384,4.687164,16.273827,0.0040
2,06/01/2022 10:52:14,V,4.453310e+11,452458414080,210.440,252.670000,186.67000,0.234,16.797,23.790,8.37,6.358,16.532316,25.142176,0.0071
3,06/01/2022 10:52:14,QRVO,1.168417e+10,12999855104,110.200,201.460000,98.23000,-0.247,2.798,7.826,12.73,9.260,2.515044,8.656716,NaN
4,06/01/2022 10:52:14,FOX,1.858225e+10,21464272896,31.850,40.910000,28.96000,-0.479,1.552,7.396,2.35,1.999,1.343522,13.553192,0.0147
5,06/01/2022 10:52:14,FLT,1.889668e+10,24296181760,244.330,282.020000,200.78000,0.279,8.060,15.777,17.71,10.594,6.268898,13.796162,NaN
6,06/01/2022 10:52:14,SWKS,1.732690e+10,19124879360,107.670,197.620000,97.59000,-0.046,3.627,9.215,12.29,8.239,3.285779,8.760781,0.0206
7,06/01/2022 10:52:14,ENPH,2.510441e+10,25382918144,185.920,282.460000,113.40000,0.703,16.682,97.905,4.26,1.174,16.498830,43.643190,NaN
8,06/01/2022 10:52:14,MCHP,3.970782e+10,47815221248,71.610,90.000000,63.34000,2.712,7.010,15.819,5.73,2.270,5.821492,12.497382,0.0152
9,06/01/2022 10:52:14,CDNS,4.261304e+10,42297626624,154.530,192.700000,122.04000,0.269,13.411,40.897,4.43,2.679,13.510870,34.882618,NaN
10,06/01/2022 10:52:14,CHTR,9.547937e+10,182042394624,498.605,825.620000,410.33000,0.681,3.477,8.769,35.97,27.446,1.823517,13.861690,NaN
11,06/01/2022 10:52:14,T,1.514844e+11,368899096576,21.160,22.386707,16.63142,-0.364,2.263,7.025,2.54,2.377,0.929181,8.330709,0.0521
12,06/01/2022 10:52:14,DISH,1.177649e+10,32464887808,22.220,46.310000,17.04000,-0.313,1.833,9.019,1.61,3.480,0.664817,13.801242,NaN
13,06/01/2022 10:52:14,APH,4.158170e+10,46304190464,69.635,88.450000,65.84000,0.283,4.044,17.127,3.05,2.694,3.631241,22.831148,0.0112
14,06/01/2022 10:52:14,MSI,3.687095e+10,42016841728,217.160,273.650000,199.24000,0.092,5.068,16.942,11.08,7.300,4.447641,19.599277,0.0144
15,06/01/2022 10:52:14,GPN,3.608217e+10,47436050432,128.160,197.750000,114.80000,0.314,5.459,13.514,11.12,3.503,4.152144,11.525180,0.0076
16,06/01/2022 10:52:14,WBD,4.356178e+10,23929645056,17.950,32.570000,16.51000,2.267,1.906,6.217,1.77,1.806,3.468847,10.141244,NaN
17,06/01/2022 10:52:14,DXC,7.889393e+09,11943678976,34.200,44.180000,27.28000,NaN,0.734,3.898,4.95,2.810,0.485053,6.909091,NaN
18,06/01/2022 10:52:14,PARA,2.136932e+10,35970621440,32.770,47.460000,26.11000,-0.552,1.262,9.796,2.08,6.143,0.749748,15.754808,0.0280
19,06/01/2022 10:52:14,ADI,8.650092e+10,91608981504,166.410,191.950000,143.81000,0.307,9.391,21.450,10.06,3.419,8.867544,16.541750,0.0181
20,06/01/2022 10:52:14,ADBE,2.010086e+11,202297950208,425.415,699.540000,370.27000,0.019,12.532,31.023,16.10,10.068,12.452521,26.423292,NaN
21,06/01/2022 10:52:14,NOW,9.669188e+10,93668663296,482.350,707.600000,406.47000,-0.098,14.968,131.189,9.36,1.090,15.450924,51.533123,NaN
22,06/01/2022 10:52:14,NWS,1.020996e+10,13366337536,17.550,25.690000,16.57000,0.071,1.310,10.065,NaN,0.840,1.000682,NaN,0.0114
23,06/01/2022 10:52:14,ZBRA,1.779535e+10,18872651776,338.870,615.000000,309.00000,-0.092,3.304,16.425,21.96,15.129,3.115432,15.431239,NaN
24,06/01/2022 10:52:14,BR,1.695454e+10,21383999488,144.630,185.400000,132.68000,0.064,3.875,18.454,7.06,4.663,3.072700,20.485836,0.0174
25,06/01/2022 10:52:14,STX,1.826174e+10,22638839808,85.000,117.670000,76.28000,0.122,1.879,8.920,9.20,8.148,1.516000,9.239131,0.0331
26,06/01/2022 10:52:14,IPG,1.249063e+10,15122196480,31.680,39.980000,27.67000,0.739,1.625,8.680,2.88,2.558,1.342011,11.000000,0.0360
27,06/01/2022 10:52:14,CDAY,8.402343e+09,9505403904,55.045,130.370000,48.93000,NaN,8.777,1234.468,0.83,-0.553,7.758396,66.319275,NaN
28,06/01/2022 10:52:14,ORCL,1.941883e+11,247402856448,71.920,106.340000,66.72000,-0.500,5.915,13.447,5.26,2.664,4.642654,13.673003,0.0178
29,06/01/2022 10:52:14,INTU,1.179900e+11,120350646272,418.290,716.860000,339.36000,0.185,9.349,32.713,13.87,8.870,9.165695,30.157896,0.0064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2927,06/23/2022 16:58:17,OMC,1.330194e+10,19207329792,62.580,91.610000,61.66950,-0.376,1.346,8.254,6.41,6.420,0.931979,9.762871,0.0364
2928,06/23/2022 16:58:17,AKAM,1.492704e+10,19784464384,91.870,123.250000,86.99000,0.424,5.716,16.575,5.94,3.641,4.312649,15.466331,NaN
2929,06/23/2022 16:58:17,GOOGL,1.490127e+12,1397453881344,2244.840,3030.930000,2037.69000,-0.063,5.169,14.581,112.42,103.805,5.512171,19.968334,NaN
2930,06/23/2022 16:58:17,ANET,2.930413e+10,32227203072,95.360,148.570000,85.18000,0.284,10.932,33.051,3.44,2.463,9.940217,27.720930,NaN
2931,06/23/2022 16:58:17,PAYX,4.232040e+10,45283831808,117.310,141.920000,103.34000,0.227,10.071,22.757,3.87,3.520,9.411644,30.312662,0.0264
2932,06/23/2022 16:58:17,FOXA,1.766877e+10,24571428864,32.070,44.950000,31.32500,NaN,1.808,8.218,3.56,2.958,1.300035,9.008427,0.0143
2933,06/23/2022 16:58:17,FFIV,9.399325e+09,9871137792,153.510,249.000000,147.47000,0.314,3.718,18.315,13.18,5.340,3.540454,11.647192,NaN
2934,06/23/2022 16:58:17,SNPS,4.745070e+10,43219197952,309.250,377.600000,255.02000,0.932,9.595,37.855,9.02,4.810,10.534939,34.284920,NaN
2935,06/23/2022 16:58:17,GOOG,1.495826e+12,1408740491264,2253.690,3042.000000,2044.16000,-0.063,5.211,14.699,112.30,103.805,5.533251,20.068476,NaN
2936,06/23/2022 16:58:17,EPAM,1.858815e+10,13873497088,327.720,725.400000,168.59000,0.644,3.692,22.084,11.17,7.211,4.946098,29.339302,NaN
2937,06/23/2022 16:58:17,LYV,1.840864e+10,26995554304,81.940,127.750000,74.23000,NaN,4.307,-2834.476,0.82,-4.165,2.936715,99.926834,NaN
2938,06/23/2022 16:58:17,AVGO,2.050250e+11,255658999808,496.580,677.760000,455.71000,0.833,8.970,16.300,36.05,15.000,7.193605,13.774757,0.0279
2939,06/23/2022 16:58:17,VZ,2.186613e+11,376384487424,52.090,56.850000,45.55000,-0.139,2.803,8.344,5.40,5.320,1.628156,9.646297,0.0531
2940,06/23/2022 16:58:17,TEL,3.771852e+10,43690319872,115.590,166.440000,112.01000,0.130,2.821,11.941,7.91,6.788,2.435338,14.613148,0.0179
2941,06/23/2022 16:58:17,JKHY,1.316005e+10,14073831424,177.740,205.370000,147.50000,0.383,7.542,28.146,5.15,4.302,7.052484,34.512623,0.0112
2942,06/23/2022 16:58:17,ADP,8.873504e+10,92940173312,210.580,248.960000,192.26000,0.163,5.770,22.021,7.47,6.320,5.508892,28.190094,0.0199
2943,06/23/2022 16:58:17,TRMB,1.491741e+10,17879977984,59.430,96.490000,55.65000,-0.361,4.886,23.125,2.96,2.197,4.076797,20.077703,NaN
2944,06/23/2022 16:58:17,QCOM,1.345008e+11,160586792960,120.090,193.580000,118.22500,0.680,4.090,11.087,11.64,7.870,3.425550,10.317010,0.0222
2945,06/23/2022 16:58:17,MA,3.112348e+11,360853635072,316.760,399.920000,303.65000,0.464,18.137,30.555,10.53,8.130,15.643082,30.081673,0.0059
2946,06/23/2022 16:58:17,NWSA,9.052941e+09,13889631232,15.240,26.420000,14.95000,0.018,1.383,10.954,1.03,0.830,0.901149,14.796117,0.0112
2947,06/23/2022 16:58:17,TTWO,1.499477e+10,10856370176,130.050,195.830000,101.85000,-0.210,3.180,12.955,6.70,4.836,4.391848,19.410448,NaN
2948,06/23/2022 16:58:17,AAPL,2.268513e+12,2623592988672,138.270,182.940000,129.04000,0.086,6.797,20.084,6.18,5.610,5.876718,22.373787,0.0063
2949,06/23/2022 16:58:17,TMUS,1.697959e+11,264606859264,135.940,150.200000,101.51000,-0.230,3.288,10.002,3.24,2.660,2.109816,41.956790,NaN
2950,06/23/2022 16:58:17,NTAP,1.441473e+10,15044795392,64.850,96.820000,62.78000,0.375,2.429,11.038,5.51,4.113,2.327584,11.769509,0.0281
2951,06/23/2022 16:58:17,KEYS,2.506211e+10,25562640384,136.920,209.080000,127.93000,0.348,5.101,17.989,7.48,4.780,5.001419,18.304813,NaN
2952,06/23/2022 16:58:17,CTSH,3.580162e+10,41370865664,67.380,93.470000,65.24000,0.853,2.235,12.357,4.52,3.545,1.934491,14.907079,0.0147
2953,06/23/2022 16:58:17,MU,6.297596e+10,73692512256,56.220,98.450000,53.60000,2.774,2.364,4.318,11.51,6.461,2.020468,4.884449,0.0056
2954,06/23/2022 16:58:17,CDW,2.146052e+10,29284814848,158.120,208.710000,154.13000,-0.050,1.407,17.594,9.11,7.116,1.030725,17.356750,0.0118
2955,06/23/2022 16:58:17,CRM,1.704543e+11,178013601792,173.050,311.750000,154.55000,NaN,6.720,58.098,4.71,1.818,6.434178,36.740980,NaN
2956,06/23/2022 16:58:17,LRCX,5.971004e+10,65261465600,424.080,731.850000,411.39000,-0.015,3.899,11.775,36.65,29.588,3.567619,11.571077,0.0122

In [ ]:
sql_create_engine()
result = map(table_to_df,files_condensed)
master_df = pd.DataFrame(result, columns=['Ticker', 'Day', 'Sector', 'Industry', 'Price', 'Contrarian %',
       'FiftyTwoWeekHigh', 'FiftyTwoWeekLow', 'Low Price', 'Median Price',
       'Mean Price', 'High Price', '# of Ratings', 'Avg Rating',
       'Market Cap $(m)'])
master_df

In [116]:
table_list = files_condensed
df_dict = {}
df_3 = pd.DataFrame()
for c in table_list:
    df_dict[c] = pd.read_sql_query(f"SELECT * FROM {c}", engine)
    df_3.append(df_dict, 
                #ignore_index=True
               )
df = pd.DataFrame([df_dict])


df_3

<ipython-input-116-91ccb6904cbd>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_3.append(df_dict,

TypeError: Can only append a dict if ignore_index=True

In [42]:
file_list = ['contrarian_06_01_2022','contrarian_06_02_2022']
type(file_list)

list

In [45]:
data = []
for i in file_list:
    sql = pd.read_sql(f'SELECT * FROM {i}', con=db_connection)
    #df = pd.DataFrame(sql)
    #data.append(df)
    print(sql)

#df = pd.DataFrame(data)
#type(sql)

    Ticker                  Sector                             Industry  \
0     CSCO              Technology              Communication Equipment
1      TER              Technology  Semiconductor Equipment & Materials
2     QRVO              Technology                       Semiconductors
3      FOX  Communication Services                         Broadcasting
4     SWKS              Technology                       Semiconductors
..     ...                     ...                                  ...
124   CTSH              Technology      Information Technology Services
125     MU              Technology                       Semiconductors
126    CDW              Technology      Information Technology Services
127    CRM              Technology                 Software—Application
128   LRCX              Technology  Semiconductor Equipment & Materials

       Price  Contrarian %  FiftyTwoWeekHigh  FiftyTwoWeekLow Low Price  \
0     45.075     17.425870             64.29            41.02        40
1    107.910     14.421998            168.91            97.63        90
2    110.100     11.498595            201.46            98.23       120
3     31.810     23.849372             40.91            28.96      51.5
4    107.770     10.176947            197.62            97.59       120
..       ...           ...               ...              ...       ...
124   74.180     29.288856             93.47            66.19        80
125   73.550     24.039048             98.45            65.67        83
126  171.210     29.669917            208.71           155.39     204.5
127  176.070     13.689567            311.75           154.55    157.33
128  505.790     21.865063            731.85           442.53       520

    Median Price Mean Price High Price  # of Ratings Avg Rating  \
0             52      54.28         73          24.0        2.5
1          136.5      135.1        163          20.0        2.2
2            135     149.86        235          22.0        2.5
3           51.5       51.5       51.5           1.0       None
4            150        151        226          25.0        2.5
..           ...        ...        ...           ...        ...
124           93      92.61        103          23.0        2.4
125        111.5     111.82        165          32.0        1.9
126          220     222.06        250           8.0        1.9
127          257     264.99        385          47.0        1.8
128          625     647.01        840          23.0        2.1

     Market Cap $(m)
0      186757.283840
1       17233.037312
2       11684.174848
3       18582.245376
4       17326.901248
..               ...
124     38660.689920
125     82131.075072
126     23133.210624
127    174998.978560
128     70160.662528

[129 rows x 14 columns]
    Ticker                  Sector                             Industry  \
0     CSCO              Technology              Communication Equipment
1      TER              Technology  Semiconductor Equipment & Materials
2     QRVO              Technology                       Semiconductors
3      FOX  Communication Services                        Entertainment
4     SWKS              Technology                       Semiconductors
..     ...                     ...                                  ...
107   NTAP              Technology                    Computer Hardware
108   KEYS              Technology   Scientific & Technical Instruments
109     MU              Technology                       Semiconductors
110    CRM              Technology                 Software—Application
111   LRCX              Technology  Semiconductor Equipment & Materials

       Price  Contrarian %  FiftyTwoWeekHigh  FiftyTwoWeekLow Low Price  \
0     45.125     17.640739             64.29            41.02        40
1    108.710     15.544332            168.91            97.63        90
2    110.765     12.142788            201.46            98.23       120
3     31.880     24.435146             40.91            28.96      51.5
4    109.090     11.496551            197.62            97.59       120
..       ...           ...               ...              ...       ...
107   72.900     25.806452             96.82            64.58        74
108  148.780     25.693161            209.08           127.93       176
109   75.370     29.591214             98.45            65.67        83
110  188.400     21.533079            311.75           154.55       219
111  523.300     27.917185            731.85           442.53       520

    Median Price Mean Price High Price  # of Ratings Avg Rating  \
0             52      54.04         73          24.0        2.5
1            132     132.16        158          19.0        2.2
2            135     145.82        235          22.0        2.5
3           51.5       51.5       51.5           1.0       None
4            150        151        226          25.0        2.5
..           ...        ...        ...           ...        ...
107           96      97.95        124          19.0        2.5
108          195     198.69        230          13.0          2
109        111.5     111.82        165          32.0        1.9
110        297.5     289.83        385          46.0        1.8
111          625     648.27        840          23.0        2.1

     Market Cap $(m)
0      186301.792256
1       17410.863104
2       11680.994304
3       18442.223616
4       17466.908672
..               ...
107     16204.066816
108     27232.989184
109     84427.210752
110    185573.998592
111     73680.117760

[112 rows x 14 columns]

/Users/brendan/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/brendan/opt/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [32]:
df

                                                   0
0      Ticker                  Sector            ...
1      Ticker                  Sector            ...